.navbar-fixed-top {
    top: -26px !important;
    padding-bottom: 0px !important;
}
 a {
    text-decoration: none !important;
} 
 .nav-tabs-intel-blocks {
    padding-left: 0px !important;
} 

.nav-tabs-intel-blocks li a { 
    padding: 5px 10px 5px 5px;
}
 .mainMenu{
    background-color:#0071c5 !important ;
}
.k-grid-header .headerClass {
    background-color:#e7e7e8;
    color:#1a3e6f;
    font-size: 14px !important;
    font-weight: bold;
}
.k-grid-toolbar {
background-color: #0071c5;
}

/* .nav-tabs-intel-blocks{
    border: solid red !important;
    font-size: 14px !important;
    margin: 0px !important;
    padding: 0px !important;
} */
/* .globSearch{
    border: solid magenta !important;
    height: 25px !important;
}
.btn-group{
    height: 25px !important;
}
.globalSearchInpt{
    height: 25px !important;
}
.container-fluid{
    margin-top: -6px !important;
} */
/* .menu-bar {
    padding: 0 6px 6px 6px !important;
}

.nav-tabs-intel-blocks li a{
    border: solid magenta !important;
    width: auto !important;

    font-size: 14px !important;
    margin: 0px !important;
    padding: 0px !important;
}
 .globalSearchInpt {
    width: 320px !important;
    font-size: 14px !important;
    padding: auto !important;
    height:auto !important
} 

.ng-isolate-scope{
    border: solid green !important;
}   */