kendo-grid {
    height: 480px;
}

.k-grid td {
    font-family: 'Intel Clear', 'Arial';
    font-size: 14px;
}

label {
    font-family: 'Intel Clear', 'Arial';
    font-weight: normal;
}

.k-icon-sm {
    font-size: 18px;
}

.k-grid tbody tr:hover {
    background-color: #ecf8fb!important;
}

.k-button-primary,
.k-button.k-primary {
    border-color: #0071c5;
    background-color: #0071c5;
}

.k-button-primary:hover,
.k-button.k-primary:hover {
    background-color: #1187cd!important;
}


/*Toggle button styling*/

.mat-slide-toggle {
    transform: scale(1.4);
}

.mat-slide-toggle-thumb {
    background-color: #b1babf;
    border-color: #b1babf;
}

.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
    background-color: #00aeef;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar::after {
    content: 'ON' !important;
    font-size: 45% !important;
    font-weight: 700 !important;
    color: #fff !important;
    position: absolute !important;
    left: 4px !important;
    top: -5px !important;
}

.mat-slide-toggle:not(.mat-checked) .mat-slide-toggle-bar::after {
    content: 'OFF' !important;
    font-size: 45% !important;
    font-weight: 700 !important;
    color: #fff !important;
    position: absolute !important;
    left: 21px !important;
    top: -5px !important;
}

.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar {
    background-color: #0071c5;
}

.mat-slide-toggle.mat-disabled .mat-slide-toggle-label,
.mat-slide-toggle.mat-disabled .mat-slide-toggle-thumb-container {
    cursor: not-allowed;
}


/*columnMenu filter styling*/

.k-columnmenu-item {
    display: block;
    padding: 1.071em;
    line-height: 1.34em;
}

.k-columnmenu-item:hover,
.k-column-list-item:hover {
    color: #fff;
    background-color: #00aeef;
    border-color: #00aeef;
    background-image: none, linear-gradient(to bottom, #1891ee 0, #1891ee 100%);
}

.k-columnmenu-item:focus {
    box-shadow: none;
}

.k-grid-columnmenu-popup.k-popup {
    padding: 0px;
}


/*to align filter content left*/


/*.k-columnmenu-item-content {
    left: 230px;
    top: 105px;
    position: absolute;
    background-color: #fff;
}*/


/*Scroll styling*/

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background-color: #e8eaec;
}

*::-webkit-scrollbar-thumb {
    background-color: #00aeef !important;
    border-radius: 5px;
}


/*Pagination styling*/

.k-pager-numbers .k-link.k-state-selected {
    border-color: #0071c5;
    color: #fff !important;
    background-color: #0071c5 !important;
}

.k-pager-numbers .k-link,
.k-pager-nav.k-link,
.k-pager-refresh {
    color: #0071c5 !important;
}

.k-pager-numbers .k-link:focus,
.k-pager-numbers .k-link.k-state-focus {
    box-shadow: none;
}

.k-list>.k-state-selected.k-state-focused {
    background-color: #0071c5 !important;
}

.k-icon:hover,
.k-icon:focus {
    color: #00aeef;
}

.k-pager-nav:hover {
    background-color: #ecf8fb !important;
}


/*Toggle styling*/

.k-header-alignment {
    padding-top: 50px;
    padding-left: 35px !important;
}

.k-column-title {
    overflow: visible !important;
    white-space: normal !important;
}

.k-command-icon {
    background-color: unset !important;
    color: #424141 !important;
    border: none !important;
}

.kendo-dialog-message {
    margin: 30px;
    text-align: center;
}

.navbar-fixed-top {
    top: -26px !important;
    padding-bottom: 0px !important;
}

a {
    text-decoration: none !important;
}

.nav-tabs-intel-blocks {
    padding-left: 0px !important;
}

.nav-tabs-intel-blocks li a {
    padding: 5px 10px 5px 5px;
}

.mainMenu {
    background-color: #0071c5 !important;
}

.k-grid-header .headerClass {
    background-color: #e7e7e8;
    color: #1a3e6f;
    font-size: 12px !important;
    font-weight: 600;
}

.k-grid .k-alt {
    background-color: rgb(140 138 138 / 4%) !important;
}

.k-grid-header {
    padding: 0px !important;
}

.k-grid-toolbar {
    background-color: #0071c5;
}


/*Kendo-header changes*/

.navbar-brand {
    float: left !important;
    padding: 14px 15px !important;
    font-size: 19px !important;
    line-height: 22px !important;
    height: 50px !important;
}

.nav,
.nav-tabs-intel-blocks {
    background-color: #0071C5 !important;
    font-size: 14px !important;
    border-bottom: none !important;
    margin: 0 !important;
}

.nav-tabs-intel-blocks.nav .btn {
    font-size: 14px !important;
}

.navbar-default .search {
    color: #0071C5;
}

.globalSearchInpt {
    width: 320px !important;
    font-size: 14px !important;
    padding: 4px 5px 5px 5px !important;
    height: 25px !important;
}

.globSearch {
    border: solid magenta !important;
    height: 25px !important;
}

.btn-group {
    height: 25px !important;
}

.container-fluid {
    margin-top: -6px !important;
    padding-right: 1px !important;
}

.alert {
    padding: 5px !important;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: #367fa9 !important;
}

.btn-primary:hover,
.btn-primary:focus {
    border-color: #00aeef !important;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

.menu-bar {
    width: 100%;
}

.fr {
    margin-left: auto;
    height: max-content;
}

.btn-primary {
    background-color: #3c8dbc !important;
    border-color: #367fa9 !important;
}

.btn {
    border-radius: 3px !important;
    box-shadow: none !important;
    border: 1px solid transparent !important;
}

.nav-tabs-intel-blocks.nav li a {
    background-color: #0071C5 !important;
    color: #ffffff !important;
    border-right: 0 solid transparent !important;
    padding: 5px 10px !important;
}

.nav-tabs-intel-blocks.nav li a:hover {
    border-color: #0071C5 !important;
}

.nav.nav-tabs-intel-blocks li ul li a {
    background-color: transparent !important;
    color: #111 !important;
    padding: 5px 20px !important;
}

.nav-tabs-intel-blocks.nav .dropdown-search li a {
    background-color: #fff !important;
    color: #0071C5 !important;
}

.dropdown-menu {
    min-width: 200px !important;
}

.nav-tabs-intel-blocks.nav .dropdown-search li a:hover {
    background-color: #1a3e6f !important;
    color: #fff !important;
}

.btn-default {
    background-color: #f4f4f4 !important;
    color: #444 !important;
    border-color: #ddd !important;
}

body {
    font-family: "Intel Clear", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    line-height: 1.55 !important;
}

.menu-bar {
    padding-left: 15.5px;
}

.nav-tabs-intel-blocks.nav i {
    font-size: 16px !important;
}

.kendo-grid-buttons {
    position: relative !important;
    padding-left: 35px !important;
    padding-right: 25px !important;
    padding-top: 10px !important;
    width: 99% !important;
}

.k-button {
    color: #fff;
    background-color: #0071c5;
    border-color: #0071c5;
    box-shadow: none;
    font-size: 18px;
}

.k-button:hover {
    background-color: #1187cb;
    border: none;
}

.dropdown-toggle::after {
    content: none !important;
}