<script src="~/Client/src/dist/sdm.js" async></script>
@{ ViewBag.Title = "RPD"; }
<div class="loading-screen">
    <div class="jumbotron ng-scope">
        <div class="container">
            <h1><strong>My Deals</strong></h1>
            <p class="lead">Retail Pull Dollar</p>
            <br />
            <p class="load-text">Retail Pull Dollar screen is loading please wait....</p>
            <img src="/images/loading022.gif" />
        </div>
    </div>
</div>