@import '../../../admin/kendo_grid.css';

.mat-dialog-container {
    overflow: initial;
}

.endCustomerRowStyle {
    padding-left: 5px;
    padding-bottom: 15px;
    text-align: center
}

.colStyle {
    text-align: center;
    padding-left: 0;
    width: 90px !important;
    white-space: nowrap;
}

.rplColStyle {
    text-align: left;
    padding-left: 3px;
    width: 100px !important;
    white-space: nowrap
}

.rightZeroPadding {
    padding-right: 0
}

.leftZeroPadding {
    padding-left: 0
}

.biggerWidth {
    width: 350px !important
}

.bigWidth {
    width: 300px !important
}

.mediumWidth {
    width: 280px !important
}

.smallWidth {
    width: 270px !important
}

.textCenterAlign {
    text-align: center
}

.textRightAlign {
    text-align: right
}

.textLeftAlign {
    text-align: left
}

.leftMargin {
    margin-left: 30px
}

.modal-body .opUiElement {
    width: 100%
}

.modal-body {
    max-height: 500px;
    overflow: auto;
    padding: 0 !important
}

.modal-dialog {
    width: 1000px !important
}

.filterRow {
    margin-bottom: 7px
}

#endCustomermodalBody .icnBtn {
    border-radius: 4px;
    width: 24px;
    padding: 2px 5px;
    margin: 2px 12px 2px 0;
    cursor: pointer
}

#endCustomermodalBody .icnBtn i {
    color: #ffffff
}

#endCustomermodalBody .icnSkyBtn {
    background-color: #00aeef
}

#endCustomermodalBody .icnSkyBtn:hover {
    background-color: #0071c5
}

#endCustomermodalBody .icnGryBtn {
    background-color: #bbbbbb
}

#endCustomermodalBody .icnGryBtn:hover {
    background-color: #cccccc
}

#endCustomermodalBody .icnGreenBtn {
    background-color: #008000
}

#endCustomermodalBody .icnRedBtn {
    background-color: #ff0000
}

#endCustomermodalBody .icnSky {
    cursor: pointer;
    color: #00aeef;
    margin-left: 8px
}

.buttonMinPadding {
    padding-left: 100px !important
}

.buttonMaxPadding {
    padding-left: 150px !important
}

.ss-loading-panel {
    margin-top: 15%;
    margin-left: 37%
}

.appro-label {
    font-weight: bold !important;
    display: inline-block !important;
    font-size: 15px
}

.comboBoxStyleIfAny {
    width: 270px !important;
}

.ctryComboBoxStyleIfAny {
    width: 250px !important;
}

.comboBoxStyleIfNotAny {
    width: 300px !important;
}

.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
    background-color: #edeff0 !important;
    color: #b1babf !important;
    border-color: #b1babf !important
}

.floatRight {
    float: right
}

#EndCustomerLoading .ss-loading-overlay {
    background: transparent !important
}

#endCustomerWarning .k-button,
#endCustomerWarning .k-button:hover {
    color: #444 !important;
    border-color: #fafafa;
    background-color: #cccccc !important
}

#endCustomerWarning .k-button:hover {
    color: #444 !important;
    border-color: #fafafa;
    background-color: #fafafa !important
}

#endCustomermodalBody {
    padding: 15px !important
}

#endCustomerModalHeader {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.5px;
    line-height: 1.5
}

.endCustomerBoxStyle .k-dropdown-wrap {
    border-color: #f0f0f0 !important;
    font-size: 14px !important
}

.endCustomerBoxStyle .k-select {
    width: 2.571em !important;
    border-color: #f0f0f0 !important;
    background: #fafafa !important
}

.endCustomerBoxStyle span.k-icon.k-i-arrow-s {
    color: #727578 !important
}

.endCustomerBoxStyle .k-dropdown-wrap:hover {
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%), 0 2px 3px rgb(0 0 0 / 5%) !important
}

button.btn.btn-warning.btn-styCancel {
    background-color: #f39c12 !important;
    border-color: #e08e0b !important;
    color: #0071c5 !important
}

button.btn.btn-warning.btn-styCancel:hover {
    background-color: #e08e0b !important
}

#endCustomerWarning .k-button.noRemoveWarning {
    color: #444 !important;
    border-color: #fafafa !important;
    background-color: #fafafa !important
}

#endCustomerWarning .k-button.noRemoveWarning:hover {
    color: #444 !important;
    border-color: #ebebeb !important;
    background-color: #ebebeb !important
}

#endCustomerWarning kendo-dialog-actions.k-dialog-buttongroup.k-actions.k-actions-stretched {
    padding: 0 !important
}

button.btn.endCusbtn-style[disabled] {
    cursor: not-allowed !important;
    pointer-events: all !important;
    background-color: #edeff0 !important;
    color: #b1babf !important;
    border-color: #b1babf !important
}

.missingcostdivheader {
    background-color: #0071c5;
    color: white;
    padding: 10px 5px 0 0 !important
}

.missingcostdivtitle {
    width: 50%;
    font-size: larger
}

.missingcosticon {
    font-size: 25px
}

.missingcostlabel {
    padding-top: 7px;
    font-size: larger
}

.myLoader {
    min-height: 200px;
    width: 320px;
    position: absolute;
    left: 22% !important;
    top: 30% !important;
}

.modal-body kendo-grid {
    width: -webkit-fill-available;
}