.modalBlueBody {
    background-color: #003C71;
    color: #ffffff;
}

.modalBlueBody .lbl {
    width: 100px;
    margin-left: 10px;
}
.modalBlueBody input {
    font-size: 12px;
    padding: 0 6px;
}

.modalBlueBody div.fl {
    margin-top: 5px;
}
.btn-skyblue{
    background-color: #00AEEF !important;
    color: #ffffff !important;  
}
.btn-skyblue:hover {
    background-color: #00AEEF !important;
    color: #ffffff !important;
}
.smTxt {
    font-size: 10px;
    line-height: 1em;
}
.tmpltItem {
    width: 100%;
}
.tmpltIcn {
    width: 35px;
}
.tmpltIcn i {
    font-size: 26px;
}
.tmpltRole {
    font-size: 12px;
}
.tmpltPrimary {
    font-size: 14px;
    line-height: 1.1em;
}
.tmpltSecondary {
    font-size: 12px;
    line-height: 1.1em;
    opacity: 0.6;
}
kendo-editor .k-editor-content {
    z-index: 1;
    height: 220px;
}

kendo-toolbar-renderer {
    border-color: inherit;
    margin: 0px !important;
}
.emailmat-dialog-box mat-dialog-container {
    box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%) !important;
    background: #fff !important;
    padding: 0px !important;
    border-radius: 0px !important;
}
#emailbtnstyle.k-toolbar .k-button-group .k-button {
    align-self: center !important;
    background: #d3d3d300 !important;
    border: none !important;
    color: #00aeef !important;
}
#emailbtnstyle.k-toolbar .k-button-group .k-button:hover {
    background: #ebebeb !important;
    color: #444 !important;
}
#emailbtnstyle.k-toolbar .k-button-group .k-button.k-state-selected {
    box-shadow: none !important;
    background-color: #dbdbdb !important;
    border-color: #dbdbdb !important;
}
#emailbtnstyle .k-dropdown .k-dropdown-wrap {
    border-color: #eaeef2 !important;
    color: #212529 !important;
    background-color: #ffffff !important;
}
#emailbtnstyle .k-colorpicker .k-picker-wrap {
    border-color: #eaeef2 !important;
    color: #212529 !important;
    background-color: #ffffff !important;
}
.btn-group.btn-group-sm.rolebtnstyle {
    height: 34px !important
}
.emaiPopUpstyle {
    background-color: #003C71 !important;
    color: #ffffff !important;
    padding: 14px !important;
    overflow-x: hidden !important;
    border-bottom-color: #f4f4f4 !important;
}
.modal-header.modalBlueBody.emaiPopUpstyle {
    border-bottom: 0.5px solid #f4f4f4 !important;
}
