.modalBlueBodyEmailModal {
    background-color: #003C71;
    color: #ffffff
}

    .modalBlueBodyEmailModal .lbl {
        width: 100px;
        margin-left: 10px
    }

    .modalBlueBodyEmailModal input {
        font-size: 12px;
        padding: 0 6px
    }

    .modalBlueBodyEmailModal div.fl {
        margin-top: 5px
    }

    .modalBlueBodyEmailModal .btn-skyblue {
        background-color: #00AEEF !important;
        color: #ffffff !important
    }

        .modalBlueBodyEmailModal .btn-skyblue:hover {
            background-color: #00AEEF !important;
            color: #ffffff !important
        }

    .modalBlueBodyEmailModal .smTxt {
        font-size: 10px;
        line-height: 1em
    }

    .modalBlueBodyEmailModal .tmpltItem {
        width: 100%
    }

    .modalBlueBodyEmailModal .tmpltIcn {
        width: 35px
    }

        .modalBlueBodyEmailModal .tmpltIcn i {
            font-size: 26px
        }

    .modalBlueBodyEmailModal .tmpltRole {
        font-size: 12px
    }

    .modalBlueBodyEmailModal .tmpltPrimary {
        font-size: 14px;
        line-height: 1.1em
    }

    .modalBlueBodyEmailModal .tmpltSecondary {
        font-size: 12px;
        line-height: 1.1em;
        opacity: .6
    }

    .modalBlueBodyEmailModal kendo-editor .k-editor-content {
        z-index: 1;
        height: 220px
    }

    .modalBlueBodyEmailModal kendo-toolbar-renderer {
        border-color: inherit;
        margin: 0 !important
    }

.emailmat-dialog-box mat-dialog-container {
    box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%),0 24px 38px 3px rgb(0 0 0 / 14%),0 9px 46px 8px rgb(0 0 0 / 12%) !important;
    background: #fff !important;
    padding: 0 !important;
    border-radius: 0 !important
}

#emailbtnstyle.k-toolbar .k-button-group .k-button {
    align-self: center !important;
    background: #d3d3d300 !important;
    border: none !important;
    color: #00aeef !important
}

    #emailbtnstyle.k-toolbar .k-button-group .k-button:hover {
        background: #ebebeb !important;
        color: #444 !important
    }

    #emailbtnstyle.k-toolbar .k-button-group .k-button.k-state-selected {
        box-shadow: none !important;
        background-color: #dbdbdb !important;
        border-color: #dbdbdb !important
    }

#emailbtnstyle .k-dropdown .k-dropdown-wrap {
    border-color: #eaeef2 !important;
    color: #212529 !important;
    background-color: #ffffff !important
}

#emailbtnstyle .k-colorpicker .k-picker-wrap {
    border-color: #eaeef2 !important;
    color: #212529 !important;
    background-color: #ffffff !important
}

.btn-group.btn-group-sm.rolebtnstyle {
    height: 34px !important
}

.emaiPopUpstyle {
    background-color: #003C71 !important;
    color: #ffffff !important;
    padding: 14px !important;
    overflow-x: hidden !important;
    border-bottom-color: #f4f4f4 !important
}

.modal-header.modalBlueBodyEmailModal.emaiPopUpstyle {
    border-bottom: .5px solid #f4f4f4 !important
}

button.btn.disable-submit-style.btn-default[disabled] {
    cursor: not-allowed !important;
    pointer-events: all !important;
    background-color: #edeff0 !important;
    color: #b1babf !important;
    border-color: #b1babf !important
}