
<div id="secBasicContainerWrapper">

    <form novalidate class="contract-detail-form">

        <h3>Contract Details</h3>

        <div class="row">
            <div class="col-md-10"
                 op-control-flat
                 ng-model="contractData"
                 op-cd="'CUST_MBR_SID'"
                 op-type="'COMBOBOX'"
                 op-label="'Customer:'"
                 op-lookup-url="'/api/Customers/GetMyCustomersInfo'"
                 op-lookup-text="'CUST_DIV_NM'"
                 op-lookup-value="'CUST_MBR_SID'"
                 op-ui-mode="'HORIZONTAL'"></div>
        </div>
        
        <div class="row">
            <div class="col-md-10"
                 op-control-flat
                 ng-model="contractData"
                 op-cd="'TITLE'"
                 op-type="'TEXTBOX'"
                 op-label="'Contract Name:'"
                 op-ui-mode="'HORIZONTAL'"></div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="opUiContainer" style="margin-bottom: 20px;">
                    <div class="fl opUiLabel">Contract Quarter:</div>
                    <div style="overflow: hidden;">
                        <div class="fl">
                            <button class="fl btn btn-default mr10 mb10" type="button">Q1</button>
                            <button class="fl btn btn-default mr10 mb10" type="button">Q2</button>
                            <button class="fl btn btn-default mr10 mb10" type="button">Q3</button>
                            <button class="fl btn btn-default mr10 mb10" type="button">Q4</button>
                            <div class="clearboth"></div>
                        </div>
                    </div>
                    <div class="clearboth"></div>
                </div>
            </div>

            <div class="col-md-5">
                <div op-control-flat
                     ng-model="contractData"
                     op-cd="'START_DT'"
                     op-type="'DATEPICKER'"
                     op-label="'Contract Start Date:'"
                     op-ui-mode="'HORIZONTAL'"
                     style="margin-bottom: 20px;"></div>
                <div op-control-flat
                     ng-model="contractData"
                     op-cd="'END_DT'"
                     op-type="'DATEPICKER'"
                     op-label="'Contract End Date:'"
                     op-ui-mode="'HORIZONTAL'"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10"
                 op-control-flat
                 ng-model="contractData"
                 op-cd="'CUST_ACCPT'"
                 op-type="'CHECKBOX'"
                 op-label="'Customer Accepted:'"
                 op-ui-mode="'HORIZONTAL'"></div>
        </div>
        
        <div class="row">
            <div class="col-md-10"
                 op-control-flat
                 ng-model="contractData"
                 op-cd="'C2A_DATA_C2A_ID'"
                 op-type="'TEXTBOX'"
                 op-label="'C2A# or link:'"
                 op-ui-mode="'HORIZONTAL'"></div>
        </div>

        <div class="row" style="margin-left: 145px;">
            <div class="col-md-10">
                <button class="btn btn-primary" type="button" ng-click="customContractValidate()" style="width: 100px;">Save</button>
            </div>
        </div>

        <!--<pre style="font-size: 9px; font-family: arial;">{{contractData | json}}</pre>-->
    </form>

</div>
