<div style="margin: 0; overflow: hidden;">
    <!--<div class="fl">
        <i class="intelicon-legal" style="color: #FFA300; font-size: 22px;"></i>
    </div>-->
    <div class="fl" style="font-size: 20px;">
        <div style="margin: 0 10px; line-height: 0.9em;">
            {{ contractData.TITLE }}
        </div>
        <div style="font-size: 10px; line-height: 0.9em; margin-left: 10px; color: #aaaaaa; font-family: verdana;">
            <div class="fl">
                {{ contractData.CUST_NM }}
                <i class="intelicon-right-next" style="color: #FFA300;"></i>
                {{ contractData.START_DT }} - {{ contractData.END_DT }}
            </div>
            <div class="fr" style="margin-right: 10px;">
                {{ contractData.DEAL_STG_CD }}
            </div>
        </div>
    </div>

    <div class="clearboth"></div>
</div>