<div id="horizontal" ng-class="{'collapsed': isLnavHidden, 'expanded': !isLnavHidden}">
    <div id="center-pane" class="fr">
        <div id="contractContainerWrapper">
            <div id="contractHeader">
                <div ui-view="contractHeaderView"></div>
            </div>
            <div id="contractContainer" class="fullHeight">
                <div kendo-window id="wincontractMessages" k-title="'Results'" k-visible="false" k-width="'620px;'" k-position="{ top: 200, left: 350 }">
                    <div message-board ng-model="messages" id-title="'Pricing Strategy'"></div>
                </div>
                <div ui-view="contractWrapperView" class="fullHeight"></div>
            </div>
        </div>
    </div>

    <div id="left-pane" ng-class="{'collapsed': isLnavHidden, 'expanded': !isLnavHidden}">
        <div ui-view="lnavView" class="fullHeight"></div>
    </div>

    <div class="clearboth"></div>
</div>