
<loading-panel show="isBusy" header="isBusyMsgTitle" description="isBusyMsgDetail" msg-type="isBusyType"></loading-panel>
<div ng-include="'app/contract/partials/ptModals/renameTitleModal.html'"></div>

<div id="secContainerWrapper" ng-show="isAddStrategyHidden && isAddPricingTableHidden">
    <div id="secHeader" ng-class="{'noborders': !isPtr && !isWip}">
        <div ng-show="curPricingTableId > 0" class="contractStratHeader col-md-11">
            <div class="fl textCircleMd valid_{{ curPricingTable.PASSED_VALIDATION }}">{{ curPricingTable.OBJ_SET_TYPE_CD | limitTo:1 }}</div>
            <div class="fl fntLg col-md-11" style="color: #000000; margin: 0 6px 2px 10px;">{{ curPricingTable.TITLE }}</div>
            <div class="clearboth"></div>
        </div>
        <div style="height: 37px; padding-left: 10px; border-bottom: 2px solid #bcbcbc;" ng-if="isPtr || isWip">
            <div class="fl editorTab" ng-class="{'inactive': !isPtr}" ng-click="backToPricingTable()">Pricing Table Editor</div>
            <div class="fl editorTab" ng-class="{'inactive': !isWip, disabled: enableDealEditorTab() === false}" ng-click="publishWipDealsFromTab()">Deal Editor</div>
            <div class="clearboth"></div>
        </div>
    </div>

    <div id="secContainer">
        <div kendo-splitter
             k-panes="[null, { collapsible: true, collapsed: true, min: '235px', size: '235px' }]"
             k-orientation="'vertical'"
             id="k-splitter"
             style="height: 100%; border: 0 solid transparent;">

            <div>
                <div ui-view="pricingTableView" class="fullHeight">
                    <div ng-include="'app/contract/partials/info.html'" style="overflow: auto !important;"></div>
                </div>
            </div>

            <div style="overflow: hidden;" class="wide noborder">
                <div id="subContainerWrapper">
                    <div id="subHeader">
                        <div class="fl" style="padding: 4px 10px;">
                            <i class="intelicon-pin-solid ssmIconBtn" onclick="closeSplitter()"></i>
                        </div>
                        <div class="fl" style="padding: 4px 0;">Additional Discounts & Requirements</div>
                        <div class="fl" style="padding: 6px 10px 0 10px; color: #aaaaaa; font-style: italic; font-size: 12px;">**Note that any updates made here are copied on all tables under this Pricing Strategy</div>
                        <div class="clearboth"></div>
                    </div>
                    <div id="subContainer">
                        <textarea kendo-editor
                                  k-ng-model="curPricingStrategy.TERMS"
                                  k-tools="['fontSize','bold','italic','underline','strikeThrough','justifyLeft','justifyCenter','justifyRight','justifyFull', 'insertUnorderedList','insertOrderedList','indent','outdent']"
                                  style="height: 100%;" class="noborderEditor"></textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div ng-show="!(isAddStrategyHidden && isAddPricingTableHidden)">
    <div ng-include="'app/contract/partials/help.html'"></div>
</div>


<style>
    .contractStratHeader .isReadOnly {
        background-color: #ffffff !important;
    }

    .contractStratHeader {
        float: none !important;
    }

    .contractStratHeader .opUiContainer input.k-textbox, .contractStratHeader .opUiContainer input.k-textbox:hover {
        border-color: transparent;
        height: 30px;
        width: 100%;
    }

    .contractStratHeader .opUiContainer input.k-textbox:hover {
    }

    .contractStratHeader .myDealsControl {
        margin: -3px -50px 0 -10px;
        float: left;
        width: 100%;
    }

    .editorTab {
        border-top: 1px solid #d7d7d7;
        border-left: 1px solid #d7d7d7;
        border-right: 1px solid #d7d7d7;
        margin-right: 5px;
        color: #00AEEF;
        height: 36px;
        padding: 6px 15px;
        background-color: #ffffff;
        cursor: default;
    }
    .editorTab.inactive {
        color: #ffffff;
        background-color: #00AEEF;
        border-bottom: 2px solid #0071C5;
        cursor: pointer;
    }
    .editorTab.inactive:hover {
        background-color: #0071C5;
    }
    .editorTab.disabled, .editorTab.disabled:hover {
        background: #fdfdfd; /* Old browsers */
        background: -moz-linear-gradient(top,  #fdfdfd 0%, #d9d9d9 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #fdfdfd 0%,#d9d9d9 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #fdfdfd 0%,#d9d9d9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#d9d9d9',GradientType=0 ); /* IE6-9 */
        color: #003C71;
        border-bottom: 2px solid #bcbcbc;
        cursor: default;
    }

    .noborders {
        border: 0 solid transparent !important;
    }

    #secContainerWrapper .disabled {
        cursor: not-allowed;
    }
</style>

<script>
    function closeSplitter() {
        var splitter = $("#k-splitter").data("kendoSplitter");
        if (!splitter) return;

        splitter.collapse(".k-pane:last");
        splitter.resize();
    }
    function openSplitter() {
        var splitter = $("#k-splitter").data("kendoSplitter");
        if (!splitter) return;

        splitter.expand(".k-pane:last");
        splitter.resize();
    }

    setTimeout(function () {
        var splitter = $("#k-splitter").data("kendoSplitter");
        if (!splitter) return;

        splitter.resize();
    }, 2000);


</script>