<loading-panel show="isBusy" header="isBusyMsgTitle" description="isBusyMsgDetail" msg-type="isBusyType" is-show-fun-fact="isBusyShowFunFact"></loading-panel>

<div id="sum-wrapper">
    <div id="sum-header">
        <div ui-view="summaryContentView"></div>
        <!--<div class="fr">
        <button class="btn btn-primary" type="button" ng-click="refresh()">
            <i class='fa fa-refresh' aria-hidden='true' title='Refresh overlapping deals' style="margin-right: 5px;"></i> Refresh
        </button>
    </div>-->
        <div class="fr helpBtn" title="Help" onclick="showHelpTopic(HelpTopicEnum.ContractManager_OverlappingDealsCheck);">
            <i class="intelicon-help" style="font-size:30px !important"></i>
        </div>

        <div class="fr" style="margin-right:10px">
            <button class="btn btn-primary" type="button" ng-click="openModal()">
                <i class="fa fa-paste" aria-hidden="true" style="margin-right: 5px;"></i> Open in Window
            </button>
        </div>
        <h4>Overlapping Deals</h4>
        <div class="clearboth"></div>
        <hr />
    </div>

    <div id="sum-container">
        <div class="sum-main-body">
            <div class="sum-main-container">
                <overlapping-deals obj-sids="objSids" obj-type="objType" style="height: 100%;"></overlapping-deals>
            </div>
        </div>
    </div>

</div>


<style>
    #sum-wrapper {
        height: 100%;
        padding: 50px 0 0 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #sum-header {
        height: 50px;
        margin-top: -50px;
        font-size: 14px;
        font-family: "Intel Clear";
        font-weight: 200;
        font-style: normal;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #sum-header h4 {
        margin: 0;
    }

    #sum-container {
        height: 100%;
        overflow: auto;
    }

    .sum-main-body {
        height: 100%;
        height: -webkit-calc(100% - 20px);
        height: -moz-calc(100% - 20px);
        height: calc(100% - 20px);
        margin: 5px 10px;
        padding: 0 10px;
    }

    .sum-main-container {
        height: 100%;
    }

    .sum-main-body .tbl-header {
        margin-top: 6px;
    }

    #sum-header hr {
        height: 1px;
        margin: 6px 0;
        color: #e4e4e4;
    }

    .sum-main-body .bold {
        color: #00AEEF;
        font-weight: bold;
        font-size: 14px;
        line-height: 1em;
    }

    .sum-main-body .bolder {
        color: #00AEEF;
        font-weight: bold;
        font-size: 16px;
        line-height: 1em;
    }

    .sum-main-body label {
        margin-bottom: 0;
    }

    .sum-main-body .stage {
        text-align: center;
    }

    .sum-main-body .stage div {
        margin: 0 10px;
        padding: 4px 4px;
    }
</style>