<div ng-if="loading" style="padding-top: 200px; width: 100%; text-align: center;">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
    <div style="font-size: 30px;" ng-bind="msg"></div>
    <div class="ss-icon-lg" ng-if="msg == 'Done'">
        <i class="intelicon-passed-completed-solid sky-blue"></i>
    </div>

</div>

<div ng-if="!loading" id="sum-wrapper" style="padding: 20px;">
    <div id="sum-header">
        <div ui-view="summaryContentView"></div>
        <h4>Contract History</h4>
        <hr />
    </div>

    <div id="sum-container">
        <div class="sum-main-body">
            <div class="sum-main-container">
                <div class="row" ng-repeat="tl in timelineData">
                    <div class="col-md-4 timeDate">
                        <div class="content">
                            {{tl.HIST_EFF_FR_DTM}} | <span style="color: #0071C5;">{{tl.FRST_NM}} {{tl.LST_NM}}</span>
                        </div>
                    </div>
                    <div class="col-md-8 timeDesc">
                        <div class="content">
                            <span style="color: #FFA300;">#{{tl.ATRB_SID}}</span> {{tl.ATRB_DESC}} | <span style="color: #00AEEF;">{{tl.FLAG}}</span> |
                            <span style="color: #0071C5;">{{tl.ATRB_VAL}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<style>
    .titlePage {
        text-align: center;
        font-family: "Intel Clear";
        font-weight: 200;
        font-style: normal;
    }

        .titlePage H1 {
            text-align: center;
            padding-top: 60px;
            padding-bottom: 5px;
            color: #0071C5;
            font-size: 60px;
        }

            .titlePage H1 span {
                color: #000000;
                font-size: 24px;
            }

        .titlePage H2 {
            text-align: center;
            padding-top: 5px;
            padding-bottom: 100px;
            color: #aaaaaa;
        }

        .titlePage .dates {
            font-size: 16px;
            padding-top: 100px;
        }

        .titlePage .confidential {
            font-size: 12px;
            margin-top: 50px;
            color: #666666;
        }

    .amendmentsPage {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .psPage .subText, .ptPage .subText {
        color: #aaaaaa;
        font-size: 12px;
    }

    .psPage .subObj, .ptPage .subObj {
        color: #FFA300;
        font-size: 12px;
        margin-left: 8px;
    }

    .psPage .subStatus, .ptPage .subStatus {
        font-size: 12px;
        margin-right: 4px;
    }

        .psPage .subStatus .stat, .ptPage .subStatus .stat {
            color: #cccccc;
            margin-left: 15px;
        }

            .psPage .subStatus .stat span, .ptPage .subStatus .stat span {
                color: #0071C5;
            }

    .ptPage {
        margin-left: 30px;
    }

    .psPage H1 {
        color: #000000;
        font-size: 24px;
    }

        .psPage H1 span {
            color: #cccccc;
            font-size: 22px;
        }

    .psPage H2 {
        color: #0071C5;
        font-size: 18px;
    }

        .psPage H2 span {
            color: #cccccc;
            font-size: 16px;
        }

    .psPage .terms {
        font-size: 16px;
        margin: 30px;
    }

    hr.page-break {
        margin: 80px 0;
        border-top: 1px solid #FFA300;
        height: 2px;
    }

    table.extract {
        width: 100%;
        border: 1px solid #00AEEF;
    }

        table.extract th {
            font-family: "Intel Clear";
            font-weight: 600;
            font-style: normal;
            padding: 0 4px;
            background-color: #eeeeee;
            color: #0071C5;
        }

        table.extract td {
            font-family: "Intel Clear";
            font-weight: 200;
            font-style: normal;
            padding: 0 4px;
            border-top: 1px solid #eeeeee;
        }

    .timeDate div.content {
        background-color: #f6f8f8;
        border: 1px solid #eeeeee;
        margin: 2px 1px;
        padding: 0 6px;
    }

    .timeDesc div.content {
        background-color: #f6f8f8;
        border: 1px solid #eeeeee;
        margin: 2px 1px;
        padding: 0 6px;
    }
</style>
