
<div id="secBasicContainerWrapper">

    <form novalidate dirty-tracking obj-type="contractData" class="contract-detail-form">

        <h4>Contract Details</h4>

        <div class="row">
            <div class="col-md-6">
                <div class="col-md-11">
                    <h6>Customer Information</h6>
                </div>

                <div class="col-md-10"
                     op-control-flat
                     ng-model="contractData"
                     op-cd="'CUST_MBR_SID'"
                     op-type="'COMBOBOX'"
                     op-label="'Customer:'"
                     op-lookup-url="'/api/Customers/GetMyCustomerNames'"
                     op-lookup-text="'CUST_NM'"
                     op-lookup-value="'CUST_MBR_SID'"
                     op-selected-object="'Customer'"
                     op-ui-mode="'VERTICAL'"></div>

                <div class="col-md-10"
                     op-control-flat
                     ng-model="contractData"
                     op-cd="'CUST_ACCNT_DIV'"
                     op-type="'MULTISELECT'"
                     op-label="'Division:'"
                     op-lookup-values="[]"
                     op-lookup-text="'CUST_DIV_NM'"
                     op-lookup-value="'CUST_MBR_SID'"
                     op-selected-object="'Customer'"
                     op-ui-mode="'VERTICAL'"></div>
            </div>
            <div class="col-md-6">
                <div class="col-md-11">
                    <h6>Customer Acceptance of Contract is...</h6>
                </div>

                <div class="col-md-10"
                     op-control-flat
                     ng-model="contractData"
                     op-cd="'CUST_ACCPT'"
                     op-type="'RADIOBUTTONGROUP'"
                     op-label="''"
                     op-lookup-url="'/api/Dropdown/GetDropdowns/MRKT_SEG_NON_CORP'"
                     op-lookup-text="'DROP_DOWN'"
                     op-lookup-value="'DROP_DOWN'"
                     op-ui-mode="'VERTICAL'"></div>

                <div class="col-md-10"
                     op-control-flat
                     ng-model="contractData"
                     op-cd="'CUST_ACCPT'"
                     op-type="'CHECKBOX'"
                     op-label="'Pending:'"
                     op-ui-mode="'HORIZONTAL'"></div>

                <div class="col-md-10"
                     op-control-flat
                     ng-model="contractData"
                     op-cd="'CUST_ACCPT'"
                     op-type="'CHECKBOX'"
                     op-label="'Accepted:'"
                     op-ui-mode="'HORIZONTAL'"></div>

                <div class="col-md-10"
                     op-control-flat
                     ng-model="contractData"
                     op-cd="'CUST_ACCPT'"
                     op-type="'CHECKBOX'"
                     op-label="'Acceptance Not Reqired:'"
                     op-ui-mode="'HORIZONTAL'"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="col-md-11">
                    <h6>Dates</h6>
                </div>

                <div class="col-md-10">
                    <div op-control-flat
                         ng-model="contractData"
                         op-cd="'START_DT'"
                         op-type="'DATEPICKER'"
                         op-label="'Contract Start Date:'"
                         op-ui-mode="'HORIZONTAL'"
                         style="margin-bottom: 20px;"></div>
                </div>
                <div class="col-md-10">
                    <div op-control-flat
                         ng-model="contractData"
                         op-cd="'END_DT'"
                         op-type="'DATEPICKER'"
                         op-label="'Contract End Date:'"
                         op-ui-mode="'HORIZONTAL'"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-11">
                    <h6>Information</h6>
                </div>

                <div class="col-md-10"
                     op-control-flat
                     ng-model="contractData"
                     op-cd="'TITLE'"
                     op-type="'TEXTBOX'"
                     op-label="'Contract Name:'"
                     op-ui-mode="'VERTICAL'"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="col-md-11">
                    <h6>Timeline</h6>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-11">
                    <h6>Notes</h6>
                </div>
                <div class="col-md-10"
                     op-control-flat
                     ng-model="contractData"
                     op-cd="'NOTES'"
                     op-type="'TEXTAREA'"
                     op-label="''"
                     op-ui-mode="'VERTICAL'"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-6">
                <button class="btn btn-primary" style="margin-left:30px;" type="button" ng-click="customContractValidate()">Save</button>
            </div>
        </div>

        <!--<pre style="font-size: 9px; font-family: arial;">{{contractData | json}}</pre>-->
    </form>

</div>
