
<div id="secBasicContainerWrapper">
    <div id="secContainer">
        <form novalidate dirty-tracking obj-type="contractData" class="contract-detail-form">
            <div class="row">
                <h4 class="col-md-3">Contract Details</h4>
                <span class="col-md-2 infospan"><span> * </span>Indicates Required fields</span>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-12 row">
                        <h6>Contract Information</h6>
                    </div>

                    <div class="col-md-11 row">
                        <div op-control-flat
                             ng-model="contractData"
                             op-cd="'CUST_MBR_SID'"
                             op-type="'COMBOBOX'"
                             op-label="'Customer:'"
                             op-lookup-url="'/api/Customers/GetMyCustomerNames'"
                             op-lookup-text="'CUST_NM'"
                             op-lookup-value="'CUST_SID'"
                             op-selected-object="'Customer'"
                             op-is-stealth="true"
                             op-is-form="true"
                             op-ui-mode="'VERTICAL'"></div>
                    </div>

                    <div class="col-md-11 row">
                        <div op-control-flat
                             ng-model="contractData"
                             op-cd="'CUST_ACCNT_DIV_UI'"
                             op-type="'MULTISELECT'"
                             op-label="'Division:'"
                             op-lookup-values="[]"
                             op-lookup-text="'CUST_DIV_NM'"
                             op-lookup-value="'CUST_DIV_NM'"
                             op-is-stealth="true"
                             op-is-form="true"
                             op-ui-mode="'VERTICAL'"></div>
                        <div class="description" ng-if="!contractData._behaviors.isHidden['CUST_ACCNT_DIV_UI']">Blank means that ALL divisions are included</div>
                    </div>

                    <div class="col-md-11 row"
                         op-control-flat
                         ng-model="contractData"
                         op-cd="'TITLE'"
                         op-type="'TEXTBOX'"
                         op-label="'Contract Name:'"
                         op-is-form="true"
                         op-ui-mode="'VERTICAL'"></div>
                </div>

                <div class="col-md-6">
                    <div class="col-md-12 row">
                        <h6>Customer Acceptance of Contract is...<span kendo-tooltip k-content="constants.helptipMsgCustAccpt" k-position="'top'" class="opElementHelpIcon intelicon-information-outlined"></span></h6>
                    </div>
                    <div class="col-md-11 row"
                         op-control-flat
                         ng-model="contractData"
                         op-cd="'CUST_ACCPT'"
                         op-type="'RADIOBUTTONGROUP'"
                         op-label="''"
                         op-lookup-url="'api/Dropdown/GetDropdowns/CUST_ACCPT'"
                         op-lookup-text="'DROP_DOWN'"
                         op-lookup-value="'DROP_DOWN'"
                         op-is-form="true"
                         op-extra="true"
                         op-ui-mode="'VERTICAL'"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-12 row">
                        <h6>Dates&nbsp;<span kendo-tooltip k-content="constants.helpTipDateRanges" k-position="'left'" class="opElementHelpIcon intelicon-information-outlined"></span></h6>
                    </div>
                    <div class="col-md-11 row mb5">
                        <div op-control-flat
                             ng-model="contractData"
                             op-cd="'START_DT'"
                             op-type="'DATEPICKER'"
                             op-label="'Select Start Date:'"
                             op-is-form="true"
                             op-ui-mode="'HORIZONTAL'"></div>
                    </div>
                    <div class="clearboth orLabel" ng_hide="initialStartDateReadOnly">OR</div>
                    <div class="row" ng_hide="initialStartDateReadOnly">
                        <div class="col-md-3 dateRangeLabel">
                            Select Quarter Range
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-11 row"
                                 id="StartSlider"
                                 style="width: 200px;"
                                 op-control-flat
                                 ng-model="contractData"
                                 op-cd="'START_QTR'"
                                 op-type="'SLIDER'"
                                 op-label="''"
                                 op-min-value="1"
                                 op-max-value="4"
                                 op-is-stealth="true"
                                 op-ui-mode="'VERTICAL'"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-11 row"
                                 op-control-flat
                                 ng-model="contractData"
                                 op-cd="'START_YR'"
                                 op-type="'NUMERIC'"
                                 op-label="''"
                                 op-min-value="contractData.MinYear"
                                 op-max-value="contractData.MaxYear"
                                 op-is-stealth="true"
                                 op-ui-mode="'VERTICAL'"></div>
                        </div>
                    </div>
                    <div class="col-md-11 row mb5" ng-class="{'padTop30': initialStartDateReadOnly}">
                        <div op-control-flat
                             ng-model="contractData"
                             op-cd="'END_DT'"
                             op-type="'DATEPICKER'"
                             op-label="'Select End Date:'"
                             op-is-form="true"
                             op-ui-mode="'HORIZONTAL'"></div>
                    </div>
                    <div class="clearboth orLabel" ng_hide="initialEndDateReadOnly">OR</div>
                    <div class="row" ng_hide="initialEndDateReadOnly">
                        <div class="col-md-3 dateRangeLabel">
                            Select Quarter Range
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-11 row"
                                 id="EndSlider"
                                 style="width: 200px;"
                                 op-control-flat
                                 ng-model="contractData"
                                 op-cd="'END_QTR'"
                                 op-type="'SLIDER'"
                                 op-label="''"
                                 op-min-value="1"
                                 op-max-value="4"
                                 op-is-stealth="true"
                                 op-ui-mode="'VERTICAL'"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-11 row"
                                 op-control-flat
                                 ng-model="contractData"
                                 op-cd="'END_YR'"
                                 op-type="'NUMERIC'"
                                 op-label="''"
                                 op-min-value="contractData.MinYear"
                                 op-max-value="contractData.MaxYear"
                                 op-is-stealth="true"
                                 op-ui-mode="'VERTICAL'"></div>
                        </div>
                    </div>
                    <div class="col-md-11 row" ng_hide="initialEndDateReadOnly"
                         op-control-flat
                         ng-model="contractData"
                         title="This will set the End Date to +20 years"
                         op-cd="'NO_END_DT'"
                         op-type="'CHECKBOX'"
                         op-label="'No end date:'"
                         op-is-form="true"
                         op-ui-mode="'HORIZONTAL'">
                    </div>
                    <div class="col-md-11 row" ng_hide="initialEndDateReadOnly"
                         op-control-flat
                         ng-model="contractData"
                         op-cd="'NO_END_DT_RSN'"
                         op-type="'DROPDOWN'"
                         op-label="'No end date reason:'"
                         op-lookup-url="'api/Dropdown/GetDropdowns/NO_END_DT_RSN'"
                         op-lookup-text="'DROP_DOWN'"
                         op-lookup-value="'DROP_DOWN'"
                         op-is-form="true"
                         op-ui-mode="'HORIZONTAL'"></div>
                    <div>
                        <div class="col-md-11 row"
                             op-control-flat
                             ng-model="contractData"
                             op-cd="'BACK_DATE_RSN'"
                             op-type="'DROPDOWN'"
                             op-label="'Back Date Reason:'"
                             op-lookup-url="'api/Dropdown/GetDropdowns/BACK_DATE_RSN'"
                             op-lookup-text="'DROP_DOWN'"
                             op-lookup-value="'DROP_DOWN'"
                             op-is-form="true"
                             op-ui-mode="'VERTICAL'"></div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="col-md-12 row">
                        <h6>Information</h6>
                    </div>

                    <div class="col-md-11 row C2ALabel">
                        <div op-control-flat
                             ng-model="contractData"
                             op-cd="'C2A_DATA_C2A_ID'"
                             op-type="'TEXTBOX'"
                             op-label="'C2A# or link to contract:'"
                             op-is-form="true"
                             op-is-stealth="true"
                             op-ui-mode="'VERTICAL'"></div>
                        <div ng-if="!contractData._behaviors.isHidden['C2A_DATA_C2A_ID']" class="description">{{constants.C2AIdDesc}}</div>
                    </div>
                    <div class="col-md-11 row" ng-if="!C_VIEW_ATTACHMENTS">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="font-size:14px; font-weight:bold">File Attachment Details</div>
                            <div class="panel-body" style="height:80px">
                                <div>You do not have permission to view attachments.</div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="C_VIEW_ATTACHMENTS">
                        <!--TODO Move these to FileUploaddirective-->
                        <div class="col-md-11 row" ng-if="C_ADD_ATTACHMENTS">
                            <div class="f1 opUiLabel opUiLableWidth" ng-class="{isRequired: contractData.IsAttachmentRequired}">Attachment(s):&nbsp;<span kendo-tooltip k-content="constants.helptipMsgAttachment" k-position="'top'" class="opElementHelpIcon intelicon-information-outlined"></span><span class="description">{{constants.uplodaFileHelpText}}</span></div>
                            <div ng-class="{fileAttachmentRequired: contractData.AttachmentError}">
                                <input class="fileAttachmentRequired" id="fileUploader"
                                       type="file" name="files"
                                       kendo-upload="files"
                                       k-upload="filePostAddParams"
                                       k-success="onSuccess"
                                       k-error="onError"
                                       k-complete="onComplete"
                                       k-select="onFileSelect"
                                       k-remove="onFileRemove"
                                       k-async="fileUploadOptions" />
                            </div>
                            <div ng-if="contractData.CUST_ACCPT != 'Pending'" class="description">{{constants.FileAttachementDesc}}</div>
                            <div ng-if="contractData.AttachmentError" class="err-Control">* field is required.</div>
                        </div>
                        <div class="col-md-11 row" ng-if="!isNewContract">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="font-size:14px; font-weight:bold">File Attachment Details <span ng-if="attachmentCount > 0 && initComplete" class="badge">{{attachmentCount}}</span></div>
                                <div class="panel-body">
                                    <div ng-hide="attachmentCount <= 0 || !initComplete" id="fileAttachmentGrid" kendo-grid
                                         footer-offset="500" options="fileAttachmentGridOptions"></div>
                                    <div ng-hide="attachmentCount != 0 || !initComplete" style="height:80px;">
                                        <p style="margin-top:5px">This contract has no attachments.</p>
                                    </div>
                                    <div ng-hide="initComplete" style="height:80px;">
                                        <p style="margin-top:5px"><i>Retrieving attachments...</i></p>
                                    </div>
                                    <div ng-hide="attachmentCount >= 0" style="height:80px; color:red">
                                        <p style="margin-top:5px">Unable to retrieve attachments!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-12 row row">
                        <h6>Timeline</h6>
                    </div>
                    <timeline-details op-id="contractData.DC_ID" op-obj-type="1"></timeline-details>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <h6 class="noBottemBorder">Notes</h6>
                    </div>
                    <div class="col-md-11"
                         op-control-flat
                         ng-model="contractData"
                         op-cd="'NOTES'"
                         op-type="'TEXTAREA'"
                         op-label="''"
                         op-ui-mode="'VERTICAL'"></div>
                </div>
            </div>

            <!--<pre style="font-size: 9px; font-family: arial;">{{contractData | json}}</pre>-->
        </form>
    </div>

    <div id="secFooter">
        <button class="btn btn-primary" style="margin-left:30px;" type="button" ng-click="deleteContract()" ng-if="contractData.DC_ID && contractData.DC_ID > 0">
            <span>Delete Contract</span>
        </button>
        <button class="btn btn-primary" style="margin-left:30px;" type="button" ng-click="customContractValidate()">
            <span ng-bind="saveBtnName()"></span>
        </button>
    </div>
</div>

<div class="promptUserDialog" id="deleteAttachmentDialog" kendo-dialog="deleteAttachmentDialog" k-visible="false" k-modal="true" k-actions="deleteAttachmentActions" k-width="400" k-height="250">
    <h4>Delete this file attachment?</h4>
</div>

<style type="text/css">
    #secContainer {
        overflow: auto !important;
    }

    .padTop30 {
        padding-top: 30px;
    }

    .k-dialog .promptUserDialog {
        text-align: center;
        padding: 10px 0 0 0;
    }

    .k-dialog .promptUserDialog h4 {
        color: #003C71;
        font-size: 18px;
        font-weight: 600;
        margin-top: 0;
    }

    .k-dialog .promptUserDialog p {
        font-size: 12px;
        padding: 10px 20px;
    }

    .delete-attach-icon {
        font-size: 16px;
        cursor: pointer;
    }

    .delete-attach-icon:hover {
        text-decoration: none;
    }

    .btn-primary {
        background-color: #00AEFF;
    }
</style>
