<div style="margin: 0;">
    <div ng-if="!isNewContract" class="fr" ng-include="'app/contract/partials/lnavButtons.html'"></div>
    
    <!--<div class="pricing-strategy-status-bar valid_{{ curPricingStrategy.PASSED_VALIDATION }}" ng-if="!('contract.details' | isState)">
        <div class="fl">{{ pageTitle }}</div>
        <div class="fr"><span style="opacity: 0.5;">Pricing Strategy:</span> {{ curPricingStrategy.WF_STG_CD }}</div>
    </div>-->
    <div class="pricing-strategy-status-bar" ng-if="!('contract.details' | isState)">
        <div class="fr valid_{{ curPricingStrategy.PASSED_VALIDATION }}" style="padding: 0 5px;"><span style="opacity: 0.5;">Pricing Strategy:</span> {{ curPricingStrategy.WF_STG_CD }}</div>
    </div>

    <div style="padding-top: 3px;" ng-if="isPtr || isWip">
        <div class="contractHeader" style="margin: 0 10px 0 0; line-height: 1.2em; font-size: 18px;">
            <table style="width: 100%;">
                <tr>
                    <td>
                        <div title="{{ curPricingStrategy.PASSED_VALIDATION || 'Not validated yet' }}" style="margin: 0 0 0 10px; line-height: 1em; font-size: 26px;">
                            <i class="intelicon-protection-solid bigIcon validf_{{curPricingStrategy.PASSED_VALIDATION}}" ng-show="curPricingStrategy.PASSED_VALIDATION === 'Complete'" title="{{curPricingStrategy.PASSED_VALIDATION}}"></i>
                            <i class="intelicon-protection-outlined bigIcon validf_{{curPricingStrategy.PASSED_VALIDATION}}" ng-show="curPricingStrategy.PASSED_VALIDATION === 'Finalizing'" title="{{curPricingStrategy.PASSED_VALIDATION}}"></i>
                            <i class="intelicon-protection-outlined bigIcon validf_{{curPricingStrategy.PASSED_VALIDATION}}" ng-show="curPricingStrategy.PASSED_VALIDATION === 'Valid'" title="{{curPricingStrategy.PASSED_VALIDATION}}"></i>
                            <i class="intelicon-protection-outlined bigIcon validf_{{curPricingStrategy.PASSED_VALIDATION}}" ng-show="curPricingStrategy.PASSED_VALIDATION === 'Dirty'" title="{{curPricingStrategy.PASSED_VALIDATION}}"></i>
                            <i class="intelicon-protection-outlined bigIcon validf_{{curPricingStrategy.PASSED_VALIDATION}}" ng-show="curPricingStrategy.PASSED_VALIDATION !== 'Valid' && curPricingStrategy.PASSED_VALIDATION !== 'Dirty' && curPricingStrategy.PASSED_VALIDATION !== 'Complete' && curPricingStrategy.PASSED_VALIDATION !== 'Finalizing'" title="{{curPricingStrategy.PASSED_VALIDATION || 'Not validated yet'}}"></i>
                        </div>
                    </td>
                    <td style="width: 100%;">
                        <div class="fntLg col-md-11" style="color: #000000; margin: 2px 6px 2px 0; font-size: 20px;">{{ curPricingStrategy.TITLE }}</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class="clearboth"></div>
</div>

<style>
    
    .contractHeader .isReadOnly {
        background-color: #ffffff !important;
    }

     .contractHeader .opUiContainer input.k-textbox, .contractHeader .opUiContainer input.k-textbox:hover {
         border-color: transparent;
         height: 30px;
         width: 100%;
         padding-left: 0;
     }
    .contractHeader .opUiContainer input.k-textbox:hover {
    }

    .contractHeader .myDealsControl {
        margin: -3px 0 0 0px;
        float: left;
        width: 100%;
    }
    .pricing-strategy-status-bar {
        color: #000000; 
        padding: 1px 0 0 6px; 
        font-size: 10px; 
        font-family: arial; 
        text-transform: uppercase;
        height: 16px;
    }

</style>