<loading-panel show="isBusy" header="isBusyMsgTitle" description="isBusyMsgDetail"></loading-panel>
<div ng-include="'/app/core/directives/gridCell/dealToolsHelper.html'"></div>
<div ng-include="'app/contract/partials/ptModals/actionSummaryModal.html'"></div>

<div style="font-size: 14px; line-height: 1.1em; text-align: center; position: absolute; top: 5px; right: 18px;"
     title="click to change Contract Acceptance Criteria">
    <span style="color: #0071C5;">Customer Acceptance</span>
    <toggle class="toggle-accept"
            ng-change="pendingChange()"
            ng-model="isPending"
            on="Pending"
            off="Accepted"
            ng-if="root.contractData.CUST_ACCPT !== 'Acceptance Not Required'"
            ng-disabled="root.contractData._behaviors.isReadOnly.CUST_ACCPT === true"
            onstyle="btn-success"
            size="btn-xs"
            style="width: 140px !important"></toggle>
    <!--ng-disabled="hideIfNotPending"-->
    <toggle class="toggle-accept"
            ng-model="isPending"
            off="<div style='font-size: 11px;'>Acceptance Not Required</div>"
            on="<div style='font-size: 11px;'>Acceptance Not Required</div>"
            ng-if="root.contractData.CUST_ACCPT === 'Acceptance Not Required'"
            ng-disabled="true"
            onstyle="btn-success"
            size="btn-xs"
            style="width: 140px !important"></toggle>
    <div kendo-dialog="dialogPendingWarning" class="dialogPending"
         k-width="500" k-height="300" k-closable="false" k-visible="false"
         k-actions="pendingWarningActions" k-modal="true">
        <div class="wrn-red"><i class="intelicon-information-solid"></i> Correction Required</div>
        <div ng-show="showPendingInfo">
            <div style="padding: 15px 25px; height: 190px;">
                <p>
                    A C2A number, link or attachment is required in order to change your contract from Pending to Accepted.
                    <div style="text-align: center; margin-top: 34px;">
                        <button class="btn btn-sm btn-skyblue" type="button" ng-click="showPending('showPendingFile')"
                                style="margin: 0 20px -30px 20px; width: 110px; height: 100px;">
                            <div style="text-align: center;">
                                <div><i class="intelicon-attach-document-outlined" style="font-size: 60px;"></i></div>
                                Add Attachment
                            </div>
                        </button>
                        <button class="btn btn-sm btn-skyblue" type="button" ng-click="showPending('showPendingC2A')"
                                style="margin: 0 20px -30px 20px; width: 110px; height: 100px;">
                            <div style="text-align: center;">
                                <div><i class="intelicon-user-approved-selected-outlined" style="font-size: 60px;"></i></div>
                                Add C2A Number
                            </div>
                        </button>
                    </div>
            </div>
            <div style="text-align: center;">
                <button class="btn btn-sm btn-grey" type="button" ng-click="closeDialog()" style="margin: 0 10px -30px 10px; width: 110px;">
                    Cancel
                </button>
            </div>
        </div>
        <div ng-show="showPendingFile">
            <div style="padding: 15px 25px; height: 190px;">
                <input class="fileAttachmentRequired" id="fileUploader"
                       type="file" name="files"
                       kendo-upload="files"
                       k-upload="filePostAddParams"
                       k-success="onSuccess"
                       k-async="fileUploadOptions" />

            </div>
            <div style="text-align: center;">
                <button class="btn btn-sm btn-grey" type="button"
                        ng-class="{'disabled': root.contractData.HAS_ATTACHED_FILES === '1'}"
                        ng-click="showPending('showPendingInfo')" style="margin: 0 10px -30px 10px; width: 110px;">
                    << Back
                </button>
                <button class="btn btn-sm btn-skyblue" type="button"
                        ng-class="{'disabled': !root.contractData.HAS_ATTACHED_FILES}"
                        ng-click="continueAction(false)" style="margin: 0 10px -30px 10px; width: 110px;">
                    Done
                </button>
            </div>
        </div>
        <div ng-show="showPendingC2A">
            <div style="padding: 15px 25px; height: 190px;">
                <p>A C2A number, link or attachment is required in order to change your contract from Pending to Accepted.
                <p style="margin-top: 60px;">
                    C2A# or link to contract:<br />
                    <input type="text" placeholder="enter C2A number or link" class="k-input"
                           ng-model="root.contractData.C2A_DATA_C2A_ID" style="width: 280px; padding: 4px;">
                    <button class="btn btn-sm btn-skyblue" type="button"
                            ng-class="{'disabled': root.contractData.C2A_DATA_C2A_ID.trim() === ''}"
                            ng-click="continueAction(true)" style="margin: -2px 10px 0 10px; width: 110px;">
                        Use C2A Number
                    </button>
                </p>
            </div>
            <div style="text-align: center;">
                <button class="btn btn-sm btn-grey" type="button" ng-click="showPending('showPendingInfo')" style="margin: 0 10px -30px 10px; width: 110px;">
                    << Back
                </button>
            </div>
        </div>
    </div>

</div>

<div id="sum-wrapper">
    <div id="sum-header">
        <div ui-view="summaryContentView"></div>
        <div kendo-tab-strip class="gradTab" ng-if="canFilterDealTypes">
            <ul>
                <li ng-click="selTab('ECAP')" class="k-state-active">ECAP</li>
                <li ng-click="selTab('VOL_TIER')">Vol Tier</li>
                <li ng-click="selTab('PROGRAM')">PROGRAM</li>
                <li ng-click="selTab('TENDER')">TENDER</li>
                <li ng-click="selTab('KIT')">KIT</li>
                <li ng-click="selTab('All')">All</li>
            </ul>
            <input ng-model="dealTypeFilter" type="hidden" />
        </div>


        <div class="sum-filter-bar" style="padding: 0 10px;">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 30px; height: 40px;" ng-click="toggleSum()" title="{{ isAllCollapsed ? 'Collapse All' : 'Expand All' }}" ng-class="{'rotate-90': !isAllCollapsed}">
                        <i class="chevron linkable intelicon-fast-forward"></i>
                    </td>
                    <td style="width: 55px; text-align: center;" ng-show="canEdit">
                        <div style="font-size: 11px; line-height: 1em; margin-bottom: -5px;">All</div>
                        <input type="checkbox" name="allRadGrp"
                               class="with-font" id="all_rad_approve"
                               ng-click="clkAllRow($event, 'psCheck-Approve')" /><label for="all_rad_approve"></label>
                    </td>
                    <td style="width: 50px; text-align: center;" ng-show="canEdit">
                        <div style="font-size: 11px; line-height: 1em; margin-bottom: -5px;">All</div>
                        <input type="checkbox" name="allRadGrp"
                               class="with-font" id="all_rad_revise"
                               ng-click="clkAllRow($event, 'psCheck-Revise')" /><label for="all_rad_revise"></label>
                    </td>
                    <td style="width: 50px; text-align: center;" ng-show="canEdit">
                        <div style="font-size: 11px; line-height: 1em; margin-bottom: -5px;">All</div>
                        <input type="checkbox" name="allRadGrp"
                               class="with-font" id="all_rad_cancel"
                               ng-click="clkAllRow($event, 'psCheck-Cancel')" /><label for="all_rad_cancel"></label>
                    </td>
                    <td style="width: 100px; text-align: center;">
                        <div class="btn-group">
                            <button class="btn btn-sm btn-skyblue" type="button" ng-click="clearFilter()" title="Click to clear the filter" style="padding: 5px 10px 4px 10px; margin-right: 1px; margin-top: -2px; border-right: 1px solid #0071C5">
                                <i class="fa fa-filter" aria-hidden="true" style="font-size: 18px;" ng-class="{'filterUsed': hasFilter()}"></i>
                            </button>
                            <button class="btn btn-sm btn-skyblue dropdown-toggle" aria-expanded="false" type="button" data-toggle="dropdown" style="margin-top: -2px;">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu" role="menu">
                                <div ng-repeat="ps in contractData.PRC_ST | unique:'WF_STG_CD' | orderBy:'WF_STG_CD'">
                                    <input type="checkbox" class="with-font" id="item{{ps.DC_ID}}" ng-model="ps.filtered" /><label for="item{{ps.DC_ID}}">{{ps.WF_STG_CD}}</label>
                                </div>
                            </div>
                        </div>

                    </td>
                    <td style="width: 50px; text-align: center;"></td>
                    <td>
                        <span class="k-textbox k-space-left" style="width: 280px; margin-top: -4px;">
                            <input type="text" placeholder="Search for pricing strategies or tables" ng-model="titleFilter" />
                            <i class="k-icon intelicon-search" style="font-size: 26px; color: #00AEEF; margin-top: -12px;"></i>
                        </span>
                    </td>
                    <td style="width: 500px; text-align: right; padding-right: 2px;">

                        <div class="dropdown clearfix fr" style="padding-top: 5px;">
                            <button class="btn btn-skyblue dropdown-toggle" id="dropActionss" aria-expanded="true" type="button" data-toggle="dropdown">
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right cur-pointer" role="menu" aria-labelledby="dropActionss" style="min-width: 100px;">
                                <li role="presentation"><a tabindex="-1" role="menuitem" ng-click="actionItems()" title="Submit Approval, Revision and Cancel requests" ng-show="canEdit">Submit</a></li>
                                <li role="presentation"><a tabindex="-1" role="menuitem" href="#">Copy</a></li>
                                <li role="presentation"><a tabindex="-1" role="menuitem" ng-if="C_DELETE_CONTRACT" ng-click="deleteContract()" title="Delete the current Contract" ng-show="canEdit">Delete Contract</a></li>
                            </ul>
                        </div>

                    </td>
                </tr>
            </table>
        </div>
        <div style="padding: 0 10px;">
            <table style="width: 100%;" class="tbl-header">
                <tr>
                    <td style="width: 30px;">&nbsp;</td>
                    <td style="width: 60px; border-right: 1px solid #000000; text-align: center;" ng-show="canEdit">Approve</td>
                    <td style="width: 50px; border-right: 1px solid #000000; text-align: center;" ng-show="canEdit">Revise</td>
                    <td style="width: 50px; border-right: 1px solid #000000; text-align: center;" ng-show="canEdit">Cancel</td>
                    <td style="width: 100px; text-align: center;">Stage</td>
                    <td style="width: 50px; text-align: center;">Valid</td>
                    <td>Pricing Strategy Name | Table Name</td>
                    <td style="width: 100px; text-align: center;"># of Tables</td>
                    <td style="width: 160px; text-align: center;" ng-if="CAN_VIEW_COST_TEST">
                        <btn-run-pct-mct ng-model="root"
                                         contract-id="root.contractData.DC_ID"
                                         last-run="root.contractData.LAST_COST_TEST_RUN"
                                         on-complete="refreshContractDataIfNeeded"
                                         run-if-stale-by-hours="3"
                                         btn-type ="'pct'"
                                         btn-class="'btn-skyblue-sm'"></btn-run-pct-mct>
                    </td>
                    <td style="width: 160px; text-align: center;" ng-if="CAN_VIEW_MEET_COMP">
                        <btn-run-pct-mct ng-model="root"
                                         contract-id="root.contractData.DC_ID"
                                         last-run="root.contractData.LAST_COST_TEST_RUN"
                                         on-complete="refreshContractDataIfNeeded"
                                         run-if-stale-by-hours="3"
                                         btn-type ="'mct'"
                                         btn-class="'btn-skyblue-sm'"></btn-run-pct-mct>

                    </td>
                </tr>
            </table>
            <hr />
        </div>
    </div>
    <div id="sum-container" >
        <div class="sum-main-body">
            <div class="sum-main-container">
                <div ng-repeat="ps in contractData.PRC_ST | filter: summaryFilter" class="sumPsContainer">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 30px; height: 30px;" ng-click="isCollapsed = !isCollapsed">
                                <i class="chevron linkable" ng-class="{'intelicon-down': isCollapsed, 'intelicon-right-next': !isCollapsed}"></i>
                            </td>
                            <td style="width: 60px; text-align: center;" ng-show="canEdit">
                                <div ng-if="canAction('Approve', ps, true)" ng-attr-title="{{actionReason('Approve', ps)}}" ng-show="ps.WF_STG_CD !== 'Pending'">
                                    <input type="checkbox" name="radGrp{{ps.DC_ID}}" dcId="{{ps.DC_ID}}"
                                           ng-class="{'disabled': !canAction('Approve', ps, false)}"
                                           ng-disabled="!canAction('Approve', ps, false)"
                                           class="with-font psCheck psCheck-Approve" id="rad_approve_{{ps.DC_ID}}"
                                           ng-click="clkRow($event)" /><label for="rad_approve_{{ps.DC_ID}}"></label>
                                </div>
                            </td>
                            <td style="width: 50px; text-align: center;" ng-show="canEdit">
                                <div ng-if="canAction('Revise', ps, true)" ng-attr-title="{{actionReason('Revise', ps)}}">
                                    <input type="checkbox" name="radGrp{{ps.DC_ID}}" dcId="{{ps.DC_ID}}"
                                           ng-class="{'disabled': !canAction('Revise', ps, false)}"
                                           ng-disabled="!canAction('Revise', ps, false)"
                                           class="with-font psCheck psCheck-Revise" id="rad_revise_{{ps.DC_ID}}"
                                           ng-click="clkRow($event)" /><label for="rad_revise_{{ps.DC_ID}}"></label>
                                </div>
                            </td>
                            <td style="width: 50px; text-align: center;" ng-show="canEdit">
                                <div ng-if="canAction('Cancel', ps, true)" ng-attr-title="{{actionReason('Cancel', ps)}}">
                                    <input type="checkbox" name="radGrp{{ps.DC_ID}}" dcId="{{ps.DC_ID}}"
                                           ng-class="{'disabled': !canAction('Cancel', ps, false)}"
                                           ng-disabled="!canAction('Cancel', ps, false)"
                                           class="with-font psCheck psCheck-Cancel" id="rad_cancel_{{ps.DC_ID}}"
                                           ng-click="clkRow($event)" /><label for="rad_cancel_{{ps.DC_ID}}"></label>
                                </div>
                            </td>
                            <td style="width: 100px; text-align: center;">
                                <div class="stage">
                                    <div ng-bind="ps.WF_STG_CD || 'no stage'" ng-style="getStageBgColorStyle(ps.WF_STG_CD)"></div>
                                </div>
                            </td>
                            <td style="width: 50px; text-align: center;">
                                <i class="intelicon-protection-checked-verified-solid bigIcon validf_{{ps.PASSED_VALIDATION}}" ng-show="ps.PASSED_VALIDATION === 'Complete'" title="{{ps.PASSED_VALIDATION}}"></i>
                                <i class="intelicon-protection-checked-verified-solid bigIcon validf_{{ps.PASSED_VALIDATION}}" ng-show="ps.PASSED_VALIDATION === 'Finalizing'" title="{{ps.PASSED_VALIDATION}}"></i>
                                <i class="intelicon-protection-checked-verified-solid bigIcon validf_{{ps.PASSED_VALIDATION}}" ng-show="ps.PASSED_VALIDATION === 'Valid'" title="{{ps.PASSED_VALIDATION}}"></i>
                                <i class="intelicon-protection-failed-solid bigIcon validf_{{ps.PASSED_VALIDATION}}" ng-show="ps.PASSED_VALIDATION === 'Dirty'" title="{{ps.PASSED_VALIDATION}}"></i>
                                <i class="intelicon-protection-solid bigIcon validf_{{ps.PASSED_VALIDATION}}" ng-show="ps.PASSED_VALIDATION !== 'Valid' && ps.PASSED_VALIDATION !== 'Dirty' && ps.PASSED_VALIDATION !== 'Complete' && ps.PASSED_VALIDATION !== 'Finalizing'" title="{{ps.PASSED_VALIDATION || 'Not validated yet'}}"></i>
                            </td>
                            <td>
                                <div ng-bind="ps.TITLE" class="bolder linkable" ng-click="gotoContractEditor(ps)" title="Click to open the Pricing Strategy in the Contract Editor"></div>
                            </td>
                            <td style="width: 100px; text-align: center;">
                                <div ng-bind="ps.PRC_TBL.length" class="bolder"></div>
                            </td>
                            <td style="width: 160px; text-align: center;" ng-if="CAN_VIEW_COST_TEST">
                                <a ui-sref="{{ CAN_EDIT_COST_TEST ? 'contract.pct({cid: contractData.DC_ID})': '.'}}" class="lnkIcon" ng-class="{'noPointer': !CAN_EDIT_COST_TEST}">
                                    <icon-mct-pct ng-model="ps.COST_TEST_RESULT" icon-class="'bigIcon'"></icon-mct-pct>
                                </a>
                            </td>
                            <td style="width: 160px; text-align: center;" ng-if="CAN_VIEW_MEET_COMP">
                                <a ui-sref="{{ CAN_EDIT_MEET_COMP ? 'contract.compliance({cid: contractData.DC_ID})': '.'}}" class="lnkIcon" ng-class="{'noPointer': !CAN_EDIT_MEET_COMP}">
                                    <icon-mct-pct ng-model="ps.MEETCOMP_TEST_RESULT" icon-class="'bigIcon'"></icon-mct-pct>
                                </a>
                            </td>
                        </tr>
                    </table>

                    <div uib-collapse="!isCollapsed" ng-repeat="pt in ps.PRC_TBL">
                        <table style="width: 100%; ">
                            <tr>
                                <td style="width: 20px;" ng-show="canEdit"></td>
                                <td style="width: 220px; height: 30px;" ng-click="isPtCollapsed = !isPtCollapsed; togglePt(ps, pt)" ng-show="canEdit">
                                    <i class="chevron linkable" style="font-size: 20px; padding-left: 6px;" ng-class="{'intelicon-down': isPtCollapsed, 'intelicon-right-next': !isPtCollapsed}"></i>
                                </td>
                                <td style="width: 30px; height: 30px;" ng-click="isPtCollapsed = !isPtCollapsed; togglePt(ps, pt)" ng-hide="canEdit">
                                    <i class="chevron linkable" style="font-size: 20px; padding-left: 6px;" ng-class="{'intelicon-down': isPtCollapsed, 'intelicon-right-next': !isPtCollapsed}"></i>
                                </td>
                                <td style="width: 100px; padding-left: 40px; color: #000000; text-align: center;">
                                </td>
                                <td style="width: 50px; padding-left: 17px;">
                                    <div class="textCircle valid_{{ pt.PASSED_VALIDATION }}">{{ pt.OBJ_SET_TYPE_CD | limitTo:1 }}</div>
                                </td>
                                <td>
                                    <div ng-bind="pt.TITLE" class="bold linkable" ng-click="gotoContractEditor(ps,pt)" title="Click to open the Pricing Table in the Contract Editor"></div>
                                </td>
                                <td style="width: 100px;"></td>
                                <td style="width: 160px; text-align: center;" ng-if="CAN_VIEW_COST_TEST">
                                    <a ui-sref="{{ CAN_EDIT_COST_TEST ? 'contract.pct({cid: contractData.DC_ID})': '.'}}" class="lnkIcon" ng-class="{'noPointer': !CAN_EDIT_COST_TEST}">
                                        <icon-mct-pct ng-model="pt.COST_TEST_RESULT" icon-class="'medIcon'"></icon-mct-pct>
                                    </a>
                                </td>
                                <td style="width: 160px; text-align: center;" ng-if="CAN_VIEW_MEET_COMP">
                                    <a ui-sref="{{ CAN_EDIT_MEET_COMP ? 'contract.compliance({cid: contractData.DC_ID})': '.'}}" class="lnkIcon" ng-class="{'noPointer': !CAN_EDIT_MEET_COMP}">
                                        <icon-mct-pct ng-model="pt.MEETCOMP_TEST_RESULT" icon-class="'medIcon'"></icon-mct-pct>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        
                        <div uib-collapse="!isPtCollapsed">
                            <div ng-show="pt.isLoading === undefined || pt.isLoading">Loading...</div>
                            <div ng-hide="pt.isLoading === undefined || pt.isLoading" style="margin-left: 200px;">
                                <div id="sumWipGrid_{{pt.DC_ID}}" class="opUiContainer md dashboard"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .k-dialog .k-content {
        margin-top: 0 !important;
    }

    #sum-wrapper {
        height: 100%;
        padding: 100px 0 0 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    #sum-header {
        height: 100px;
        margin-top: -100px;
        font-size: 14px;
        font-family: "Intel Clear";
        font-weight: 200;
        font-style: normal;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        margin-left: 0;
        margin-right: 0;
    }
    #sum-container {
        height: 100%;
        overflow: auto;
    }

    .md-icon {
        padding: 4px 2px 0 5px;
    }
    .md-icon i {
        color: #00AEEF;
    }
    .md-icon a, .md-icon a:hover {
        text-decoration: none;
    }
    .md-icon i:hover {
        color: #003C71 !important;
    }

    .md-icon-disabled {
        padding: 4px 2px 0 5px;
    }
    .md-icon-disabled i {
        color: #00AEEF;
    }

    .divStg {
        width: 60px;
        height: 100%;
        text-align: center;
        padding-top: 5px;
        margin-right: 5px;
    }

    .opUiContainer.md.k-grid td:first-child {
        padding-left: 0;
    }

    .opUiContainer.md.k-grid tr {
        height: 30px;
    }

    .opUiContainer.k-grid .k-grid-header th.k-header a {
        color: #000000;
        font-weight: 400;
    }

    .opUiContainer.k-grid .k-grid-header th.k-header {
        color: #000000;
        font-weight: 400;

        background: #fdfdfd; /* Old browsers */
        background: -moz-linear-gradient(top,  #fdfdfd 0%, #d9d9d9 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #fdfdfd 0%,#d9d9d9 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #fdfdfd 0%,#d9d9d9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#d9d9d9',GradientType=0 ); /* IE6-9 */
    }

    .opUiContainer.k-grid .k-pager-wrap, .opUiContainer.k-grid .k-pager-numbers .k-state-selected {
        background-color: #ffffff;
    }

    .opUiContainer.k-grid .k-alt {
        background-color: #ffffff;
    }

    .k-dialog .k-dialog-title, .k-dialog .k-window-title {
        display: none !important;
    }
    .k-dialog .k-content  {
        margin-top: -30px;
    }

    .psCheck {
        
    }

    #sum-container .k-textbox.k-space-left {
        padding-left: 2.1em;
    }

    .btn-skyblue {
        background-color: #00AEEF;
        border: 1px solid  #00AEEF;
        color: #ffffff;
        border-radius: 4px;
    }
    .btn-skyblue:hover {
        background-color: #0071C5;
        border: 1px solid  #0071C5;
        color: #ffffff;
    }
    .btn-skyblue i {
        font-size: 20px;
        margin-right: 6px;
    }

    .btn-skyblue-sm {
        background-color: #00AEEF;
        border: 1px solid  #00AEEF;
        color: #ffffff;
        border-radius: 4px;
        padding: 2px !important;
    }
    .btn-skyblue-sm:hover {
        background-color: #0071C5;
        border: 1px solid  #0071C5;
        color: #ffffff;
    }
    .btn-skyblue-sm i {
        font-size: 20px;
        margin: 0;
        padding: 0;
    }

    .btn-grey {
        background-color: #e4e9ea;
        border: 1px solid  #e4e9ea;
        color: #70706e;
        border-radius: 4px;
    }
    .btn-grey:hover {
        background-color: #00AEEF;
        border: 1px solid  #00AEEF;
        color: #ffffff;
    }
    .btn-grey i {
        font-size: 20px;
        margin-right: 6px;
    }

    .btn-negative {
        background-color: #FC4C02;
        border: 1px solid  #FC4C02;
        color: #ffffff;
        border-radius: 4px;
    }
    .btn-negative:hover {
        background-color: #FFA300;
        border: 1px solid  #FFA300;
        color: #ffffff;
    }
    .btn-negative i {
        font-size: 20px;
        margin-right: 6px;
    }

    .chevron {
        color: #00AEEF;
        font-size: 25px;
    }

    table td {
         border: 0px solid #ccc;
    }

    .tbl-header {
        margin-top: 10px;
    }

    .k-tabstrip-wrapper {
        border-bottom: 0 solid #eeeeee;
    }

    .sum-main-body {
        margin: 5px 10px;
        padding: 0 10px;
    }

    .sum-main-container {
        height: 100%;
        overflow: auto;
    }

    .dropdown-menu label {
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0;
    }

    .sum-filter-bar {
        border: 0 solid #e4e4e4;
        border-left: 1px solid #e4e4e4;
        border-right: 1px solid #e4e4e4;
        background-color: #eeeeee; 
        height: 50px;
        padding: 5px 2px;
        font-size: 14px;
        font-family: "Intel Clear";

        background: #fdfdfd; /* Old browsers */
        background: -moz-linear-gradient(top,  #fdfdfd 0%, #d9d9d9 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #fdfdfd 0%,#d9d9d9 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #fdfdfd 0%,#d9d9d9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#d9d9d9',GradientType=0 ); /* IE6-9 */
    }
    .sum-main-body .tbl-header {
        margin-top: 6px;
    }

    #sum-header hr {
        height: 1px;
        margin: 6px 0;
        color: #e4e4e4;
    }

    .sum-main-body .bold {
        color: #00AEEF;
        font-weight: bold;
        font-size: 14px;
        line-height: 1em;
    }
    .sum-main-body .bolder {
        color: #00AEEF;
        font-weight: bold;
        font-size: 16px;
        line-height: 1em;
    }
    .linkable {
        cursor: pointer;
    }
    .linkable:hover {
        color: #003C71;
    }

    .sum-main-body label {
        margin-bottom: 0;
    }

    .sum-main-body .stage {
        text-align: center; 
    }
    .sum-main-body .stage div {
        margin: 0 10px;
        padding: 4px 4px;
    }

    input[type=radio].with-font,
    input[type=checkbox].with-font {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    
    input[type=radio].with-font + label:before,
    input[type=checkbox].with-font + label:before {
        font-family: FontAwesome;
        display: inline-block;
        content: "\f096";
        font-size: 20px;
        letter-spacing: 10px;
        color: #00AEEF;
        margin-left: 10px;
    }
    input[type=radio].with-font:hover + label:before,
    input[type=checkbox].with-font:hover + label:before {
        color: #003C71;
        cursor: pointer;
    }
    input[type=radio].with-font.disabled + label:before,
    input[type=checkbox].with-font.disabled + label:before {
        color: #cccccc;
        cursor: default;
    }
    
    input[type=radio].with-font:checked + label:before,
    input[type=checkbox].with-font:checked + label:before {
        content: "\f046";
        font-size: 20px;
        letter-spacing: 5px;
        color: #C4D600;
        margin-left: 10px;
    }
    input[type=radio].with-font:focus + label:before,
    input[type=checkbox].with-font:focus + label:before {
        font-weight: bold;
        color:#C4D600;
    }

    .bigIcon {
        font-size: 26px;
    }
    .medIcon {
        font-size: 18px;
    }

    .filterUsed {
        color: #003C71;
    }



        
    
    
    
    .gradTab.k-tabstrip {
        background: #ffffff; /* Old browsers */
        border-bottom: 0 solid transparent;
        height: 37px;
        font-size: 14px;
        font-family: "Intel Clear";
    }
    .gradTab .k-tabstrip-items .k-item {
        background: #fdfdfd; /* Old browsers */
        border: 0 solid transparent;
    }
    .gradTab .k-tabstrip-items {
        border-color: transparent;
        border-width: 1px;
        border-left-width: 1px;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 0;
        border-radius: 4px 4px 0 0;
    }
    .gradTab .k-tabstrip-items .k-state-active {
        background-color: #fff;
        border-color: #b1babf;
        border-width: 1px;
        border-left-width: 1px;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 0;
        border-radius: 4px 4px 0 0;
    }
    .gradTab .k-tabstrip-top>.k-tabstrip-items>.k-item {
        border-bottom-width: 0;
        border: 0 solid transparent;
    }
    .gradTab.k-tabstrip .k-tabstrip-items .k-link {
        background: #fdfdfd; /* Old browsers */
        background: -moz-linear-gradient(top,  #fdfdfd 0%, #d9d9d9 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #fdfdfd 0%,#d9d9d9 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #fdfdfd 0%,#d9d9d9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#d9d9d9',GradientType=0 ); /* IE6-9 */
        color: #003C71;    
        padding: 0.6em !important;
        text-transform: none !important;
        background-color: #fff;
        border-bottom-width: 0;
    }
    .gradTab.k-tabstrip .k-tabstrip-items .k-state-active .k-link {
        color: #00AEEF;
        background-color: #ffffff;
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }
    .gradTab.k-tabstrip .k-tabstrip-items .k-state-hover .k-link {
        background: #d9d9d9; /* Old browsers */
        background: -moz-linear-gradient(top,  #d9d9d9 0%, #fdfdfd 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #d9d9d9 0%,#fdfdfd 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #d9d9d9 0%,#fdfdfd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#fdfdfd',GradientType=0 ); /* IE6-9 */
        color: #003C71;
    }
    .gradTab.k-tabstrip .k-tabstrip-items {
        padding: 2px 10px;
    }
    .gradTab.k-tabstrip:focus {
        box-shadow: none !important;
    }

    .gradTab.k-tabstrip ul li.k-item .k-link {
        width: 80px;
        text-align: center;
    }


    .gradTab i:first-child {
        font-size: 16px;
        cursor: pointer;
        color: #00AEEF;
        padding: 3px;
        border-radius: 50%;
        background-color: transparent;
        margin-left: 4px;
    }
    .gradTab i:first-child:hover {
        color: #FFFFFF;
        background-color: #00AEEF;
    }
    .gradTab i.active {
        color: #FFFFFF;
        background-color: #003C71;
    }

    .gradTab i.closeGrp {
        font-size: 16px;
        color: #00AEEF;
        margin-left: 6px;
        margin-right: 4px
    }
    .gradTab i.closeGrp:hover {
        color: #FC4C02;
    }

    .gradTab .badge {
        vertical-align: top;
    }
    .gradTab .badge.error {
        background-color: #FC4C02;
    }

    .toolbar {
        border: 0 solid #b1babf;
        height: 55px;
        padding: 2px 10px 3px 10px;
    }
    .toolbar .btn {
        border: 1px solid transparent;
        color: #00AEEF;
    }

    .toolbar .btn-default.disabled {
        background-color: transparent !important;
        color: #dddddd !important;
    }

    a.lnkIcon {
        text-decoration: none;
    }

    .noPointer {
        cursor: default;
    }

    .toggle-accept .toggle {
        width: 150px !important;
        border-radius: 4px;
        height: 19px !important;
    }
    .toggle-accept .toggle .btn-success {
        background-color: #00AEEF;
        color: #ffffff;
        font-size: 14px;
        line-height: 1.2em;
    }
    .toggle-accept .toggle .btn-default {
        background-color: #C4D600;
        color: #ffffff;
        font-size: 14px;
        line-height: 1.2em;
    }
    .toggle-accept .toggle .toggle-handle {
        background-color: #eeeeee;        
    }
    .dialogPending.k-content {
        padding: 0;
        background-color: #003C71;
        color: #ffffff;
        margin-top: -50px !important;
        height: 310px !important;    
    }
    .dialogPending.k-content p {
        font-size: 14px;
    }
    .wrn-red {
        background-color: #fc3741;
        color: #ffffff;
        padding: 4px 10px;
    }
    .k-widget.k-upload.k-header {
        border: 0 solid transparent;
    }
    .k-upload-files {
        height: 110px;
        overflow: auto;
    }
    ul.cur-pointer li {
        cursor: pointer;
    }

    .contract-status-bar.valid_Valid, 
    .contract-status-bar.valid_Finalizing, 
    .contract-status-bar.valid_Complete, 
    .contract-status-bar.valid_, 
    .contract-status-bar.valid_0, 
    .contract-status-bar.valid_Dirty {
        background: #ffffff;
    }
</style>