<div class="container-fluid editor101">
    <div class="row">
        <div class="col-md-11" style="text-align: center;">
            <h4>Contract Editor 101</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            
            <div class="pnl">
                <div class="head">Contract Navigator Menu Actions</div>
                <div class="body">
                    <div class="fl icon">
                        <div>
                            <i class="intelicon-save-outlined"></i>
                        </div>
                        <div>
                            <p>Save</p>
                        </div>
                    </div>
                    <div class="fl icon" ng-if="C_ADD_PRICING_STRATEGY">
                        <div>
                            <i class="intelicon-plus-max"></i>
                        </div>
                        <div>
                            <p>Add Strategy</p>
                        </div>
                    </div>
                    <div class="fl icon">
                        <div>
                            <i class="intelicon-search"></i>
                        </div>
                        <div>
                            <p>Search Contract</p>
                        </div>
                    </div>
                    <div class="fl icon">
                        <div>
                            <i class="intelicon-fast-forward"></i>
                        </div>
                        <div>
                            <p>Expand/ Minimize</p>
                        </div>
                    </div>
                    <!--<div class="fl icon">
                        <div>
                            <i class="intelicon-show-results-outlined"></i>
                        </div>
                        <div>
                            <p>View Contract Manager</p>
                        </div>
                    </div>-->
                    <div class="fl icon">
                        <div>
                            <i class="intelicon-shrink flip-horizontal"></i>
                        </div>
                        <div>
                            <p>Show/Hide Panel</p>
                        </div>
                    </div>
                    <div class="clearboth"></div>
                </div>
            </div>

            <div class="pnl">
                <div class="head">Additional Discounts & Requirements</div>
                <div class="body">
                    <div class="fl icon">
                        <div>
                            <i class="intelicon-pin-solid inverse"></i>
                        </div>
                        <div>
                            <p>Save / Hide</p>
                        </div>
                    </div>
                    <div class="fl" style="padding-left: 20px; padding-top: 5px;">
                        <p>A place for your Additional Discount & Requirements</p>
                        <p>
                            <span style="color: #FC4C02;">**</span>Please note that they are linked to all your tables within a strategy.<br/>
                            Any changes made in <b>one</b> table will update the <b>others</b> within the strategy.
                        </p>
                    </div>
                    <div class="clearboth"></div>
                </div>
            </div>

        </div>
        <div class="col-md-5">

            <div class="pnl">
                <div class="head">Navigator Menus</div>
                <div class="body">
                    <div style="padding-left: 20px; padding-top: 5px;">
                        <p>Click for access to the menus for both Pricing Strategy & Pricing Table management</p>
                        <img src="/images/learning101menu.png" style="margin-bottom: 13px;"/>
                        <p>
                            <span style="color: #FC4C02;">**</span>Please note menus will display actions based off of role type &/or rules
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    .k-splitter .k-scrollable {
        overflow: auto !important;
    }

    .editor101 h4 {
        margin-top: 0;
        color: #0071C5;
    }

    .editor101 .pnl {
        margin: 20px 10px;
        border: 1px solid #e7e7e8;
    }

    .editor101 .head {
        border-bottom: 1px solid #e7e7e8;
        background-color: #e7e7e8;
        padding: 6px;
        font-size: 16px;
        color: #0071C5;
        font-weight: 600;
    }

   .editor101 .body {
        padding: 6px;
    }

   .editor101 .icon {
       text-align: center;
       margin: 10px 7px;
       width: 70px;
   }
   .editor101 .icon i {
       color: #00AEEF;
       font-size: 30px;
   }
   .editor101 .icon i.inverse {
       color: #ffffff;
       font-size: 30px;
       background-color: #00AEEF;
       border-radius: 4px;
       padding: 4px;
   }
   
   .editor101 .icon div {
       font-weight: 600;
   }

   .editor101 .icon p {
       margin: 6px 0;
   }

</style>