<div class="navIconLnk-small-wrapper" ng-show="isLnavHidden">
    <div class="contract-status-bar stage_{{ contractData.WF_STG_CD }}"></div>

    <div class="navIconLnk" title="Show Panel" ng-click="toggleLnav()">
        <i class="intelicon-expand"></i>
    </div>
    <!--<div class="navIconLnk" title="Save Contract" ng-click="saveUpperContract()" ng-show="isExistingContract()" ng-class="{'lnavBtnDisabled': !_dirty}">
        <i class="intelicon-save-outlined"></i>
    </div>-->
    <div class="navIconLnk" title="Add Pricing Strategy" ng-if="C_ADD_PRICING_STRATEGY" ng-click="toggleLnav();toggleAddStrategy()" ng-class="{'active': !isAddStrategyHidden}" ng-show="isExistingContract()">
        <i class="intelicon-plus-max"></i>
    </div>
    <div class="navIconLnk" title="Filter Current Contract" ng-show="isExistingContract()" ng-click="toggleLnav();toggleSearch()" ng-class="{'active': !isSearchHidden}">
        <i class="intelicon-search"></i>
    </div>
    
    <div ng-include="'app/contract/partials/lnavFlowMini.html'"></div>
</div>