<!-- Add Pricing Strategy -->
    <!--<button class="addPsBtn btn btn-sm btn-primary" ng-hide="isAddStrategyBtnHidden" ng-click="toggleAddStrategy()">
        <i class="intelicon-plus-max"></i> New Pricing Strategies
    </button>-->
        <div class="scaleTopAnim lnavMenuOption" style="padding: 10px;" ng-hide="isAddStrategyHidden">
            <form name="addNewPsForm" ng-submit="submitForm(CustomAddPsValidate())" novalidate>
                <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
                <div class="fl ptLnavTitle">Enter {{psTitle}} Name</div>
                <div class="clearboth"></div>
                <div class="bgBlueContainer" ng-if="C_ADD_PRICING_STRATEGY" ng-class="{isErrorWrapper: newStrategy._behaviors.isError.TITLE}">
                    <div kendo-tooltip k-content="newStrategy._behaviors.validMsg.TITLE" k-position="'top'" ng-show="newStrategy._behaviors.isError.TITLE" class="err-bit-el"></div>
                    <input type="text" class="k-textbox fl" placeholder=""
                           style="width: 228px; color: black;"
                           maxlength="250"
                           id="inptPrcTitle"
                           ng-model="newStrategy.TITLE"
                           ng-class="{isError: newStrategy._behaviors.isError.TITLE}" />
                    <button ng-show="!addStrategyDisabled" class="btn btn-sm btn-primary" type="submit" style="font-size: 12px; margin-left: 6px; background-color: #00AEEF; padding: 7px 10px;" ng-click="customAddPsValidate()">Add</button>
                    <button ng-show="addStrategyDisabled" class="btn btn-sm btn-primary btn-pending" style="font-size: 12px; margin-left: 6px; background-color: #00AEEF; padding: 7px 10px;">Add</button>
                    <div class="clearboth"></div>
                    <div style="color: #F3D54E;">{{ newStrategy._behaviors.validMsg.TITLE }}</div>
                </div>
                <div ng-if="!C_ADD_PRICING_STRATEGY">
                    <div kendo-tooltip k-content="newStrategy._behaviors.validMsg.TITLE" k-position="'top'" ng-show="newStrategy._behaviors.isError.TITLE" class="err-bit-el"></div>
                    <input type="text" class="k-textbox fl" placeholder=""
                           style="width: 228px; color: black;"
                           maxlength="250"
                           disabled
                           id="inptPrcTitle"
                           ng-model="newStrategy.TITLE"
                           ng-class="{isError: newStrategy._behaviors.isError.TITLE}" />
                    <div class="clearboth"></div>
                    <div style="color: #F3D54E;"><h3>Sorry, you cannot add new {{psTitle}}</h3></div>
                </div>

            </form>
        </div>

        <div class="help-add-ps" id="divHelpAddPs" ng-if="C_ADD_PRICING_STRATEGY">
            <div>
                <i class="intelicon-arrow-up"></i>
            </div>
            Start by adding a<br />{{psTitle}}
        </div>

<style>
    .help-add-ps {
        position: absolute;
        top: calc(90vh);
        left: 30px;
        width: 200px; 
        padding: 0 20px; 
        font-size: 18px;
        opacity: 0;
        color: #f3D54E;
    }
    .help-add-ps i {
        font-size: 40px;
        color: #f3D54E;
    }
</style>
