<!-- Pricing Strategies -->
<div ng-hide="isPricingStrategiesHidden" style="margin-top: 10px;">
    
    <div ng-if="isBusy" class="ss-loading-overlay" style="z-index: 0"></div>
    <div ng-repeat="ps in contractData.PRC_ST | filter:query" class="lnavStrategyContainer">

        <div class="psNav" id="lnavPs_{{ ps.DC_ID }}" ng-class="{active: (curPricingStrategy.DC_ID == ps.DC_ID && isAddStrategyHidden == true && isAddPricingTableHidden == false)}">
            <div class="fl" ng-click="isCollapsed = !isCollapsed">
                <i class="glyphicon" style="margin-right: 5px; margin-top: 3px;" ng-class="{'glyphicon-chevron-down': !isCollapsed, 'glyphicon-chevron-right': isCollapsed}"></i>
            </div>
            <div class="fl" style="width: 225px; font-size: 12px;" ng-init="isEditable=false" title="Stage: {{ ps.WF_STG_CD }}">
                <div class="fl" title="{{ ps.PASSED_VALIDATION || 'Not validated yet' }}" style="margin: 0 4px 2px 0px; line-height: 1em; font-size: 20px;">
                    <i class="intelicon-protection-solid bigIcon validf_{{ps.PASSED_VALIDATION}}" ng-show="ps.PASSED_VALIDATION === 'Complete'" title="{{ps.PASSED_VALIDATION}}"></i>
                    <i class="intelicon-protection-outlined bigIcon validf_{{ps.PASSED_VALIDATION}}" ng-show="ps.PASSED_VALIDATION === 'Finalizing'" title="{{ps.PASSED_VALIDATION}}"></i>
                    <i class="intelicon-protection-outlined bigIcon validf_{{ps.PASSED_VALIDATION}}" ng-show="ps.PASSED_VALIDATION === 'Valid'" title="{{ps.PASSED_VALIDATION}}"></i>
                    <i class="intelicon-protection-outlined bigIcon validf_{{ps.PASSED_VALIDATION}}" ng-show="ps.PASSED_VALIDATION === 'Dirty'" title="{{ps.PASSED_VALIDATION}}"></i>
                    <i class="intelicon-protection-outlined bigIcon validf_{{ps.PASSED_VALIDATION}}" ng-show="ps.PASSED_VALIDATION !== 'Valid' && ps.PASSED_VALIDATION !== 'Dirty' && ps.PASSED_VALIDATION !== 'Complete' && ps.PASSED_VALIDATION !== 'Finalizing'" title="{{ps.PASSED_VALIDATION || 'Not validated yet'}}"></i>
                </div>
                <div ng-click="isCollapsed = !isCollapsed" ng-hide="isEditable" class="w100">{{ ps.TITLE }}</div>
            </div>

            <div class="fr" ng-if="C_ADD_PRICING_STRATEGY || ps._settings.C_ADD_PRICING_TABLE || ps._settings.C_DEL_PRICING_TABLE || usrRole === 'SA'">
                <span class="hasMenuPs{{ ps.DC_ID }} ptBtn" title="View more options"><i class="intelicon-vertical-menu"></i></span>
                <ul kendo-context-menu k-filter="'.hasMenuPs{{ ps.DC_ID }}'" k-show-on="'click'">

                    <!-- If you can add PS, give the button to do so -->
                    <li role="presentation" ng-show="C_ADD_PRICING_STRATEGY"><a tabindex="-1" role="menuitem" ng-click="toggleAddStrategy(); isCollapsed = false"><i class="intelicon-plus-max"></i> Add Pricing Strategy</a></li>
                    <li role="presentation" ng-show="C_ADD_PRICING_STRATEGY"><a tabindex="-1" role="menuitem" ng-click="copyPricingStrategy(contractData, ps)"><i class="intelicon-copy-outlined"></i> Copy Pricing Strategy</a></li>

                    <li role="presentation" ng-show="ps._settings.C_ADD_PRICING_TABLE"><a tabindex="-1" role="menuitem" ng-click="showAddPricingTable(ps); isCollapsed = false"><i class="intelicon-plus-max"></i> Add Pricing Table</a></li>

                    <li role="presentation"><a tabindex="-1" role="menuitem" ng-click="editPricingStrategyName(ps)"><i class="intelicon-edit"></i> Edit Pricing Strategy Name</a></li>

                    <!-- DELETE/CANCEL/ROLLBACK PS-->
                    <!-- If PS has no trackers under it and you can add one, you can remove it -->
                    <!-- Sorry Phil, but there is a case where the PS is in ReDeal due to adding a new deal, but IN_REDEAL is not set because effectively, do deals are being re-dealed. Stages got to stay for now. -->
                    <li role="presentation" ng-show="ps._settings.C_ADD_PRICING_TABLE && ps.HAS_TRACKER !== '1'"><a tabindex="-1" role="menuitem" ng-click="deletePricingStrategy(ps)"><i class="intelicon-trash-outlined"></i> Delete Pricing Strategy</a></li>
                    <!-- If PS has trackers under it and it is in play and you can add one, you can roll it back // REMOVED THIS UNTIL ROLLBACK STORY CAN BE FIXED PROPERLY - US106967 Remove Rollback option for Pricing Strategies --> 
                    
                    <li role="presentation" ng-show="usrRole === 'SA' && ps.HAS_TRACKER === '1' && !(ps.WF_STG_CD === 'Cancelled' || ps.WF_STG_CD === 'Approved')"><a tabindex="-1" role="menuitem" ng-click="rollBackPricingStrategy(ps)"><i class="fa fa-undo"></i> Undo Pricing Strategy Re-deal</a></li>
                    <!--<li role="presentation" ng-show="usrRole === 'SA' && ps._settings.C_ADD_PRICING_TABLE && ps.HAS_TRACKER === '1' && !(ps.WF_STG_CD === 'Cancelled' || ps.WF_STG_CD === 'Approved')"><a tabindex="-1" role="menuitem" ng-click="rollBackPricingStrategy(ps)"><i class="fa fa-undo"></i> Undo Pricing Strategy Re-deal</a></li>-->
                   
                    <!-- If PS is active and you are allowed to cancel -->
                    <li role="presentation" ng-show="ps._actions['Cancel'] !== undefined && ps.WF_STG_CD === 'Approved'"><a tabindex="-1" role="menuitem" ng-click="cancelPricingStrategy(ps)"><i class="intelicon-no-access"></i> Cancel Entire Pricing Strategy</a></li>

                </ul>
            </div>

            <div class="clearboth"></div>
        </div>

        <div uib-collapse="isCollapsed" style="margin-bottom: 10px;">
            <div ng-repeat="pt in ps.PRC_TBL | filter:query" class="lnavPricingTableContainer">
                <div id="lnavPt_{{ pt.DC_ID }}" class="ptNav" ng-class="{active: (curPricingTable.DC_ID == pt.DC_ID && isAddStrategyHidden == true && isAddPricingTableHidden == true)}">
                    <div class="fl textCircle valid_{{ pt.PASSED_VALIDATION }}" title="{{ pt.PASSED_VALIDATION || 'Not validated yet' }}">{{ pt.OBJ_SET_TYPE_CD | limitTo:1 }}</div>
                    <div class="fl" style="margin: 0 6px;" ng-init="isEditable=false">
                        <div ng-if="pt.PASSED_VALIDATION !== 'Complete' && pt.PASSED_VALIDATION !== 'Finalizing'"
                             ng-click="hideAddPricingTable(); isAddStrategyHidden=true" style="width: 195px;"
                             ui-sref="contract.manager.strategy({cid:contractData.DC_ID,sid:ps.DC_ID,pid:pt.DC_ID})"
                             ui-sref-opts="{reload: true}">
                            {{ pt.TITLE }}
                        </div>
                        <div ng-if="pt.PASSED_VALIDATION === 'Complete' || pt.PASSED_VALIDATION === 'Finalizing'"
                             ng-click="hideAddPricingTable(); isAddStrategyHidden=true" style="width: 195px;"
                             ui-sref="contract.manager.strategy.wip({cid:contractData.DC_ID,sid:ps.DC_ID,pid:pt.DC_ID})"
                             ui-sref-opts="{reload: true}">
                            {{ pt.TITLE }}
                        </div>
                    </div>

                    <div class="fr" ng-if="C_ADD_PRICING_STRATEGY || ps._settings.C_ADD_PRICING_TABLE || ps._settings.C_DEL_PRICING_TABLE || usrRole === 'SA'">
                        <span class="hasMenuPt{{ pt.DC_ID }} ptBtn" title="View more options"><i class="intelicon-vertical-menu"></i></span>
                        <ul kendo-context-menu k-filter="'.hasMenuPt{{ pt.DC_ID }}'" k-show-on="'click'">
                            <li role="presentation" ng-show="C_ADD_PRICING_STRATEGY"><a tabindex="-1" role="menuitem" ng-click="toggleAddStrategy(); isCollapsed = false"><i class="intelicon-plus-max"></i> Add Pricing Strategy</a></li>

                            <!-- If you can add PT, give the button to do so -->
                            <li role="presentation" ng-show="ps._settings.C_ADD_PRICING_TABLE"><a tabindex="-1" role="menuitem" ng-click="showAddPricingTable(ps); isCollapsed = false"><i class="intelicon-plus-max"></i> Add Pricing Table</a></li>
                            <li role="presentation" ng-show="ps._settings.C_ADD_PRICING_TABLE"><a tabindex="-1" role="menuitem" ng-click="copyPricingTable(ps,pt);"><i class="intelicon-copy-outlined"></i> Copy Pricing Table</a></li>


                            <li role="presentation"><a tabindex="-1" role="menuitem" ng-click="editPricingTableName(pt)"><i class="intelicon-edit"></i> Edit Pricing Table Name</a></li>

                            <li role="presentation" ng-show="ps._settings.C_ADD_PRICING_TABLE"><a tabindex="-1" role="menuitem" ng-click="showEditPricingTableDefaults(pt)"><i class="intelicon-edit"></i> Edit Autofill Defaults</a></li>

                            <!-- DELETE/CANCEL/ROLLBACK PT-->
                            <!-- Sorry Phil, but there is a case where the PT is in ReDeal due to adding a new deal, but IN_REDEAL is not set because effectively, do deals are being re-dealed. Stages got to stay for now. -->
                            <!-- If PT has no trackers under it and you can add one, you can remove it -->
                            <li role="presentation" ng-show="ps._settings.C_DEL_PRICING_TABLE && pt.HAS_TRACKER !== '1'"><a tabindex="-1" role="menuitem" ng-click="deletePricingTable(ps, pt)"><i class="intelicon-trash-outlined"></i> Delete Pricing Table</a></li>
                            <!-- If PT has trackers under it and it is in play and you can add one, you can roll it back -->
                            <li role="presentation" ng-show="ps._settings.C_DEL_PRICING_TABLE && pt.HAS_TRACKER === '1' && pt.REBATE_TYPE !== 'TENDER' && (pt.PS_WF_STG_CD !== 'Cancelled' && pt.PS_WF_STG_CD !== 'Approved')"><a tabindex="-1" role="menuitem" ng-click="rollBackPricingTable(ps, pt)"><i class="fa fa-undo"></i> Undo Pricing Table Re-deal</a></li> 
                            <!-- If PT has a tracker and is not currently in redeal (it must be active) and you are allowed to cancel -->
                            <li role="presentation" ng-show="ps._actions['Cancel'] !== undefined && pt.HAS_TRACKER === '1' && pt.REBATE_TYPE !== 'TENDER' && pt.PS_WF_STG_CD === 'Approved'"><a tabindex="-1" role="menuitem" ng-click="cancelPricingTable(ps, pt)"><i class="fa fa-undo"></i> Cancel Entire Pricing Table</a></li> 

                            <!-- Tender Deal Lines -->
                            <!-- If PT has trackers under it and it is in play and you can add one, you can roll it back -->
                            <!--<li role="presentation" ng-show="ps._settings.C_DEL_PRICING_TABLE && pt.HAS_TRACKER === '1' && pt.IN_REDEAL === '1' && pt.REBATE_TYPE === 'TENDER' && (pt.PS_WF_STG_CD !== 'Cancelled' || pt.PS_WF_STG_CD !== 'Approved')"><a tabindex="-1" role="menuitem" ng-click="rollBackPricingTable(ps, pt)"><i class="fa fa-undo"></i> Undo Pricing Table Re-deal</a></li>-->
                            <li role="presentation" ng-show="usrRole === 'SA' && pt.HAS_TRACKER === '1' && pt.IN_REDEAL === '1' && pt.REBATE_TYPE === 'TENDER' && (pt.PS_WF_STG_CD !== 'Cancelled' && pt.PS_WF_STG_CD !== 'Approved')"><a tabindex="-1" role="menuitem" ng-click="rollBackPricingTable(ps, pt)"><i class="fa fa-undo"></i> Undo Pricing Table Re-deal</a></li>
                            <!-- If PT has a tracker and is not currently in redeal (it must be active) and you are allowed to cancel -->
                            <li role="presentation" ng-show="ps._actions['Cancel'] !== undefined && pt.HAS_TRACKER === '1' && pt.IN_REDEAL === '0' && pt.REBATE_TYPE === 'TENDER'"><a tabindex="-1" role="menuitem" ng-click="cancelPricingTable(ps, pt)"><i class="fa fa-undo"></i> Cancel Entire Pricing Table</a></li> 
                        </ul>
                    </div>

                    <div class="clearboth"></div>
                </div>
            </div>
        </div>


    </div>
</div>
