<div style="height: 23px; border-bottom: 1px solid #e8eaec; overflow: hidden;">
    <!--<div class="fl flowBtn" ng-class="{inactive: flowMode != 'Deal Entry'}" ng-click="gotoDealEntry()">Deal Entry</div>
    <div class="fl flowBtn disabled">Compliance</div>
    <div class="fr flowBtn disabled">Manage</div>-->
    <!--
    <div class="fl flowBtn" ng-class="{inactive: flowMode != 'Compliance'}" ng-click="gotoCompliance()">Compliance</div>
    <div class="fr flowBtn" ng-class="{inactive: flowMode != 'Manage'}" ng-click="gotoManage()">Manage</div>
        -->
    <!--<div class="clearboth"></div>-->
    <table style="width: 100%;">
        <tr>
            <td style="width: 33%;">
                <div class="flowBtn" ng-class="{inactive: flowMode != 'Deal Entry'}" ng-click="gotoDealEntry()">Deal Entry</div>
            </td>
            <td style="width: 34%; padding: 0 4px;">
                <div class="flowBtn"ng-class="{inactive: flowMode != 'Compliance'}" ng-click="gotoCompliance()">
                    <i ng-if="needMct()" class="intelicon-information-outlined red font-med" title="Meet Comp needs to be reviewed"></i>
                    Meet Comp
                </div>
            </td>
            <td style="width: 33%">
                <div class="flowBtn"ng-class="{inactive: Manage != 'Compliance'}" ng-click="gotoManage()">Manage</div>
            </td>
        </tr>
    </table>
</div>

<style>
    .wht {
        color: #ffffff;
    }    
    .red {
        color: #FC4C02;
    }    
    .yel {
        color: #f3D54E;
    }
    .orng {
        color: #FFA300;
    }
    .font-med {
        font-size: 14px;
    }
     .flowBtn {
         background-color: #003C71;
         padding: 2px;
         font-size: 12px;
         font-weight: 600;
         width: 100%;
         color: #ffffff;
         text-align: center;
         cursor: default;
     }
    .flowBtn.disabled {
        background-color: #cccccc;
        color: #999999;
        cursor: default;
    }
    .flowBtn.inactive {
        background-color: #00AEEF;
        cursor: pointer;
    }
    .flowBtn.inactive:hover {
        background-color: #003C71;
    }
</style>