
<div ng-include="'app/contract/partials/lnavMenuMini.html'"></div>

<div id="lnavContainerWrapper">
    <div id="lnavHeader">
        <div ng-include="'app/contract/partials/lnavMenu.html'"></div>
    </div>
    <div id="lnavContainer">
        <div ng-include="'app/contract/partials/lnavSearch.html'"></div>
        <div ng-include="'app/contract/partials/lnavAddPricingStrategy.html'"></div>
        <div ng-include="'app/contract/partials/lnavAddPricingTable.html'"></div>
        <div ng-include="'app/contract/partials/lnavStrategyTree.html'"></div>
    </div>
</div>
