<!-- Pricing Strategies -->
<div ng-hide="isPricingStrategiesHidden" style="margin-top: 10px; ">
    
    <div ng-repeat="ps in contractData.PRC_ST | filter:query" class="lnavStrategyContainer">

        <div class="psNav" ng-class="{active: (curPricingStrategy.DC_ID == ps.DC_ID && isAddStrategyHidden == true && isAddPricingTableHidden == false)}">
            <div class="fl" ng-click="isCollapsed = !isCollapsed">
                <i class="glyphicon" style="margin-right: 5px; margin-top: 3px;" ng-class="{'glyphicon-chevron-down': !isCollapsed, 'glyphicon-chevron-right': isCollapsed}"></i>
            </div>
            <div class="fl" style="width: 225px; font-size: 12px;" ng-init="isEditable=false"  title="Stage: {{ ps.WF_STG_CD }}">
                <div class="fl textCircle valid_{{ ps.PASSED_VALIDATION }}" title="{{ ps.PASSED_VALIDATION || 'Not validated yet' }}" style="margin: 0 6px 0 2px;"></div>
                <div ng-click="isCollapsed = !isCollapsed" ng-hide="isEditable" class="w100">{{ ps.TITLE }}</div>
            </div>

            <div class="fr">
                <span class="hasMenuPs{{ ps.DC_ID }} ptBtn" title="View more options"><i class="intelicon-vertical-menu"></i></span>
                <ul kendo-context-menu k-filter="'.hasMenuPs{{ ps.DC_ID }}'" k-show-on="'click'">
                    <li role="presentation"><a tabindex="-1" role="menuitem" ng-click="showAddPricingTable(ps); isCollapsed = false"><i class="intelicon-plus-max"></i> Add Pricing Table</a></li>
                    <li role="presentation"><a tabindex="-1" role="menuitem" ng-click="deletePricingStrategy(ps)"><i class="intelicon-trash-outlined"></i> Delete Pricing Strategy</a></li>

                    <!-- TODO need to check for valid pricing strategy before actions -->                    
                    <li role="presentation" ng-show="ps._actions['Approve'] !== undefined && ps._actions['Approve'] === true">
                        <a tabindex="-1" role="menuitem" ng-click="actionPricingStrategy(ps,'Approve')"><i class="intelicon-arrow-forward-right"></i> Approve</a>
                    </li>
                    <li role="presentation" ng-show="ps._actions['Reject'] !== undefined && ps._actions['Reject'] === true">
                        <a tabindex="-1" role="menuitem" ng-click="actionPricingStrategy(ps,'Reject')"><i class="intelicon-arrow-back-left"></i> Reject</a>
                    </li>
                    <li role="presentation" ng-show="ps._actions['Revise'] !== undefined && ps._actions['Revise'] === true">
                        <a tabindex="-1" role="menuitem" ng-click="actionPricingStrategy(ps,'Revise')"><i class="intelicon-arrow-back-left"></i> Revise</a>
                    </li>
                    <li role="presentation" ng-show="ps._actions['Cancel'] !== undefined && ps._actions['Cancel'] === true">
                        <a tabindex="-1" role="menuitem" ng-click="actionPricingStrategy(ps,'Cancel')"><i class="intelicon-arrow-down"></i> Cancel</a>
                    </li>

                </ul>
            </div>

            <div class="clearboth"></div>
        </div>

        <div uib-collapse="isCollapsed" style="margin-bottom: 10px;">
            <div ng-repeat="pt in ps.PRC_TBL | filter:query" class="lnavPricingTableContainer">
                <div class="ptNav" ng-class="{active: (curPricingTable.DC_ID == pt.DC_ID && isAddStrategyHidden == true && isAddPricingTableHidden == true)}">
                    <div class="fl textCircle valid_{{ pt.PASSED_VALIDATION }}" title="{{ pt.PASSED_VALIDATION || 'Not validated yet' }}">{{ pt.OBJ_SET_TYPE_CD | limitTo:1 }}</div>
                    <div class="fl" style="margin: 0 6px;" ng-init="isEditable=false">
                        <div ng-if="pt.PASSED_VALIDATION !== 'Complete'"
                             ng-click="hideAddPricingTable(); isAddStrategyHidden=true" style="width: 195px;"
                             ui-sref="contract.manager.strategy({cid:contractData.DC_ID,sid:ps.DC_ID,pid:pt.DC_ID})"
                             ui-sref-opts="{reload: true}">
                            {{ pt.TITLE }}
                        </div>
                        <div ng-if="pt.PASSED_VALIDATION === 'Complete'"
                             ng-click="hideAddPricingTable(); isAddStrategyHidden=true" style="width: 195px;"
                             ui-sref="contract.manager.strategy.wip({cid:contractData.DC_ID,sid:ps.DC_ID,pid:pt.DC_ID})"
                             ui-sref-opts="{reload: true}">
                            {{ pt.TITLE }}
                        </div>
                    </div>

                    <div class="fr">
                        <span class="hasMenuPt{{ pt.DC_ID }} ptBtn" title="View more options"><i class="intelicon-vertical-menu"></i></span>
                        <ul kendo-context-menu k-filter="'.hasMenuPt{{ pt.DC_ID }}'" k-show-on="'click'">
                            <li role="presentation"><a tabindex="-1" role="menuitem" ng-click="showEditPricingTableDefaults(pt)"><i class="intelicon-edit"></i> Edit Autofill Defaults</a></li>
                            <li role="presentation"><a tabindex="-1" role="menuitem" ng-click="deletePricingTable(ps, pt)"><i class="intelicon-trash-outlined"></i> Delete Pricing Table</a></li>
                        </ul>
                    </div>

                    <div class="clearboth"></div>
                </div>
            </div>
        </div>


    </div>
</div>
