
<div ng-if="!isNewContract" ng-include="'app/contract/partials/lnavComplianceMenuMini.html'"></div>

<div ng-if="!isNewContract" id="lnavContainerWrapper">
    <div id="lnavHeader">
        <div ng-include="'app/contract/partials/lnavContractHeader.html'"></div>
        <div ng-include="'app/contract/partials/lnavFlow.html'"></div>
        <div ng-include="'app/contract/partials/lnavComplianceMenu.html'"></div>
    </div>
    <div id="lnavMenuContainer">
    </div>
    <div id="lnavContainer" bind-to-height="[112, '#lnavMenuContainer', 'padding-top','#lnavContainerWrapper', 'margin-top','#lnavHeader']">
        <div ng-include="'app/contract/partials/lnavComplianceMainMenu.html'"></div>
    </div>
</div>
