<div id="navBtns">
    <!--<a ng-if="!('contract.details' | isState)" ui-sref="contract.details({cid:contractData.DC_ID})" ui-sref-opts="{ reload: true }"><div class="fl lnavBtn lnavBtn-Sec primary" style="width: 130px; height: 29px;">Contract Details</div></a>-->

    <div class="btn-group">
        <button class="btn lnavBtn lnavBtn-Sec btn-xs" type="button" style="width: 150px; height: 29px;">Submit for Approval</button>
        <button class="btn lnavBtnDrp lnavBtn-Sec btn-xs dropdown-toggle" aria-expanded="false" type="button" data-toggle="dropdown" style="height: 29px;">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#"><i class="intelicon-right-next"></i> Approve</a></li>
            <li><a href="#"><i class="intelicon-left-previous"></i> Reject</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="intelicon-trash-outlined"></i> Cancel</a></li>
        </ul>
    </div>

    <div class="clearboth"></div>
</div>