<div>
    <a ui-sref="contract.details({cid:contractData.dc_id})"><div class="fl lnavBtn lnavBtn-Sec primary" style="width: 130px;">Contract Details</div></a>
    <!--<div class="fl lnavBtn lnavBtn-Sec">Submit for Approval</div>-->

    <div class="btn-group">
        <button class="btn lnavBtn lnavBtn-Sec btn-xs" type="button" style="width: 150px;">Submit for Approval</button>
        <button class="btn lnavBtnDrp lnavBtn-Sec btn-xs dropdown-toggle" aria-expanded="false" type="button" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#"><i class="intelicon-right-next"></i> Approve</a></li>
            <li><a href="#"><i class="intelicon-left-previous"></i> Reject</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="intelicon-trash-outlined"></i> Cancel</a></li>
        </ul>
    </div>

    <div class="clearboth"></div>
</div>
<div>
    <div class="fr navIconLnk" title="Show/Hide Menu" ng-click="toggleLnav()">
        <i class="intelicon-shrink flip-horizontal"></i>
    </div>
    <div class="fl navIconLnk" title="Save Entire Contract" ng-click="saveEntireContract()" ng-show="isExistingContract()" ng-class="{'lnavBtnDisabled': !_dirty}">
        <i class="intelicon-save-outlined"></i>
    </div>
    <div class="fl navIconLnk" title="Filter contract" ng-click="toggleSearch()" ng-class="{'active': !isSearchHidden}" ng-show="isExistingContract()">
        <i class="intelicon-search"></i>
    </div>
    <a ui-sref="contract.summary({cid:contractData.dc_id})">
        <div class="fl navIconLnk" title="Contract Summary" ng-show="isExistingContract()">
            <i class="intelicon-show-results-outlined"></i>
        </div>
    </a>
    <div class="fl navIconLnk" title="Help Information" ng-show="isExistingContract()">
        <i class="intelicon-information-outlined"></i>
    </div>
    <div class="clearboth"></div>
</div>
