<!-- Pricing Strategies -->
<div ng-hide="isPricingStrategiesHidden" style="margin-top: 10px; ">
    
    <div style="padding: 6px;">
        <div class="contractHeader" style="margin: 0 5px; line-height: 1.3em;" title="View Contract Details" >
            <a ng-if="!('contract.details' | isState)" ui-sref="contract.details({cid:contractData.DC_ID})" ui-sref-opts="{ reload: true }">
                <small class="contractHeaderId">#{{ contractData.DC_ID }}</small> <small>{{contractData.TITLE}}</small>
            </a>
        </div>
    </div>

    <div ng-repeat="ps in contractData.PRC_ST | filter:query" class="lnavStrategyContainer">

        <div class="psNav" ng-class="{active: (curPricingStrategy.DC_ID == ps.DC_ID && isAddStrategyHidden == true && isAddPricingTableHidden == false)}">
            <div class="fl" ng-click="isCollapsed = !isCollapsed">
                <i class="glyphicon" style="margin-right: 5px; margin-top: 3px;" ng-class="{'glyphicon-chevron-down': !isCollapsed, 'glyphicon-chevron-right': isCollapsed}"></i>
            </div>
            <div class="fl" style="width: 225px; font-size: 12px;" ng-init="isEditable=false">
                <input ng-blur="isEditable=false" ng-show="isEditable" focus-on-show ng-model="ps.TITLE" class="flatWhiteInput" />
                <div ng-click="isCollapsed = !isCollapsed" ng-dblclick="isEditable=true" ng-hide="isEditable" class="w100">{{ ps.TITLE }}</div>
            </div>

            <div class="fr">
                <span class="hasMenuPs{{ ps.DC_ID }} ptBtn" title="View more options"><i class="intelicon-vertical-menu"></i></span>
                <ul kendo-context-menu k-filter="'.hasMenuPs{{ ps.DC_ID }}'" k-show-on="'click'">
                    <li role="presentation"><a tabindex="-1" role="menuitem" ng-click="showAddPricingTable(ps); isCollapsed = false"><i class="intelicon-plus-max"></i> Add Pricing Table</a></li>
                    <li role="presentation"><a tabindex="-1" role="menuitem" ng-click="deletePricingStrategy(ps)"><i class="intelicon-trash-outlined"></i> Delete Pricing Strategy</a></li>
                </ul>
            </div>

            <div class="clearboth"></div>
        </div>

        <div uib-collapse="isCollapsed" style="margin-bottom: 10px;">
            <div ng-repeat="pt in ps.PRC_TBL | filter:query" class="lnavPricingTableContainer">
                <div class="ptNav" ng-class="{active: (curPricingTable.DC_ID == pt.DC_ID && isAddStrategyHidden == true && isAddPricingTableHidden == true)}">
                    <div class="fl textCircle pct_{{ pt.PCT_RESULT }}">{{ pt.OBJ_SET_TYPE_CD | limitTo:1 }}</div>
                    <div class="fl" style="margin: 0 6px;" ng-init="isEditable=false">
                        <input ng-blur="isEditable=false" ng-show="isEditable" focus-on-show ng-model="pt.TITLE" class="flatWhiteInput" />
                        <div ng-dblclick="isEditable=true" ng-hide="isEditable" style="width: 195px;" ui-sref="contract.manager.strategy({cid:contractData.DC_ID,sid:ps.DC_ID,pid:pt.DC_ID})">
                            {{ pt.TITLE }}
                        </div>
                    </div>

                    <div class="fr">
                        <span class="hasMenuPt{{ pt.DC_ID }} ptBtn" title="View more options"><i class="intelicon-vertical-menu"></i></span>
                        <ul kendo-context-menu k-filter="'.hasMenuPt{{ pt.DC_ID }}'" k-show-on="'click'">
                            <li role="presentation"><a tabindex="-1" role="menuitem" ng-click="deletePricingTable(ps, pt)"><i class="intelicon-trash-outlined"></i> Delete Pricing Table</a></li>
                        </ul>
                    </div>

                    <div class="clearboth"></div>
                </div>
            </div>
        </div>


    </div>
</div>


<!--<div op-control-flat
     ng-model="contractData"
     op-cd="'TITLE'"
     op-type="'TEXTBOX'"
     op-label="'Test Label:'"
     op-ui-mode="'VERTICAL'"></div>

<div op-control-flat
     ng-model="contractData"
     op-cd="'START_DT'"
     op-type="'DATEPICKER'"
     op-label="'Test Label:'"
     op-ui-mode="'VERTICAL'"></div>

<div op-control-flat
     ng-model="contractData"
     op-cd="'DC_ID'"
     op-type="'NUMERIC'"
     op-label="'Test Label:'"
     op-ui-mode="'VERTICAL'"></div>

<div op-control-flat
     ng-model="contractData"
     op-cd="'NUM_TIERS'"
     op-type="'DROPDOWN'"
     op-label="'Test Label:'"
     op-ui-mode="'VERTICAL'"></div>

<div op-control-flat
     ng-model="contractData"
     op-cd="'NUM_TIERS'"
     op-type="'COMBOBOX'"
     op-label="'Test Label:'"
     op-ui-mode="'VERTICAL'"></div>-->

