<div class="navIconLnk-small-wrapper" ng-show="isLnavHidden">
    <div class="navIconLnk" title="Show/Hide Menu" ng-click="toggleLnav()">
        <i class="intelicon-expand"></i>
    </div>
    <div class="navIconLnk" title="Save Entire Contract" ng-click="saveEntireContract()" ng-show="isExistingContract()">
        <i class="intelicon-save-outlined"></i>
    </div>
    <div class="navIconLnk" title="Filter current contract" ng-show="isExistingContract()" ng-click="toggleLnav();toggleSearch()" ng-class="{'active': !isSearchHidden}">
        <i class="intelicon-search"></i>
    </div>
    <a ui-sref="contract.summary({cid:contractData.dc_id})">
        <div class="navIconLnk" title="Contract Summary" ng-show="isExistingContract()">
            <i class="intelicon-show-results-outlined"></i>
        </div>
    </a>
    <div class="navIconLnk" title="Help Information" ng-show="isExistingContract()">
        <i class="intelicon-information-outlined"></i>
    </div>
</div>