<!-- Add Pricing Table -->
<div style="padding: 6px; background-color: #0071C5;" ng-hide="isAddPricingTableHidden">
    <!--<button class="close" aria-label="Close" type="button" style="color: #ffffff; margin-top: -6px;" title="close" ng-click="HideAddPricingTable()">×</button>-->
    <form name="addNewPtForm" ng-submit="submitForm(CustomAddPtValidate())" novalidate>
        <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

        <div op-control-flat
             ng-model="newPricingTable"
             op-cd="'TITLE'"
             op-type="'TEXTBOX'"
             op-class="'md intel'"
             op-style="'width: 285px;'"
             op-is-form="true"
             op-label="'Enter Pricing Table Name'"
             op-ui-mode="'VERTICAL'"
             op-max-value='250'
             class="lg"></div>
        <div class="clearboth"></div>

        <div class="ptLnavTitle">
            Select Pricing Table Deal Type
        </div>

        <!-- PRICING TABLE TEMPLATES -->
        <div class="ptLnavtmpltContainer">
            <div style="color: #FF6E77;">{{ newPricingTable._behaviors.validMsg.OBJ_SET_TYPE_CD }}</div>
            <div ng-repeat="(key, value) in templates.ModelTemplates.PRC_TBL" class="fl circleWithText" ng-click="selectPtTemplateIcon(value)" ng-class="{active: value._custom._active}">
                <div class="fl textCircle blueBg">{{ value._custom.ltr }}</div>
                <div class="fl textName">{{ value.name }}</div>
                <div class="clearboth"></div>
            </div>
            <div class="clearboth"></div>
        </div>

        <!-- EXTRA ATTRIBUTES -->
        <div ng-show="newPricingTableExtraLength()">

            <div style="padding: 0 5px;" class="blueContainer">
                <div ng-repeat="(key, value) in newPricingTable._extraAtrbs">
                    <div ng-switch="value.type">

                        <div ng-switch-when="RADIOBUTTONGROUP"
                                op-control-data-element
                                op-class="'md intel'"
                                op-style="'width: 280px;'"
                                ng-model="newPricingTable._extraAtrbs"
                                op-cd="key"
                                op-type="value.type"
                                op-label="value.label"
                                op-lookup-url="value.opLookupUrl"
                                op-lookup-text="value.opLookupText"
                                op-lookup-value="value.opLookupValue"
                                op-is-form="true"
                                op-ui-mode="'HORIZONTAL'"></div>

                        <div ng-switch-default
                                op-control-data-element
                                op-class="'md intel'"
                                op-style="'width: 280px;'"
                                ng-model="newPricingTable._extraAtrbs"
                                op-cd="key"
                                op-type="value.type"
                                op-label="value.label"
                                op-lookup-url="value.opLookupUrl"
                                op-lookup-text="value.opLookupText"
                                op-lookup-value="value.opLookupValue"
                                op-is-form="true"
                                op-ui-mode="'VERTICAL'"></div>
                    </div>
                </div>
            </div>
        </div>


        <!-- DEFAULT ATTRIBUTES -->
        <div ng-show="newPricingTableDefaultLength()">

            <div class="lnavSmTitle">
                Autofill Grid Settings
                <div kendo-tooltip k-content="'Use the Pricing Table Autofill selections to pre-populate your table & reduce data entry. You may override the preselections within the grid if you would like.'" class="fr opElementHelpIcon intelicon-information-outlined"></div>
            </div>
            <div style="padding: 0 5px;" class="blueContainer">
                <div ng-repeat="(key, value) in newPricingTable._defaultAtrbs">
                    <div ng-switch="value.type">

                        <div ng-switch-when="RADIOBUTTONGROUP"
                                op-control-data-element
                                op-class="'md intel'"
                                op-style="'width: 280px;'"
                                ng-model="newPricingTable._defaultAtrbs"
                                op-cd="key"
                                op-type="value.type"
                                op-label="value.label"
                                op-lookup-url="value.opLookupUrl"
                                op-lookup-text="value.opLookupText"
                                op-lookup-value="value.opLookupValue"
                                op-is-form="true"
                                op-ui-mode="'HORIZONTAL'"></div>

                        <div ng-switch-default
                                op-control-data-element
                                op-class="'md intel'"
                                op-style="'width: 280px;'"
                                ng-model="newPricingTable._defaultAtrbs"
                                op-cd="key"
                                op-type="value.type"
                                op-label="value.label"
                                op-lookup-url="value.opLookupUrl"
                                op-lookup-text="value.opLookupText"
                                op-lookup-value="value.opLookupValue"
                                op-is-form="true"
                                op-ui-mode="'VERTICAL'"></div>
                    </div>
                </div>
            </div>
        </div>

        <div style="text-align: right;">
            <button class="btn btn-sm btn-primary" ng-click="hideAddPricingTable()">Close</button>
            <button class="btn btn-sm btn-primary" ng-click="customAddPtValidate()" type="submit">Add</button>
        </div>

    </form>
</div>
