<div class="jumbotron">
    <div class="container">
        <h1><strong>My</strong>Deals</h1>
        <p class="lead">Contract Manager.</p>
		<p>
			<i class="fa fa-warning fa-3x" style="font-size: 55px;"></i>
		</p>
        <p>
            <small>Sorry, you seem to have navigated to a page that doesn't exist.</small>
        </p>
        <p>
            It is possible you do not have access to this contract.  Please check your contract number and try again.
        </p>
    </div>
</div>
