<div ui-view="wipDealView" class="fullHeight">
	<!--<div class="row">
		<div class="col-md-11" style="padding-bottom: 5px;">
			<div class="fl textCircleMd pct_{{ curPricingTable.PCT_RESULT }}">{{ curPricingTable.OBJ_SET_TYPE_CD | limitTo:1 }}</div>
			<input type="text" ng-model="curPricingTable.TITLE" class="transparentInput fntLg noBottomBorder col-md-11" />
		</div>
	</div>-->

	<!--<div class="k-tabstrip-wrapper" style=" background rgba(255,55,244, 0.5);
		 width 100%;
		 z-index 1000;
		 position absolute;
		 top 0px;">
	</div>-->

	<div ng-show="isSaving" class="ss-loading-overlay">
		<div class="ss-loading-panel">
			<p> TODO: put nifty loading image here</p>
			<h2>Saving your data...</h2>
			<p>Please wait as we save your spreadsheet information!</p>
			<p>TODO: maybe make this into a directive so we can reuse it</p>
			<p>TODO: Stylize this better</p>
		</div>
	</div>

	<div style="position:absolute; left: 5px; z-index: 900;">
		<!-- Save Button -->
		<button class="btn btn-sm ssToolbarBtn" ng-class="{'disabled': !_dirty}" ng-click="saveEntireContract()" title="Save Pricing Table">
			<table>
				<tr>
					<td>
						<i class="fa fa-floppy-o skyBlue" aria-hidden="true" ng-class="{'fa-disabled': !_dirty}" style="font-size: 29px; margin-top: 2px;"></i>
					</td>
				</tr>
			</table>
		</button>
	</div>

	<div style="position:absolute; left: 140px; z-index: 900;">
		<table style="height: 37px;">
			<tr>
				<td style="padding: 1px 2px 0 10px;">
					<!-- Product Selector Button -->
					<button class="btn btn-sm ssToolbarBtn" ng-click="openProductSelector()" style="border-left: 1px solid #d2dade;">
						<table>
							<tr>
								<td>
									<i class="fa fa-mouse-pointer skyBlue" aria-hidden="true" style="font-size: 26px"></i>
								</td>
								<td style="padding-left: 5px">
									Product <br />Selector
								</td>
							</tr>
						</table>
					</button>

					<!-- Validate Products Button -->
					<button class="btn btn-sm ssToolbarBtn" ng-click="validatePricingTable()">
						<table>
							<tr>
								<td>
									<i class="fa fa-check-circle skyBlue" aria-hidden="true" style="font-size: 30px"></i>
								</td>
								<td style="padding-left: 5px">
									Validate <br />Products
								</td>
							</tr>
						</table>
					</button>
					<!-- view WIP grid Button -->
					<button class="btn btn-sm ssToolbarBtn" ng-click="showWipDeals()">
						<table>
							<tr>
								<td>
									<i class="intelicon-export-solid skyBlue" aria-hidden="true" style="font-size: 30px"></i>
								</td>
								<td style="padding-left: 5px">
									View WIP deals
								</td>
							</tr>
						</table>
					</button>
				</td>
			</tr>
		</table>
	</div>

	<div style="position:absolute; float: right; right: 5px; z-index: 900;">
		<!-- Save Button -->
		<button class="btn btn-sm ssToolbarBtn" ng-click="openInfoDialog()" title="Info">
			<table>
				<tr>
					<td>
						<i class="fa fa-info-circle skyBlue" aria-hidden="true" style="font-size: 29px; margin-top: 2px;"></i>
					</td>
				</tr>
			</table>
		</button>
	</div>

	<div kendo-spreadsheet id="pricingTableSpreadsheet" style="width: 100%; height: 100%;" k-options="ptSpreadOptions" k-scope-field="spreadsheet" class="noFormula"></div>
</div>





<script type="text/ng-template" id="cellPopupModal">
	<div class="modal-header">
		<h3 class="modal-title" id="modal-title">{{$ctrl.multiSelectPopUpModel.label}} selector</h3>
	</div>
	<div class="modal-body" id="modal-body">
		<div class="row">
			<div class="col-md-12">
				<div class="fr">
					<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Update</button>
					<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
				</div>
			</div>
		</div>
		<div op-control-flat
			 ng-model="$ctrl.popupResult"
			 op-cd="'MultiSelectSelections'"
			 op-type="$ctrl.multiSelectPopUpModel.uiType"
			 op-label="'Select '+ $ctrl.multiSelectPopUpModel.label +':'"
			 op-lookup-url="$ctrl.multiSelectPopUpModel.opLookupUrl"
			 op-lookup-text="$ctrl.multiSelectPopUpModel.opLookupText"
			 op-lookup-value="$ctrl.multiSelectPopUpModel.opLookupValue"
			 op-placeholder="$ctrl.placeholderText"
			 op-is-form="true"
			 op-ui-mode="'VERTICAL'">
		</div>

		<!--<div class="col-md-12 row">			Selected: <b>{{ $ctrl.popupResult.MultiSelectSelections }}</b>		</div>-->
	</div>
	<div class="modal-footer">	</div>
</script>

