<div ui-view="wipDealView" class="fullHeight">

	<div style="position:absolute; left: 5px; z-index: 900;  padding-top: 2px;">
		<!-- Save Button -->
	    <button class="btn btn-sm btn-save ssToolbarBtn" ng-class="{'notdirty': !_dirty}" ng-click="validatePricingTableProducts()" 
                title="{{saveDesc}}">
            <table>
                <tr>
                    <td>
                        <i class="fa fa-floppy-o skyBlue" aria-hidden="true" style="font-size: 30px"></i>
                    </td>
                    <td class="hidden-xs" style="padding-left: 5px; color: #00AEEF;">
                        <span class="text">
                            Save & Validate
                        </span>
                    </td>
                </tr>
            </table>
        </button>
		<!-- Custom Undo Button -->
		<button class="btn btn-sm ssToolbarBtn" ng-class="{'disabled': (undoCounter <= 0)}" ng-click="customUndo()" title="Undo" style="padding: 3px 8px;">
			<table>
				<tr>
					<td>
						<i class="fa fa-reply skyBlue" aria-hidden="true" ng-class="{'fa-disabled': (undoCounter <= 0)}" style="font-size: 23px; margin-top: 2px;"></i>
					</td>
				</tr>
			</table>
		</button>
		<!-- Custom Redo Button -->
		<button class="btn btn-sm ssToolbarBtn" ng-class="{'disabled': (redoCounter <= 0)}" ng-click="customRedo()" title="Redo" style="padding: 3px 8px;">
			<table>
				<tr>
					<td>
						<i class="fa fa-share skyBlue" aria-hidden="true" ng-class="{'fa-disabled': (redoCounter <= 0)}" style="font-size: 23px; margin-top: 2px;"></i>
					</td>
				</tr>
			</table>
		</button>		

		<!-- Product Selector Button -->
	    <button class="btn btn-sm ssToolbarBtn" ng-show="curPricingStrategy._settings.C_EDIT_PRODUCT" ng-click="openProductSelector()" 
                title="Use Product Selector to search for product(s)">
			<table>
				<tr>
					<td>
						<i class="intelicon-search skyBlue" aria-hidden="true" style="font-size: 26px"></i>
					</td>
					<td class="hidden-sm hidden-xs" style="padding-left: 5px; color: #00AEEF;">
						Product <br />Selector
					</td>
				</tr>
			</table>
		</button>

        <!-- Product Validator Button -->
        <button class="btn btn-sm ssToolbarBtn" ng-show="curPricingStrategy._settings.C_EDIT_PRODUCT" ng-click="validateOnlyProducts()"
                title="Validate the products entered in the web sheet">
            <table>
                <tr>
                    <td>
                        <i class="fa fa-check-square skyBlue" aria-hidden="true" style="font-size: 26px"></i>
                    </td>
                    <td class="hidden-sm hidden-xs" style="padding-left: 5px; text-align: left; color: #00AEEF;">
                        Validate Products <br />Entered in web sheet
                    </td>
                </tr>
            </table>
        </button>

        <!-- Overlapping deals Button -->
        <button class="btn btn-sm ssToolbarBtn" ng-click="openOverlappingDealCheck()" title="check for overlapping Deals.">
            <table>
                <tr>
                    <td>
                        <i class="intelicon-copy-outlined skyBlue" aria-hidden="true" style="font-size: 30px"></i>
                    </td>
                    <td class="hidden-md hidden-sm hidden-xs" style="padding-left: 5px; text-align: left; color: #00AEEF;">
                        Overlapping<br />Deals Check
                    </td>
                </tr>
            </table>
        </button>

	    <button class="btn btn-sm ssToolbarBtn" ng-click="toggleTerms()" title="Show/Hide Additional Discounts and Requirements.">
			<table>
				<tr>
					<td>
						<i class="intelicon-legal skyBlue" aria-hidden="true" style="font-size: 30px"></i>
					</td>
					<td class="hidden-md hidden-sm hidden-xs" style="padding-left: 5px; text-align: left; color: #00AEEF;">
						Show/Hide<br />Additional Discounts
					</td>
				</tr>
			</table>
		</button>

	    <button class="btn btn-sm ssToolbarBtn" ng-show="curPricingStrategy._settings.C_ADD_PRICING_TABLE" ng-click="showEditPricingTableDefaults(root.curPricingTable)" 
                title="View Autofill defaults, when changing values only new items entered in the grid will reflect updatess">
            <table>
                <tr>
                    <td>
                        <i class="fa fa-edit skyBlue" aria-hidden="true" style="font-size: 30px"></i>
                    </td>
                    <td class="hidden-md hidden-sm hidden-xs" style="padding-left: 5px; text-align: left; color: #00AEEF;">
                        Autofill<br />Defaults
                    </td>
                </tr>
            </table>
        </button>
        
        <!--<button class="btn btn-sm ssToolbarBtn" ng-click="applySpreadsheetMerge(1)" title="Apply Merge">
            <table>
                <tr>
                    <td>
                        <i class="fa fa-mouse-pointer skyBlue" aria-hidden="true" style="font-size: 26px"></i>
                    </td>
                    <td class="hidden-sm hidden-xs" style="padding-left: 5px; color: #00AEEF;">
                        Apply <br />Merge
                    </td>
                </tr>
            </table>
        </button>-->

	    <!-- 
		<button class="btn btn-sm ssToolbarBtn" ng-show="curPricingTable.OBJ_SET_TYPE_CD == 'PROGRAM'" ng-click="addByECAPTracker()" title="Add ECAP adjustment information using a tracker number.">
			<table>
				<tr>
					<td>
						<i class="fa fa-paste skyBlue" aria-hidden="true" style="font-size: 24px"></i>
					</td>
					<td class="hidden-sm hidden-xs" style="padding-left: 5px; color: #00AEEF;">
						Add ECAP Adjustment
						<br /> by Tracker Number
					</td>
				</tr>
			</table>
		</button>
		-->
	</div>

    <div style="position:absolute; float: right; right: 5px; z-index: 900;">
        <div class="fr helpBtn" title="Help" onclick="showHelpTopic(HelpTopicEnum.PriceTableEditor_Features);" style="margin-top:6px">
            <i class="intelicon-help" style="font-size:30px !important"></i>
        </div>
    </div>

	<div kendo-spreadsheet id="pricingTableSpreadsheet" style="width: 100%; height: 100%; margin-top: -3px; margin-left: -2px;" k-options="ptSpreadOptions" k-scope-field="spreadsheet" class="noFormula"></div>

	<div class="help-add-prod" id="divHelpAddProd" ng-if="root.pricingTableData.PRC_TBL_ROW.length === 0" ng-class="{'tenderTooltipHelp': isTenderContract == true}">
		<div>
			<i class="intelicon-arrow-up"></i>
		</div>
		Start by adding <br />Products Here
	</div>
</div>

<div ng-include="'app/contract/partials/ptModals/datePickerModal.html'"></div>
<div ng-include="'app/contract/partials/ptModals/systemPricePointModal.html'"></div>
<div ng-include="'app/contract/partials/ptModals/multiSelectModal.html'"></div>
<div ng-include="'app/contract/partials/ptModals/dropdownModal.html'"></div>
<div ng-include="'app/contract/partials/ptModals/ecapTrackerModal.html'"></div>
<div ng-include="'app/contract/partials/ptModals/ecapTrackerAutoFillModal.html'"></div>
<div ng-include="'app/contract/partials/ptModals/endCustomerRetailModal.html'"></div>

<script>
	kendo.spreadsheet.defineFunction("MYDEALS_ERROR", function (val) {
		return val !== true;
	}).args([
        ['*value', 'anything!']
	]);
</script>

<style>
	.tenderTooltipHelp{
		left: 160px !important;
	}
	.help-add-prod {
		position: absolute;
		top: calc(60vh);
		left: 100px;
		z-index: 100;
		width: 200px;
		padding: 0 20px;
		font-size: 18px;
		opacity: 0;
		color: #0071C5;
		background-color: transparent;
	}

	.help-add-prod i {
		font-size: 40px;
		color: #0071C5;
	}

    .ssToolbarBtn.btn-save, .ssToolbarBtn {
        background-color: transparent;
	}

    .ssToolbarBtn.btn-save table tr td span.text {
        font-size: 14px !important;
        font-weight: 600;
        line-height: 1em;
	}
    .ssToolbarBtn.btn-save:hover {
        background-color: #f2f2f2;
	}
    .ssToolbarBtn.btn-save.notdirty {
        cursor: not-allowed;
    }
    .ssToolbarBtn.btn-save.notdirty table tr td span.text {
        font-size: 11px !important;
        font-weight: 200;
        line-height: 1em;
	}
    .ssToolbarBtn.btn-save.notdirty table tr td, .ssToolbarBtn.notdirty table tr td i {
        color: #ababab !important;
    }
    .ssToolbarBtn.btn-save.notdirty:hover {
        background-color: transparent;
	}
    .k-window-titlebar.k-dialog-titlebar.k-header {
        display: none;
    }
</style>