<div id="secContainerWrapper">
    <div id="secHeader">
        <div class="col-md-11" style="padding-bottom: 5px;">
            <div class="fl textCircleMd pct_{{ curPricingTable.PCT_RESULT }}">{{ curPricingTable.OBJ_SET_TYPE_CD | limitTo:1 }}</div>
            <input type="text" ng-model="curPricingTable.TITLE" class="transparentInput fntLg noBottomBorder col-md-11" />
        </div>
    </div>

    <div id="secContainer">

        <div kendo-splitter
             k-panes="[null, { collapsible: true, min: '235px', size: '235px' }]"
             k-orientation="'vertical'"
             style="height: 100%; border: 0 solid transparent; overflow: hidden;">

            <div style="overflow: hidden;" class="wide noborder">
                <div id="subContainerWrapper">
                    <div id="subHeader">
                        <div style="padding: 4px 10px;">Additional Discounts & Requirements</div>
                    </div>
                    <div id="subContainer">
                        <textarea kendo-editor
                                  k-ng-model="curPricingStrategy.TERMS"
                                  k-tools="['fontSize','bold','italic','underline','strikeThrough','justifyLeft','justifyCenter','justifyRight','justifyFull', 'insertUnorderedList','insertOrderedList','indent','outdent']"
                                  style="height: 100%;" class="noborderEditor"></textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>