<div class="row wizard" style="padding-top: 35px;">
    <div class="col-xs-3 col-md-3">
        <div class="wizard-panel first" ng-class="{'complete': isWip, 'complete': enableDealEditorTab() === true}">
            <a><span class="badge wizard-step" ng-class="{'btnWidgetActive': selectedTAB == 'PTR'}">1</span></a>
        </div>
        <a ng-click="tenderWidgetPathManager('backToPricingTable', 'PTR')">
            <div class="wizard-step-text">
                <h4><i ng-show="selectedTAB == 'PTR'" class="intelicon-arrow-forward-right "></i> &nbsp;{{ptTitle}} Editor</h4>
                <p>Adhoc {{ptTitle}} Editor Manager</p>
            </div>
        </a>
    </div>
    <div class="col-xs-3 col-md-3">
        <div class="wizard-panel" ng-class="{'complete': isWip, disabled: enableDealEditorTab() === true}">
            <span class="badge wizard-step" ng-class="{'btnWidgetActive': selectedTAB == 'DE'}">2</span>
        </div>
        <a ng-class="{'isDisabled': !isWip, 'isDisabled': enableDealEditorTab() === false}" ng-click="tenderWidgetPathManager('publishWipDealsFromTab', 'DE')">
            <div class="wizard-step-text">
                <h4><i ng-show="selectedTAB == 'DE'" class="intelicon-arrow-forward-right "></i> &nbsp; Deal Editor</h4>
                <p>Adhoc Tender Deal Editor Manager</p>
            </div>
        </a>
    </div>
    <div class="col-xs-3 col-md-3">
        <div class="wizard-panel" ng-class="{'complete': MEETCOMP_TEST_RESULT == 'Pass'}">
            <span class="badge wizard-step" ng-class="{'btnWidgetActive': selectedTAB == 'MC'}">3</span>
        </div>
        <a ng-class="{'isDisabled': COST_TEST_RESULT.length > 0}" ng-click="tenderWidgetPathManager('', 'MC')">
            <div class="wizard-step-text">
                <h4><i ng-show="selectedTAB == 'MC'" class="intelicon-arrow-forward-right "></i> &nbsp; Meet Comp</h4>
                <p>Adhoc Tender Meet Comp Manager</p>
            </div>
        </a>
    </div>
    <div class="col-xs-3 col-md-3">
        <div class="wizard-panel last isDisabled"><span class="badge wizard-step">4</span></div>
        <a ng-click="tenderWidgetPathManager('publishWipDealsFromTab', 'PD')">
            <div class="wizard-step-text">
                <h4>Publish Adhoc Deal</h4>
                <p>Don't peep. We are changing.</p>
            </div>
        </a>
    </div>
</div>