<div class="row wizard" style="padding-top: 35px;" ng-if="isTenderWidgetVisible == true">
    <div class="col-xs-3 col-md-3">
        <div class="wizard-panel first" ng-class="{'complete': isPTRPartiallyComplete() == true || curPricingStrategy.PASSED_VALIDATION == 'Complete'}">
            <a id="tenderWidPTR" ng-click="tenderWidgetPathManager('backToPricingTable', 'PTR')">
			<span class="badge wizard-step" ng-class="{'btnWidgetActive': selectedTAB == 'PTR'}">1</span></a>
        </div>
        <a ng-click="tenderWidgetPathManager('backToPricingTable', 'PTR')">
            <div class="wizard-step-text">
                <h4><i ng-show="selectedTAB == 'PTR'" class="intelicon-arrow-forward-right "></i> &nbsp;{{ptTitle}} Editor</h4>
                <p>Adhoc {{ptTitle}} Editor Manager</p>
            </div>
        </a>
    </div>
    <div class="col-xs-3 col-md-3">
        <div class="wizard-panel" ng-class="{'complete': curPricingStrategy.PASSED_VALIDATION == 'Complete', disabled: curPricingStrategy.PASSED_VALIDATION != 'Complete'}">
            <span id="tenderWidDE" class="badge wizard-step" ng-class="{'btnWidgetActive': selectedTAB == 'DE', 'isDisabled': curPricingStrategy.PASSED_VALIDATION != 'Complete'}" ng-click="tenderWidgetPathManager('publishWipDealsFromTab', 'DE')">2</span>
        </div>
        <a ng-class="{'isDisabled': curPricingStrategy.PASSED_VALIDATION != 'Complete'}" ng-click="tenderWidgetPathManager('publishWipDealsFromTab', 'DE')">
            <div class="wizard-step-text">
                <h4><i ng-show="selectedTAB == 'DE'" class="intelicon-arrow-forward-right "></i> &nbsp; Deal Editor</h4>
                <p>Adhoc Tender Deal Editor Manager</p>
            </div>
        </a>
    </div>
    <div class="col-xs-3 col-md-3">
        <div class="wizard-panel" ng-class="{'complete': ((curPricingStrategy.MEETCOMP_TEST_RESULT != 'InComplete' && curPricingStrategy.MEETCOMP_TEST_RESULT != 'Not Run Yet') || inCompleteCapMissing) || (usrRole === 'FSE' && isMCActiveForFSE) }">
            <span id="tenderWidMC" class="badge wizard-step" ng-class="{'btnWidgetActive': selectedTAB == 'MC', 'isDisabled': curPricingStrategy.PASSED_VALIDATION != 'Complete'}" ng-click="tenderWidgetPathManager('', 'MC')">3</span>
        </div>
        <a ng-class="{'isDisabled': curPricingStrategy.PASSED_VALIDATION != 'Complete'}" ng-click="tenderWidgetPathManager('', 'MC')">
            <div class="wizard-step-text">
                <h4><i ng-show="selectedTAB == 'MC'" class="intelicon-arrow-forward-right "></i> &nbsp; Meet Comp</h4>
                <p>Tender Meet Comp Manager</p>
            </div>
        </a>
    </div>
    <div class="col-xs-3 col-md-3">
        <div class="wizard-panel last" ng-class="{'complete': selectedTAB == 'PD','isDisabled': curPricingStrategy.MEETCOMP_TEST_RESULT != 'Pass'}">
			<span id="tenderWidPD" class="badge wizard-step" ng-class="{'btnWidgetActive': selectedTAB == 'PD'}" ng-click="tenderWidgetPathManager('publishTenderDeal', 'PD')">4</span>
		</div>
        <a ng-click="tenderWidgetPathManager('', 'PD')" ng-class="{'isDisabled': curPricingStrategy.MEETCOMP_TEST_RESULT != 'Pass'}">
            <div class="wizard-step-text">
                <h4><i ng-show="selectedTAB == 'PD'" class="intelicon-arrow-forward-right "></i> &nbsp; Publish Adhoc Deal</h4>
                <p>Converting into individuals deals.</p>
            </div>
        </a>
    </div>
</div>
<style>
#tenderWidPD, #tenderWidDE, #tenderWidMC, #tenderWidPTR{
	cursor:pointer !important;
	}
	    
</style>