@using Intel.MyDeals.App
@{
    ApplicationViewModel avm = (ApplicationViewModel)ViewData.Model;
}

<div class="ng-scope" id="view-container" ng-view="">
    <div class="jumbotron ng-scope">
        <div class="container">
            <h1><strong>My</strong>Deals</h1>
            <p class="lead">Intel - IT BOS - Deal Management Tool.</p>
        </div>
    </div>

    <section class="call-to-action ng-scope">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 aria-hidden="true"><i class="intelicon-new-document-solid text-warning"></i></h2>
                        <h3>Create a New Contract</h3>
                        <p class="lead">
                            Click here to create a new contract.
                            <div style="width: 100%; text-align: center;">
                                <button class="btn btn-default" type="button" onclick="newCntrct()">Create New Contract</button>
                            </div>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h2 aria-hidden="true"><i class="text-primary intelicon-search-stack-solid"></i></h2>
                        <h3>Open a Contract</h3>
                        <p class="lead">
                            Enter the Contract Number.
                            <div style="width: 100%; text-align: center;">
                                <input placeholder="Enter Number" style="width: 120px;" class="k-textbox" id="cntrcId" />
                                <button class="btn btn-default" type="button" onclick="openCntrct()">Open Contract</button>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </section>
</div>

<script>
    $("#cntrcId").keypress(function (e) {
        if (e.keyCode === 13) {
            openCntrct();
        }
    });

    function newCntrct() {
        document.location.href = "/Contract#/manager/0/details";
    }
    function openCntrct() {
        var val = $("#cntrcId").val();
        if (val === "") {
            alert("please enter a Contract Number");
            return;
        }
        document.location.href = "/Contract#/manager/"+ val;
    }
</script>

<style>
    .jumbotron {
        padding-top: 0;
        padding-bottom: 30px;
    }
</style>