#perfMs {
    position: absolute;
    bottom: 30px;
    right: 10px;
    color: #000000;
    font-family: verdana;
    font-size: 10px;
    margin-top: 5px;
    z-index: 1000;
}

#perfLegend {
    position: absolute;
    bottom: 3px;
    right: 1px;
    font-family: verdana;
    font-size: 9px;
    z-index: 1000;
    color: #666666;
}

#perfDetails {
    position: absolute;
    bottom: 50px;
    right: 10px;
    font-family: verdana;
    font-size: 10px;
    z-index: 1000;
    background-color: #ffffff;
}

    #perfDetails th {
        padding: 2px 4px;
        color: #0071C5;
    }

    #perfDetails.closePerf {
        color: #cccccc;
        font-size: 16px;
        cursor: pointer;
    }

.closePerf:hover {
    color: #FC4C02;
}

.legKey {
    width: 10px;
    height: 10px;
    border: 1px solid #bebebe;
}

.legData {
    margin-left: 4px;
    margin-right: 10px;
    margin-top: -2px;
}

.showMore {
    font-size: 18px;
    color: #00AEEF;
    cursor: pointer;
}

td {
    padding: 2px 4px;
    color: #333333;
}

.closePerf {
    color: #cccccc;
    font-size: 16px;
    cursor: pointer;
}

    .closePerf:hover {
        color: #FC4C02;
    }

.legKey {
    width: 10px;
    height: 10px;
    border: 1px solid #bebebe;
}

performance-bars.tender-performance-style div#perfLegend {
    z-index: 1 !important;
}

.legData {
    margin-left: 4px;
    margin-right: 10px;
    margin-top: -2px;
}

.showMore {
    font-size: 18px;
    color: #00AEEF;
    cursor: pointer;
}
