/*#perfMs {
    position: absolute;
    bottom: 30px;
    right: 10px;
    color: #000000;
    font-family: verdana;
    font-size: 10px;
    margin-top: 5px;
    z-index: 1000;
}*/

.performanceBarFour #perfLegend {
    position: absolute;
    bottom: 3px;
    right: 1px;
    font-family: verdana;
    font-size: 9px;
    z-index: 1;
    color: #666666;
}

.performanceBarFour #perfDetails {
    position: absolute;
    bottom: 50px;
    right: 10px;
    font-family: verdana;
    font-size: 10px;
    z-index: 1000;
    background-color: #ffffff;
}

    .performanceBarFour #perfDetails th {
        padding: 2px 4px;
        color: #0071C5;
    }

    .performanceBarFour #perfDetails.closePerf {
        color: #cccccc;
        font-size: 16px;
        cursor: pointer;
    }

.performanceBarFour .closePerf:hover {
    color: #FC4C02;
}

.performanceBarFour .legKey {
    width: 10px;
    height: 10px;
    border: 1px solid #bebebe;
}

.performanceBarFour .legData {
    margin-left: 4px;
    margin-right: 10px;
    margin-top: -2px;
}

.performanceBarFour .showMore {
    font-size: 18px;
    color: #00AEEF;
    cursor: pointer;
}

.performanceBarFour .performanceBarTable td {
    padding: 2px 4px;
    color: #333333;
}

.performanceBarFour .closePerf {
    color: #cccccc;
    font-size: 16px;
    cursor: pointer;
}

    .performanceBarFour .closePerf:hover {
        color: #FC4C02;
    }

.performanceBarFour .legKey {
    width: 10px;
    height: 10px;
    border: 1px solid #bebebe;
}

.performanceBarFour .legData {
    margin-left: 4px;
    margin-right: 10px;
    margin-top: -2px;
}

.performanceBarFour .showMore {
    font-size: 18px;
    color: #00AEEF;
    cursor: pointer;
}
