#btnClose {
  float: right;
  margin-top: -15px;
  background: transparent;
  padding: 3px;
  font-size: 22px;
  cursor: pointer;
}
.btn-default.active:hover {
  color: #fff !important;
  background-color: #367fa9 !important;
  border-color: #00aeef !important;
}
.btn-default.active {
  color: #fff !important;
  background-color: #00aeef !important;
  border-color: #367fa9 !important;
}
#bulkPriceUpdateModalWindow .modal-footer {
  position: fixed;
  bottom: -59px;
  width: 100%;
  background: #efefef;
  height: 60px;
  border: 1px solid #003c71;
  margin-left: -2px;
}
#modalBodyDiv .row {
  margin-left: 10px;
}
.modal-dialog {
  width: 750px;
  margin-top: 100px;
}
#modalTitle {
  float: left;
}
#bulkPriceUpdateModalWindow .modal-body {
  overflow: auto;
  width: 100%;
  max-height: 500px;
  border-bottom: none;
}
#bulkPriceUpdateModalWindow .modalBlueBody {
  background-color: #003c71 !important;
  color: #ffffff !important;
}


#bulkPriceUpdateModalWindow .prc-custom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
}
.notes {
    font-size: 14px;
    margin-left: 10px;
    margin-top: 20px !important;
    padding: 0;
}

.bluebold {
  color: #0071c5;
  font-weight: bold;
}
.redbold {
  color: red;
  font-weight: bold;
}
#bulkPriceUpdateModalWindow .modal-header {
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.5px;
}
.bulk-price-update-custom .mat-dialog-container {
  padding: 0 !important;
  position: relative;
  margin-top: 100px;
  margin-left: 0;
}
#bulkPrcUpdateFileUpd .kuploadaction.k-upload .k-dropzone .k-dropzone-hint {
  visibility: collapse !important;
}
#bulkPrcUpdateFileUpd .kuploadaction.k-upload .k-upload-button {
  min-width: 7.41em !important;
  color: #fafafa !important;
  font-family: "Intel Clear";
  background-color: #0071c5 !important;
  font-size: 15px !important;
  border: none !important;
  font-weight: 400 !important;
  text-transform: uppercase;
  box-shadow: 0 2px 6px rgb(0 0 0 / 20%), 0 2px 3px rgb(0 0 0 / 5%) !important;
}
#bulkPrcUpdateFileUpd .kuploadaction.k-upload .k-dropzone {
  background: transparent !important;
  border-style: solid !important;
  border-width: 0 !important;
  padding: 10px !important;
}
#bulkPrcUpdateFileUpd .k-upload-action,
#bulkPrcUpdateFileUpd .k-clear-selected,
#bulkPrcUpdateFileUpd .k-upload-selected {
  visibility: hidden;
}
#bulkPrcUpdateFileUpd
  kendo-upload-action-buttons.k-actions.k-actions-end.ng-star-inserted {
  height: 0;
}
#bulkPrcUpdateFileUpd .k-button {
  color: #fff !important;
  background-color: #0071c5 !important;
  border-color: #0071c5 !important;
  box-shadow: none !important;
  font-weight: 500 !important;
  line-height: 2em;
  padding: 9px 14px;
  border-radius: 0;
  text-transform: uppercase;
}
#bulkPrcUpdateFileUpd .k-button:hover {
  background-color: #00aeef !important;
  border-color: #00aeef !important;
  color: #fff;
  box-shadow: none;
}
#bulkPrcUpdateFileUpd .k-file-name {
  font-weight: bold;
}
#bulkPrcUpdateFileUpd .k-i-file-data::before {
  content: "\e90a";
}
#bulkPriceUpdateTable .handsontable span.colHeader {
  color: rgb(0, 16, 113);
  font-size: 13px;
  font-weight: bold;
  font-family: "Intel Clear";
}
#bulkPriceUpdateTable td.error-product {
  color: rgb(252, 76, 2) !important;
}
#bulkPriceUpdateTable .handsontable .htCommentCell:after {
  border-top-color: #d73925 !important;
}
#bulkPriceUpdateTable .readonly-cell {
  background-color: #f5f5f5 !important;
}
#prcUpdateAlert .k-dialog .k-button {
  color: black;
  background-color: #edeff0 !important;
  line-height: 2em !important;
}
#prcUpdateAlert .k-dialog .k-button:hover {
  color: #fff;
  background-color: #0071c5 !important;
}
#prcUpdateAlert .k-dialog .k-dialog-buttongroup {
  padding: 0;
}
#bulkPriceUpdateTable td.deal-status {
  color: #008000 !important;
}
#bulkPriceUpdateTable .handsontable td.htInvalid {
  background-color: #fff !important;
}
#bulkPriceUpdateTable .handsontable span.colHeader thead th.ht__highlight {
  background-color: rgba(0, 174, 239, 0.2) !important;
}
#tableSpliter .spliter-btom-style.k-splitter-flex .k-splitbar {
  position: relative !important;
  margin-bottom: -8px !important;
}

#bulkPrcUpdateFileUpd .k-file.k-file-invalid .k-file-name {
  color: red !important;
}

#bulkPrcUpdateFileUpd .k-file.k-file-invalid .k-text-error {
  color: black !important;
}
#bulkPrcUpdateFileUpd .k-file-group.k-icon.k-i-file-image {
  color: red !important;
}

#bulkPriceUpdateTable .handsontable td.area {
    background-color: rgba(0,174,239,.2);
    border-color: #00aeef;
    box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #00aeef;
    border-style: solid;
    box-sizing: border-box;
}

