<link href="/Client/node_modules/handsontable/dist/handsontable.full.min.css" rel="stylesheet" />
<link href="/Client/node_modules/@progress/kendo-theme-bootstrap/dist/all.css" rel="stylesheet" />
<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />
<link href="/Client/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<loading-panel-angular id="bulkPriceUpload" class="priceUpdateLoading" style="z-index:500;" [show]="isLoading" [header]="spinnerMessageHeader"
                       [description]="spinnerMessageDescription" [isShowFunFact]="showFunFact" [msgType]="'Info'"></loading-panel-angular>
<div id="bulkPricingUpdateModal" style="overflow-y:hidden;overflow-x:hidden; border: 1px solid #1a3e6f;border-bottom:none;">
    <div class="col-md-12 " style="padding-bottom: 15px; margin-top: 25px;">
        <h2>Bulk Price Updates Admin</h2>
    </div>
    <div class="col-md-12" style="padding-bottom: 27px; ">
        <button (click)="openBulkPriceUpdateModal()" class="btn btn-primary" style="margin-left: 1px;">Upload Bulk Pricing Data</button>&nbsp;&nbsp;
        <button (click)="processData()" class="btn btn-primary" style="float: right;">Process Deal Updates</button>
    </div>
    <div class="col-md-12">
        <span class="redbold">NOTE:</span><span>&nbsp;Please upload maximum of 100 records. Deal Dates are in the format of MM/DD/YYYY (e.g. 12/31/2022) </span><br /><br />
    </div>
    <div class="col-md-12">
        <kendo-splitter orientation="vertical" style="height: 500px;" id="tableSpliter">
            <kendo-splitter-pane><hot-table id="bulkPriceUpdateTable" [hotId]="hotId" [settings]="hotSettings" class="all-spread"></hot-table></kendo-splitter-pane>
        </kendo-splitter>
     </div>
    <kendo-dialog (close)="closeAlert()" *ngIf="isAlert" id="prcUpdateAlert">
        <p [innerHTML]='alertMsg'></p>
        <kendo-dialog-actions>
            <button kendoButton (click)="closeAlert()" themeColor="primary">OK</button>
        </kendo-dialog-actions>
    </kendo-dialog>
<!-- Error Message on pasting data to readonly cells -->
    <kendo-dialog *ngIf="isDisAlert" (close)="closeDisAlert()" id="disabledCellsError" [width]="320">
        <kendo-dialog-titlebar>
            <div>Error</div>
        </kendo-dialog-titlebar>
        <p class="body-disabledCellsError" [innerHTML]='alertMsg'></p>
        <kendo-dialog-actions [layout]="'normal'">
            <button kendoButton (click)="closeDisAlert()">OK</button>
        </kendo-dialog-actions>
    </kendo-dialog>
</div>