.attach-style .mat-dialog-container {
    border-radius: 0 !important
}

.attach-style .k-dropzone {
    background-color: transparent !important;
    padding: .8em !important
}

.attach-style .k-upload .k-dropzone .k-dropzone-hint {
    visibility: hidden !important
}

.attach-style .k-upload .k-upload-selected {
    color: #0071c5 !important;
    background-color: #fafafa !important;
    text-transform: uppercase !important;
    margin-top: -4px !important;
    width: 50% !important;
    line-height: 1em !important;
    padding: 1.214em 0 !important;
    border: 0 !important;
    font-weight: 500 !important;
    margin-right: 50% !important
}

    .attach-style .k-upload .k-upload-selected:hover {
        color: #ffffff !important;
        background-color: #0071c5 !important
    }

.attach-style .k-upload .k-upload-files .k-upload-status .k-icon {
    position: initial !important
}

.attach-style .k-upload .k-upload-button {
    min-width: 7em !important;
    border-radius: 2px !important;
    color: #444444 !important;
    border-color: #fafafa !important;
    background-color: #fafafa !important;
    text-transform: uppercase !important;
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%),0 2px 3px rgb(0 0 0 / 5%) !important;
    padding: 9px 14px !important
}

.attach-style .k-clear-selected {
    display: none !important
}

.attach-style .k-grid {
    height: 375px !important
}

.attach-style .k-grid-header .headerClass {
    border-right-color: #c4cfd4 !important;
    border-left-color: #c4cfd4 !important;
    border-style: solid !important
}

.attach-style .k-column-title {
    font-size: 14px !important;
    font-weight: 700 !important
}

.attach-style .cellCustomClass {
    height: 50px !important;
    color: rgb(26,62,111) !important;
    font-weight: 500 !important;
    vertical-align: middle !important;
    text-align: center !important;
    padding-left: 5px !important;
    padding-right: 10px !important
}

    .attach-style .cellCustomClass.text-left-custom {
        text-align: left !important
    }

.attach-style kendo-grid.approve-table kendo-grid-list table tr td.k-touch-action-auto {
    box-shadow: none !important;
    border: none;
    background: transparent
}

.attach-style kendo-grid.approve-table kendo-grid-list table tr:hover {
    background-color: transparent !important
}

.attach-style .fileCell {
    color: #0071c5 !important;
    white-space: normal !important
}

    .attach-style .fileCell:hover, .fileCell:focus {
        color: #004579 !important;
        text-decoration: underline !important
    }

.attach-style .dialogmsg {
    margin: 30px !important;
    text-align: center !important
}

.attach-style .kendoActn {
    padding: 0 !important;
    gap: 0 !important
}

.attach-style .cancelCell {
    color: #444444 !important;
    border-color: #fafafa !important;
    background-color: #fafafa !important
}

    .attach-style .cancelCell:hover {
        color: #444444 !important;
        border-color: #ebebeb !important;
        background-color: #ebebeb !important
    }

.attach-style .deleteCell {
    color: #0071c5 !important
}

.attach-style .deleteIcon {
    text-overflow: unset !important
}

.attach-style .new-k-btn {
    top: 54px;
    width: 100%;
    padding: 1.7em 0 !important;
    border-radius: 0 !important;
    border: none !important;
    font-weight: 400;
    background-color: #00aeef !important;
    line-height: 1.143em !important;
    font-size: 15px !important;
    font-family: 'Intel Clear' !important
}

    .attach-style .new-k-btn:hover {
        background-color: #0071c5
    }

.attach-style .fino-css .k-button {
    border: none !important
}

    .attach-style .fino-css .k-button span {
        line-height: 1.143em !important;
        font-size: 15px !important;
        font-family: 'Intel Clear' !important;
        font-weight: 500 !important
    }

.attach-style kendo-upload.fino-css kendo-upload-action-buttons {
    padding: 0 !important
}

    .attach-style kendo-upload.fino-css kendo-upload-action-buttons .k-button {
        font-size: 15px;
        font-weight: 400 !important;
        color: #0071c5 !important;
        font-family: 'Intel Clear' !important
    }

.attach-style kendo-upload.fino-css kendo-upload-file-list-item-action-button .k-upload-status .k-button {
    border-radius: 50%;
    padding: 0
}

    .attach-style kendo-upload.fino-css kendo-upload-file-list-item-action-button .k-upload-status .k-button:hover {
        border-color: #ebebeb !important;
        background-color: #ebebeb !important;
        color: #444 !important
    }

    .attach-style kendo-upload.fino-css kendo-upload-file-list-item-action-button .k-upload-status .k-button span:hover {
        color: #444 !important
    }

.attach-style kendo-upload.fino-css kendo-upload-action-buttons:hover {
    color: #fff !important
}

.attach-style kendo-upload.fino-css kendo-upload-file-list-item-action-button .k-upload-status .k-button span {
    padding-top: 0 !important
}

.attach-style kendo-upload.fino-css kendo-upload-file-list-item-action-button .k-upload-status .k-button:hover {
    border-color: #ebebeb;
    background-color: #ebebeb
}

.attach-style kendo-grid.approve-table .k-grid-container .k-grid-content {
    overflow-y: auto
}

    .attach-style kendo-grid.approve-table .k-grid-container .k-grid-content tr td {
        border-right: none !important;
        border-left: none !important
    }

.attach-style .custom-badge-design {
    border-radius: 10px !important
}

.attach-style .new-custom-deal-tools button {
    padding: 1.3em 0 !important;
    border-radius: 0 !important;
    border-bottom: 0 !important;
    font-weight: 500 !important;
    border-color: #00AEEF !important;
    font-family: inherit !important;
    font-size: 100% !important;
    text-transform: uppercase
}

    .attach-style .new-custom-deal-tools button:first-child {
        background: #00AEEF !important
    }

        .attach-style .new-custom-deal-tools button:first-child:hover {
            background-color: #0071c5 !important
        }

    .attach-style .new-custom-deal-tools button:last-child {
        background-color: #fafafa !important
    }

        .attach-style .new-custom-deal-tools button:last-child:hover {
            background-color: #ebebeb !important
        }

.attach-style kendo-upload.fino-css.throw-fa-css kendo-upload-action-buttons {
    position: relative;
    height: 55px;
    border-bottom: none;
    z-index: 0
}

    .attach-style kendo-upload.fino-css.throw-fa-css kendo-upload-action-buttons .k-upload-selected {
        margin-top: 0 !important;
        display: block;
        position: absolute;
        border-radius: 0 0 4px 0;
        box-shadow: 0 2px 6px #00000033,0 2px 3px #0000000d;
        height: 54px;
        -webkit-box-shadow: 0 2px 6px #00000033,0 2px 3px #0000000d;
        -moz-box-shadow: 0 2px 6px #00000033,0 2px 3px #0000000d;
        font-size: 15px;
        border: none !important;
        z-index: 9;
        line-height: 1
    }

        .attach-style kendo-upload.fino-css.throw-fa-css kendo-upload-action-buttons .k-upload-selected:hover {
            border: 1px solid #025ce2 !important;
            height: 55px
        }

.attach-style .upload-text-style .k-text-success.k-file-information {
    color: #00aeef !important
}

.attach-style .upload-text-style.k-upload .k-upload-files .k-upload-pct {
    color: #00aeef !important
}

.attach-style .upload-text-style.k-upload .k-file-progress .k-file-name {
    color: #00aeef !important;
    font-family: 'Intel Clear' !important
}

.attach-style .upload-text-style.k-upload .k-upload-button:hover {
    background-color: #eee !important
}

.attach-style .fino-css .k-button span.k-icon.k-button-icon.k-delete.k-i-x {
    font-family: "WebComponentsIcons" !important;
}
.attach-style.cdk-overlay-pane {
    height: 620px !important;
}