.mat-dialog-container {
    border-radius: 0px !important;
}

.k-dropzone {
    background-color: transparent !important;
    padding: 0.8em !important;
}

.k-upload .k-dropzone .k-dropzone-hint {
    visibility: hidden !important;
}

.k-upload .k-upload-selected {
    color: #0071c5 !important;
    background-color: #fafafa !important;
    text-transform: uppercase !important;
    margin-top: -4px !important;
    width: 50% !important;
    line-height: 1em !important;
    padding: 1.214em 0 !important;
    border: 0 !important;
    font-weight: 500 !important;
    margin-right: 50% !important;
}

.k-upload .k-upload-selected:hover {
    color: #ffffff !important;
    background-color: #0071c5 !important;
}

.k-upload .k-upload-files .k-upload-status .k-icon {
    position: initial !important;
}

.k-upload .k-upload-button {
    min-width: 7em !important;
    border-radius: 2px !important;
    color: #444444 !important;
    border-color: #fafafa !important;
    background-color: #fafafa !important;
    text-transform: uppercase !important;
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%), 0 2px 3px rgb(0 0 0 / 5%) !important;
    padding: 9px 14px !important;
}

.k-clear-selected {
    display: none !important;
}

.k-grid {
    height: 375px !important;
}

.k-grid-header .headerClass {
    border-right-color: #c4cfd4 !important;
    border-left-color: #c4cfd4 !important;
    border-style: solid !important;
}

.k-column-title {
    font-size: 14px !important;
    font-weight: 700 !important;
}

.cellCustomClass {
    height: 50px !important;
    color: rgb(26, 62, 111) !important;
    font-weight: 500 !important;
    vertical-align: middle !important;
    text-align: center !important;
    padding-left: 5px !important;
    padding-right: 10px !important;
}

.cellCustomClass.text-left-custom {
    text-align: left !important;
}

kendo-grid.approve-table kendo-grid-list table tr td.k-touch-action-auto {
    box-shadow: none !important;
    border: none;
    background: transparent;
}

kendo-grid.approve-table kendo-grid-list table tr:hover {
    background-color: transparent !important;
}

.fileCell {
    color: #0071c5 !important;
    white-space: normal !important;
}

.fileCell:hover,
.fileCell:focus {
    color: #004579 !important;
    text-decoration: underline !important;
}

.dialogmsg {
    margin: 30px !important;
    text-align: center !important;
}

.kendoActn {
    padding: 0px !important;
    gap: 0px !important;
}

.cancelCell {
    color: #444444 !important;
    border-color: #fafafa !important;
    background-color: #fafafa !important;
}

.cancelCell:hover {
    color: #444444 !important;
    border-color: #ebebeb !important;
    background-color: #ebebeb !important;
}

.deleteCell {
    color: #0071c5 !important;
}

.deleteIcon {
    text-overflow: unset !important;
}

.new-k-btn {
    top: 54px;
    width: 100%;
    padding: 1.5em 0 !important;
    border-radius: 0 !important;
    border: none !important;
    font-weight: 400;
    background-color: #00aeef !important;
    line-height: 1.143em !important;
    font-size: 15px !important;
}

.new-k-btn:hover {
    background-color: #0071c5;
}

.fino-css .k-button {
    border: none!important;
}

.fino-css .k-button span {
    line-height: 1.143em;
    font-size: 17px;
}

kendo-upload.fino-css kendo-upload-action-buttons {
    padding: 0 !important;
}

kendo-upload.fino-css kendo-upload-action-buttons .k-button {
     font-size: 15px;
     font-weight: 400 !important;
     color: #0071c5 !important;
     font-family: 'Intel Clear' !important;

}

kendo-upload.fino-css kendo-upload-file-list-item-action-button .k-upload-status .k-button {
    border-radius: 50%;
    padding: 0;
}

kendo-upload.fino-css kendo-upload-file-list-item-action-button .k-upload-status .k-button:hover {
    border-color: #ebebeb !important;
    background-color: #ebebeb !important;
    color: #444 !important;
}

kendo-upload.fino-css kendo-upload-file-list-item-action-button .k-upload-status .k-button span:hover {
    color: #444 !important;
}

kendo-upload.fino-css kendo-upload-action-buttons:hover {
    color: #fff !important;
}

kendo-upload.fino-css kendo-upload-file-list-item-action-button .k-upload-status .k-button span {
    padding-top: 0!important;
}

kendo-upload.fino-css kendo-upload-file-list-item-action-button .k-upload-status .k-button:hover {
    border-color: #ebebeb;
    background-color: #ebebeb;
}

kendo-grid.approve-table .k-grid-container .k-grid-content {
    overflow-y: auto;
}

kendo-grid.approve-table .k-grid-container .k-grid-content tr td {
    border-right: none !important;
    border-left: none !important;
}

.custom-badge-design {
    border-radius: 10px!important;
}

.new-custom-deal-tools button {
    padding: 1.3em 0 !important;
    border-radius: 0px !important;
    border-bottom: 0px !important;
    font-weight: 500 !important;
    border-color: #00AEEF !important;
    font-family: inherit !important;
    font-size: 100% !important;
    text-transform: uppercase;
}

.new-custom-deal-tools button:first-child {
    background: #00AEEF !important;
}

.new-custom-deal-tools button:first-child:hover {
    background-color: #0071c5 !important;
}

.new-custom-deal-tools button:last-child {
    background-color: #fafafa !important;
}

.new-custom-deal-tools button:last-child:hover {
    background-color: #ebebeb !important;
}

kendo-upload.fino-css.throw-fa-css kendo-upload-action-buttons {
    position: relative;
    height: 55px;
    border-bottom: none;
    z-index:0;
}

kendo-upload.fino-css.throw-fa-css kendo-upload-action-buttons .k-upload-selected {
    margin-top: 0 !important;
    display: block;
    position: absolute;
    border-radius: 0 0 4px 0;
    box-shadow: 0 2px 6px #00000033, 0 2px 3px #0000000d;
    height: 54px;
    -webkit-box-shadow: 0 2px 6px #00000033, 0 2px 3px #0000000d;
    -moz-box-shadow: 0 2px 6px #00000033, 0 2px 3px #0000000d;
    font-size: 15px;
    border: none !important;
    z-index: 9;
    line-height: 1;
}

kendo-upload.fino-css.throw-fa-css kendo-upload-action-buttons .k-upload-selected:hover {
    border: 1px solid #025ce2 !important;
    height: 55px;
}

    /*kendo-upload.fino-css.throw-fa-css kendo-upload-action-buttons .k-upload-selected:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        width: 163px;
        height: 55px;
        box-shadow: 0px 0px 0px 2px #ccc;
        -webkit-box-shadow: 0px 0px 0px 2px #ccc;
        -moz-box-shadow: 0px 0px 0px 2px #ccc;
    }*/
.upload-text-style .k-text-success.k-file-information {
    color: #00aeef !important;
}

.upload-text-style.k-upload .k-upload-files .k-upload-pct {
    color: #00aeef !important;
}

.upload-text-style.k-upload .k-file-progress .k-file-name {
    color: #00aeef !important;
    font-family: 'Intel Clear' !important
}