@import '../kendo_grid.css';

﻿.batchTimingComp .head-r-shift {
    padding-top: 15px !important;
    padding-left: 35px !important;
    padding-bottom: 0;
}

﻿.batchTimingComp .head-bottom-reduce {
    line-height: 1.1
}

﻿.batchTimingComp .batch-table-lf {
    padding-left: 14px !important;
    padding-right: 5px !important;
    padding-top: 0 !important
}

.batchTimingComp .k-grid.grid-height-h {
    height: calc(100vh - 191px) !important
}