<!-- <link href="/Client/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" /> -->
<!-- <link href="/Client/node_modules/@progress/kendo-theme-bootstrap/dist/all.css" rel="stylesheet" /> -->
<!-- <link href="/Client/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet" /> -->
<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12 k-header-alignment head-r-shift">
        <h3 class="head-bottom-reduce">Batch Job Details</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12 kendo-grid-buttons grid-size-h batch-table-lf batcherComp">
        <kendo-grid class="grid-height-h text-colour-change" [data]="gridData" [loading]="isLoading" [pageSize]="state.take" [skip]="state.skip"
            [sort]="state.sort" [filter]="state.filter" [sortable]="true"
            [pageable]="{type:type,pageSizes: pageSizes,info:info,refresh:true}" [groupable]="true"
            [group]="state.group" filterable="menu" (dataStateChange)="dataStateChange($event)">
            <ng-template kendoGridToolbarTemplate><button (click)="clearFilter()" class="k-button clearButton"><span
                        class="k-icon intelicon-cancel-filter-solid k-icon-md k-family"></span>CLEAR FILTERS </button>
                <kendo-grid-spacer></kendo-grid-spacer><button (click)="refreshGrid()"
                    class="k-button clearButton"><span class="k-icon k-i-reload k-icon-md"></span>Refresh </button>
            </ng-template>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="BTCH_TYPE" title="Batch Type" width="170">
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="BTCH_JOB_NM" title="Batch Job Name"
                width="170"></kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="BTCH_JOB_SCH_TM"
                title="Batch Job Schedule Time (in PST)" width="300"></kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="BTCH_JOB_STS" title="Batch Job Status"
                width="170"></kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="BTCH_JOB_EXEC_DTM"
                title="Batch Job Last Execution Date" width="200"></kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="ERR_MSG" title="Error Message" width="200">
            </kendo-grid-column>
        </kendo-grid>
    </div>
</div>