<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />
<loading-panel-angular *ngIf="isModel" id="PTRLoading" class="ptrLoading" style="z-index:500;" [show]="isLoading" [header]="spinnerMessageHeader"
                       [description]="spinnerMessageDescription" [isShowFunFact]="isBusyShowFunFact" [msgType]="msgType"></loading-panel-angular>

<ng-template #complexStackingGridTemplate>
    <div class="main-container windOverLaps" *ngIf="hasMultipleGroupings">
        <div class="grid-container">
            <div id="sum-wrapper" class="contractManagerPlus"  style="padding-top: 75px;">
                <div id="sum-header" style="min-width: 800px;height:50px">
                    <div style="border-bottom: 1px solid #555; padding: 6px 0; background-color: #fff;">
                        <table style="width: 100%; margin-top:0;" class="tbl-header">
                            <tr>
                                <td style="width: 30px;">&nbsp;</td>
                                <td style="width: 60px;">
                                    <div title='Deal ID'>
                                        Deal ID
                                    </div>
                                </td>
                                <td style="width: 60px;">
                                    <div title='Grouped As'>
                                        Overlaps / Multiple Overlaps
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="sum-container">
                    <div class="sum-main-body">
                        <div class="sum-main-container collectContractManagers" style="line-height: 1 !important;">
                            <div *ngFor="let ps of grpDeals;let psIndex=index" class="sumPsContainer">
                                <table style="width: 100%;" class="tbl-header">
                                    <tr>
                                        <td style="width: 30px; height: 30px;" id="PRC_ST_{{psIndex}}" (click)="expandDetailsBy(ps)">
                                            <i class="chevron linkable collapseALL" [ngClass]="{'intelicon-down': displayId[ps.dealId], 'intelicon-right-next': !displayId[ps.dealId]}"></i>
                                        </td>
                                        <td style="width: 60px;">
                                            <div title="Deal ID">
                                                <label>
                                                    {{ps.dealId}}
                                                </label>
                                            </div>
                                        </td>
                                        <td style="width: 60px;">
                                            <div title="Grouped As">
                                                <label>
                                                    {{ps.gridlabel}}
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <div>
                                    <div class="collapse multi-collapse" id="PSData_{{psIndex}}" [ngClass]="{show : displayId[ps.dealId]}">
                                        <div class="col-md-12" *ngFor="let curDealGroup of detailData[ps.dealId]; let i = index">
                                            <kendo-grid [data]="curDealGroup.gridData" [sortable]="true" [resizable]="false" [selectable]="false" #groupingGrid>
                                                <kendo-grid-column *ngFor="let column of COLUMNS_CONFIG" field="{{ column.field }}" title="{{ column.title }}" [hidden]="column.hidden">
                                                    
                                                    <ng-template kendoGridCellTemplate *ngIf="!['PRODUCT_NM','ECAP_PRICE','MAX_RPU'].includes(column.field)" let-dataItem="dataItem">
                                                        <div title="{{dataItem[column.field]}}">
                                                            {{dataItem[column.field]}}
                                                        </div>
                                                    </ng-template>
                                                    <ng-template kendoGridCellTemplate *ngIf="column.field == 'PRODUCT_NM'" let-dataItem="dataItem">
                                                        <div title="{{dataItem.PRODUCT_NM}}">
                                                            {{ dataItem.PRODUCT_NM && dataItem.PRODUCT_NM.length > 20 ? (dataItem.PRODUCT_NM | slice:0:20) + '...' : dataItem.PRODUCT_NM }}
                                                        </div>
                                                    </ng-template>
                                                    <ng-template kendoGridCellTemplate *ngIf="column.field == 'ECAP_PRICE'" let-dataItem="dataItem">
                                                        <div title="{{ dataItem.ECAP_PRICE | kendoNumber: 'c' }}">
                                                            {{ dataItem.ECAP_PRICE | kendoNumber: 'c' }}
                                                        </div>
                                                    </ng-template>
                                                    <ng-template kendoGridCellTemplate *ngIf="column.field == 'MAX_RPU'" let-dataItem="dataItem">
                                                        <div title=" {{ dataItem.MAX_RPU | kendoNumber: 'c' }}">
                                                            {{ dataItem.MAX_RPU | kendoNumber: 'c' }}
                                                        </div>
                                                    </ng-template>
                                                    <ng-template kendoGridFooterTemplate  *ngIf="column.field == 'MAX_RPU'">
                                                        <div title="Total RPU: {{ curDealGroup.rpuTotal['MAX_RPU'].sum | kendoNumber: 'c' }}">
                                                            Total RPU: {{ curDealGroup.rpuTotal["MAX_RPU"].sum | kendoNumber: 'c' }}
                                                        </div>
                                                    </ng-template>

                                                </kendo-grid-column>
                                            </kendo-grid>
                                            <br />
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-container" >
            <button kendoButton class="btn btn-sm btn-primary lnk btnselectAccept overlapBtnSelect footer-button-height" icon="file-excel" (click)="exportDataToExcel()"> Export to Excel </button>
            <button [ngStyle]="{'display': isModel ? 'inline':'none' }" class='btn btn-sm btn-primary lnk btnYes btnselectAccept overlapBtnSelect footer-accept-button' (click)="acceptAllGroupings()"><i class='intelicon-check'></i> {{isAnyItemChecked() ? 'Accept Selected' : 'Accept All'}} </button>
        </div>
    </div>
</ng-template>

<div *ngIf="!isModel">
    <span *ngIf="isLoading" class="k-i-loading loading-design-custom">
        <span style="margin-left: 6em; font-size:10px; line-height: 1.0 !important; ">Loading.....</span>
    </span>
    <span *ngIf="showNoGroupingAvailableMessage">
        <span style="margin-left: 6em; font-size:10px; line-height: 1.0 !important; ">No complex grouping available.</span>
    </span>
    <ng-container *ngTemplateOutlet="complexStackingGridTemplate"></ng-container>
</div>

<kendo-window title="Overlapping Deals - Complex Stacking"  *ngIf="isModel" [keepContent]="true" [(left)]="left" [(top)]="top" [width]="kendoWindowWidth" [height]="kendoWindowHeight" (close)="closeModal()" class="k-wind-design headerTitlesOver windOverLaps" style="z-index:10001 !important">
    <kendo-window-titlebar >
        <span class="k-window-title">Overlapping Deals - Complex Stacking</span>
        <button kendoWindowMaximizeAction></button>
        <button kendoWindowRestoreAction></button>
        <button kendoWindowCloseAction></button>
    </kendo-window-titlebar>
    <ng-container *ngTemplateOutlet="complexStackingGridTemplate"></ng-container>
</kendo-window>
