.globalSearchInpt {
    width: 320px;
    font-size: 14px;
    line-height: .9em;
    padding: 4px 5px 5px 5px;
    border: 0 solid transparent;
    height: auto
}

@media (max-width:970px) {
    .globalSearchInpt {
        width: 176px
    }
}

@media (max-width:810px) {
    .globalSearchInpt {
        width: 57px
    }
}

.dropdown-search li {
    cursor: pointer
}

.k-window-title {
    right: 1.143em !important;
    left: 1.143em !important;
    padding: 7px !important;
    font-size: 1.2em !important;
}

.k-button-icon {
    left: 63em !important;
    padding-top: 0.45em !important;
}

.k-window-titlebar {
    background-color: #0071c5 !important;
    color: #fff !important;
    margin-top: -40px !important;
}

.dashboard-header {
    margin-top: 48px !important;
}

kendo-window-titlebar.kendo-titlebar-custom {
    padding: 3px 15px;
}

kendo-window-titlebar.kendo-titlebar-custom .k-button-icon {
    color: #fff;
    position: relative;
    height: 35px;
    width: 35px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

kendo-window-titlebar.kendo-titlebar-custom .k-button-icon .k-i-close {
    color: #fff;
}