.globalSearchInpt {
    width: 320px;
    font-size: 14px;
    line-height: .9em;
    padding: 4px 5px 5px 5px;
    border: 0 solid transparent;
    height: auto
}

@media (max-width:970px) {
    .globalSearchInpt {
        width: 176px
    }
}

@media (max-width:810px) {
    .globalSearchInpt {
        width: 57px
    }
}

.dropdown-search li {
    cursor: pointer
}

.k-window-title {
    right: 1.143em !important;
    left: 1.143em !important;
    padding: 7px !important;
    font-size: 1.2em !important;
}

.k-button-icon {
    padding-top: 0.45em !important;
}

.k-window-titlebar {
    background-color: #0071c5 !important;
    color: #fff !important;
    margin-top: -40px !important;
}

.dashboard-header {
    margin-top: 48px !important;
}

kendo-window-titlebar.kendo-titlebar-custom {
    padding: 3px 15px;
}

kendo-window-titlebar.kendo-titlebar-custom .k-button-icon {
    color: #fff;
    position: relative;
    height: 35px;
    width: 35px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0 !important;
}

kendo-window-titlebar.kendo-titlebar-custom .k-button-icon .k-i-close {
    color: #fff;
}
.kendoWindow {
    z-index: 10001 !important;
}
button.global-popup-okbtn.k-button {
    height: 60px !important;
    background-color: #dcd8d880 !important;
    color: #444 !important
}

    button.global-popup-okbtn.k-button:hover {
        background-color: #bbb6b614 !important
    }

kendo-dialog-actions.global-style.k-dialog-buttongroup {
    padding: 0px !important;
}

.global-titles-style {
    font-family: 'Intel Clear' !important;
    margin: 10px 0px 0px 0px !important;
}

.k-content.k-window-content.k-dialog-content .global-titles-style {
    padding: 15px !important;
    margin-bottom: 5px !important;
}

ul.global-dropdown-style {
    background-color: #fff !important;
    color: #0071c5 !important;
    font-size: 15px !important;
    top: 0px !important;
    border: 1px solid #d3d3d357 !important;
    min-width: 200px !important
}

.global-dropdown-style > li > a:hover {
    background: #003C71 !important;
    color: #fff !important;
}

.global-dropdown-style.dropdown-menu > li > a {
    display: block;
    padding: 2px 12px !important;
    clear: both !important;
    font-weight: normal !important;
    line-height: 1.5 !important;
    white-space: nowrap !important;
}