﻿.kendo-grid-buttons.dealTypers {
    padding-left: 25px !important;
    padding-right: 25px !important;
    width: 100% !important;
}

.k-grid.KendoDealTypeInfo {
    height: calc(100vh - 220px) !important;
    margin-right: 10px;
}