path {
    stroke: #666
}

.legend {
    overflow: hidden;
    color: #999999;
    font-family: arial;
    font-size: 10px
}

.legendItem {
    margin-left: 10px
}

.legendKey {
    width: 10px;
    height: 10px;
    margin-right: 4px;
    margin-top: 2px;
    border: 1px solid #000
}

#grdDashStatus .medIcon {
    font-size: 22px
}

.breadcrumbs {
    overflow: hidden;
    color: #999999
}

.crumb {
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.crumb:before {
    font-family: "FontAwesome";
    content: "\f054";
    padding: 0 4px;
    color: #FFA300
}

.crumb:first-child:before {
    content: "";
    padding: 0
}

.contract-board {
    font-family: "Intel Clear";
    font-size: 12px;
    font-weight: 400
}

.contract-board svg {
    margin-top: 9px
}

.contract-board .ttl {
    font-size: 16px
}

.contract-board {
    margin-top: 0;
    margin-right: 200px;
    height: 200px
}

.contract-board .right-pane {
    height: 100%;
    float: right;
    overflow: hidden;
    width: 200px;
    margin-right: -200px;
    padding: 0
}

.contract-board .center-pane {
    height: 100%;
    overflow: auto;
    width: 100%
}

.medIcon {
    font-size: 22px
}

.textDecoratorWrap {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    text-decoration: none !important
}

.new-template-icon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0071c5
}

.request-icons {
    margin-right: 5px
}

.calc-icons icon-mct-pct-angular i {
    font-size: 22px
}