variables:
  EXE_RELEASE_FOLDER: 'MyDeals\bin\Release'
  MSI_RELEASE_FOLDER: 'Setup\bin\Release'
  TEST_FOLDER: 'Tests\bin\Release'
  DEPLOY_FOLDER: 'C:\Projects\MyDeals\Builds'
  NUGET_PATH: 'C:\NuGet\nuget.exe'
  MSBUILD_PATH: 'C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\MSBuild\Current\Bin\msbuild.exe'
  NUNIT_PATH: 'C:\Program Files (x86)\NUnit.org\nunit-console\nunit3-console.exe'


  DEV_DEPLOY_PATH:      '\\HF2DEVMYD2W01.amr.corp.intel.com\MyDeals'
  DEV_NEW_DEPLOY_PATH:  '\\HF2DEVMYDLW01.amr.corp.intel.com\MyDeals'
  ITT_DEPLOY_PATH:      '\\HF2ITTMYD2W01.amr.corp.intel.com\MyDeals'
  ITT_NEW_DEPLOY_PATH:  '\\HF2ITTMYDLW01.amr.corp.intel.com\MyDeals'
  EUT_DEPLOY_PATH:      '\\hf2cinmyd2w01\MyDealsEUT'
  DAY1_DEPLOY_PATH:     '\\hf2cinmyd2w01\MyDealsDay1'
  UTT1_DEPLOY_PATH:     '\\HF2UTTMYD2W01.amr.corp.intel.com\MyDeals'
  UTT2_DEPLOY_PATH:     '\\HF2UTTMYD2W02.amr.corp.intel.com\MyDeals'
  CONS1_DEPLOY_PATH:    '\\FM7CONMYD2W01.amr.corp.intel.com\MyDeals'
  CONS2_DEPLOY_PATH:    '\\FM7CONMYD2W02.amr.corp.intel.com\MyDeals'
  CIAR_DEPLOY_PATH:     '\\FM7CIAMYD2W01.amr.corp.intel.com\MyDeals'
  PERF_DEPLOY_PATH:     '\\HF2PRFMYD2W01.amr.corp.intel.com\MyDeals'
  CINR_DEPLOY_PATH:     '\\HF2CINMYD2W01.amr.corp.intel.com\MyDeals'
  DR_DEPLOY_PATH:       '\\CH2DRMYD2W01.amr.corp.intel.com\MyDeals'
  PROD1_DEPLOY_PATH:    '\\FM1PRDMYD2W01.amr.corp.intel.com\MyDeals'
  PROD2_DEPLOY_PATH:    '\\FM1PRDMYD2W02.amr.corp.intel.com\MyDeals'

stages:
 - Restore
 - Build
 # - Dev_Deploy
 # - ITT_Deploy
 # - CONS_Deploy
 # - CIAR_Deploy
 # - UTT_Deploy
 # - PERF_Deploy
 # - CINR_Deploy
 # - PROD_Deploy
 # - DR_Deploy
 - Level_1
 - Level_2
 - Level_3
 - Level_4
 - Level_5(PROD)

restore_packages:
  stage: Restore
  script:
    - '& "$env:NUGET_PATH" restore'  # restore Nuget dependencies
  artifacts:
    expire_in: 1 week  # save gitlab server space, we copy the files we need to deploy folder later on
    paths:
      - 'packages/'

build_job:
  stage: Build
  script:
    - '& "$env:MSBUILD_PATH" /p:OutDir=$CI_PROJECT_DIR/output /p:TransformConfigFiles=true /p:Configuration=Release /p:Platform="Any CPU" /p:GenerateSerializationAssemblies=Off'  # build the project
  artifacts:
    expire_in: 1 week  # save gitlab server space, we copy the files we need to deploy folder later on
    paths:
      - output/_PublishedWebsites/
  dependencies:
    - restore_packages

dev_deploy:
  stage: Level_1
  script:
    - '& robocopy output/_PublishedWebsites/Intel.MyDeals $env:DEV_DEPLOY_PATH /MIR /MT /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& robocopy output/_PublishedWebsites/Intel.MyDeals/EnvConfig/Dev $env:DEV_DEPLOY_PATH Web.Config /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& Copy-Item output/_PublishedWebsites/Intel.MyDeals -Destination deployed/DEV -Recurse' 
    - '& robocopy output/_PublishedWebsites/Intel.MyDeals $env:DEV_NEW_DEPLOY_PATH /MIR /MT /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& robocopy output/_PublishedWebsites/Intel.MyDeals/EnvConfig/Dev $env:DEV_NEW_DEPLOY_PATH Web.Config /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - npx @intc/squawker squawk -i 14464 --sa MyDeals-UI-DEV
  dependencies:
    - build_job
  when: manual
  allow_failure: true
  environment:
      name: DEV
  artifacts:
    expire_in: 1 week  # save gitlab server space, we copy the files we need to deploy folder later on
    paths:
      - deployed/DEV/

itt_deploy:
  stage: Level_2
  script:
    - '& robocopy deployed/DEV/ $env:ITT_DEPLOY_PATH /MIR /MT /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& robocopy deployed/DEV/EnvConfig/itt $env:ITT_DEPLOY_PATH Web.Config /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& Copy-Item deployed/DEV -Destination deployed/ITT -Recurse'
    - '& robocopy deployed/DEV/ $env:ITT_NEW_DEPLOY_PATH /MIR /MT /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& robocopy deployed/DEV/EnvConfig/itt $env:ITT_NEW_DEPLOY_PATH Web.Config /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'

    - npx @intc/squawker squawk -i 14464 --sa MyDeals-UI-ITT
  when: manual
  allow_failure: true
  environment:
      name: ITT
  artifacts:
    expire_in: 1 week  # save gitlab server space, we copy the files we need to deploy folder later on
    paths:
      - deployed/ITT/

eut_deploy:
  stage: Level_2
  script:
    - '& robocopy deployed/DEV/ $env:EUT_DEPLOY_PATH /MIR /MT /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& robocopy deployed/DEV/EnvConfig/eut $env:EUT_DEPLOY_PATH Web.Config /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& Copy-Item deployed/DEV -Destination deployed/EUT -Recurse'
    - npx @intc/squawker squawk -i 14464 --sa MyDeals-UI-EUT
  when: manual
  allow_failure: true
  environment:
      name: EUT
  artifacts:
    expire_in: 1 week  # save gitlab server space, we copy the files we need to deploy folder later on
    paths:
      - deployed/EUT/

day1_deploy:
  stage: Level_2
  script:
    - '& robocopy deployed/DEV/ $env:DAY1_DEPLOY_PATH /MIR /MT /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& robocopy deployed/DEV/EnvConfig/day1 $env:DAY1_DEPLOY_PATH Web.Config /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& Copy-Item deployed/DEV -Destination deployed/DAY1 -Recurse'
    - npx @intc/squawker squawk -i 14464 --sa MyDeals-UI-DAY1
  when: manual
  allow_failure: true
  environment:
      name: DAY1
  artifacts:
    expire_in: 1 week  # save gitlab server space, we copy the files we need to deploy folder later on
    paths:
      - deployed/DAY1/

cons1_deploy:
  stage: Level_3
  script:
    - '& robocopy deployed/ITT/ $env:CONS1_DEPLOY_PATH /MIR /MT /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& robocopy deployed/ITT/EnvConfig/cons $env:CONS1_DEPLOY_PATH Web.Config /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& Copy-Item deployed/ITT -Destination deployed/CONS -Recurse' 
    - npx @intc/squawker squawk -i 14464 --sa MyDeals-UI-CONS1
  when: manual
  #only: 
  #  - /^RC_W{2}\d{1,2}/
  allow_failure: true
  environment:
      name: CONS
  artifacts:
    expire_in: 1 week  # save gitlab server space, we copy the files we need to deploy folder later on
    paths:
      - deployed/CONS/

cons2_deploy:
  stage: Level_3
  script:
    - '& robocopy deployed/ITT/ $env:CONS2_DEPLOY_PATH /MIR /MT /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& robocopy deployed/ITT/EnvConfig/cons $env:CONS2_DEPLOY_PATH Web.Config /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& Copy-Item deployed/ITT -Destination deployed/CONS -Recurse'
    - npx @intc/squawker squawk -i 14464 --sa MyDeals-UI-CONS2
  when: manual
  #only: 
  #  - /^RC_W{2}\d{1,2}/
  allow_failure: true
  environment:
      name: CONS
  artifacts:
    expire_in: 1 week  # save gitlab server space, we copy the files we need to deploy folder later on
    paths:
      - deployed/CONS/

utt1_deploy:
  stage: Level_3
  script:
    - '& robocopy deployed/ITT/ $env:UTT1_DEPLOY_PATH /MIR /MT /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& robocopy deployed/ITT/EnvConfig/utt $env:UTT1_DEPLOY_PATH Web.Config /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& Copy-Item deployed/ITT -Destination deployed/UTT -Recurse' 
    - npx @intc/squawker squawk -i 14464 --sa MyDeals-UI-UTT2
  when: manual
  only: 
    - /^RC_W{2}\d{1,2}/
  allow_failure: true
  environment:
      name: UTT
  artifacts:
    expire_in: 1 week  # save gitlab server space, we copy the files we need to deploy folder later on
    paths:
      - deployed/UTT/

utt2_deploy:
  stage: Level_3
  script:
    - '& robocopy deployed/ITT/ $env:UTT2_DEPLOY_PATH /MIR /MT /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& robocopy deployed/ITT/EnvConfig/utt $env:UTT2_DEPLOY_PATH Web.Config /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& Copy-Item deployed/ITT -Destination deployed/UTT -Recurse'
    - npx @intc/squawker squawk -i 14464 --sa MyDeals-UI-UTT2
  when: manual
  only: 
    - /^RC_W{2}\d{1,2}/
  allow_failure: true
  environment:
      name: UTT
  artifacts:
    expire_in: 1 week  # save gitlab server space, we copy the files we need to deploy folder later on
    paths:
      - deployed/UTT/

cinr_deploy:
  stage: Level_3
  script:
    - '& robocopy deployed/ITT/ $env:CINR_DEPLOY_PATH /MIR /MT /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& robocopy deployed/ITT/EnvConfig/utt $env:CINR_DEPLOY_PATH Web.Config /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& Copy-Item deployed/ITT -Destination deployed/CINR -Recurse'
    - npx @intc/squawker squawk -i 14464 --sa MyDeals-UI-CINR
  when: manual
  only: 
    - /^RC_W{2}\d{1,2}/
  allow_failure: true
  environment:
      name: CINR
  artifacts:
    expire_in: 1 week  # save gitlab server space, we copy the files we need to deploy folder later on
    paths:
      - deployed/CINR/

ciar_deploy_from_cons:
  stage: Level_4
  script:
    - '& robocopy deployed/CONS/ $env:CIAR_DEPLOY_PATH /MIR /MT /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& robocopy deployed/CONS/EnvConfig/ciar $env:CIAR_DEPLOY_PATH Web.Config /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& Copy-Item deployed/CONS -Destination deployed/CIAR -Recurse'
    - npx @intc/squawker squawk -i 14464 --sa MyDeals-UI-CIAR
  when: manual
  only: 
    - /^RC_W{2}\d{1,2}/
  allow_failure: true
  environment:
      name: CIAR
  artifacts:
    expire_in: 1 week  # save gitlab server space, we copy the files we need to deploy folder later on
    paths:
      - deployed/CIAR/
      
ciar_deploy_from_utt:
  stage: Level_4
  script:
    - '& robocopy deployed/UTT/ $env:CIAR_DEPLOY_PATH /MIR /MT /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& robocopy deployed/UTT/EnvConfig/ciar $env:CIAR_DEPLOY_PATH Web.Config /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& Copy-Item deployed/UTT -Destination deployed/CIAR -Recurse'  
    - npx @intc/squawker squawk -i 14464 --sa MyDeals-UI-CIAR
  when: manual
  only: 
    - /^RC_W{2}\d{1,2}/
  allow_failure: true
  environment:
      name: CIAR
  artifacts:
    expire_in: 1 week  # save gitlab server space, we copy the files we need to deploy folder later on
    paths:
      - deployed/CIAR/

app_Pool_Stop:
  stage: Level_5(PROD)
  script:
    - '& \DeploymentScripts\ps_stopRemoteAppPool.ps1 ${AppPoolName} ${Server} ${ReleaseUser} ${ReleasePW}'
  when: manual
  only: 
    - /^RC_W{2}\d{1,2}/
  allow_failure: true

prod1_deploy:
  stage: Level_5(PROD)
  script:
    - '& net use y: $env:PROD1_DEPLOY_PATH /user:${ReleaseUser} ${ReleasePW} /y'
    - '& robocopy deployed/CIAR/ y: /MIR /MT /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& robocopy deployed/CIAR/EnvConfig/prod y: Web.Config /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& Copy-Item deployed/CIAR -Destination deployed/PROD -Recurse'
    - '& net use * /delete /y'
    - npx @intc/squawker squawk -i 14464 --sa MyDeals-UI-PROD1
  when: manual
  only: 
    - /^RC_W{2}\d{1,2}/
  allow_failure: true
  environment:
      name: PROD
  artifacts:
    expire_in: 1 week  # save gitlab server space, we copy the files we need to deploy folder later on
    paths:
      - deployed/PROD/  

prod2_deploy:
  stage: Level_5(PROD)
  script:
    - '& net use y: $env:PROD2_DEPLOY_PATH /user:${ReleaseUser} ${ReleasePW} /y'
    - '& robocopy deployed/CIAR/ y: /MIR /MT /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& robocopy deployed/CIAR/EnvConfig/prod y: Web.Config /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& Copy-Item deployed/CIAR -Destination deployed/PROD -Recurse'
    - '& net use * /delete /y'
    - npx @intc/squawker squawk -i 14464 --sa MyDeals-UI-PROD2
  when: manual
  only: 
    - /^RC_W{2}\d{1,2}/
  allow_failure: true
  environment:
      name: PROD
  artifacts:
    expire_in: 1 week  # save gitlab server space, we copy the files we need to deploy folder later on
    paths:
      - deployed/PROD/
     
app_Pool_Start:
  stage: Level_5(PROD)
  script:
    - '& \DeploymentScripts\ps_startRemoteAppPool.ps1 ${AppPoolName} ${Server} ${ReleaseUser} ${ReleasePW}'
  when: manual
  only: 
    - /^RC_W{2}\d{1,2}/
  allow_failure: true

dr_deploy:
  stage: Level_5(PROD)
  script:
    - '& net use y: $env:DR_DEPLOY_PATH /user:${ReleaseUser} ${ReleasePW} /y'
    - '& robocopy deployed/CIAR/ y: /MIR /MT /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& robocopy deployed/CIAR/EnvConfig/prod y: Web.Config /copyall /secfix ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }'
    - '& Copy-Item deployed/CIAR -Destination deployed/DR -Recurse'
    - '& net use * /delete /y'
    - npx @intc/squawker squawk -i 14464 --sa MyDeals-UI-DR
  when: manual
  only: 
    - /^RC_W{2}\d{1,2}/
  allow_failure: true
  environment:
      name: DR
  artifacts:
    expire_in: 1 week  # save gitlab server space, we copy the files we need to deploy folder later on
    paths:
      - deployed/DR/  
