a.navbar-brand,
a.navbar-brand:hover {
    outline-color: #0071C5 !important;
    outline: #0071C5 !important;
}

.tender-folio-dialog .mat-dialog-container {
    padding: 0 !important;
    overflow: hidden !important;
    border-radius: 0 !important;
    margin-top: -55px
}

.modal-content {
    margin-top: 85px;
    border-top: none
}

.tenderFolio-modal-window .modal-dialog {
    width: 600px;
    margin: auto
}

.ss-loading-panel {
    background-color: #ffffff;
    margin-top: 150px !important;
    margin-left: 150px !important;
    position: absolute !important
}

.rmv-padding {
    padding: 0 !important
}

.navbar-logo {
    padding: 10px 5px !important;
    font-size: 25px;
    color: white
}

#secContainer {
    overflow: auto !important
}

.infospan {
    margin-top: -135px !important;
    margin-left: 200px !important;
    width: 220px !important;
    background-color: #f2f2f2;
    color: #322122;
    padding: 8px 16px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: fixed;
    opacity: .86
}

.contract-detail-form {
    padding: 2px 20px 0 20px !important
}

.red-color {
    color: #e32
}

.label-font {
    font-weight: bold !important;
    font-size: 14px !important
}

.width-height {
    width: 470px !important;
    max-width: none !important;
    height: 39px !important
}

.width-style {
    width: 515px !important;
    max-width: none !important
}

.combobox,
.inputtext {
    padding: 0 !important
}

.combobox {
    border-radius: 0 !important
}


.inputtext {
    margin-left: 0 !important;
    max-width: none !important;
    border-radius: 0 !important;
    border-color: #f0f0f0 !important;
    /*border-bottom: 2px solid #0071c5 !important*/
}

.kendoAlert {
    padding: 1.4em !important;
    font-family: Intel Clear, Helvetica Neue, Helvetica, Arial, sans-serif !important;
    color: #444444 !important;
}

li.k-button {
    border-radius: 1.071em;
    position: relative;
    color: #444444;
    border-color: #fafafa;
    background-color: #fafafa;
    font-weight: normal !important;
    font-size: 16px
}

li.k-button:hover {
    border-color: #ebebeb;
    background-color: #ebebeb
}

.combobox:hover,
.inputtext:hover,
.division-name:hover {
    background-color: #ffffff;
    border-color: #f5f5f5;
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%), 0 2px 3px rgb(0 0 0 / 5%)
}

.k-window {
    border-radius: 0 !important;
    text-align: center !important
}

.k-window-content {
    width: max-content !important;
    overflow: hidden !important
}

.k-dialog-buttongroup {
    padding: 0 !important;
    height: 63px;
    background-color: #fafafa;
    border-color: #fafafa !important;
    cursor: pointer
}

.k-dialog-buttongroup:hover {
    background-color: #e8eaec
}

.tenderFolioAlert {
    border: .5px solid #ed1c24 !important
}

.k-multiselect-wrap {
    border-radius: 0 !important;
    border-color: #f0f0f0 !important;
    border-bottom: 2px solid #0071c5 !important
}

.circleWithText:hover {
    color: #FFA300
}

.circleWithText:hover .textCircle {
    background-color: #FFA300
}

.activeCircle {
    background-color: #FFA300
}

.activeText {
    color: #FFA300 !important
}

.blueBg {
    margin-top: 3px
}

.circleWithText {
    height: 28px !important;
    padding-left: 10px
}

.circleWithText:hover {
    color: #FFA300
}

.textName {
    color: #00AEEF
}

.secBasicContainerWrapper {
    height: 280px
}

.rmv-mrgn-btm {
    margin-bottom: 0 !important
}

.tndr-btn {
    margin-left: 30px;
    background-color: #00AEFF!important;
    border-color: #367fa9!important;
    color: #fff !important;
}

.tndr-btn:hover {
    background-color: #367fa9 !important;
    border-color: #00aeef !important;
}

.pdng-lft {
    padding-left: 15px !important
}

.kendo-alrt-btn {
    padding: 1.4em
}

.mdl-cntnt-height {
    height: 280px
}

.pdng-btm {
    margin: 0 0 5px 0 !important
}

.primary-btn {
    color: #ffffff;
    font-size: 15px !important;
    font-family: Intel Clear, Helvetica Neue, Helvetica, Arial, sans-serif !important;
    background-color: #00AEEF;
    text-align: center;
    cursor: pointer;
    padding: 1.4em;
}

.primary-btn:hover {
    background-color: #0071C5;
}

.secondary-btn {
    color: #444444;
    font-size: 15px !important;
    font-family: Intel Clear, Helvetica Neue, Helvetica, Arial, sans-serif !important;
    background-color: #fafafa;
    text-align: center;
    cursor: pointer;
    padding: 1.4em;
}

.secondary-btn:hover {
    background-color: #ebebeb;
}

.dialog-action {
    padding: 0px !important;
    height: 60px !important;
    border: 0px !important;
    gap: 0px !important;
}

.mycombox.k-combobox {
    /*border-bottom: none !important;*/
    border-radius: 0 !important
}

/*.myalertprice {
    margin-right: 83px !important;
    padding: 25px !important
}*/

.mycombox.k-combobox .k-dropdown-wrap .k-select {
    background: #d3d3d326 !important;
    width: 38px !important;
    border-color: #f0f0f0 !important;
}

.mycombox.k-combobox .k-dropdown-wrap {
    border-color: #f0f0f0 !important;
    color: #495057;
    background-color: #ffffff;
}

.mycombox.k-combobox > .k-state-focused {
    box-shadow: none !important
}

.mycombox .k-icon {
    color: #727578 !important;
}

.mycombox.k-combobox:focus-within {
    border-color: #f0f0f0 !important;
    box-shadow: 0 2px 6px rgb(0 0 0 /20%), 0 2px 3px rgb(0 0 0 / 5%) !important;
}

.mycombox .k-icon:hover {
    color: #727578 !important
}

.tndr-btn.btn {
    border-radius: 3px !important;
    border: 1px solid #367fa9 !important;
}

.inputtext.k-textbox:focus-within {
    border-color: #f0f0f0 !important;
    box-shadow: 0 2px 6px rgb(0 0 0 /20%), 0 2px 3px rgb(0 0 0 / 5%) !important;
}