.tender-folio-dialog .mat-dialog-container {
    padding: 0px !important;
    overflow: hidden !important;
    border-radius: 0px !important;
    margin-top: 50px;
}

.rmv-padding {
    padding: 0px !important;
}

.navbar-logo {
    padding: 10px 5px !important;
    font-size: 25px;
    color: white;
}

#secContainer {
    overflow: auto !important;
}

.infospan {
    margin-top: -135px !important;
    margin-left: 200px !important;
    width: 220px !important;
    background-color: #f2f2f2;
    color: #322122;
    padding: 8px 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 99999;
    position: fixed;
    opacity: 0.86;
}

.combobox, .inputtext {
    width: 100% !important;
    padding: 0px !important;
    margin-left: 10px !important
}

.contract-detail-form {
    padding: 2px 20px 0px 20px !important;
}

.label-font {
    font-weight: bold !important;
    font-size: 14px !important;
}

.red-color {
    color: #e32;
}

.ss-loading-panel {
    background-color: #ffffff;
    margin-top: 150px !important;
    margin-left: 150px !important;
    position: absolute !important;
}

.circleWithText:hover {
    color: #FFA300;
}

    .circleWithText:hover .textCircle {
        background-color: #FFA300;
    }

.activeCircle {
    background-color: #FFA300;
}

.activeText {
    color: #FFA300 !important;
}

.blueBg {
    margin-top: 3px;
}

.circleWithText {
    height: 28px !important;
    padding-left: 10px;
}

    .circleWithText:hover {
        color: #FFA300;
    }

.textName {
    color: #00AEEF
}

.ptLnavTitle {
    margin: -15px !important;
    font-weight: bold;
    font-size: 14px;
}

.modal-content {
    margin-top: 85px;
    border-top: none
}

.k-numeric-wrap {
    width: 100%;
}

.combobox {
    margin-left: 13px !important;
}

.inputtext {
    margin-left: 0px !important;
}

.tenderFolio-modal-window .modal-dialog {
    width: 600px;
    margin: auto;
}

#copyCntrctDlg {
    padding: 0px !important
}



.padTop30 {
    padding-top: 30px;
}

.k-dialog .promptUserDialog {
    text-align: center;
    padding: 10px 0 0 0;
}

    .k-dialog .promptUserDialog h4 {
        color: #003C71;
        font-size: 18px;
        font-weight: 600;
        margin-top: 0;
    }

    .k-dialog .promptUserDialog p {
        font-size: 12px;
        padding: 10px 20px;
    }

.delete-attach-icon {
    font-size: 16px;
    cursor: pointer;
}

    .delete-attach-icon:hover {
        text-decoration: none;
    }


.hint-collapse {
    display: none;
}

@media (max-width: 1000px) {
    .hint-collapse {
        background-color: #f3D54E;
        color: #ffffff;
        display: inherit;
    }

    .no-hint-collapse {
        display: none;
    }
}

.disabled-section {
    background-color: #f2f2f2;
}
