.tender-modals a.navbar-brand,
.tender-modals a.navbar-brand:hover {
    outline-color: #0071C5 !important;
    outline: #0071C5 !important;
}

.tender-folio-dialog .mat-dialog-container {
    padding: 0 !important;
    overflow: hidden !important;
    border-radius: 0 !important;
    margin-top: -55px
}

.cdk-overlay-pane, .tender-folio-dialog {
    height: auto !important;
}

.tender-modals #secFooter {
    margin: 0 !important;
}

/*.modal-content {
    border-top: none
}

.tenderFolio-modal-window .modal-dialog {
    width: 600px;
    margin: auto
}*/

.tender-modals .rmv-padding {
    padding: 0 !important
}

.tender-modals .navbar-logo {
    padding: 10px 5px !important;
    font-size: 25px;
    color: white
}

.tender-modals #secContainer {
    overflow: auto !important
}

.tender-modals .infospan {
    margin-top: -135px !important;
    margin-left: 200px !important;
    width: 220px !important;
    background-color: #f2f2f2;
    color: #322122;
    padding: 8px 16px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: fixed;
    opacity: .86
}

.tender-modals .contract-detail-form {
    padding: 2px 20px 0 20px !important
}

.tender-modals .red-color {
    color: #e32
}

.tender-modals .label-font {
    font-weight: bold !important;
    font-size: 14px !important
}

.tender-modals .width-height {
    width: 470px !important;
    max-width: none !important;
    height: 39px !important
}

/*.width-style {
    width: 515px !important;
    max-width: none !important
}*/

.tender-modals .combobox,
.tender-modals .inputtext {
    padding: 0 !important
}

.tender-modals .combobox {
    border-radius: 0 !important
}


.tender-modals .inputtext {
    margin-left: 0 !important;
    max-width: none !important;
    border-radius: 0 !important;
    border-color: #f0f0f0 !important;
    /*border-bottom: 2px solid #0071c5 !important*/
}

.tender-modals .kendoAlert {
    padding: 1.4em !important;
    font-family: Intel Clear, Helvetica Neue, Helvetica, Arial, sans-serif !important;
    color: #444444 !important;
}

/*li.k-button {
    border-radius: 1.071em;
    position: relative;
    color: #444444;
    border-color: #fafafa;
    background-color: #fafafa;
    font-weight: normal !important;
    font-size: 16px
}*/

    /*li.k-button:hover {
        border-color: #ebebeb;
        background-color: #ebebeb
    }*/

.tender-modals .combobox:hover,
.tender-modals .inputtext:hover,
.tender-modals .division-name:hover {
    background-color: #ffffff;
    border-color: #f5f5f5;
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%), 0 2px 3px rgb(0 0 0 / 5%)
}

.tender-modals .k-window {
    border-radius: 0 !important;
    text-align: center !important
}

.tender-modals .k-window-content {
    width: max-content !important;
    overflow: hidden !important
}

.tender-modals .k-dialog-buttongroup {
    padding: 0 !important;
    height: 63px;
    background-color: #fafafa;
    border-color: #fafafa !important;
    cursor: pointer
}

    .tender-modals .k-dialog-buttongroup:hover {
        background-color: #e8eaec
    }

.tender-modals .tenderFolioAlert {
    border: .5px solid #ed1c24 !important
}

.tender-modals .k-multiselect-wrap {
    border-radius: 0 !important;
    border-color: #f0f0f0 !important;
    border-bottom: 2px solid #0071c5 !important
}

.tender-modals .circleWithText:hover {
    color: #FFA300
}

    .tender-modals .circleWithText:hover .textCircle {
        background-color: #FFA300
    }

.tender-modals .activeCircle {
    background-color: #FFA300
}

.tender-modals .activeText {
    color: #FFA300 !important
}

.tender-modals .blueBg {
    margin-top: 3px
}

.tender-modals .circleWithText {
    height: 28px !important;
    padding-left: 10px
}

    .tender-modals .circleWithText:hover {
        color: #FFA300
    }

.tender-modals .textName {
    color: #00AEEF
}

.tender-modals .secBasicContainerWrapper {
    height: auto !important;
}

.tender-modals .rmv-mrgn-btm {
    margin-bottom: 0 !important
}

.tender-modals .tndr-btn {
    margin-left: 30px;
    background-color: #00AEFF !important;
    border-color: #367fa9 !important;
    color: #fff !important;
}

    .tender-modals .tndr-btn:hover {
        background-color: #367fa9 !important;
        border-color: #00aeef !important;
    }

.tender-modals .pdng-lft {
    padding-left: 15px !important
}

.tender-modals .kendo-alrt-btn {
    margin: auto;
    padding-bottom: 20px;
}

.tender-modals .mdl-cntnt-height {
    height: auto !important;
}

.tender-modals .pdng-btm {
    margin: 0 0 5px 0 !important
}

.tender-modals .primary-btn {
    color: #ffffff;
    font-size: 15px !important;
    font-family: Intel Clear, Helvetica Neue, Helvetica, Arial, sans-serif !important;
    background-color: #00AEEF;
    text-align: center;
    cursor: pointer;
    padding: 1.4em;
}

    .tender-modals .primary-btn:hover {
        background-color: #0071C5;
    }

.tender-modals .secondary-btn {
    color: #444444;
    font-size: 15px !important;
    font-family: Intel Clear, Helvetica Neue, Helvetica, Arial, sans-serif !important;
    background-color: #fafafa;
    text-align: center;
    cursor: pointer;
    padding: 1.4em;
}

    .tender-modals .secondary-btn:hover {
        background-color: #ebebeb;
    }

.tender-modals .dialog-action {
    padding: 0px !important;
    height: 60px !important;
    border: 0px !important;
    gap: 0px !important;
}

.tender-modals .mycombox.k-combobox {
    /*border-bottom: none !important;*/
    border-radius: 0 !important
}

/*.myalertprice {
    margin-right: 83px !important;
    padding: 25px !important
}*/

    .tender-modals .mycombox.k-combobox .k-dropdown-wrap .k-select {
        background: #d3d3d326 !important;
        width: 38px !important;
        border-color: #f0f0f0 !important;
    }

    .tender-modals .mycombox.k-combobox .k-dropdown-wrap {
        border-color: #e6e6e6 !important;
        color: #495057;
        background-color: #ffffff;
    }

    .tender-modals .mycombox.k-combobox > .k-state-focused {
        box-shadow: none !important
    }

.tender-modals .mycombox .k-icon {
    color: #727578 !important;
}

.tender-modals .mycombox.k-combobox:focus-within {
    border-color: #f0f0f0 !important;
    box-shadow: 0 2px 6px rgb(0 0 0 /20%), 0 2px 3px rgb(0 0 0 / 5%) !important;
}

.tender-modals .mycombox .k-icon:hover {
    color: #727578 !important
}

.tender-modals .tndr-btn.btn {
    border-radius: 3px !important;
    border: 1px solid #367fa9 !important;
}

.tender-modals .inputtext.k-textbox:focus-within {
    border-color: #f0f0f0 !important;
    box-shadow: 0 2px 6px rgb(0 0 0 /20%), 0 2px 3px rgb(0 0 0 / 5%) !important;
}

.folioloader .ss-loading-overlay {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    top: 93px;
    left: 0;
    background: rgb(255 255 255 / 42%);
}
.tender-modals kendo-combobox.combobox.mycombox.k-combobox.k-combobox.ng-dirty {
    border-bottom: 2px solid #0071c5 !important;
}

.tender-modals input.inputtext.k-textbox.ng-dirty.ng-touched.style-both-clas {
    border-bottom: 2px solid #0071c5 !important;
}

.tender-modals input.inputtext.style-both-clas {
    border-color: #e6e6e6 !important;
}

.tender-modals .mycombox.k-combobox .k-clear-value {
    visibility: visible !important;
    background: #dbdbdb !important;
    border-radius: 18px !important;
    height: 15px !important;
    margin-top: 10px !important;
    position: relative !important;
    width: 15px !important;
    color: #00aeef !important;
    right: 7px !important;
    font-size: 15px !important;
    opacity: 1 !important;
}

.tender-modals kendo-multiselect.division-name.style-both-clas.k-widget.k-multiselect.ng-valid.ng-touched.ng-dirty {
    border-bottom: 2px solid #0071c5 !important;
}

.tender-modals .style-both-clas .k-multiselect-wrap {
    border-color: #e6e6e6 !important;
    box-shadow: none !important
}

..tender-modals style-both-clas.k-multiselect .k-multiselect-wrap li.k-button {
    float: left !important;
    font-size: 13px !important;
    border-radius: 1.071em !important;
    margin: 3px 0 3px 3px !important;
    padding: 0 1.6em 0 0.857em !important;
    line-height: 1.86em !important;
}