.myLoader {
    min-height: 200px;
    width: 320px;
    position: absolute;
    left: 45%;
    top: 15%;
}

.ss-funfact-description {
    word-wrap: break-word;
    white-space: normal;
}

.spinner > div {
    margin-left: 3px;
}
