
<div class="jumbotron">
    <h1>MyDeals POC</h1>
    <p class="lead">Simple page to test DB connection.</p>
</div>

<div style="margin: 0 50px;">

    <div class="row">
        <div class="col-md-6">
            <h3>User Interaction</h3>
            <p>This is where you start. Simply click the <b>Test DB Connection</b> button to start the Network and Database Test.</p>
            <p>
                <a class="btn btn-default" href="#" onClick="startTest()" style="margin-right: 15px;">Test DB Connection &raquo;</a>
                <a class="btn btn-default" href="#" onClick="resetTest()">&laquo; Reset the Test</a>
            </p>
        </div>
        <div class="col-md-6">
            <h3>Network and DB Attempt</h3>
            <p class="waiting">Waiting for the user to start the test.</p>
            <p class="inprogress">Connecting to the Database <img src="/Images/032.gif" /></p>
            <p class="done">Made the attempt to the Database.</p>
        </div>
    </div>

</div>

<script>

    function startTest() {
        $(".inprogress").show();
        $(".done").hide();
        $(".waiting").hide();

        window.setTimeout(function () {

            op.ajaxGetAsync("/api/Others/GetDBTest", function (data) {
                var msg = "";

                if (data["ERROR"] !== undefined) {
                    msg = "<h6>Results</h6>";
                    msg += "<div class='results'>";
                    msg += "<div><span class='err'>" + data["ERROR"] + "</div>";
                    msg += "<div>";
                    doneTest(msg);

                } else {
                    msg = "<h6>Results</h6>";
                    msg += "<div class='results'>";
                    msg += "<div><span class='lbl'>DB Local Time:</span> " + data["DB Local Time"] + "</div>";
                    msg += "<div><span class='lbl'>DB Server:</span> " + data["DB Server"] + "</div>";
                    msg += "<div><span class='lbl'>DB UTC Time:</span> " + data["DB UTC Time"] + "</div>";
                    msg += "<div>";

                }

                doneTest(msg);

            }, function (result) {
                var msg = "<h6>Results</h6>";
                msg += "<div class='results'>";
                msg += "<div><span class='err'>Failed Test!!!</div>";
                msg += "<div>";
                doneTest(msg);
            });

        }, 1000);
    }

    function resetTest() {
        $(".inprogress").hide();
        $(".done").hide();
        $(".waiting").show();
    }

    function doneTest(msg) {
        $(".inprogress").hide();
        $(".done").html(msg).show();
        $(".waiting").hide();
    }

    $(document).ready(function () {
        window.setTimeout(function () {
            resetTest();
        }, 50);
    });

</script>

<style>
    body {
        font-size: 11px;
        font-family: "Intel Clear", "Arial";
    }


    .results {
        font-size: 10px;
        color: #00b0f0;
        padding-left: 20px;
    }

    .lbl {
        font-weight: bold;
        color: #666666;
    }

    .err {
        color: red;
        font-size: 12px;
        font-weight: bold;
    }
</style>
