.local-Padding {
    padding: 5px
}

.validaterRules .k-grid-content {
    height: 370px !important
}

@media (max-width: 1024px), (max-height: 875px) {
    #OutputContainer {
        height: 35vh;
    }

    #OutputGrid {
        height: 200%;
    }
}
@media (max-width: 1024px) {
    .input-field {
        width: -webkit-fill-available;
    }
}

.dataCell {
    padding: 0;
    height: 50px !important;
    font-family: 'Intel Clear','Arial' !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    border-width: 0 !important
}

.validaterRules .k-cell-inner .k-grid-filter {
    color: black !important
}

.validaterRules .k-grid td {
    border-width: 0 !important;
    border-style: none !important
}

.gridContentScroll.validaterRules .k-grid-content.k-virtual-content {
    overflow-x: scroll !important;
    overflow-y: auto !important;
    height: 100% !important
}

#OutputGrid {
    margin-left: -30px;
}

.vistex-zero-Padding{
    padding:0px;
}

kendo-textarea.validTextAreaVistexCheck {
    width: calc( 100% - 160px) !important;
}