/*div.overFlowWidRecent {
    width: auto;
    height: 265px !important;
    overflow: auto !important;
}*/
.all-permit-recents {
    overflow-y: auto;
    width: 100%;
    height: 100% !important;
    max-height: 100% !important;
}

.overFlowWidRecent {
    height: 212px;
    overflow-y: auto;
}

.recent-widget-link {
    color: #0071c5;
    text-decoration: none;
}

    .recent-widget-link:hover {
        color: #004579;
        text-decoration: underline !important;
    }