/*div.overFlowWidRecent {
    width: auto;
    height: 265px !important;
    overflow: auto !important;
}*/
.all-permit-recents {
    overflow-y: auto;
    width: 100%;
    height: 300px !important;
    max-height: 300px !important;
}