.textarea-disabled {
    opacity: .25
}

.minWidthBtnLg {
    min-width: 190px
}

.minWidthBtnLg:disabled {
    background-color: #edeff0 !important;
    color: #b1babf !important;
    border-color: #b1babf !important
}

.k-editor-box {
    width: 100%;
    height: 250px
}
.validDealId {
    border-color: LightGray !important;
}
.invalidDealId {
    border-color: red !important;
}

