@import '/Client/src/app/admin/kendo_grid.css';
@import '/Client/src/app/admin/CustomerVendors/admin.customerVendors.component.css';

.dropDownSection {
    padding-bottom: 15px;
    padding-left: 15px;
}