.dealTools {
    margin-left: -5px !important
}

.sumGridOptionsExpand {
    height: auto !important
}

.k-dialog .k-content {
    margin-top: 0 !important
}

.k-grid th,
.k-grid td {
    font-size: 12px !important
}

#contractContainerWrapper {
    height: 614px !important;
    overflow: auto
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar::after {
    content: 'Accepted' !important;
}

.mat-slide-toggle:not(.mat-checked) .mat-slide-toggle-bar::after {
    content: 'Pending' !important;
}

#sum-wrapper {
    height: 100vh;
    overflow: auto;
    padding: 100px 0 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#sum-header {
    height: 110px;
    margin-top: -78px;
    font-size: 14px;
    font-family: "Intel Clear";
    font-weight: 200;
    font-style: normal;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-left: 0;
    margin-right: 0
}

#sum-container {
    height: 80%;
    overflow: auto
}

.opUiContainer.k-grid .k-grid-filter .k-icon.k-i-filter {
    color: #00AEEF;
    opacity: 1
}

.opUiContainer.k-grid .k-grid-filter .k-icon.k-i-filter:hover {
    color: #0071C5 !important
}

.md-icon {
    padding: 4px 2px 0 5px
}

.md-icon i {
    color: #00AEEF
}

.md-icon a,
.md-icon a:hover {
    text-decoration: none
}

.md-icon i:hover {
    color: #003C71 !important
}

.md-icon-disabled {
    padding: 4px 2px 0 5px
}

.md-icon-disabled i {
    color: #00AEEF
}

.divStg {
    width: 60px;
    height: 100%;
    text-align: center;
    padding-top: 5px;
    margin-right: 5px
}

.opUiContainer.md.k-grid td:first-child {
    padding-left: 0
}

.opUiContainer.md.k-grid tr {
    height: 35px
}

.opUiContainer.k-grid .k-grid-header th.k-header a {
    color: #000000;
    font-weight: 400
}

.opUiContainer.k-grid .k-grid-header th.k-header {
    color: #000000;
    font-weight: 400;
    background: #fdfdfd;
    background: -moz-linear-gradient(top, #fdfdfd 0%, #d9d9d9 100%);
    background: -webkit-linear-gradient(top, #fdfdfd 0%, #d9d9d9 100%);
    background: linear-gradient(to bottom, #fdfdfd 0%, #d9d9d9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#d9d9d9', GradientType=0)
}

.opUiContainer.k-grid .k-pager-wrap,
.opUiContainer.k-grid .k-pager-numbers .k-state-selected {
    background-color: #ffffff
}

.opUiContainer.k-grid .k-alt {
    background-color: #ffffff
}

.k-dialog .k-dialog-title,
.k-dialog .k-window-title {
    display: none !important
}

.k-dialog .k-content {
    margin-top: -30px
}


#sum-container .k-textbox.k-space-left {
    padding-left: 2.1em
}

.btn-skyblue {
    background-color: #00AEEF;
    border: 1px solid #00AEEF !important;
    color: #ffffff;
    border-radius: 4px !important;
    font-size: 15px;
    text-transform: capitalize;
}

.btn-skyblue:hover {
    background-color: #0071C5;
    border: 1px solid #0071C5;
    color: #ffffff
}

.btn-skyblue i {
    font-size: 20px;
    margin-right: 6px
}

.btn-skyblue-sm {
    background-color: #00AEEF;
    border: 1px solid #00AEEF;
    color: #ffffff;
    border-radius: 4px;
    padding: 2px !important
}

.btn-skyblue-sm:hover {
    background-color: #0071C5;
    border: 1px solid #0071C5;
    color: #ffffff
}

.btn-skyblue-sm i {
    font-size: 20px;
    margin: 0;
    padding: 0
}

.btn-grey {
    background-color: #e4e9ea;
    border: 1px solid #e4e9ea;
    color: #70706e;
    border-radius: 4px
}

.btn-grey:hover {
    background-color: #00AEEF;
    border: 1px solid #00AEEF;
    color: #ffffff
}

.btn-grey i {
    font-size: 20px;
    margin-right: 6px
}

.btn-negative {
    background-color: #FC4C02;
    border: 1px solid #FC4C02;
    color: #ffffff;
    border-radius: 4px
}

.btn-negative:hover {
    background-color: #FFA300;
    border: 1px solid #FFA300;
    color: #ffffff
}

.btn-negative i {
    font-size: 20px;
    margin-right: 6px
}

.chevron {
    color: #00AEEF;
    font-size: 25px
}

table td {
    border: 0 solid #ccc
}

.tbl-header {
    margin-top: 10px
}

.k-tabstrip-wrapper {
    border-bottom: 0 solid #eeeeee
}

.sum-main-body {
    margin: 5px 10px;
    padding: 0 10px
}

.sum-main-container {
    height: 100%;
    overflow: auto
}

.dropdown-menu label {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0
}

.sum-filter-bar {
    border: 0 solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    background-color: #eeeeee;
    height: 50px;
    padding: 5px 2px;
    font-size: 14px;
    font-family: "Intel Clear";
    background: #fdfdfd;
    background: -moz-linear-gradient(top, #fdfdfd 0%, #d9d9d9 100%);
    background: -webkit-linear-gradient(top, #fdfdfd 0%, #d9d9d9 100%);
    background: linear-gradient(to bottom, #fdfdfd 0%, #d9d9d9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#d9d9d9', GradientType=0)
}

.sum-main-body .tbl-header {
    margin-top: 6px
}

#sum-header hr {
    height: 1px;
    margin: 6px 0;
    border-top: 1px solid #555
}

.sum-main-body .bold {
    color: #00AEEF;
    font-weight: bold;
    font-size: 14px;
    line-height: 1em
}

.sum-main-body .bolder {
    color: #00AEEF;
    font-weight: bold;
    font-size: 16px;
    line-height: 1em
}

.linkable {
    cursor: pointer
}

.linkable:hover {
    color: #003C71
}

.sum-main-body label {
    margin-bottom: 0
}

.sum-main-body .stage {
    text-align: center
}

.sum-main-body .stage div {
    margin: 0 10px;
    padding: 4px 4px
}

input[type=radio].with-font,
input[type=checkbox].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

input[type=radio].with-font+label:before,
input[type=checkbox].with-font+label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f096";
    font-size: 20px;
    letter-spacing: 10px;
    color: #00AEEF;
    margin-left: 10px
}

input[type=radio].with-font:hover+label:before,
input[type=checkbox].with-font:hover+label:before {
    color: #003C71;
    cursor: pointer
}

input[type=radio].with-font.disabled+label:before,
input[type=checkbox].with-font.disabled+label:before {
    color: #cccccc;
    cursor: default
}

input[type=radio].with-font:checked+label:before,
input[type=checkbox].with-font:checked+label:before {
    content: "\f046";
    font-size: 20px;
    letter-spacing: 5px;
    color: #C4D600;
    margin-left: 10px
}

input[type=radio].with-font:focus+label:before,
input[type=checkbox].with-font:focus+label:before {
    font-weight: bold;
    color: #C4D600
}

.bigIcon {
    font-size: 26px
}

.medIcon {
    font-size: 18px
}

.toolbar .btn-default.disabled {
    background-color: transparent !important;
    color: #dddddd !important
}

a.lnkIcon {
    text-decoration: none
}

.noPointer {
    cursor: default
}

.bigIcon {
    font-size: 26px;
}

.medIcon {
    font-size: 18px;
}
.k-tabstrip-items .k-item {
    margin-right: 0px !important;
    font-size: 15px !important;
    font-weight: 400 !important;
}
.isHybridIdent_Finalizing, .isHybridIdent_Valid, .isHybridIdent_Dirty, .isHybridIdent_0, .isHybridIdent_ {
    font-size: 10px;
    font-weight: bold;
    color: white;
    position: relative;
    margin-left: 9px !important;
    margin-top: -22px !important;
}
#perfDetails {
    position: absolute;
    bottom: 50px;
    right: 10px;
    font-family: verdana;
    font-size: 10px;
    z-index: 1000;
    background-color: #ffffff;
}

    #perfDetails th {
        padding: 2px 4px;
        color: #0071C5;
    }

    #perfDetails td {
        padding: 2px 4px;
        color: #333333;
    }
    .close-icon {
        color: black !important;
    }
    .k-window-title {
        right: 1.143em !important;
        left: 1.143em !important;
        position: absolute !important;
    }

    .k-button-icon {
        left: 63em !important;
        padding-top: 0.45em !important;
    }

    .k-window-titlebar {
        background-color: #0071c5 !important;
        color: #fff !important;
        padding: 0rem !important;
        margin-top: -40px !important;
    }
    #toggle-container .btn-success{
            background-color: #C4D600 !important;
            color: #ffffff !important;
            font-size: 14px !important;
            line-height: 1.2em !important;
    }
    #toggle-container .btn-primary {
        background-color: #00AEEF !important;
        color: #ffffff !important;
        font-size: 14px !important;
        line-height: 1.2em !important;
    }
    .dialogPending.k-content {
        padding: 0 !important;
        background-color: #003C71 !important;
        color: #ffffff !important;
        margin-top: -50px !important;
        height: 310px !important;
    }

        .dialogPending.k-content p {
            font-size: 14px !important;
        }

    .wrn-red {
        background-color: #fc3741 !important;
        color: #ffffff !important;
        padding: 4px 10px !important;
    }