<div id="sum-wrapper" *ngIf="showData">
    <div id="sum-header" style="min-width: 800px;height:106px">
        <div class="divine-pro" style="margin-bottom: 10px; font-size: 14px; line-height: 2.9em; text-align: center; position: absolute; top: -4px; right: 10px !important; ">            
            <span style="color: #0071C5; padding-right:22px">Customer Acceptance</span>
            <span id="toggle-container" [title]="(isCustAcptReadOnly == true && custAccptButton !== 'Pending')? '' :'Click to Change Contract Acceptance Criteria'">
                <button type="button" class="btn  bts-btns" style="width:140px;line-height: 1em !important;height: 26px !important;" [ngClass]="custAccptButton === 'Pending' ? 'btn-primary' : 'btn-success' " (click)="pendingChange()" [disabled]="(isCustAcptReadOnly == true && custAccptButton !== 'Pending')">{{custAccptButton}}</button>            
            </span>
        </div>
        <div class="sum-filter-bar add-sub-sum" style="padding: 1px 10px;">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 30px; height: 40px;" (click)="toggleSum()" title="{{ isAllCollapsed ? 'Collapse All' : 'Expand All'}}" [ngClass]="{'rotate-90': !isAllCollapsed}">
                        <i class="chevron linkable intelicon-fast-forward ivon-css" data-toggle="collapse" data-target=".multi-collapse"></i>
                    </td>
                    <td style="width: 55px; text-align: center;" *ngIf="canEdit">
                        <div class="all-fixes-label">
                            <div style="font-size: 11px; line-height: 1em; margin-bottom: -5px;">All</div>
                            <input type="checkbox" name="allRadGrp" class="with-font" id="all_rad_approve" (click)="clkAllRow($event, 'Approve')" [(ngModel)]="approveCheckBox" />
                            <label class="all-labels" for="all_rad_approve"></label>
                        </div>
                    </td>
                    <td style="width: 50px; text-align: center;" *ngIf="canEdit">
                        <div class="all-fixes-label">
                            <div style="font-size: 11px; line-height: 1em; margin-bottom: -5px;">All</div>
                            <input type="checkbox" name="allRadGrp" class="with-font" id="all_rad_revise" (click)="clkAllRow($event, 'Revise')" [(ngModel)]="reviseCheckBox" />
                            <label class="all-labels" for="all_rad_revise"></label>
                        </div>
                    </td>
                    <td style="width: 50px; text-align: center;">
                        <div class="all-fixes-label">
                            <div style="font-size: 11px; line-height: 1em; margin-bottom: -5px;">All</div>
                            <input type="checkbox" name="allRadGrp" class="with-font" id="all_rad_email" (click)="clkAllRow($event, 'Email')" [(ngModel)]="emailCheckBox" />
                            <label class="all-labels" for="all_rad_email"></label>
                        </div>
                    </td>
                    <td style="width: 100px; text-align: center;" nowrap>
                        <div class="btn-group">
                            <button class="btn btn-sm btn-skyblue view-complex-one" type="button" (click)="clearFilter()" title="Click to clear the filter" style="padding: 5px 10px 4px 10px; margin-right: 1px; margin-top: -2px; border-right: 1px solid #000 !important">
                                <i class="fa fa-filter" aria-hidden="true" style="font-size: 18px;"></i>
                            </button>
                            <button class="btn btn-sm btn-skyblue view-complex-two dropdown-toggle dropdown-toggle-blue" aria-expanded="false" type="button" data-toggle="dropdown" style="margin-top: -2px;">
                                <span class="caret throw-css"></span><span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu" role="menu">
                                <div *ngFor="let ps of contractData?.PRC_ST | unique:'WF_STG_CD' | orderBy:'WF_STG_CD'">
                                    <input type="checkbox" class="with-font" id="item{{ps.DC_ID}}" (change)="hasFilter()" [(ngModel)]="ps.filtered" /><label for="item{{ps.DC_ID}}">{{ps.WF_STG_CD}}</label>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="fr helpBtn" title="Help" (click)="showingHelpTopicContract()"><i class="intelicon-help" style="font-size:30px !important"></i></div>
                    </td>
                    <td style="width: 50px; text-align: center;"></td>
                    <td>
                        <span class="k-textbox design" style="width: 300px; margin-top: -4px;">
                            <i class="intelicon-search" style="font-size: 26px; color: #00AEEF; margin-top: 3px;"></i>
                            <input style="width: 290px;border:none" placeholder="Search for Pricing Strategy or Pricing Table" [(ngModel)]="titleFilter" />
                        </span>
                    </td>
                    <td style="width:500px;text-align:right;padding-right:2px;">
                        <div class="dropdown clearfix fr temp-btns" style="padding-top:5px;">
                            <button kendoButton class="btn btn-skyblue dropdown-toggle dropdown-toggle-blue" id="dropActionss" type="button" (click)="submitContract()" title="Submit Approval, Revision and Cancel requests or send an email"
                                    *ngIf="!submitModal">
                                Submit
                            </button>
                            <kendo-dialog id="caDialog" *ngIf="submitModal" (close)="close('cancel')" [width]="350" class="mybotdialog">
                                <p class="hstyle">No Pricing Strategies were selected.</p>
                                <kendo-dialog-actions><button kendoButton (click)="close('no')">OK</button></kendo-dialog-actions>
                            </kendo-dialog>
                            <kendo-dialog *ngIf="showMultipleDialog">
                                    <div class="modal-header modalBlueBody">
                                        <h5 class="modal-title" id="modal-title">Multiple Pricing Tables</h5>
                                    </div>
                                    <div class="modal-body modalBlueBody" id="modal-body">
                                
                                        <div>
                                            This Pricing Strategy contains multiple Pricing Tables.  Please select which Pricing Table you would like to view:
                                        </div>
                                        
                                        <div style="margin: 20px 0; max-height: 190px; overflow: auto; padding: 5px;">
                                            <div *ngFor="let pte of pteTableData">
                                                <button class="btn btn-primary btn-full" type="button" (click)="pickPt(pte)">{{pte.DC_ID}} - {{pte.TITLE}}</button>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="fr">
                                                    <button class="btn btn-warning" type="button" style="margin-right: 8px;" (click)="closeMultiple()">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                
                                    </div>
                                <!-- <kendo-dialog-actions><button kendoButton (click)="close('no')">OK</button></kendo-dialog-actions> -->
                            </kendo-dialog>

                            <kendo-dialog *ngIf="showPendingWarning" class="dialogPending" [width]="500" [height]="350">
                                <div class="wrn-red" style="text-align: left;"><i class="intelicon-information-solid"></i> Correction Required</div>
                                <div *ngIf="showPendingInfo">
                                    <div style="padding: 15px 25px; height: 250px;">
                                        <p style="text-align: left">
                                            C2A Contract # or attaching the contract associated with this deal is required in order to change your contract from Pending to Accepted.</p>
                                            <div style="text-align: center; margin-top: 34px;">
                                                <button class="btn btn-sm btn-skyblue" type="button" (click)="showPending('showPendingFile')"
                                                        style="margin: 0 20px -30px 20px; width: 130px; height: 120px;">
                                                    <div style="text-align: center;">
                                                        <div><i class="intelicon-attach-document-outlined" style="font-size: 60px;"></i></div>
                                                        Attach Contract
                                                    </div>
                                                </button>
                                                <button class="btn btn-sm btn-skyblue" type="button" (click)="showPending('showPendingC2A')"
                                                        style="margin: 0 20px -30px 20px; width: 130px; height: 120px;">
                                                    <div style="text-align: center;">
                                                        <div><i class="intelicon-user-approved-selected-outlined" style="font-size: 60px;"></i></div>
                                                         Add C2A Contract #
                                                    </div>
                                                </button>
                                            </div>
                        </div>
                                    
                        <div style="text-align: center;">
                            <button class="btn btn-sm btn-grey" type="button" (click)="closeDialog()" style="margin: 0 10px -30px 10px; width: 110px;">
                                Cancel
                            </button>
                        </div>
                                        
                                    
                                </div>
                                <div *ngIf="showPendingFile">
                                    <div style="padding: 15px 25px; height: 190px;">
                                        <p style="text-align: left">
                                            Attach the contract associated with this deal to change your My Deals contract from Pending to Accepted.
                                        </p>
                                        <div class="f1 opUiLabel opUiLableWidth" style="text-align: left" [ngClass]="{isRequired: contractData.IsAttachmentRequired}">&nbsp;&nbsp;&nbsp;&nbsp;Attachment(s):&nbsp;
                                            <span kendo-tooltip k-content="constants.helptipMsgAttachment" k-position="'top'" class="opElementHelpIcon intelicon-information-outlined"></span></div>
                                            <kendo-upload [saveUrl]="uploadSaveUrl" [restrictions]="myRestrictions" (success)="successEventHandler()" (error)="onFileUploadError()"
                                            (upload)="uploadEventHandler($event)" [autoUpload]="false" [(ngModel)]="files" name="files" ></kendo-upload>
                                          </div>
                                    <div style="text-align: center;">
                                        <button class="btn btn-sm btn-grey" type="button" 
                                                [ngClass]="{'disabled': contractData.HAS_ATTACHED_FILES === '1'}"
                                                (click)="showPending('showPendingInfo')" style="margin: 0 10px -30px 10px; width: 110px;">
                                            << Back
                                        </button>
                                        <button class="btn btn-sm btn-skyblue" type="button" 
                                                [ngClass]="{'disabled': !contractData.HAS_ATTACHED_FILES}"
                                                (click)="continueAction(true,null)" style="margin: 0 10px -30px 10px; width: 110px;">
                                            Done
                                        </button>
                                    </div>
                                </div>
                                <div *ngIf="showPendingC2A">
                                    <div style="padding: 15px 25px; height: 190px;">
                                        <p style="text-align: left;">
                                            Enter C2A Contract # for this deal to change your My Deals contract from Pending to Accepted.
                                        <p style="margin-top: 20px;text-align: left;">                    
                                            C2A Contract #:<br />
                                            <span >
                                            <input type="text" placeholder="Enter C2A Number" 
                                                   [(ngModel)]="contractData.C2A_DATA_C2A_ID" style="width: 260px; padding: 4px;">
                                            <button class="btn btn-skyblue" style="width:130px !important" type="button"
                                                    [ngClass]="{'disabled': (contractData.C2A_DATA_C2A_ID.trim() === '' )}" [disabled]="contractData.C2A_DATA_C2A_ID.trim() === ''"
                                                    (click)="(contractData.C2A_DATA_C2A_ID.trim() === '' ) || continueAction(true,null)" style="margin: -2px 10px 0 10px; width: 110px;">
                                                Use C2A Number
                                            </button>
                                        </span>
                                        </p>
                                        <p style="color: yellow; font-size: 14px;text-align: left; ">Please note, values longer than 18 characters will be truncated in Vistex.  Characters (like semicolons) not supported by Vistex will also be removed.</p>
                                    </div>
                                    <div style="text-align: center;">
                                        <button class="btn btn-sm btn-grey" type="button" (click)="showPending('showPendingInfo')" style="margin: 0 10px -30px 10px; width: 110px;">
                                            << Back
                                        </button>
                                    </div>
                                </div>                     
                            </kendo-dialog>                           
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div style="padding: 0 10px;">
            <table style="width: 100%;" class="tbl-header">
                <tr>
                    <td style="width: 30px;">&nbsp;</td>
                    <td style="width: 60px; border-right: 1px solid #000000; text-align: center;" *ngIf="canEdit">
                        Approve
                    </td>
                    <td style="width: 50px; border-right: 1px solid #000000; text-align: center;" *ngIf="canEdit">
                        Revise
                    </td>
                    <td style="width: 50px; border-right: 1px solid #000000; text-align: center;" *ngIf="canEdit">
                        Email
                    </td>
                    <td style="width: 100px; text-align: center;">Stage</td>
                    <td style="width: 50px; text-align: center;">Valid</td>
                    <td style="line-height: 1.1em;">Pricing Strategy / Pricing Table</td>
                    <td style="width: 150px; text-align: center;" *ngIf="userRole=='GA' || userRole=='SA'">
                        <div title='Deals missing Cost and/or CAP cannot be approved by Division Approvers until the missing data has been added. For urgent issues, contact TAC.'>
                            Missing Cost/CAP
                        </div>
                    </td>
                    <td *ngIf="CAN_VIEW_COST_TEST" style="width: 160px; text-align: center; ">
                                         <button class="btn btn-sm btn-skyblue-sm fl"
                                                (click)="executePctViaBtn()"
                                                title="Execute Price Cost Test and Meet Comp Test"
                                                style="padding-left:100px" >
                                            <i class="fa fa-refresh fa-fw iconRunPct" [ngClass]="isRunning ? 'fa-spin grn' : '' "  aria-hidden="true" style="font-size: 20px"></i>
                                        </button>
                        &nbsp;&nbsp;
                        Price Cost Test
                        <div class="btnLastRu" style="font-size: 9px; color: #00AEEF; line-height: 0.01em; margin-left: 54px">
                            {{lastRunDisplay('Price Cost Test')}}
                        </div>
                    </td>

                    <td *ngIf="CAN_VIEW_MEET_COMP" style="width: 160px; text-align: center;">
                        <button class="btn btn-sm btn-skyblue-sm fl"
                        (click)="executePctViaBtn()"
                        title="Execute Price Cost Test and Meet Comp Test"
                        style="padding-left:100px" >
                    <i class="fa fa-refresh fa-fw iconRunPct" [ngClass]="isRunning ? 'fa-spin grn' : '' " aria-hidden="true" style="font-size: 20px"></i>
                        </button>
                        &nbsp;&nbsp;
                        Meet Comp Test
                        <div class="btnLastRu" style="font-size: 9px; color: #00AEEF; line-height:0.01em;margin-left:48px;">
                            {{lastRunDisplay('Meet Comp Test')}}
                        </div>

                    </td>
                </tr>
            </table>
            <hr />
        </div>
    </div>
    <div id="sum-container" style="min-width: 800px;">
        <div class="sum-main-body">
            <div class="sum-main-container"  style="line-height: 1 !important;">
                <div *ngFor="let ps of filteredData | filter:titleFilter ;let psIndex=index" class="sumPsContainer">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 30px; height: 30px;" id="PRC_ST_{{ps.DC_ID}}" (click)="isPSExpanded[psIndex]=!isPSExpanded[psIndex]">
                                <i class="chevron linkable collapseALL" data-toggle="collapse" [attr.data-target]="'#PSData_'+ psIndex" [ngClass]="{'intelicon-down': isPSExpanded[psIndex], 'intelicon-right-next': !isPSExpanded[psIndex]}"></i>
                            </td>
                            <td style="width: 60px; text-align: center;" *ngIf="canEdit" class="approveChkBox">
                                <div *ngIf="canAction('Approve', ps, true) && canActionIcon && hasVertical(ps)" [ngbTooltip]="ps._actionReasons.Approve" placement="right" [hidden]="!(ps.WF_STG_CD !=='Pending')">
                                    <input type="checkbox" name="radGrp{{ps.DC_ID}}" [ngClass]="{'disabled': !canAction('Approve', ps, false)}" [(ngModel)]="apprvCheck[ps.DC_ID]" [disabled]="!canAction('Approve', ps, false)" class="with-font psCheck psCheck-Approve"
                                    id="rad_approve_{{ps.DC_ID}}" kendoCheckBox (click)="onCheckboxChange('approveCheckBox',$event,ps)" /><label for="rad_approve_{{ps.DC_ID}}"></label>
                                </div>
                            </td>
                            <td style="width: 50px; text-align: center;" *ngIf="canEdit">
                                <div *ngIf="canAction('Revise', ps, true) && canActionIcon && hasVertical(ps)" title="{{actionReason('Revise', ps)}}">
                                    <input type="checkbox" name="radGrp{{ps.DC_ID}}" [(ngModel)]="reviseCheck[ps.DC_ID]" [ngClass]="{'disabled': !canAction('Revise', ps, false)}" [disabled]="!canAction('Revise', ps, false)"  class="with-font psCheck psCheck-Revise"
                                          id="rad_revise_{{ps.DC_ID}}"  (click)="onCheckboxChange('reviseCheckBox',$event,ps)" kendoCheckBox /><label for="rad_revise_{{ps.DC_ID}}"></label>
                                </div>
                            </td>
                            <td style="width: 50px; text-align: center;">
                                <div *ngIf="canEmailIcon && hasVertical(ps)" title="email pricing strategy"><input  type="checkbox" name="radGrp{{ps.DC_ID}}" [(ngModel)]="emailCheck[ps.DC_ID]" class="with-font psCheck psCheck-Email"  id="rad_email_{{ps.DC_ID}}" (click)="onCheckboxChange('emailCheckBox',$event,ps)" /><label for="rad_email_{{ps.DC_ID}}"></label></div>
                            </td>
                            <td style="width: 100px; text-align: center;">
                                <div class="stage">
                                    <div [textContent]="ps.WF_STG_CD || 'no stage'" [ngStyle]="getStageBgColorStyle(ps.WF_STG_CD)"></div>
                                </div>
                            </td>
                            <td style="width: 50px; text-align: center;">
                                <i class="intelicon-protection-checked-verified-solid bigIcon validf_{{ps.PASSED_VALIDATION}}" *ngIf="ps.PASSED_VALIDATION==='Complete'" title="{{ps.PASSED_VALIDATION}}"></i><i class="intelicon-protection-checked-verified-solid bigIcon validf_{{ps.PASSED_VALIDATION}}"
                                                                                                                                                                                                                 *ngIf="ps.PASSED_VALIDATION==='Finalizing'" title="{{ps.PASSED_VALIDATION}}"></i><i class="intelicon-protection-checked-verified-solid bigIcon validf_{{ps.PASSED_VALIDATION}}" *ngIf="ps.PASSED_VALIDATION==='Valid'" title="{{ps.PASSED_VALIDATION}}"></i>
                                <i class="intelicon-alert-solid bigIcon validf_{{ps.PASSED_VALIDATION}}" *ngIf="ps.PASSED_VALIDATION==='Dirty'" title="{{ (ps.PASSED_VALIDATION==='Dirty' ? 'Validation Errors: Fix in Deal Editor' : ps.PASSED_VALIDATION) || 'Not validated yet'}}"></i>
                                <i class="intelicon-protection-solid bigIcon validf_{{ps.PASSED_VALIDATION}}" *ngIf="ps.PASSED_VALIDATION !=='Valid' && ps.PASSED_VALIDATION !=='Dirty' && ps.PASSED_VALIDATION !=='Complete' && ps.PASSED_VALIDATION !=='Finalizing'" title="{{ps.PASSED_VALIDATION || 'Not validated yet'}}"></i>
                            </td>
                            <td>
                                <div [textContent]="ps.TITLE" class="bolder linkable" title="Click to open the{{psTitle}} in the{{contractType}} Editor" (click)="openPTEeditor(ps)"></div>
                            </td>
                            <td style="width: 160px; text-align: center;" *ngIf="userRole=='GA' || userRole=='SA'">
                                <i *ngIf="ps.CAP_MISSING_FLG !=='0' && ps.COST_MISSING_FLG !=='0'"></i><i *ngIf="ps.CAP_MISSING_FLG==='1' || ps.COST_MISSING_FLG==='1'" style="color:#f3d54e"
                                                                                                          class="intelicon-help-solid bigIcon" title="{{getmissingCapCostTitle(ps)}}"></i>
                            </td>
                            <td class="bigIcon" style="width: 160px; text-align: center;" *ngIf="ps?._settings?.CAN_VIEW_COST_TEST || PCTResultView" (click)="loadModel('pctDiv')" >
                                <icon-mct-pct-angular ngDefaultControl [(ngModel)]="ps.COST_TEST_RESULT" [dataValue]="ps.COST_TEST_RESULT" [canEdit]="CAN_EDIT_COST_TEST" [iconClass]="bigIcon"></icon-mct-pct-angular>
                            </td>
                            <td class="bigIcon" style="width: 160px; text-align: center;" *ngIf="ps?._settings?.CAN_VIEW_MEET_COMP" (click)="loadModel('MeetComp')">
                                <icon-mct-pct-angular ngDefaultControl [(ngModel)]="ps.MEETCOMP_TEST_RESULT" [dataValue]="ps.MEETCOMP_TEST_RESULT" [canEdit]="CAN_VIEW_MEET_COMP" [iconClass]="bigIcon"></icon-mct-pct-angular>
                            </td>
                        </tr>
                    </table>
                    <div *ngFor="let pt of ps.PRC_TBL;let i=index">
                        <div class="collapse multi-collapse" id="PSData_{{psIndex}}" [ngClass]="{show : isAllCollapsed}">
                            <table style="width: 100%; ">
                                <tr id="detail_{{pt.DC_ID}}">
                                    <td style="width: 20px;" *ngIf="canEdit"></td>
                                    <td style="width: 271px; height: 30px; text-align: right;" *ngIf="canEdit">
                                        <i class="chevron linkable" data-toggle="collapse" [attr.data-target]="'#sumWipGrid_'+ pt.DC_ID" (click)="isPTExpanded[pt.DC_ID]=!isPTExpanded[pt.DC_ID]; togglePt(pt)" [ngClass]="{'intelicon-down': isPTExpanded[pt.DC_ID], 'intelicon-right-next': !isPTExpanded[pt.DC_ID]}"></i>
                                    </td>
                                    <td style="width: 30px; height: 30px; text-align: right;" (click)="isPtCollapsed=!isPtCollapsed; togglePt( pt)" [hidden]="canEdit">
                                        <button class="chevron linkable" type="button" data-toggle="collapse" [attr.data-target]="'#sumWipGrid_'+'{{pt.DC_ID}}'" (click)="togglePt( pt)"></button>
                                    </td>
                                    <td style="width: 50px; padding-left: 17px;">
                                        <div class="textCircle{{ pt.WIP_WORK_FLG==='1' ? '_NeedsWork': ''}} valid_{{ pt.PASSED_VALIDATION}}" title="{{ (pt.PASSED_VALIDATION==='Dirty' ? 'Validation Errors' : pt.PASSED_VALIDATION) || 'Not validated yet'}}{{pt.WIP_WORK_FLG==='1' ? ' - Some deals still require attention': ''}}">
                                            {{ pt.OBJ_SET_TYPE_CD | slice:0:1}}
                                        </div>
                                    </td>
                                    <td>
                                        <div [textContent]="pt.TITLE" class="bold linkable" title="Click to open the{{ptTitle}} in the{{contractType}} Editor"></div>
                                    </td>
                                    <td style="width: 160px; text-align: center;" *ngIf="userRole=='GA'">
                                        <i *ngIf="pt.CAP_MISSING_FLG !=='0' && pt.COST_MISSING_FLG !=='0'" style="color:#c4d600" class="intelicon-passed-completed-solid medIcon"></i><i *ngIf="pt.CAP_MISSING_FLG==='1' || pt.COST_MISSING_FLG==='1'" style="color:#f3d54e"
                                                                                                                                                                                         title="{{getmissingCapCostTitle(pt)}}" class="intelicon-help-solid medIcon"></i>
                                    </td>
                                    <td class="medIcon" style="width: 160px; text-align: center;" *ngIf="ps?._settings?.CAN_VIEW_COST_TEST || PCTResultView">
                                        <a class="lnkIcon" [ngClass]="{'noPointer': !CAN_EDIT_COST_TEST}">
                                            <icon-mct-pct-angular ngDefaultControl [dataValue]="pt.COST_TEST_RESULT" [(ngModel)]="pt.COST_TEST_RESULT" [canEdit]='CAN_EDIT_COST_TEST' [iconClass]="medIcon"></icon-mct-pct-angular>
                                        </a>
                                    </td>
                                    <td class="medIcon" style="width: 160px; text-align: center;" *ngIf="ps?._settings?.CAN_VIEW_MEET_COMP">
                                        <a class="lnkIcon" [ngClass]="{'noPointer': !CAN_VIEW_MEET_COMP}">
                                            <icon-mct-pct-angular ngDefaultControl [dataValue]="pt.MEETCOMP_TEST_RESULT" [(ngModel)]="pt.MEETCOMP_TEST_RESULT" [canEdit]="CAN_VIEW_MEET_COMP" [iconClass]="medIcon"></icon-mct-pct-angular>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            <div class="collapse" id="sumWipGrid_{{pt.DC_ID}}">
                                <div style="margin-left: 0">
                                    <div class="opUiContainer md dashboard">
                                        <div id='detailGrid_{{pt.DC_ID}}' class='opUiContainer md dashboard sumGridOptionsExpand oppo-grids new-now-wrap space-table-all'>
                                            <kendo-grid [data]="gridDataSet[pt.DC_ID]" [loading]="isGridLoading" [resizable]="true" [filter]="state[pt.DC_ID].filter" [sortable]="true" [sort]="state[pt.DC_ID].sort"
                                             filterable="menu" (dataStateChange)="dataStateChange($event, pt.DC_ID)" style="height:auto" >
                                                <kendo-grid-column title="Tools" field="NOTES" [headerClass]="{'headerClass':true}" [width]="200" [locked]="true" [filterable]="false">
                                                    <ng-template kendoGridHeaderTemplate>
                                                        <div>
                                                            <input type='checkbox' (click)="selectAllIDs($event, pt.DC_ID)" class='grid-link-checkbox with-font' id='chkDealTools_{{pt.DC_ID}}' />&nbsp;
                                                            <label for='chkDealTools_{{pt.DC_ID}}'><b>Tools</b></label>
                                                        </div>
                                                    </ng-template>
                                                    <ng-template let-dataItem="dataItem" kendoGridCellTemplate>
                                                        <deal-tools-angular [dataItem]='dataItem' [isSplitEnabled]='false' [isFileAttachmentEnabled]='true' 
                                                        [isHistoryEnabled]='true' [isCommentEnabled]='true' [isEditable]='true' 
                                                        [isQuoteLetterEnabled]='true' [isDeleteEnabled]='false' [gridData]="gridDataSet[pt.DC_ID]" [contractData]="contractData" ></deal-tools-angular>
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Deal Id" field="DC_ID" [headerClass]="{'headerClass':true}" [width]="120" [locked]="true">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                                    let-filterService="filterService">
                                                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                                        [filterService]="filterService" [data]="filteringData[pt.DC_ID][column.field]"></multicheck-filter>
                                                </ng-template>
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        <div class='dealLnk'>
                                                            <i class='intelicon-protection-solid valid-icon validf_{{dataItem.PASSED_VALIDATION}}' title='Validation:{{ (dataItem.PASSED_VALIDATION==="Dirty" ? "Validation Errors" : dataItem.PASSED_VALIDATION) || "Not validated yet"}}'
                                                               [ngClass]='{ "intelicon-protection-solid": (dataItem.PASSED_VALIDATION===undefined || dataItem.PASSED_VALIDATION===""), "intelicon-protection-checked-verified-solid": (dataItem.PASSED_VALIDATION==="Complete"), "intelicon-protection-solid intelicon-alert-solid": (dataItem.PASSED_VALIDATION==="Dirty")}'></i>{{dataItem.DC_ID}}
                                                        </div>
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Tracker Number" field="TRKR_NBR" [headerClass]="{'headerClass':true}" [width]="160" [locked]="true" filterable="false">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        <span [innerHtml]="concatDimElements(dataItem,'TRKR_NBR')"></span>
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Type" field="OBJ_SET_TYPE_CD" [headerClass]="{'headerClass':true}" [width]="100">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                                    let-filterService="filterService">
                                                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                                        [filterService]="filterService" [data]="filteringData[pt.DC_ID][column.field]"></multicheck-filter>
                                                </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Deal Start/End" field="START_DT" [headerClass]="{'headerClass':true}" [width]="175">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                                    let-filterService="filterService">
                                                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                                        [filterService]="filterService" [data]="filteringData[pt.DC_ID][column.field]"></multicheck-filter>
                                                </ng-template>
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        {{dataItem.START_DT | date: 'M/d/yyyy'}}-{{dataItem?.END_DT | date: 'M/d/yyyy'}}
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="OEM Platform Launch Date" [width]="170" field="OEM_PLTFRM_LNCH_DT" [headerClass]="{'headerClass':true}" [hidden]="!OtherType[pt.DC_ID]">
                                                    <ng-template kendoGridCellTemplate let-dataItem><span *ngIf="dataItem.OEM_PLTFRM_LNCH_DT!='1/1/1900'">{{dataItem.OEM_PLTFRM_LNCH_DT| date: 'M/d/yyyy'}}</span></ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="OEM Platform EOL Date" [width]="170" field="OEM_PLTFRM_EOL_DT" [headerClass]="{'headerClass':true}" [hidden]="!OtherType[pt.DC_ID]">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        {{dataItem.OEM_PLTFRM_EOL_DT | date: 'M/d/yyyy'}}
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Product" field="TITLE" [headerClass]="{'headerClass':true}" [width]="120">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                                    let-filterService="filterService">
                                                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                                        [filterService]="filterService" [data]="filteringData[pt.DC_ID][column.field]"></multicheck-filter>
                                                </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="KIT ECAP" field="ECAP_PRICE" [headerClass]="{'headerClass':true}" [width]="100" [hidden]="!isKIT[pt.DC_ID]" filterable="false">
                                                    <ng-template kendoGridCellTemplate let-dataItem><span>{{ getFormatedDim(dataItem, 'ECAP_PRICE', '20_____1', 'currency')}}</span></ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="KIT CAP" field="CAP_KIT" [headerClass]="{'headerClass':true}" [width]="100" [hidden]="!isKIT[pt.DC_ID]" filterable="false">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        <span>
                                                            {{getFormatedDim(dataItem, 'CAP', '20_____1', 'currency')}}
                                                        </span>
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="CAP" field="CAP" [headerClass]="{'headerClass':true}" [width]="100" [hidden]="!isECAP[pt.DC_ID]" filterable="false">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        <span>
                                                            {{getFormatedDim(dataItem, 'CAP', '20___0', 'currency')}}
                                                        </span>
                                                    </ng-template>
                                                    
                                                </kendo-grid-column>
                                                <kendo-grid-column title="ECAP" field="ECAP_PRICE" [headerClass]="{'headerClass':true}" [width]="100" [hidden]="!isECAP[pt.DC_ID]" filterable="false">
                                                    <ng-template kendoGridCellTemplate let-dataItem><span>{{ getFormatedDim(dataItem, 'ECAP_PRICE', '20___0','currency')}}</span></ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="YCS2" field="YCS2_PRC_IRBT" [headerClass]="{'headerClass':true}" [width]="100" [hidden]="!isECAP[pt.DC_ID]" filterable="false">
                                                    <ng-template kendoGridCellTemplate let-dataItem><span>{{getFormatedDim(dataItem, 'YCS2_PRC_IRBT', '20___0','currency')}}</span></ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="KIT YCS2" field="YCS2_PRC_IRBT" [headerClass]="{'headerClass':true}" [width]="100" [hidden]="!isKIT[pt.DC_ID]" filterable="false">
                                                    <ng-template kendoGridCellTemplate let-dataItem><span>{{getFormatedDim(dataItem, 'YCS2_PRC_IRBT','20_____1', 'currency')}}</span></ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Rebate Type" field="REBATE_TYPE" [headerClass]="{'headerClass':true}" [width]="120">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                                    let-filterService="filterService">
                                                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                                        [filterService]="filterService" [data]="filteringData[pt.DC_ID][column.field]"></multicheck-filter>
                                                </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Cost Test Result" field="COST_TEST_RESULT" [headerClass]="{'headerClass':true}" [width]="130">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                                    let-filterService="filterService">
                                                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                                        [filterService]="filterService" [data]="filteringData[pt.DC_ID][column.field]"></multicheck-filter>
                                                </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Comp SKU" field="COMP_SKU" [headerClass]="{'headerClass':true}" [width]="100">
                                                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex"><span>{{getFormatedDim(dataItem, 'COMP_SKU', '20___0','string')}}</span></ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Comp Price" field="COMPETITIVE_PRICE" [headerClass]="{'headerClass':true}" [width]="100">
                                                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex"><span>{{getFormatedDim(dataItem, 'COMPETITIVE_PRICE','20___0', 'currency')}}</span></ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Meet Comp Test Result" field="MEETCOMP_TEST_RESULT" [headerClass]="{'headerClass':true}" [width]="140">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                                    let-filterService="filterService">
                                                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                                        [filterService]="filterService" [data]="filteringData[pt.DC_ID][column.field]"></multicheck-filter>
                                                </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Max RPU" field="MAX_RPU" [headerClass]="{'headerClass':true}" [width]="120" [hidden]="!OtherType[pt.DC_ID]"></kendo-grid-column>
                                                <!-- <kendo-grid-column title="Rebate Type" field="REBATE_TYPE" [headerClass]="{'headerClass':true}" [width]="100">
                                                </kendo-grid-column> -->
                                                <kendo-grid-column title="Ceiling Volume" field="VOLUME" [headerClass]="{'headerClass':true}" [width]="100" [hidden]="OtherType[pt.DC_ID]">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                                    let-filterService="filterService">
                                                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                                        [filterService]="filterService" [data]="filteringData[pt.DC_ID][column.field]"></multicheck-filter>
                                                </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="End Customer" field="END_CUSTOMER_RETAIL" [headerClass]="{'headerClass':true}" [width]="150" [hidden]="OtherType[pt.DC_ID]">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                                    let-filterService="filterService">
                                                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                                        [filterService]="filterService" [data]="filteringData[pt.DC_ID][column.field]"></multicheck-filter>
                                                </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Deal Description" field="DEAL_DESC" [headerClass]="{'headerClass':true}" [width]="150">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                                    let-filterService="filterService">
                                                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                                        [filterService]="filterService" [data]="filteringData[pt.DC_ID][column.field]"></multicheck-filter>
                                                </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Stage" field="WF_STG_CD" [headerClass]="{'headerClass':true}" [width]="100">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                                    let-filterService="filterService">
                                                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                                        [filterService]="filterService" [data]="filteringData[pt.DC_ID][column.field]"></multicheck-filter>
                                                </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Expired" field="EXPIRE_FLG" [headerClass]="{'headerClass':true}" [width]="100">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                                    let-filterService="filterService">
                                                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                                        [filterService]="filterService" [data]="filteringData[pt.DC_ID][column.field]"></multicheck-filter>
                                                </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Attachments" field="HAS_ATTACHED_FILES" [headerClass]="{'headerClass':true}" [width]="120">
                                                </kendo-grid-column>
                                            </kendo-grid>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <kendo-window class="wistyle" *ngIf="windowOpened" (close)="windowClose()" [minWidth]="windowMinWidth" [minHeight]="windowHeight" [width]="windowWidth" [top]="windowTop" [left]="windowLeft">
            <kendo-window-titlebar>
                <div class="k-window-title arrow-window-title">Results</div><button kendoWindowCloseAction class="close-icon"></button>
            </kendo-window-titlebar>
            <message-board-dialog [data]="messages" [contractData]="contractData"></message-board-dialog>
        </kendo-window> 
    </div>
</div>

<loading-panel-angular [show]="isLoading" [header]="spinnerMessageHeader" [description]="spinnerMessageDescription">
</loading-panel-angular>