.new-bus-contract #secBasicContainerWrapper {
    height: 100%;
    padding: 2px 0 50px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.new-bus-contract .input-error {
    border: 1px solid red
}

.new-bus-contract .inputWidth {
    width: 100%
}

.new-bus-contract .kendoInput {
    width: 100%;
    padding: 0px
}

.new-bus-contract .blockdisplay {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 0;
    width: 100%
}

.new-bus-contract .margindisplay {
    margin-top: 10px
}

.new-bus-contract #contractContainerWrapper {
    margin-top: 33px !important
}

.new-bus-contract .dialog {
    display: flex
}

.new-bus-contract .dialogbutton {
    flex-grow: 1
}

.new-bus-contract .dialogmsg {
    margin: 30px;
    text-align: center;
    font-family: 'Intel Clear' !important;
    font-size: 15px !important
}

.new-bus-contract .mleft {
    margin-left: 30px;
}

.new-bus-contract #secContainer {
    overflow: auto !important;
    height: 73vh;
    line-height: 1.5
}

.new-bus-contract .isReqField {
    color: red
}

.new-bus-contract .contract-detail-form .opUiLabel {
    font-size: 14px;
    width: 160px;
    font-weight: bold
}

.new-bus-contract .padTop30 {
    padding-top: 30px
}

.new-bus-contract .k-dialog .promptUserDialog {
    text-align: center;
    padding: 10px 0 0 0
}

    .new-bus-contract .k-dialog .promptUserDialog h4 {
        color: #003C71;
        font-size: 18px;
        font-weight: 600;
        margin-top: 0
    }

    .new-bus-contract .k-dialog .promptUserDialog p {
        font-size: 12px;
        padding: 10px 20px
    }

.new-bus-contract .delete-attach-icon {
    font-size: 16px;
    cursor: pointer
}

    .new-bus-contract .delete-attach-icon:hover {
        text-decoration: none
    }

.new-bus-contract .btn-primary {
    background-color: #00AEFF !important
}

.new-bus-contract a {
    color: var(--light-blue) !important
}

.new-bus-contract .hint-collapse {
    display: none
}

@media (max-width:1000px) {
    .new-bus-contract .hint-collapse {
        background-color: #f3D54E;
        color: #ffffff;
        display: inherit
    }

    .new-bus-contract .no-hint-collapse {
        display: none
    }
}

.new-bus-contract .disabled-section {
    background-color: #f2f2f2
}

.new-bus-contract .slidermbottom {
    margin-bottom: 10px;
}

.new-bus-contract #secFooter {
    margin: 0 0 -50px 0;
    height: 50px;
    border-top: 1px solid #eeeeee;
    padding: 7px 10px;
    text-align: right;
    font-size: 14px;
    background-color: #fafafa;
    width: 82%;
    position: fixed;
    right: 0;
    bottom: 64.5px !important;
}

.new-bus-contract .fullHeight {
    height: 100%
}

.new-bus-contract #contractHeading {
    padding: 0
}

.new-bus-contract .contract-detail-form .opUiLabel {
    font-size: 14px;
    width: 160px;
    font-weight: bold
}

.new-bus-contract .radioControl {
    cursor: pointer !important;
    font-weight: normal !important
}

.new-bus-contract .radioButtonGroup {
    display: inline-flex !important;
    align-items: flex-start;
}

.new-bus-contract .contract-detail-form {
    padding-bottom: 85px !important
}

.new-bus-contract .display {
    margin-top: 13px;
    display: flex;
    padding: 0;
    width: 100%
}

.new-bus-contract .top {
    margin-top: 20px
}

.new-bus-contract .displayblock {
    flex-flow: wrap
}

.new-bus-contract .row {
    margin-bottom: 4px !important;
    padding: 0 !important
}

.new-bus-contract .k-button-icon {
    left: 0px !important;
    padding-top: 0px !important;
}

.new-bus-contract kendo-dropdownlist,
.new-bus-contract .inlineDisplay {
    flex-grow: 1
}


.new-bus-contract kendo-upload-action-buttons {
    display: none !important;
}

.new-bus-contract .opUiLabel {
    width: 200px
}

.new-bus-contract .fl.opUiLabel {
    padding-left: 0
}

.new-bus-contract .contract-detail-form .C2ALabel .opUiLabel {
    font-weight: bold;
    font-size: 14px;
    width: 200px
}

.new-bus-contract .showMore {
    cursor: pointer;
    font-size: 12px;
    font-weight: 800;
    width: 105px;
    text-align: center;
    padding: 3px 6px;
    background: var(--light-blue);
    color: #ffffff !important;
    margin-top: 5px;
}

    .new-bus-contract .showMore:hover {
        text-decoration: none;
    }

.new-bus-contract #fileAttachmentGrid {
    height: fit-content !important;
}

.new-bus-contract .details {
    border: 2px solid #cccccc;
    border-radius: 0.5em;
    padding: 0.3em;
    float: left;
    width: 100%;
}

    .new-bus-contract .details > p {
        margin-top: 5px;
        color: rgb(0, 113, 197);
        font-weight: 800;
        font-size: 12px;
    }

.new-bus-contract .atbrDetails {
    float: left;
    width: 60%;
    text-align: left;
}

.new-bus-contract .atbrDate {
    float: right;
    width: 40%;
    text-align: right;
}

.new-bus-contract .updateBy {
    color: #0071c5;
    font-size: 12px;
    font-weight: 800;
    margin: 0;
    margin-top: 5px;
    float: right;
    width: 50%;
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.new-bus-contract .icon-color {
    color: #979797 !important;
}

.new-bus-contract .label-color {
    font-weight: normal !important;
}

button.okmissingcode.k-button {
    background-color: #d3d3d3d4 !important;
    color: #000000 !important;
    font-family: 'Intel Clear' !important;
    font-size: 15px !important;
    padding: 0px !important
}

    button.okmissingcode.k-button:hover {
        background-color: #d3d3d357 !important
    }

.okmissingcode {
    height: 73px !important
}

p.codesize {
    text-align: center !important;
    margin-top: 30px !important;
    margin-bottom: -27px !important;
    font-size: 18px !important;
    font-family: 'Intel Clear' !important
}

.mymissingbutton .k-dialog-buttongroup {
    padding: 0px !important
}

p.boxsize {
    padding: 37px;
    margin-bottom: 0rem !important
}

.c2aborder.k-textbox {
    border-color: #ced4da8c !important;
    background-color: #ffffff !important;
    width: 100%;
    box-shadow: none !important;
}

    .c2aborder.k-textbox:hover {
        box-shadow: 0 2px 6px rgb(0 0 0 / 20%), 0 2px 3px rgb(0 0 0 / 5%) !important;
    }

.myinfoclass {
    width: 92% !important;
    margin-top: -14px !important
}

.enddateblock .k-dropdown {
    width: 100% !important
}

.borderstyle {
    width: 100% !important
}

.myadjust {
    width: 100%;
    margin-bottom: 7px !important;
    margin-top: 10px !important;
}

kendo-datepicker.dateclass:focus-within {
    border-color: #ced4da6b;
    box-shadow: none;
}

.c2aborder.k-textbox:focus-within {
    border-color: #f0f0f0 !important;
    box-shadow: 0 2px 6px rgb(0 0 0 /20%), 0 2px 3px rgb(0 0 0 / 5%) !important;
}

/*.k-calendar .k-month .k-link, .k-calendar .k-calendar-monthview .k-link {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50px !important;
}

.k-calendar .k-content .k-today.k-state-focused .k-link, .k-calendar .k-calendar-content .k-today.k-state-focused .k-link {
    box-shadow: none !important
}

.k-calendar .k-content .k-today .k-link, .k-calendar .k-calendar-content .k-today .k-link {
    box-shadow: none !important;
}

.k-calendar .k-footer .k-nav-today, .k-calendar .k-calendar-header .k-today {
    color: #007bff;
    visibility: collapse;
    width: 100%
}

.k-calendar > .k-calendar-header {
    min-width: 280px;
    box-sizing: border-box;
    background-color: #0071c5;
    color: #fafafa;
}

.k-calendar .k-state-selected .k-link {
    border-color: #005dc2 !important;
    color: #ffffff !important;
    background-color: #00aeef !important;
}

.k-calendar .k-state-focused .k-link {
    box-shadow: inset 0 0 0 3px rgb(194 196 199 / 71%) !important;
}
*/

.division-text {
    font-size: 14px;
}