<link href="/Client/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="/Client/node_modules/@progress/kendo-theme-bootstrap/dist/all.css" rel="stylesheet" />
<link href="/Client/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />

<loading-panel-angular id="CNTTRLoading" style="z-index:500;" [show]="isLoading" [header]="spinnerMessageHeader"
                       [description]="spinnerMessageDescription" [isShowFunFact]="isBusyShowFunFact" [msgType]="msgType"></loading-panel-angular>

<div id="horizontal" [ngClass]="{'collapsed': true, 'expanded': false, 'hideLnav': true}" class="new-bus-contract">
    <div id="center-pane" class="fr" [ngClass]="{'overFlowHidden': isTenderContract==true}">
        <div id="contractContainerWrapper">
            <div id="contractContainer" class="fullHeight">
                <div id="secBasicContainerWrapper">
                    <form #contractDetailsForm="ngForm">
                        <div id="secContainer" class="contract-detail-form">
                            <div class="row">
                                <h4 class="col-md-3 ">Contract Details</h4><span class="col-md-2 infospan">
                                    <span>* </span>Indicates Required fields
                                </span>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-md-11 display">
                                        <h6 style="width:100%">Contract Information</h6>
                                    </div>
                                    <div class="col-md-11 display displayblock">
                                        <div class="fl opUiLabel"><span *ngIf="contractData?._behaviors?.isRequired?.CUST_MBR_SID" class="isReqField">* </span>Customer:</div>
                                        <kendo-combobox #CUST_MBR_SID_Combo [data]="CustomersFilterData" [filterable]="true" (filterChange)="customerFilter($event)"
                                                        class="kendoInput noborderclass font-input contract-details-customer cd-input-bottom" textField="CUST_NM" valueField="CUST_SID" [disabled]="disableCustomer"
                                                        name="Customer" #customer="ngModel" [(ngModel)]="Customer" (valueChange)="onCustomerChange($event)" required>
                                        </kendo-combobox>
                                        <kendo-formerror *ngIf="contractDetailsForm.controls.Customer?.errors?.required && contractDetailsForm.controls.Customer?.touched">
                                            Please select a valid customer
                                        </kendo-formerror>
                                    </div>
                                    <div class="col-md-11 display displayblock">
                                        <div *ngIf="!isCustomerDivHidden" class="inputWidth">
                                            <div class="division-text">Division:</div>
                                            <kendo-multiselect #CUST_MBR_DIV_Multi class="kendoInput divisionblock cd-input-bottom cd-division-level" [data]="CustomerFilter_Divs" [filterable]="true" (filterChange)="customerDivFilter($event)"
                                                               [(ngModel)]="CUST_NM_DIV"
                                                               name="CUST_NM_DIV" textField="CUST_DIV_NM" valueField="CUST_DIV_NM" [autoClose]="false"></kendo-multiselect>
                                            <div class="description">Blank means that ALL divisions are included</div>
                                        </div>
                                    </div>
                                    <div class="col-md-11 display displayblock">
                                        <div class="fl opUiLabel"><span *ngIf="contractData?._behaviors?.isRequired?.TITLE" class="isReqField">* </span>Contract Name:</div>
                                        <kendo-textbox triggers="manual" class="kendoInput font-input cd-input-bottom" [clearButton]="true" name="TITLE" [ngClass]="{'input-error': isTitleError}" [disabled]="contractData?._behaviors?.isReadOnly?.TITLE"
                                                       [(ngModel)]="TITLE" (keyup)="onKeySearch($event,'TITLE')" required></kendo-textbox>

                                        <kendo-formerror *ngIf="(contractDetailsForm.controls.TITLE?.errors?.required && contractDetailsForm.controls.TITLE?.touched);else otherMsg">
                                            {{isRequiredMsg}}
                                        </kendo-formerror>
                                        <ng-template #otherMsg>
                                            <kendo-formerror *ngIf="isTitleError">{{titleErrorMsg}}</kendo-formerror>
                                        </ng-template>
                                    </div>
                                    <div class="col-md-11 display top">
                                        <h6 class="myadjust">
                                            Dates&nbsp; <span kendoTooltip
                                                              class="opElementHelpIcon intelicon-information-outlined"
                                                              title="Date ranges are based on customer selections above."
                                                              position="right"></span>
                                        </h6>
                                    </div>
                                    <div class="col-md-11 display">
                                        <div class="col-md-3 fl opUiLabel"><span *ngIf="contractData?._behaviors?.isRequired?.START_DT" class="isReqField">* </span>Select Start Date:</div>
                                        <div class="col-md-9 inlineDisplay">
                                            <div class="blockdisplay">
                                                <kendo-datepicker #picker class="fl opUiElement dateclass cd-input-bottom" calendarType="classic" [incompleteDateValidation]="true" #contract_START_DT="ngModel"
                                                                  [(ngModel)]="START_DT" name="contract_START_DT" (valueChange)="getCurrentQuarterDetails('START_DT', contract_START_DT)" [ngClass]="{'input-error': contractData?._behaviors?.validMsg?.START_DT}" [disabled]="contractData?._behaviors?.isReadOnly?.START_DT"
                                                                  required></kendo-datepicker>
                                                <kendo-formerror>
                                                    {{contractData?._behaviors?.validMsg?.START_DT}}
                                                </kendo-formerror>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearboth orLabel" [hidden]="initialStartDateReadOnly">OR</div>
                                    <div class="row" [hidden]="initialStartDateReadOnly">
                                        <div class="col-md-3 dateRangeLabel margindisplay">Select Quarter Range </div>
                                        <div class="col-md-4 slidermbottom">
                                            <kendo-slider [min]="1" [max]="4" [largeStep]="1" [showButtons]="true"
                                                          [vertical]="false" [(ngModel)]="START_QTR" name="START_QTR"
                                                          (valueChange)="getCurrentQuarterDetails('START_QTR')" class="before-ques sliderwidth"></kendo-slider>
                                        </div>
                                        <div class="col-md-4">
                                            <kendo-numerictextbox [min]="contractData?.MinYear"
                                                                  [max]="contractData?.MaxYear" [autoCorrect]="false" [format]="format"
                                                                  [(ngModel)]="START_YR" name="START_YR" (valueChange)="onKeySearch($event,'START_YR')" class="dateboxborder font-input" required>
                                            </kendo-numerictextbox>
                                        </div>
                                    </div>
                                    <div class="col-md-11 display">
                                        <div class="col-md-3 fl opUiLabel"><span *ngIf="contractData?._behaviors?.isRequired?.END_DT" class="isReqField">* </span>Select End Date:</div>
                                        <div class="col-md-9 inlineDisplay">
                                            <div class="blockdisplay">
                                                <kendo-datepicker #picker class="fl opUiElement dateclass cd-input-bottom" calendarType="classic" [ngClass]="{'input-error': contractData?._behaviors?.validMsg?.END_DT}"
                                                                  [(ngModel)]="END_DT" [disabled]="NO_END_DT || contractData?._behaviors?.isReadOnly['END_DT']" name="END_DT"
                                                                  (valueChange)="getCurrentQuarterDetails('END_DT')" required></kendo-datepicker>
                                                <kendo-formerror>
                                                    {{contractData?._behaviors?.validMsg?.END_DT}}
                                                </kendo-formerror>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearboth orLabel" [hidden]="initialEndDateReadOnly">OR</div>
                                    <div class="row" [hidden]="initialEndDateReadOnly">
                                        <div class="col-md-3 dateRangeLabel margindisplay">Select Quarter Range </div>
                                        <div class="col-md-4 slidermbottom">
                                            <kendo-slider [min]="1" [max]="4" [smallStep]="1" [largeStep]="1" [showButtons]="true"
                                                          [vertical]="false" [(ngModel)]="END_QTR" [disabled]="NO_END_DT" name="END_QTR"
                                                          (valueChange)="getCurrentQuarterDetails('END_QTR')" class="before-ques sliderwidth"></kendo-slider>
                                        </div>
                                        <div class="col-md-4">
                                            <kendo-numerictextbox [min]="contractData?.MinYear"
                                                                  [max]="contractData?.MaxYear" [autoCorrect]="false" [format]="format"
                                                                  [(ngModel)]="END_YR" [disabled]="NO_END_DT" name="END_YR" (valueChange)="onKeySearch($event,'END_YR')" class="dateboxborder font-input" required></kendo-numerictextbox>

                                        </div>
                                    </div>
                                    <div class="col-md-11 display slidermbottom" [hidden]="initialEndDateReadOnly">
                                        <label class="fl opUiLabel"
                                               style="font-weight:normal" for="noenddate">No end date:</label><input style="margin-top:-3px" type="checkbox" id="noenddate" name="noenddate"
                                                                                                                     [(ngModel)]="NO_END_DT" title="This will set the End Date to +20 years"
                                                                                                                     (change)="noEndDate()" />
                                    </div>
                                    <div class="col-md-11 display top" *ngIf="NO_END_DT" [hidden]="initialEndDateReadOnly">
                                        <div class="fl opUiLabel" style="width:200px">
                                            <span class="isReqField">* </span>No
                                            end date reason:
                                        </div>
                                        <div class="blockdisplay enddateblock">
                                            <kendo-dropdownlist [data]="dropDownsData?.NO_END_DT_RSN" textField="DROP_DOWN"
                                                                name="NO_END_DT_RSN" valueField="DROP_DOWN" [(ngModel)]="NO_END_DT_RSN" class="inputWidth font-input" #noEndDateRsn [required]="NO_END_DT">
                                            </kendo-dropdownlist>
                                            <kendo-formerror *ngIf="contractDetailsForm.controls.NO_END_DT_RSN?.errors?.required && isSubmitted">
                                                {{isRequiredMsg}}
                                            </kendo-formerror>
                                        </div>
                                    </div>
                                    <div class="col-md-11 display" [hidden]="!isBackDate">
                                        <div class="fl opUiLabel" style="width:200px">
                                            <span class="isReqField">* </span>Back
                                            Date Reason:
                                        </div>
                                        <div class="blockdisplay enddateblock">
                                            <kendo-dropdownlist [data]="dropDownsData?.BACK_DATE_RSN" textField="DROP_DOWN"
                                                                name="BACK_DATE_RSN" #backDateRsn="ngModel" valueField="DROP_DOWN" [(ngModel)]="BACK_DATE_RSN" class="inputWidth font-input" [required]="isBackDate">
                                            </kendo-dropdownlist>
                                            <kendo-formerror *ngIf="contractDetailsForm.controls.BACK_DATE_RSN?.errors?.required && isSubmitted">
                                                {{isRequiredMsg}}
                                            </kendo-formerror>
                                        </div>
                                    </div>
                                    <div class="col-md-11 display">
                                        <div class="fl opUiLabel" style="width: 160px">
                                            <span *ngIf="contractData?._behaviors?.isRequired?.CONTRACT_TYPE" class="isReqField">*</span>Contract Type:
                                        </div>
                                        <kendo-dropdownlist [data]="dropDownsData?.CONTRACT_TYPE" textField="DROP_DOWN"
                                                            valueField="DROP_DOWN" [(ngModel)]="CONTRACT_TYPE" class="inputWidth newbotborder font-input cd-input-bottom" name="CONTRACT_TYPE" required>
                                        </kendo-dropdownlist>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-11 display">
                                        <h6 class="inputWidth borderstyle">Customer Acceptance of Contract is...</h6>
                                    </div>
                                    <div class="col-md-1 top" [hidden]="isTenderContract">
                                        <div class="fr helpBtn" title="Help">
                                            <a href="https://wiki.ith.intel.com/display/Handbook/Contract+Details"
                                               target="_blank">
                                                <i class="intelicon-help"
                                                   style="font-size:30px !important"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-11" style="margin-bottom:20px;margin-top:30px" [ngClass]="{'disabled-section': disableCustAccpt}">
                                        <div *ngFor="let data of dropDownsData?.CUST_ACCPT; let idx=index">
                                            <div class="row">
                                                <div class="col-md-12"
                                                     style="margin-bottom:10px; border-bottom:1px solid #eeeeee"></div>
                                                <div class="col-md-4">
                                                    <div class="radioButtonGroup">
                                                        <input type="radio"
                                                               id="{{data.DROP_DOWN}}" [name]="data.DROP_DOWN" [disabled]="disableCustAccpt"
                                                               [value]="data.DROP_DOWN" [(ngModel)]="selectedCUST_ACCPT" name="selectedCUST_ACCPT"
                                                               [checked]="(idx===0)"
                                                               (change)="setCustAcceptanceRules(selectedCUST_ACCPT)" /><label for="{{data.DROP_DOWN}}"
                                                                                                                              class="radioControl">&nbsp;&nbsp;{{data.DROP_DOWN}}</label>
                                                    </div>
                                                    <div class="lookupDesc" *ngIf="data.DROP_DOWN==selectedCUST_ACCPT">
                                                        {{data.ATRB_LKUP_DESC}}
                                                    </div>
                                                </div>
                                                <div class="col-md-8" style="overflow-wrap:break-word">
                                                    <span [innerHTML]="data.ATRB_LKUP_TTIP"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 display">
                                        <h6 class="inputWidth myinfoclass">Information</h6>
                                    </div>
                                    <div class="col-md-11 blockdisplay" [hidden]="isTenderContract">
                                        <div class="fl opUiLabel">
                                            <span *ngIf="contractData?._behaviors?.isRequired?.C2A_DATA_C2A_ID"
                                                  class="isReqField">* </span>C2A Contract #
                                        </div>
                                        <kendo-textbox triggers="manual" class="kendoInput font-input cd-input-bottom" [clearButton]="true" name="C2A_DATA_C2A_ID" [disabled]="this.contractData?._behaviors?.isReadOnly?.C2A_DATA_C2A_ID"
                                                       [(ngModel)]="C2A_DATA_C2A_ID" (valueChange)="c2aIDchange($event)" [required]="this.contractData?._behaviors?.isRequired?.C2A_DATA_C2A_ID">
                                        </kendo-textbox>
                                        <kendo-formerror *ngIf="contractDetailsForm.controls.C2A_DATA_C2A_ID?.errors?.required && isSubmitted">
                                            {{isRequiredMsg}}
                                        </kendo-formerror>
                                        <div *ngIf="!contractData?._behaviors?.isHidden['C2A_DATA_C2A_ID']" class="description">
                                            Please enter the C2A Contract # associated with the
                                            contract. Please note, values longer than 18 characters will be truncated in
                                            Vistex. Characters (like semicolons) not supported by Vistex will also be
                                            removed.
                                        </div>
                                    </div>
                                    <div class="col-md-11 blockdisplay">
                                        <div>
                                            <span class="f1 opUiLabel opUiLableWidth label-color">
                                                <span *ngIf="contractData?.IsAttachmentRequired" class="isReqField">
                                                    *
                                                </span>Attachments:
                                            </span><span kendoTooltip>
                                                <a title="Attach multiple files.Allowed File Types: doc, xls, txt, bmp, jpg, pdf, ppt, zip, xlsx, docx, pptx, odt, ods, ott, sxw, sxc, png, 7z, xps."
                                                   class="icon-color opElementHelpIcon intelicon-information-outlined"></a>
                                            </span><span class="description">
                                                Your attachments will upload after clicking the Save
                                                Contract button.
                                            </span>
                                        </div>
                                        <div class="col-md-11 blockdisplay" style="padding-left:0px">
                                            <kendo-upload [saveUrl]="uploadSaveUrl" [batch]="true"
                                                          [restrictions]="myRestrictions" (success)="successEventHandler()" (select)="onFileSelect()" (remove)="onFileRemove()" (error)="onFileUploadError()" (complete)="onFileUploadComplete()"
                                                          (upload)="uploadEventHandler($event)" [autoUpload]="false" [(ngModel)]="files" name="files" class="kuploadaction" [required]="contractData?._behaviors?.isRequired?.C2A_DATA_C2A_ID && isSubmitted && (C2A_DATA_C2A_ID==undefined || C2A_DATA_C2A_ID=='')"></kendo-upload>
                                            <div *ngIf="selectedCUST_ACCPT !='Pending'" class="description">
                                                Either an
                                                attachment to deal request is uploaded or C2A id or link is enter above.
                                            </div>
                                            <kendo-formerror *ngIf="contractDetailsForm.controls.C2A_DATA_C2A_ID?.errors?.required && isSubmitted">
                                                {{isRequiredMsg}}
                                            </kendo-formerror>
                                        </div>
                                        <div class="col-md-11 blockdisplay" *ngIf="!isNewContract">
                                            <div class="panel panel-default" *ngIf="attachmentCount && attachmentCount>0">
                                                <div class="panel-heading" style="font-size:14px; font-weight:bold">File Attachment Details <span *ngIf="attachmentCount > 0 && initComplete" class="badge">{{attachmentCount}}</span></div>
                                                <div class="panel-body">
                                                    <div *ngIf="!(attachmentCount <= 0 || !initComplete)" class="oppo-grids physics-css">
                                                        <kendo-grid id="fileAttachmentGrid" [data]="gridData" [navigable]="true" [loading]="isLoading" [skip]="state.skip"
                                                                    [sort]="state.sort" [sortable]="true" [reorderable]="true" [resizable]="true"
                                                                    (dataStateChange)="dataStateChange($event)" class="file-attachment-contract">
                                                            <kendo-grid-column [headerClass]="{'headerClass':true}" field="ATTCH_SID" title="ID" [hidden]=true>
                                                            </kendo-grid-column>
                                                            <kendo-grid-column [headerClass]="{'headerClass':true}" field="FILE_DATA_SID" title="" width="10%">
                                                                <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                                                                    <a class='delete-attach-icon' *ngIf='C_DELETE_ATTACHMENTS' (click)='deleteFileAttachment(dataItem)'><i class='intelicon-trash-outlined' title='Click to delete this attachment'></i></a>
                                                                </ng-template>
                                                            </kendo-grid-column>
                                                            <kendo-grid-column [headerClass]="{'headerClass':true}" field="FILE_NM" title="File Name" width="40%">
                                                                <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                                                                    <a download [href]="'/api/FileAttachments/Open/'+ dataItem.FILE_DATA_SID + '/'">{{dataItem.FILE_NM}}</a>
                                                                </ng-template>
                                                            </kendo-grid-column>
                                                            <kendo-grid-column [headerClass]="{'headerClass':true}" field="CHG_EMP_WWID" title="Added By" width="25%">
                                                            </kendo-grid-column>
                                                            <kendo-grid-column [headerClass]="{'headerClass':true}" field="CHG_DTM" title="Date Added" width="25%">
                                                                <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                                                                    <div [innerHtml]="stripMilliseconds(dataItem.CHG_DTM)"></div>
                                                                </ng-template>
                                                            </kendo-grid-column>
                                                        </kendo-grid>
                                                    </div>
                                                    <div *ngIf="!(attachmentCount != 0 || !initComplete)" style="height:80px;">
                                                        <p style="margin-top:5px">This contract has no attachments.</p>
                                                    </div>
                                                    <div *ngIf="!initComplete" style="height:80px;">
                                                        <p style="margin-top:5px"><i>Retrieving attachments...</i></p>
                                                    </div>
                                                    <div *ngIf="!(attachmentCount >= 0)" style="height:80px; color:red">
                                                        <p style="margin-top:5px">Unable to retrieve attachments!</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row top">
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <h6>Timeline</h6>
                                            <div *ngFor="let data of TimeLineDetails;let i = index">
                                                <div *ngIf="i<=maxCount" class="details">
                                                    <p><span style="color: #003C71;font-size: 14px;float:left">{{data.ATRB_DESC}}</span> <span style="float: right;" class="updateBy">updated by {{data.FRST_NM}}{{data.LST_NM}}({{data.USR_ROLES}})({{data.CHG_EMP_WWID}})</span></p>
                                                    <p><span class="atbrDetails" style="float:left;">"{{data.ATRB_VAL}}"</span><span style="float: right;" class="atbrDate">{{data.HIST_EFF_FR_DTM}}</span></p>
                                                </div>
                                            </div>
                                            <div *ngIf="isShowBtn">
                                                <a (click)="showAll()" class="showMore" title={{btnText}}>
                                                    {{btnText}} <i *ngIf="btnText == 'Show More'" class="intelicon-down"></i> <i *ngIf="btnText == 'Show Less'" class="intelicon-up"></i>
                                                </a>
                                                <!--<a (click)="gotoHistory()" style="cursor: pointer; float: right;">view all contract history</a>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <h6 class="noBottemBorder">Notes</h6>
                                        </div>
                                        <div class="col-md-11">
                                            <kendo-textarea style="margin-top: 5px; border-radius: 5px; width: 100%; padding-right: 0px; box-shadow: none; border-color: #e7e7e7; " resizable="vertical"
                                                            [rows]="4" [(ngModel)]="NOTES" name="NOTES"></kendo-textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="secFooter">
                            <button class="btn btn-primary mleft" type="button" (click)="deleteContract()" *ngIf="showDeleteButton">
                                <span>Delete{{contractType}}</span>
                            </button ><button class="btn btn-primary mleft" type="button" [disabled]="disableSave"
                                             (click)="customContractValidate(contractDetailsForm)">
                                <span>{{saveBtnName}} </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<kendo-dialog class="contentborder mybuttondialog k-dialog-popup-design" *ngIf="isBackdatepopupopend">
    <p class="dialogmsg boxsize">
        You have Selected a date in the past which means the dates you will enter will be considered
        backdated
    </p>
    <div style="display:flex">
        <kendo-dialog-actions style="flex-grow:1;">
            <button kendoButton (click)="pastDateFieldsenable()" class="ok-btn-pop-up">OK</button>
        </kendo-dialog-actions>
        <kendo-dialog-actions style="flex-grow:1">
            <button kendoButton (click)="applyTodayDate()" class="cancel-btn-pop-up">CANCEL</button>
        </kendo-dialog-actions>
    </div>
</kendo-dialog>
<kendo-dialog *ngIf="isDivBlankPopupOpen" (close)="blankDivisionPopupClose('cancel')" class="k-dialog-popup-design" [minWidth]="250" [width]="600">
    <p class="dialogmsg">
        The division is blank. Do you intend for this contract to apply to all divisions?
    </p>
    <kendo-dialog-actions>
        <button kendoButton (click)="blankDivisionPopupClose('yes')" themeColor="primary" class="ok-btn-pop-up">OK</button>
        <button kendoButton (click)="blankDivisionPopupClose('no')" class="cancel-btn-pop-up">CANCEL</button>
    </kendo-dialog-actions>
</kendo-dialog>
<kendo-dialog class="mymissingbutton k-dialog-popup-design" *ngIf="isMissingGrpCode" [height]="188">
    <p class="dialogmsg codesize">Missing Price Group Code </p>
    <kendo-dialog-actions><button kendoButton (click)="closeMissingGrpCodeAlert()" class="cancel-btn-pop-up">OK</button></kendo-dialog-actions>
</kendo-dialog>
<kendo-dialog *ngIf="isDeleteAttachment" (close)="deleteAttachmentActions(false)" class="k-dialog-popup-design" [minWidth]="250" [width]="620">
    <p class="dialogmsg">
        Are you sure that you want to Delete this file attachment?
    </p>
    <kendo-dialog-actions>
        <button kendoButton (click)="deleteAttachmentActions(true)" themeColor="primary" class="ok-btn-pop-up">Yes</button>
        <button kendoButton (click)="deleteAttachmentActions(false)" class="cancel-btn-pop-up">No</button>
    </kendo-dialog-actions>
</kendo-dialog>
<kendo-dialog *ngIf="isDeleteContract" (close)="deleteContractActions(false)" class="k-dialog-popup-design" [minWidth]="250" [width]="620">
    <p class="dialogmsg">
        Are you sure that you want to delete this contract?
    </p>
    <kendo-dialog-actions>
        <button kendoButton (click)="deleteContractActions(true)" themeColor="primary" class="ok-btn-pop-up">OK</button>
        <button kendoButton (click)="deleteContractActions(false)" class="cancel-btn-pop-up">CANCEL</button>
    </kendo-dialog-actions>
</kendo-dialog>