
@{
    ViewBag.Title = "Contract";
}

<div ui-view="bodyView" class="fullHeight">
    <div class="jumbotron ng-scope">
        <div class="container">
            <h1><strong>My</strong> Deals</h1>
            <p class="lead">Contract Manager.</p>
            <p>
                <small>Initializing... </small>
            </p>
            <p>
                The contract manager is a "contract" friendly deal entry and management tool.
            </p>
        </div>
    </div>
</div>
