body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 11px;
    font-family: "Intel Clear", "Arial";
    overflow: hidden;
    height: 100%;
    width: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1 {
    font-weight: 200;
}
h2 {
    font-weight: 200;
    color: #333333;
}
h3 {
    font-weight: 200;
    color: #666666;
}
h4 {
    font-weight: 200;
    color: #00AEEF;
}
h5 {
    font-weight: 200;
}
h6 {
    font-weight: 200;
}
