    .clearboth {
        clear: both;
    }

    .fl {
        float: left;
    }
    .fr {
        float: right;
    }





    .waitingCenterDiv {
        background: #ffffff;
        background: rgba(255, 255, 255, .75);

        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2000;
        margin: auto;
        display: none;
    }

    .waitingCenterDiv #waitMsg {
        width: 400px;
        height: 200px;
        text-align: center;
        font-size: 24px;
        text-align: center;
        color: #000000;

        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2000;
        margin: auto;
    }







.group{
    padding: 15px;
}

.group-conditions{
    margin-left: 20px;
}

.alert-group{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Rules Engine */

.condition, .group {
    margin-top: 15px;
    margin-bottom: 15px;
}

.rulebundleitem {
    padding-left: 1em;
}

#rulesearchbox {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 14px;
    padding: 5px;
}

#rulesetlistcontents {
    width: 100%;
    height: 65%;
    overflow: auto;
}

.fixed-height {
    height: 100%;
}

.rule-engine-textbox {
    margin-left: 5px;
}

.card-header {
    margin-left: 1em;
}

.qb-field {
    margin-left: 5px;
}

.qb-field-core {
    width: 15%;
    margin-left: 5px;
}

.selectedrule {
    background-color: cornflowerblue;
}

.ruleset:hover {
    background-color: lightskyblue;
}

.clickable {
	cursor: pointer;
}
/* Top overhead warning */
.messageBox {
	padding: 15px;
}
.messageBox.mb-error {
	background-color: #ED1C24;
	color: #ffffff;
}
.messageBox.mb-warning {
	background-color: #ffffff;
	color: #db704d; /* #cc3300; opacity: .7; */
    font-size: 17px;
}

/* Tooltip */
.tooltip-error .tooltip-inner{
	background-color: #ED1C24;
	color: #ffffff;
	/*font-weight: bold;*/
}
.tooltip-error.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #ED1C24;
}

/* Icon sizes */
.icon-md {
	font-size: 1.2em
}
.icon-lg{
	font-size: 1.2em;
}


.btn-group .noMarginSmBtn {
    margin: 0 !important;
    padding: 4px 10px;
    height: 32px;
    font-weight: bold !important;
    font-family: arial !important;
}
.btn-group .noMarginSmBtn:first-child {
    border-right: 0;
}
.btn-group .noMarginSmBtn:last-child {
    border-left: 0;
}
.adminBanner{
    font-size:12px;
    background-color: #F3D54E;
    z-index:800;
    padding: 5px 11px;
    width: 400px;
    margin: 0;
}
.adminBannerIcon{
    position:relative;
    color:#F3D54E;
    z-index:1500;
    font-size:20px;
    font-weight:400;
    margin-top: 8px;
}

.searchResultsTitle{
    font-size:18px;
}
.searchResultsBack{
    cursor: pointer;
}
.searchResultsLoading{
    padding-top: 15px;
    color: #666666;
    font-size: 18px;
}
.searchResultsCategory{
    padding-top: 15px;
    font-size: 20px;
}
.searchResultsCustomer{
    font-size: 12px;
    text-transform: uppercase;
    color: #999999;
    margin-top: 4px;
}
.searchResultsContent{
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 4px;
    background-color: #f4f4f4;
    border: 1px solid #f6f6f6;
}

.btn-pending {
    opacity:0.5;
    
}

/****** ScaleY In *******/
@keyframes scaleInYAnim {
    from { transform:scaleY(0); }
    to   { transform:scaleY(1); }
}

/* Firefox < 16 */
@-moz-keyframes scaleInYAnim {
    from { transform:scaleY(0); }
    to   { transform:scaleY(1); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes scaleInYAnim {
    from { transform:scaleY(0); }
    to   { transform:scaleY(1); }
}

/* Internet Explorer */
@-ms-keyframes scaleInYAnim {
    from { transform:scaleY(0); }
    to   { transform:scaleY(1); }
}


/****** ScaleY Out *******/
@keyframes scaleOutYAnim {
    from { transform:scaleY(1); }
    to   { transform:scaleY(0); }
}
/* Firefox < 16 */
@-moz-keyframes scaleOutYAnim {
    from { transform:scaleY(1); }
    to   { transform:scaleY(0); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes scaleOutYAnim {
    from { transform:scaleY(1); }
    to   { transform:scaleY(0); }
}

/* Internet Explorer */
@-ms-keyframes scaleOutYAnim {
    from { transform:scaleY(1); }
    to   { transform:scaleY(0); }
}


.scaleTopAnim,
.scaleTopAnim.ng-show,
.scaleTopAnim.ng-enter,
.scaleTopAnim.ng-active
 {
	-webkit-animation-name: scaleInYAnim; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation-name: scaleInYAnim; /* Firefox < 16 */
        -ms-animation-name: scaleInYAnim; /* Internet Explorer */
         -o-animation-name: scaleInYAnim; /* Opera < 12.1 */
            animation-name: scaleInYAnim;
    animation-duration: 0.3s;
	transform-origin:top; 
}

.scaleTopAnim.ng-hide,
.scaleTopAnim.ng-leave,
.scaleTopAnim.ng-inactive  {	
	-webkit-animation-name: scaleOutYAnim; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation-name: scaleOutYAnim; /* Firefox < 16 */
        -ms-animation-name: scaleOutYAnim; /* Internet Explorer */
         -o-animation-name: scaleOutYAnim; /* Opera < 12.1 */
            animation-name: scaleOutYAnim;
    animation-duration: 0.2s;
}

.fadeInAnim {
	-webkit-animation-name: fadein; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation-name: fadein; /* Firefox < 16 */
        -ms-animation-name: fadein; /* Internet Explorer */
         -o-animation-name: fadein; /* Opera < 12.1 */
            animation-name: fadein;
	 animation-duration: 0.4s;
}

/****** FADE IN *******/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}