    .clearboth {
        clear: both;
    }

    .fl {
        float: left;
    }
    .fr {
        float: right;
    }

    /*.tnavBtn {
        border-left: 1px solid #d9dadf;
        height: 100%;
        font-size: 18px;
        cursor: pointer;
        font-size: 12px;
        padding: 8px 10px;
        color: #666666;
    }
    .tnavBtn:hover {
        background-color: #fcfcfe;
    }

    .easyPieInnerText {
        position: relative;
        top: 75px;
        text-align: center;
        width: 115px;
        font-size: 28px;
        margin-top: -30px;
    }

    .smDealGrid.k-grid td, .smDealGrid.k-grid th {
        font-size: 10px;
        font-family: Arial;
        line-height: 1.2em;
    }

    .smDealGrid.k-grid .smTable td {
        line-height: 1.2em;
        padding: 0;
        border-width: 1px 0 0 0;
        border-color: #dddddd;
    }
    .smDealGrid.k-grid .smTable td input.k-textbox {
        height: 1.6em;
        padding: 0;
    }
    .smDealGrid .k-alt {
        background-color: #ffffff;
    }*/

	
    /*.k-filter-row th, .k-grid-header th.k-header
    {
        padding: 0 8px 0 4px;
        font-size: 10px;
        height: 10px;
		background-color: #e1e5e7;
    }
    .k-filter-row th .editableColumn, .k-grid-header th.k-header .editableColumn
    {
        color: #ffffff;
		background-color: #53565a;
    }
*/
    	
	/* TODO: josiTODO: not all icons are intelicons yet. We'll need to replace all in near future as requested by Tristen */
	/* Intel-icons on Kendo grid */
	/*.k-icon:not(.k-loading), .k-icon:not(.k-i-loading), .k-grouping-dropclue, .k-drop-hint, .k-callout, .k-tool-icon, .k-state-hover .k-tool-icon, .k-state-active .k-tool-icon, .k-state-active.k-state-hover .k-tool-icon, .k-state-selected .k-tool-icon, .k-state-selected.k-state-hover .k-tool-icon, .k-column-menu .k-sprite, .k-mobile-list .k-check:checked, .k-mobile-list .k-edit-field [type=checkbox]:checked, .k-mobile-list .k-edit-field [type=radio]:checked{
		background-image: url("/Images/kendo_icons_intel.png");
	}*/

    /*

    .k-toolbar, .k-grouping-header {
        background-color: #ffffff;
        padding: 0 8px;
    }

    .k-grid .k-grouping-header {
        color: #00AEEF;
    }

    .k-pager-numbers {
        border: 1px solid #b1babf;
        color: #0071c5;
    }
    .k-pager-numbers:hover {
        background-color: #edeff0;
    }


    .k-pager-numbers .k-state-selected {
        border: 1px solid #0071c5;
        background-color: #0071c5;
        color: #ffffff;
    }
    .k-pager-numbers .k-state-selected:hover {
        background-color: #0071c5;
    }
    */




    .waitingCenterDiv {
        background: #ffffff;
        background: rgba(255, 255, 255, .75);

        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2000;
        margin: auto;
        display: none;
    }

    .waitingCenterDiv #waitMsg {
        width: 400px;
        height: 200px;
        text-align: center;
        font-size: 24px;
        text-align: center;
        color: #000000;

        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2000;
        margin: auto;
    }







.group{
    padding: 15px;
}

.group-conditions{
    margin-left: 20px;
}

.alert-group{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Rules Engine */

.condition, .group {
    margin-top: 15px;
    margin-bottom: 15px;
}

.rulebundleitem {
    padding-left: 1em;
}

#rulesearchbox {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 14px;
    padding: 5px;
}

#rulesetlistcontents {
    width: 100%;
    height: 65%;
    overflow: auto;
}

.fixed-height {
    height: 100%;
}

.rule-engine-textbox {
    margin-left: 5px;
}

.card-header {
    margin-left: 1em;
}

.qb-field {
    margin-left: 5px;
}

.qb-field-core {
    width: 15%;
    margin-left: 5px;
}

.selectedrule {
    background-color: cornflowerblue;
}

.ruleset:hover {
    background-color: lightskyblue;
}