.btn-primary {
    margin: 5px;
    align-items: center;
}

    .btn-primary[disabled] {
        background-color: #edeff0 !important;
        color: #7e868b !important;
        border-color: #b1babf !important;
        cursor: not-allowed !important;
        pointer-events: all !important;
    }

.commentbar {
    margin-top: 35px;
    background-color: #f2f2f2;
    color: #322122;
    padding: 8px 16px;
    font-weight: 600;
    height: 40px;
}

    .commentbar span {
        color: #a9bc2b;
    }

#productDropdown {
    min-width: 100%;
    padding-right: 15px;
}

#radioButton {
    padding-top: 20px;
}

#directiveDropdown {
    min-width: 15%;
}