<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />
<div class="form-inline">
    <div class="col-md-12" style="padding-left: 30px; padding-top: 24px">
        <h3 class="remove-space-btw">Legal Classification</h3>
    </div>
    <p class="paragraph-align">Use the tool below to control what products will be cost tested and at what level.</p>
    <div class="col-md-12">
        <div class="alert alert-danger" *ngIf="validationMessage !=''">{{validationMessage}} </div>
    </div>
    <div *ngIf="!manageRules">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 kendo-grid-buttons grid-box-margin">
                    <kendo-grid class="grid-sizefix tt-grids kAlignHeaders" [data]="gridData" [loading]="isLoading" [pageSize]="state.take" [skip]="state.skip"
                                [sort]="state.sort" [filter]="state.filter" [sortable]="true"
                                [pageable]="{type:type,pageSizes: pageSizes,info:info}" [groupable]="false" [reorderable]="true"
                                [resizable]="true" [group]="state.group" filterable="menu" (cellClick)="editClick($event)"
                                [navigable]="true" (dataStateChange)="dataStateChange($event)" (edit)="editHandler($event)"
                                [columnMenu]="{sort: false}" style="padding-left: 15px; padding-right: 15px;">
                        <ng-template kendoGridToolbarTemplate>
                            <button class="btn btn-primary small k-grid-add btnPrimers"
                                    (click)="addItem()">
                                <span class="intelicon-plus-outlined"></span>&nbsp;Add new record
                            </button>
                            <button class="btn btn-primary small k-custom-edit k-grid-customEdit btnPrimers"
                                    [disabled]="isButtonDisabled" (click)="updateItem()">
                                <span class="intelicon-compose"></span>Edit
                            </button>
                            <button class="btn btn-primary small k-custom-delete k-grid-customDelete btnPrimers"
                                    [disabled]="isButtonDisabled" (click)="deleteItemConfirmation()">
                                <span class="intelicon-close-max"></span>Delete
                            </button>
                            <kendo-grid-spacer></kendo-grid-spacer>
                            <button type="button" kendoGridExcelCommand>
                                <span class="k-icon k-i-file-excel k-icon-md"></span>Export to Excel
                            </button>
                            <button (click)="refreshGrid()" class="k-button clearButton">
                                <span class="k-icon k-i-reload k-icon-md"></span>Refresh
                            </button>
                        </ng-template>
                        <kendo-grid-column kendoGridEditCommand kendoGridRemoveCommand field="DEAL_PRD_TYPE"
                                           title="Product Type" [headerClass]="{'headerClass':true}">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                         let-filterService="filterService">
                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                                   [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                                </multicheck-filter>
                            </ng-template>
                            <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                                <kendo-textbox [formControl]="formGroup.get('field_name')" [clearButton]="true">
                                </kendo-textbox>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column kendoGridEditCommand kendoGridRemoveCommand field="PRD_CAT_NM"
                                           title="Product Vertical" [headerClass]="{'headerClass':true}">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                         let-filterService="filterService">
                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                                   [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                                </multicheck-filter>
                            </ng-template>
                            <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                                <kendo-textbox [formControl]="formGroup.get('field_name')" [clearButton]="true">
                                </kendo-textbox>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column kendoGridEditCommand kendoGridRemoveCommand field="COST_TEST_TYPE"
                                           title="Legal Classification" [headerClass]="{'headerClass':true}">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                         let-filterService="filterService">
                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                                   [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                                </multicheck-filter>
                            </ng-template>
                            <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                                <kendo-textbox [formControl]="formGroup.get('field_name')" [clearButton]="true">
                                </kendo-textbox>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column kendoGridEditCommand kendoGridRemoveCommand field="CRITERIA" title="Criteria"
                                           [headerClass]="{'headerClass':true}">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                         let-filterService="filterService">
                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                                   [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                                </multicheck-filter>
                            </ng-template>
                            <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                                <kendo-textbox [formControl]="formGroup.get('field_name')" [clearButton]="true">
                                </kendo-textbox>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column kendoGridEditCommand kendoGridRemoveCommand field="CONDITION"
                                           title="Condition" [headerClass]="{'headerClass':true}">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                         let-filterService="filterService">
                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                                   [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                                </multicheck-filter>
                            </ng-template>
                            <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                                <kendo-textbox [formControl]="formGroup.get('field_name')" [clearButton]="true">
                                </kendo-textbox>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-excel fileName="MyDealsLegalClassifications.xlsx"></kendo-grid-excel>
                        <ng-template kendoPagerTemplate>
                            <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                            <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
                            <kendo-pager-next-buttons></kendo-pager-next-buttons>
                            <kendo-pager-info></kendo-pager-info>
                            <kendo-pager-page-sizes [pageSizes]="pageSizes"></kendo-pager-page-sizes>
                        </ng-template>
                    </kendo-grid>
                    <kendo-dialog *ngIf="isDeleteClick" id="admin-legal-popup">
                        <h3 class="kendo-dialog-message">Delete confirmation</h3>
                        <p class="kendo-dialog-message">
                            Are you sure you would like to Delete this Product Cost Test
                            Rule ?
                        </p>
                        <kendo-dialog-actions>
                            <button class='k-button cancel-btn-legal'
                                    (click)="cancelDeleteRuleAction()">
                                Cancel
                            </button><button class='k-button delete-btn-legal'
                                             (click)="deleteItem()">
                                Delete Rule
                            </button>
                        </kendo-dialog-actions>
                    </kendo-dialog>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!addNewRules" style="width: 100%;">
        <div class="col-md-12">
            <form name="rules" novalidate >
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <button class="btn btn-primary btnPrimers small k-grid-add" (click)="savePCTRules()" type="submit" [disabled]="!form.isValid">
                            <span class="intelicon-check fa-tan"></span>Save Changes
                        </button>
                        <button class="btn btn-primary btnPrimers small k-grid-add" (click)="cancel()">
                            <span class="fa fa-ban fa-tan"></span>Cancel Changes
                        </button>
                    </div>
                    <div class="panel-body" style="padding-bottom: 40px;height:65vh;overflow-y:scroll">
                        <div class="col-sm-12">
                            <div class="row form-inline">
                                <div class="col-md-3">
                                    <div class="opp-d-filter">
                                        <label class="control-label alignLabels">Select Product Type:</label>
                                        <kendo-combobox id="productDropdown" title="Select a Product Type"
                                                        placeholder="Select..." [(ngModel)]="pctRule.DEAL_PRD_TYPE_SID"
                                                        [data]="distinctProductType | orderBy: 'PRD_TYPE'"
                                                        [ngModelOptions]="{standalone: true}" [clearButton]="false"
                                                        [allowCustom]="false" [required]="true" [filterable]="true" textField="PRD_TYPE"
                                                        valueField="PRD_TYPE_SID" [valuePrimitive]="true"
                                                        (valueChange)="prdTypeChange($event)"
                                                        (filterChange)="handleFilter($event,'ProductType')"></kendo-combobox>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="opp-d-filter">
                                        <label class="control-label alignLabels">Select Product Vertical:</label>
                                        <kendo-combobox id="productDropdown" title="Select a Vertical"
                                                        placeholder="Select..." [(ngModel)]="pctRule.PRD_CAT_NM_SID"
                                                        [data]="ProductVertical" [ngModelOptions]="{standalone: true}"
                                                        [clearButton]="false" [allowCustom]="false" [required]="true"
                                                        [filterable]="true" textField="VERTICAL" valueField="VERTICAL_SID"
                                                        [valuePrimitive]="true" (valueChange)="verticalChange($event)"
                                                        (filterChange)="handleFilter($event,'Vertical')"
                                                        [disabled]="pctRule.DEAL_PRD_TYPE_SID=='' || pctRule.DEAL_PRD_TYPE_SID==null">
                                        </kendo-combobox>
                                    </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label alignLabels">Select Level:</label>
                                        <div id="radioButton">
                                            <div class="radio-inline" *ngFor="let type of costTestProductType">
                                                <input type="radio" title="type.name" [value]="type.name"
                                                       [(ngModel)]="pctRule.COST_TEST_TYPE"
                                                       [ngModelOptions]="{standalone: true}">{{type.name}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 commentbar" [hidden]="!showCommentbar">
                                        You have assigned
                                        <span>{{dealPrdTypeNm()}} </span><span>{{dealPrdVerticalNm()}}</span>&nbsp;to&nbsp;
                                        <span>{{pctRule.COST_TEST_TYPE}}</span>&nbsp;for Cost Test&nbsp;
                                    </div>
                                    <div class="clearboth"></div>
                                    <div class="col-md-12" style="padding-top: 20px;" *ngIf="showQueryBuilder">
                                        <div class="icostedProducts">
                                            <div class="fl">Add more</div>
                                            <kendo-dropdownlist [(ngModel)]="pctRule.CRITERIA" [data]="conditionCriteria"
                                                                [ngModelOptions]="{standalone: true}" class="fl" style="margin: 0 10px;"
                                                                title="Select a Criteria" [required]="true" textField="name" valueField="name"
                                                                [valuePrimitive]="true"></kendo-dropdownlist>
                                            <div class="fl">conditions below if required:</div>
                                        </div>
                                            <div class="clearboth"></div>
                                            <pct-query-builder-angular *ngIf="isAttributeLoaded | async" [group]="filter.group"
                                                                       [parent]="initial" [form]="form" [operators]="operators"
                                                                       [leftValues]="leftValues" (saveEnable)="enableSaveHandler($event)">
                                            </pct-query-builder-angular>
                                        </div>
                                    </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>