.modalBlueBody {
    background-color: #003C71;
    color: #ffffff
}

.pct-override-body .vert-button {
    width: 100%;
    height: 300px;
    background-color: #00AEEF;
    border-radius: 4px;
    color: #ffffff;
    padding: 6px;
    text-align: center;
    font-size: 12px;
    cursor: pointer
}

    .pct-override-body .vert-button:hover {
        background-color: #0071C5
    }

.pct-override-body .big-icon {
    font-size: 30px
}

.pct-override-body input[type=radio].with-font, .pct-override-body input[type=checkbox].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

    .pct-override-body input[type=radio].with-font + label:before, .pct-override-body input[type=checkbox].with-font + label:before {
        font-family: FontAwesome;
        display: inline-block;
        content: "\f096";
        font-size: 20px;
        letter-spacing: 10px;
        color: #00AEEF;
        margin-left: 10px
    }

    .pct-override-body input[type=radio].with-font:hover + label:before, .pct-override-body input[type=checkbox].with-font:hover + label:before {
        color: #003C71;
        cursor: pointer
    }

    .pct-override-body input[type=radio].with-font.disabled + label:before, .pct-override-body input[type=checkbox].with-font.disabled + label:before {
        color: #cccccc;
        cursor: default
    }

    .pct-override-body input[type=radio].with-font:checked + label:before, .pct-override-body input[type=checkbox].with-font:checked + label:before {
        content: "\f046";
        font-size: 20px;
        letter-spacing: 5px;
        color: #C4D600;
        margin-left: 10px
    }

    .pct-override-body input[type=radio].with-font.disabled:checked + label:before, .pct-override-body input[type=checkbox].with-font.disabled:checked + label:before {
        color: #cccccc;
        cursor: default
    }

    .pct-override-body input[type=radio].with-font:focus + label:before, .pct-override-body input[type=checkbox].with-font:focus + label:before {
        font-weight: bold;
        color: #C4D600
    }

/*.costTestReason-modal-window, .modal-dialog {
    width: 90%;
    margin-left: auto;
    margin-right: auto
}*/

.pct-override-style mat-dialog-container {
    box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%),0 24px 38px 3px rgb(0 0 0 / 14%),0 9px 46px 8px rgb(0 0 0 / 12%) !important;
    background: #fff !important;
    padding: 0 !important;
    border-radius: 0 !important
}

.pct_overridestyle.k-grid td {
    font-family: 'Intel Clear' !important;
    font-size: 12px !important
}

.pct_overridestyle .k-grid-header {
    font-family: 'Intel Clear' !important
}

.pct_overridestyle .k-grid-filter {
    color: #00aeef !important
}

.pct_overridestyle .k-filterable .k-cell-inner {
    margin-right: -40px !important
}

.pct_overridestyle.k-grid .k-grid-filter .k-icon.k-i-filter:hover {
    color: #0071C5 !important
}

.pct_overridestyle.k-grid .k-grid-header-locked, .pct_overridestyle.k-grid .k-grid-content-locked, .pct_overridestyle.k-grid .k-grid-header-locked .k-header, .pct_overridestyle.k-grid .k-grid-content-locked td {
    border-color: rgba(33,37,41,.125) !important
}

.cost-exception-headstyle {
    font-size: 20px !important;
    line-height: 1.5 !important;
    color: #ffffff !important;
    font-weight: 400 !important
}

.pct_overridestyle .k-column-title {
    color: #000000 !important;
    font-weight: 400 !important
}

.pct_overridestyle .k-filterable > .k-cell-inner .k-link:hover {
    background: transparent !important
}

.pct_overridestyle.k-grid .k-grid-content-locked tr:hover td {
    background-color: #ecf8fb !important
}

.pctstyle-override-head.modal-header {
    padding: 1rem 1rem !important;
    border-bottom: 1px solid #e5e5e5 !important
}

.pct-override-body.modal-body {
    padding: 20px !important;
    position: relative !important
}
