.boderClass {
    border: 1px solid #eeeeee !important;
    margin: 0 4px;
    padding: 5px;
    overflow: auto;
    height: 250px;
}

.search-result-item {
    border-bottom: 0 !important;
    color: #00AEEF;
    font-size: 12px;
    cursor: pointer;
    font-weight: 200;
}

    .search-result-item:hover {
        background-color: transparent !important;
    }

.mat-list-base .mat-list-item {
    font-size: 12px !important;
    font-family: "Intel Clear" !important;
    height: auto !important;
}

.mat-list-base {
    padding-top: 0px !important;
}

mat-list-item.mat-list-item.mat-focus-indicator {
    border-bottom: 1px solid #eeeeee;
    padding: 5px;
    color: #00AEEF;
    cursor: pointer;
}

mat-list-item:hover {
    background-color: #e8eaec !important;
}

.mat-divider {
    border-top-color: rgba(0, 0, 0, 0) !important;
}

.btn-primary {
    background-color: #3c8dbc !important;
    border-color: #367fa9 !important
}
.comp-customize-btn {
    border-right-color: #fff !important;
}
.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    color: #fff!important;
    background-color: #004280!important;
}
    .mat-button-toggle-checked.mat-button-toggle-appearance-standard:hover {
        background-color: #004280 !important;
        border-right-color: #fff !important;
        border-bottom-color: #004280 !important;
        border-top-color: #004280 !important;
        border-left-color: #004280 !important
    }

.customBtn {
    border: none;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    font-size: 19px!important;
    line-height: 1.33333!important;
    font-weight: normal!important;
    padding: 0 12px!important
}

@media (max-width:970px) {
    .globalSearchInpt {
        width: 176px
    }
}

@media (max-width:810px) {
    .globalSearchInpt {
        width: 57px
    }
}

.dropdown-search li {
    cursor: pointer
}

.applied-products {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.margin-btn-15 {
    margin-bottom: 15px !important;
}

.copper-btns mat-button-toggle {
    border-radius: 0 !important;
    padding: 5px;
}

.copper-btns mat-button-toggle:first-child {
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

.copper-btns mat-button-toggle:last-child {
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

.copper-btns {
    margin-left: 5px;
}

.applied-products .searchResultInpt {
    background-color: #fff;
    color: #444;
    border: 1px solid #e6e6e6;
    margin-bottom: 0;
    padding-left: 5px;
    margin-right: 6px;
    width: 325px;
    border-radius: 0px;
    box-shadow: none;
}