.header-correct {
    padding-top: 50px;
    padding-left: 14px !important;
    padding-bottom: 10px;
}

.header-removebottom {
    line-height: 1.1;
}

.remove-space-lR {
    padding-left: 14px !important;
    padding-right: 5px !important;
    padding-top: 0px !important;
}

.remove-space-de {
    margin-left: 0.16em !important;
    margin-right: -1em !important;
}

/*kendo-grid.box-heightinc {
    height: 652px;
}*/

.remove-spaceoutline {
    margin-left: -1.14em !important;
}
