
@Html.Partial("TOC", new ViewDataDictionary
{
    { "categoryTitle", "Project setup and logic flow" },
    { "categoryAction", "Project" },
    { "sectionTitle", "Intel.MyDeals.App" },
    { "sectionAction", "Application" },
    { "pageTitle", "Introduction" }
})

<div id="mainBody" style="margin: 10px; padding: 0 20px 0 200px;">
    <h1><img src="/Images/docs/icon-app-layer.png" height="60" /> Intel.MyDeals.App</h1>
    <p>
        Layer dedicated to housing Application specific information such as Application View Model, Application Library, and Application Settings.
    </p>

    <br /><br /><br />
</div>

