@Html.Partial("TOC", new ViewDataDictionary
{
    { "categoryTitle", "Project setup and logic flow" },
    { "categoryAction", "Project" },
    { "sectionTitle", "Intel.MyDeals.BusinessLogic" },
    { "sectionAction", "BusinessLogic" },
    { "pageTitle", "Call a stored procedure" }
})

<div id="mainBody" style="margin: 10px; padding: 0 20px 0 200px;">
    <h1><img src="/Images/docs/icon-bus-logic.png" height="60" />Call a stored procedure</h1>
    <p>
        Actually... you <b>CANNOT</b> call a stored procedure from the Business Logic layer.  Instead, a Data Library function must be called which will in turn call the stored procedure.
        <img src="/Images/docs/buslogproc.png" style="margin: 10px 0 10px 25px;" />
    </p>

    <div class="stepByStep">
        <i class="intelicon-task"></i>Step by Step
    </div>

    <ol>
        <li>
            Open the <i>Intel.MyDeals.BusinessLogic</i> project. Notice all the folders. These should match what is in the <i>Intel.MyDeals.DataLibrary</i> project.
            If you need a new folder, make sure you add a matching folder in both projects.<br />
            <img src="/Images/docs/businesslogiclayout.png" style="margin: 10px 0;" />
        </li>
        <li>
            Add your business function here.  Keep in mind the code segments should be rather small and coded in a way it can efficiently be used by automated testing.
            <p>To mock the DataLib during unit testing, inject dependency via constructor.</p>
            <div class="note"><strong>Note:</strong> Here is an example of a business logic function:</div>
            <div class="noteBody">
                <pre>
    public class ConstantsLookupsLib : IConstantsLookupsLib
    {
        /// &lt;summary&gt;
        /// Constants lookup data library
        /// &lt;/summary&gt;
        private readonly IConstantLookupDataLib _constantLookupDataLib;
        /// &lt;summary&gt;
        /// DataCollection Data Library, wrapper methods to access static cache
        /// &lt;/summary&gt;
        private readonly IDataCollectionsDataLib _dataCollectionsDataLib;
        public ConstantsLookupsLib(IConstantLookupDataLib _constantLookupDataLib,
            IDataCollectionsDataLib _dataCollectionsDataLib)
        {
            this._constantLookupDataLib = _constantLookupDataLib;
            this._dataCollectionsDataLib = _dataCollectionsDataLib;
        }
        public List&lt;ToolConstants&gt; GetToolConstants()
        {
            return _dataCollectionsDataLib.GetToolConstants();
        }
    }
                                </pre>
            </div>
        </li>
        <li>
            Extract the public methods which you want to expose to Api Layer, create the appropriate folder in the <i>Intel.MyDeals.IBusinessLogic</i>.
            This layout needs to match the <i>Intel.MyDeals.BusinessLogic.</i> folder structure.
            <br />
            <img src="~/Images/docs/libinterface.png" style="margin: 10px 0 10px 25px;" />
            <div class="alert alert-info" role="alert">
                <strong>Quick Tip!</strong> Keep the interface name same as class implementing it. Append it with prefix "I".
            </div>
        </li>
        <li>
                In the <i>Resolver.cs</i> file register the interface with implementing class in the container.
            <br />
            <img src="/Images/docs/libResolver.png" style="margin: 10px 0 10px 25px;" />
            <div class="note">
                <strong>Note:</strong> Here is an example, for registering ConstantLookupLib with IConstantLookupLib.
            </div>
            <div class="noteBody">
                <pre>
                      public class Resolver : IService
                      {
                        public void SetUp(IRegisterService registerService)
                        {
                           registerService.RegisterType&lt;IConstantLookupLib, ConstantLookupLib&gt;();
                        }
                      }
                    </pre>
            </div>
        </li>
    </ol>

    <br /><br /><br />
</div>