
@Html.Partial("TOC", new ViewDataDictionary
{
    { "categoryTitle", "Project setup and logic flow" },
    { "categoryAction", "Project" },
    { "sectionTitle", "Intel.MyDeals.BusinessRules" },
    { "sectionAction", "BusinessRules" },
    { "pageTitle", "Introduction" }
})

<div id="mainBody" style="margin: 10px; padding: 0 20px 0 200px;">
    <h1><img src="/Images/docs/incon-bus-rules.png" height="60" />Intel.MyDeals.BusinessRules</h1>
    <p>
        Layer dedicated to hold the business rules and validation.  These should be driven completely off MetaData.
    </p>

    <p>
        <b>This section is currently empty becuase the design has not been completed yet.</b>
    </p>
    <br /><br /><br />
</div>

