
@Html.Partial("TOC", new ViewDataDictionary
{
    { "categoryTitle", "Project setup and logic flow" },
    { "categoryAction", "Project" },
    { "sectionTitle", "Intel.MyDeals.BusinessLogic" },
    { "sectionAction", "BusinessLogic" },
    { "pageTitle", "Business logic layout" }
})

<div id="mainBody" style="margin: 10px; padding: 0 20px 0 200px;">
    <h1><img src="/Images/docs/icon-bus-logic.png" height="60" />Business logic layout</h1>
    <p>
        Since this layer will hold most of the code, we need to make sure we keep it structured in an easy to manage layout. This layout needs to match the <i>Intel.MyDeals.DataLibrary</i> folder structure.<br />
        <img src="/Images/docs/busloglayout.png" style="margin: 10px 0 10px 25px;" />
    </p>

    <div class="stepByStep">
        <i class="intelicon-task"></i>Step by Step
    </div>

    <ol>
        <li>
            Open the <i>Intel.MyDeals.BusinessLogic</i> project. Notice all the folders. These should match what is in the <i>Intel.MyDeals.DataLibrary</i> project. 
            If you need a new folder, make sure you add a matching folder in both projects.<br />
            <img src="/Images/docs/businesslogiclayout.png" style="margin: 10px 0;" />
        </li>
    </ol>

    <br /><br /><br />
</div>

