
@Html.Partial("TOC", new ViewDataDictionary
{
    { "categoryTitle", "Project setup and logic flow" },
    { "categoryAction", "Project" },
    { "sectionTitle", "Intel.MyDeals.DataAccess" },
    { "sectionAction", "DataAccess" },
    { "pageTitle", "Consume a stored procedure" }
})

<div id="mainBody" style="margin: 10px; padding: 0 20px 0 200px;">
    <h1><img src="/Images/docs/icon-data-access.png" height="60" />Consume a stored procedure</h1>
    <p>
        To include a newly created stored procedure into the MyDeals project, you simply need to have compile the <strong>SPClassGenerator.tt</strong> T4 Template. To do this follow these steps:<br/>
        <img src="/Images/docs/db2c.png" style="margin: 10px 0 10px 25px;" />

        <div class="stepByStep">
            <i class="intelicon-task"></i>Step by Step
        </div>

        <ol>
            <li>
                Open the <strong>SPClassGenerator.tt</strong> file in the <i>Intel.MyDeals.DataAccessLib</i> project.<br/>
                <img src="/Images/docs/datalibproj.png" style="margin: 10px 0;"/>
            </li>
            <li>
                <strong>Do not change this file!!!</strong> All you need to do is save the file and it will compile the T4 template and generate the C# code.
            </li>
            <li>
                Verify your stored procedure is locate in the generated code. To do this, expand the <strong>SPClassGenerator.tt</strong> file and open the <strong>SPClassGenerator1.generated.cs</strong> and search for your stored procedure.<br/>
                <img src="/Images/docs/SPClassGeneratorResults.png" style="margin: 10px 0;"/><br/>

                <div class="note"><strong>Note:</strong> Here is an example of what code is generated for a store procedure:
                </div>
                <div class="noteBody">
                    <img src="/Images/docs/SPClassGeneratorVerify.png" style="margin: 10px 0;"/>
                </div>
            </li>
        </ol>
    </p>
    <br /><br /><br />
</div>

