
@Html.Partial("TOC", new ViewDataDictionary
{
    { "categoryTitle", "Coding tools" },
    { "categoryAction", "CodingTools" },
    { "sectionTitle", "Coding tools" },
    { "sectionAction", "CodingTools" },
    { "pageTitle", "Error handling" }
})

<div id="mainBody" style="margin: 10px; padding: 0 20px 0 200px;">
    <h1><img src="/Images/docs/icon-code-tools.png" height="80" /> Error handling</h1>
    <p>
        Error handling comes in various degrees... some of which are DB error handling, MT error handling, UI error handling, Application level error handling.
        What this does NOT cover is form validation or control validation.
    </p>
    <img src="/Images/docs/errorhandling.png" style="margin: 10px 0 10px 25px;" />


    <br /><br /><br />
</div>


