
@Html.Partial("TOC", new ViewDataDictionary
{
    { "categoryTitle", "MyDeals scope decision" },
    { "categoryAction", "Flows" },
    { "sectionTitle", "" },
    { "sectionAction", "" },
    { "pageTitle", "Introduction" }
})

<div id="mainBody" style="margin: 10px; padding: 0 20px 0 200px;">

    <div style="margin: 10px;">
        <h1>My Deals scope decision</h1>

        <h3>Business Process Injection Points</h3>
        <p>
            I came up with 14 different points in the Business Flow where there are opportunities for My Deals to inject value to the process.
            The small <span style="color: #fdc362;">yellow number</span> represents how many different ways this injection can be handled.
        </p>
        <div data-role="listview"
             data-bind="source: dataSourceGroups"
             data-template="template-groups"
             style="border: 0 solid transparent; background-color: transparent; margin: 30px 0"></div>
        <div class="clearboth"></div>

        <h3 style="margin-top: 25px;">Design Permutations</h3>
        <p>
            Based on the Injection points and how many different ways to design each injection, it is possible to calculate all paths.
        </p>
        <div data-role="listview"
             data-bind="source: dataSourceGroups"
             data-template="template-groups-number"
             style="border: 0 solid transparent; background-color: transparent; margin: 30px 0"></div>
        <div class="clearboth"></div>

        <h3 style="margin-top: 25px;">Design Weighting</h3>
        <p>
            Since all the possible permutations of the Designs are far too many to pursue, I assigned weight criteria and weight values to each criteria.  Then I assigned values to each of the Business Injection Points.
        </p>

    </div>

    @*<div class="fl" style="margin: 10px; background-color: #fcfcfe; border: 1px solid #dadbdf; border-radius: 4px; padding: 5px;">
            <h4 style="border-bottom: 1px solid #eeeeee; margin-top: 5px;">Criteria</h4>
            <div data-role="listview"
                data-bind="source: dataSourceCriteria"
                data-template="template-criteria"
                style="border: 1px solid transparent; background-color: #fcfcfe;"></div>
        </div>*@


    <div data-role="grid"
         data-sortable="true"
         data-editable="false"
         data-scrollable="false"
         data-filterable="true"
         data-groupable="false"
         data-toolbar="['excel']"
         data-columns="[
                { field: 'group', title: 'Group', width: '150px', groupHeaderTemplate: '#= value #', hidden: true },
                { field: 'title', title: 'Title', width: '300px', template: kendo.template($('#template-title-desc').html()) },
                { field: 'perf', title: 'Performance Gain', width: '130px', template: '#=viewModel.calcIcons(\'perf\', data)#' },
                { field: 'integ', title: 'Data Integrity', width: '130px', template: '#=viewModel.calcIcons(\'integ\', data)#' },
                { field: 'size', title: 'Ease of Implementation', width: '130px', template: '#=viewModel.calcIcons(\'size\', data)#' },
                { field: 'roi', title: 'Business ROI', width: '130px', template: '#=viewModel.calcIcons(\'roi\', data)#' },
                { field: 'ux', title: 'User Experience', width: '130px', template: '#=viewModel.calcIcons(\'ux\', data)#' },
                { field: 'results', title: 'Results', width: '130px', template: '#:viewModel.calcWeight(data)#', hidden: true }
            ]"
         data-bind="source: dataSource"
         style="margin: 10px;"
         class="fl">
    </div>
    <div class="clearboth"></div>

    <div style="margin: 10px;">
        <h3 style="margin-top: 25px;">Top 10 Design Paths</h3>
        <p>
            Based on the weighting values, I calculated the top 10 Design Patterns.
        </p>

        <div data-role="listview"
             data-bind="source: dataSourceTopDataPaths"
             data-template="template-top-data-paths"
             style="border: 0 solid transparent; background-color: transparent; margin: 30px 0"></div>

    </div>

    <div style="margin: 10px; display: none;">
        <button data-role="button"
                data-bind="events: { click: onClick }">
            View Json
        </button>
        <textarea id="jsonTxt" class="k-textbox" style="font-size: 9px; height: 150px; width: 100%; margin: 5px;"></textarea>
    </div>

</div>


<script type="text/x-kendo-tmpl" id="template-criteria">
    <div style="padding: 2px 5px; color: \\#4b98dc;">
        <div>#=icon# #:title#</div>
    </div>
</script>

<script type="text/x-kendo-tmpl" id="template-groups">
    <div style="padding: 2px 5px; color: \\#4b98dc; width: 70px; text-align: center;" class="fl">
        <div>
            <i class="#:data.class#" aria-hidden="true" style="font-size: 30px;"></i>
            <span style="vertical-align: top; color: \\#fdc362; font-weight: bold;">#:viewModel.groupData[data.group].nodes.length#</span>
        </div>
        <div>#=data.group.substr(4)#</div>
    </div>
</script>

<script type="text/x-kendo-tmpl" id="template-groups-number">
    <div style="padding: 2px 5px; color: \\#4b98dc; width: 50px; text-align: center;" class="fl">
        <div style="font-size: 36px; font-weight: bold;">#:viewModel.groupData[data.group].nodes.length#</div>
        <div style="font-size: 9px;">#=data.group.substr(4)#</div>
    </div>
    <div style="padding: 10px 0; color: \\#4b98dc; text-align: center;" class="fl">
        <div style="font-size: 24px; font-weight: bold;">
            # if (data.group.substr(4) == "Customer Acceptance (C2A)") { #
            =
            # } else { #
            x
            # } #
        </div>
    </div>

    # if (data.group.substr(4) == "Customer Acceptance (C2A)") { #
    <div style="padding: 2px 5px; color: \\#4b98dc; text-align: center;" class="fl">
        <div style="font-size: 36px; font-weight: bold; color: \\#fdc362;">#:viewModel.dataPaths.length#</div>
        <div style="font-size: 9px;">Total Possibilities</div>
    </div>
    # } #
</script>

<script type="text/x-kendo-tmpl" id="template-title-desc">
    <div style="">
        <div style="margin: 0; padding: 0; font-size: 10px; line-height: 1em; font-weight: bold;">#=title#</div>
        <div style="margin: 0; padding: 0; font-size: 9px; color: \\#aaaaaa; line-height: 1em; font-family: arial;">#=desc#</div>
    </div>
</script>

<script type="text/x-kendo-tmpl" id="template-top-data-paths">
    #
    var groups = viewModel.dataSourceGroups.data();
    for (var i=0; i
    <groups.length; i++) {
                    #
    <div class="fl" style="border: 1px solid \\#cccccc; background-color: \\#f5f5f5; border-radius: 6px; margin: 6px 2px; padding: 2px; font-size: 9px; text-align: center;">
        <div style="font-weight: bold;">#:groups[i].group.substr(4)#</div>
        <div>#:data[i]#</div>
    </div>
        #
    }
    #
    <div class="clearboth"></div>
</script>

<script>

    var mainData = [
        {
            "group": "02) Pricing Tables",
            "title": "Independent",
            "desc": "Pricing Tables are manually pieced together from offline spreadsheets",
            "class": "fa fa-money",
            "perf": 2,
            "perfReason": "Current process, so no gain",
            "integ": 2,
            "integReason": "Process and checks already in place, but human error can occur",
            "size": 5,
            "sizeReason": "Current process",
            "roi": 2,
            "roiReason": "Maximum flexibily",
            "ux": 2,
            "uxReason": "Current process"
        }, {
            "group": "02) Pricing Tables",
            "title": "Auto generated",
            "desc": "Pricing tables are auto-generated from spreadsheets into the app",
            "class": "fa fa-money",
            "perf": 2,
            "perfReason": "There would still need to be a manual piece to map to pricing table",
            "integ": 3,
            "integReason": "Controlled checks and balances",
            "size": 0,
            "sizeReason": "Too many customer-defined processes",
            "roi": 3,
            "roiReason": "Controlled process",
            "ux": 3,
            "uxReason": "Little known about what the UX might be"
        }, {
            "group": "03) Pricing Table Association",
            "title": "Independent",
            "desc": "User manages and controls how pricing tables should be converted",
            "class": "fa fa-table",
            "perf": 2,
            "perfReason": "Current process, so no gain",
            "integ": 2,
            "integReason": "Current process, but prone to human error",
            "size": 5,
            "sizeReason": "Current process",
            "roi": 2,
            "roiReason": "Current process",
            "ux": 2,
            "uxReason": "Current process"
        }, {
            "group": "03) Pricing Table Association",
            "title": "Automated",
            "desc": "Direct tie to deals via rules",
            "class": "fa fa-table",
            "perf": 5,
            "perfReason": "",
            "integ": 5,
            "integReason": "",
            "size": 3,
            "sizeReason": "",
            "roi": 5,
            "roiReason": "",
            "ux": 5,
            "uxReason": ""
        }, {
            "group": "03) Pricing Table Association",
            "title": "Manually Mapped",
            "desc": "Direct tie: user maps to Deal Type",
            "class": "fa fa-table",
            "perf": 3,
            "perfReason": "",
            "integ": 3,
            "integReason": "",
            "size": 4,
            "sizeReason": "",
            "roi": 3,
            "roiReason": "",
            "ux": 3,
            "uxReason": ""
        }, {
            "group": "04) Overlapping Deals",
            "title": "User defined",
            "desc": "",
            "class": "fa fa-exchange",
            "perf": 2,
            "perfReason": "",
            "integ": 2,
            "integReason": "",
            "size": 5,
            "sizeReason": "",
            "roi": 2,
            "roiReason": "",
            "ux": 2,
            "uxReason": ""
        }, {
            "group": "04) Overlapping Deals",
            "title": "App Identifies",
            "desc": "Overlapping Deals identified by App",
            "class": "fa fa-exchange",
            "perf": 3,
            "perfReason": "",
            "integ": 2,
            "integReason": "",
            "size": 4,
            "sizeReason": "",
            "roi": 3,
            "roiReason": "",
            "ux": 3,
            "uxReason": ""
        }, {
            "group": "04) Overlapping Deals",
            "title": "App Maps",
            "desc": "Automatically Grouped based on Rules",
            "class": "fa fa-exchange",
            "perf": 5,
            "perfReason": "",
            "integ": 5,
            "integReason": "",
            "size": 3,
            "sizeReason": "",
            "roi": 5,
            "roiReason": "",
            "ux": 5,
            "uxReason": ""
        }, {
            "group": "05) Meet Comp Test",
            "title": "All offline",
            "desc": "Calculated and stored offline",
            "class": "fa fa-laptop",
            "perf": 2,
            "perfReason": "",
            "integ": 2,
            "integReason": "",
            "size": 4,
            "sizeReason": "",
            "roi": 3,
            "roiReason": "",
            "ux": 2,
            "uxReason": ""
        }, {
            "group": "05) Meet Comp Test",
            "title": "Calc offline and App Stored",
            "desc": "Calculated offline but stored with deal in app",
            "class": "fa fa-laptop",
            "perf": 2,
            "perfReason": "",
            "integ": 2,
            "integReason": "",
            "size": 4,
            "sizeReason": "",
            "roi": 4,
            "roiReason": "",
            "ux": 2,
            "uxReason": ""
        }, {
            "group": "05) Meet Comp Test",
            "title": "All in App",
            "desc": "Calculated and stored in app",
            "class": "fa fa-laptop",
            "perf": 4,
            "perfReason": "",
            "integ": 4,
            "integReason": "",
            "size": 3,
            "sizeReason": "",
            "roi": 5,
            "roiReason": "",
            "ux": 4,
            "uxReason": ""
        }, {
            "group": "06) Pricing Cost Test",
            "title": "All offline",
            "desc": "Calculated and stored offline",
            "class": "fa fa-usd",
            "perf": 2,
            "perfReason": "",
            "integ": 2,
            "integReason": "",
            "size": 4,
            "sizeReason": "",
            "roi": 3,
            "roiReason": "",
            "ux": 2,
            "uxReason": ""
        }, {
            "group": "06) Pricing Cost Test",
            "title": "Calc offline and App Stored",
            "desc": "Calculated offline but stored with deal in app",
            "class": "fa fa-usd",
            "perf": 2,
            "perfReason": "",
            "integ": 2,
            "integReason": "",
            "size": 4,
            "sizeReason": "",
            "roi": 4,
            "roiReason": "",
            "ux": 2,
            "uxReason": ""
        }, {
            "group": "06) Pricing Cost Test",
            "title": "All in App",
            "desc": "Calculated and stored in app",
            "class": "fa fa-usd",
            "perf": 5,
            "perfReason": "",
            "integ": 4,
            "integReason": "",
            "size": 3,
            "sizeReason": "",
            "roi": 5,
            "roiReason": "",
            "ux": 4,
            "uxReason": ""
        }, {
            "group": "07) Term and Conditions",
            "title": "Manually",
            "desc": "Manually managed",
            "class": "fa fa-legal",
            "perf": 2,
            "perfReason": "",
            "integ": 2,
            "integReason": "",
            "size": 4,
            "sizeReason": "",
            "roi": 2,
            "roiReason": "",
            "ux": 2,
            "uxReason": ""
        }, {
            "group": "07) Term and Conditions",
            "title": "Pre-Approved In App",
            "desc": "Module to manage Legal Pre-Approved T&Cs",
            "class": "fa fa-legal",
            "perf": 4,
            "perfReason": "",
            "integ": 3,
            "integReason": "",
            "size": 3,
            "sizeReason": "",
            "roi": 3,
            "roiReason": "",
            "ux": 4,
            "uxReason": ""
        }, {
            "group": "08) Contract",
            "title": "Manual",
            "desc": "Manual creation",
            "class": "fa fa-certificate",
            "perf": 2,
            "perfReason": "",
            "integ": 2,
            "integReason": "",
            "size": 4,
            "sizeReason": "",
            "roi": 2,
            "roiReason": "",
            "ux": 2,
            "uxReason": ""
        }, {
            "group": "08) Contract",
            "title": "Cut-N-Paste",
            "desc": "Cut-N-Paste",
            "class": "fa fa-certificate",
            "perf": 3,
            "perfReason": "",
            "integ": 4,
            "integReason": "",
            "size": 3,
            "sizeReason": "",
            "roi": 3,
            "roiReason": "",
            "ux": 4,
            "uxReason": ""
        }, {
            "group": "09) Deal Validation",
            "title": "None",
            "desc": "No Validation (Let business process control)",
            "class": "fa fa-check-square-o",
            "perf": 4,
            "perfReason": "",
            "integ": 1,
            "integReason": "",
            "size": 5,
            "sizeReason": "",
            "roi": 1,
            "roiReason": "",
            "ux": 5,
            "uxReason": ""
        }, {
            "group": "09) Deal Validation",
            "title": "In App",
            "desc": "In App (Defined business rules)",
            "class": "fa fa-check-square-o",
            "perf": 3,
            "perfReason": "",
            "integ": 4,
            "integReason": "",
            "size": 3,
            "sizeReason": "",
            "roi": 5,
            "roiReason": "",
            "ux": 3,
            "uxReason": ""
        }, {
            "group": "10) Deal Entry",
            "title": "Manual",
            "desc": "Manual (Hand entered from contract or Excel file)",
            "class": "fa fa-file",
            "perf": 2,
            "perfReason": "",
            "integ": 2,
            "integReason": "",
            "size": 4,
            "sizeReason": "",
            "roi": 1,
            "roiReason": "",
            "ux": 1,
            "uxReason": ""
        }, {
            "group": "10) Deal Entry",
            "title": "Auto-Created",
            "desc": "Auto-Created by App (Pricing Tables to Deals)",
            "class": "fa fa-file",
            "perf": 5,
            "perfReason": "",
            "integ": 5,
            "integReason": "",
            "size": 3,
            "sizeReason": "",
            "roi": 5,
            "roiReason": "",
            "ux": 5,
            "uxReason": ""
        }, {
            "group": "11) Contract Versions",
            "title": "Independent",
            "desc": "",
            "class": "fa fa-sort-numeric-asc",
            "perf": 2,
            "perfReason": "",
            "integ": 2,
            "integReason": "",
            "size": 5,
            "sizeReason": "",
            "roi": 2,
            "roiReason": "",
            "ux": 3,
            "uxReason": ""
        }, {
            "group": "11) Contract Versions",
            "title": "In App",
            "desc": "",
            "class": "fa fa-sort-numeric-asc",
            "perf": 3,
            "perfReason": "",
            "integ": 2,
            "integReason": "",
            "size": 4,
            "sizeReason": "",
            "roi": 2,
            "roiReason": "",
            "ux": 4,
            "uxReason": ""
        }, {
            "group": "12) Contract Approval",
            "title": "Independent",
            "desc": "Independent (not recorded)",
            "class": "fa fa-refresh",
            "perf": 2,
            "perfReason": "",
            "integ": 2,
            "integReason": "",
            "size": 5,
            "sizeReason": "",
            "roi": 2,
            "roiReason": "",
            "ux": 3,
            "uxReason": ""
        }, {
            "group": "12) Contract Approval",
            "title": "In App",
            "desc": "In App",
            "class": "fa fa-refresh",
            "perf": 4,
            "perfReason": "",
            "integ": 4,
            "integReason": "",
            "size": 4,
            "sizeReason": "",
            "roi": 3,
            "roiReason": "",
            "ux": 3,
            "uxReason": ""
        }, {
            "group": "13) Deal Approval",
            "title": "Independent",
            "desc": "Independent (not recorded)",
            "class": "fa fa-random",
            "perf": 2,
            "perfReason": "",
            "integ": 1,
            "integReason": "",
            "size": 5,
            "sizeReason": "",
            "roi": 2,
            "roiReason": "",
            "ux": 2,
            "uxReason": ""
        }, {
            "group": "13) Deal Approval",
            "title": "In App",
            "desc": "",
            "class": "fa fa-random",
            "perf": 5,
            "perfReason": "",
            "integ": 5,
            "integReason": "",
            "size": 4,
            "sizeReason": "",
            "roi": 4,
            "roiReason": "",
            "ux": 4,
            "uxReason": ""
        }, {
            "group": "14) Customer Acceptance (C2A)",
            "title": "Independent",
            "desc": "",
            "class": "fa fa-users",
            "perf": 2,
            "perfReason": "",
            "integ": 2,
            "integReason": "",
            "size": 5,
            "sizeReason": "",
            "roi": 2,
            "roiReason": "",
            "ux": 3,
            "uxReason": ""
        }, {
            "group": "14) Customer Acceptance (C2A)",
            "title": "In App",
            "desc": "",
            "class": "fa fa-users",
            "perf": 2,
            "perfReason": "",
            "integ": 2,
            "integReason": "",
            "size": 4,
            "sizeReason": "",
            "roi": 3,
            "roiReason": "",
            "ux": 4,
            "uxReason": ""
        }
    ];

    var viewModel = kendo.observable({
        dataPaths: [],
        groupClass: {},
        groupData: {},
        dataSource: new kendo.data.DataSource({
            data: [
                {
                    "group": "02) Pricing Tables",
                    "title": "Independent",
                    "desc": "Pricing Tables are manually pieced together from offline spreadsheets",
                    "class": "fa fa-money",
                    "perf": 2,
                    "perfReason": "Current process, so no gain",
                    "integ": 2,
                    "integReason": "Process and checks already in place, but human error can occur",
                    "size": 5,
                    "sizeReason": "Current process",
                    "roi": 2,
                    "roiReason": "Maximum flexibily",
                    "ux": 2,
                    "uxReason": "Current process"
                }, {
                    "group": "02) Pricing Tables",
                    "title": "Auto generated",
                    "desc": "Pricing tables are auto-generated from spreadsheets into the app",
                    "class": "fa fa-money",
                    "perf": 2,
                    "perfReason": "There would still need to be a manual piece to map to pricing table",
                    "integ": 3,
                    "integReason": "Controlled checks and balances",
                    "size": 0,
                    "sizeReason": "Too many customer-defined processes",
                    "roi": 3,
                    "roiReason": "Controlled process",
                    "ux": 3,
                    "uxReason": "Little known about what the UX might be"
                }, {
                    "group": "03) Pricing Table Association",
                    "title": "Independent",
                    "desc": "User manages and controls how pricing tables should be converted",
                    "class": "fa fa-table",
                    "perf": 2,
                    "perfReason": "Current process, so no gain",
                    "integ": 2,
                    "integReason": "Current process, but prone to human error",
                    "size": 5,
                    "sizeReason": "Current process",
                    "roi": 2,
                    "roiReason": "Current process",
                    "ux": 2,
                    "uxReason": "Current process"
                }, {
                    "group": "03) Pricing Table Association",
                    "title": "Automated",
                    "desc": "Direct tie to deals via rules",
                    "class": "fa fa-table",
                    "perf": 5,
                    "perfReason": "",
                    "integ": 5,
                    "integReason": "",
                    "size": 3,
                    "sizeReason": "",
                    "roi": 5,
                    "roiReason": "",
                    "ux": 5,
                    "uxReason": ""
                }, {
                    "group": "03) Pricing Table Association",
                    "title": "Manually Mapped",
                    "desc": "Direct tie: user maps to Deal Type",
                    "class": "fa fa-table",
                    "perf": 3,
                    "perfReason": "",
                    "integ": 3,
                    "integReason": "",
                    "size": 4,
                    "sizeReason": "",
                    "roi": 3,
                    "roiReason": "",
                    "ux": 3,
                    "uxReason": ""
                }, {
                    "group": "04) Overlapping Deals",
                    "title": "User defined",
                    "desc": "",
                    "class": "fa fa-exchange",
                    "perf": 2,
                    "perfReason": "",
                    "integ": 2,
                    "integReason": "",
                    "size": 5,
                    "sizeReason": "",
                    "roi": 2,
                    "roiReason": "",
                    "ux": 2,
                    "uxReason": ""
                }, {
                    "group": "04) Overlapping Deals",
                    "title": "App Identifies",
                    "desc": "Overlapping Deals identified by App",
                    "class": "fa fa-exchange",
                    "perf": 3,
                    "perfReason": "",
                    "integ": 2,
                    "integReason": "",
                    "size": 4,
                    "sizeReason": "",
                    "roi": 3,
                    "roiReason": "",
                    "ux": 3,
                    "uxReason": ""
                }, {
                    "group": "04) Overlapping Deals",
                    "title": "App Maps",
                    "desc": "Automatically Grouped based on Rules",
                    "class": "fa fa-exchange",
                    "perf": 5,
                    "perfReason": "",
                    "integ": 5,
                    "integReason": "",
                    "size": 3,
                    "sizeReason": "",
                    "roi": 5,
                    "roiReason": "",
                    "ux": 5,
                    "uxReason": ""
                }, {
                    "group": "05) Meet Comp Test",
                    "title": "All offline",
                    "desc": "Calculated and stored offline",
                    "class": "fa fa-laptop",
                    "perf": 2,
                    "perfReason": "",
                    "integ": 2,
                    "integReason": "",
                    "size": 4,
                    "sizeReason": "",
                    "roi": 3,
                    "roiReason": "",
                    "ux": 2,
                    "uxReason": ""
                }, {
                    "group": "05) Meet Comp Test",
                    "title": "Calc offline and App Stored",
                    "desc": "Calculated offline but stored with deal in app",
                    "class": "fa fa-laptop",
                    "perf": 2,
                    "perfReason": "",
                    "integ": 2,
                    "integReason": "",
                    "size": 4,
                    "sizeReason": "",
                    "roi": 4,
                    "roiReason": "",
                    "ux": 2,
                    "uxReason": ""
                }, {
                    "group": "05) Meet Comp Test",
                    "title": "All in App",
                    "desc": "Calculated and stored in app",
                    "class": "fa fa-laptop",
                    "perf": 4,
                    "perfReason": "",
                    "integ": 4,
                    "integReason": "",
                    "size": 3,
                    "sizeReason": "",
                    "roi": 5,
                    "roiReason": "",
                    "ux": 4,
                    "uxReason": ""
                }, {
                    "group": "06) Pricing Cost Test",
                    "title": "All offline",
                    "desc": "Calculated and stored offline",
                    "class": "fa fa-usd",
                    "perf": 2,
                    "perfReason": "",
                    "integ": 2,
                    "integReason": "",
                    "size": 4,
                    "sizeReason": "",
                    "roi": 3,
                    "roiReason": "",
                    "ux": 2,
                    "uxReason": ""
                }, {
                    "group": "06) Pricing Cost Test",
                    "title": "Calc offline and App Stored",
                    "desc": "Calculated offline but stored with deal in app",
                    "class": "fa fa-usd",
                    "perf": 2,
                    "perfReason": "",
                    "integ": 2,
                    "integReason": "",
                    "size": 4,
                    "sizeReason": "",
                    "roi": 4,
                    "roiReason": "",
                    "ux": 2,
                    "uxReason": ""
                }, {
                    "group": "06) Pricing Cost Test",
                    "title": "All in App",
                    "desc": "Calculated and stored in app",
                    "class": "fa fa-usd",
                    "perf": 5,
                    "perfReason": "",
                    "integ": 4,
                    "integReason": "",
                    "size": 3,
                    "sizeReason": "",
                    "roi": 5,
                    "roiReason": "",
                    "ux": 4,
                    "uxReason": ""
                }, {
                    "group": "07) Term and Conditions",
                    "title": "Manually",
                    "desc": "Manually managed",
                    "class": "fa fa-legal",
                    "perf": 2,
                    "perfReason": "",
                    "integ": 2,
                    "integReason": "",
                    "size": 4,
                    "sizeReason": "",
                    "roi": 2,
                    "roiReason": "",
                    "ux": 2,
                    "uxReason": ""
                }, {
                    "group": "07) Term and Conditions",
                    "title": "Pre-Approved In App",
                    "desc": "Module to manage Legal Pre-Approved T&Cs",
                    "class": "fa fa-legal",
                    "perf": 4,
                    "perfReason": "",
                    "integ": 3,
                    "integReason": "",
                    "size": 3,
                    "sizeReason": "",
                    "roi": 3,
                    "roiReason": "",
                    "ux": 4,
                    "uxReason": ""
                }, {
                    "group": "08) Contract",
                    "title": "Manual",
                    "desc": "Manual creation",
                    "class": "fa fa-certificate",
                    "perf": 2,
                    "perfReason": "",
                    "integ": 2,
                    "integReason": "",
                    "size": 4,
                    "sizeReason": "",
                    "roi": 2,
                    "roiReason": "",
                    "ux": 2,
                    "uxReason": ""
                }, {
                    "group": "08) Contract",
                    "title": "Cut-N-Paste",
                    "desc": "Cut-N-Paste",
                    "class": "fa fa-certificate",
                    "perf": 3,
                    "perfReason": "",
                    "integ": 4,
                    "integReason": "",
                    "size": 3,
                    "sizeReason": "",
                    "roi": 3,
                    "roiReason": "",
                    "ux": 4,
                    "uxReason": ""
                }, {
                    "group": "09) Deal Validation",
                    "title": "None",
                    "desc": "No Validation (Let business process control)",
                    "class": "fa fa-check-square-o",
                    "perf": 4,
                    "perfReason": "",
                    "integ": 1,
                    "integReason": "",
                    "size": 5,
                    "sizeReason": "",
                    "roi": 1,
                    "roiReason": "",
                    "ux": 5,
                    "uxReason": ""
                }, {
                    "group": "09) Deal Validation",
                    "title": "In App",
                    "desc": "In App (Defined business rules)",
                    "class": "fa fa-check-square-o",
                    "perf": 3,
                    "perfReason": "",
                    "integ": 4,
                    "integReason": "",
                    "size": 3,
                    "sizeReason": "",
                    "roi": 5,
                    "roiReason": "",
                    "ux": 3,
                    "uxReason": ""
                }, {
                    "group": "10) Deal Entry",
                    "title": "Manual",
                    "desc": "Manual (Hand entered from contract or Excel file)",
                    "class": "fa fa-file",
                    "perf": 2,
                    "perfReason": "",
                    "integ": 2,
                    "integReason": "",
                    "size": 4,
                    "sizeReason": "",
                    "roi": 1,
                    "roiReason": "",
                    "ux": 1,
                    "uxReason": ""
                }, {
                    "group": "10) Deal Entry",
                    "title": "Auto-Created",
                    "desc": "Auto-Created by App (Pricing Tables to Deals)",
                    "class": "fa fa-file",
                    "perf": 5,
                    "perfReason": "",
                    "integ": 5,
                    "integReason": "",
                    "size": 3,
                    "sizeReason": "",
                    "roi": 5,
                    "roiReason": "",
                    "ux": 5,
                    "uxReason": ""
                }, {
                    "group": "11) Contract Versions",
                    "title": "Independent",
                    "desc": "",
                    "class": "fa fa-sort-numeric-asc",
                    "perf": 2,
                    "perfReason": "",
                    "integ": 2,
                    "integReason": "",
                    "size": 5,
                    "sizeReason": "",
                    "roi": 2,
                    "roiReason": "",
                    "ux": 3,
                    "uxReason": ""
                }, {
                    "group": "11) Contract Versions",
                    "title": "In App",
                    "desc": "",
                    "class": "fa fa-sort-numeric-asc",
                    "perf": 3,
                    "perfReason": "",
                    "integ": 2,
                    "integReason": "",
                    "size": 4,
                    "sizeReason": "",
                    "roi": 2,
                    "roiReason": "",
                    "ux": 4,
                    "uxReason": ""
                }, {
                    "group": "12) Contract Approval",
                    "title": "Independent",
                    "desc": "Independent (not recorded)",
                    "class": "fa fa-refresh",
                    "perf": 2,
                    "perfReason": "",
                    "integ": 2,
                    "integReason": "",
                    "size": 5,
                    "sizeReason": "",
                    "roi": 2,
                    "roiReason": "",
                    "ux": 3,
                    "uxReason": ""
                }, {
                    "group": "12) Contract Approval",
                    "title": "In App",
                    "desc": "In App",
                    "class": "fa fa-refresh",
                    "perf": 4,
                    "perfReason": "",
                    "integ": 4,
                    "integReason": "",
                    "size": 4,
                    "sizeReason": "",
                    "roi": 3,
                    "roiReason": "",
                    "ux": 3,
                    "uxReason": ""
                }, {
                    "group": "13) Deal Approval",
                    "title": "Independent",
                    "desc": "Independent (not recorded)",
                    "class": "fa fa-random",
                    "perf": 2,
                    "perfReason": "",
                    "integ": 1,
                    "integReason": "",
                    "size": 5,
                    "sizeReason": "",
                    "roi": 2,
                    "roiReason": "",
                    "ux": 2,
                    "uxReason": ""
                }, {
                    "group": "13) Deal Approval",
                    "title": "In App",
                    "desc": "",
                    "class": "fa fa-random",
                    "perf": 5,
                    "perfReason": "",
                    "integ": 5,
                    "integReason": "",
                    "size": 4,
                    "sizeReason": "",
                    "roi": 4,
                    "roiReason": "",
                    "ux": 4,
                    "uxReason": ""
                }, {
                    "group": "14) Customer Acceptance (C2A)",
                    "title": "Independent",
                    "desc": "",
                    "class": "fa fa-users",
                    "perf": 2,
                    "perfReason": "",
                    "integ": 2,
                    "integReason": "",
                    "size": 5,
                    "sizeReason": "",
                    "roi": 2,
                    "roiReason": "",
                    "ux": 3,
                    "uxReason": ""
                }, {
                    "group": "14) Customer Acceptance (C2A)",
                    "title": "In App",
                    "desc": "",
                    "class": "fa fa-users",
                    "perf": 2,
                    "perfReason": "",
                    "integ": 2,
                    "integReason": "",
                    "size": 4,
                    "sizeReason": "",
                    "roi": 3,
                    "roiReason": "",
                    "ux": 4,
                    "uxReason": ""
                }
            ],
            schema: {
                model: {
                    fields: {
                        group: { type: "string" },
                        title: { type: "string" },
                        perf: { type: "number" },
                        integ: { type: "number" },
                        size: { type: "number" },
                        roi: { type: "number" },
                        ux: { type: "number" }
                    }
                }
            },
            pageSize: 100,
            group: { field: "group" }
        }),
        dataSourceCriteria: new kendo.data.DataSource({
            data: []
        }),
        dataSourceGroups: new kendo.data.DataSource({
            data: []
        }),
        dataSourceTopDataPaths: new kendo.data.DataSource({
            data: []
        }),
        calcWeight: function(data) {
            var item = this.dataCriteria;
            if (item === undefined) return 0; // PEPE
            return data.perf * item["perf"].weight
                + data.integ * item["integ"].weight
                + data.size * item["size"].weight
                + data.roi * item["roi"].weight
                + data.ux * item["ux"].weight;
        },
        calcPaths: function() {
            var groups = [];
            var groupsObj = [];
            var groupData = {};
            this.dataPaths = [];
            var myDataResults = this.get("dataSource").data();

            for (var p = 0; p < myDataResults.length; p++) {
                var grpNm = myDataResults[p].group;
                if (groups.indexOf(grpNm) < 0) {
                    groups.push(grpNm);
                    groupsObj.push({
                        "class": myDataResults[p].class,
                        "group": grpNm
                    });
                    groupData[grpNm] = {
                        indx: 0,
                        nodes: []
                    };
                }
                groupData[grpNm].nodes.push({
                    title: myDataResults[p].title,
                    weight: this.calcWeight(myDataResults[p])
                });
            }

            this.setPathIndx(groupData, groups, 0);

            this.dataPaths.sort(function (a, b) {
                return b.weight - a.weight;
            });

            var topDataPaths = [];
            for (var j = 0; j < 10; j++) {
                topDataPaths.push(this.dataPaths[j].path.split("=>"));
            }

            this.set("groupData", groupData);

            this.get("dataSourceGroups").data(groupsObj);
            this.get("dataSourceTopDataPaths").data(topDataPaths);

            $("#jsonTxt").val(topDataPaths.join('\n'));
        },
        calcIcons: function (title, data) {
            var icons = "";
            var cnt = parseInt(data[title]);
            for (var i = 0; i < cnt; i++) {
                icons += 'X ';
                //icons += '<span class="' + data.class + '" aria-hidden="true"></span>';
            }
            return icons;
        },
        setPathIndx: function(groupData, groups, indx) {
            if (groups[indx] === undefined) {
                this.dataPaths.push(this.getPath(groupData, groups));
                return;
            }
            for (var x = 0; x < groupData[groups[indx]].nodes.length; x++) {
                groupData[groups[indx]].indx = x;
                this.setPathIndx(groupData, groups, indx + 1);
            }
        },
        getPath: function(groupData, groups) {
            var path = [];
            var weight = 0;
            for (var x = 0; x < groups.length; x++) {
                weight += groupData[groups[x]].nodes[groupData[groups[x]].indx].weight;
                path.push(groupData[groups[x]].nodes[groupData[groups[x]].indx].title);
            }
            return {
                path: path.join(" => "),
                weight: weight
            }
        },
        onClick: function () {
            $("#jsonTxt").val(JSON.stringify(viewModel.get("dataSource").data()));
        }
    });

    kendo.bind($("#mainBody"), viewModel);

    $(document).ready(function () {

        var data = viewModel.get("dataSourceCriteria");
        var dataItems = mainData;

        viewModel.calcPaths();

        for (var key in dataItems) {
            if (dataItems.hasOwnProperty(key) && key[0] !== '_' && key !== 'parent' && key !== 'uid') {
                data.data().push(dataItems[key]);
            }
        }
        viewModel.set("dataSourceCriteria", data);


    });

</script>

<style>
    .glyphicon {
        font-size: 12px;
    }

    .k-grid td {
        font-size: 10px;
        padding: 0 4px;
    }

    .k-grid .k-alt {
        background-color: transparent;
    }
</style>