.layout-cp-inner-page {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 10px;
}

.grid-one {
    height: calc(100vh - 147px);
    min-width: 200px;
    width: 40px;
    overflow-y: auto;
    overflow-x: hidden;
}

.grid-two {
    overflow-y: auto;
    height: calc(100vh - 147px);
    position: relative;
    padding: 0 20px 0 20px !important;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px
}

*::-webkit-scrollbar-track {
    background-color: #e8eaec
}

*::-webkit-scrollbar-thumb {
    background-color: #00aeef !important;
    border-radius: 5px
}

.btnAnchorDanger {
    background-color: #dd4b39;
    border-color: #d73925;
    margin-right: 5px;
}

.btnAnchorDanger:hover, .btnAnchorDanger:focus {
    background-color: #d73925;
}

.headingCT-five {
    margin-left: 0!important;
    margin-right: 0!important;
    text-decoration: none;
    margin-top: 22px!important;
    margin-bottom: 11px!important;
    font-size: 20px!important;
    font-weight: 400!important;
}

#codeReviews a {
    color: #0071c5;
    text-decoration: none;
    font-size: 13px;
}
pre.preCustom {
    font-size: 10px;
    font-family: arial;
    background-color: transparent;
    border: 0 solid transparent;
}

.image-two-slide {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    position: relative;
}

.image-one-slide {
    margin-right: 5px;
}

.image-second-slide {
    margin-left: 5px;
}

.image-one-slide img {
    width: 490px;
}

.image-second-slide img {
    width: 775px;
}

a.anchorCodingTools {
    color: #0071c5 !important;
    cursor: pointer !important;
    overflow: hidden !important;
    text-decoration: underline !important;
}

.approved-img-section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    flex-direction: column;
}