<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12" style="padding-left: 30px; padding-top: 24px">
        <h3 class="header-bottomsizereduce">Log Archival</h3>        
        <p style="color: #FC4C02">Note: This is dependent on SSIS Maintenance Job</p>
    </div>
</div>

<div class="row" style="display: contents;">
    <div class="col-md-12 kendo-grid-buttons table-left-rightsizefix">
        <kendo-grid class="grid-heightsize customerVendorsTable kAlignHeaders" [data]="gridData" [loading]="isLoading" [pageSize]="state.take" [skip]="state.skip"
                    [sort]="state.sort" [filter]="state.filter" [sortable]="true"
                    [pageable]="{type:type,pageSizes: pageSizes,info:info}" [groupable]="false" [group]="state.group"
                    filterable="menu" [navigable]="true" (dataStateChange)="dataStateChange($event)" (add)="addHandler($event)"
                    (edit)="editHandler($event)" (cancel)="cancelHandler($event)" (save)="saveHandler($event)"
                    (remove)="removeHandler($event)" [columnMenu]="true" [resizable]="true">
            <ng-template kendoGridToolbarTemplate>
                <button kendoGridAddCommand class="k-button addButton">
                    <span class="k-icon k-i-plus-outline k-icon-md"></span>Add New Record
                </button><button (click)="clearFilter()" class="k-button clearButton">
                    <span class="k-icon intelicon-cancel-filter-solid k-icon-md k-family"></span>Clear Filters
                </button>
                <kendo-grid-spacer></kendo-grid-spacer>

                <button (click)="refreshGrid()"
                        class="k-button clearButton">
                    <span class="k-icon k-i-reload k-icon-md"></span>Refresh
                </button>
            </ng-template>
            <kendo-grid-command-column title="" [width]="100" [headerClass]="{'headerClass':true}" [columnMenu]="false">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-isNew="isNew">
                    <button id="command-icon-first" kendoGridEditCommand>
                        <span class="k-icon k-i-edit k-icon-sm delete-editorspaceremove edited-icon-color"></span>
                    </button>
                    <button kendoGridRemoveCommand id="command-icon-first" *ngIf="!opened" class="k-button">
                        <span class="k-icon k-i-delete k-icon-sm edited-icon-color"></span>
                    </button>
                    <button id="command-icon-first" kendoGridSaveCommand [disabled]="formGroup?.invalid">
                        <span class="k-icon k-i-check k-icon-sm"></span>
                    </button>
                    <button id="command-icon-first" kendoGridCancelCommand>
                        <span class="k-icon k-i-cancel-outline k-icon-sm remove-canceloutline"></span>
                    </button>
                </ng-template>
            </kendo-grid-command-column>
            <kendo-grid-column field="SRT_ORDR" title="Sort Order" [width]="100"
                               [headerClass]="{'headerClass':true}" [editable]="true">
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                    <kendo-numerictextbox [decimals]=0 [format]="'n0'"[formControl]="formGroup.get('SRT_ORDR')" (blur)="onSortBlur(formGroup.get('SRT_ORDR').value)" [min]=1 [autoCorrect]=true title="Sort order should be greater than 0 and unique"></kendo-numerictextbox>
                </ng-template>
                
            </kendo-grid-column>
            <kendo-grid-column field="DB_NAME" title="DB Name" [width]="100" [headerClass]="{'headerClass':true}"
                               [editable]="true">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                             let-filterService="filterService">
                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                       [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                    <kendo-textbox [formControl]="formGroup.get('DB_NAME')" title="This field is required"></kendo-textbox>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="SCHEMA" title="Schema" [width]="110" [headerClass]="{'headerClass':true}"
                               [editable]="true">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                             let-filterService="filterService">
                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                       [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                    <kendo-textbox [formControl]="formGroup.get('SCHEMA')" title="This field is required"></kendo-textbox>
                </ng-template>                
            </kendo-grid-column>
            <kendo-grid-column field="LOG_TBL_NM" title="Log Table Name" [width]="300" [headerClass]="{'headerClass':true}"
                               [editable]="true">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                             let-filterService="filterService">
                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                       [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                    <kendo-textbox [formControl]="formGroup.get('LOG_TBL_NM')" title="This field is required"></kendo-textbox>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="IS_PURGE" title="Hard Delete" editor="boolean" [width]="100" filter="boolean"
                               [headerClass]="{'headerClass':true}">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                    <div class="text-center">
                        <mat-slide-toggle class="toggle-button-custom" [color]="color" [checked]="dataItem.IS_PURGE" disabled></mat-slide-toggle>
                    </div>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                    <div class="text-center">
                        <mat-slide-toggle class="toggle-button-custom" [color]="color" [checked]="dataItem.IS_PURGE"
                                          [formControl]="formGroup.get('IS_PURGE')"></mat-slide-toggle>
                    </div>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="IS_ARCHV" title="Archive" editor="boolean" [width]="100" filter="boolean"
                               [headerClass]="{'headerClass':true}">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                    <div class="text-center">
                        <mat-slide-toggle class="toggle-button-custom" [color]="color" [checked]="dataItem.IS_ARCHV" disabled></mat-slide-toggle>
                    </div>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                    <div class="text-center">
                        <mat-slide-toggle class="toggle-button-custom" [color]="color" [checked]="dataItem.IS_ARCHV"
                                          [formControl]="formGroup.get('IS_ARCHV')"></mat-slide-toggle>
                    </div>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="ARCHV_DB_NAME" title="Archive DB Name" [width]="130" [headerClass]="{'headerClass':true}"
                               [editable]="true">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                             let-filterService="filterService">
                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                       [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                    <kendo-textbox [formControl]="formGroup.get('ARCHV_DB_NAME')" title="This field is required"></kendo-textbox>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="ARCHV_SCHEMA" title="Archive Schema" [width]="110" [headerClass]="{'headerClass':true}"
                               [editable]="true">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                             let-filterService="filterService">
                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                       [filterService]="filterService" [data]="distinctPrimitive(column.field)" title="This field is required"></multicheck-filter>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                    <kendo-textbox [formControl]="formGroup.get('ARCHV_SCHEMA')" title="This field is required"></kendo-textbox>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="ARCHV_TBL_NM" title="Archive Table Name" [width]="300" [headerClass]="{'headerClass':true}"
                               [editable]="true">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                             let-filterService="filterService">
                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                       [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                    <kendo-textbox [formControl]="formGroup.get('ARCHV_TBL_NM')" title="This field is required"></kendo-textbox>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="VIEW_NM" title="View Name" [width]="100" [headerClass]="{'headerClass':true}"
                               [editable]="false">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                             let-filterService="filterService">
                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                       [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                    <kendo-textbox [formControl]="formGroup.get('VIEW_NM')"></kendo-textbox>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="JSON_COND" title="JSON Condition" [width]="200" [headerClass]="{'headerClass':true}"
                               [editable]="true" (blur)="onTouched()">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                             let-filterService="filterService">
                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                       [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                    <kendo-textbox [formControl]="formGroup.get('JSON_COND')" title="JSON is required with proper template"></kendo-textbox>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="ACTV_IND" title="Active" editor="boolean" [width]="100" filter="boolean"
                               [headerClass]="{'headerClass':true}">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                    <div class="text-center">
                        <mat-slide-toggle class="toggle-button-custom" [color]="color" [checked]="dataItem.ACTV_IND" disabled></mat-slide-toggle>
                    </div>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                    <div class="text-center">
                        <mat-slide-toggle class="toggle-button-custom" [color]="color" [checked]="dataItem.ACTV_IND"
                                          [formControl]="formGroup.get('ACTV_IND')"></mat-slide-toggle>
                    </div>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="STATUS" title="Execution Status" [width]="120" [headerClass]="{'headerClass':true}"
                               [editable]="false">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                             let-filterService="filterService">
                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                       [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                    <kendo-textbox [formControl]="formGroup.get('STATUS')"></kendo-textbox>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="LST_RUN" title="Last Run on" [width]="100" [headerClass]="{'headerClass':true}"
                               [editable]="false">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                             let-filterService="filterService">
                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                       [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                    <kendo-textbox [formControl]="formGroup.get('LST_RUN')"></kendo-textbox>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="CRE_DTM" title="Created DateTime" [width]="120" [headerClass]="{'headerClass':true}"
                           [editable]="false">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                             let-filterService="filterService">
                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                       [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                    <kendo-textbox [formControl]="formGroup.get('CRE_DTM')"></kendo-textbox>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="CRE_EMP_WWID" title="Created By" [width]="100" [headerClass]="{'headerClass':true}"
                               [editable]="false">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                             let-filterService="filterService">
                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                       [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                    <kendo-textbox [formControl]="formGroup.get('CRE_EMP_WWID')"></kendo-textbox>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="CHG_DTM" title="Last Modified DateTime" [width]="120" [headerClass]="{'headerClass':true}"
                               [editable]="false">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                             let-filterService="filterService">
                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                       [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                    <kendo-textbox [formControl]="formGroup.get('CHG_DTM')"></kendo-textbox>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="CHG_EMP_WWID" title="Last Modified By" [width]="120" [headerClass]="{'headerClass':true}"
                               [editable]="false">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                             let-filterService="filterService">
                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                       [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                    <kendo-textbox [formControl]="formGroup.get('CHG_EMP_WWID')"></kendo-textbox>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>
        <kendo-dialog *ngIf="isDeleteDialogVisible" (close)="closeDeleteDialog()" [width]="600" class="cons-delete-ppup">
            <h2>Delete Confirmation</h2>
            <p class="cons-body-popup">Are you sure you would like to Delete this Record ? </p>
            <kendo-dialog-actions class="cons-button-style">
                <button class="cons-button-cancel" kendoButton (click)="closeDeleteDialog()">Cancel </button>
                <button class="cons-button-delete" kendoButton (click)="deleteRecord()">Delete </button>
            </kendo-dialog-actions>
        </kendo-dialog>        
    </div>
</div>