<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12" style="padding-left: 30px; padding-top: 24px">
        <h3>Customer</h3>
    </div>
    <div class="col-md-12">
        <div class="messageBox col-md-12" [ngClass]="{'mb-warning': true}" style="padding-left: 25px !important; padding: 5px;"><b><i
                    class="intelicon-alert-solid icon-lg"></i>Note:</b>This admin screen is a
            <strong>Read-Only</strong> screen for viewing data. </div>
    </div>
    <div class="col-md-12 kendo-grid-buttons admin-table-header">
        <kendo-grid [data]="gridData" class="KendoCustomerInfo changedragcolor kAlignHeaders" [loading]="isLoading" [pageSize]="state.take" [skip]="state.skip"
                    [sort]="state.sort" [filter]="state.filter" [sortable]="true"
                    [pageable]="{type:type,pageSizes: pageSizes,info:info,refresh:true}" [groupable]="true"
                    [group]="state.group" filterable="menu" (dataStateChange)="dataStateChange($event)">
            <ng-template kendoGridToolbarTemplate>
                <button (click)="clearFilter()" class="k-button clearButton">
                    <span class="k-icon intelicon-cancel-filter-solid k-icon-md k-family"></span>Clear Filters
                </button>
                <kendo-grid-spacer></kendo-grid-spacer>
                <button type="button" kendoGridExcelCommand>
                    <span class="k-icon k-i-file-excel k-icon-md"></span>Export to Excel
                </button>
                <button (click)="refreshGrid()" class="k-button clearButton">
                    <span class="k-icon k-i-reload k-icon-md"></span>Refresh
                </button>
            </ng-template>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="CUST_NM" title="Customer Name">
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="CUST_DIV_NM" title="Division Name">
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="CUST_TYPE" title="Type"></kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="HOSTED_GEO" title="Hosted Geo">
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="ACTV_IND" title="Is Active" filter="boolean">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                    <div class="text-center">
                        <mat-slide-toggle class="toggle-button-custom" [color]="color" [checked]="dataItem.ACTV_IND" disabled></mat-slide-toggle>
                    </div>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-excel fileName="MyDealsCustomers.xlsx"></kendo-grid-excel>
        </kendo-grid>
    </div>
</div>