.k-treeview {
    height: 250px !important;
    border: 1px solid #ccc !important;
    box-shadow: 2px 2px 4px #000 !important;
    background-color:white !important;
}
.k-textbox{
    width:100% !important;
}

.ss-loading-panel {
    margin-top: 15% !important;
    margin-left: 15% !important;
}

.upper-model-header {
    padding-bottom: 10px !important;
    border-bottom: 1px solid #e5e5e57a !important;
    margin-bottom: 20px;
}

.upper-model-header h3 {
    font-size: 28px;
    font-family: "Intel Clear","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.k-search-hiddensty .k-input-prefix {
    visibility: hidden !important;
    margin-left: -31px !important;
}