.treevi-mrkt-segt .k-treeview {
    color: #444444 !important;
    font-family: "Intel Clear" !important;
    font-size: 12px !important;
    padding: 2px 2px !important;
    line-height: 1.5 !important;
    display: block !important;
    cursor: default !important;
    overflow: auto !important;
    white-space: nowrap !important;
    height: 250px !important;
    border: 1px solid #ccc !important;
    box-shadow: 2px 2px 4px #000 !important;
    background-color: white !important
}

.multiSelectModalParent .k-textbox {
    width: 100% !important
}

#multiSelectModalLoading .ss-loading-panel {
    margin-top: 15% !important;
    margin-left: 15% !important
}

.upper-model-header {
    border-bottom: 1px solid #e5e5e57a !important;
    margin-bottom: 20px;
    padding-left: 0 !important;
    padding-top: 0 !important
}

    .upper-model-header h3 {
        font-size: 28px !important;
        font-family: "Intel Clear" !important;
        color: #111111 !important
    }

.k-search-hiddensty .k-input-prefix {
    visibility: hidden !important;
    margin-left: -31px !important
}

.mrkt-seg-multi.k-multiselect .k-multiselect-wrap {
    border-color: #f0f0f0 !important;
    color: #444d56 !important;
    box-shadow: none !important;
    background-color: #ffffff !important
}

    .mrkt-seg-multi.k-multiselect .k-multiselect-wrap li.k-button {
        float: left !important;
        color: #444 !important;
        font-size: 15px !important;
        border: none !important;
        border-radius: 1.071em !important;
        margin: 3px -3px 3px 3px !important;
        padding: 0 .6em 0 .857em !important;
        line-height: 1.86em !important;
        background: #fafafa !important;
        font-family: "Intel Clear" !important;
        text-transform: uppercase !important;
        font-weight: 500 !important
    }

        .mrkt-seg-multi.k-multiselect .k-multiselect-wrap li.k-button:hover {
            color: #444 !important;
            border-color: #ebebeb !important;
            background-color: #ebebeb !important
        }

.fr.saveclose-mrk.mat-dialog-actions {
    position: relative !important;
    margin-top: -40px !important;
    margin-right: 12px !important
}

button.btn.btn-warning.cancel-mrkt-seg {
    color: #0071c5 !important;
    background-color: #f39c12 !important;
    border-color: #e08e0b !important
}

    button.btn.btn-warning.cancel-mrkt-seg:hover {
        background-color: #e08e0b !important;
        border-color: #b1babf !important;
        color: #0071c5 !important
    }

.modal-body.all-wheat {
    padding: 0 !important
}

kendo-multiselect.border_bottom_c {
    border-bottom: 2px solid #0071c5 !important;
}

.check_box_colour ul li .k-mid .k-checkbox-wrapper .k-checkbox:checked, .k-checkbox.k-checked {
    background-color: #0071c5 !important;
    border-color: #0071c5 !important;
    color: #ffffff !important;
}

.btn_c_change:hover {
    background-color: #367fa9 !important;
}

.btn_c_change:focus {
    color: #fff !important;
    background-color: #00aeef !important;
    border-color: #00aeef !important;
}

.btn_c_change {
    color: #fff !important;
    background: #0071c5 !important;
    border-color: #0071c5 !important;
}

.border_box_fix {
    box-shadow: 4px 4px 4px 0px #000 !important;
    padding-right: 3px !important;
}