﻿:root {
    --scale: .2
}
.trash {
    background: #01AEEF;
    width: calc(66px*var(--scale, .2));
    height: calc(70px*var(--scale, .2));
    display: inline-block;
    margin: 10px auto auto auto;
    position: relative;
    -webkit-border-bottom-right-radius: calc(6px*var(--scale, .2));
    -webkit-border-bottom-left-radius: calc(6px*var(--scale, .2));
    -moz-border-radius-bottomright: calc(6px*var(--scale, .2));
    -moz-border-radius-bottomleft: calc(6px*var(--scale, .2));
    border-bottom-right-radius: calc(6px*var(--scale, .2));
    border-bottom-left-radius: calc(6px*var(--scale, .2))
}
.trash span {
    position: absolute;
    height: calc(12px*var(--scale, .2));
    background: #01AEEF;
    top: calc(-13px*var(--scale, .2));
    left: calc(-10px*var(--scale, .2));
    right: calc(-10px*var(--scale, .2));
    border-top-left-radius: calc(10px*var(--scale, .2));
    border-top-right-radius: calc(10px*var(--scale, .2));
    transform: rotate(0deg);
    transition: transform 250ms;
    transform-origin: 70% 100%
}
.trash span:after {
    content: '';
    position: absolute;
    width: calc(27px*var(--scale, .2));
    height: calc(7px*var(--scale, .2));
    background: #01AEEF;
    top: calc(-10px*var(--scale, .2));
    border-top-left-radius: calc(10px*var(--scale, .2));
    border-top-right-radius: calc(10px*var(--scale, .2));
    transform: rotate(0deg);
    transition: transform 250ms;
    left: calc(27px*var(--scale, .2));
    transform-origin: 70% 100%
}
.trash:hover span {
    transform: rotate(45deg);
    transition: transform 250ms
}