.modalMeetCompDeals .k-grid-content > table > tbody > tr > td {
    padding-left: 5px !important;
    padding-right: 0 !important
}

.btnPctMct {
    font-size: 14px;
    margin-top: 4px;
    line-height: 1.0
}

.modalMeetCompDeals .readOnlyCell {
    color: #000 !important;
    background-color: rgba(0,0,0,.05) !important;
    height: 100% !important;
    text-align: left;
    padding-top: 8px;
    padding-left: 5px;
    margin-left: -5px
}

.textRunIcon {
    width: 100% !important;
    text-align: center !important
}

.modalMeetCompDeals .k-hierarchy-cell {
    border-right: none !important
}

.anchorSaveAndValidate {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    color: #ffffff !important
}

.modalMeetCompDeals .k-grid-content > table > tbody > tr > td {
    padding-left: 5px !important
}

.modalMeetCompDetails .modal-body td {
    border-style: none !important
}

.modalMeetCompDetails .modal-body th {
    font-size: 14px !important;
    font-weight: 600 !important;
    text-transform: capitalize !important;
    color: #1a3e6f !important;
    font-family: Intel Clear,Helvetica Neue,Helvetica,Arial,sans-serif !important
}

.dealDetailCell {
    padding: 18px !important;
    font-size: 12px !important
}

.other-modal-body kendo-grid table tbody tr td .dealDetailCell {
    background: transparent !important;
    padding: 5px !important
}
