.k-confirm {
    max-width: 60%;
}

.k-icon:hover {
    color: #00AEEF !important;
}
.k-label {
    padding: 1px;
    min-width: 7px;
    width: 120px !important;
    display: inline-block;
    font-size: 12px !important;
}
.k-cell-inner > .k-link:hover {
    background: none !important;
    color: #1a3e6f !important;
}
.k-column-title {
    font-size: 12px !important;
    font-weight: bold !important;
    color: #003C71;
}
.k-grid td.k-state-focused, .k-grid th.k-state-focused,
.k-grid th:focus, .k-grid .k-master-row > td:focus,
.k-grid .k-grouping-row > td:focus, .k-grid .k-detail-row > td:focus,
.k-grid .readOnlyCell > td:focus, .k-grid .k-detail-row > td:focus {
    box-shadow: inset 0 0 0 1px #00aeef !important;
}

.k-grid td.k-state-focused, .k-grid th.k-state-focused,
.k-grid th:focus:hover, .k-grid .k-master-row > td:focus:hover,
.k-grid .k-grouping-row > td:focus:hover, .k-grid .k-detail-row > td:focus:hover,
.k-grid .readOnlyCell > td:focus:hover, .k-grid .k-detail-row > td:focus:hover {
    box-shadow: inset 0 0 0 1px #003C71 !important;
}
.k-grid-content {
    overflow-y: overlay;
}

.opUiContainer.md.k-grid td {
    white-space: nowrap !important;
}

.childGrid > .k-grid-content {
    height: auto !important
}

.meetComp-show-hide {
    transition: all linear 0.5s;
}

.meetComp-show-hide.ng-hide {
    opacity: 0;
}

.btnPctMct {
    font-size: 14px;
    margin-top: 4px;
    line-height: 1.0em;
}

.btnLastRun {
    font-size: 9px;
    color: #00AEEF;
    line-height: 1.1em;
}

.btn-skyblue-sm {
    background-color: #00AEEF !important;
    border: 1px solid #00AEEF;
    color: #ffffff;
    border-radius: 4px;
    padding: 2px !important;
}

.skyblue-text {
    color: #00AEEF;
    line-height: 1em;
    padding: 2px 6px !important;
}

.btn-skyblue-sm:hover {
    background-color: #0071C5;
    border: 1px solid #0071C5;
    color: #ffffff;
}

.btn-skyblue-sm i {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.readOnlyCell {
    color: #000 !important;
    background-color: rgba(0,0,0,.05) !important;
    text-align: left;
    padding-top: 8px;
    padding-left: 10px;
    margin-left: -5px;
    height: 100%;
    font-size: 12px;
}

#tabstrip h2 {
    font-weight: lighter;
    font-size: 5em;
    line-height: 1;
    padding: 0 0 0 30px;
    margin: 0;
}

#tabstrip h2 span {
    background: none;
    padding-left: 5px;
    font-size: .3em;
    vertical-align: top;
}

#tabstrip p {
    margin: 0;
    padding: 0;
}

.textRunIcon {
    width: 100% !important;
    text-align: center !important;
}

.k-hierarchy-cell {
    border-right: none !important;
}

.anchorSaveAndValidate {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    color: #ffffff !important;
}

.btnSaveAndValidate {
    color: #ffffff;
    font-size: 20px;
    margin-right: 5px;
}

.childGrid .k-grid-content {
    overflow: hidden !important;
}

.k-detail-row > .k-detail-cell > div:first-child {
    margin-top: 0px !important;
    margin-left: -6px !important;
    overflow: hidden !important;
}

.complete {
    font-size: 20px !important;
    color: #0071c5;
}

.completeGreen {
    font-size: 20px !important;
    color: #c4d600;
}

.inComplete,
.incomplete {
    font-size: 20px !important;
    color: #F3D54E;
}

.errorListRow {
    /*background: rgba(255, 221, 221, 0.59) !important;*/
    background: transparent !important;
}

.errorItemList {
    border-color: rgb(255, 0, 0) !important;
    border: 1px solid rgb(255, 0, 0) !important;
}

.errorIcon {
    font-size: 20px !important;
    color: rgb(255, 0, 0);
}

.notRunYetIcon {
    font-size: 20px !important;
    color: #c7c7c7;
}

.notApplicableIcon {
    font-size: 20px !important;
    color: #c7c7c7;
}

.k-grid-content > table > tbody > tr > td {
    padding-left: 5px !important;
}

.btnYes {
    background: #a49d00 !important;
    color: black;
}

.btnNo {
    background: #FC4C02 !important;
    color: black;
}

.btnDeal {
    cursor: pointer;
}

.undolnk {
    background: #FC4C02;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.ovlpCell {
    padding-left: 5px !important;
}

#overLapping .op-grid.k-grid tr td {
    padding-left: 5px !important;
}

.detailsDiv {
    margin: 0;
    padding: 0;
}

.lnk {
    background: #00AEEF;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.k-dialog.k-alert .k-dialog-titlebar,
.k-dialog.k-confirm .k-dialog-titlebar,
.k-dialog.k-prompt .k-dialog-titlebar {
    display: none;
}

.k-menu .k-item > .k-link {
    padding: 0px;
    color: #00AEEF;
}

.k-menu .k-item > .k-link:hover {
    color: #FFFFFF;
}

.dealTools input[type=radio].with-font,
.dealTools input[type=checkbox].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.dealTools input[type=radio].with-font + label:before,
.dealTools input[type=checkbox].with-font + label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f096";
    font-size: 20px;
    letter-spacing: 10px;
    color: #00AEEF;
    margin-left: 10px;
}

.dealTools input[type=radio].with-font:hover + label:before,
.dealTools input[type=checkbox].with-font:hover + label:before {
    color: #003C71;
    cursor: pointer;
}

.dealTools input[type=radio].with-font.disabled + label:before,
.dealTools input[type=checkbox].with-font.disabled + label:before {
    color: #cccccc;
    cursor: default;
}

.dealTools input[type=radio].with-font:checked + label:before,
.dealTools input[type=checkbox].with-font:checked + label:before {
    content: "\f046";
    font-size: 20px;
    letter-spacing: 5px;
    color: #C4D600;
    margin-left: 10px;
}

.dealTools input[type=radio].with-font:focus + label:before,
.dealTools input[type=checkbox].with-font:focus + label:before {
    font-weight: bold;
    color: #00AEEF;
}

.dealTools input[type=radio].with-font:checked:focus + label:before,
.dealTools input[type=checkbox].with-font:checked:focus + label:before {
    font-weight: bold;
    color: #C4D600;
}

.delete-attach-icon {
    font-size: 16px;
    cursor: pointer;
}

.delete-attach-icon:hover {
    text-decoration: none;
}

.k-grid td.k-state-focused, .k-grid th.k-state-focused,
.k-grid th:focus, .k-grid .k-master-row > td:focus,
.k-grid .k-grouping-row > td:focus, .k-grid .k-detail-row > td:focus,
.k-grid .k-group-footer > td:focus,
.k-grid .k-grid-pager.k-state-focused, .k-grid .k-grid-pager:focus {
    box-shadow: inset 0 0 0 2px rgb(0 0 0 / 8%);
}

.k-grid-header .headerClass {
    background: linear-gradient(rgb(253, 253, 253) 0%, rgb(217, 217, 217) 100%) !important;
}

.fr {
    margin-left: auto;
    height: max-content;
}

.meetCompbtnLastRun {
    margin-top: 10px !important;
}

.k-grid table {
    height: 100%;
}

td.k-touch-action-auto {
    padding: 0 !important;
    height: 100%;
}

tr:last-child > td {
    border-bottom: none !important;
}
.k-tabstrip-items .k-item {
    margin-right: 0px !important;
    font-size: 15px !important;
    font-weight: 400 !important;
}
.k-grid .k-detail-row .k-detail-cell { /*child table padding*/
    padding-top: 0;
    padding-bottom: 5px;
}

.opUiContainer.md .opElementHelpIcon, .opUiContainer.md [class^="intelicon-"], .opUiContainer.md [class*=" intelicon-"] {
    font-size: 20px !important;
}

.k-grid-header th.k-header {
    padding: 0 !important;
    vertical-align: middle !important;
}

.k-grid .k-detail-row .k-detail-cell {
    padding-top: 0;
    padding-bottom: 5px;
}

.k-cell-inner {
    margin: 0 !important;
    width: 100%;
}
