.meet-conduct .k-confirm {
    max-width: 60%;
}

.meet-conduct .k-icon:hover {
    color: #00AEEF !important;
}

.meet-conduct .k-label {
    padding: 1px;
    min-width: 7px;
    display: inline-block;
    font-size: 12px !important;
}

.meet-conduct .k-cell-inner>.k-link:hover {
    background: none !important;
    color: #1a3e6f !important;
}

.meet-conduct .k-column-title {
    font-size: 12px !important;
    font-weight: 600 !important;
    color: #1a3e6f;
}

.meet-conduct .k-grid td.k-state-focused,
.meet-conduct .k-grid th.k-state-focused,
.meet-conduct .k-grid th:focus,
.meet-conduct .k-grid .k-master-row>td:focus,
.meet-conduct .k-grid .k-grouping-row>td:focus,
.meet-conduct .k-grid .k-detail-row>td:focus,
.meet-conduct .k-grid .readOnlyCell>td:focus,
.meet-conduct .k-grid .k-detail-row>td:focus {
    box-shadow: inset 0 0 0 1px #00aeef !important;
}

.meet-conduct .k-grid td.k-state-focused,
.meet-conduct .k-grid th.k-state-focused,
.meet-conduct .k-grid th:focus:hover,
.meet-conduct .k-grid .k-master-row>td:focus:hover,
.meet-conduct .k-grid .k-grouping-row>td:focus:hover,
.meet-conduct .k-grid .k-detail-row>td:focus:hover,
.meet-conduct .k-grid .readOnlyCell>td:focus:hover,
.meet-conduct .k-grid .k-detail-row>td:focus:hover {
    box-shadow: inset 0 0 0 1px #003C71 !important;
}

.meet-conduct .k-grid-content {
    overflow-y: overlay;
}

.meet-conduct .opUiContainer.md.k-grid td {
    white-space: nowrap !important;
}

.meet-conduct .childGrid>.k-grid-content {
    height: auto !important
}

.meet-conduct .meetComp-show-hide {
    transition: all linear 0.5s;
}

.meet-conduct .meetComp-show-hide.ng-hide {
    opacity: 0;
}

.meet-conduct .btnPctMct {
    font-size: 14px;
    margin-top: 4px;
    line-height: 1.0em;
}

.meet-conduct .btnLastRun {
    font-size: 9px;
    color: #00AEEF;
    line-height: 1.1em;
}

.meet-conduct .btn-skyblue-sm {
    background-color: #00AEEF !important;
    border: 1px solid #00AEEF;
    color: #ffffff;
    border-radius: 4px;
    padding: 2px !important;
}

.meet-conduct .skyblue-text {
    color: #00AEEF;
    line-height: 1em;
    padding: 2px 6px !important;
}

.meet-conduct .btn-skyblue-sm:hover {
    background-color: #0071C5;
    border: 1px solid #0071C5;
    color: #ffffff;
}

.meet-conduct .btn-skyblue-sm i {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.meet-conduct .readOnlyCell {
    color: #000 !important;
    background-color: #00000005 !important;
    text-align: left;
    padding-top: 8px;
    padding-left: 10px;
    margin-left: -5px;
    height: 100%;
    font-size: 12px;
}

.meet-conduct #tabstrip h2 {
    font-weight: lighter;
    font-size: 5em;
    line-height: 1;
    padding: 0 0 0 30px;
    margin: 0;
}

.meet-conduct #tabstrip h2 span {
    background: none;
    padding-left: 5px;
    font-size: .3em;
    vertical-align: top;
}

.meet-conduct #tabstrip p {
    margin: 0;
    padding: 0;
}

.meet-conduct .textRunIcon {
    width: 100% !important;
    text-align: center !important;
}

.meet-conduct .k-hierarchy-cell {
    border-right: none !important;
}

.meet-conduct .anchorSaveAndValidate {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    color: #ffffff !important;
}

.meet-conduct .btnSaveAndValidate {
    color: #ffffff;
    font-size: 20px;
    margin-right: 5px;
}

.meet-conduct .childGrid .k-grid-content {
    overflow: hidden !important;
}

.meet-conduct .k-detail-row>.k-detail-cell>div:first-child {
    margin-top: 0px !important;
    margin-left: -6px !important;
    overflow: hidden !important;
}

.meet-conduct .complete {
    font-size: 20px !important;
    color: #0071c5;
}

.meet-conduct .completeGreen {
    font-size: 20px !important;
    color: #c4d600;
}

.meet-conduct .inComplete,
.meet-conduct .incomplete {
    font-size: 20px !important;
    color: #F3D54E;
}

.meet-conduct .errorListRow {
    background: transparent !important;
}

.meet-conduct .errorItemList {
    height: inherit;
    border-color: rgb(255, 0, 0) !important;
    border: 1px solid rgb(255, 0, 0) !important;
}

.meet-conduct .errorIcon {
    font-size: 20px !important;
    color: rgb(255, 0, 0);
}

.meet-conduct .notRunYetIcon {
    font-size: 20px !important;
    color: #c7c7c7;
}

.meet-conduct .notApplicableIcon {
    font-size: 20px !important;
    color: #c7c7c7;
}

.meet-conduct .k-grid-content>table>tbody>tr>td {
    padding-left: 5px !important;
}

.meet-conduct .btnYes {
    background: #a49d00 !important;
    color: black;
}

.meet-conduct .btnNo {
    background: #FC4C02 !important;
    color: black;
}

.meet-conduct .btnDeal {
    cursor: pointer;
}

.meet-conduct .undolnk {
    background: #FC4C02;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.meet-conduct .ovlpCell {
    padding-left: 5px !important;
}

.meet-conduct #overLapping .op-grid.k-grid tr td {
    padding-left: 5px !important;
}

.meet-conduct .detailsDiv {
    margin: 0;
    padding: 0;
}

.meet-conduct .lnk {
    background: #00AEEF;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.meet-conduct .k-dialog.k-alert .k-dialog-titlebar,
.meet-conduct .k-dialog.k-confirm .k-dialog-titlebar,
.meet-conduct .k-dialog.k-prompt .k-dialog-titlebar {
    display: none;
}

.meet-conduct .k-menu .k-item>.k-link {
    padding: 0px;
    color: #00AEEF;
}

.meet-conduct .k-menu .k-item>.k-link:hover {
    color: #FFFFFF;
}

.meet-conduct .dealTools input[type=radio].with-font,
.meet-conduct .dealTools input[type=checkbox].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.meet-conduct .dealTools input[type=radio].with-font+label:before,
.meet-conduct .dealTools input[type=checkbox].with-font+label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f096";
    font-size: 20px;
    letter-spacing: 10px;
    color: #00AEEF;
    margin-left: 10px;
}

.meet-conduct .dealTools input[type=radio].with-font:hover+label:before,
.meet-conduct .dealTools input[type=checkbox].with-font:hover+label:before {
    color: #003C71;
    cursor: pointer;
}

.meet-conduct .dealTools input[type=radio].with-font.disabled+label:before,
.meet-conduct .dealTools input[type=checkbox].with-font.disabled+label:before {
    color: #cccccc;
    cursor: default;
}

.meet-conduct .dealTools input[type=radio].with-font:checked+label:before,
.meet-conduct .dealTools input[type=checkbox].with-font:checked+label:before {
    content: "\f046";
    font-size: 20px;
    letter-spacing: 5px;
    color: #C4D600;
    margin-left: 10px;
}

.meet-conduct .dealTools input[type=radio].with-font:focus+label:before,
.meet-conduct .dealTools input[type=checkbox].with-font:focus+label:before {
    font-weight: bold;
    color: #00AEEF;
}

.meet-conduct .dealTools input[type=radio].with-font:checked:focus+label:before,
.meet-conduct .dealTools input[type=checkbox].with-font:checked:focus+label:before {
    font-weight: bold;
    color: #C4D600;
}

.meet-conduct .delete-attach-icon {
    font-size: 16px;
    cursor: pointer;
}

.meet-conduct .delete-attach-icon:hover {
    text-decoration: none;
}

.meet-conduct .k-grid td.k-state-focused,
.meet-conduct .k-grid th.k-state-focused,
.meet-conduct .k-grid th:focus,
.meet-conduct .k-grid .k-master-row>td:focus,
.meet-conduct .k-grid .k-grouping-row>td:focus,
.meet-conduct .k-grid .k-detail-row>td:focus,
.meet-conduct .k-grid .k-group-footer>td:focus,
.meet-conduct .k-grid .k-grid-pager.k-state-focused,
.meet-conduct .k-grid .k-grid-pager:focus {
    box-shadow: inset 0 0 0 2px rgb(0 0 0 / 8%);
}

.meet-conduct .k-grid-header .headerClass {
    background: #efefef !important;
}

.meet-conduct .fr {
    margin-left: auto;
    height: max-content;
}

.meet-conduct .meetCompbtnLastRun {
    margin-top: 10px !important;
}

.meet-conduct .k-grid table {
    height: 100%;
}

.meet-conduct td.k-touch-action-auto {
    padding: 0 !important;
    height: 100%;
}

.meet-conduct tr:last-child>td {
    border-bottom: none !important;
}

.meet-conduct .k-tabstrip-items .k-item {
    margin-right: 0px !important;
    font-size: 15px !important;
    font-weight: 400 !important;
}

.meet-conduct .k-grid .k-detail-row .k-detail-cell {
    /*child table padding*/
    padding-top: 0;
    padding-bottom: 5px;
}

.meet-conduct .opUiContainer.md .opElementHelpIcon,
.meet-conduct .opUiContainer.md [class^="intelicon-"],
.meet-conduct .opUiContainer.md [class*=" intelicon-"] {
    font-size: 20px !important;
}

.meet-conduct .k-grid-header th.k-header {
    padding: 0 !important;
    vertical-align: middle !important;
    font-family: "Intel Clear","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.meet-conduct .k-grid .k-detail-row .k-detail-cell {
    padding-top: 0;
    padding-bottom: 5px;
}

.meet-conduct .k-cell-inner {
    margin: 0 !important;
    width: 100%;
}

.meet-conduct .k-grid-pager {
    border-color: #ffffff !important;
    color: #212529;
    background-color: #ffffff !important;
}

.meet-conduct .kendoAlert {
    padding: 18px !important;
    font-size: 14.5px !important;
    color: #444444;
    background-color: #ffffff;
    font-family: Intel Clear, Helvetica Neue, Helvetica, Arial, sans-serif !important
}

.meet-conduct .dialog-action {
    padding: 0px !important;
    height: 60px !important;
    border: 0px !important;
    gap: 0px !important;
}

.meet-conduct .primary-btn {
    color: #ffffff;
    font-weight: 500;
    font-size: 15px !important;
    font-family: Intel Clear, Helvetica Neue, Helvetica, Arial, sans-serif !important;
    background-color: #00AEEF;
    padding: 19px;
    text-align: center;
    cursor: pointer;
}

.meet-conduct .primary-btn:hover {
    background-color: #0071C5;
}

.meet-conduct .secondary-btn {
    color: #444444;
    font-weight: 500;
    font-size: 15px !important;
    font-family: Intel Clear, Helvetica Neue, Helvetica, Arial, sans-serif !important;
    background-color: #fafafa;
    padding: 19px;
    text-align: center;
    cursor: pointer;
}

.meet-conduct .secondary-btn:hover {
    background-color: #ebebeb;
}

.meet-conduct .k-dialog {
    border: 0px !important;
}

.meet-conduct a:hover,
.meet-conduct a:focus {
    color: #004579 !important;
    text-decoration: none !important;
}

.meet-conduct .ssToolbarBtn:hover {
    background-color: #f2f2f2 !important;
    color: #0071c5 !important;
}

.meet-conduct .btn-skyblue-sm:hover {
    background-color: #0071C5 !important;
    border: 1px solid #0071C5 !important;
    color: #ffffff !important;
}

.either-pin kendo-grid kendo-grid-list .k-icon {
    padding-top: 8px !important;
    font-size: 18px !important;
}

.either-pin kendo-grid kendo-grid-list .k-icon.k-i-plus:before {
    content: "\e005" !important;
}

.either-pin kendo-grid kendo-grid-list .k-icon.k-i-minus:before {
    content: "\e001" !important;
}

.all-labels {
    font-weight: bold !important;
}
