#btnAnchordisable {
    float: right;
    margin-left: 94.5%;
    background: transparent;
    border: 1px solid #00aeef;
    padding: 3px;
    cursor: pointer;
    font-size: 22px;
    margin-top: -30px;
    z-index: 999999999;
    margin-right: 70px;
}

#btnEnlargeText {
    float: right;
    background: transparent;
    border: 1px solid #00aeef;
    padding: 3px;
    cursor: pointer;
    font-size: 22px;
    margin-top: -30px;
    z-index: 99999;
    margin-right: 35px;
}

#btnClose {
    float: right;
    margin-top: -25px;
    background: transparent;
    border: 1px solid #00aeef;
    padding: 3px;
    font-size: 22px;
    cursor: pointer;
}

#btnAnchordisable:hover {
    border-color: #F3D54E;
}

#btnEnlargeText:hover {
    border-color: #F3D54E;
}

.active {
    border-color: #00aeef;
}

.inactive {
    border-color: rgb(196, 214, 0);
}

.excelText {
    line-height: 1.2em;
    font-size: 12px;
    float: right;
}

    .excelText span {
        text-align: left;
    }

.modalBlueBody {
    background-color: #003C71;
    color: #ffffff;
}

.modal-lg {
    min-width: 90% !important;
    max-height: calc(100% - 40px) !important;
}

.modal-body {
    height: calc(100% - 100px) !important;
    min-height: 200px;
}

.k-grid-content {
    max-height: 490px;
    min-height: 250px;
}

.modal-content {
    background: #003c71;
    resize: horizontal;
    min-width: 750px;
}

.k-grid-content {
    min-width: 500px;
    overflow: scroll;
}

.k-grid-toolbar > .k-button {
    height: 25px;
}

.k-i-file-excel {
    margin-top: -6px;
}

.excelText {
    margin-top: -5px;
    font-size: 15px;
}
