h5.h5Style {
    font-family: inherit !important;
    font-weight: 500 !important;
    color: inherit;
    font-size: 20px !important;
    margin: 0 !important;
    line-height: 1.5 !important;
}

#btnAnchordisable {
    float: right;
    margin-left: auto;
    background: transparent;
    border: 1px solid #00aeef;
    padding: 3px;
    cursor: pointer;
    font-size: 22px;
    z-index: 999999999;
    margin-right: 5px
}

#btnEnlargeTextTimeline {
    float: right;
    background: transparent;
    border: 1px solid #00aeef;
    padding: 3px;
    cursor: pointer;
    font-size: 22px;
    z-index: 99999;
    margin-right: 5px
}

.btns-close-style {
    float: right;
    background: transparent;
    border: 1px solid #00aeef;
    padding: 3px;
    font-size: 22px;
    cursor: pointer
}

#btnAnchordisable:hover {
    border-color: #F3D54E
}

#btnEnlargeTextTimeline:hover {
    border-color: #F3D54E
}

#dealTimeLine .k-grid-content {
    max-height: 490px;
}

#dealTimeLine .k-grid-content {
    min-width: 500px;
}

#dealTimeLine .k-i-file-excel {
    margin-top: -6px
}

.metho-comp {
    height: 25px !important;
    color: #444 !important;
    line-height: 0 !important;
    padding: 9px 14px !important;
    border-color: #fafafa !important;
    background-color: #fafafa !important;
    display: inline-block !important
}

    .metho-comp:hover {
        color: #444 !important;
        border-color: #ebebeb !important;
        background-color: #ebebeb !important
    }

.intelicon-decrease-text-outlined > .common-messages .opUiContainer.sm.k-grid td {
    font-size: 10px !important;
    height: 20px !important
}

.commentClass {
    white-space: normal !important
}

#dealTimeLine .cellCustomClass {
    text-align: center !important
}

.new-spacing {
    padding: 15px !important;
    border-bottom: 1px solid #e5e5e5 !important;
    min-height: 16.5px;
    background-color: #003C71;
    color: #ffffff;
    border-radius: 0 !important
}

.common-messages {
    position: relative !important;
    padding: 15px !important;
    background-color: #003C71;
    color: #ffffff;
    height: calc(100% - 100px) !important;
    min-height: 200px;
}

button.excelBtn.metho-comp {
    height: 25px;
    border-radius: 2px;
    color: #444;
    border-color: #fafafa;
    background-color: #fafafa;
    font-size: 15px
}

    button.excelBtn.metho-comp span {
        margin-top: -3px
    }

.common-messages .opUiContainer.md.k-grid kendo-grid-list tbody tr td {
    border: none !important;
    padding: 0.5rem 0.5rem !important;
    border-bottom: .5px solid lightgrey !important
}

.common-messages .opUiContainer.md.k-grid.k-widget .k-grid-header table thead th .k-column-title {
    font-size: 12px !important;
    font-weight: 600;
    text-transform: capitalize;
    color: #1a3e6f
}

.common-messages .opUiContainer.md.k-grid.k-widget .k-grid-header table thead th {
    background-color: #f9f9f9 !important;
    padding: 0.5rem 0.5rem !important;
}

    .common-messages .opUiContainer.md.k-grid.k-widget .k-grid-header table thead th span.k-link {
        padding: 0.5rem 0.5rem !important;
    }

.k-grid-toolbar > .excelBtn.metho-comp.k-button {
    height: 25px
}
