<div class="modal-header modalBlueBody notifyModalHeader" style="z-index: 200">
    <h5 class="modal-title" id="modal-title">Notification({{role}})&nbsp;<small>{{dataItem.NOTIF_NM}}</small><img
            *ngIf="loading" class="notifyImg" src="/Images/loadingSmall.gif" alt="loader image" /><i role="button" title="Close"
            class="intelicon-close-max fr" (click)="close()"></i></h5>
</div>
<div class="modal-body content" id="notificationModalBody">
    <div class="row modal-body-data"><b>{{dataItem.NOTIF_SHR_DSC}}</b></div><br />
    <div class="row notifier-table-design modal-body-data" [innerHtml]="emailTable"></div>
</div>