<link href="/Client/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet" />

<div class="modal-header modalBlueBody">
    <h5 class="modal-title" id="modal-title">Notification({{role}})&nbsp;<small>{{dataItem.NOTIF_NM}}</small><img *ngIf="loading" src="/Images/loadingSmall.gif"/>
    <i role="button" title="Close" class="intelicon-close-max fr" (click)="close()"></i></h5>
</div>
<div class="modal-body content" id="notificationModalBody">
    <div class="row">
        <b>{{dataItem.NOTIF_SHR_DSC}}</b>
    </div>
    <br />
    <div class="row" id="tableData" [innerHtml]="emailTable"></div>
</div>


