/*.k-window-actions .k-i-close {
    color: #ffffff !important
}*/

.msgGrid.k-grid {
    font-size: 10px;
    border: 0 solid transparent
}

    .msgGrid.k-grid td {
        font-size: 11px
    }

    .msgGrid.k-grid th {
        text-transform: uppercase
    }

    .msgGrid.k-grid .k-header, .msgGrid.k-grid .k-grid-header-wrap, .msgGrid.k-grid .k-grid-header {
        border-right: 0 solid transparent;
        background-color: #ffffff !important
    }

.mybtnstyle.btn {
    border-radius: 3px !important;
    box-shadow: none !important;
    background: none;
    color: #0071C5
}

    .mybtnstyle.btn:hover {
        border: 1px solid #80808029 !important;
        background-color: #e5e9ed !important;
        color: #0071C5 !important
    }

.totalright {
    margin-left: 31px !important;
    margin-top: 14px !important
}

.viewhide-details-style.k-grid {
    border-color: rgba(33,37,41,.125) !important;
    color: #212529 !important;
    background-color: #ffffff !important;
    height: auto !important;
    overflow: auto !important
}

.messageboard-email-dialog mat-dialog-container {
    box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%),0 24px 38px 3px rgb(0 0 0 / 14%),0 9px 46px 8px rgb(0 0 0 / 12%) !important;
    background: #003c71 !important;
    padding: 0 !important;
    border-radius: 0 !important;
    overflow-y: hidden !important
}