.wrapper {
    display: flex;
    justify-content: center;
}
kendo-tabstrip {
    height: 100px;
}
kendo-tabstrip p {
    margin: 0;
    padding: 8px;
}
.content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    width: 120px;
    height: 120px;
}
h2 {
    font-size: 4em;
    font-weight: lighter;
}
h2>span {
    padding-left: 5px;
    font-size: 0.3em;
    vertical-align: top;
}
.countries {
    width: 300px;
}
.overflow {
    height: 700px;
    overflow-y: scroll;
}
kendo-grid {
    height: 250px !important;
}
.k-window-actions .k-i-close {
    color: black;
}