<script type="text/ng-template" id="actionSummaryModal">
    <div class="modal-header modalBlueBody">
        <h5 class="modal-title" id="modal-title">Submission Overview</h5>
    </div>
    <div class="modal-body modalBlueBody" id="modal-body">
        
        <div class="errMsg" ng-if="showErrMsg">
            <i class="intelicon-information-solid"></i> Please make sure you review Meet Comp on the left navigation before proceeding.
        </div>
        <div class="draftMsg">
            Below is an overview of what will be submitted.
        </div>
        <kendo-grid id="gridActionSummary" options="gridOptions" class="opUiContainer md dashboard" />

        <br/>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <button class="btn btn-default full-width" type="button" ng-click="cancel()">Close</button>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <button class="btn btn-primary full-width" type="button" ng-click="ok()">Submit</button>
                </div>
            </div>
        </div>

    </div>
</script>

<style>
    .draftMsg {
        font-size: 14px;
        padding: 8px 4px;
    }
    .errMsg {
        color: #FC4C02;
        background-color: #ffffff;
        margin: 8px;
        font-size: 13px;
        padding: 2px 8px;
    }
    .yel {
        color: #f3D54E;
    }
    .full-width {
        width: 100%;
    }
    .btn-primary {
        background-color: #00AEEF;
    }
    .modalBlueBody {
        background-color: #003C71;
        color: #ffffff;
    }
    input[type=radio].with-font,
    input[type=checkbox].with-font {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    input[type=radio].with-font + label:before,
    input[type=checkbox].with-font + label:before {
        font-family: FontAwesome;
        display: inline-block;
        content: "\f096";
        font-size: 20px;
        letter-spacing: 10px;
        color: #00AEEF;
        margin-left: 10px;
    }

    input[type=radio].with-font:hover + label:before,
    input[type=checkbox].with-font:hover + label:before {
        color: #003C71;
        cursor: pointer;
    }

    input[type=radio].with-font.disabled + label:before,
    input[type=checkbox].with-font.disabled + label:before {
        color: #cccccc;
        cursor: default;
    }

    input[type=radio].with-font:checked + label:before,
    input[type=checkbox].with-font:checked + label:before {
        content: "\f046";
        font-size: 20px;
        letter-spacing: 5px;
        color: #C4D600;
        margin-left: 10px;
    }

    input[type=radio].with-font:focus + label:before,
    input[type=checkbox].with-font:focus + label:before {
        font-weight: bold;
        color: #C4D600;
    }

    #gridActionSummary .k-grid-content {
        height: 200px;
    }
    #gridActionSummary.k-grid td{
        padding-left: 6px;
    }
</style>