<script type="text/ng-template" id="dealTimelineModal">
    <div class="modal-header modalBlueBody">
        <h5 class="modal-title" id="modal-title">Timeline for deal {{dataItem.DC_ID}} <img ng-if="loading" src="/Images/loadingSmall.gif" style="margin-left: 25px;" /></h5>
    </div>
    <div class="modal-body modalBlueBody" id="modal-body">

        <kendo-grid options="gridOptions" class="opUiContainer md" style="height: 300px; margin-bottom: 20px;"></kendo-grid>

        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" type="button" style="width: 100%;" ng-click="ok()">Close</button>
            </div>
        </div>
    </div>
</script>

<style>
    .excelText {
        line-height: 1.2em;
        font-size: 12px;
        float: right;
    }

    .excelText span {
        text-align: left;
    }
</style>