<script type="text/ng-template" id="ecapAutoFillTrackerModal">
	<div class="modal-header">
		<h3 class="modal-title" id="modal-title">Get data by ECAP tracker number </h3>
	</div>
	<div class="modal-body" id="modal-body">
		<div>
			<p>
				Type in your ECAP Tracker Number below: <br />
			</p>

			<input class="k-textbox"
				   ng-model="vm.unValidatedTrackerNumber"
				   ng-change="vm.clearValidatedTrackerinfo()"
				   ng-model-options='{ debounce: 250 }'
				   ng-disabled="vm.isLoading"
				   ng-class="{'isReadOnly': vm.isLoading}" />
			<button type="button"
					class="btn btn-primary"
					ng-click="vm.verify(vm.unValidatedTrackerNumber)"
					ng-disabled="vm.isLoading"
					ng-class="{'disabled': vm.isLoading}">
				Search
			</button>

			<div ng-show="vm.isLoading">
				<div class="spinner">
					<div class="rect1"></div>
					<div class="rect2"></div>
					<div class="rect3"></div>
					<div class="rect4"></div>
					<div class="rect5"></div>
				</div>
				<p style="text-align:center">Please wait as we fetch the deal related to this tracker number.</p>
			</div>

			<div ng-show="vm.hasValidTrackerInfo">
				<br />
				<b>Deal information found:</b>
				<!-- Grid 
					 kendo-grid-check-box-->
				<div id="suggestionProdGrid"
					 kendo-grid="grid"
					 k-grid-checkbox="vm"
					 checkbox-is-generic="true"
					 checkbox-attr="'OBJ_SID'"
					 class="prodCorrector opUiContainer md kendoGridHeight prodCorrector-grid k-grid"
					 k-options="vm.gridOptionsSuggested">
				</div>
			</div>
		</div>
		<br />

		<div class="row">
			<div class="col-md-12">
				<div class="fr">
					<button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
					<button type="button"
							class="btn btn-primary"
							ng-click="vm.submit()"
							ng-class="{'disabled': (vm.dealInfo.length === 0)}"
							uib-tooltip="Search for a tracker number to enable this button."
							tooltip-enable="!vm.hasValidTrackerInfo">
						Add to grid
					</button>
				</div>
			</div>
		</div>
	</div>
</script>
<!--<div class="modal-footer">	</div>-->
