<div class="modal-content">
	<div class="prodSelector modal-header">
		<h3 class="modal-title" id="modal-title">Exclude deal groups</h3>
	</div>
	<div class="prodSelector modal-body" id="modal-body">
		<div>
			<p>
				<b>
					Select which deals you would like to exclude:
				</b>
				<br />
			</p>

			<div ng-show="vm.isLoading">
				<div class="spinner">
					<div class="rect1"></div>
					<div class="rect2"></div>
					<div class="rect3"></div>
					<div class="rect4"></div>
					<div class="rect5"></div>
				</div>
				<p style="text-align:center">Please wait as we fetch a list of deal groups.</p>
			</div>

			<div ng-show="!vm.isLoading">
				<br />

				<!-- Grid -->
				<div id="suggestionProdGrid"
					 kendo-grid="grid"
					 kendo-grid-check-box
					 k-grid-checkbox="vm"
					 checkbox-is-generic="true"
					 checkbox-attr="OVLP_DEAL_ID"
					 class="prodCorrector opUiContainer md kendoGridHeight prodCorrector-grid k-grid"
					 k-on-change="vm.addChange(data, dataItem, columns)"
					 k-options="vm.gridOptionsSuggested">
				</div>

				<div>
					<br />
					<p><b>Provide reason for the exclusion(s)</b></p>
					<textarea kendo-editor
							  k-ng-model="vm.returnVal.DEAL_GRP_CMNT"
							  k-tools="[]"
							  style="height: 100%;"></textarea>
				</div>
			</div>
		</div>
		<br />

		<div class="row">
			<div class="col-md-12">
				<div class="fr">
					<button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
					<button type="button"
							class="btn btn-primary"
							ng-click="vm.ok()">
						Save and Close
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!--<div class="modal-footer">	</div>-->
