<link href="css/productselector.css" rel="stylesheet" />

<div class="modal-content" id="exclGrp" style="background-color:#1a3e6f;overflow-y:auto;overflow-x:hidden; border: 1px solid #1a3e6f;">
	<!--<div class="modal-header">
		<div class="row">
			<div class="col-md-11">
				<p class="prodHeader cursorArea">Exclude deal groups</p>
			</div>
		</div>
	</div>-->
	<div style="height:80%">
		<div class="modal-body">
			<div class="fr">
				<span  style="padding-right:15px; color: #ffffff">
					<i role="button" title="Close" class="intelicon-close-max" ng-click="vm.cancel()"></i>
				</span>
			</div>
			<div ng-show="vm.isLoading">
				<div class="spinner">
					<div class="rect1"></div>
					<div class="rect2"></div>
					<div class="rect3"></div>
					<div class="rect4"></div>
					<div class="rect5"></div>
				</div>
				<p style="text-align:center; color: #ffffff">Please wait as we fetch a list of deal groups.</p>
			</div>

			<div ng-show="!vm.isLoading">
				<div style="color:#ffffff; font-weight:bold; margin-bottom:5px;margin-top:20px;">
					Select which deals you would like to exclude:
				</div>
				<div class="row" style="margin: 0px;">
					<!-- Grid -->
                    <div id="ExcldGrid"
                         kendo-grid="grid"
                         kendo-grid-check-box
                         k-grid-checkbox="vm"
                         checkbox-is-generic="true"
                         checkbox-attr="'OVLP_DEAL_ID'"
                         class="opUiContainer md k-grid"
                         k-on-change="vm.addChange(data, dataItem, columns)"
                         k-options="vm.gridOptionsSuggested">
                    </div>
				</div>

				<div>
				    <div class="fl" style="color:#ffffff; font-weight:bold; margin-bottom:5px;margin-top:20px;">
				        <b style="color: #f3D54E;">*</b> Provide reason for the exclusion(s):
				    </div>
				    <div class="fr" style="color: #f3D54E; font-weight: bold; margin-bottom: 5px; margin-top: 20px;" ng-show="!vm.returnVal.DEAL_GRP_CMNT">
				        * Reason is Required
				    </div>
                    <div class="clearboth"></div>
                    <textarea ng-model="vm.returnVal.DEAL_GRP_CMNT"
                              rows="6"
                              ng-disabled="!vm.hasCheckbox"
                              style="height: 100%; width: 100%"></textarea>
				</div>
			</div>
		</div>
		<div class="col-md-12" style="padding-bottom:20px;">
			<div class="fr">
				<button class="btn btn-warning prdBtn" type="button" ng-click="vm.cancel()">Cancel</button>
				<button class="btn btn-primary prdBtn" type="button" ng-click="vm.ok()" ng-disabled="vm.hasComment" ng-disable style="margin-left: 10px;">Close</button>
			</div>
		</div>
	</div>
</div>
<!--<div class="modal-footer">	</div>-->

<style>
    #ExcldGrid.k-grid {
        height: calc(85vh - 400px) !important;
        overflow: hidden;
    }    
    .k-grid .k-alt {
        background-color: #ffffff;
    }

    #ExcldGrid.k-grid .k-grid-content {
        height: calc(85vh - 475px) !important;
    }    

    #ExcldGrid tr.tr-disabled td span.ng-binding, #ExcldGrid tr.tr-disabled td {
        color: #aaaaaa;
    }
    #ExcldGrid tr.tr-disabled {
        background-color: #f4f4f4;
    }
    #ExcldGrid tr.tr-current td span.ng-binding, #ExcldGrid tr.tr-current td {
        color: #FFFFFF;
    }
    #ExcldGrid tr.tr-current {
        background-color: #00AEEF;
    }

    .checkbox-custom + .checkbox-custom-label:before {
        content: '';
        background: #fff;
        border: 1.5px solid #eee;
        border-radius: 4px;
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 14px;
        padding: 2px;
        text-align: center;
    }

    .checkbox-custom:checked + .checkbox-custom-label:before {
        content: 'X';
        color: #ffffff;
        padding: 0 2px 4px 3px;
        font-size: 14px;
    }

    .checkbox-custom:hover + .checkbox-custom-label:before {
        border: 1.5px solid #01AEEF;
    }
    
</style>
