div.overFlowWidget {
    width: auto;
    height: 692px !important;
    overflow: auto !important;
}

.dashboard-header {
    border-bottom: 1px solid #eee !important;
    padding: 2px !important;
    font-size: 18px !important;
    font-family: "Intel Clear" !important;
    font-weight: 200 !important;
    font-style: normal !important;
    background-color: #fafafa !important;
    margin-top: 28px !important;
    /*position:fixed !important;*/
}

.widgetHeader {
    /*border-bottom: 1px solid #cdd2d2;*/
    color: #0071c5;
    background-color: transparent;
    padding: 4px 42px 0 10px;
    border: 1px solid transparent;
    border-bottom: 1px solid #eee;
    cursor: move;
    /* position: absolute; */
    width: 100%;
    height: 36px;
    /*top: 0;
    left: 0;*/
}

.widgetHeaderBtns {
    /*float: right;*/
    /* top: 4px; */
    right: -20px;
    cursor: pointer;
    text-align: right;
    align-content: end;
    /*position: absolute;*/
}

.widgetFull {
    height: 100% !important;
}

.widgetFull:hover {
    border: 1px solid #0071c5 !important;
}

.widgetFull:hover .widgetHeader {
    background-color: #0071c5 !important;
    color: white;
}

.widgetFull:hover .btn-icons {
    color: white !important;
}


/* .widgetFull:hover {
    height: 100% !important;
    border: 1px solid #0071c5 !important;
} */
.btn-icons {
    color: white;
    /*padding: 2px !important;*/
    margin-left: 12px;
    font-size: 18px !important;
    cursor: pointer !important;
}

.k-dateinput {
    font-size: 12px !important;
}

body {
    overflow: hidden;
}

.row {
    --bs-gutter-x: 0rem !important;
}
/* gridster-item:hover {
    border: 1px solid #0071c5 !important;
} */
gridster {
    background: white !important;
}

/*Search results*/
.mat-button-toggle {
    margin-right: 2px !important;
}

h5 {
    font-family: "Intel Clear" !important;
    font-weight: 200 !important;
    font-size: 18px !important;
    margin: 0 4px 2px 6px !important;
    font-style: normal !important;
    line-height: 1.1 !important;
}

.advancedSearch:hover, .advancedSearch:focus {
    color: #004579 !important;
    text-decoration: underline !important;
}

.advancedSearch {
    color: #0071c5 !important;
    text-decoration: none !important;
}

.no-items {
    padding: 35px 5px;
    text-align: center;
    font-size: 12px;
    font-family: "Intel Clear";
    font-weight: 200;
    font-style: normal;
}

.waiting {
    padding-top: 50px;
    color: #999999;
}

.k-window {
    min-height: 50px !important;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus {
    color: #0071c5 !important;
    border-color: #b1babf !important;
    background-color: #e7e7e7 !important;
}

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-contentt {
    display: block !important;
    padding: 0px !important;
}

.k-bare:hover {
    background-color: #008bd1 !important;
    border-color: #008bd1 !important;
    border-radius: 50% !important;
}
