@import '../../admin/kendo_grid.css';

div.overFlowWidget {
    width: auto;
    height: calc(100vh - 12vh) !important;
    overflow: auto !important 
}

div.overFlowWidget>div.row {
    margin-left: auto;
    overflow-x: hidden;
}

.widgetHeader {
    color: #0071c5;
    background-color: transparent;
    padding: 4px 42px 0 10px;
    border: 1px solid transparent;
    border-bottom: 1px solid #eee;
    cursor: move;
    width: auto !important;
    height: 36px
}

.widgetHeaderBtns {
    right: -20px;
    cursor: pointer;
    text-align: right;
    align-content: end
}

.widgetFull {
    height: 100% !important;
    border-radius: 3px
}

.widgetFull:hover {
    border: 1px solid #0071c5 !important
}

.widgetFull:hover .widgetHeader {
    background-color: #0071c5 !important;
    color: white
}

.widgetFull:hover .btn-icons {
    color: white !important
}

/*.widgetFull:hover a:hover {
            color: #00aeef !important
        }*/

.btn-icons {
    color: white;
    margin-left: 12px;
    font-size: 18px !important;
    cursor: pointer !important
}

.k-dateinput {
    font-size: 12px !important
}

gridster {
    background: white !important
}



gridster-item.attr-li-6,
gridster-item.attr-li-8,
gridster-item.attr-li-9,
gridster-item.attr-li-10 {
    height: 255px !important;
    min-height: 200px
}

gridster-item.attr-li-7 {
    height: 570px !important
}

gridster-item.attr-li-7 .k-grid-table-wrap {
    height: 435px
}

.sum-fixes {
    width: 100vw;
    height: 87vh
}

.sum-fixes-plus {
    width: 100vw;
    height: calc(87vh + 334px);
    overflow-y: auto
}

#parentID gridster-preview {
    background-color: #fff !important
}

.htDatepickerHolder .pika-single .pika-table th,
.htDatepickerHolder .pika-single .pika-table td {
    height: 35px;
    width: 35px;
    text-align: center
}

.htDatepickerHolder .pika-single .pika-button {
    color: #444;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    background: #fff
}

.htDatepickerHolder .pika-button:hover,
.htDatepickerHolder .pika-row.pick-whole-week:hover .pika-button {
    color: #444;
    background: #eeeeee;
    border-radius: 50%
}

.htDatepickerHolder .is-selected .pika-button,
.htDatepickerHolder .has-event .pika-button {
    width: 35px;
    height: 35px;
    text-align: center !important;
    border-radius: 50% !important;
    background: var(--light-blue) !important;
    color: #fff !important
}

.htDatepickerHolder .pika-table abbr {
    color: #444
}


.contentborder .k-window-content {
    padding: 0 !important
}

.k-upload .k-dropzone .k-dropzone-hint {
    visibility: collapse !important
}

.dashboard-kendo-window {
    z-index: 10001 !important
}

.dashboard-title-style {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    padding: 4px !important
}

.nav-tabs-intel-blocks.nav li a:focus {
    background-color: transparent !important
}

.another-parent .gridster-item-resizable-handler.handle-se {
    right: 0;
    bottom: 1px;
    z-index: -1
}

gridster-item.attr-li-7 kendo-grid.k-widget.k-grid table thead tr th .k-link:hover {
    background: transparent !important
}


@media screen and (max-height:650px) {
    .btn-ttl {
        font-size: 15px !important
    }

    div.overFlowWidget {
        height: calc(100vh - 22vh) !important
    }

    .sum-fixes {
        height: 78vh
    }

    gridster-item.attr-li-6,
    gridster-item.attr-li-8,
    gridster-item.attr-li-9,
    gridster-item.attr-li-10 {
        height: 221px !important;
        min-height: 200px
    }

    gridster-item.attr-li-7 {
        height: 470px !important
    }

    gridster-item.attr-li-7 .left-pane-widget .stgLnk {
        font-size: 14px
    }

    gridster-item.attr-li-7 .left-pane-widget .stgLnk .badge {
        font-size: 11px !important
    }

    gridster-item.attr-li-6 .first-component .fl.icon-parent i {
        font-size: 30px !important;
        width: 31px
    }

    gridster-item.attr-li-6 .text-detail {
        margin-left: 40px
    }

    gridster-item.attr-li-6 .custom-padding {
        padding: 15px 0 0 10px
    }

    gridster-item.attr-li-7 .left-pane-widget .stgLnkBox {
        margin-top: 10px
    }
}

@media screen and (max-height:600px) {
    gridster-item.attr-li-7 {
        height: 450px !important
    }
}

@media screen and (max-height:550px) {
    div.overFlowWidget {
        height: calc(100vh - 25vh) !important
    }

    .sum-fixes {
        height: 75vh
    }

    gridster-item.attr-li-6,
    gridster-item.attr-li-8,
    gridster-item.attr-li-9,
    gridster-item.attr-li-10 {
        height: 204px !important;
        min-height: 200px
    }

    gridster-item.attr-li-7 {
        height: 427px !important
    }
}

button.warn-custom {
    background-color: #f39c12;
    border-color: #e08e0b;
    color: #0071c5
}

button.warn-custom:hover {
    background-color: #e08e0b;
    color: #0071c5;
    border-color: #b1babf !important
}

.add-widget-link {
    color: #0071c5;
    text-decoration: none
}

.contract-correction-upload.k-upload .k-upload-files .k-upload-action {
    border: none !important;
    background-color: transparent !important;
    padding: 0px !important;
}

.contract_manager_dialog .k-window.k-dialog {
    border-radius: 0px !important;
    border-top: 0px !important;
    border-right: 0px !important;
    border-left: 0px !important;
}

.add-widget-link:hover {
    color: #004579;
    text-decoration: underline !important
}

gridster-item.attr-li-7 .k-grid-table-wrap contract-status-board-angular .k-grid-table-wrap {
    height: auto !important;
}

.changedragcolor.k-grid .k-indicator-container {
    margin: -0.375rem 0 !important;
    padding: 0.375rem 0 !important;
    color: #00aeef !important;
}