<loading-panel-angular style="margin:auto !important" [show]="isLoading" [header]="'Loading Default Layout'" [description]="'Please wait...'" [msgType]="'Info'" [isShowFunFact]="false"></loading-panel-angular>
<div>
    <div class="row dashboard-header">
        <div class="left-inner-container" style="width: 98%;">
            <div class="fr helpBtn" style="margin-left: 15px">
                <i (click)="showHelpTopic();" class="intelicon-help" style="font-size: 30px !important;" title="Help"></i>
            </div>
            <div kendoTooltip position="bottom">
                <a class="fr btn btn-default btn-sm" style="padding: 4px 6px;" (click)="defaultLayout()" title="Default Layout">
                    <i class="intelicon-dashboard-solid" style="font-size: 18px"></i>
                </a>
                <a class="fr btn btn-default btn-sm" style="padding: 4px 6px;" (click)="openPopUp()" title="Add Widget">
                    <i class="intelicon-plus-max" style="font-size: 18px"></i>
                </a>
                <a class="fr btn btn-default btn-sm" style="padding: 4px 6px;" (click)="refreshAllWidgets()" title="Refresh Dashboard">
                    <i class="intelicon-refresh" style="font-size:18px"></i>
                </a>
            </div>
            <div class="fr">
                <div class="fr">
                    <kendo-datepicker class="date-dashboard"
                                      #picker
                                      #startDatePicker="ngModel"
                                      [(value)]="startDateValue"
                                      calendarType="classic"
                                      [min]="MIN_VALID_DATE"
                                      [max]="MAX_VALID_DATE"
                                      [(ngModel)]="startDateValue"
                                      (valueChange)="onDateChange($event,'startDateChange')"
                                      style="width: min-content; min-width:125px !important; font-weight:500;"
                                      ngbTooltip=""
                                      #startDateTooltipTarget="ngbTooltip"
                                      tooltipClass="date-picker-tooltip"
                                      placement="bottom"
                                      triggers="manual"
                                      [autoClose]="false"></kendo-datepicker>
                    -
                    <kendo-datepicker class="date-dashboard"
                                      #picker
                                      #endDatePicker="ngModel"
                                      [(value)]="endDateValue"
                                      calendarType="classic"
                                      [min]="MIN_VALID_DATE"
                                      [max]="MAX_VALID_DATE"
                                      [(ngModel)]="endDateValue"
                                      (valueChange)="onDateChange($event,'endDateChange')"
                                      style="width: min-content; min-width:125px !important; font-weight: 500;"
                                      ngbTooltip=""
                                      #endDateTooltipTarget="ngbTooltip"
                                      tooltipClass="date-picker-tooltip"
                                      placement="bottom"
                                      triggers="manual"
                                      [autoClose]="false"></kendo-datepicker>
                </div>
                <div class="fr" style="margin: 5px 5px 0 15px; color: #aaaaaa; font-size: 14px;">Date Range:</div>

                <div class="fr" style="width:254px">
                    <kendo-multiselect kendoMultiSelectSummaryTag [placeholder]="'Select Customers...'" class="fr opUiContainer md divineo-one dashcusstyle" style="width: 250px; margin-right: 7px; font-weight: 500;" #cmbmulti [data]="custData" textField="CUST_NM" valueField="CUST_SID" [autoClose]="false" [(ngModel)]="selectedCustNames" (valueChange)="onCustomerChange($event)" [kendoDropDownFilter]="filterSettings">
                        <ng-template kendoMultiSelectGroupTagTemplate let-dataItems>
                            <span class="k-icon k-i-caret-alt-down"></span> {{ dataItems.length }} ITEMS(S) SELECTED
                        </ng-template>
                    </kendo-multiselect>
                </div>
                <div class="fr" style="margin: 5px 5px 0 15px; color: #aaaaaa; font-size: 14px; ">
                    Customers: <i class="intelicon-find-a-person-solid" style="font-size:24px;"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="overFlowWidget" [hidden]="dashboard.length == 0">
        <div class="row">
            <div id="height-grids" class="sum-fixes">
                <gridster [options]="options" class="another-parent" id="parentID">
                    <gridster-item [item]="item" *ngFor="let item of dashboard; let indx = index" class="few-grid-find">
                        <div class="widgetFull">
                            <div class="row widgetHeader">
                                <div class="col-md-10">
                                    <span>{{ item.name }}</span>
                                </div>
                                <div class="col-md-2 widgetHeaderBtns">
                                    <a [hidden]="!item.canRefresh" class="btn-icons" (click)="refreshWidget(item)" title="Refresh Widget"><i class="intelicon-refresh"></i></a>
                                    <a [hidden]="!item.canSetting" class="btn-icons" (click)="openWidgetSettings(indx)" title="Widget Settings"><i class="intelicon-settings-solid"></i></a>
                                    <a class="btn-icons" (click)="removeItem($event, item)" (touchstart)="removeItem($event, item)" title="Remove widget"> <i class="intelicon-trash-outlined"></i></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <app-dashboard-widget [widget]="item" [resizeEvent]="resizeEvent" [custIds]="selectedCustNames" [startDt]="startDateValue" [endDt]="endDateValue"></app-dashboard-widget>
                                </div>
                            </div>
                        </div>
                    </gridster-item>
                </gridster>
            </div>
        </div>
    </div>

    <div [hidden]="dashboard.length > 0">
        <p style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size:16px; margin-bottom:30px">No widgets are being shown.</p>
        <p style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size:16px; margin-top:30px"><a style="cursor:pointer" class="add-widget-link" (click)="openPopUp()">Click to add a widget</a></p>
    </div>
</div>

<kendo-window *ngIf="windowOpened" (close)="windowClose()" [minWidth]="windowMinWidth" [minHeight]="windowHeight" [width]="windowWidth" [top]="windowTop" [left]="windowLeft" class="dashboard-kendo-window process-search">
    <kendo-window-titlebar class="kendoTitleBar" (dblclick)="navAddClass()">
        <div class="k-window-title windowTitle">Search Results </div>
        <button kendoWindowCloseAction class="closeBtn" (click)="navRemoveClass()"></button>
    </kendo-window-titlebar>
    <global-search-results-angular [searchText]="searchText" [opType]="opType" (getWindowWidth)="getWindowWidth($event)" (isWindowOpen)="isWindowOpen($event)"></global-search-results-angular>
</kendo-window>
<kendo-dialog class="global-popup-style" *ngIf="searchDialogVisible" (close)="closeDialog()" [minWidth]="250" [width]="450">
    <p class="dashboard-title-style">Please enter one of the following:<br /><br />1) Contract / Pricing Strategy / Pricing Table Name or Number <br />2) Deal Number. </p>
    <kendo-dialog-actions class="dash-style"><button class="dash-popup-okbtn" kendoButton (click)="closeDialog()">OK</button></kendo-dialog-actions>
</kendo-dialog>