@import '../../admin/kendo_grid.css';

div.overFlowWidget {
    width: auto;
    height: calc(100vh - 130px) !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

div.overFlowWidget>div.row {
    margin-left: auto;
    overflow-x: hidden;
}

.widgetHeader {
    color: #0071c5;
    background-color: transparent;
    padding: 4px 42px 0 10px;
    border: 1px solid transparent;
    border-bottom: 1px solid #eee;
    cursor: move;
    width: auto !important;
    height: 36px
}

.widgetHeaderBtns {
    right: -20px;
    cursor: pointer;
    text-align: right;
    align-content: end
}

.widgetFull {
    height: -webkit-fill-available;
    border-radius: 3px
}

.widgetFull:hover {
    border: 1px solid #0071c5 !important
}

.widgetFull:hover .widgetHeader {
    background-color: #0071c5 !important;
    color: white
}

.widgetFull:hover .btn-icons {
    color: white !important
}

.btn-icons {
    color: white;
    margin-left: 12px;
    font-size: 18px !important;
    cursor: pointer !important
}

.date-dashboard .k-dateinput {
    font-size: 12px !important
}

gridster {
    background: white !important
}

.sum-fixes {
    width: 100vw;
    height: 87vh
}

.sum-fixes-plus {
    width: 100vw;
    height: calc(87vh + 334px);
    overflow-y: auto
}

#parentID gridster-preview {
    background-color: #fff !important
}

.htDatepickerHolder .pika-single .pika-table th,
.htDatepickerHolder .pika-single .pika-table td {
    height: 35px;
    width: 35px;
    text-align: center
}

.htDatepickerHolder .pika-single .pika-button {
    color: #444;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    background: #fff
}

.htDatepickerHolder .pika-button:hover,
.htDatepickerHolder .pika-row.pick-whole-week:hover .pika-button {
    color: #444;
    background: #eeeeee;
    border-radius: 50%
}

.htDatepickerHolder .is-selected .pika-button,
.htDatepickerHolder .has-event .pika-button {
    width: 35px;
    height: 35px;
    text-align: center !important;
    border-radius: 50% !important;
    background: var(--light-blue) !important;
    color: #fff !important
}

.htDatepickerHolder .pika-table abbr {
    color: #444
}


.contentborder .k-window-content {
    padding: 0 !important
}

.dashboard-kendo-window {
    z-index: 10001 !important
}

.dashboard-title-style {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    padding: 4px !important
}

.nav-tabs-intel-blocks.nav li a:focus {
    background-color: transparent !important
}

.another-parent .gridster-item-resizable-handler.handle-se {
    right: 0;
    bottom: 1px;
    z-index: -1
}

@media screen and (max-height:650px) {
    .btn-ttl {
        font-size: 15px !important
    }

    div.overFlowWidget {
        height: calc(100vh - 22vh) !important
    }

    .sum-fixes {
        height: 78vh
    }
}

@media screen and (max-height:550px) {
    div.overFlowWidget {
        height: calc(100vh - 25vh) !important
    }

    .sum-fixes {
        height: 75vh
    }
}

.add-widget-link {
    color: #0071c5;
    text-decoration: none
}

.add-widget-link:hover {
    color: #004579;
    text-decoration: underline !important
}

.changedragcolor.k-grid .k-indicator-container {
    margin: -0.375rem 0 !important;
    padding: 0.375rem 0 !important;
    color: #00aeef !important;
}

app-dashboard-widget kendo-grid div.k-grid-aria-root {
    height: calc(85vh - 150px);
}

.date-picker-tooltip .tooltip-inner {
    opacity: 90%;
    font-size: 18px;
    color: #f3d54e;
}