<link href="/Client/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="/Client/node_modules/@progress/kendo-theme-bootstrap/dist/all.css" rel="stylesheet" />
<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />
<div class="overFlowWidget">
    <div class="container-fluid ">
        <div class="row" style="height: 20px;">
            <div class="col-md-12">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 left-inner-container" style="width: 100%">
                <div style="padding: 10px; margin-left: 700px" class="fl">
                    <table>
                        <tr>
                            <td>
                                <label>Customers: <i class="intelicon-find-a-person-solid" style="font-size: 20px;"></i></label>
                            </td>
                            <td>
                                <kendo-multiselect style="width: 250px; margin-right: 7px;" #cmbmulti [data]="custNameList" textField="text" valueField="value" [(ngModel)]="selectedCustNames" style="width: 200px;height: 33px;">
                                </kendo-multiselect>
                            </td>
                            &nbsp;
                            <td>
                                <label>Date Range:</label>
                            </td>
                            <td>
                                <kendo-datepicker #picker [(value)]="startDateValue" calendarType="classic" [(ngModel)]="startDateValue">
                                </kendo-datepicker>
                            </td>
                            &nbsp;
                            <td>-</td> &nbsp;
                            <td>
                                <kendo-datepicker #picker [(value)]="endDateValue" calendarType="classic" [(ngModel)]="endDateValue">
                                </kendo-datepicker>
                            </td>
                            &nbsp;
                            <td>
                                <button (click)="openPopUp()" class="fr btn btn-default btn-sm intelicon-plus-max" title="Add Widget"></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div style="width: 100vw; height: 100vh;">
                    <gridster [options]="options">
                        <gridster-item [item]="item" *ngFor="let item of dashboard; let indx = index">
                            <div class="row">
                                <div class="col-md-6">
                                    <b>{{item.name}}</b>
                                </div>
                                <div class="col-md-6">
                                    <button (click)="removeItem($event, item)" (touchstart)="removeItem($event, item)" class="">Remove</button>
                                    <button [hidden]="!item.canRefresh" class="" (click)="refreshWidget(item)">Refresh</button>
                                    <button [hidden]="!item.canSetting" (click)="openWidgetSettings(indx)" class=""><i class="intelicon-settings-solid"></i></button>
                                </div>
                            </div>
                            <div class="row" style="height:100%; width:100%">
                                <div class="col-md-12" style="height:100%; width:100%">
                                    <app-dashboard-widget [widget]="item" [resizeEvent]="resizeEvent" [custIds]="selectedCustNames" [startDt]="startDateValue" [endDt]="endDateValue"></app-dashboard-widget>
                                </div>
                            </div>
                        </gridster-item>
                    </gridster>
                </div>
            </div>
        </div>
    </div>
</div>
<kendo-window *ngIf="windowOpened" (close)="windowClose()" [minWidth]="windowMinWidth" [minHeight]="windowHeight" [width]="windowWidth" [top]="windowTop" [left]="windowLeft">
    <kendo-window-titlebar>
        <div class="k-window-title">Search Results </div><button kendoWindowCloseAction></button>
    </kendo-window-titlebar>
    <global-search-results-angular [searchText]="searchText" [opType]="opType" (getWindowWidth)="getWindowWidth($event)" (isWindowOpen)="isWindowOpen($event)"></global-search-results-angular>
</kendo-window>
<kendo-dialog *ngIf="searchDialogVisible" (close)="closeDialog()" [minWidth]="250" [width]="450">
    <p style="margin: 30px; text-align: center;">Please enter one of the following:<br /><br />1) Contract / Pricing Strategy / Pricing Table Name or Number <br />2) Deal Number. </p>
    <kendo-dialog-actions><button kendoButton (click)="closeDialog()">OK</button></kendo-dialog-actions>
</kendo-dialog>