<link href="/Client/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="/Client/node_modules/@progress/kendo-theme-bootstrap/dist/all.css" rel="stylesheet" />
<link href="/Client/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet" />
<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />

<div class="container-fluid ">

    <div class="row dashboard-header">
        <div class="col-md-8 left-inner-container" style="width: 100%;">
            <div class="fr helpBtn" style="margin-left: 15px">
                <i (click)="showHelpTopic();" class="intelicon-help" style="font-size: 30px !important;" title="Help"></i>
            </div>
            <a class="fr btn btn-default btn-sm" style="padding: 4px 6px;">
                <i (click)="defaultLayout()" class="intelicon-dashboard-solid" style="font-size: 18px" title="Default Layout"></i>
            </a>
            <a class="fr btn btn-default btn-sm" style="padding: 4px 6px;">
                <i (click)="openPopUp()" class="intelicon-plus-max" style="font-size: 18px" title="Add Widget"></i>
            </a>
            <a class="fr btn btn-default btn-sm" style="padding: 4px 6px;">
                <i (click)="refreshAllWidgets()" class="intelicon-refresh" style="font-size:18px" title="Refresh Dashboard"></i>
            </a>

            <div class="fr">
                <div class="fr">
                    <kendo-datepicker #picker [(value)]="startDateValue" calendarType="classic" [(ngModel)]="startDateValue" (valueChange)="onDateChange($event,'startDateChange')" style="width:110px;">
                    </kendo-datepicker>
                    -
                    <kendo-datepicker #picker [(value)]="endDateValue" calendarType="classic" [(ngModel)]="endDateValue" (valueChange)="onDateChange($event,'endDateChange')" style="width:110px;">
                    </kendo-datepicker>
                </div>
                <div class="fr" style="margin: 5px 5px 0 15px; color: #aaaaaa; font-size: 14px;">Date Range:</div>

                <div class="fr" style="width:254px">
                    <kendo-multiselect kendoMultiSelectSummaryTag [placeholder]="'Select Customers...'" class="fr opUiContainer md divineo-one dashcusstyle" style="width: 250px; margin-right: 7px;" #cmbmulti [data]="custData" textField="CUST_NM" valueField="CUST_SID" [autoClose]="false" [(ngModel)]="selectedCustNames"
                        (valueChange)="onCustomerChange($event)">
                        <ng-template kendoMultiSelectGroupTagTemplate let-dataItems>
                            <span class="k-icon k-i-caret-alt-down"></span> {{ dataItems.length }} ITEMS(S) SELECTED
                        </ng-template>
                    </kendo-multiselect>
                </div>

                <div class="fr" style="margin: 5px 5px 0 15px; color: #aaaaaa; font-size: 14px; ">
                    Customers: <i class="intelicon-find-a-person-solid" style="font-size:24px;"></i>
                </div>
            </div>
        </div>
    </div>


    <div class=" overFlowWidget">
        <div class="row" style="overflow-x: hidden;">
            <div id="height-grids" class="sum-fixes">
                <gridster [options]="options" class="another-parent" id="parentID">
                    <gridster-item [item]="item" *ngFor="let item of dashboard; let indx = index" class="attr-li-{{item.id}} few-grid-find">
                        <div class="widgetFull">
                            <div class="row widgetHeader">
                                <div class="col-md-10">
                                    <span>{{item.name}}</span>
                                </div>
                                <div class="col-md-2 widgetHeaderBtns">
                                    <a [hidden]="!item.canRefresh" class="btn-icons" (click)="refreshWidget(item)"><i class="intelicon-refresh"></i></a>
                                    <a [hidden]="!item.canSetting" (click)="openWidgetSettings(indx)" class="btn-icons"><i class="intelicon-settings-solid"></i></a>
                                    <a (click)="removeItem($event, item)" (touchstart)="removeItem($event, item)" class="btn-icons">
                                        <i class="intelicon-trash-outlined"></i>
                                    </a>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <app-dashboard-widget [widget]="item" [resizeEvent]="resizeEvent" [custIds]="selectedCustNames" [startDt]="startDateValue" [endDt]="endDateValue"></app-dashboard-widget>
                                </div>
                            </div>
                        </div>
                    </gridster-item>
                </gridster>
            </div>
        </div>
    </div>
</div>

<kendo-window *ngIf="windowOpened" (close)="windowClose()" [minWidth]="windowMinWidth" [minHeight]="windowHeight" [width]="windowWidth" [top]="windowTop" [left]="windowLeft" class="dashboard-kendo-window process-search">
    <kendo-window-titlebar>
        <div class="k-window-title">Search Results </div><button kendoWindowCloseAction></button>
    </kendo-window-titlebar>
    <global-search-results-angular [searchText]="searchText" [opType]="opType" (getWindowWidth)="getWindowWidth($event)" (isWindowOpen)="isWindowOpen($event)"></global-search-results-angular>
</kendo-window>
<kendo-dialog class="global-popup-style" *ngIf="searchDialogVisible" (close)="closeDialog()" [minWidth]="250" [width]="450">
    <p class="dashboard-title-style">Please enter one of the following:<br /><br />1) Contract / Pricing Strategy / Pricing Table Name or Number <br />2) Deal Number. </p>
    <kendo-dialog-actions class="dash-style"><button class="dash-popup-okbtn" kendoButton (click)="closeDialog()">OK</button></kendo-dialog-actions>
</kendo-dialog>