<link href="/Client/src/app/admin/products/admin.products.component.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12"  style="padding-left: 30px; padding-top: 24px">
        <h3>Products</h3>
    </div>
    <div class="col-md-12">
        <div class="messageBox col-md-12" [ngClass]="{'mb-warning': true}">
            <b><i class="intelicon-alert-solid icon-lg"></i>Note:</b>This admin screen is a <strong>Read-Only</strong> screen for viewing data.
        </div>
    </div>
    <div class="col-md-12 kendo-grid-buttons box_size">
        <div class="excel-sections">
            <button class="btn btn-sm dropdown-toggle tool-hover" style="padding-right: .5rem;" type="button" data-toggle="dropdown">
                <div class="excel-btn-update">
                    <i class="intelicon-ms-excel-outlined" style="font-size: 30px;color: #fff"></i>
                    <span>Excel Export</span>
                    <span class="caret" style="color: #fff; width: 10px;"></span>
                </div>
            </button>
            <ul class="dropdown-menu" id="excelDropDownMenu">
                <li (click)="exportToExcel()" style="cursor: pointer;"><a>Export All Columns, All Data</a></li>
                <li (click)="exportToExcelCustomColumns()" style="cursor: pointer;"><a>Export Current View</a></li>
            </ul>
        </div>
        <kendo-grid class="KendoProductsInfo changedragcolor kAlignHeaders"  [data]="gridData" [loading]="isLoading"
                    [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter" [sortable]="true"
                    [pageable]="{ type:type, pageSizes: pageSizes, info:info, refresh:true }" [groupable]="true"
                    [group]="state.group" filterable="menu" (sortChange)="sortChange($event)" (pageChange)="pageChange($event)" (filterChange)="filterChange($event)"
                    (excelExport)="onExcelExport($event)" id="adminproduct">
            <ng-template kendoGridToolbarTemplate>
                <button (click)="clearFilter()" class="k-button clearButton">
                    <span class="k-icon intelicon-cancel-filter-solid k-icon-md k-family"></span>Clear Filters
                </button>
                <kendo-grid-spacer></kendo-grid-spacer>
                <button (click)="refreshGrid()" class="k-button clearButton">
                    <span class="k-icon k-i-reload k-icon-md"></span>Refresh
                </button>
            </ng-template>
            <kendo-grid-column [headerClass]="{'headerClass':true}" [filterable]="true" field="PRD_MBR_SID" title="Id">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                    <kendo-grid-numeric-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false" [format]="'#########'"></kendo-grid-numeric-filter-menu>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" [filterable]="true" field="DEAL_PRD_TYPE" title="Type">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                    <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
                        <kendo-filter-contains-operator></kendo-filter-contains-operator>
                    </kendo-grid-string-filter-menu>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" [filterable]="true" field="PRD_CAT_NM" title="Category">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                    <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
                        <kendo-filter-contains-operator></kendo-filter-contains-operator>
                    </kendo-grid-string-filter-menu>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" [filterable]="true" field="BRND_NM" title="Brand">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                    <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
                        <kendo-filter-contains-operator></kendo-filter-contains-operator>
                    </kendo-grid-string-filter-menu>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" [filterable]="true" field="FMLY_NM" title="Family">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                    <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
                        <kendo-filter-contains-operator></kendo-filter-contains-operator>
                    </kendo-grid-string-filter-menu>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" [filterable]="true" field="PCSR_NBR" title="Processor Number">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                    <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
                        <kendo-filter-contains-operator></kendo-filter-contains-operator>
                    </kendo-grid-string-filter-menu>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" [filterable]="true" field="DEAL_PRD_NM" title="Name">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                    <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
                        <kendo-filter-contains-operator></kendo-filter-contains-operator>
                    </kendo-grid-string-filter-menu>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" [filterable]="true" field="MTRL_ID" title="Material ID">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                    <kendo-grid-numeric-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false" [format]="'#########'"></kendo-grid-numeric-filter-menu>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column  format="{0: MM/dd/yyyy}" [headerClass]="{'headerClass':true}" [filterable]="true" field="PRD_STRT_DTM" title="Start Date">
                <ng-template kendoGridFilterMenuTemplate let-filter="filter" let-column="column" let-filterService="filterService">
                    <date-range-filter [field]="column.field" [filter]="filter" [filterService]="filterService"></date-range-filter>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column  format="{0: MM/dd/yyyy}" [headerClass]="{'headerClass':true}" [filterable]="true" field="PRD_END_DTM" title="End Date">
                <ng-template kendoGridFilterMenuTemplate let-filter="filter" let-column="column" let-filterService="filterService">
                    <date-range-filter [field]="column.field" [filter]="filter" [filterService]="filterService"></date-range-filter>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="ACTV_IND" title="Is Active" filter="boolean">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                    <div class="text-center">
                        <mat-slide-toggle class="toggle-button-custom" [color]="color" [checked]="dataItem.ACTV_IND" disabled></mat-slide-toggle>
                    </div>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-excel fileName="MyDealsProducts.xlsx" [fetchData]="allData">
                <kendo-excelexport-column *ngFor="let item of excelColumns | keyvalue : returnZero" field="{{item.key}}"
                                          title="{{item.value}}" [width]="150" [cellOptions]="cellOptions"
                                          [headerCellOptions]="headerCellOptions"></kendo-excelexport-column>
            </kendo-grid-excel>
        </kendo-grid>
    </div>
</div>