@import '../kendo_grid.css';

.box_size {
    padding-left: 14px !important;
    padding-right: 5px !important;
    padding-top: 0 !important
}

.header_space {
    padding-left: 15px !important;
    padding-top: 20px !important;
}

.header-positionfix {
    margin-bottom: 0;
    line-height: 1.1;
}

kendo-grid#adminproduct {
    height: calc(100vh - 230px);
}

#adminproduct .k-indicator-container .k-link {
    color: #00aeef !important;
}

#adminproduct .k-touch-action-auto > .text-center {
    text-align-last: initial !important;
    width: 50% !important;
}

#adminproduct .k-indicator-container {
    color: #00aeef !important;
}

kendo-grid#adminproduct .k-column-title {
    white-space: nowrap !important;
    text-overflow: ellipsis;
    overflow: hidden !important;
}