@import '../kendo_grid.css';

.box_size {
    padding-left: 14px !important;
    padding-right: 5px !important;
    padding-top: 0 !important
}

.header_space {
    padding-left: 30px !important;
    padding-top: 20px !important;
}

.header-positionfix {
    margin-bottom: 0;
    line-height: 1.1;
}

kendo-grid {
    height: calc(75vh - 40px - 15px) !important;
}

.k-indicator-container .k-link {
    color: #00aeef !important;
}

.k-touch-action-auto > .text-center {
    text-align-last: initial !important;
    width: 50% !important;
}

#adminproduct .k-indicator-container {
    color: #00aeef !important;
}