.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.wrap {
    white-space: nowrap !important;
}

.vert-center {
    position: relative;
    top: 50% !important;
    transform: translateY(-50%) !important;
}

#chkDealTools label {
    margin: 5px 0 0 5px;
}

.k-grid-content tr {
    background-color: white;
}

#dealEditor tr {
    background-color: white !important;
}

.dimKey {
    font-size: 9px;
    line-height: 1em;
    background-color: #00AEEF;
    color: #ffffff;
    padding: 2px;
    text-transform: uppercase;
}

.badge.error {
    background-color: #FC4C02;
}

.badge {
    vertical-align: top !important;
}

    .badge.warning {
        background-color: #f3D54E;
    }

.rowHeight {
    height: 36px !important;
    padding: 2px 0px 0px 1px;
    border-bottom: 0.01px solid rgba(0,0,0,.05);
    /*line-height: 3;*/
}

.rowDetailHeight {
    height: 36px !important;
    border-bottom: 0.01px solid rgba(0,0,0,.05);
    padding: 2px 0px 0px 1px !important;
    line-height: 3;
}

.densityRow {
    border: 0.1px solid lightgrey;
    padding: 2px 0px 0px 1px;
    text-align: right;
}

.densityPadding {
    padding: 0px 4px !important;
}

.densityRatePadding {
    padding: 0px 15px !important;
}

.rowRightBorder {
    border-right: 0.1px solid lightgrey;
}

.rowBorder {
    border: 0.1px solid lightgrey;
}

.rowValueHeight {
    height: 37px !important;
    font-size: 12px !important;
    text-align: left !important;
    overflow: hidden;
}

.kitRowValue {
    height: 25px !important;
    font-size: 12px !important;
    text-align: right !important;
    /* overflow: hidden; */
}

.tierHeader {
    padding: 0 4px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10px;
    background: #eeeeee;
    text-align: center;
    height: 100%;
    white-space: nowrap;
    border-right: 0.1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tierBorder {
    border-bottom: 2px solid #0071C5
}

.err-bit {
    margin: 1px 0px 0px 1px !important;
}

tr:last-child > td {
    border-bottom-width: 1px !important;
}

.one-check .k-grid td {
    border-bottom: 1px solid lightgrey !important;
    padding: 0px !important;
    white-space: nowrap;
    border: 0.01px !important;
}

.one-check .k-grid-edit-row .k-textbox, .one-check .k-widgetGr {
    width: 100% !important;
}

#dealEditorTab .k-tabstrip-items .k-item {
    color: #003C71 !important;
    text-transform: none !important;
    background-color: #fff;
    border-bottom-width: 0;
    border: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6 !important;
    border-bottom: none;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
}

#dealEditorTab .k-tabstrip-items .k-state-active {
    background: #ffffff !important;
    border-color: #b1babf;
    border-width: 1px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0;
    border-radius: 4px 4px 0 0;
    color: #00AEEF !important;
}

.displayBlock {
    display: block;
}

.topPadding {
    padding-top: 3px !important;
}

.saveButton {
    width: 10%;
}

.text {
    display: inline-flex;
    padding: 0px 5px;
    font-size: 11px !important;
    font-weight: 200;
    line-height: 1em;
}

.textRightAlign {
    text-align: right;
}

.gridCellSpan {
    color: #0071C5;
    cursor: pointer;
}

.dataPadding {
    padding: 0 4px;
}

.dateWrapper {
    font-size: 12px;
    color: #00AEEF;
}

.capInfoWrapper {
    line-height: 3 !important;
    font-family: arial;
    text-align: center;
    color: white;
}

.capLineStyle {
    /*line-height: 1em;*/
    font-family: arial;
    text-align: center;
    font-weight: 600
}

.msgClassStyles {
    font-family: arial;
    text-align: center;
}

.boldFont {
    font-weight: bold;
}

.creditDebitAlignmentStyle {
    height: 12px;
    margin-top: -2px;
    margin-bottom: 2px;
}

.progressBarTextSize {
    font-size: 10px;
    line-height: 10px;
}

.iConFont {
    font-size: 20px !important
}

.cursorStyle {
    cursor: pointer;
}

.missingCapStyle {
    color: rgb(243, 213, 78);
    font-size: 18px !important;
}

.bigIcon {
    font-size: 20px;
}

.k-hstack {
    height: 37px;
    font-size: 14px;
    font-family: "Intel Clear";
}

.op-grid-container {
    height: 100%;
    padding: 0 10px;
    overflow: hidden;
}

.k-pager-wrap {
    background-color: #ffffff;
}

.op-grid .k-pager-wrap {
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 0 solid transparent;
}

.k-webkit .k-pager-wrap {
    min-height: 2.56em;
}

.op-grid.k-grid {
    width: 100% !important;
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
}

.opUiContainer.md {
    font-size: 12px;
}

.k-grid {
    box-shadow: none;
    position: relative;
    zoom: 1;
}

.k-grid-lockedcolumns {
    white-space: nowrap;
}

/*#dealEditor > .k-auto-scrollable {
    min-height: 60px;
    min-width: 60px;
}*/

/*.op-grid.k-grid .k-grid-header, .op-grid.k-grid .k-grid-content {
    border-right: 1px solid #e6e6e6;
}*/

.k-grid-content-locked + .k-grid-content {
    display: inline-block;
    vertical-align: top;
}

.k-grid-content {
    zoom: 1;
}

.op-grid.k-grid .uiControlDiv {
    line-height: 2 !important;
}

.op-grid .uiControlDiv {
    padding: 0px !important;
    min-height: 20px;
}

/*.uiControlDiv {
    padding-top: 23px !important;
}*/

.isReadOnlyCell {
    color: #000 !important;
    background-color: rgba(0,0,0,.05) !important;
    height: 100% !important;
}

/*.k-link:active {
    color: white !important;
}

.k-header, .headerClass, .k-touch-action-none, .k-filterable, .k-grid-draggable-header {
    background: linear-gradient(rgb(253, 253, 253) 0%, rgb(217, 217, 217) 100%) !important;
}*/

.k-grid table {
    height: 100% !important;
    width: 100% !important;
}

.width-fixes .col-md-12 {
    padding: 0 !important;
}

.gradTab.k-tabstrip .k-tabstrip-items .k-state-active .k-link {
    color: #00AEEF;
}

.ng-binding {
    padding-left: 4px;
}

.opUiContainer.md.k-grid td {
    border-right: .5px solid lightgrey !important;
    border-bottom: .5px solid lightgrey !important;
}

.k-grid td.k-state-focused, .k-grid th.k-state-focused,
.k-grid th:focus, .k-grid .k-master-row > td:focus,
.k-grid .k-grouping-row > td:focus, .k-grid .k-detail-row > td:focus,
.k-grid .readOnlyCell > td:focus, .k-grid .k-detail-row > td:focus {
    box-shadow: inset 0 0 0 1px #00aeef !important;
}

    .k-grid td.k-state-focused, .k-grid th.k-state-focused,
    .k-grid th:focus:hover, .k-grid .k-master-row > td:focus:hover,
    .k-grid .k-grouping-row > td:focus:hover, .k-grid .k-detail-row > td:focus:hover,
    .k-grid .readOnlyCell > td:focus:hover, .k-grid .k-detail-row > td:focus:hover {
        box-shadow: inset 0 0 0 1px #003C71 !important;
    }

.dealTools {
    margin-top: 0px !important;
    /*padding-top: 23px !important;*/
    /*line-height: 5.2em !important;*/
}

.gridStatusMarker {
    height: 35px !important;
    width: 20px !important;
    padding: 0 !important;
}

    .gridStatusMarker.Active {
        line-height: 2;
    }

.dealDetail .dealDetailContainer {
    line-height: 2;
}

.dealDetail {
    background-color: #fff !important;
    height: 35px !important;
}

k-state-focused .k-touch-action-auto .k-grid-edit-cell {
    background-color: rgba(0, 0,0, 0) !important;
}


.one-check .k-label {
    padding: 1px;
    min-width: 7px;
    width: 90px !important;
    display: inline-block;
}

.op-grid.k-grid .k-grid-header .k-header .k-link {
    font-weight: 600;
}

.op-grid.k-grid .k-grid-filter .k-icon.k-i-filter {
    color: #00AEEF;
    opacity: 1;
}

.intelicon-protection-solid {
    font-size: 20px;
}

.op-grid.k-grid .k-grid-header th.k-header {
    vertical-align: top;
}

.k-state-disabled {
    opacity: 1 !important;
}

.width-fixes .k-cell-inner {
    font-size: 12px !important;
}

.dealCell {
    height: 100% !important;
    width: 100% !important;
}

.dirty {
    font-weight: bolder !important;
    color: #00AEEF !important;
}

.notDirty {
    font-weight: lighter !important;
    color: #ababab !important;
    cursor: not-allowed !important;
}

#warning {
    width: fit-content !important;
    left: 20% !important;
}

.text {
    font-size: 14px !important;
    font-weight: 600;
    line-height: 1em;
}

.k-tabstrip-items .k-item {
    margin-right: 0 !important;
}

.intelicon-pin-outlined:hover {
    background-color: #00aeef;
    color: #fff !important;
}

.intelicon-close:hover {
    color: #ff0000 !important;
}

tr:last-child > td {
    border-bottom-width: 0px !important;
}
/*.k-link:hover {
    background: linear-gradient(rgb(217, 217, 217) 0%, rgb(253, 253, 253) 100%) !important;
}*/
#dealEditor .k-grid-header .headerClass {
    color: #1a3e6f;
    font-size: 12px;
    font-family: 'Intel Clear';
    font-weight: bold;
    background: #e7e7e8 !important;
    padding: 10px 3.5px !important;
}

.k-grid .k-grid-header-locked, .k-grid .k-grid-content-locked, .k-grid .k-grid-header-locked .k-header, .k-grid .k-grid-content-locked td {
    border-color: rgba(33, 37, 41, 0.125) !important;
}
    /*.k-grid tbody tr:hover {
    background: #ecf8fb !important;
}*/

    .k-grid .k-grid-header-locked, .k-grid .k-grid-content-locked, .k-grid .k-grid-header-locked .k-header, .k-grid .k-grid-content-locked td {
        border-color: rgba(33, 37, 41, 0.125) !important;
    }

#dealEditor.op-grid.k-grid tr:hover {
    background-color: #ecf8fb !important;
}

.k-grid .k-grid-content-locked .k-state-hover td, .k-grid .k-grid-content-locked tr:hover td {
    background-color: #ecf8fb !important;
}

.k-cell-inner > .k-link:hover {
    background: none !important;
    color: #1a3e6f !important;
}

#dealEditorTab > .k-tabstrip-items-wrapper > .k-tabstrip-items > li > .k-link:hover {
    background: #f9f9f9 !important;
}


#dealEditorTab .k-tabstrip-items .k-state-active .colorChg {
    color: #00aeef !important;
}

.colorChg {
    color: #003c71 !important;
}

.k-grid .k-detail-row .k-detail-cell {
    padding-top: 0;
    padding-bottom: 5px;
}

.opUiContainer.md [class^="intelicon-"] :not(intelicon-protection-solid) {
    font-size: 14px;
    color: #00AEEF;
}

.opUiContainer.md .opElementHelpIcon, .opUiContainer.md [class*=" intelicon-"] {
    font-size: 20px !important;
}

.k-grid td.k-state-focused, .k-grid th.k-state-focused, .k-grid th:focus:hover, .k-grid .k-master-row > td:focus:hover, .k-grid .k-grouping-row > td:focus:hover, .k-grid .k-detail-row > td:focus:hover, .k-grid .readOnlyCell > td:focus:hover, .k-grid .k-detail-row > td:focus:hover {
    box-shadow: inset 0 0 0 1px #00aeef !important;
}

.k-grid td.k-state-focused, .k-grid th.k-state-focused, .k-grid th:focus, .k-grid .k-master-row > td:focus, .k-grid .k-grouping-row > td:focus, .k-grid .k-detail-row > td:focus, .k-grid .readOnlyCell > td:focus, .k-grid .k-detail-row > td:focus {
    box-shadow: inset 0 0 0 1px #00aeef !important;
}

.volView {
    font-weight: bold;
    font-size: 16px;
    text-align: right;
}

.contractView {
    width: auto;
}

.tenderView {
    /* width: 803px;*/
    width: 851px;
}

.width-fixes label {
    line-height: 1.5;
}

.width-fixes .k-filterable > .k-cell-inner {
    margin-right: 0rem !important;
}

kendo-grid-string-filter-menu .k-dropdown .k-dropdown-wrap, kendo-grid-string-filter-menu .k-dropdowntree .k-dropdown-wrap {
    width: 85% !important;
}

.redfont {
    color: #fc4c02;
}

.op-grid.k-grid .k-grid-header .k-header {
    white-space: normal;
}

#excelDropDownMenu.show {
    transform: translate3d(1300px, 200px, 0px) !important;
}

.k-filter-menu .k-multiselect-wrap, .k-filter-menu .k-dropdown .k-dropdown-wrap {
    width: 90% !important;
    left: -15px !important
}

.k-filter-menu .k-multiselect li {
    padding: 1px !important;
}

.btnFltr {
    margin-left: 10px;
    line-height: 10px !important;
}

#btnFilter ~ .k-action-buttons.k-button-group {
    display: none !important;
}

kendo-tabstrip.width-fixes .k-tabstrip-items-wrapper {
    height: 40px;
}

    kendo-tabstrip.width-fixes .k-tabstrip-items-wrapper ul {
        position: relative;
        background: #f9f9f9 !important;
        /*border-top: 3px solid #d8d8d8;*/
        height: 40px;
    }

        kendo-tabstrip.width-fixes .k-tabstrip-items-wrapper ul li {
            border-top: none !important;
            height: 40px;
        }

            kendo-tabstrip.width-fixes .k-tabstrip-items-wrapper ul li:last-child {
                position: absolute;
                right: 15px;
            }

#dealEditor .k-grid-header .headerClass span.k-cell-inner {
    align-items: flex-start;
}

/*
.one-check kendo-grid .k-grid-aria-root kendo-grid-list table tbody tr {
    height: 50px !important;
    max-height: 50px !important;
}

.one-check kendo-grid .k-grid-aria-root kendo-grid-list table tbody tr td deal-editor-cell div {
    height: 50px !important;
    max-height: 50px !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
*/
.one-check kendo-pager-page-sizes.k-label {
    display: flex;
    width: auto !important;
}

.valid-icon {
    margin-left: 12px;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 213.997px;
    height: 240.838px;
    position: absolute;
    z-index: 10002;
    top: 42.987px;
    left: 0px;
    cursor: pointer;
}

    .dropdown-content ul li {
        color: #00AEEF;
        padding: 8px 0px;
        text-decoration: none;
        display: block;
        cursor: pointer;
    }


        .dropdown-content ul li:hover {
            background-color: #f1f1f1;
            cursor: pointer;
        }


.dropdown:hover .dropdown-content {
    display: block;
    color: #00AEEF;
    cursor: pointer;
}

.dropdown:hover .dropbtn {
    background-color: #0071c5;
    color: none;
    color: #fdfdfd;
    cursor: pointer;
}


.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

    .dropbtn:hover, .dropbtn:focus {
        background-color: #0071c5;
    }

#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

    #myInput:focus {
        outline: 3px solid #ddd;
    }

.dropdown-col-opt {
    position: relative;
    display: inline-block;
}

.dropdown-content-col {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 284px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

    .dropdown-content-col a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown-col-opt a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.chkColItem {
    cursor: pointer;
}

    .chkColItem:hover {
        background-color: #efefef;
    }

.k-textbox.form-control {
    padding: 1.375rem 0.75rem;
}

.k-dialog .k-button, .k-dialog .k-toolbar .k-button {
    padding: 1.375rem 0.75rem;
    line-height: 1.143em !important;
    background: #0071c5 !important;
}

.width-fixes.new-allDeals .k-tabstrip-items .k-item span {
    font-weight: 600 !important;
}

#dealEditor .k-grid-header .headerClass span.k-cell-inner .k-grid-filter {
    padding-left: 0;
    padding-right: 0;
    width: 25px;
    height: 29px;
}

#dealEditor .k-grid-header .headerClass span.k-cell-inner .intelicon-protection-solid {
    color: #00AEEF;
}