<link href="/Client/src/app/style/dealEditor.css" rel="stylesheet" />
<loading-panel-angular id="DELoading" style="z-index:500;" [show]="isDataLoading" [header]="spinnerMessageHeader"
                       [description]="spinnerMessageDescription" [isShowFunFact]="isBusyShowFunFact" [msgType]="msgType"></loading-panel-angular>
<kendo-tabstrip #tabstrip (tabSelect)="onTabSelect($event)" id="dealEditorTab" class="width-fixes new-allDeals fs-increase" style="min-height:400px;">
    <kendo-tabstrip-tab *ngFor="let data of groups" title="{{data.name}}" [selected]="selectedTab === data.name" [cssClass]="data.isTabHidden? 'hidden' : 'visible'">
        <ng-template kendoTabTitle>
            <span><i *ngIf="data.name !== 'CAP Info' && data.name !== 'All'" class="intelicon-pin-outlined" style="color: #00aeef; border-radius: 15px; font-size:16px; padding: 3px;" title="Pin tab so it always shows in the grid"></i></span>&nbsp;
            <span class="colorChg">{{data.name}} &nbsp;</span>
            <span class="badge error ng-binding badges-font-changes" id="tabErrorCnt" *ngIf="data.numErrors > 0">{{data.numErrors}}</span>&nbsp;
            <span class="badge warning badges-font-changes" id="tabErrorCnt" *ngIf="data.name == 'CAP Info' && numSoftWarn > 0">{{numSoftWarn}}</span>&nbsp;
            <i id="btnClose" *ngIf="data.name !== 'CAP Info' && data.name !== 'All'" style="color: #00aeef; border-radius: 15px; font-size: 16px;" class="intelicon-close" (click)="onClose(data.name)" title="Close tab"></i>
        </ng-template>
        <ng-template kendoTabContent>
            <div id="ToolDeBtn" class="flex-container" style="display:flex">
                <button id="SaveDeBtn" class="btn btn-sm btn-save tool-hover btn-disable-style-DE" ssToolbarBtn (click)="SaveDeal()" [disabled]="!dirty">
                    <i class="fa fa-floppy-o skyBlue floppy-icon-style-DE" aria-hidden="true" style="font-size: 30px;" [ngClass]="{'dirty' : dirty,'notDirty' : !(dirty)}"></i>
                    <span class="text save-validate-txtstyle-DE" [ngClass]="{'dirty' : dirty,'notDirty' : !(dirty)}">
                        Save & Validate
                    </span>
                </button>
                <div class="fr" style="width:100%" *ngIf="in_Is_Tender_Dashboard">
                    <floating-action (onAction)="actionClick($event)"></floating-action>
                </div>
                <div class="fr" style="margin-top:2px;margin-left: 0px; padding-left: 150px;">
                    <button class="btn btn-sm ssToolbarBtn tender-grey-hover" *ngIf="in_Is_Tender_Dashboard && roleCanCopyDeals" (click)="copyDeals()" title="Copy selected deals.">
                        <table>
                            <tr>
                                <td>
                                    <i class="intelicon-copy-solid skyBlue" aria-hidden="true" style="font-size: 30px"></i>
                                </td>
                                <td class="hidden-md hidden-sm hidden-xs" style="font-family: 'Intel Clear'; font-size:11px; padding-left:5px; text-align:left; color:#00AEEF;">
                                    Copy<br />Deals
                                </td>
                            </tr>
                        </table>
                    </button>
                </div>
                <div class="fr" style="margin-top: 2px; margin-left: 8px;">
                    <button class="btn btn-sm ssToolbarBtn tender-grey-hover" *ngIf="in_Is_Tender_Dashboard" (click)="sendEmail()" title="Send email notification.">
                        <table>
                            <tr>
                                <td>
                                    <i class="intelicon-email-message-outlined skyBlue" aria-hidden="true" style="font-size: 30px"></i>
                                </td>
                                <td class="hidden-md hidden-sm hidden-xs" style="padding-left: 5px; text-align: left; color: #00AEEF;">
                                    Email
                                </td>
                            </tr>
                        </table>
                    </button>
                </div>
                <div class="fr" style="margin-top: 2px;margin-left: 0px;" *ngIf="CAN_VIEW_COST_TEST && in_Is_Tender_Dashboard">
                    <button class="btn btn-sm btn-skyblue-sm fl tender-grey-hover"
                            (click)="executePctViaBtn()"
                            title="Execute Price Cost Test and Meet Comp Test">
                        <table>
                            <tr>
                                <td>
                                    <i class="fa fa-refresh fa-fw iconRunPct" [ngClass]="isRunning ? 'fa-spin grn' : '' " aria-hidden="true" style="font-size: 30px; color: #00AEEF;"></i>
                                </td>
                                <td class="hidden-md hidden-sm hidden-xs" style="font-family: 'Intel Clear'; font-size:11px; padding-left:5px; text-align:left; color:#00AEEF;">
                                    Run<br />Price Cost Test
                                </td>
                            </tr>
                        </table>
                    </button>
                </div>
                <div class="fr" style="margin-top: 2px; margin-left: 0px;" *ngIf="CAN_VIEW_MEET_COMP && in_Is_Tender_Dashboard">
                    <button class="btn btn-sm btn-skyblue-sm fl tender-grey-hover"
                            (click)="executePctViaBtn()"
                            title="Execute Price Cost Test and Meet Comp Test">
                        <table>
                            <tr>
                                <td>
                                    <i class="fa fa-refresh fa-fw iconRunPct" [ngClass]="isRunning ? 'fa-spin grn' : '' " aria-hidden="true" style="font-size: 30px; color: #00AEEF;"></i>
                                </td>
                                <td class="hidden-md hidden-sm hidden-xs" style="font-family: 'Intel Clear'; font-size:11px; padding-left:5px; text-align:left; color:#00AEEF;">
                                    Run<br />Meet Comp
                                </td>
                            </tr>
                        </table>
                    </button>
                </div>
                <div class="fr" style="margin-top: 2px;">
                    <button class="btn btn-sm ssToolbarBtn tool-hover" (click)="toggleWrap()" title="Toggle Word Wrap" [ngClass]="{'toggleSelect': wrapEnabled}" [ngStyle]="{'background-color' : wrapEnabled? '#f2f2f2': ''}">
                        <table>
                            <tr>
                                <td><i class="intelicon-align-left skyBlue" style="font-size: 30px"></i></td>
                                <td class="hidden-sm hidden-xs" style="font-family: 'Intel Clear'; font-size:11px; padding-left:5px; text-align:left; color:#00AEEF;">
                                    Word <br /> Wrap
                                </td>
                            </tr>
                        </table>
                    </button>
                </div>

                <div class="fr" style="margin-top: 2px; margin-left:8px" *ngIf="!in_Is_Tender_Dashboard">
                    <button class="btn btn-sm ssToolbarBtn tool-hover" title="Check for Overlapping Deals" (click)="openOverLappingDealCheck()">
                        <table>
                            <tr>
                                <td><i class="intelicon-copy-outlined skyBlue" style="font-size: 30px"></i></td>
                                <td class="hidden-sm hidden-xs" style="font-family: 'Intel Clear'; font-size:11px; padding-left:5px; text-align:left; color:#00AEEF;">
                                    Overlapping<br />Deals Check
                                </td>
                            </tr>
                        </table>
                    </button>
                </div>

                <div class="fr clearfix" style="margin-top: 2px; margin-left: 8px; position: relative;">

                    <button class="btn btn-sm ssToolbarBtn dropdown-toggle tool-hover" type="button" data-toggle="dropdown">
                        <table>
                            <tr>
                                <td><i class="intelicon-view-by-columns skyBlue" style="font-size: 30px"></i></td>
                                <td class="hidden-sm hidden-xs"
                                    style="font-family: 'Intel Clear';font-size:11px; padding-left: 5px; text-align: left; color: #00AEEF;">
                                    Column<br /> Options
                                </td>
                                <td><span class="caret" style="color: #00AEEF"></span></td>
                            </tr>
                        </table>
                    </button>
                    <div id="columnoptionclick" class="dropdown-menu" style=" background-color: white; font-family: 'Intel Clear'; font-size: 13px;">
                        <div class="mycol-style">
                            <div>
                                <span class="k-textbox searchbox">
                                    <i class="intelicon-search" style="font-size:18px; color:#00AEEF; margin-top:3px;"></i>
                                    <input type="search" style="font: icon; font-family: 'Intel Clear'; border: none; height: 30px; width: 95%; border-color: lightgrey; " [(ngModel)]="columnSearchFilter" />
                                </span>
                            </div>
                            <div style="max-height: 230px; overflow: auto; margin-top: 4px; margin-right: 10px; height: 190px;">
                                <div class="backclass" *ngFor="let item of wipTemplate.columns | filter:columnSearchFilter | orderBy: 'title'">
                                    &nbsp;&nbsp;<input type='checkbox' [checked]="iscolumnchecked(item.field)" id="colChk{{item.field}}" (click)="onColumnChange(item)" />&nbsp;
                                    <label for="colChk{{item.field}}">
                                        <span [innerHTML]="item.title"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fr dropdown" style="margin-top: 2px; margin-left:8px;">
                    <button class="btn btn-sm ssToolbarBtn dropdown-toggle tool-hover" type="button" data-toggle="dropdown">
                        <table>
                            <tr>
                                <td><i class="intelicon-settings-solid skyBlue" style="font-size: 30px" title="Manage Columns"></i></td>
                                <td class="hidden-sm hidden-xs"
                                    style="font-family: 'Intel Clear';font-size:11px; padding-left: 5px; text-align: left; color: #00AEEF;">
                                    Grid<br /> Settings
                                </td>
                                <td><span class="caret" style="color: #00AEEF"></span></td>
                            </tr>
                        </table>
                    </button>
                    <div class="dropdown-content new-effect">
                        <ul>
                            <li (click)="addTab()">
                                <i class="intelicon-plus-outlined" style="font-size: 18px; cursor: pointer;"></i> ADD TAB
                            </li>
                            <li (click)="renameTab()">
                                <i class="intelicon-plus-outlined" style="font-size: 18px; cursor: pointer; "></i> RENAME TAB
                            </li>
                            <li (click)="defaultLayout()">
                                <i class="intelicon-dashboard-solid" style="font-size: 18px; cursor: pointer; "></i> DEFAULT LAYOUT
                            </li>
                            <li (click)="customLayout()" ng-class="{'li-disabled': opOptions.custom === undefined}">
                                <i class="intelicon-dashboard-outlined" style="font-size: 18px; cursor: pointer; "></i> CUSTOM LAYOUT
                            </li>
                            <li (click)="saveLayout()">
                                <i class="intelicon-save-outlined" style="font-size: 18px; cursor: pointer; "></i> SAVE LAYOUT
                            </li>
                            <li (click)="clearCurrentLayout()">
                                <i class="intelicon-settings-solid" style="font-size: 18px; cursor: pointer; "></i> CLEAR CURRENT LAYOUT
                            </li>
                        </ul>
                    </div>
                </div>

                <kendo-dialog *ngIf="isAddDialog" id="Adddialog" >
                    <p class="tab-name-style">Tab name:</p>
                    <input type="text" [(ngModel)]="DeAddtab" class="k-textbox add-tab-textbox-style" />
                    <kendo-dialog-actions class="add-tab-style">
                        <button class='k-button add-tab-okbtn ok-btn-pop-up' (click)="Addtabdata()">OK</button>
                        <button class='k-button add-tab-cancelbtn cancel-btn-pop-up' (click)="CloseAdd()">CANCEL</button>
                    </kendo-dialog-actions>
                </kendo-dialog>

                <kendo-dialog *ngIf="isrenameDialog" id="renamedialog" >
                    <p class="tab-name-style">Tab name:</p>
                    <input type="text" [(ngModel)]="Derenametab" class="k-textbox add-tab-textbox-style" />
                    <kendo-dialog-actions class="add-tab-style">
                        <button class='k-button add-tab-okbtn ok-btn-pop-up' (click)="renametabdata()">OK</button>
                        <button class='k-button add-tab-cancelbtn cancel-btn-pop-up' (click)="Closerename()">CANCEL</button>
                    </kendo-dialog-actions>
                </kendo-dialog>

                <div class="fr clearfix" style="margin-top: 2px; margin-left:8px;position: relative;">
                    <button class="btn btn-sm ssToolbarBtn dropdown-toggle tool-hover" type="button" data-toggle="dropdown">
                        <table>
                            <tr>
                                <td><i class="intelicon-ms-excel-outlined skyBlue" style="font-size: 30px"></i></td>
                                <td class="hidden-sm hidden-xs" style="font-family: 'Intel Clear';font-size:11px; padding-left: 5px; text-align: left; color: #00AEEF;">Excel<br /> Export</td>
                                <td><span class="caret" style="color: #00AEEF"></span></td>
                            </tr>
                        </table>
                    </button>
                    <ul class="dropdown-menu" id="excelDropDownMenu">
                        <li (click)="exportToExcel()" style="cursor: pointer;"><a>Export All Columns, All Data</a></li>
                        <li (click)="exportToExcelCustomColumns()" style="cursor: pointer;"><a>Export Current View</a></li>
                    </ul>
                </div>&nbsp;&nbsp;
                <button class="btn ssToolbarBtn tool-hover" title="Help">
                    <table>
                        <tr><td><i class="intelicon-help skyBlue" aria-hidden="true" style="font-size: 30px" (click)="showHelpTopic()"></i></td></tr>
                    </table>
                </button>&nbsp;&nbsp;

                <span class="k-textbox design" style="width: 255px !important; margin-top: 4px; font-size: 16px;">
                    <i class="intelicon-search" style="font-size:20px; color:#00AEEF; margin-top:3px;"></i>
                    &nbsp;&nbsp;
                    <input type="text" style="width:270px;border:none" (keydown)="filterDealData($event)" [(ngModel)]="searchFilter" placeholder="search... (press enter to search)" />
                </span>
            </div>
            <div class="op-grid-container one-check oppo-grids">
                <kendo-grid *ngIf="columns.length != 0" id="dealEditor" [data]="gridData" [navigable]="true" [loading]="isLoading" [pageSize]="state.take" [skip]="state.skip"
                            [sort]="state.sort" [filter]="state.filter" [sortable]="true" [reorderable]="true" [resizable]="true"
                            [pageable]="{type:type,pageSizes: pageSizes,info:info,refresh:true}" (cellClose)="cellCloseHandler($event)"
                            filterable="menu" (dataStateChange)="dataStateChange($event)" (cellClick)="cellClickHandler($event)" (filterChange)="filterChange($event)"
                            class="opUiContainer dashboard op-grid k-grid k-widgetGr k-reorderable k-editable k-grid-lockedcolumns md"
                            style="width: 320px; height: calc(100vh - 350px);" data-role="grid">
                    <kendo-grid-column [headerClass]="{'headerClass':true}" *ngFor="let column of columns" field="{{column.field}}"
                                       [locked]="column.locked == true" width="{{ (column.field == 'CAP_STRT_DT' || column.field == 'CAP_END_DT' || column.field == 'YCS2_START_DT' || column.field == 'YCS2_END_DT' ) ? column.width + 30 : (column.field == 'START_DT' || column.field == 'END_DT') ? column.width + 15 : column.width }}" [filterable]="column.filterable" [sortable]="column.sortable">
                        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                            <div *ngIf="!dropdownFilterColumns.includes(column.field)">
                                <multicheck-filter [isPrimitive]="false" [field]="column.field" [currentFilter]="filter" textField="Text" valueField="Value"
                                                   [filterService]="filterService" [data]="filteringData[column.field]"></multicheck-filter>
                            </div>
                            <div *ngIf="dropdownFilterColumns.includes(column.field)">
                                <dropDown-filter class="de-dropdwn-styl" [isPrimitive]="false" [field]="column.field" [currentFilter]="filter" textField="Text" valueField="Value" operator="isnotnull"
                                                 [filterService]="filterService" [data]="filteringData[column.field]"></dropDown-filter>
                            </div>
                        </ng-template>
                        <ng-template kendoGridHeaderTemplate>
                            <deal-editor-header [in_Field_Name]="column.field" [in_Header_Template]="column.headerTemplate" [pageCount]="pageCount" [in_Title]="column.title" [in_Is_Tender_Dashboard]="in_Is_Tender_Dashboard" [grid_Result]="gridResult" [grid_Data]="gridData"></deal-editor-header>
                        </ng-template>
                        <ng-template let-dataItem="dataItem" kendoGridCellTemplate>
                            <deal-editor-cell class="extraSpace-colFix" [in_Field_Name]="column.field" [in_Template]="column.template" [in_Deal_Type]="curPricingTable.OBJ_SET_TYPE_CD" [in_DataItem]="dataItem" [contract_Data]="contractData" [grid_Data]="gridData.data" [in_Is_Tender_Dashboard]="in_Is_Tender_Dashboard"
                                              [in_DataSet]="gridResult" (iconUpdate)="updateSaveIcon($event)" (refresh_Contract_Data)="refreshContract($event)" (reLoad)="reloadFn($event)" (removeDeletedRow)="removeDeletedRowData($event)"></deal-editor-cell>
                        </ng-template>
                        <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                            <deal-editor-edit [in_Field_Name]="column.field" [in_Deal_Type]="curPricingTable.OBJ_SET_TYPE_CD" [in_DataItem]="dataItem" [in_DropDownResponses]="dropdownResponses" [in_DataSet]="gridResult" [in_Is_Tender_Dashboard]="in_Is_Tender_Dashboard" (invalidField)="setInvalidField($event)"
                                              (bidActionsUpdated)="bidActionUpdated($event)" ></deal-editor-edit>
                        </ng-template>
                    </kendo-grid-column>
                </kendo-grid>
            </div>
            <kendo-dialog *ngIf="isWarning" id="warning" (close)="Close()" class="the-comp-de ok-button-color-change" style="width: 41%; left: 505.062px;">
                <p class="kendo-dialog-message deal-extend-popup">{{message}}</p>
                <kendo-dialog-actions>
                    <button *ngIf="!isDatesOverlap" class='k-button first-child-btn' style="font-size: 15px; font-weight: 400; color: #444 !important;" (click)="Close()">OK</button>
                    <button *ngIf="isDatesOverlap" class='k-button first-child-btn extend-dealpopup' (click)="SaveDealData()">OK</button>
                    <button *ngIf="isDatesOverlap" class='k-button last-child-btn cancel-extend-deal' (click)="Close()">CANCEL</button>
                </kendo-dialog-actions>
            </kendo-dialog>
        </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab [disabled]="true">
        <ng-template kendoTabTitle>
            <div ngClass="fl volView contractView minimal-fixes" *ngIf="!isTenderContract && voltLength==1">
                <a style="color:#003c71">{{voltLength}}&nbsp;&nbsp;{{displaydealType()}} Deal</a>
            </div>
            <div ngClass="fl volView contractView minimal-fixes" *ngIf="!isTenderContract && voltLength>1">
                <a style="color:#003c71">{{voltLength}}&nbsp;&nbsp;{{displaydealType()}} Deals</a>
            </div>
            <div class="fl volView" *ngIf="isTenderContract && voltLength==1">
                <a style="color:#003c71">{{voltLength}}&nbsp;&nbsp;{{curPricingTable.OBJ_SET_TYPE_CD}} Deal</a>
            </div>
            <div class="fl volView" *ngIf="isTenderContract && voltLength>1">
                <a style="color:#003c71">{{voltLength}}&nbsp;&nbsp;{{curPricingTable.OBJ_SET_TYPE_CD}} Deals</a>
            </div>
        </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab>
        <ng-template kendoTabTitle>
            <span kendoTooltip title="Refresh" position="top" class="k-icon k-i-reload k-icon-xl"></span>
        </ng-template>
    </kendo-tabstrip-tab>
</kendo-tabstrip>