<div *ngIf="in_Field_Name == 'DEAL_DESC' || in_Field_Name == 'TERMS' || in_Field_Name == 'QLTR_PROJECT' || in_Field_Name == 'RPU_OVERRIDE_CMNT' || in_Field_Name == 'CONSUMPTION_REASON_CMNT' || in_Field_Name == 'QUOTE_LN_ID'">
    <kendo-textbox (valueChange)="valueChange(in_DataItem, in_Field_Name)" [ngModel]="in_DataItem[in_Field_Name] ? in_DataItem[in_Field_Name] : ''  "
                   (ngModelChange)="in_DataItem[in_Field_Name] = $event" class="k-textbox-design">
    </kendo-textbox>
</div>
<div *ngIf="(in_Field_Name == 'ECAP_PRICE' && in_Deal_Type == 'ECAP') || in_Field_Name == 'VOLUME' || in_Field_Name == 'FRCST_VOL' || in_Field_Name == 'KIT_ECAP' || in_Field_Name == 'CONSUMPTION_LOOKBACK_PERIOD'
     || in_Field_Name == 'USER_MAX_RPU' || in_Field_Name == 'USER_AVG_RPU' || in_Field_Name == 'TOTAL_DOLLAR_AMOUNT' || in_Field_Name == 'ADJ_ECAP_UNIT'
     || in_Field_Name == 'MAX_PAYOUT' || in_Field_Name == 'REBATE_OA_MAX_VOL' || in_Field_Name == 'REBATE_OA_MAX_AMT'">
    <div *ngIf="in_Field_Name == 'ECAP_PRICE' && in_Deal_Type == 'ECAP'" class="dimKey">{{translateDimKey(ecapDimKey)}}</div>
    <div *ngIf="in_Field_Name == 'KIT_ECAP'" class="dimKey">{{translateDimKey(kitEcapdim)}}</div>
   <div *ngIf="in_Field_Name != 'CONSUMPTION_LOOKBACK_PERIOD'">
    <kendo-numerictextbox [ngModel]="in_Field_Name == 'ECAP_PRICE' ? in_DataItem.ECAP_PRICE[ecapDimKey] : (in_Field_Name =='KIT_ECAP') ? in_DataItem.ECAP_PRICE[kitEcapdim] : in_DataItem[in_Field_Name]"
                          (ngModelChange)="in_Field_Name == 'ECAP_PRICE' ? in_DataItem.ECAP_PRICE[ecapDimKey] = $event : (in_Field_Name =='KIT_ECAP') ? in_DataItem.ECAP_PRICE[kitEcapdim] = $event : in_DataItem[in_Field_Name] = $event"
                          [min]="0" (valueChange)="valueChange(in_DataItem, in_Field_Name)"
                          [value]="in_Field_Name == 'ECAP_PRICE' ? in_DataItem.ECAP_PRICE[ecapDimKey] : (in_Field_Name =='KIT_ECAP') ? in_DataItem.ECAP_PRICE[kitEcapdim] : in_DataItem[in_Field_Name]"
                          [format]="(in_Field_Name == 'VOLUME' || in_Field_Name == 'FRCST_VOL' || in_Field_Name != 'CONSUMPTION_LOOKBACK_PERIOD' || in_Field_Name == 'REBATE_OA_MAX_VOL') ? 'n0' : 'n2'"
                          [autoCorrect]="autoCorrect"  [decimals]="decimals" class="k-numberbox-design">
    </kendo-numerictextbox>
</div>
    <div *ngIf="in_Field_Name == 'CONSUMPTION_LOOKBACK_PERIOD'">
    <kendo-numerictextbox [ngModel]="in_DataItem[in_Field_Name]" (ngModelChange)=" in_DataItem[in_Field_Name] = $event"
        [min]="0" (valueChange)="valueChange(in_DataItem, in_Field_Name)" [value]="in_DataItem[in_Field_Name]"
        [format]="in_Field_Name == 'CONSUMPTION_LOOKBACK_PERIOD'" [autoCorrect]="autoCorrect" [decimals]="decimals"
        [max]="24" class="k-numberbox-design">
    </kendo-numerictextbox>
</div>
</div>
<div *ngIf="((in_Field_Name == 'ECAP_PRICE' || in_Field_Name == 'DSCNT_PER_LN') && in_Deal_Type == 'KIT')">
    <div *ngFor="let key Of tierArray(in_DataItem[in_Field_Name]); let i = index">
        <div *ngIf="(in_Field_Name == 'ECAP_PRICE' && i > 0) || in_Field_Name == 'DSCNT_PER_LN'">
            <div class="dimKey">{{translateDimKey(key)}}</div>
            <kendo-numerictextbox [ngModel]="in_DataItem[in_Field_Name][key]"
                                  (ngModelChange)="in_DataItem[in_Field_Name][key] = $event"
                                  [min]="0" (valueChange)="valueChange(in_DataItem, in_Field_Name, key)"
                                  [value]="in_DataItem[in_Field_Name][key]"
                                  autoCorrect="true" [decimals]="decimals" class="k-numberbox-design">
            </kendo-numerictextbox>
        </div>
    </div>
</div>
<div *ngIf="in_Field_Name == 'REBATE_BILLING_START' || in_Field_Name == 'REBATE_BILLING_END' || in_Field_Name == 'START_DT' || in_Field_Name == 'LAST_REDEAL_DT'
     || in_Field_Name == 'END_DT' || in_Field_Name == 'OEM_PLTFRM_LNCH_DT' || in_Field_Name == 'OEM_PLTFRM_EOL_DT' || in_Field_Name == 'ON_ADD_DT'">
    <kendo-datepicker [ngModel]="in_DataItem[in_Field_Name]" id="dealDatePicker"
                      (ngModelChange)="in_DataItem[in_Field_Name] = $event"
                      (valueChange)="valueChange(in_DataItem, in_Field_Name)"
                      [incompleteDateValidation]="true" 
                      format="MM/dd/yyyy"
                      (blur)="onBlur(dealDate)"
                      (focus)="onBlur(dealDate)"
                      (keydown)="onKeyDown($event, dealDate)"
                      [ngbTooltip]="message" 
                      #dealDateToolTip="ngbTooltip" 
                      tooltipClass="toolTipReq" 
                      triggers="manual" 
                      placement="bottom"
                      container="body"
                      name="dealDate"
                      #dealDate="ngModel"
                      calendarType="classic"></kendo-datepicker>
</div>
<div *ngIf="in_Field_Name == 'TIER_NBR' && (in_Deal_Type == 'VOL_TIER' || in_Deal_Type == 'REV_TIER' || in_Deal_Type == 'FLEX')">
    <div *ngFor="let fieldDet of fields">
        <div *ngIf="fieldDet.title === 'Tier'" class="col-md-3 tierHeader">{{fieldDet.title}}</div>
        <div *ngIf="fieldDet.title !== 'Tier' && fieldDet.field !== 'INCENTIVE_RATE'" class="col-md-3 tierHeader tierBorder">{{fieldDet.title}}</div>
        <div *ngIf="fieldDet.title !== 'Tier' && fieldDet.field === 'INCENTIVE_RATE'" class="col-md-3 tierHeader tierBorder" id="incentiveRate">{{fieldDet.title}}</div>
    </div>
    <div *ngFor="let key Of tierArray(in_DataItem.TIER_NBR); let i = index">
        <div class="col-md-12 rowDetailHeight">
            <div *ngFor="let fieldDet of fields">
                <div class="col-md-3 rowDetailHeight">
                    <span class="tierColumn rowValueHeight" *ngIf="fieldDet.title == 'Tier' || (fieldDet.title.includes('Start') && (i != 0 || in_DataItem['HAS_TRACKER'] == 1)) || (fieldDet.title.includes('End') && in_DataItem['HAS_TRACKER'] == 1 && i != (in_DataItem['NUM_OF_TIERS']-1))">{{in_DataItem[fieldDet.field][key]}}</span>
                    <span class="rowValueHeight" *ngIf="(fieldDet.title.includes('Start') && (i == 0 && in_DataItem['HAS_TRACKER'] == 0)) || ((fieldDet.title.includes('End') && (in_DataItem['HAS_TRACKER'] == 0 || (in_DataItem['HAS_TRACKER'] == 1 && i==(in_DataItem['NUM_OF_TIERS']-1)))) || fieldDet.title.includes('Rate'))">
                        <kendo-numerictextbox class="rowValueHeight k-numberbox-design"
                                              [ngModel]="convertToLowerCase(in_DataItem[fieldDet.field][key]) == 'unlimited' ? '' : in_DataItem[fieldDet.field][key]"
                                              (ngModelChange)="in_DataItem[fieldDet.field][key] = $event"
                                              [value]="convertToLowerCase(in_DataItem[fieldDet.field][key]) == 'unlimited' ? '' : in_DataItem[fieldDet.field][key]"
                                              [min]="getMinValue(fieldDet.field)" (valueChange)="updateTierAttributes(in_DataItem, fieldDet.field,(i+1))"
                                              [autoCorrect]="autoCorrect" [format]="(fieldDet.field.includes('RATE') || in_Deal_Type == 'REV_TIER' )? 'n2' : 'n0'">
                        </kendo-numerictextbox>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tier-breakout" *ngIf="in_Field_Name == 'TIER_NBR' && (in_Deal_Type == 'DENSITY')">
    <div *ngFor="let fieldDet of fields">
        <div *ngIf="fieldDet.title === 'Tier'" class="col-md-2 tierHeader">{{fieldDet.title}}</div>
        <div *ngIf="fieldDet.title === 'Band' || fieldDet.title === 'Rate'" class="col-md-3 tierHeader">{{fieldDet.title}}</div>
        <div *ngIf="fieldDet.title !== 'Tier' && fieldDet.title !== 'Band' && fieldDet.title !== 'Rate'" class="col-md-2 tierHeader tierBorder">{{fieldDet.title}}</div>
    </div>
    <div *ngFor="let key Of tierArray(in_DataItem.TIER_NBR); let i = index">
        <div class="col-md-12 rowBorder">
            <div class="parent-tier-child" *ngFor="let fieldDet of fields">
                <div class="tier-child-one" *ngIf="fieldDet.field == 'TIER_NBR'">
                    <div class="col-md-2 topPadding">
                        <span>{{in_DataItem[fieldDet.field][key]}}</span>
                    </div>
                </div>
                <div class="tier-child-two" *ngIf="fieldDet.field == 'DENSITY_BAND' || fieldDet.field == 'DENSITY_RATE'">
                    <div class="col-md-3 topPadding">
                        <div *ngFor="let keyBand Of tierArray(in_DataItem.NUM_OF_DENSITY); let band = index">
                            <div *ngIf="fieldDet.field == 'DENSITY_RATE'">
                                <span class="densityRatePadding">
                                    <kendo-numerictextbox [ngModel]="in_DataItem[fieldDet.field]['8___' + (band+1) + '____' + key]"
                                                          (ngModelChange)="in_DataItem[fieldDet.field]['8___' + (band+1) + '____' + key] = $event"
                                                          [min]="0" (valueChange)="updateTierAttributes(in_DataItem, fieldDet.field,(i+1))"
                                                          [value]="in_DataItem[fieldDet.field]['8___' + (band+1) + '____' + key]"
                                                          [autoCorrect]="autoCorrect" format="n2" class="k-numberbox-design">
                                    </kendo-numerictextbox>
                                </span>
                            </div>
                            <div *ngIf="fieldDet.field == 'DENSITY_BAND'">
                                <span class="displayBlock rowBorder" [style.height.px]="47">
                                    {{in_DataItem[fieldDet.field]['8___' + (band+1)]}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="tier-child-three" *ngIf="fieldDet.field == 'STRT_PB' || fieldDet.field == 'END_PB'">
                    <div class="col-md-2 topPadding">
                        <div *ngIf="(fieldDet.field == 'STRT_PB' && (i>0 || in_DataItem['HAS_TRACKER'] == '1')) || (fieldDet.field =='END_PB' && in_DataItem['HAS_TRACKER'] == '1' && i != ((in_DataItem['NUM_OF_TIERS']/in_DataItem['NUM_OF_DENSITY'])-1))">
                            <span class="displayBlock densityPadding" [style.height.px]="47">
                                {{in_DataItem[fieldDet.field][key]}}
                            </span>
                        </div>
                        <div *ngIf="(fieldDet.field == 'STRT_PB' && i==0 && in_DataItem['HAS_TRACKER'] == '0') || (fieldDet.field =='END_PB' && (in_DataItem['HAS_TRACKER'] == '0' || (in_DataItem['HAS_TRACKER'] == '1' && i==((in_DataItem['NUM_OF_TIERS']/in_DataItem['NUM_OF_DENSITY'])-1))))">
                            <span>
                                <kendo-numerictextbox [ngModel]="convertToLowerCase(in_DataItem[fieldDet.field][key]) == 'unlimited' ? '' : in_DataItem[fieldDet.field][key]"
                                                      (ngModelChange)="in_DataItem[fieldDet.field][key] = $event"
                                                      [min]="0" (valueChange)="updateTierAttributes(in_DataItem, fieldDet.field,(i+1))"
                                                      [value]="convertToLowerCase(in_DataItem[fieldDet.field][key]) == 'unlimited' ? '' : in_DataItem[fieldDet.field][key]"
                                                      [autoCorrect]="autoCorrect" format="n3" class="k-numberbox-design">
                                </kendo-numerictextbox>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="in_Field_Name == 'DEAL_COMB_TYPE' || in_Field_Name == 'CONTRACT_TYPE' || in_Field_Name == 'PERIOD_PROFILE'
     || in_Field_Name == 'RESET_VOLS_ON_PERIOD' || in_Field_Name == 'BACK_DATE_RSN' || in_Field_Name == 'CONSUMPTION_REASON'
     || in_Field_Name == 'SEND_TO_VISTEX' || in_Field_Name == 'SERVER_DEAL_TYPE' || in_Field_Name == 'CONSUMPTION_TYPE' || in_Field_Name == 'EXPIRE_YCS2'">
    <kendo-dropdownlist [data]="dropDowResponse[in_Field_Name]"
                        [ngModel]="in_DataItem[in_Field_Name]" (blur)='showToolTip(in_DataItem, in_Field_Name, contractType)'
                        (ngModelChange)="in_DataItem[in_Field_Name] = $event"
                        (valueChange)="valueChange(in_DataItem, in_Field_Name)" class="k-dropdown-design">
    </kendo-dropdownlist>
    <div kendoTooltip showOn="none" position="bottom" style="margin-left:110px" tooltipClass="ctrct_typ">
        <span #contractType [title]="in_DataItem[in_Field_Name] == '' ? 'CONTRACT_TYPE is required' : ''"></span>
    </div>

    <kendo-dialog *ngIf="confirmDialog" [maxWidth]="600" class="paddingReducerExpire toolsartho-css k-dialog-popup-design">
        <div class="dealToolsKendoAlert" style="padding: 2.4em;">
            <h4 class="k-dialog-heading-four h4Style">Expire YCS2 Confirmation</h4>
            <p>Warning! This action will  Expire the active YCS2 price condition which impacts the Customer and Product in SAP. Click Yes to continue.</p>
        </div>
        <kendo-dialog-actions class="kendoAction deal-custom-deal-tools" style="height: auto;">
            <button kendoButton (click)="confirmExpire(in_DataItem, in_Field_Name)" class="toolsOkBtn kendoBtn okBtn ok-btn-pop-up line-height-unset">YES</button>
            <button kendoButton (click)="closeDialogs(in_DataItem, in_Field_Name)" class="toolsCancelBtn kendoBtn cancelBtn cancel-btn-pop-up line-height-unset">CANCEL</button>
        </kendo-dialog-actions>
    </kendo-dialog>
</div>
<div *ngIf="(in_Field_Name =='EXCLUDE_AUTOMATION' && in_Is_Tender_Dashboard)">
    <kendo-dropdownlist [data]="dropDowResponse[in_Field_Name]"
                        [(ngModel)]="in_DataItem[in_Field_Name]" 
                        (focusout)='onExcludeBlur(in_DataItem[in_Field_Name])'
                        (valueChange)="valueChange(in_DataItem, in_Field_Name)" class="k-dropdown-design"
                        ngbTooltip="EXCLUDE_AUTOMATION is required" 
                          #excludeAutoToolTip="ngbTooltip" 
                          tooltipClass="toolTipReq" 
                          triggers="manual" 
                          placement="bottom"
                          container="body">
    </kendo-dropdownlist>
</div>
<div *ngIf="in_Field_Name == 'EXPIRE_FLG'">
    <kendo-dropdownlist [data]="dropDowResponse[in_Field_Name]"
                        [(ngModel)]="in_DataItem[in_Field_Name]"
                        (valueChange)="valueChange(in_DataItem, in_Field_Name)"
                        textField="text"
                        valueField="value" class="k-dropdown-design">
    </kendo-dropdownlist>
</div>
<div *ngIf="in_Field_Name == 'tender_actions' && bidActnsDropdownData.length > 0">
    <kendo-dropdownlist [data]="bidActnsDropdownData"
                        [(ngModel)]="selectedValue"
                        (valueChange)="actionChange(in_DataItem)"
                        [textField]="bidActnsDropDownText"
                        [valueField]="bidActnsDropDownValue">
    </kendo-dropdownlist>
</div>
<div *ngIf="in_Field_Name == 'tender_actions' && bidActnsDropdownData.length == 0">
    <div id='cb_actn_{{in_DataItem.DC_ID}}'>
        <div *ngIf="in_DataItem['WF_STG_CD'] !== undefined && in_DataItem['WF_STG_CD'] !== null && in_DataItem['WF_STG_CD'] === 'no access'; else first" class='noaccess'>no access</div>
        <ng-template #first>
            <div *ngIf="!hasVertical(in_DataItem); else second" class='noaccess'>no vertical access</div>
        </ng-template>
        <ng-template #second>
            <div *ngIf="in_DataItem._contractPublished !== undefined && in_DataItem._contractPublished === 0; else third" class='noaccess' style='text-align: center; width: 100%;' title='Deals have not been published from Folio.'>Folio <a href='/contract#/manager/{{in_DataItem._contractId}}' target='_blank'>{{in_DataItem._contractId}}</a><div class='non-action-gray' style='color: #aaaaaa;'>(<i>Not Actionable</i>)</div></div>
        </ng-template>
        <ng-template #third>
            <div *ngIf="in_DataItem.WF_STG_CD == 'Cancelled'; else forth" class='action_style' is-editable='true' style='text-align: center; width: 100%;'>{{in_DataItem.WF_STG_CD}}<div class='non-action-gray' style='color: #aaaaaa;' title='This deal is cancelled.'>(<i class='action_style'>Not Actionable</i>)</div></div>
        </ng-template>
        <ng-template #forth>
            <div *ngIf="getBidActions(in_DataItem)['bidActns'].length == 0; else fifth">
                <div *ngIf="getBidActions(in_DataItem)['numActions'] == 0; else innerFirst" class='action_style' is-editable='true' style='text-align: center; width: 100%;'>{{stgFullTitleChar(in_DataItem)}}<div class='non-action-gray' style='color: #aaaaaa;' title='No Actions available.'>(<i class='action_style'>Not Actionable</i>)</div></div>
                <ng-template #innerFirst>
                    <div class='action_style' is-editable='true' style='text-align: center; width: 100%;'>Action</div>
                </ng-template>
            </div>
        </ng-template>
        <ng-template #fifth>
            <div *ngIf="getBidActions(in_DataItem)['bidActns'].length == 1; else sixth" class='action_style' is-editable='true' style='text-align: center; width: 100%;'>{{in_DataItem.WF_STG_CD}}<div class='non-action-gray' style='color: #aaaaaa;' title='This deal is already marked as Won.'>(<i class='action_style'>Not Actionable</i>)</div></div>
        </ng-template>
        <ng-template #sixth>
            <div is-editable='true' style='text-align: center; width: 100%;'>{{in_DataItem.WF_STG_CD}}</div>
        </ng-template>
    </div>
</div>
<div *ngIf="in_Field_Name == 'QLTR_BID_GEO'">
    <kendo-multiselect [data]="dropDowResponse[in_Field_Name]"
                       [(ngModel)]="in_DataItem[in_Field_Name]"
                       (valueChange)="valueChange(in_DataItem, in_Field_Name)" class="divineo-one bidGeoMultiSelect">
    </kendo-multiselect>
</div>
<div *ngIf="in_Field_Name == 'CNTRCT_OBJ_SID'" class="dealCell">
    <div id="folioCell" class="uiControlDiv isReadOnlyCell">
        <a href="/contract#/manager/{{in_DataItem[in_Field_Name]}}" target="_blank">
            <div class="ng-binding vert-center">{{in_DataItem[in_Field_Name]}}</div>
        </a>
    </div>
</div>