<div *ngIf="in_Field_Name === 'tools'" class="dealCell">
    <deal-tools-angular [dataItem]='in_DataItem' [isSplitEnabled]='true' [isFileAttachmentEnabled]='true' 
                        [isHistoryEnabled]='true' [isCommentEnabled]='true' [isEditable]='true' 
                        [isQuoteLetterEnabled]='true' [isDeleteEnabled]='true'></deal-tools-angular>
</div>
<div *ngIf="in_Field_Name === 'details'">
    <deal-details-angular [dealDetail]='in_DataItem'></deal-details-angular>
</div>
<div *ngIf="in_Template.includes('gridUtils.uiControlWrapper')" [innerHTML]="uiControlWrapper(in_DataItem, in_Field_Name, '')"
     class="uiControlDiv wrap dealCell" [ngClass]="{'isReadOnlyCell': isReadonlyCell(in_DataItem, in_Field_Name), 'isDirtyCell': isDirtyCell(in_DataItem,in_Field_Name), 'isErrorCell': isErrorCell(in_DataItem,in_Field_Name)}">
</div>
<div *ngIf="in_Template.includes('gridUtils.uiPositiveDimControlWrapper')" [innerHTML]="uiPositiveDimControlWrapper(in_DataItem, in_Field_Name)" class="uiControlDiv wrap dealCell">
</div>
<div *ngIf="in_Field_Name == 'DC_ID'" [innerHTML]="uiControlDealWrapper(in_DataItem, in_Field_Name)" class="uiControlDiv wrap"
     [ngClass]="{'isReadOnlyCell': isReadonlyCell(in_DataItem, in_Field_Name), 'isDirtyCell': isDirtyCell(in_DataItem,in_Field_Name), 'isErrorCell': isErrorCell(in_DataItem,in_Field_Name)}">
    <!--<deal-popup-angular></deal-popup-angular>-->
</div>
<div *ngIf="in_Field_Name == 'CUST_MBR_SID'" [innerHTML]="uiCustomerControlWrapper(in_DataItem, in_Field_Name, '')" class="dealCell">
</div>
<div *ngIf="(in_Field_Name == 'ECAP_PRICE' && in_Deal_Type == 'ECAP') || in_Field_Name == 'KIT_ECAP' || in_Field_Name == 'SUBKIT_ECAP' || in_Field_Name == 'COMPETITIVE_PRICE' || in_Field_Name == 'CAP_KIT' || in_Field_Name == 'YCS2_KIT'" [innerHTML]="uiDimControlWrapper(in_DataItem, in_Field_Name)"
     [ngClass]="{'isReadOnlyCell': isReadonlyCell(in_DataItem, in_Field_Name), 'isDirtyCell': isDirtyCell(in_DataItem,in_Field_Name), 'isErrorCell': isErrorCell(in_DataItem,in_Field_Name), 'uiControlDiv isReadOnlyCell' : (in_Field_Name == 'COMPETITIVE_PRICE')}">
</div>
<div *ngIf="in_Field_Name == 'PASSED_VALIDATION'" [innerHTML]="uiValidationErrorDetail(in_DataItem)" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'TIER_NBR' && (in_Deal_Type == 'VOL_TIER' || in_Deal_Type == 'REV_TIER' || in_Deal_Type == 'FLEX')" [innerHTML]="uiControlScheduleWrapper(in_DataItem)" class="breakoutColumn"></div>
<div *ngIf="in_Field_Name == 'TIER_NBR' && (in_Deal_Type == 'DENSITY')" [innerHTML]="uiControlScheduleWrapperDensity(in_DataItem)" class="breakoutColumn dealCell"></div>
<div *ngIf="in_Template.includes('gridUtils.uiReadonlyControlWrapper')" [innerHTML]="uiReadonlyControlWrapper(in_DataItem, in_Field_Name)" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'TRKR_NBR'" [innerHTML]="uiDimTrkrControlWrapper(in_DataItem)" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'START_DT' || in_Field_Name == 'LAST_REDEAL_DT'" [innerHTML]="uiStartDateWrapper(in_DataItem, in_Field_Name)"></div>
<div *ngIf="in_Field_Name == 'END_DT' || in_Field_Name == 'OEM_PLTFRM_LNCH_DT' || in_Field_Name == 'OEM_PLTFRM_EOL_DT'" class="dealCell" [innerHTML]="uiControlEndDateWrapper(in_DataItem, in_Field_Name)"></div>
<div *ngIf="in_Field_Name == 'COMP_SKU'" class="uiControlDiv isReadOnlyCell vert-center" [innerHTML]="getFormatedDim(in_DataItem)"></div>
<div *ngIf="in_Field_Name == 'EXPIRE_FLG'" [innerHTML]="uiBoolControlWrapper(in_DataItem, in_Field_Name)" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'WF_STG_CD'" [innerHTML]="uiParentControlWrapper(in_DataItem)"></div>
<div *ngIf="in_Field_Name == 'PRD_BCKT'" [innerHTML]="uiProductDimControlWrapper(in_DataItem, 'kit')" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'PRD_BCKT_SUBKIT'" [innerHTML]="uiProductDimControlWrapper(in_DataItem, 'subkit')" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'TITLE'" [innerHTML]="uiProductControlWrapper(in_DataItem)"></div>
<div *ngIf="in_Field_Name == 'DEAL_SOLD_TO_ID'" [innerHTML]="uiMultiselectArrayControlWrapper(in_DataItem, in_Field_Name)" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'PRIMARY_OR_SECONDARY'" [innerHTML]="uiPrimarySecondaryDimControlWrapper(in_DataItem)" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'KIT_REBATE_BUNDLE_DISCOUNT'" [innerHTML]="uiKitCalculatedValuesControlWrapper(in_DataItem, 'kit', 'rebateBundle')" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'SUBKIT_REBATE_BUNDLE_DISCOUNT'" [innerHTML]="uiKitCalculatedValuesControlWrapper(in_DataItem, 'subkit', 'rebateBundle')" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'BACKEND_REBATE'" [innerHTML]="uiControlBackEndRebateWrapper(in_DataItem)" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'TOTAL_DSCNT_PR_LN'" [innerHTML]="uiTotalDiscountPerLineControlWrapper(in_DataItem)" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'KIT_SUM_OF_TOTAL_DISCOUNT_PER_LINE'" [innerHTML]="uiKitCalculatedValuesControlWrapper(in_DataItem, 'kit', 'sumTD')" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'SUBKIT_SUM_OF_TOTAL_DISCOUNT_PER_LINE'" [innerHTML]="uiKitCalculatedValuesControlWrapper(in_DataItem, 'subkit', 'sumTD')" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'TOTAL_CR_DB_PERC'" [innerHTML]="uiCrDbPercWrapper(in_DataItem)" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'CAP_INFO'" [innerHTML]="uiDimInfoControlWrapper(in_DataItem,'CAP')" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'YCS2_INFO'" [innerHTML]="uiDimInfoControlWrapper(in_DataItem,'YCS2')" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'MISSING_CAP_COST_INFO'" [innerHTML]="getMissingCostCapIcon(in_DataItem)" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'MEETCOMP_TEST_RESULT' || in_Field_Name == 'COST_TEST_RESULT'" [id]="in_Field_Name + '_' + in_DataItem['DC_ID']" class="dealCell">
    <div [innerHTML]="getResultSingleIcon(in_DataItem, in_Field_Name)" class="dealCell"></div>
</div>
<!--<div *ngIf="in_Field_Name == 'MEETCOMP_TEST_RESULT'">
    <i class="getResultMappingIconClass(in_DataItem[in_Field_Name])" [ngStyle]="{color:getColorStyle(in_DataItem[in_Field_Name])}" [title]="getResultMappingIconClass(in_DataItem[in_Field_Name])"></i>
</div>-->
<div *ngIf="in_Field_Name != 'DC_ID' && in_Field_Name != 'ECAP_PRICE' && in_Field_Name !== 'CUST_MBR_SID' && in_Field_Name !== 'KIT_ECAP'
                             && in_Field_Name != 'tools' && in_Field_Name != 'details' && in_Field_Name != 'PASSED_VALIDATION'
                             && !in_Template.includes('gridUtils.uiControlWrapper') && !in_Template.includes('gridUtils.uiPositiveDimControlWrapper')
                             && !(in_Field_Name == 'TIER_NBR' && (in_Deal_Type == 'VOL_TIER' || in_Deal_Type == 'REV_TIER')) && in_Field_Name !== 'COMP_SKU'
     && !in_Template.includes('gridUtils.uiReadonlyControlWrapper') && in_Field_Name !== 'TRKR_NBR' && in_Field_Name !== 'COMPETITIVE_PRICE'
     && in_Field_Name != 'START_DT' && in_Field_Name != 'LAST_REDEAL_DT' && in_Field_Name !== 'END_DT' && in_Field_Name !== 'OEM_PLTFRM_LNCH_DT' && in_Field_Name !== 'OEM_PLTFRM_EOL_DT'
     && in_Field_Name !== 'EXPIRE_FLG' && in_Field_Name !== 'WF_STG_CD' && in_Field_Name !== 'PRD_BCKT' && in_Field_Name !== 'PRD_BCKT_SUBKIT' && in_Field_Name !== 'TITLE'
     && in_Field_Name !== 'DEAL_SOLD_TO_ID' && in_Field_Name !== 'PRIMARY_OR_SECONDARY' && in_Field_Name !== 'KIT_REBATE_BUNDLE_DISCOUNT'
     && in_Field_Name !== 'SUBKIT_REBATE_BUNDLE_DISCOUNT' && in_Field_Name !== 'BACKEND_REBATE' && in_Field_Name !== 'TOTAL_DSCNT_PR_LN'
     && in_Field_Name !== 'CAP_KIT' && in_Field_Name !== 'YCS2_KIT' && in_Field_Name !== 'KIT_SUM_OF_TOTAL_DISCOUNT_PER_LINE' && in_Field_Name !== 'SUBKIT_SUM_OF_TOTAL_DISCOUNT_PER_LINE'
     && in_Field_Name !== 'TOTAL_CR_DB_PERC' && in_Field_Name !== 'MEETCOMP_TEST_RESULT' && in_Field_Name !== 'COST_TEST_RESULT' && in_Field_Name !== 'CAP_INFO'
     && in_Field_Name !== 'YCS2_INFO' && in_Field_Name !== 'MISSING_CAP_COST_INFO'"
     [innerHTML]="in_Template" class="uiControlDiv wrap readOnlyCell dealCell">
</div><!--rest of the other columns needs to be added-->