.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.wrap {
    white-space: nowrap !important;
}

.vert-center {
    transform: translateY(-5%) !important;
}

#chkDealTools label {
    margin: 5px 0 0 5px;
}

.k-grid-content tr {
    background-color: white;
}

#dealEditor tr {
    background-color: white !important;
}

.dimKey {
    font-size: 9px;
    line-height: 1em;
    background-color: #00AEEF;
    color: #ffffff;
    padding: 2px;
    text-transform: uppercase;
}

.badge.error {
    background-color: #FC4C02;
}

.badge {
    vertical-align: top !important;
}

.badge.warning {
    background-color: #f3D54E;
}

.rowHeight {
    height: 25px;
    padding: 2px 0px 0px 1px;
}

.rowDetailHeight {
    height: 40px !important;
    border: 0.1px solid lightgrey;
    padding: 2px 0px 0px 1px;
}

.densityRow {
    border: 0.1px solid lightgrey;
    padding: 2px 0px 0px 1px;
    text-align:right;
}

.densityPadding{
    padding:0px 4px !important;
}

.densityRatePadding {
    padding: 0px 15px !important;
}

.rowRightBorder {
    border-right: 0.1px solid lightgrey;
}

.rowBorder {
    border: 0.1px solid lightgrey;
}

.rowValueHeight {
    height: 37px !important;
    font-size: 12px !important;
    text-align: left !important;
    overflow: hidden;
}

.kitRowValue {
    height: 37px !important;
    font-size: 12px !important;
    text-align: right !important;
    overflow: hidden;
}

.tierHeader {
    padding: 0 4px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10px;
    background: #eeeeee;
    text-align: center;
    height: 25px;
    white-space: nowrap;
    border-right: 0.1px solid lightgrey;
}

.tierBorder {
    border-bottom: 2px solid #0071C5
}

.err-bit {
    margin: 0px 0 0 -10px !important;
}

tr:last-child > td {
    border-bottom-width: 1px !important;
}

.k-grid td {
    border-bottom: 1px solid lightgrey !important;
    padding: 0px !important;
}

.k-grid-edit-row .k-textbox, .k-widget {
    width: 100% !important;
}

#dealEditorTab .k-tabstrip-items .k-item {
    background: #fdfdfd;
    background: -moz-linear-gradient(top, #fdfdfd 0%, #d9d9d9 100%);
    background: -webkit-linear-gradient(top, #fdfdfd 0%,#d9d9d9 100%);
    background: linear-gradient(to bottom, #fdfdfd 0%,#d9d9d9 100%);
    color: #003C71 !important;
    padding: 0.6em !important;
    text-transform: none !important;
    background-color: #fff;
    border-bottom-width: 0;
}

#dealEditorTab .k-tabstrip-items .k-state-active {
    background: -moz-linear-gradient(top, #fdfdfd 0%, #fff 100%);
    background: -webkit-linear-gradient(top, #fdfdfd 0%,#fff 100%);
    background: linear-gradient(to bottom, #fdfdfd 0%,#fff 100%);
    border-color: #b1babf;
    border-width: 1px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0;
    border-radius: 4px 4px 0 0;
}

.displayBlock{
    display:block;
}

.topPadding{
    padding-top:3px !important;
}

.saveButton {
    width:10%;
}

.text{
    display:inline-flex;
    padding: 0px 5px;
}