<div *ngIf="in_Field_Name === 'EXCLUDE_AUTOMATION'">
    <input type='checkbox' class='grid-link-checkbox with-font' [(ngModel)]="in_DataItem.isExclSel"/>
</div>
<div *ngIf="in_Field_Name === 'tools'" class="dealCell">
    <deal-tools-angular [dataItem]='in_DataItem' [isSplitEnabled]='true' [isFileAttachmentEnabled]='true' 
                        [isHistoryEnabled]='true' [isCommentEnabled]='true' [isEditable]='true' 
                        [isQuoteLetterEnabled]='true' [isDeleteEnabled]='true' [gridData]="grid_Data" [contractData]="contract_Data"
                        (iconSaveUpdate)="updateIcon($event)" (refreshContract)="refreshContractData($event)">
    </deal-tools-angular>
</div>
<div *ngIf="in_Field_Name === 'details'" style="height:100% !important">
    <deal-details-angular style="height:100% !important" [dealDetail]='in_DataItem'></deal-details-angular>
</div>
<div *ngIf="in_Template.includes('gridUtils.uiControlWrapper')" [innerHTML]="uiControlWrapper(in_DataItem, in_Field_Name, '')"
     class="uiControlDiv wrap dealCell" [ngClass]="{'isReadOnlyCell': isReadonlyCell(in_DataItem, in_Field_Name), 'isDirtyCell': isDirtyCell(in_DataItem,in_Field_Name), 'isErrorCell': isErrorCell(in_DataItem,in_Field_Name)}">
</div>
<div *ngIf="in_Template.includes('gridUtils.uiPositiveDimControlWrapper')" [innerHTML]="uiPositiveDimControlWrapper(in_DataItem, in_Field_Name)" class="uiControlDiv wrap dealCell">
</div>
<div *ngIf="in_Field_Name == 'DC_ID'" [innerHTML]="uiControlDealWrapper(in_DataItem, in_Field_Name)" class="uiControlDiv wrap"
     [ngClass]="{'isReadOnlyCell': isReadonlyCell(in_DataItem, in_Field_Name), 'isDirtyCell': isDirtyCell(in_DataItem,in_Field_Name), 'isErrorCell': isErrorCell(in_DataItem,in_Field_Name)}">
    <!--<deal-popup-angular></deal-popup-angular>-->
</div>
<div *ngIf="in_Field_Name == 'CUST_MBR_SID'" [innerHTML]="uiCustomerControlWrapper(in_DataItem, in_Field_Name, '')" class="dealCell">
</div>
<div *ngIf="(in_Field_Name == 'ECAP_PRICE' && in_Deal_Type == 'ECAP') || in_Field_Name == 'KIT_ECAP' || in_Field_Name == 'SUBKIT_ECAP' || in_Field_Name == 'COMPETITIVE_PRICE' || in_Field_Name == 'CAP_KIT' || in_Field_Name == 'YCS2_KIT'" [innerHTML]="uiDimControlWrapper(in_DataItem, in_Field_Name)"
     [ngClass]="{'isReadOnlyCell': isReadonlyCell(in_DataItem, in_Field_Name), 'isDirtyCell': isDirtyCell(in_DataItem,in_Field_Name), 'isErrorCell': isErrorCell(in_DataItem,in_Field_Name), 'uiControlDiv isReadOnlyCell' : (in_Field_Name == 'COMPETITIVE_PRICE' || in_Field_Name == 'CAP_KIT')}">
</div>
<div *ngIf="in_Field_Name == 'PASSED_VALIDATION'" [innerHTML]="uiValidationErrorDetail(in_DataItem)" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'TIER_NBR' && (in_Deal_Type == 'VOL_TIER' || in_Deal_Type == 'REV_TIER' || in_Deal_Type == 'FLEX')" [innerHTML]="uiControlScheduleWrapper(in_DataItem)" class="breakoutColumn tier"></div>
<div *ngIf="in_Field_Name == 'TIER_NBR' && (in_Deal_Type == 'DENSITY')" [innerHTML]="uiControlScheduleWrapperDensity(in_DataItem)" class="breakoutColumn dealCell tier"></div>
<div *ngIf="in_Template.includes('gridUtils.uiReadonlyControlWrapper')" [innerHTML]="uiReadonlyControlWrapper(in_DataItem, in_Field_Name)" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'TRKR_NBR'" [innerHTML]="uiDimTrkrControlWrapper(in_DataItem)" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'START_DT' || in_Field_Name == 'LAST_REDEAL_DT'" [innerHTML]="uiStartDateWrapper(in_DataItem, in_Field_Name)"></div>
<div *ngIf="in_Field_Name == 'END_DT' || in_Field_Name == 'OEM_PLTFRM_LNCH_DT' || in_Field_Name == 'OEM_PLTFRM_EOL_DT'" [innerHTML]="uiControlEndDateWrapper(in_DataItem, in_Field_Name)"></div>
<div *ngIf="in_Field_Name == 'COMP_SKU'" class="uiControlDiv isReadOnlyCell vert-center" [innerHTML]="getFormatedDim(in_DataItem)"></div>
<div *ngIf="in_Field_Name == 'EXPIRE_FLG'" [innerHTML]="uiBoolControlWrapper(in_DataItem, in_Field_Name)" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'WF_STG_CD'" style="height: 100% !important;" [innerHTML]="uiParentControlWrapper(in_DataItem)"></div>
<div *ngIf="in_Field_Name == 'PRD_BCKT'" [innerHTML]="uiProductDimControlWrapper(in_DataItem, 'kit')" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'PRD_BCKT_SUBKIT'" [innerHTML]="uiProductDimControlWrapper(in_DataItem, 'subkit')" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'TITLE'" style="height: 100% !important;" [innerHTML]="uiProductControlWrapper(in_DataItem)"></div>
<div *ngIf="in_Field_Name == 'DEAL_SOLD_TO_ID'" [innerHTML]="uiMultiselectArrayControlWrapper(in_DataItem, in_Field_Name)" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'PRIMARY_OR_SECONDARY'" [innerHTML]="uiPrimarySecondaryDimControlWrapper(in_DataItem)" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'KIT_REBATE_BUNDLE_DISCOUNT'" [innerHTML]="uiKitCalculatedValuesControlWrapper(in_DataItem, 'kit', 'rebateBundle')" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'SUBKIT_REBATE_BUNDLE_DISCOUNT'" [innerHTML]="uiKitCalculatedValuesControlWrapper(in_DataItem, 'subkit', 'rebateBundle')" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'BACKEND_REBATE'" [innerHTML]="uiControlBackEndRebateWrapper(in_DataItem)" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'TOTAL_DSCNT_PR_LN'" [innerHTML]="uiTotalDiscountPerLineControlWrapper(in_DataItem)" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'KIT_SUM_OF_TOTAL_DISCOUNT_PER_LINE'" [innerHTML]="uiKitCalculatedValuesControlWrapper(in_DataItem, 'kit', 'sumTD')" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'SUBKIT_SUM_OF_TOTAL_DISCOUNT_PER_LINE'" [innerHTML]="uiKitCalculatedValuesControlWrapper(in_DataItem, 'subkit', 'sumTD')" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'TOTAL_CR_DB_PERC'" [innerHTML]="uiCrDbPercWrapper(in_DataItem)" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'CAP_INFO' || in_Field_Name == 'YCS2_INFO'" class="dealCell vert-center">
    <div *ngIf="in_DataItem['ECAP_PRICE'] != undefined && in_DataItem['ECAP_PRICE'] != null">
        <div class="col-md-12">
            <div *ngFor="let key Of keyArray(in_DataItem['ECAP_PRICE']); let i = index">
                <div *ngIf="key.indexOf('___') >= 0 && key.indexOf('_____') < 0" (click)="openModal(fieldModifier, in_DataItem, getProductSid(in_DataItem.PRODUCT_FILTER, key), fieldModifier)">
                    <!-- Popover Template -->
                    <ng-template #popoverContent>
                        <div class="container">
                            <div class="row">
                                <button style="float: right;" class="btn btn-light btn-sm" (click)="popOver.close()">❌</button>
                            </div>
                            <div class="row">
                                <grid-popover [popOver]="popOver" [columnTypes]="fieldModifier" [currentPricingTableRow]="in_DataItem" [productMemberSId]="getProductSid(in_DataItem.PRODUCT_FILTER, key)" [priceCondition]="fieldModifier"></grid-popover>
                            </div>
                        </div>
                    </ng-template>

                    <!-- Cell Content -->
                    <div class="col-md-12" #popOver="ngbPopover" [ngbPopover]="popoverContent">
                        <!-- CAP/YCS2 Info cell design -->
                        <div class="col-md-12 textRightAlign" [ngClass]="{'isHiddenCell': isHiddenCell(in_DataItem, fieldModifier),'isRequiredCell' : isRequiredCell(in_DataItem, fieldModifier),'isReadOnlyCell': isReadonlyCell(in_DataItem, fieldModifier), 'isDirtyCell': isDirtyCell(in_DataItem, fieldModifier), 'isErrorCell': isErrorCell(in_DataItem, fieldModifier),'isSavedCell': isSavedCell(in_DataItem, fieldModifier)}">
                            <div [innerHTML]="uiMoneyDatesControlWrapper(in_DataItem, fieldModifier + YCS2modifier, fieldText, fieldModifier + '_END_DT', key)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="in_Field_Name == 'MISSING_CAP_COST_INFO'" [innerHTML]="getMissingCostCapIcon(in_DataItem)" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'MEETCOMP_TEST_RESULT' || in_Field_Name == 'COST_TEST_RESULT'" [id]="in_Field_Name + '_' + in_DataItem['DC_ID']" class="dealCell">
    <div [innerHTML]="getResultSingleIcon(in_DataItem, in_Field_Name)" class="dealCell"></div>
</div>
<div *ngIf="in_Field_Name != 'DC_ID' && in_Field_Name != 'ECAP_PRICE' && in_Field_Name !== 'CUST_MBR_SID' && in_Field_Name !== 'KIT_ECAP' && in_Field_Name !== 'SUBKIT_ECAP'
                             && in_Field_Name != 'tools' && in_Field_Name != 'details' && in_Field_Name != 'PASSED_VALIDATION'
                             && !in_Template.includes('gridUtils.uiControlWrapper') && !in_Template.includes('gridUtils.uiPositiveDimControlWrapper')
                             && in_Field_Name !== 'TIER_NBR' && in_Field_Name !== 'COMP_SKU'
     && !in_Template.includes('gridUtils.uiReadonlyControlWrapper') && in_Field_Name !== 'TRKR_NBR' && in_Field_Name !== 'COMPETITIVE_PRICE'
     && in_Field_Name != 'START_DT' && in_Field_Name != 'LAST_REDEAL_DT' && in_Field_Name !== 'END_DT' && in_Field_Name !== 'OEM_PLTFRM_LNCH_DT' && in_Field_Name !== 'OEM_PLTFRM_EOL_DT'
     && in_Field_Name !== 'EXPIRE_FLG' && in_Field_Name !== 'WF_STG_CD' && in_Field_Name !== 'PRD_BCKT' && in_Field_Name !== 'PRD_BCKT_SUBKIT' && in_Field_Name !== 'TITLE'
     && in_Field_Name !== 'DEAL_SOLD_TO_ID' && in_Field_Name !== 'PRIMARY_OR_SECONDARY' && in_Field_Name !== 'KIT_REBATE_BUNDLE_DISCOUNT'
     && in_Field_Name !== 'SUBKIT_REBATE_BUNDLE_DISCOUNT' && in_Field_Name !== 'BACKEND_REBATE' && in_Field_Name !== 'TOTAL_DSCNT_PR_LN'
     && in_Field_Name !== 'CAP_KIT' && in_Field_Name !== 'YCS2_KIT' && in_Field_Name !== 'KIT_SUM_OF_TOTAL_DISCOUNT_PER_LINE' && in_Field_Name !== 'SUBKIT_SUM_OF_TOTAL_DISCOUNT_PER_LINE'
     && in_Field_Name !== 'TOTAL_CR_DB_PERC' && in_Field_Name !== 'MEETCOMP_TEST_RESULT' && in_Field_Name !== 'COST_TEST_RESULT' && in_Field_Name !== 'CAP_INFO'
     && in_Field_Name !== 'YCS2_INFO' && in_Field_Name !== 'MISSING_CAP_COST_INFO'" [innerHTML]="in_Template"
    class="uiControlDiv wrap readOnlyCell dealCell">
</div>
<!--Code commented for twc3167-1939-->
<!--<div *ngIf="in_Field_Name == 'CAP'" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'CAP_STRT_DT'" class="dealCell"></div>
<div *ngIf="in_Field_Name == 'CAP_END_DT'" class="dealCell"></div>-->
<!--rest of the other columns needs to be added-->