.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.wrap {
    white-space: nowrap !important;
}

.vert-center {
    transform: translateY(-5%) !important;
}

#chkDealTools label {
    margin: 5px 0 0 5px;
}

.k-grid-content tr {
    background-color: white;
}

#dealEditor tr {
    background-color: white !important;
}

.dimKey {
    font-size: 9px;
    line-height: 1em;
    background-color: #00AEEF;
    color: #ffffff;
    padding: 2px;
    text-transform: uppercase;
}

.badge.error {
    background-color: #FC4C02;
}

.badge {
    vertical-align: top !important;
}

    .badge.warning {
        background-color: #f3D54E;
    }

.rowHeight {
    height: 25px;
    padding: 2px 0px 0px 1px;
}

.rowDetailHeight {
    height: 40px !important;
    border: 0.1px solid lightgrey;
    padding: 2px 0px 0px 1px;
}

.densityRow {
    border: 0.1px solid lightgrey;
    padding: 2px 0px 0px 1px;
    text-align: right;
}

.densityPadding {
    padding: 0px 4px !important;
}

.densityRatePadding {
    padding: 0px 15px !important;
}

.rowRightBorder {
    border-right: 0.1px solid lightgrey;
}

.rowBorder {
    border: 0.1px solid lightgrey;
}

.rowValueHeight {
    height: 37px !important;
    font-size: 12px !important;
    text-align: left !important;
    overflow: hidden;
}

.kitRowValue {
    height: 37px !important;
    font-size: 12px !important;
    text-align: right !important;
    overflow: hidden;
}

.tierHeader {
    padding: 0 4px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10px;
    background: #eeeeee;
    text-align: center;
    height: 25px;
    white-space: nowrap;
    border-right: 0.1px solid lightgrey;
}

.tierBorder {
    border-bottom: 2px solid #0071C5
}

.err-bit {
    margin: 0px 0 0 -10px !important;
}

tr:last-child > td {
    border-bottom-width: 1px !important;
}

.k-grid td {
    border-bottom: 1px solid lightgrey !important;
    padding: 0px !important;
    white-space: nowrap;
}

.k-grid-edit-row .k-textbox, .k-widget {
    width: 100% !important;
}

#dealEditorTab .k-tabstrip-items .k-item {
    background: #fdfdfd;
    background: -moz-linear-gradient(top, #fdfdfd 0%, #d9d9d9 100%);
    background: -webkit-linear-gradient(top, #fdfdfd 0%,#d9d9d9 100%);
    background: linear-gradient(to bottom, #fdfdfd 0%,#d9d9d9 100%);
    color: #003C71 !important;
    padding: 0.8em !important;
    text-transform: none !important;
    background-color: #fff;
    border-bottom-width: 0;
}

#dealEditorTab .k-tabstrip-items .k-state-active {
    background: -moz-linear-gradient(top, #fdfdfd 0%, #fff 100%);
    background: -webkit-linear-gradient(top, #fdfdfd 0%,#fff 100%);
    background: linear-gradient(to bottom, #fdfdfd 0%,#fff 100%);
    border-color: #b1babf;
    border-width: 1px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0;
    border-radius: 4px 4px 0 0;
    color: #00AEEF !important;
}

.displayBlock {
    display: block;
}

.topPadding {
    padding-top: 3px !important;
}

.saveButton {
    width: 10%;
}

.text {
    display: inline-flex;
    padding: 0px 5px;
    font-size: 11px !important;
    font-weight: 200;
    line-height: 1em;
}

.textRightAlign {
    text-align: right;
}

.gridCellSpan {
    color: #0071C5;
    cursor: pointer;
}

.dataPadding {
    padding: 0 4px;
}

.dateWrapper {
    font-size: 12px;
    color: #00AEEF;
}

.capInfoWrapper {
    font-family: arial;
    text-align: center;
    color: white;
}

.capLineStyle {
    line-height: 1em;
    font-family: arial;
    text-align: center;
    font-weight: 600
}

.msgClassStyles {
    line-height: 1em;
    font-family: arial;
    text-align: center;
}

.boldFont {
    font-weight: bold;
}

.creditDebitAlignmentStyle {
    height: 12px;
    margin-top: -2px;
    margin-bottom: 2px;
}

.progressBarTextSize {
    font-size: 10px;
    line-height: 10px;
}

.iConFont {
    font-size: 20px !important
}

.cursorStyle {
    cursor: pointer;
}

.missingCapStyle {
    color: rgb(243, 213, 78);
    font-size: 18px !important;
}

.bigIcon {
    font-size: 26px;
}
.k-hstack {
    height: 37px;
    font-size: 14px;
    font-family: "Intel Clear";
}

.op-grid-container {
    height: 100%;
    padding: 0 10px;
    overflow: hidden;
}

.k-pager-wrap {
    background-color: #ffffff;
}

.op-grid .k-pager-wrap {
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 0 solid transparent;
}

.k-webkit .k-pager-wrap {
    min-height: 2.56em;
}

.op-grid.k-grid {
    width: 100% !important;
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
}

.opUiContainer.md {
    font-size: 12px;
}

.k-grid {
    box-shadow: none;
    position: relative;
    zoom: 1;
}

.k-grid-lockedcolumns {
    white-space: nowrap;
}

/*#dealEditor > .k-auto-scrollable {
    min-height: 60px;
    min-width: 60px;
}*/

.op-grid.k-grid .k-grid-header, .op-grid.k-grid .k-grid-content {
    border-right: 1px solid #e6e6e6;
}

.k-grid-content-locked + .k-grid-content {
    display: inline-block;
    vertical-align: top;
}

.k-grid-content {
    zoom: 1;
}

.op-grid.k-grid .uiControlDiv {
    height: 100%;
}

.op-grid .uiControlDiv {
    padding: 4px 8px;
    min-height: 20px;
}

.uiControlDiv {
    border: 1px solid transparent;
}

.isReadOnlyCell {
    color: #000 !important;
    background-color: rgba(0,0,0,.05) !important;
}

.k-link:active {
    color: white !important;
}

.k-header, .headerClass, .k-touch-action-none, .k-filterable, .k-grid-draggable-header {
    background: linear-gradient(rgb(253, 253, 253) 0%, rgb(217, 217, 217) 100%) !important;
}

.k-grid table {
    height: 100% !important;
    width: 100% !important;
}

.col-md-12 {
    padding: 0 !important;
}

.gradTab.k-tabstrip .k-tabstrip-items .k-state-active .k-link {
    color: #00AEEF;
}

.opUiContainer.md.k-grid td {
    font-size: 12px !important;
    height: 33px !important;
}

.dealTools {
    margin-top: 38px;
}

.k-label {
    padding: 1px;
    min-width: 7px;
    display: inline-block;
}

.op-grid.k-grid .k-grid-header .k-header .k-link {
    font-weight: 600;
}

.op-grid.k-grid .k-grid-filter .k-icon.k-i-filter {
    color: #00AEEF;
    opacity: 1;
}

.intelicon-protection-solid {
    font-size: 20px;
}

.op-grid.k-grid .k-grid-header th.k-header {
    vertical-align: top;
}

.k-state-disabled {
    opacity: 1 !important;
}

.k-cell-inner {
    font-size: 11px !important;
}
.dealCell {
    height: 100% !important;
    width: 100% !important;
}

