<div *ngIf="in_Field_Name == 'DEAL_DESC' || in_Field_Name == 'TERMS' || in_Field_Name == 'QLTR_PROJECT' || in_Field_Name == 'RPU_OVERRIDE_CMNT' || in_Field_Name == 'CONSUMPTION_REASON_CMNT' || in_Field_Name == 'QUOTE_LN_ID'">
    <kendo-textbox (valueChange)="valueChange(in_DataItem, in_Field_Name)" [ngModel]="in_DataItem[in_Field_Name]"
                   (ngModelChange)="in_DataItem[in_Field_Name] = $event">
    </kendo-textbox>
</div>
<div *ngIf="(in_Field_Name == 'ECAP_PRICE' && in_Deal_Type == 'ECAP') || in_Field_Name == 'VOLUME' || in_Field_Name == 'FRCST_VOL' || in_Field_Name == 'KIT_ECAP' || in_Field_Name == 'CONSUMPTION_LOOKBACK_PERIOD'
     || in_Field_Name == 'USER_MAX_RPU' || in_Field_Name == 'USER_AVG_RPU' || in_Field_Name == 'TOTAL_DOLLAR_AMOUNT' || in_Field_Name == 'ADJ_ECAP_UNIT'
     || in_Field_Name == 'MAX_PAYOUT' || in_Field_Name == 'REBATE_OA_MAX_VOL' || in_Field_Name == 'REBATE_OA_MAX_AMT'">
    <div *ngIf="in_Field_Name == 'ECAP_PRICE' && in_Deal_Type == 'ECAP'" class="dimKey">{{translateDimKey(ecapDimKey)}}</div>
    <div *ngIf="in_Field_Name == 'KIT_ECAP'" class="dimKey">{{translateDimKey(kitEcapdim)}}</div>
    <kendo-numerictextbox [ngModel]="in_Field_Name == 'ECAP_PRICE' ? in_DataItem.ECAP_PRICE[ecapDimKey] : (in_Field_Name =='KIT_ECAP') ? in_DataItem.ECAP_PRICE[kitEcapdim] : in_DataItem[in_Field_Name]"
                          (ngModelChange)="in_Field_Name == 'ECAP_PRICE' ? in_DataItem.ECAP_PRICE[ecapDimKey] = $event : (in_Field_Name =='KIT_ECAP') ? in_DataItem.ECAP_PRICE[kitEcapdim] = $event : in_DataItem[in_Field_Name] = $event"
                          [min]="0" (valueChange)="valueChange(in_DataItem, in_Field_Name)"
                          [value]="in_Field_Name == 'ECAP_PRICE' ? in_DataItem.ECAP_PRICE[ecapDimKey] : (in_Field_Name =='KIT_ECAP') ? in_DataItem.ECAP_PRICE[kitEcapdim] : in_DataItem[in_Field_Name]"
                          [format]="(in_Field_Name == 'VOLUME' || in_Field_Name == 'FRCST_VOL' || in_Field_Name == 'CONSUMPTION_LOOKBACK_PERIOD' || in_Field_Name == 'REBATE_OA_MAX_VOL') ? 'n0' : 'n2'"
                          [autoCorrect]="autoCorrect"  [decimals]="decimals">
    </kendo-numerictextbox>
</div>
<div *ngIf="((in_Field_Name == 'ECAP_PRICE' || in_Field_Name == 'DSCNT_PER_LN') && in_Deal_Type == 'KIT')">
    <div *ngFor="let key Of tierArray(in_DataItem[in_Field_Name]); let i = index">
        <div *ngIf="(in_Field_Name == 'ECAP_PRICE' && i > 0) || in_Field_Name == 'DSCNT_PER_LN'">
            <div class="dimKey">{{translateDimKey(key)}}</div>
            <kendo-numerictextbox [ngModel]="in_DataItem[in_Field_Name][key]"
                                  (ngModelChange)="in_DataItem[in_Field_Name][key] = $event"
                                  [min]="0" (valueChange)="valueChange(in_DataItem, in_Field_Name, key)"
                                  [value]="in_DataItem[in_Field_Name][key]"
                                  autoCorrect="true" [decimals]="decimals">
            </kendo-numerictextbox>
        </div>
    </div>
</div>
<div *ngIf="in_Field_Name == 'REBATE_BILLING_START' || in_Field_Name == 'REBATE_BILLING_END' || in_Field_Name == 'START_DT' || in_Field_Name == 'LAST_REDEAL_DT'
     || in_Field_Name == 'END_DT' || in_Field_Name == 'OEM_PLTFRM_LNCH_DT' || in_Field_Name == 'OEM_PLTFRM_EOL_DT' || in_Field_Name == 'ON_ADD_DT'">
    <kendo-datepicker [ngModel]="in_DataItem[in_Field_Name]" id="dealDatePicker"
                          (ngModelChange)="in_DataItem[in_Field_Name] = $event"
                          (valueChange)="valueChange(in_DataItem, in_Field_Name)"
                          [incompleteDateValidation]="true" 
                          format="MM/dd/yyyy"
                          (blur)="onBlur(dealDate)"
                          (focus)="onBlur(dealDate)"
                          (keydown)="onKeyDown($event, dealDate)"
                          [ngbTooltip]="message" 
                          #dealDateToolTip="ngbTooltip" 
                          tooltipClass="toolTipReq" 
                          triggers="manual" 
                          placement="bottom"
                          container="body"
                          name="dealDate"
                          #dealDate="ngModel"
                         calendarType="classic"
                      >
        </kendo-datepicker>
</div>
<div *ngIf="in_Field_Name == 'TIER_NBR' && (in_Deal_Type == 'VOL_TIER' || in_Deal_Type == 'REV_TIER' || in_Deal_Type == 'FLEX')">
    <div *ngFor="let fieldDet of fields">
        <div *ngIf="fieldDet.title === 'Tier'" class="col-md-3 tierHeader">{{fieldDet.title}}</div>
        <div *ngIf="fieldDet.title !== 'Tier' && fieldDet.field !== 'INCENTIVE_RATE'" class="col-md-3 tierHeader tierBorder">{{fieldDet.title}}</div>
        <div *ngIf="fieldDet.title !== 'Tier' && fieldDet.field === 'INCENTIVE_RATE'" class="col-md-3 tierHeader tierBorder" id="incentiveRate">{{fieldDet.title}}</div>
    </div>
    <div *ngFor="let key Of tierArray(in_DataItem.TIER_NBR); let i = index">
        <div class="col-md-12 rowDetailHeight">
            <div *ngFor="let fieldDet of fields">
                <div class="col-md-3 rowDetailHeight">
                    <span class="tierColumn rowValueHeight" *ngIf="fieldDet.title == 'Tier' || (fieldDet.title.includes('Start') && (i != 0 || in_DataItem['HAS_TRACKER'] == 1)) || (fieldDet.title.includes('End') && in_DataItem['HAS_TRACKER'] == 1 && i != (in_DataItem['NUM_OF_TIERS']-1))">{{in_DataItem[fieldDet.field][key]}}</span>
                    <span class="rowValueHeight" *ngIf="(fieldDet.title.includes('Start') && (i == 0 && in_DataItem['HAS_TRACKER'] == 0)) || ((fieldDet.title.includes('End') && (in_DataItem['HAS_TRACKER'] == 0 || (in_DataItem['HAS_TRACKER'] == 1 && i==(in_DataItem['NUM_OF_TIERS']-1)))) || fieldDet.title.includes('Rate'))">
                        <kendo-numerictextbox class="rowValueHeight"
                                              [ngModel]="convertToLowerCase(in_DataItem[fieldDet.field][key]) == 'unlimited' ? '' : in_DataItem[fieldDet.field][key]"
                                              (ngModelChange)="in_DataItem[fieldDet.field][key] = $event"
                                              [value]="convertToLowerCase(in_DataItem[fieldDet.field][key]) == 'unlimited' ? '' : in_DataItem[fieldDet.field][key]"
                                              [min]="getMinValue(fieldDet.field)" (valueChange)="updateTierAttributes(in_DataItem, fieldDet.field,(i+1))"
                                              [autoCorrect]="autoCorrect" [format]="(fieldDet.field.includes('RATE') || in_Deal_Type == 'REV_TIER' )? 'n2' : 'n0'">
                        </kendo-numerictextbox>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tier-breakout" *ngIf="in_Field_Name == 'TIER_NBR' && (in_Deal_Type == 'DENSITY')">
    <div *ngFor="let fieldDet of fields">
        <div *ngIf="fieldDet.title === 'Tier'" class="col-md-2 tierHeader">{{fieldDet.title}}</div>
        <div *ngIf="fieldDet.title === 'Band' || fieldDet.title === 'Rate'" class="col-md-3 tierHeader">{{fieldDet.title}}</div>
        <div *ngIf="fieldDet.title !== 'Tier' && fieldDet.title !== 'Band' && fieldDet.title !== 'Rate'" class="col-md-2 tierHeader tierBorder">{{fieldDet.title}}</div>
    </div>
    <div *ngFor="let key Of tierArray(in_DataItem.TIER_NBR); let i = index">
        <div class="col-md-12 rowBorder">
            <div class="parent-tier-child" *ngFor="let fieldDet of fields">
                <div class="tier-child-one" *ngIf="fieldDet.field == 'TIER_NBR'">
                    <div class="col-md-2 topPadding">
                        <span>{{in_DataItem[fieldDet.field][key]}}</span>
                    </div>
                </div>
                <div class="tier-child-two" *ngIf="fieldDet.field == 'DENSITY_BAND' || fieldDet.field == 'DENSITY_RATE'">
                    <div class="col-md-3 topPadding">
                        <div *ngFor="let keyBand Of tierArray(in_DataItem.NUM_OF_DENSITY); let band = index">
                            <div *ngIf="fieldDet.field == 'DENSITY_RATE'">
                                <span class="densityRatePadding">
                                    <kendo-numerictextbox [ngModel]="in_DataItem[fieldDet.field]['8___' + (band+1) + '____' + key]"
                                                          (ngModelChange)="in_DataItem[fieldDet.field]['8___' + (band+1) + '____' + key] = $event"
                                                          [min]="0" (valueChange)="updateTierAttributes(in_DataItem, fieldDet.field,(i+1))"
                                                          [value]="in_DataItem[fieldDet.field]['8___' + (band+1) + '____' + key]"
                                                          [autoCorrect]="autoCorrect" format="n2">
                                    </kendo-numerictextbox>
                                </span>
                            </div>
                            <div *ngIf="fieldDet.field == 'DENSITY_BAND'">
                                <span class="displayBlock rowBorder" [style.height.px]="47">
                                    {{in_DataItem[fieldDet.field]['8___' + (band+1)]}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="tier-child-three" *ngIf="fieldDet.field == 'STRT_PB' || fieldDet.field == 'END_PB'">
                    <div class="col-md-2 topPadding">
                        <div *ngIf="(fieldDet.field == 'STRT_PB' && (i>0 || in_DataItem['HAS_TRACKER'] == '1')) || (fieldDet.field =='END_PB' && in_DataItem['HAS_TRACKER'] == '1' && i != ((in_DataItem['NUM_OF_TIERS']/in_DataItem['NUM_OF_DENSITY'])-1))">
                            <span class="displayBlock densityPadding" [style.height.px]="47">
                                {{in_DataItem[fieldDet.field][key]}}
                            </span>
                        </div>
                        <div *ngIf="(fieldDet.field == 'STRT_PB' && i==0 && in_DataItem['HAS_TRACKER'] == '0') || (fieldDet.field =='END_PB' && (in_DataItem['HAS_TRACKER'] == '0' || (in_DataItem['HAS_TRACKER'] == '1' && i==((in_DataItem['NUM_OF_TIERS']/in_DataItem['NUM_OF_DENSITY'])-1))))">
                            <span>
                                <kendo-numerictextbox [ngModel]="convertToLowerCase(in_DataItem[fieldDet.field][key]) == 'unlimited' ? '' : in_DataItem[fieldDet.field][key]"
                                                      (ngModelChange)="in_DataItem[fieldDet.field][key] = $event"
                                                      [min]="0" (valueChange)="updateTierAttributes(in_DataItem, fieldDet.field,(i+1))"
                                                      [value]="convertToLowerCase(in_DataItem[fieldDet.field][key]) == 'unlimited' ? '' : in_DataItem[fieldDet.field][key]"
                                                      [autoCorrect]="autoCorrect" format="n3">
                                </kendo-numerictextbox>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="in_Field_Name == 'DEAL_COMB_TYPE' || in_Field_Name == 'CONTRACT_TYPE' || in_Field_Name == 'PERIOD_PROFILE'
     || in_Field_Name == 'RESET_VOLS_ON_PERIOD' || in_Field_Name == 'BACK_DATE_RSN' || in_Field_Name == 'CONSUMPTION_REASON'
     || in_Field_Name == 'SEND_TO_VISTEX' || in_Field_Name == 'SERVER_DEAL_TYPE' || in_Field_Name == 'CONSUMPTION_TYPE'">
    <kendo-dropdownlist [data]="dropDowResponse[in_Field_Name]"
                        [ngModel]="in_DataItem[in_Field_Name]" (blur)='showToolTip(in_DataItem, in_Field_Name, contractType)'
                        (ngModelChange)="in_DataItem[in_Field_Name] = $event"
                        (valueChange)="valueChange(in_DataItem, in_Field_Name)" class="k-dropdown-design">
    </kendo-dropdownlist>
    <div kendoTooltip showOn="none" position="bottom" style="margin-left:110px" tooltipClass="ctrct_typ">
        <span #contractType [title]="in_DataItem[in_Field_Name] == '' ? 'CONTRACT_TYPE is required' : ''"></span>
    </div>
</div>
<div *ngIf="in_Field_Name == 'EXPIRE_FLG'">
    <kendo-dropdownlist [data]="dropDowResponse[in_Field_Name]"
                        [(ngModel)]="in_DataItem[in_Field_Name]"
                        (valueChange)="valueChange(in_DataItem, in_Field_Name)"
                        textField="text"
                        valueField="value" class="k-dropdown-design">
    </kendo-dropdownlist>
</div>
<div *ngIf="in_Field_Name == 'QLTR_BID_GEO'">
    <kendo-multiselect [data]="dropDowResponse[in_Field_Name]"
                       [(ngModel)]="in_DataItem[in_Field_Name]"
                       (valueChange)="valueChange(in_DataItem, in_Field_Name)" class="divineo-one">
    </kendo-multiselect>
</div>