.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.wrap {
    white-space: nowrap !important;
}

.vert-center {
    position: relative;
    top: 0% !important;
    transform: translateY(0) !important;
}

#chkDealTools label {
    margin: 5px 0 0 5px;
}

.k-grid-content tr {
    background-color: white;
}

#dealEditor tr {
    background-color: white !important;
}

.dimKey {
    font-size: 9px;
    line-height: 1em;
    background-color: #00AEEF;
    color: #ffffff;
    padding: 2px;
    text-transform: uppercase;
}

.badge.error {
    background-color: #FC4C02;
}

.badge {
    vertical-align: top !important;
}

.badge.warning {
    background-color: #f3D54E;
}

.rowHeight {
    height: 36px !important;
    padding: 2px 0px 0px 1px;
    border-bottom: 0.01px solid rgba(0,0,0,.05);
    /*line-height: 3;*/
}

.rowDetailHeight {
    height: 36px !important;
    border-bottom: 0.01px solid rgba(0,0,0,.05);
    padding: 2px 0px 0px 1px !important;
    line-height: 3;
}

.densityRow {
    border: 0.1px solid lightgrey;
    padding: 2px 0px 0px 1px;
    text-align: right;
}

.densityPadding {
    padding: 0px 4px !important;
}

.densityRatePadding {
    padding: 0px 15px !important;
}

.rowRightBorder {
    border-right: 0.1px solid lightgrey;
}

.rowBorder {
    border: 0.1px solid lightgrey;
}

.rowValueHeight {
    height: 37px !important;
    font-size: 12px !important;
    text-align: left !important;
    overflow: hidden;
}

.kitRowValue {
    height: 25px !important;
    font-size: 12px !important;
    text-align: right !important;
    /* overflow: hidden; */
}

.tierHeader {
    padding: 0 4px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10px;
    background: #eeeeee;
    text-align: center;
    height: 100%;
    white-space: nowrap;
    border-right: 0.1px solid lightgrey;
}

.tierBorder {
    border-bottom: 2px solid #0071C5
}

.err-bit {
    margin: 1px 0px 0px 1px !important;
}

tr:last-child > td {
    border-bottom-width: 1px !important;
}

.k-grid td {
    border-bottom: 1px solid lightgrey !important;
    padding: 0px !important;
    white-space: nowrap;
    border: 0.01px !important;
}

.k-grid-edit-row .k-textbox, .k-widget {
    width: 100% !important;
}

#dealEditorTab .k-tabstrip-items .k-item {
    background: #fdfdfd;
    background: -moz-linear-gradient(top, #fdfdfd 0%, #d9d9d9 100%);
    background: -webkit-linear-gradient(top, #fdfdfd 0%,#d9d9d9 100%);
    background: linear-gradient(to bottom, #fdfdfd 0%,#d9d9d9 100%);
    color: #003C71 !important;
    /*padding: 0.8em !important;*/
    text-transform: none !important;
    background-color: #fff;
    border-bottom-width: 0;
}

#dealEditorTab .k-tabstrip-items .k-state-active {
    background: -moz-linear-gradient(top, #fdfdfd 0%, #fff 100%);
    background: -webkit-linear-gradient(top, #fdfdfd 0%,#fff 100%);
    background: linear-gradient(to bottom, #fdfdfd 0%,#fff 100%);
    border-color: #b1babf;
    border-width: 1px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0;
    border-radius: 4px 4px 0 0;
    color: #00AEEF !important;
}

.displayBlock {
    display: block;
}

.topPadding {
    padding-top: 3px !important;
}

.saveButton {
    width: 10%;
}

.text {
    display: inline-flex;
    padding: 0px 5px;
    font-size: 11px !important;
    font-weight: 200;
    line-height: 1em;
}

.textRightAlign {
    text-align: right;
}

.gridCellSpan {
    color: #0071C5;
    cursor: pointer;
}

.dataPadding {
    padding: 0 4px;
}

.dateWrapper {
    font-size: 12px;
    color: #00AEEF;
}

.capInfoWrapper {
    font-family: arial;
    text-align: center;
    color: white;
}

.capLineStyle {
    line-height: 1em;
    font-family: arial;
    text-align: center;
    font-weight: 600
}

.msgClassStyles {
    line-height: 1em;
    font-family: arial;
    text-align: center;
}

.boldFont {
    font-weight: bold;
}

.creditDebitAlignmentStyle {
    height: 12px;
    margin-top: -2px;
    margin-bottom: 2px;
}

.progressBarTextSize {
    font-size: 10px;
    line-height: 10px;
}

.iConFont {
    font-size: 20px !important
}

.cursorStyle {
    cursor: pointer;
}

.missingCapStyle {
    color: rgb(243, 213, 78);
    font-size: 18px !important;
}

.bigIcon {
    font-size: 20px;
}
.k-hstack {
    height: 37px;
    font-size: 14px;
    font-family: "Intel Clear";
}

.op-grid-container {
    height: 100%;
    padding: 0 10px;
    overflow: hidden;
}

.k-pager-wrap {
    background-color: #ffffff;
}

.op-grid .k-pager-wrap {
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 0 solid transparent;
}

.k-webkit .k-pager-wrap {
    min-height: 2.56em;
}

.op-grid.k-grid {
    width: 100% !important;
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
}

.opUiContainer.md {
    font-size: 12px;
}

.k-grid {
    box-shadow: none;
    position: relative;
    zoom: 1;
}

.k-grid-lockedcolumns {
    white-space: nowrap;
}

/*#dealEditor > .k-auto-scrollable {
    min-height: 60px;
    min-width: 60px;
}*/

/*.op-grid.k-grid .k-grid-header, .op-grid.k-grid .k-grid-content {
    border-right: 1px solid #e6e6e6;
}*/

.k-grid-content-locked + .k-grid-content {
    display: inline-block;
    vertical-align: top;
}

.k-grid-content {
    zoom: 1;
}

.op-grid.k-grid .uiControlDiv {
    line-height: 6 !important;
}

.op-grid .uiControlDiv {
    padding: 0px !important;
    min-height: 20px;
}

/*.uiControlDiv {
    padding-top: 23px !important;
}*/

.isReadOnlyCell {
    color: #000 !important;
    background-color: rgba(0,0,0,.05) !important;
    height: 100% !important;
}

/*.k-link:active {
    color: white !important;
}

.k-header, .headerClass, .k-touch-action-none, .k-filterable, .k-grid-draggable-header {
    background: linear-gradient(rgb(253, 253, 253) 0%, rgb(217, 217, 217) 100%) !important;
}*/

.k-grid table {
    height: 100% !important;
    width: 100% !important;
}

.col-md-12 {
    padding: 0 !important;
}

.gradTab.k-tabstrip .k-tabstrip-items .k-state-active .k-link {
    color: #00AEEF;
}
.ng-binding {
    padding-left: 4px;
}

.opUiContainer.md.k-grid td {
    border-right: .5px solid lightgrey !important;
    border-bottom: .5px solid lightgrey !important;
}
.k-grid td.k-state-focused, .k-grid th.k-state-focused,
.k-grid th:focus, .k-grid .k-master-row > td:focus,
.k-grid .k-grouping-row > td:focus, .k-grid .k-detail-row > td:focus,
.k-grid .readOnlyCell > td:focus, .k-grid .k-detail-row > td:focus {
    box-shadow: inset 0 0 0 1px #00aeef !important;
}

.k-grid td.k-state-focused, .k-grid th.k-state-focused,
.k-grid th:focus:hover, .k-grid .k-master-row > td:focus:hover,
.k-grid .k-grouping-row > td:focus:hover, .k-grid .k-detail-row > td:focus:hover,
.k-grid .readOnlyCell > td:focus:hover, .k-grid .k-detail-row > td:focus:hover {
    box-shadow: inset 0 0 0 1px #003C71 !important;
}
.dealTools {
    margin-top: 0px !important;
    /*padding-top: 23px !important;*/
    /*line-height: 3.2em !important;*/
}
.gridStatusMarker {
    height: 35px !important;
    width: 20px !important;
    padding: 0 !important;
}

.gridStatusMarker.Active {
    line-height: 2;
}

.dealDetail .dealDetailContainer {
    line-height: 2;
}

.dealDetail {
    background-color: #fff !important;
    height: 35px !important;
}

k-state-focused .k-touch-action-auto .k-grid-edit-cell {
    background-color: rgba(0, 0,0, 0) !important;
}


.k-label {
    padding: 1px;
    min-width: 7px;
    width: 90px !important;
    display: inline-block;
}

.op-grid.k-grid .k-grid-header .k-header .k-link {
    font-weight: 600;
}

.op-grid.k-grid .k-grid-filter .k-icon.k-i-filter {
    color: #00AEEF;
    opacity: 1;
}

.intelicon-protection-solid {
    font-size: 20px;
}

.op-grid.k-grid .k-grid-header th.k-header {
    vertical-align: top;
}

.k-state-disabled {
    opacity: 1 !important;
}

.k-cell-inner {
    font-size: 11px !important;
}
.dealCell {
    height: 100% !important;
    width: 100% !important;
}

.dirty {
    font-weight: bolder !important;
    color: #00AEEF !important;
}

.notDirty {
    font-weight: lighter !important;
    color: #ababab !important;
}

#warning {
    width: fit-content !important;
    left: 20% !important;
}

.text {
    font-size: 14px !important;
    font-weight: 600;
    line-height: 1em;
}
.k-tabstrip-items .k-item {
    margin-right: 0 !important;
}

.intelicon-pin-outlined:hover {
    background-color: #00aeef;
    color: #fff !important;
}

.intelicon-close:hover {
    color: #ff0000 !important;
}

tr:last-child > td {
    border-bottom-width: 0px !important;
}
/*.k-link:hover {
    background: linear-gradient(rgb(217, 217, 217) 0%, rgb(253, 253, 253) 100%) !important;
}*/
#dealEditor .k-grid-header .headerClass {
    color: #1a3e6f;
    font-size: 12px;
    font-family: 'Intel Clear';
    font-weight: bold;
    background: linear-gradient(rgb(253, 253, 253) 0%, rgb(217, 217, 217) 100%) !important;
    padding: 7.5px !important;
}
.k-grid .k-grid-header-locked, .k-grid .k-grid-content-locked, .k-grid .k-grid-header-locked .k-header, .k-grid .k-grid-content-locked td {
    border-color: rgba(33, 37, 41, 0.125) !important;
}
/*.k-grid tbody tr:hover {
    background: #ecf8fb !important;
}*/

.k-grid .k-grid-header-locked, .k-grid .k-grid-content-locked, .k-grid .k-grid-header-locked .k-header, .k-grid .k-grid-content-locked td {
    border-color: rgba(33, 37, 41, 0.125) !important;
}

#dealEditor.op-grid.k-grid tr:hover {
    background-color: #ecf8fb !important;
}

.k-grid .k-grid-content-locked .k-state-hover td, .k-grid .k-grid-content-locked tr:hover td {
    background-color: #ecf8fb !important;
}
.k-cell-inner > .k-link:hover {
    background: none !important;
    color: #1a3e6f !important;
}

#dealEditorTab > .k-tabstrip-items-wrapper > .k-tabstrip-items > li > .k-link:hover {
    background: linear-gradient(rgb(217, 217, 217) 0%, rgb(253, 253, 253) 100%) !important;
}


#dealEditorTab .k-tabstrip-items .k-state-active .colorChg {
    color: #00aeef !important;
}

.colorChg {
    color: #003c71 !important;
}

.k-grid .k-detail-row .k-detail-cell {
    padding-top: 0;
    padding-bottom: 5px;
}
.opUiContainer.md [class^="intelicon-"] {
    font-size: 14px;
    color: #00AEEF;
}

.opUiContainer.md .opElementHelpIcon, .opUiContainer.md [class*=" intelicon-"] {
    font-size: 20px !important;
}

.k-grid td.k-state-focused, .k-grid th.k-state-focused, .k-grid th:focus:hover, .k-grid .k-master-row > td:focus:hover, .k-grid .k-grouping-row > td:focus:hover, .k-grid .k-detail-row > td:focus:hover, .k-grid .readOnlyCell > td:focus:hover, .k-grid .k-detail-row > td:focus:hover {
    box-shadow: inset 0 0 0 1px #00aeef !important;
}

.k-grid td.k-state-focused, .k-grid th.k-state-focused, .k-grid th:focus, .k-grid .k-master-row > td:focus, .k-grid .k-grouping-row > td:focus, .k-grid .k-detail-row > td:focus, .k-grid .readOnlyCell > td:focus, .k-grid .k-detail-row > td:focus {
    box-shadow: inset 0 0 0 1px #00aeef !important;
}
.volView {
    font-weight: bold;
    font-size: 16px;
    text-align: right;
}

.contractView {
    width: 528px;
}

.tenderView {
    width: 803px;
}
label {
    line-height: 1.5;
}
.k-filterable > .k-cell-inner {
    margin-right:0rem !important;
}

kendo-grid-string-filter-menu .k-dropdown .k-dropdown-wrap, kendo-grid-string-filter-menu .k-dropdowntree .k-dropdown-wrap {
    width: 85% !important;
}