<!-- <link href="/Client/node_modules/@progress/kendo-theme-bootstrap/dist/all.css" rel="stylesheet" /> -->
<!-- <link href="/Client/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet" /> -->
<div id="TestTesndersdiv" style="height:520px">
    <div id="setTestContainer">
        <h2 class="col-md-12">Test Tenders Data</h2>
        <form [formGroup]="admintestTendersForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2 dateRangeLabel">
                        SFID for Contract Header
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-5">
                            <kendo-textbox class="alignwidth" formControlName="CNTRCT_SF_ID"></kendo-textbox>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2 dateRangeLabel">
                        Contract Customer
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-5">
                            <kendo-textbox class="alignwidth" formControlName="CNTRCT_CUST"></kendo-textbox>

                        </div>

                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2 dateRangeLabel">
                        End Customer
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-5">
                            <kendo-textbox class="alignwidth" formControlName="END_CUST"></kendo-textbox>
                        </div>

                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2 dateRangeLabel">
                        Start Date
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-5">

                            <kendo-datepicker #picker formControlName="START_DT" format="MM/dd/yyyy" calendarType="classic" class="datePickerWidth alignwidth">
                            </kendo-datepicker>
                        </div>

                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2 dateRangeLabel">
                        End Date
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-5">
                            <kendo-datepicker class="alignwidth" #picker formControlName="END_DT" format="MM/dd/yyyy" calendarType="classic"></kendo-datepicker>
                        </div>

                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2 dateRangeLabel">
                        Geo
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-5">
                            <kendo-textbox class="alignwidth" formControlName="GEO"></kendo-textbox>
                        </div>

                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2 dateRangeLabel">
                        SFID for Deal
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-5">
                            <kendo-textbox class="alignwidth" formControlName="DEAL_SF_ID"></kendo-textbox>

                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2 dateRangeLabel">
                        Ecap Price
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-5">
                            <kendo-textbox class="alignwidth" formControlName="ECAP"></kendo-textbox>

                        </div>

                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2 dateRangeLabel">
                        Volume
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-5">
                            <kendo-textbox class="alignwidth" formControlName="VOLUME"></kendo-textbox>

                        </div>

                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2 dateRangeLabel">
                        My Deals Deal ID
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-5">
                            <kendo-textbox class="alignwidth" formControlName="DEAL_ID"></kendo-textbox>

                        </div>

                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2 dateRangeLabel">
                        Products
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-5">
                            <kendo-textarea class="alignwidth" placeholder="Multiple deal IDs can be separated with comma."
                                            formControlName="PROD_IDs" id="DEAL_IDS" name="DEAL_IDS" pattern="^[0-9,\s]*$"
                                            resizable="vertical" [rows]="5" [cols]="65"></kendo-textarea>
                        </div>

                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2 font-weight-bold">
                    </div>
                    <div class="col-md-2 btnExec">
                        <div>
                            <button (click)="excutetestTendersData()" class="btn btn-primary">Save Tender</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>





