.panelDivHeader {
    background-color: #003C71;
    color: white;
    font-size: 27px;
    padding: 0 20px 0 25px
}

.floatRight {
    float: right;
    padding-top: 5px;
    cursor: pointer
}

form {
    padding: 10px 20px 0 25px
}

input#commandName,
textarea#commandData {
    width: -webkit-fill-available;
}

.btn {
    margin: 4px;
}

.btn.disabled {
    background-color: #cccccc !important;
    color: #999999;
}