@using Intel.MyDeals.BL
@using Intel.MyDeals.Entities
@using Kendo.Mvc.UI

@{
    List<DealType> dealTypes = new List<DealType>
    {
        new DealType {DEAL_TYPE_SID = 0, DEAL_TYPE_CD = "Select Deal Type"},
        new DealType {DEAL_TYPE_SID = 1, DEAL_TYPE_CD = "All Deal Types"}
    };
    dealTypes.AddRange(new MetasLib().GetDealTypeData().OrderBy(d => d.DEAL_TYPE_CD));

    List<SimpleKeyValue> basicDropdowns = new List<SimpleKeyValue>
    {
        new SimpleKeyValue {KEY = "0", VALUE = "Select Dropdown Group"},
    };
    List<SimpleKeyValue> dropdownValues = ViewBag.DropdownList;
    basicDropdowns.AddRange(dropdownValues.OrderBy(d => d.VALUE));
}

<header class="title-bar intel-border-yellow">
    <span class="title-bar-title">Manage Basic Dropdown Items</span>
    <span class="title-bar-subtitle">This tool will allow you to manage basic dropdown items.</span>
</header>

    <div style="margin: 20px;">

        @(Html.Kendo().Grid<AdminBasicDropdowns>()
            .Name("gridBasicDropdowns")
            .Columns(columns =>
            {
                columns.Command(command => command.Destroy()).Width(80);
                columns.Bound(d => d.metadata_fact_sid).Width(50).Title("ID");
                columns.ForeignKey(d => d.deal_mbr_sid, dealTypes, "DEAL_TYPE_SID", "DEAL_TYPE_CD").Width(50).Title("Deal Type");
                columns.ForeignKey(d => d.layer1_sid, basicDropdowns, "KEY", "VALUE").Width(150).Title("Dropdown");
                columns.Bound(d => d.drop_down).Width(150).Title("Value");
                columns.Bound(d => d.actv_ind).Width(150).Title("Active");
            })
            .ToolBar(toolbar =>
            {
                toolbar.Create();
                toolbar.Save();
            })
            .Editable(editable => editable.Mode(GridEditMode.InCell))
            .Resizable(resize => resize.Columns(true))
            .Scrollable(s => s.Height(550))
            .Sortable()
            .Filterable()
            .Groupable()
            .Pageable()
            .Events(e => e.Edit("onEdit"))
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(500)
                .ServerOperation(false)
                .Events(events => events.Error("error_handler"))
                .Model(model =>
                {
                    model.Id(p => p.metadata_fact_sid);
                    model.Field(p => p.metadata_fact_sid).Editable(false);
                })
                .Create(update => update.Action("Create", "Dropdown", new { Area = "Admin" }).Type(HttpVerbs.Post))
                .Read(read => read.Action("Read", "Dropdown", new { Area = "Admin" }))
                .Update(update => update.Action("Update", "Dropdown", new { Area = "Admin" }).Type(HttpVerbs.Post))
                .Destroy(update => update.Action("Destroy", "Dropdown", new { Area = "Admin" }).Type(HttpVerbs.Post))
            )
        )
    </div>

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    function onEdit(e) {
        var fieldName = e.container.find("input").attr("name");
        if (fieldName === "deal_mbr_sid" || fieldName === "layer1_sid") {
            if (!e.model.isNew()) {
                this.closeCell();
            }
        }
    }

    var firstTimeStart = true;
    function onRequestStart(e) {
        if (!firstTimeStart)
            kendo.ui.progress($("#gridBasicDropdowns"), true);
        else
            firstTimeStart = false;
    }

    var firstTimeEnd = true;
    function onRequestEnd(e) {
        //$("#gridBasicDropdowns").data("kendoGrid").refresh();  // this does not work for displaying the current database contents.  must use the reload method below instead.
        if (!firstTimeEnd)
            document.location.reload(true);
        else
            firstTimeEnd = false;
    }

    function resizeGrid() {
        var gridElement = $("#gridBasicDropdowns");
        var gridHeightOffset = 200;
        var footerOffset = 65;
        var minHeight = 200;
        var defHeight = 600;

        var dataArea = gridElement.find(".k-grid-content");

        var newGridHeight = $(window).height() - gridHeightOffset;

        // if the window is too small... make the grid larger and invoke a scrollbar
        if (newGridHeight < minHeight) newGridHeight = defHeight;

        var newDataAreaHeight = newGridHeight - footerOffset;

        dataArea.height(newDataAreaHeight);
        gridElement.height(newGridHeight);

        kendo.resize($("#gridBasicDropdowns"));
//        gridElement.data("kendoGrid").refresh();
    }

    // Handle resize
    $(window).resize(function () {
        resizeGrid();
    });

    // When page loads... need to fire a resize to fix the grid to the container
    jQuery(document).ready(function () {
        resizeGrid();
    });
</script>

<style>
    .k-grid-content .k-icon {
        vertical-align: text-bottom;
    }

    .k-grid-content .k-button {
        padding: 0;
    }

    #contentwrapper > div {
        padding: 0;
    }
</style>
