<!--<div ng-show="isTenderContract != true" ng-if="!isNewContract" ng-include="'app/contract/partials/lnavMenuMini.html'"></div>-->
<div *ngIf="contractData != null" id="lnavContainerWrapper" style="padding-top:112px;height:100vh!important;">
    <div id="lnavHeader">
        <!--<lnavContractHeader [lnavHeader_Map]="lnavHeader_Map"></lnavContractHeader>-->
        <div>
            <div class="contract-status-bar"></div>
            <div class="contract-title-container" title="View Contract Details">
                <a>
                    <small class="contractHeaderId">#{{ contractData.DC_ID }} </small> <small>{{contractData.Customer.CUST_NM}}: </small> <small>{{contractData.TITLE}}</small>
                </a>
            </div>
        </div>
        <div>
            <div style="height: 37px; border-bottom: 1px solid #e8eaec; overflow: hidden;">

                <div class="col-md-12" style="padding:0px">
                    <div class="col-md-4" style="padding:0px">
                        <div class="flowBtn" (click)="loadModel('PTE')">Deal Entry</div>
                    </div>
                    <div class="col-md-4" style="padding:0px 5px">
                        <div class="flowBtn" (click)="loadModel('MeetComp')">
                            <i class="intelicon-information-outlined font-med" title="Meet Comp needs to be reviewed" style="color: yellow;"></i> Meet Comp
                        </div>
                    </div>
                    <div class="col-md-4" style="padding:0px 5px" (click)="loadModel('Manage')">
                        <div class="flowBtn">Manage</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="fr navIconLnk no-hint-collapse" title="Hide Panel" style="border-left: 1px solid #e8eaec !important;">
                    <i class="intelicon-shrink flip-horizontal"></i>
                </div>

                <div class="fl navIconLnk" id="navIconAddPs" (click)="toggleAddStrategy()">
                    <i class="intelicon-plus-max"></i>
                </div>
                <div class="fl navIconLnk" title="Filter contract">
                    <i class="intelicon-search"></i>
                </div>
                <div class="fl navIconLnk">
                    <div>
                        <i class="intelicon-fast-forward"></i>
                    </div>
                </div>
                <div class="fl navIconLnk" title="Help" onclick="showHelpTopic(HelpTopicEnum.DealManager_ContractNavigator);">
                    <i class="intelicon-help"></i>
                </div>
                <div class="clearboth"></div>
            </div>
        </div>
    </div>
    <div id="lnavMenuContainer">
        <div>
            <div class="scaleTopAnim lnavMenuOption" style="padding: 10px;" [hidden]="isAddStrategyHidden">
                <div class="fl ptLnavTitle">Enter Pricing Strategy Name</div>
                <div class="clearboth"></div>
                <div class="bgBlueContainer">
                    <input type="text" class="k-textbox fl" placeholder="" style="width: 228px; color: black;" maxlength="250" id="inptPrcTitle" [(ngModel)]="psTITLE" />
                    <button class="btn btn-sm btn-primary" type="submit" style="font-size: 12px; margin-left: 6px; background-color: #00AEEF; padding: 7px 10px;" (click)="customAddPsValidate()">Add</button>
                    <!--<button class="btn btn-sm btn-primary btn-pending" style="font-size: 12px; margin-left: 6px; background-color: #00AEEF; padding: 7px 10px;">Add</button>-->
                    <div class="clearboth"></div>
                </div>
            </div>
        </div>
        <div>
            <div class="scaleTopAnim lnavMenuOption" [hidden]="isAddPricingTableHidden">
                <div class="fl ptLnavTitle">Enter Pricing Table Name</div>
                <div class="clearboth"></div>
                <input type="text" class="k-textbox fl" placeholder="" style="width: 228px; color: black;" maxlength="250" id="inptPtTitle" [(ngModel)]="ptTITLE" />
                <div class="clearboth"></div>
                <div class="ptLnavTitle">
                    Select Pricing Table Deal Type
                </div>
                <div class="ptLnavtmpltContainer">
                    <div *ngFor="let DealType of PtDealTypes">
                        <div class="fl circleWithText" (click)="selectPtTemplateIcon(DealType)">
                            <div class="fl textCircle blueBg">{{ DealType._custom.ltr }}</div>
                            <div class="fl textName">{{ removeBlanks(DealType.name) }}</div>
                            <div class="clearboth"></div>
                        </div>
                    </div>
                    <div style="text-align: right;">
                        <button ng-show="!addTableDisabled" class="btn btn-sm btn-primary" (click)="hideAddPricingTable()" style="background-color: #00AEEF;">Cancel</button>
                        <!--<button ng-show="addTableDisabled" class="btn btn-sm btn-primary btn-pending" ng-click="hideAddPricingTable()" style="background-color: #00AEEF;">Cancel</button>-->
                        <button ng-show="!addTableDisabled" class="btn btn-sm btn-primary" (click)="customAddPtValidate()" type="submit" style="background-color: #00AEEF;">Add</button>
                        <!--<button ng-show="addTableDisabled" class="btn btn-sm btn-primary btn-pending" style="background-color: #00AEEF;">Add</button>-->
                    </div>
                </div>
            </div>
        </div>
        <!--<div ng-include="'app/contract/partials/lnavSearch.html'"></div>
        <div ng-include="'app/contract/partials/lnavAddPricingStrategy.html'"></div>
        <div ng-include="'app/contract/partials/lnavAddPricingTable.html'"></div>-->
    </div>
    <!---->
    <div id="lnavContainer" style="position:absolute;width:300px;">
        <div>
            <div style="margin-top: 10px;">
                <div *ngFor="let ps of contractData.PRC_ST" class="lnavStrategyContainer">
                    <div class="psNav" id="lnavPs_{{ ps.DC_ID }}" [ngClass]="{active: (curPricingStrategy.DC_ID == ps.DC_ID)}">
                        <div class="fl" (click)="isCollapsed = !isCollapsed">
                            <i class="glyphicon" style="margin-right: 5px; margin-top: 3px;" [ngClass]="{'glyphicon-chevron-down': !isCollapsed, 'glyphicon-chevron-right': isCollapsed}"></i>
                        </div>
                        <div class="fl" style="width: 225px; font-size: 12px;">
                            <div class="fl" title="{{ ps.PASSED_VALIDATION || 'Not validated yet' }}" style="margin: 0 4px 2px 0px; line-height: 1em; font-size: 20px;">
                                <i class="intelicon-protection-solid bigIcon validf_{{ps.PASSED_VALIDATION}}" *ngIf="ps.PASSED_VALIDATION === 'Complete'" title="{{ps.PASSED_VALIDATION}}"></i>
                                <i class="intelicon-protection-outlined bigIcon validf_{{ps.PASSED_VALIDATION}}" *ngIf="ps.PASSED_VALIDATION === 'Finalizing'" title="{{ps.PASSED_VALIDATION}}"></i>
                                <i class="intelicon-protection-outlined bigIcon validf_{{ps.PASSED_VALIDATION}}" *ngIf="ps.PASSED_VALIDATION === 'Valid'" title="{{ps.PASSED_VALIDATION}}"></i>
                                <i class="intelicon-protection-outlined bigIcon validf_{{ps.PASSED_VALIDATION}}" *ngIf="ps.PASSED_VALIDATION === 'Dirty'" title="{{ (ps.PASSED_VALIDATION === 'Dirty' ? 'Validation Errors' : ps.PASSED_VALIDATION) || 'Not validated yet' }}"></i>
                                <i class="intelicon-protection-outlined bigIcon validf_{{ps.PASSED_VALIDATION}}" *ngIf="ps.PASSED_VALIDATION !== 'Valid' && ps.PASSED_VALIDATION !== 'Dirty' && ps.PASSED_VALIDATION !== 'Complete' && ps.PASSED_VALIDATION !== 'Finalizing'" title="{{ps.PASSED_VALIDATION || 'Not validated yet'}}"></i>
                                <div *ngIf="ps.IS_HYBRID_PRC_STRAT === '1'" class="isHybridIdent_{{ps.PASSED_VALIDATION}}">H</div>
                            </div>
                            <div (click)="isCollapsed = !isCollapsed" class="w100">{{ ps.TITLE }}</div>
                        </div>
                        <div class="fr">
                            <span #target class="hasMenuPs{{ ps.DC_ID }} ptBtn" title="View more options"><i class="intelicon-vertical-menu"></i></span>
                            <kendo-contextmenu [target]="target" showOn="click">
                                <kendo-menu-item text="Add Pricing Strategy"></kendo-menu-item>
                                <kendo-menu-item text="Edit Pricing Strategy Name"></kendo-menu-item>
                            </kendo-contextmenu>
                            <!--<ul kendo-contextmenu filter="'.hasMenuPs{{ ps.DC_ID }}'" showOn="click">
                                <li role="presentation"><a tabindex="-1" role="menuitem" (click)="toggleAddStrategy(); isCollapsed = false"><i class="intelicon-plus-max"></i> Add Pricing Strategy</a></li>
                                <li role="presentation"><a tabindex="-1" role="menuitem" (click)="copyPricingStrategy(contractData, ps)"><i class="intelicon-copy-outlined"></i> Copy Pricing Strategy</a></li>
                                <li role="presentation" *ngIf="(!(ps.PRC_TBL[0].DC_ID > 0) || ps.IS_HYBRID_PRC_STRAT !== '1')"><a tabindex="-1" role="menuitem" (click)="showAddPricingTable(ps); isCollapsed = false"><i class="intelicon-plus-max"></i> Add Pricing Table</a></li>

                                <li role="presentation"><a tabindex="-1" role="menuitem" (click)="editPricingStrategyName(ps)"><i class="intelicon-edit"></i> Edit Pricing Strategy Name</a></li>
                                <li role="presentation"><a tabindex="-1" role="menuitem" (click)="deletePricingStrategy(ps)"><i class="intelicon-trash-outlined"></i> Delete Pricing Strategy</a></li>
                            </ul>-->
                        </div>

                    </div>
                    <div class="fl" style="width: 225px; font-size: 12px;" ng-init="isEditable=false" title="Stage: {{ ps.WF_STG_CD }}">
                        <div uib-collapse="isCollapsed" style="margin-bottom: 10px;">
                            <div *ngFor="let pt of ps.PRC_TBL" class="lnavPricingTableContainer">
                                <div id="lnavPt_{{ pt.DC_ID }}" class="ptNav">
                                    <div (click)="loadPTE(ps.DC_ID,pt.DC_ID)">{{pt.TITLE}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>