.wht {
    color: #ffffff
}

.red {
    color: #FC4C02
}

.yel {
    color: #f3D54E
}

.orng {
    color: #FFA300
}

.font-med {
    font-size: 14px
}

.flowBtn {
    background-color: #003C71;
    padding: 9px 2px;
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    color: #ffffff;
    text-align: center;
    cursor: default
}

.flowBtn.disabled,
.flowBtn.disabled:hover {
    background-color: #cccccc !important;
    color: #999999;
    cursor: default
}

.flowBtn.inactive {
    background-color: #00AEEF;
    cursor: pointer
}

.flowBtn.inactive:hover {
    background-color: #003C71
}

.flowBtn.disabled {
    cursor: not-allowed !important
}

.isErrorWrapper .k-state-default.k-picker-wrap,
.isErrorWrapper .k-state-default.k-numeric-wrap,
.isErrorWrapper .k-state-default.k-dropdown-wrap {
    border: 1px solid #ed8282
}

.fr {
    margin-left: auto;
    height: max-content;
    float: right;
}

.fl {
    float: left;
}

.lnav-sum-container {
    margin-left: 15px;
    margin-right: 15px;
}

    .lnav-sum-container h4 {
        font-size: 18px;
        border-bottom: 2px solid #ffffff;
        margin-top: 20px;
    }

.lnav-sum-menu-item {
    color: #ffffff;
}

    .lnav-sum-menu-item div {
        color: #ffffff;
        cursor: pointer;
        margin: 1px 0 1px 10px;
        padding: 4px;
        font-size: 14px;
        width: 220px;
    }

        .lnav-sum-menu-item div:hover {
            background-color: #00AEEF;
        }

.lnav-sum-menu-item-active {
    background-color: #0071C5;
    font-weight: 600;
}

.lnav-sum-menu-item div.active:hover {
    background-color: #0071C5;
}

.lnav-sum-menu-item a:hover {
    text-decoration: none;
}


.lnavContainer {
    height: 100%;
    overflow: auto;
    color: #ffffff;
    background-color: #ffffff;
}

.lnavMenuContainer {
    color: #ffffff;
}

#lnavContainerWrapper {
    height: 100%;
    padding: 112px 0 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #123b70;
}

#lnavHeader {
    height: 43px;
    margin-top: -112px;
    padding: 0;
    font-size: 14px;
    font-family: "Intel Clear";
    font-weight: 200;
    font-style: normal;
    background-color: #ffffff;
    color: #00AEEF;
}

.k-tabstrip-items .k-item {
    color: #ffffff !important;
    background-color: #00AEEF !important;
}

    .k-tabstrip-items .k-item:hover, .k-tabstrip-items .k-item.k-state-hover {
        background-color: #003C71 !important;
    }

    .k-tabstrip-items .k-item.k-state-active, .k-tabstrip-items .k-item.k-state-selected {
        background-color: #003C71 !important;
    }

.k-tabstrip .k-tabstrip-items .k-link {
    padding: 0.5rem 1rem !important;
}

.k-tabstrip-content.k-state-active, .k-tabstrip > .k-content.k-state-active {
    display: contents !important;
}

.k-tabstrip-top > .k-tabstrip-items-wrapper > .k-tabstrip-items {
    width: 101% !important;
}