#lnavContainerWrapper .wht {
    color: #ffffff
}

#lnavContainerWrapper .red {
    color: #FC4C02
}

#lnavContainerWrapper .yel {
    color: #f3D54E
}

#lnavContainerWrapper .orng {
    color: #FFA300
}

#lnavContainerWrapper .font-med {
    font-size: 10px
}

#lnavContainerWrapper .flowBtn {
    background-color: #003C71;
    padding: 9px 2px;
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    color: #ffffff;
    text-align: center;
    cursor: default
}

    #lnavContainerWrapper .flowBtn.disabled, #lnavContainerWrapper .flowBtn.disabled:hover {
        background-color: #cccccc !important;
        color: #999999;
        cursor: default
    }

    #lnavContainerWrapper .flowBtn.inactive {
        background-color: #00AEEF;
        cursor: pointer
    }

        #lnavContainerWrapper .flowBtn.inactive:hover {
            background-color: #003C71
        }

    #lnavContainerWrapper .flowBtn.disabled {
        cursor: not-allowed !important
    }

#lnavContainerWrapper .isErrorWrapper .k-state-default.k-picker-wrap,
#lnavContainerWrapper .isErrorWrapper .k-state-default.k-numeric-wrap,
#lnavContainerWrapper .isErrorWrapper .k-state-default.k-dropdown-wrap {
    border: 1px solid #ed8282
}

#lnavContainerWrapper .fr {
    margin-left: auto;
    height: max-content;
    float: right
}

#lnavContainerWrapper .fl {
    float: left
}

#lnavContainerWrapper .lnav-sum-container {
    margin-left: 15px;
    margin-right: 15px
}

    #lnavContainerWrapper .lnav-sum-container h4 {
        font-size: 18px;
        border-bottom: 2px solid #ffffff;
        margin-top: 20px
    }

#lnavContainerWrapper .lnav-sum-menu-item {
    color: #ffffff
}

    #lnavContainerWrapper .lnav-sum-menu-item div {
        color: #ffffff;
        cursor: pointer;
        margin: 1px 0 1px 10px;
        padding: 4px;
        font-size: 14px;
        width: 220px
    }

        #lnavContainerWrapper .lnav-sum-menu-item div:hover {
            background-color: #00AEEF
        }

#lnavContainerWrapper .lnav-sum-menu-item-active {
    background-color: #0071C5;
    font-weight: 600
}

#lnavContainerWrapper .lnav-sum-menu-item div.active:hover {
    background-color: #0071C5
}

#lnavContainerWrapper .lnav-sum-menu-item a:hover {
    text-decoration: none
}

#lnavContainerWrapper .lnavContainer {
    height: 100%;
    overflow: auto;
    color: #ffffff;
    background-color: #ffffff
}

#lnavContainerWrapper .lnavMenuContainer {
    color: #ffffff
}

#lnavContainerWrapper {
    height: 100%;
    padding: 112px 0 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #123b70
}

    #lnavContainerWrapper #lnavHeader {
        height: 43px;
        margin-top: -122px;
        padding: 0;
        font-size: 14px;
        font-family: "Intel Clear";
        font-weight: 200;
        font-style: normal;
        background-color: #ffffff;
        color: #00AEEF
    }

    #lnavContainerWrapper .k-tabstrip-items .k-item {
        color: #ffffff !important;
        background-color: #00AEEF !important;
        font-size: 15px !important
    }

    #lnavContainerWrapper .k-tabstrip .k-tabstrip-items-wrapper .k-tabstrip-items .k-state-default .k-link:hover {
        background-color: #0071c5 !important;
        color: #FFFFFF !important
    }

    #lnavContainerWrapper .k-tabstrip .k-tabstrip-items-wrapper .k-tabstrip-items .k-state-active .k-link:hover {
        background-color: #003c71 !important;
        color: #FFFFFF !important
    }

    #lnavContainerWrapper .k-tabstrip-items .k-item:hover, .k-tabstrip-items .k-item.k-state-hover {
        background-color: #f9f9f9 !important
    }

    #lnavContainerWrapper .k-tabstrip-items .k-item.k-state-active, .k-tabstrip-items .k-item.k-state-selected {
        background-color: #003C71 !important
    }

    #lnavContainerWrapper .k-tabstrip .k-tabstrip-items .k-link {
        padding: .5rem 1rem !important
    }

    #lnavContainerWrapper .k-tabstrip-content.k-state-active, .k-tabstrip > .k-content.k-state-active {
        display: contents !important
    }

    #lnavContainerWrapper .k-tabstrip-top > .k-tabstrip-items-wrapper > .k-tabstrip-items {
        width: 101% !important
    }

.navTextLnk {
    font-size: 10px;
    text-align: center;
    color: #ffffff;
    line-height: 1.2em;
    height: 40px;
    padding: 7px 0;
    background-color: #00AEEF;
    cursor: pointer;
    border-top: 1px solid #0071C5
}

    .navTextLnk:hover {
        background-color: #0071C5
    }

    .navTextLnk a i, .navIconLnk a i {
        color: #00AEEF
    }

.navIconLnk:hover a i {
    color: #FFFFFF
}

.navTextLnk .nav-icn, .navIconLnk .nav-icn {
    font-size: 20px;
    margin-top: 4px
}

.navTextLnk .nav-extra, .navIconLnk .nav-extra {
    font-size: 14px;
    vertical-align: super;
    margin-left: 1px
}

.psNav {
    cursor: pointer;
    font-family: 'Intel Clear';
    font-weight: normal;
    font-style: normal;
    padding: 2px 2px 0 10px
}

    .psNav:hover {
        background-color: #003462
    }

    .psNav.active {
        color: #ffffff;
        font-weight: bold;
        background-color: #0071C5
    }

    .psNav i {
        cursor: pointer
    }

    .psNav .ptBtn, .ptNav .ptBtn {
        display: none;
        font-size: 14px
    }

    .psNav:hover .ptBtn, .ptNav:hover .ptBtn {
        display: inline
    }

        .psNav:hover .ptBtn:hover, .ptNav:hover .ptBtn:hover {
            color: #F3D54E
        }

.ptNav .ptBtn {
    display: inline;
    font-size: 14px;
    color: #ffffff;
    line-height: 1.3em
}

.ptNav:hover .ptBtn {
    display: inline
}

    .ptNav:hover .ptBtn:hover {
        color: #F3D54E
    }

.ptNav, .ptNav a {
    color: #00AEEF
}

.ptNav {
    cursor: pointer;
    font-family: 'Intel Clear';
    font-weight: 200;
    font-style: normal;
    padding: 2px 10px 0 36px;
    display: inline-flex
}

    .ptNav:hover, .ptNav:hover a {
        color: #00AEEF
    }

    .ptNav:hover {
        color: #00AEEF;
        background-color: #003462;
        filter: brightness(100%)
    }

    .ptNav .active {
        color: #ffffff !important;
        font-weight: bold !important;
        background-color: #0071C5 !important
    }

.rotate90 {
    transform: rotate(90deg);
    transform-origin: left top 0
}

#lnavContainerWrapper .textCircle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 2px;
    color: #003C71;
    text-align: center;
    font: 10px Arial,sans-serif;
    font-weight: bold
}

#lnavContainerWrapper .blueBg {
    color: #fff !important
}

.textCircle_NeedsWork {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 2px;
    color: #FC4C02;
    text-align: center;
    font: 10px Arial,sans-serif;
    font-weight: bold
}

#lnavContainerWrapper .textCircleMd {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 4px;
    color: #003C71;
    text-align: center;
    font: 12px Arial,sans-serif;
    font-weight: bold;
    margin: 1px 6px 0 8px
}

#lnavContainerWrapper .textName {
    margin: 0 0 5px 5px;
    font-weight: bold
}

#lnavContainerWrapper .circleWithText {
    color: #ffffff;
    margin: 0 0 2px 5px;
    width: 89px;
    cursor: pointer;
    border-radius: 10px;
    padding: 3px;
    height: 21px
}

    #lnavContainerWrapper .circleWithText:hover {
        color: #FFA300
    }

        #lnavContainerWrapper .circleWithText:hover .textCircle {
            background-color: #FFA300
        }

    #lnavContainerWrapper .circleWithText.active {
        background-color: #003C71
    }

#lnavContainerWrapper .menuItem {
    background-color: #fff
}

.lnavDialogPopUp .k-content {
    padding: 0 !important
}

.bgBlueContainer .k-textbox.isError {
    border: 1px solid #ED1C24
}

.contractIdBtn {
    background: transparent;
    border-color: transparent;
    padding-left: 0;
    color: #003c71;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    width: 100%;
    text-align: left;
}

    .contractIdBtn:hover {
        color: #00aeef
    }

#lnavContainerWrapper .k-link:hover {
    background-color: #00AEEF !important;
    color: #FFFFFF !important
}

/*::-webkit-scrollbar-button {
    background-color: #ddd
}

::-webkit-scrollbar-corner {
    background-color: #ddd
}

::-webkit-scrollbar-track-piece {
    background-color: transparent
}*/

/*.k-popup.k-menu-popup {
    padding: 0 !important;
    border-radius: 0 !important
}*/

#lnavContainerWrapper .active:hover {
    background-color: #0071C5;
    filter: brightness(100%) !important
}

.psContainer .chevron {
    color: #ffff;
    font-size: 15px;
    font-weight: bolder
}

    .psContainer .chevron:hover {
        color: #ffffff
    }

.anarchy-anchor-two .nav-extra {
    margin-left: 5px;
    position: relative;
    top: 2px
}

kendo-tabstrip.gaming-tab .k-tabstrip-items-wrapper ul li {
    border-radius: 0 !important;
    margin-left: 1px !important;
    margin-right: 1px !important
}

    kendo-tabstrip.gaming-tab .k-tabstrip-items-wrapper ul li:first-child {
        margin-left: 0 !important
    }

    kendo-tabstrip.gaming-tab .k-tabstrip-items-wrapper ul li:last-child {
        margin-right: 0 !important
    }

.lnavMenuContainer kendo-tabstrip.gaming-tab.k-tabstrip .k-tabstrip-items-wrapper ul li span {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
}

kendo-tabstrip.gaming-tab .k-tabstrip-items-wrapper ul li {
    width: 99px;
}

kendo-tabstrip.gaming-tab .k-tabstrip-items-wrapper .k-tabstrip-items li:hover {
    background-color: #003c71 !important
}

.there-btns .new-comp-style {
    background-color: #00AEEF !important
}

.mr-five {
    margin-right: 5px
}

.psNav.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x))
}

    .psNav.row > * {
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y)
    }

#lnavContainerWrapper .k-icon.k-i-k-icon:hover {
    background-color: #00AEEF !important;
    color: #FFFFFF !important
}

kendo-tabstrip.gaming-tab .k-tabstrip-items-wrapper ul li.k-state-disabled span {
    background-color: #cccccc !important;
    color: #5c5b5b;
    cursor: not-allowed !important;
}

kendo-tabstrip.gaming-tab .k-tabstrip-items-wrapper ul li.k-state-disabled {
    border: #ccc 1px solid !important;
    cursor: not-allowed !important
}

.rename-pte-comp mat-dialog-container .modal-header.modalBlueBody {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.5px;
    height: 60px
}

.rename-pte-comp mat-dialog-container .modal-body.modalBlueBody {
    position: relative;
    padding: 15px
}

.rename-pte-comp mat-dialog-container .modal-header.modalBlueBody h5 {
    font-size: 20px !important;
    font-weight: 500 !important;
    margin: 0 !important;
    margin-top: 5px !important
}

/*lnavview .navIconLnk-small-wrapper {
    top: 10px
}*/

#lnavContainerWrapper .dialogmsg {
    text-align: center;
    font-family: 'Intel Clear' !important;
    font-size: 15px !important
}

.deleteptstyle .k-window-content {
    padding: 35px !important
}

button.btn.btn-sm.btn-primary.lnavaddbtnstyle {
    font-size: 12px !important;
    margin-left: 6px !important;
    background: #00AEEF !important;
    padding: 7px 10px !important;
    border-color: #367fa9 !important
}

.isMandatory:before {
    content: "* ";
    color: #f3d54e
}

#meetCompIcon {
    position: absolute;
    left: 1px;
    top: 11px;
    font-size: 11px;
}

.psContainer {
    position: absolute;
    margin-left: 1px !important;
    overflow: auto;
    height: 73vh;
    overflow-y: overlay !important;
}

i.intelicon-vertical-menu.blue_b_fix {
    padding-right: 9px !important;
}

.icon_p_fix {
    padding-right: 11px !important;
}

.rename-pte-comp mat-dialog-container {
    padding: 0;
    overflow: hidden;
    background-color: #003C71;
    position: relative !important;
    border-radius: 0px !important;
    margin-bottom: calc(100vh - 0px) !important;
    top: 30px !important;
}

.lnavAligners {
    align-items: center;
    justify-content: flex-start;
    display: flex;
}

.compactWidths {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fr.navIconLnk.no-hint-collapse {
    position: relative !important;
    right: 8px !important;
    border-top: 2px solid #fff !important;
}

/*div.mainMenuContainer li#k-tabstrip-tab-1 {
    width: 34%;
    margin-left: 0 !important;
}

div.mainMenuContainer {
    width: 102%;
}*/