<div class="dashboard-header">

    <!--
    <a class="fl btn btn-default btn-sm" style="margin-right: 6px; padding: 4px 6px;" ng-click="toggleLnav()" kendo-tooltip k-content="'Hide Panel'" k-position="'top'" k-width="'70'" ng-show="isLnavHidden">
        <i class="intelicon-settings-solid"></i>
    </a>
    -->

    <div class="fl" style="margin: 5px 5px 0 15px; color: #aaaaaa;">Customer:</div>
    <select class="fl opUiContainer md"
            kendo-combo-box
            k-options="selectCustomerOptions"
            k-ng-model="selectedCustomerId"
            k-change="refreshWidgets"
            k-value-primitive="true"
            style="width: 250px;">
    </select>

    <div class="fl" style="margin: 5px 5px 0 15px; color: #aaaaaa;">Date Range:</div>
    <input kendo-date-picker ng-model="startDate" k-change="refreshWidgets" style="width: 110px;" class="opUiContainer md" /> - <input kendo-date-picker ng-model="endDate" k-change="refreshWidgets" style="width: 110px;" class="opUiContainer md" />

    <!--
    <a class="btn btn-default btn-sm" style="padding: 4px 6px;" ng-click="refreshWidgets()" kendo-tooltip k-content="'Refresh Dashboard'" k-position="'top'" k-width="'70'">
        <i class="intelicon-refresh"></i>
    </a>
    -->

    <a class="fr btn btn-default btn-sm" style="padding: 4px 6px;" ng-click="saveLayout()" kendo-tooltip k-content="'Save Layout'" k-position="'top'" k-width="'70'">
        <i class="intelicon-save-solid"></i>
    </a>

    <a class="fr btn btn-default btn-sm" style="padding: 4px 6px;" ng-click="defaultLayout()" kendo-tooltip k-content="'Default Layout'" k-position="'top'" k-width="'70'">
        <i class="intelicon-dashboard-solid"></i>
    </a>

    <a class="fr btn btn-default btn-sm" style="padding: 4px 6px;" ng-click="openAddWidget()" kendo-tooltip k-content="'Add Widget'" k-position="'top'" k-width="'70'">
        <i class="intelicon-plus-max"></i>
    </a>

    <!--
    <select class="form-control input-sm k-input fr"
        ng-change="changeDashboard(scope, selectedDashboardId)"
        ng-model="selectedDashboardId"
        ng-options="d.id as d.name for d in dashboards | object2Array | orderBy:'id'">
    </select>
    -->

</div>
