<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />
<div>
    <h2 class="cache-header">{{title}}</h2>
    <p style="font-size: 10px;">
        The Cache Manager will show which cache containers are loaded and display their count. You can clear the cache, reload the cache or even view the cache contents.
    </p>
</div>
<div id="cacheContainer" (window:resize)="onResize()">
    <div>
        <div id="cacheList" class="fl" [style.height.px]="divCacheListHt" style="width: 360px;">
            <h5 class="temp-headers">Cache Status</h5>
            <table class="tblCache" ui-auto="tblCache">
                <tr>
                    <th class="text-left">Cache Name</th>
                    <th class="text-right">Count</th>
                    <th class="text-center" colspan="3">Action</th>
                    <th style="width: 25px;">&nbsp;</th>
                </tr>
                <tr *ngFor="let data of cacheData">
                    <td id="lbl{{data.CacheName}}">{{data.CacheName}}</td>
                    <td id="lbl{{data.CacheCount}}" class="text-right">{{data.CacheCount}}</td>
                    <td>
                        <div class="iconLink" (click)="loadCacheByName(data)" id="btnLoadCache{{data.CacheName}}" title="Load Cache"><i class="fa fa-upload" aria-hidden="true"></i></div>
                    </td>
                    <td>
                        <div class="iconLink" (click)="clearCacheByName(data)" id="btnClear{{data.CacheName}}" title="Clear Cache"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                    </td>
                    <td>
                        <div class="iconLink" (click)="viewCacheByName(data)" id="btnView{{data.CacheName}}" title="View Cache"><i class="fa fa-code" aria-hidden="true"></i></div>
                    </td>
                    <td *ngIf="data.loading==true"><i class="fa fa-spinner fa-pulse fa fa-fw"></i></td>
                </tr>
            </table>
            <div style="margin-top: 15px; text-align: center;">
                <button (click)="clearAll()" id="btnClearAll" class="k-primary-custom" style="margin-right: 5px;">
                    Clear All
                </button><button (click)="reloadAll()" id="btnReloadAllCache" class="k-primary-custom">
                    Reload All Cache
                </button>
            </div>
            <hr />
            <h5 class="temp-headers">Api Cache Status</h5>
            <table class="tblCache">
                <tr>
                    <th class="text-left">Cache Name</th>
                    <th class="text-right">Count</th>
                    <th class="text-center" colspan="3">Action</th>
                    <th style="width: 25px;">&nbsp;</th>
                </tr>
                <tr *ngFor="let dat of apiCacheData">
                    <td>{{dat.CacheName}}</td>
                    <td style="text-align: right;">{{dat.CacheCount}}</td>
                    <td>
                        <div class="iconLink" (click)="clearApiCacheByName(data)" id="btnClearApiCacheByName" title="Clear Cache"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                    </td>
                    <td>
                        <div class="iconLink" [attr.disabled]="true" (click)="viewApiCacheByName(data)" title="View Cache"><i class="fa fa-code" aria-hidden="true"></i></div>
                    </td>
                    <td *ngIf="dat.loading==true"><i class="fa fa-spinner fa-pulse fa fa-fw"></i></td>
                </tr>
            </table>
            <div style="margin-top: 15px; text-align: left;">
                <button (click)="clearAllApiCache()" id="btnClearApiCache" class="k-primary-custom">
                    Clear All
                </button>
            </div>
        </div>
        <div id="viewResultsContainer" class="fl" [style.height.px]="divViewResultHt" [style.width.px]="divViewResultWidth">
            <h5 class="temp-headers">Cache Contents <span style="font-size: 12px;" id="cName"></span></h5>
            <div id="viewResults" ui-auto="divResults">{{currentCacheDetails}}</div>
        </div>
    </div>
</div>