<link href="/Client/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet" />
<link href="/Client/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="/Client/node_modules/@progress/kendo-theme-bootstrap/dist/all.css" rel="stylesheet" />
<link href="addWidget.component.css" rel="stylesheet" />
<h1 mat-dialog-title class="modalheader">{{data.name}} <button type="button" class="close fr" (click)="onNoClick()" aria-hidden="true">&times;</button></h1>
<div mat-dialog-content class="modalbody">
    <div class="container add-widget-container" style="height: 100%; overflow: auto; ">
        <div class="widget-wrapper row" *ngFor="let widget of finalItems" [ngClass]="widget.isAdded==true ? 'widget-enabled' : 'widget-disabled'" (click)="add(widget)">
            <div class="f1 col-sm-1 " width="30px"><i class="{{widget.icon}}"></i></div>
            <div class="f1 col-sm ">
                <div class="ttl" style="position: relative;">{{widget.name}}</div>
                <div class="dsc">{{widget.desc}}</div>
            </div>
        </div>
    </div>
</div>