.add-widget-container .modal-header h5 {
    margin-top: 2px !important;
    float: left;
}

.add-widget-container .modal-body {
    padding: 0;
}

.add-widget-container .widget-wrapper {
    padding: 6px;
    font-family: 'Intel Clear';
    font-weight: 200;
    font-size: 14px;
}

.add-widget-container .widget-wrapper {
    margin-top: 3px;
    line-height: 1.1em;
}

    .add-widget-container .widget-wrapper .dsc {
        font-size: 11px;
        color: #aaaaaa;
        line-height: 1.1em;
    }

    .add-widget-container .widget-wrapper i {
        font-size: 34px;
        margin-right: 10px;
        color: #0071C5;
    }

.add-widget-container .widget-enabled:hover {
    background-color: #00AEEF;
}

    .add-widget-container .widget-enabled:hover .ttl {
        color: #ffffff;
    }

    .add-widget-container .widget-enabled:hover .dsc {
        color: #003C71;
    }

    .add-widget-container .widget-enabled:hover i {
        color: #ffffff;
    }

.add-widget-container .widget-enabled {
    cursor: pointer;
}

.add-widget-container .widget-disabled {
    opacity: .25;
    cursor: not-allowed;
}

.mat-dialog-content {
    padding: 0 2px !important;
}

.close-widget {
    outline: none !important;
}