<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OpaqueApp" value="Mydeals-JMS" />
    <!-- When true, always run with logging enabled, when false, must pass /log to enable logging -->
    <add key="LogAll" value="True" />
    <add key="SupportDevelopers" value="josephine.a.juang@intel.com, philip.w.eckenroth@intel.com, michael.h.tipping@intel.com, jeffrey.j.yeh@intel.com,mahesh.biradar@intel.com,saurav.kundu@intel.com" />
    <add key="SupportDevelopers_NONPROD" value="josephine.a.juang@intel.com, philip.w.eckenroth@intel.com, michael.h.tipping@intel.com, jeffrey.j.yeh@intel.com,mahesh.biradar@intel.com,saurav.kundu@intel.com" />
    <!-- When in "Both" mode for send/receive, how long in seconds to wait for the response -->
    <add key="WaitBetweenSendReceive" value="180" />
    <add key="DefaultSleepSeconds" value="30" />
    <add key="MyDealsService" value="http://localhost:55490" />
    <add key="ENV" value="local" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp from="rdms.ktbr@intel.com">
        <network host="smtpauth.intel.com" port="587" userName="SYS_SYSSYSBOSEMAILS" password="04601922222300Qa16209320615603P1506sQ2P9321303605Z151C00324514325202h913400z212924320G530930U02521307e20c24025eF21l20uZ1FO1O13620402315204H3917g21242130F091f" />
      </smtp>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>