@*<script src="~/Client/src/dist/advance.js" async></script>*@
<script src='@Scripts.Url("~/bundles/advance")' async></script>
@{ ViewBag.Title = "AdvancedSearch"; }
<div class="loading-screen">
    <div class="jumbotron ng-scope">
        <div class="container">
            <h1><strong>My Deals</strong></h1>
            <p class="lead">Tender/Advanced Search</p>
            <br />
            <p class="load-text">Tender/Advanced Search is loading please wait....</p>
            <img src="/images/loading022.gif" />
        </div>
    </div>
</div>