<link href="/Client/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet" />
<link href="/Client/node_modules/@progress/kendo-theme-bootstrap/dist/all.css" rel="stylesheet" />

<div class="container-fluid overflow">
    <div class="row">
        <div class="col">
            <h1 mat-dialog-title>{{data.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div mat-dialog-content>
                <div class="example-config">Checked keys: {{ checkedKeys.join(",") }}</div>
                <kendo-multiselect  [(ngModel)]="checkedKeys" [autoClose]="true"  [allowCustom]="false"></kendo-multiselect>
                <kendo-treeview
                [nodes]="listItems"
                textField="DROP_DOWN"
                [children]="fetchChildren"
                [hasChildren]="hasChildren"
                kendoTreeViewExpandable
                kendoTreeViewHierarchyBinding
                childrenField="items"
                kendoTreeViewCheckable
                [(checkedKeys)]="checkedKeys"
                [checkBy]="key"
                (checkedKeysChange)="onSelectionChange($event)"
              >
              </kendo-treeview>
            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col">
            <div mat-dialog-actions>
                <button mat-button (click)="onNoClick()" class="btn btn-warning">Cancel</button>
                <button mat-button (click)="onSave()" cdkFocusInitial class="btn btn-primary">Save & Close</button>
            </div>
        </div>
    </div>
</div>