<link href="/Client/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="/Client/node_modules/@progress/kendo-theme-bootstrap/dist/all.css" rel="stylesheet" />
<link href="/Client/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet" />
<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12" style="padding-top: 50px; padding-left:35px; padding-bottom: 10px;">
        <h3>Customer Mapping</h3>
    </div>
</div>

<div class="col-md-12 kendo-grid-buttons">

    <kendo-grid [data]="gridData" [loading]="isLoading" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort"
                [filter]="state.filter" [sortable]="true" [pageable]="{type:type,pageSizes: pageSizes,info:info}"
                [groupable]="false" [group]="state.group" filterable="menu"
                [navigable]="true" (dataStateChange)="dataStateChange($event)" (add)="addHandler($event)" (edit)="editHandler($event)"
                (cancel)="cancelHandler($event)" (save)="saveHandler($event)">
        <ng-template kendoGridToolbarTemplate>
            <button (click)="clearFilter()" class="k-button clearButton">
                <span class="k-icon  k-i-filter-clear k-icon-md"></span>
                CLEAR FILTERS
            </button>
            <kendo-grid-spacer></kendo-grid-spacer>
            <button (click)="refreshGrid()" class="k-button clearButton">
                <span class="k-icon k-i-reload k-icon-md"></span>
                Refresh
            </button>
        </ng-template>
        <kendo-grid-command-column title="Commands" width="100px" [headerClass]="{'headerClass':true}">
            <ng-template kendoGridCellTemplate let-isNew="isNew">
                <button id="command-icon" class="k-command-icon" kendoGridEditCommand>
                    <span class="k-icon k-i-edit k-icon-sm"></span>
                </button>
                <button id="command-icon" class="k-command-icon" kendoGridSaveCommand [disabled]="formGroup?.invalid">
                    <span class="k-icon k-i-check k-icon-sm"></span>
                </button>
                <button id="command-icon" class="k-command-icon" kendoGridCancelCommand>
                    <span class="k-icon k-i-cancel-outline k-icon-sm"></span>
                </button>
            </ng-template>
        </kendo-grid-command-column>
        <kendo-grid-column field="CUST_NM" title="Customer Name"  width="230" [headerClass]="{'headerClass':true}" [editable]="false">
            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                         let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                   [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="VISTEX_CUST_FLAG" title="Is Vistex Customer" width="180" editor="boolean" filter="boolean" [headerClass]="{'headerClass':true}">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                <div class="text-center">
                    <mat-slide-toggle [color]="color"
                                      [checked]="dataItem.VISTEX_CUST_FLAG" disabled>
                    </mat-slide-toggle>
                </div>
            </ng-template>
            <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                <div class="text-center">
                    <mat-slide-toggle [color]="color"
                                      [checked]="dataItem.VISTEX_CUST_FLAG" [formControl]="formGroup.get('VISTEX_CUST_FLAG')">
                    </mat-slide-toggle>
                </div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="DFLT_DOUBLE_CONSUMPTION" title="Allow Double Consumption" width="180" editor="boolean" filter="boolean" [headerClass]="{'headerClass':true}">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                <div class="text-center">
                    <mat-slide-toggle [color]="color"
                                      [checked]="dataItem.DFLT_DOUBLE_CONSUMPTION" disabled>
                    </mat-slide-toggle>
                </div>
            </ng-template>
            <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                <div class="text-center">
                    <mat-slide-toggle [color]="color"
                                      [checked]="dataItem.DFLT_DOUBLE_CONSUMPTION" [formControl]="formGroup.get('DFLT_DOUBLE_CONSUMPTION')">
                    </mat-slide-toggle>
                </div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="DFLT_PERD_PRFL" title="Period Profile" width="190" [headerClass]="{'headerClass':true}">
            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                         let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                   [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
            </ng-template>
            <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                <kendo-combobox #profileDropDown [data]="PeriodProfileData" [formControl]="formGroup.get('DFLT_PERD_PRFL')"
                                [allowCustom]="allowCustom">
                </kendo-combobox>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="DFLT_TNDR_AR_SETL_LVL" title="Tenders Settlement Level" width="230" [headerClass]="{'headerClass':true}">
            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                         let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                   [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
            </ng-template>
            <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                <kendo-combobox #tenderDropDown [data]="TenderARSettlementLevel" [formControl]="formGroup.get('DFLT_TNDR_AR_SETL_LVL')"
                                [allowCustom]="allowCustom">
                </kendo-combobox>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="DFLT_AR_SETL_LVL" title="Non-Tenders Settlement Level" width="230" [headerClass]="{'headerClass':true}">
            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                         let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                   [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
            </ng-template>
            <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                <kendo-combobox #nonTenderDropDown [data]="ARSettlementLevel" [formControl]="formGroup.get('DFLT_AR_SETL_LVL')"
                                [allowCustom]="allowCustom">
                </kendo-combobox>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="DFLT_CUST_RPT_GEO" title="Consumption Customer Reported Geo" [hidden]="true" [headerClass]="{'headerClass':true}">
            <!--Hiding the column temporarily as part of  the user story US695951. This might be enabled in future with full scope of features-->
            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                         let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                   [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
            </ng-template>
            <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                <kendo-combobox #custRptGeoDropDown [data]="custRptGeo" [formControl]="formGroup.get('DFLT_CUST_RPT_GEO')"
                                [allowCustom]="allowCustom">
                </kendo-combobox>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="DFLT_LOOKBACK_PERD" width="200" [headerClass]="{'headerClass':true}">
            <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                <span style="overflow:visible;white-space:normal">Billing Rolling Lookback Period (Months)</span>
                <div kendoTooltip>
                    <span class="k-icon k-i-question" title="Invoice eligibility time period for rebate payment. Could be a rolling number of months or equal to billings dates. Enter 0 (zero) for deals using billing start and end date."></span>
                </div>
            </ng-template>
            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                         let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                   [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                {{dataItem.DFLT_LOOKBACK_PERD===-1 ? "" : dataItem.DFLT_LOOKBACK_PERD}}
            </ng-template>
            <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                <kendo-numerictextbox [formControl]="formGroup.get('DFLT_LOOKBACK_PERD')" [min]="-1" [max]="24">
                </kendo-numerictextbox>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="CUST_CIM_ID" title="CIM ID" width="200" [headerClass]="{'headerClass':true}">
            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                         let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                   [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
            </ng-template>
            <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                <kendo-textbox [formControl]="formGroup.get('CUST_CIM_ID')"
                               [clearButton]="true">
                </kendo-textbox>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="DFLT_SETTLEMENT_PARTNER" title="Default Settlement Partner" width="250" [headerClass]="{'headerClass':true}">
            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                         let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                   [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
            </ng-template>
            <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                <kendo-combobox #settleDropDown [data]="SettlementPartner" [formControl]="formGroup.get('DFLT_SETTLEMENT_PARTNER')"
                                [allowCustom]="allowCustom">
                </kendo-combobox>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
    <kendo-dialog title="Please Fix" *ngIf="isCombExists" (close)="saveConfirmation()">
        <p *ngFor="let item of errorMsg" class="kendo-dialog-message" style="text-align: left;">{{item}}</p>
        <kendo-dialog-actions>
            <button class='k-button' (click)="saveConfirmation()">OK</button>
        </kendo-dialog-actions>
    </kendo-dialog>
</div>
