/* @import '../kendo_grid.css'; */

.k-grid.KendoProductAliasInfo {
    height: calc(100vh - 200px) !important;
    margin-right: 10px;
}

.grid_box_size {
    padding-left: 14px !important;
    padding-right: 5px !important;
    padding-top: 0 !important
}

.delete-space {
    margin-left: .16em !important;
    margin-right: -1em !important
}

.header-height-align {
    line-height: 1.1
}

.remove-space-cancel {
    margin-left: -1.14em !important
}