<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />

<loading-panel-angular id="adminVistesLoading" class="adminVistesLoadingClass" style="z-index:500;" [show]="isLoading" [header]="spinnerMessageHeader"
                       [description]="spinnerMessageDescription" [isShowFunFact]="isBusyShowFunFact" [msgType]="msgType"></loading-panel-angular>
<div class="col-md-12 k-header-alignment padding-top-20" style=" padding-left: 25px !important;">
    <h2>Vistex API Call</h2>
    <p style="color: #FC4C02">This screen allow to Test SAP PO API calls</p>
</div>
    <div>
        <div class="col-md-12" style="margin-top: 15px">
            <div class="col-md-1" style="font-size:14px; font-weight:bold">API Name: </div>
            <div class="col-md-5">
                <kendo-dropdownlist id="comboApiName" class="opUiContainer md vistexComboApiName" [data]="apiList" textField="API_NM"
                                    [defaultItem]="defaultItem" [itemDisabled]="itemDisabled"
                                    valueField="API_CD" [(ngModel)]="selectedApiCD" [valuePrimitive]="true"></kendo-dropdownlist>
                <button (click)="runApi()" class="btn btn-primary" style="margin-left: 15px">Simulate</button>
            </div>
        </div>
        <div class="col-md-12" style="margin-top:20px" [hidden]="!responseData.length>0">
            <div class="box box">
                <div class="box-header with-border">
                    <h3 class="box-title">Simulation Log</h3>
                    <div class="box-body">
                        <table class="table no-margin ReportAuditLog tableHeader tableHeaderVistex">
                            <thead>
                                <tr>
                                    <th style="width:2px"></th>
                                    <th>API Name</th>
                                    <th title="Start Time">Batch ID </th>
                                    <th title="End Time">Status</th>
                                    <th title="End Time">Message</th>
                                    <th title="Time Taken">Start Time</th>
                                    <th title="Time Taken">End Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of responseData">
                                    <td title="{{data.BatchStatus}}">
                                        <i *ngIf="data.BatchStatus !='PROCESSED'"
                                           class="intelicon-information-outlined red warning"></i>
                                    </td>
                                    <td>{{data.BatchName}}</td>
                                    <td>{{data.BatchId}}</td>
                                    <td>{{data.BatchStatus}}</td>
                                    <td>{{data.BatchMessage}}</td>
                                    <td>{{data.START_TIME}}</td>
                                    <td>{{data.END_TIME}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin-top:10px"></div>
    </div>