<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />

<div class="col-md-12 rmv-lft-rght-pdng">
    <div class="col-md-5" style="margin-top: 30px;">
        <h2 style="font-size: 26px; margin-bottom: 0; ">Integration Logs</h2>
        <p style="color: #FC4C02">This screen shows the data to be sent to the down stream application Vistex</p>
    </div>
    <div class="col-md-7 float-wdth" style="margin-top:35px;">
        <div class="col-md-10"><input class="form-control md" type="text" [(ngModel)]="DealIds" placeholder="Deal IDs. Multiple deal IDs can be separated with comma." title="Deal IDs. Multiple deal IDs can be separated with comma." style="width:100%;"></div>
        <div class="col-md-2"><button (click)="SendVistexData()" class="btn btn-primary" style="float: left;">Send
            Data</button></div>
        <br />
        <div *ngIf="IsDealIdsValid == false" style="color: #FC4C02;float:right;">Please enter valid Deal Ids</div>
    </div>
</div>
<div class="col-md-12 rmv-lft-rght-pdng">
    <div class="col-md-7 float-wdth" style="display:inline-block;">
        <div class="col-md-10">
            <div class="fr vistexDatePickers">
                <kendo-datepicker #picker [(value)]="startDate" calendarType="classic" [(ngModel)]="startDate" class="datePickerWidth">
                </kendo-datepicker>
                -
                <kendo-datepicker #picker [(value)]="endDate" calendarType="classic" [(ngModel)]="endDate" class="datePickerWidth">
                </kendo-datepicker>
            </div>
            <div class="fr mrgn-txt-color"> (OR) Date Range:</div>
            <div class="fr" style="margin-right:5px;">
                <input class="form-control md" type="text" [(ngModel)]="LogDealId" placeholder="Search by Deal ID " title="Get data by Deal ID" style="width:100%;">
            </div>
        </div>
        <div class="col-md-2">
            <button (click)="getData()" class="btn btn-primary" style="float: left;width:97px;">
                Get Data
            </button>
        </div>
    </div>
    <div class="another-press" style="margin-left: 20px;display:inline-block">
        <kendo-combobox class="fr opUiContainer md vistexIntegrationCombox" [data]="requestTypeList" [kendoDropDownFilter]="filterSettings" textField="RQST_NAME" valueField="RQST_TYPE" [(ngModel)]="selectedRequestType" (valueChange)="onRequestTypeChange($event)" style="width: 220px;height:33px;font-size: 5px;"></kendo-combobox>
        <div class="fr mrgn-txt-color" style="width: 100px;">
            Request Type:
        </div>
    </div>
    <div class="" style="margin-left: 20px;display:inline-block">
        <div class="fr mrgn-txt-color" style="width: 150px;">
            Show Archived data : 
            <mat-slide-toggle (change)="toggleAtchFilter($event)" class="toggle-button-custom mat-slide-toggle mat-primary mat-checked" [checked]="showArchivedData" id="ARCHV_FLG" name="ARCHV_FLG" [color]="color"></mat-slide-toggle>
        </div>
    </div>
</div>
<kendo-dialog *ngIf="showKendoAlert" (close)="closeKendoAlert()" [height]="150" [width]="350">
    <div class="kendoAlert kendoAlertVIL">{{kendoAlertMsg}}<b>{{kendoBoldMsg}}</b></div>
    <kendo-dialog-actions class="kendo-dlg-action">
        <div kendoButton (click)="closeKendoAlert()" class="kendo-alrt-btn vistexOkIntegrationLog">OK</div>
    </kendo-dialog-actions>
</kendo-dialog>
<loading-panel-angular class="vistexIntegLogLoader" [show]="isLoading" [header]="spinnerMessageHeader" [description]="spinnerMessageDescription" [msgType]="'Info'" [isShowFunFact]="true">
</loading-panel-angular>
<div class="col-md-12" style="margin-top: 10px;">
    <kendo-grid class="KendoVistexLog kAlignHeaders" [data]="gridData" [skip]="state.skip" [height]="450" [sortable]="true" [sort]="state.sort" [pageSize]="state.take" [group]="state.group" [navigable]="true" [resizable]="true" [pageable]="{type:'numeric',pageSizes: pageSizes,info:true,refresh:true}"
                [groupable]="false" [reorderable]="true" (dataStateChange)="dataStateChange($event)" [filter]="state.filter" filterable="menu" [columnMenu]="{sort:true}" (edit)="editHandler($event)" (cancel)="cancelHandler($event)" (save)="saveHandler($event)">
        <ng-template kendoGridToolbarTemplate>
            <button (click)="clearFilter()" class="k-button clearButton">
                <span class="k-icon intelicon-cancel-filter-solid k-icon-md k-family"></span>CLEAR FILTERS
            </button>
            <kendo-grid-spacer></kendo-grid-spacer>
            <button (click)="refreshGrid()" class="k-button clearButton"><span class="k-icon k-i-reload k-icon-md"></span>Refresh </button>
        </ng-template>
        <kendo-grid-command-column title=" " width="100" [headerClass]="{'headerClass':true}" [columnMenu]="false">
            <ng-template kendoGridCellTemplate let-isNew="isNew">
                <div class="text-center">
                    <button id="command-icon" class="k-command-icon" kendoGridEditCommand>
                        <span class="k-icon k-i-edit k-icon-sm edited-icon-color"></span>
                    </button>
                </div>
                <div class="text-center" style="margin-left: -4px;">
                    <button id="command-icon" class="k-command-icon" kendoGridSaveCommand [disabled]="formGroup?.invalid">
                        <span class="k-icon k-i-check k-icon-sm"></span>
                    </button><button id="command-icon" class="k-command-icon" kendoGridCancelCommand>
                        <span class="k-icon k-i-cancel-outline k-icon-sm"></span>
                    </button>
                </div>
            </ng-template>
        </kendo-grid-command-column>
        <kendo-grid-column field="RQST_SID" title="Request ID" width="130" [headerClass]="{'headerClass':true}" [editable]="false">
            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                </multicheck-filter>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="BTCH_ID" title="Batch ID" width="310px" [headerClass]="{'headerClass':true}" [editable]="false">
            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                </multicheck-filter>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>
                <span *ngIf="dataItem.BTCH_ID == '00000000-0000-0000-0000-000000000000';else batch_id"> - </span>
                <ng-template #batch_id>{{dataItem.BTCH_ID}}</ng-template>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="VISTEX_HYBRID_TYPE" title="Vistex Hybrid Type" width="190px" [headerClass]="{'headerClass':true}" [editable]="false">
            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                </multicheck-filter>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="DEAL_ID" title="Strategy/Deal ID" width="170px" [headerClass]="{'headerClass':true}" [editable]="false">
            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                </multicheck-filter>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="RQST_STS" title="Status" width="190px" [headerClass]="{'headerClass':true}">
            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                </multicheck-filter>
            </ng-template>
            <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                <kendo-combobox [data]="VistexStatuses" [formControl]="formGroup.get('RQST_STS')" class="vistexIntegrationCombox"></kendo-combobox>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="ERR_MSG" title="Message" width="300px" [headerClass]="{'headerClass':true}">
            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                </multicheck-filter>
            </ng-template>
            <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                <input class="form-control md" type="text" [formControl]="formGroup.get('ERR_MSG')" placeholder="Enter your message here.." title="Enter your message here.." style="width:95%;">
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="INTRFC_RQST_DTM" title="Send To PO On" width="150px" [headerClass]="{'headerClass':true}" [editable]="false">
            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                </multicheck-filter>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>
                <span *ngIf="dataItem.INTRFC_RQST_DTM == '1/1/1900';else req_date"> - </span>
                <ng-template #req_date>{{dataItem.INTRFC_RQST_DTM}}</ng-template>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="INTRFC_RSPN_DTM" title="Processed On" width="150px" [headerClass]="{'headerClass':true}" [editable]="false">
            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                </multicheck-filter>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>
                <span *ngIf="dataItem.INTRFC_RSPN_DTM == '1/1/1900';else res_date"> - </span>
                <ng-template #res_date>{{dataItem.INTRFC_RSPN_DTM}}</ng-template>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="CRE_DTM" title="Created On" width="140px" [headerClass]="{'headerClass':true}" [editable]="false">
            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                </multicheck-filter>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [headerClass]="{'headerClass':true}" width="140px" field="ARCHV_FLG" title="Is Archived" filter="boolean">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                <div class="text-center">
                    <mat-slide-toggle class="toggle-button-custom" [color]="color" [checked]="dataItem.ARCHV_FLG" disabled></mat-slide-toggle>
                </div>
            </ng-template>
        </kendo-grid-column>
        <ng-template kendoGridDetailTemplate let-dataItem>
            <section *ngIf="dataItem.RQST_JSON_DATA.length > 0">
                <kendo-grid [data]="convertToDetailChildArray(dataItem)" style="height:fit-content">
                    <kendo-grid-column field="RQST_JSON_DATA" title="Request JSON Data" [headerClass]="{'headerClass':false}">
                    </kendo-grid-column>
                </kendo-grid>
            </section>
        </ng-template>
    </kendo-grid>
</div>