﻿.vistexComboApiName {
    width: 250px !important;
    height: 29px;
}

#adminVistesLoading .ss-loading-panel {
    margin-top: 6%;
    margin-left: 37%;
}

.tableHeaderVistex > thead:first-child > tr:first-child > th {
    background: #FFFFFF;
    border-right: 1px solid #f2f2f2;
    border-bottom: 3px solid #2196F3;
}

.tableHeaderVistex {
    border: 1px solid #f2f2f2;
}