.marginRight {
    margin-right: 10px
}

.prodSelectorSearch {
    padding-top: 9px;
    overflow: hidden
}

    .prodSelectorSearch .prod-autocomplete {
        padding-top: 0;
        padding-bottom: 0;
        width: 400px !important
    }

@media (max-width:1100px) {
    .prodSelectorSearch .prod-autocomplete {
        width: 240px !important
    }
}

@media (max-width:800px) {
    .prodSelectorSearch .prod-autocomplete {
        width: 180px !important
    }
}

.k-pager-info {
    display: block !important
}

.textProdSelector {
    font-size: 21px;
    color: white
}

.insertAtRowsText {
    color: white;
    font-size: 16px;
    text-align: right;
    padding-top: 20px
}

.prodHeader {
    color: white;
    font-size: 26px
}

@media (max-width:1100px) {
    .prodHeader {
        font-size: 20px;
        padding-top: 8px
    }
}

@media (max-width:800px) {
    .prodHeader {
        font-size: 18px;
        padding-top: 8px
    }
}

.breadCrumbWrapper {
    padding-right: 10px;
    font-size: 21px
}

.modalCloseIcon {
    color: white;
    font-size: 32px;
    padding-top: 0;
    padding-left: 20px;
    margin-top: -8px
}

.productSelectorpath.breadcrumb > li + li:before {
    padding: 0 5px;
    color: white;
    content: ">";
    font-size: 16px
}

.productSelectorpath.breadcrumb {
    color: white;
    background-color: #1a3e6f;
    padding-left: 10px;
    margin-bottom: 0
}

.prodDrillDownLarge .drillDown.input-group span.input-group-addon {
    width: 20%;
    height: 24px;
    position: absolute;
    padding: 0;
    padding-top: 2px;
    left: 0;
    top: 10px
}

.prodDrillDownLarge .drillDown.input-group p {
    margin-left: 10px !important;
    margin-right: 10px !important;
    width: 100%
}

a.prdAnchor {
    color: white;
    cursor: pointer
}

    a.prdAnchor:hover {
        color: #01AEEF;
        text-decoration: none;
        cursor: pointer
    }

.productSelector.Warning {
    color: #FFA300
}

.heirSelected {
    color: #01AEEF
}

.productSelector.Issue {
    color: #FC4C02
}

.drillDown.btn-group button {
    background-color: #01AEEF !important;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
    border-right: 2px solid white !important;
    color: white !important;
    cursor: pointer;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden
}

.drillDown {
    background-color: #01AEEF
}

    .drillDown.btn-group {
        padding-top: 3px;
        padding-bottom: 3px;
        height: 100% !important
    }

    .drillDown btn-group btn-group-justified prod-sel-btn {
        float: none;
        width: 100%;
        vertical-align: middle;
        border-collapse: separate;
        height: 100% !important;
        padding: 6px 12px
    }

    .drillDown.btn-group.btn {
        white-space: normal !important;
        word-wrap: break-word
    }

    .drillDown.btn-group button:not(:last-child) {
        border-right: none
    }

    .drillDown.btn-group button.noborder {
        border-right: none !important
    }

    .drillDown.btn-group button:hover {
        background-color: #01AEEF !important;
        color: #1a3e6f !important
    }

    .drillDown.btn-group button:focus, .button:active {
        outline: none !important;
        background-color: #01AEEF
    }

.noLeftBorder {
    border-left: none !important
}

.prodDrillDownLarge {
    background-color: #01AEEF;
    border-bottom: 2px solid #1a3e6f;
    border-left: 1px solid #ffffff;
    border-right: none;
    border-top: none;
    text-align: center
}

    .prodDrillDownLarge p {
        font-size: 13px;
        color: #fff;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        margin: 0 !important;
        width: 100%;
        padding: 11px 15px 1rem 15px
    }

        .prodDrillDownLarge p:hover {
            color: #1a3e6f
        }

.prodSelected.ui-select-multiple.ui-select-bootstrap {
    min-height: 100px !important;
    max-height: 100px !important;
    overflow-y: auto;
    overflow-x: hidden
}

.err-Search {
    color: #FF6E77;
    font-size: 12px !important;
    padding-left: 1px !important;
    padding-top: 2px !important
}

.prdBtn {
    font-size: 13px
}

@media (max-width:1300px) {
    .prdBtn {
        padding: 6px
    }
}

.prdBtn.btn-primary {
    background-color: #01AEEF !important
}

    .prdBtn.btn-primary:hover {
        background-color: #01AEEF;
        color: #1a3e6f
    }

    .prdBtn.btn-primary:focus, .btn-primary:active {
        outline: none !important;
        background-color: #01AEEF
    }

.prodSelected .btn-primary:focus, .btn-primary:hover {
    color: #fff;
    background-color: #01AEEF
}

.prodSelector .leftNavFilter {
    background-color: #e7e7e8;
    height: calc(85vh - 390px);
    padding: 4px;
    overflow: auto;
    font-family: 'Intel Clear','Arial'
}

.leftNavFilter kendo-treeview ul li span {
    background-color: transparent !important;
    color: #00AEEF !important
}

    .leftNavFilter kendo-treeview ul li span.k-in.k-state-selected {
        background-color: rgba(2,173,255,1) !important;
        color: #fff !important
    }

    .leftNavFilter kendo-treeview ul li span.k-in.k-state-focused {
        box-shadow: none !important
    }

    .leftNavFilter kendo-treeview ul li span span.badge.upperBadge {
        font-size: 10px;
        padding: 2px 4px;
        background-color: #fff !important;
        color: #00AEEF !important;
        vertical-align: text-top;
        font-weight: 600;
        margin-left: 6px
    }

.prodSelector .miniProdNav {
    padding: 0 15px;
    margin-right: 10px;
    font-weight: 600
}

.filterTitleUnderline {
    margin: 5px;
    font-size: 15px;
    color: #1a3e6f;
    border-bottom: 1px solid #D3D3D3;
    font-weight: bold
}

.lblSelected label span {
    color: white !important
}

.lblSelected {
    background: rgba(2,173,255,1)
}

.lblNotSelected {
    background: none
}

.prodSelector .filterGrp {
    font-family: arial;
    font-weight: 600;
    font-size: 11px;
    margin: 5px 5px 5px 10px
}

    .prodSelector .filterGrp .filterContainer {
        font-weight: 200;
        margin-bottom: 20px
    }

        .prodSelector .filterGrp .filterContainer label {
            font-weight: 200;
            margin-left: 5px;
            cursor: pointer
        }

    .prodSelector .filterGrp .srchContainer {
        margin: 3px 0 0 15px;
        cursor: pointer;
        line-height: 1em
    }

        .prodSelector .filterGrp .srchContainer:hover i {
            color: #003C71
        }

        .prodSelector.filterGrp .srchContainer i {
            color: #00AEEF;
            font-size: 14px;
            margin-right: 5px
        }

.prodSelector.modal-header {
    border-bottom: none;
    padding-bottom: 0
}

.prodSelector.modal-body {
    padding: 20px;
    padding-bottom: 0;
    min-height: 180px;
    height: 280px;
    overflow-y: auto;
    max-height: 100%;
    padding-top: 0;
    overflow-x: hidden
}

.dealTools.check-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%
}

kendo-grid.select-suggest-pop-up {
    height: 250px
}

.height-100 {
    height: 100% !important
}

.prodSelector .productSuggestion .k-grid-content {
    height: calc(85vh - 500px);
    min-height: 180px;
    max-height: calc(85vh - 500px)
}

#productSuggestion.k-grid-content {
    height: calc(85vh - 480px);
    min-height: 600px;
    max-height: calc(85vh - 385px)
}

.prdSelector-modal-window, .modal-dialog {
    width: 95%;
    margin-left: auto;
    margin-right: auto
}

.checkbox-custom {
    opacity: 0;
    position: absolute
}

.checkbox-custom, .checkbox-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer
}

.checkbox-custom-label {
    position: relative
}

.checkbox-custom + .checkbox-custom-label:before {
    background: #fff;
    border: 1.5px solid #eee;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    padding: 2px;
    text-align: center
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    background: #01AEEF
}

.checkbox-custom:hover + .checkbox-custom-label:before {
    border: 1.5px solid #01AEEF
}

.drillDown .checkbox-custom:checked + .checkbox-custom-label:before {
    background: #01AEEF;
    border: 1.5px solid #797979
}

.drillDown .checkbox-custom + .checkbox-custom-label:before {
    border-radius: 2px
}

.drillDown .checkbox-custom:checked + .checkbox-custom-label:before {
    background: #797979
}

.prodDrillDownLarge .drillDown {
    background: initial !important;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
    position: relative;
    height: 100%;
    display: flex
}

.checkbox-custom[disabled]:hover + .checkbox-custom-label[disabled]:before {
    border: 1.5px solid red;
    cursor: no-drop
}

.prodSelector-grid.k-grid td {
    white-space: nowrap;
    color: #000000
}

.prodSelector .grpTitle {
    font-size: 16px;
    font-weight: 600
}

.productSuggestion-grid.k-grid td {
    white-space: nowrap
}

.prodSelector-grid.k-grid tr.k-alt {
    background-color: #fff
}

.prodSelector-grid.k-grid tr {
    background-color: #fff
}

.prodSelector-grid.k-grid .k-grid-header th.k-header {
    vertical-align: middle
}

.productSelector.searchTemplate {
    border-bottom: 1px solid #ddd
}

.selector.popover {
    font-size: 12px
}

span.productSelector.prdAnchor.Good {
    color: #9bc600
}

span.productSelector.prdAnchor:hover {
    text-decoration: none;
    color: #01AEEF
}

.productSelector.subHeaderNavContainer {
    color: #003C71;
    background-color: #f4f4f4;
    font-size: 16px;
    border-radius: 4px;
    padding: 4px;
    margin: 0 8px 0 0;
    width: 100%;
    height: 100%
}

input[type=checkbox].with-sm-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

    input[type=checkbox].with-sm-font + label:before {
        font-family: FontAwesome;
        display: inline-block;
        content: "\f096";
        font-size: 18px;
        color: #39c600;
        margin-left: 10px;
        margin-top: 2px;
        margin-bottom: 0 !important;
        vertical-align: middle;
        height: 13px;
        width: 14px;
        border-radius: 3px;
        background: #fff
    }

    input[type=checkbox].with-sm-font:hover + label:before {
        color: #9bc600;
        cursor: pointer
    }

    input[type=checkbox].with-sm-font.disabled + label:before {
        color: #cccccc;
        cursor: default
    }

    input[type=checkbox].with-sm-font:checked + label:before {
        content: "\f046";
        font-size: 18px;
        margin-left: 10px;
        margin-top: 2px;
        vertical-align: middle
    }

    input[type=checkbox].with-sm-font.ckSm:checked + label:before {
        font-size: 16px
    }

    input[type=checkbox].with-sm-font:focus + label:before {
        font-weight: bold
    }

.prodSelectorSearch .input-group-addon {
    background-color: #01AEEF;
    border: 1px solid #01AEEF
}

    .prodSelectorSearch .input-group-addon input[type=checkbox] {
        margin-top: 2px;
        width: 20px
    }

.drillDown .input-group-addon {
    padding: 10px 0 0 10px;
    font-size: 15px;
    font-weight: normal;
    color: #333;
    text-align: center;
    border-radius: 2px;
    background-color: inherit;
    border: none
}

.paddingLeftNone {
    padding-left: 0 !important;
    padding-right: 15px !important
}

.paddingRightNone {
    padding-right: 0 !important;
    padding-left: 15px !important
}

.paddingRight15 {
    padding-right: 15px !important
}

.arcAnimate.ani-mate {
    width: auto
}

.arcAnimate {
    width: 60%;
    display: inline-block
}

.product-selector-dialog mat-dialog-container {
    padding: 0 !important;
    overflow: hidden !important;
    border-radius: 0 !important;
    margin-top: 30px !important
}

.modal-content {
    border-radius: 0 !important;
    border: 0 !important
}

.isSoftWarnCell {
    background-color: #f3d54e !important;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    font-family: arial;
    color: #444
}

.product-selector {
    height: 88vh;
    background-color: #1a3e6f;
    overflow-y: auto;
    overflow-x: hidden;
    border-left: 1px solid #1a3e6f !important;
    border-right: 1px solid #1a3e6f !important
}

.product-list {
    margin: 0 3px 3px 0;
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid;
    padding: 1px 5px;
    font-size: 13px;
    cursor: pointer;
    box-sizing: border-box;
    float: left !important
}

.k-grid a {
    color: #0071c5 !important;
    cursor: pointer
}

    .k-grid a:hover, a:focus {
        color: #004579;
        text-decoration: none !important;
        cursor: pointer
    }

.btn-primary.disabled-save[disabled] {
    background-color: #01AEEF !important;
    color: #b1babf !important;
    border-color: #b1babf !important;
    cursor: not-allowed !important;
    pointer-events: all !important
}

kendo-grid.raid-style {
    height: 278px
}

.th-check-box {
    height: 13px !important;
    width: 13px !important;
    position: relative !important;
    margin: 0 !important
}

.product-breakout-modal {
    width: 70vw !important
}

    .product-breakout-modal > mat-dialog-container {
        background-color: #1a3e6f !important;
        padding: 0 !important
    }

    .product-breakout-modal mat-dialog-container product-breakout .modal-content {
        box-shadow: none
    }

#PTRLoading .ss-loading-overlay .myLoader {
    left: 40% !important;
    top: 35% !important
}

#PTRLoading .ss-loading-overlay {
    opacity: 1;
    top: 0;
    left: 0
}

.header-PS {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column
}

.bg-yellow-remove .isSoftWarnCell {
    background-color: transparent !important
}

kendo-grid.raid-style.k-widget.k-grid table tr th span.k-cell-inner .k-link .k-column-title {
    text-transform: capitalize;
    color: #1a3e6f;
    font-size: 12px !important;
    font-family: "Intel Clear","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    white-space: nowrap !important;
    overflow: hidden !important
}

kendo-grid.raid-style.k-widget.k-grid table tr th span.k-cell-inner .k-link:hover {
    background: transparent !important
}

kendo-grid.raid-style.k-widget.k-grid table tr th span.k-cell-inner kendo-grid-filter-menu .k-grid-filter span.k-icon.k-i-filter {
    color: #808080
}

    kendo-grid.raid-style.k-widget.k-grid table tr th span.k-cell-inner kendo-grid-filter-menu .k-grid-filter span.k-icon.k-i-filter:hover {
        color: #00aeef !important
    }

.CAPYCS2CellContent {
    padding: 2px 4px;
    border: 1px solid transparent;
    min-height: 16px;
    line-height: 1em;
    font-family: arial;
    text-align: center;
    cursor: pointer;
}

    .CAPYCS2CellContent.accurate-height {
        height: 25px;
    }

.another-possible {
    line-height: 1
}

.label-allowers:before {
    padding: 0 !important;
    font-size: 10px !important;
    position: relative !important;
    top: -1px !important
}

#prodGrid .k-grid td {
    border-width: 0 !important;
    padding: 0;
    height: 50px;
    color: #1a3e6f;
    font-family: 'Intel Clear','Arial';
    font-weight: 500
}

    #prodGrid .k-grid td, #prodGrid .k-grid td div, #prodGrid .k-grid td span {
        white-space: nowrap !important;
        text-overflow: ellipsis;
        overflow: hidden;
        position: relative;
        width: 100%
    }

#closePopover {
    text-align: end !important;
}

.all-checkbox-center {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative
}

#productSearch span.k-icon.k-clear-value.k-i-close {
    height: 18px;
    width: 18px;
    color: rgb(1 174 239);
    background: rgb(219 219 219);
    border-radius: 50%;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1
}

.clear-shift-style {
    margin-right: 16px !important
}

.text-shift-left {
    margin-right: 83px !important
}

.product-selector-font-align {
    text-align: center;
    font-weight: normal
}

.ps-v-modal-footer {
    padding: 0;
    bottom: 0;
    position: absolute;
    border-top: 0;
    width: 100%;
    display: inline
}

.cus-them-padding {
    padding: 15px
}

.pad-right-remove {
    padding-right: 0 !important
}

.trash-margin {
    margin-right: 2px !important
}

.multiple-selector {
    display: flex
}

.cus-them-padding {
    padding: 20px
}

.lblFilterProd {
    font-weight: 600 !important;
    color: #00AEEF !important;
    cursor: pointer
}

.k-treeview .k-in {
    cursor: pointer;
    font-weight: 700 !important;
    width: 100%
}

@media screen and (max-height:715px) {
    .ps-v-modal-footer {
        padding: 0;
        bottom: 0;
        position: relative;
        border-top: 0;
        width: 100%;
        display: block
    }

    .productSelector.Issue {
        font-size: 14px
    }
}



