<link href="/Client/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="/Client/node_modules/@progress/kendo-theme-bootstrap/dist/all.css" rel="stylesheet" />
<link href="/Client/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet" />
<link href="/Client/src/app/contract/ptModals/productSelector/productselector.component.css" rel="stylesheet" />
<loading-panel-angular id="PTRLoading" style="z-index: 500" [show]="isLoading" [header]="spinnerMessageHeader" [description]="spinnerMessageDescription"></loading-panel-angular>
<div class="product-selector modal-content">
    <div class="prodSelector modal-header header-PS">
        <div class="row" style="width:100%">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <p class="prodHeader cursorArea">
                    Product Selector
                    <img *ngIf="isLoadingSearchProducts" src="/Images/loadingSmall.gif" style="margin-left: 25px" />
                </p>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8 prodSelectorSearch">
                <div class="modalCloseIcon fr">
                    <i role="button" title="Close" class="intelicon-close-max" style="position:relative" (click)="cancel()"></i>
                </div>
                <button class="btn btn-default prdBtn fr" (click)="clearSearch()" style="margin: 0 0 0 8px;">
                    Clear
                </button>
                <button class="btn btn-primary prdBtn fr" (click)="searchProduct()" style="margin: 0 0 0 10px;">
                    Search
                </button>
                <kendo-autocomplete id="productSearch" class="prod-autocomplete fr form-control input-sm" [(ngModel)]="userInput" [suggest]="false" [data]="productOptions" [filterable]="true" (filterChange)="changeProductOption($event)" (valueChange)="searchProduct()"
                    valueField="Name">
                </kendo-autocomplete>
            </div>
        </div>

        <!-- kendo breadcrumb implementation this is not exact breadcrumb but making in the similar way -->
        <div class="row breadCrumbWrapper">
            <ul class="productSelectorpath breadcrumb">
                <li><a class="prdAnchor" (click)="selectPath(0)">{{drillDownPrd}}</a></li>
                <ng-container *ngFor="let p of selectedPathParts | unique:'name'; let index=index">
                    <li *ngIf="p.name != 'NA' || p.path.startsWith('CPU SvrWS NA')"><a class="prdAnchor" (click)="selectPath(index + 1)">{{p.name}}</a></li>
                </ng-container>
            </ul>
        </div>
    </div>
    <div style="height:80%;padding-top: 15px;">
        <div class="prodSelector modal-body">
            <div *ngIf="showSuggestions" class="productSelector subHeaderNavContainer mini-right miniProdNav">
                <div *ngIf="!(errorMessage.length > 0)">
                    <div *ngIf="!disableSelection">{{suggestionText}}</div>
                    <div class="productSelector Issue" *ngIf="disableSelection">Product(s) does not match the global filter criteria (Media Code in Autofill defaults for instance) or is not active within the deal date range.</div>
                    <div style="padding-top:5px;" id="prodGrid">
                        <table *ngIf="suggestedProducts.length !== 0" style="width: 100%; height: 100%;table-layout:fixed">
                            <tr>
                                <td style="width:20%;min-width:20px;max-width:200px">
                                    <div class="leftNavFilter">
                                        <div class="filterTitleUnderline" *ngIf="curRowIssues.length > 0">Products Found</div>
                                        <div class="filterGrp">
                                            <div class="filterContainer" uib-collapse="isPrdCollapsed">
                                                <div *ngFor="let item of curRowIssues | orderBy: 'name'" style="max-height: 23px;" [ngClass]="{'lblSelected': item.selected, 'lblNotSelected': !item.selected}">
                                                    <div *ngIf="item.cnt > 0">
                                                        <input type='checkbox' (click)="clickFilter()" [(ngModel)]="item.selected" class='check ckSm with-sm-font' id="fltrPrdChk{{item.id}}" />
                                                        <label for="fltrPrdChk{{item.id}}" class="lblFilterProd">
                                                            <span ng-bind-html="item.name">{{item.name}}</span>
                                                            <span class="badge upperBadge" *ngIf="item.status == 'Issue'">{{ item.cnt == 0 ? "?" : item.cnt }}</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="filterTitleUnderline" *ngIf="curRowLvl.length > 1">Product Level</div>
                                        <div class="filterGrp" *ngIf="curRowLvl.length > 1">
                                            <div class="filterContainer" uib-collapse="isLvlCollapsed">
                                                <div *ngFor="let item of curRowLvl | orderBy: 'name'" style="max-height: 23px;" [ngClass]="{'lblSelected': item.selected, 'lblNotSelected': !item.selected}">
                                                    <input type='checkbox' (click)="clickFilter()" [(ngModel)]="item.selected" class='check ckSm with-sm-font' id="fltrLvlChk{{item.id}}" />
                                                    <label for="fltrLvlChk{{item.id}}" class="lblFilterProd">
                                                        <span ng-bind-html="item.name"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="filterTitleUnderline" *ngIf="curRowCategories.length > 1">Product Vertical</div>
                                        <div class="filterGrp" *ngIf="curRowCategories.length > 1">
                                            <div class="filterContainer" uib-collapse="isCatCollapsed">
                                                <div *ngFor="let item of curRowCategories | orderBy: 'name'" style="max-height: 23px;" [ngClass]="{'lblSelected': item.selected, 'lblNotSelected': !item.selected}">
                                                    <input type='checkbox' (click)="clickFilter()" [(ngModel)]="item.selected" class='check ckSm with-sm-font' id="fltrCatChk{{item.id}}" />
                                                    <label for="fltrCatChk{{item.id}}" class="lblFilterProd">
                                                        <span ng-bind-html="item.name"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <kendo-grid [data]="suggestedProducts" [loading]="isGridLoading" [pageSize]="state.take" [skip]="state.skip" [filter]="state.filter" filterable="menu" [sortable]="true" [sort]="state.sort" [pageable]="{type:type,pageSizes: pageSizes,info:info,refresh:true}"
                                        [groupable]="false" [resizable]="true" (dataStateChange)="dataStateChange($event)">
                                        <kendo-grid-column width="65px" [columnMenu]="false">
                                            <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                                                <div class='dealTools'>
                                                    <input type='checkbox' class='grid-link-checkbox with-font th-check-box' (click)="toggleSelectAll($event, suggestedProducts)">
                                                </div>
                                            </ng-template>
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <div class='dealTools'>
                                                    <input type='checkbox' class='grid-link-checkbox with-font th-check-box' (click)="selectProduct(dataItem)" [(ngModel)]="dataItem.selected">
                                                </div>
                                            </ng-template>
                                        </kendo-grid-column>
                                        <ng-template ngFor [ngForOf]="gridColumnsSuggestion" let-column>
                                            <kendo-grid-column [headerClass]="{ 'headerClass': true }" field="{{ column.field }}" title="{{ column.title }}" [hidden]="column.hidden" [width]="column.width" [style]="{'white-space': 'nowrap'}">
                                                <div *ngIf="column.field !== 'EPM_NM' && column.field !=='PRD_STRT_DTM' && column.field !== 'PRD_END_DTM'">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                                                 let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                                                           [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                                                    </ng-template>
                                                </div> 
                                             <!-- Template for `Cap Info` column -->
                                                <div *ngIf="column.field == 'CAP'">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        <!-- Popover Template -->
                                                        <ng-template #popoverContent>
                                                            <div class="popover-content">
                                                                <div class="row">
                                                                    <a id="closePopover" role="button" (click)="popOver.close()"><i class="intelicon-close-max"></i></a>
                                                                </div>
                                                                <div class="row">
                                                                    <grid-popover [popOver]="popOver" [columnTypes]="column.field" [currentPricingTableRow]="pricingTableRow" [productMemberSId]="dataItem.PRD_MBR_SID" [priceCondition]="column.field"></grid-popover>
                                                                </div>
                                                            </div>
                                                        </ng-template>

                                                        <!-- Cell Content -->
                                                        <div class="CAPYCS2CellContent" #popOver="ngbPopover" [ngbPopover]="popoverContent" (click)="openModal(column.field, pricingTableRow, dataItem.PRD_MBR_SID, column.field)">
                                                            <!-- CAP Info cell design -->
                                                            <div [class.isSoftWarnCell]="dataItem.CAP.includes('No')" style="text-align: center;">
                                                                <strong>{{ dataItem.CAP }}</strong>
                                                                <div *ngIf="!dataItem.CAP.includes('No')">
                                                                    <br /> {{ dataItem.CAP_START }} - {{ dataItem.CAP_END }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </div>
                                                <!-- Template for `YCS2 Info` column -->
                                                <div *ngIf="column.field == 'YCS2'">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        <!-- Popover Template -->
                                                        <ng-template #popoverContent>
                                                            <div class="popover-content">
                                                                <div class="row">
                                                                    <a id="closePopover" role="button" (click)="popOver.close()"><i class="intelicon-close-max"></i></a>
                                                                </div>
                                                                <div class="row">
                                                                    <grid-popover [popOver]="popOver" [columnTypes]="column.field" [currentPricingTableRow]="pricingTableRow" [productMemberSId]="dataItem.PRD_MBR_SID" [priceCondition]="column.field"></grid-popover>
                                                                </div>
                                                            </div>
                                                        </ng-template>

                                                        <!-- Cell Content -->
                                                        <div class="CAPYCS2CellContent" #popOver="ngbPopover" [ngbPopover]="popoverContent" (click)="openModal(column.field, pricingTableRow, dataItem.PRD_MBR_SID, column.field)">
                                                            <!-- YCS2 Info cell design -->
                                                            <div [class.isSoftWarnCell]="dataItem.YCS2.includes('No')" style="text-align: center;">
                                                                {{ dataItem.YCS2 }}
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </div>
                                            </kendo-grid-column>
                                        </ng-template>
                                    </kendo-grid>
                                </td>
                            </tr>
                        </table>
                        <div class="productSelector Warning" *ngIf="suggestedProducts.length === 0">
                            Unable to find any products for "{{userInput}}."
                        </div>
                    </div>
                </div>
                <div class="productSelector Issue" *ngIf="errorMessage.length > 0">
                    {{errorMessage}}
                </div>
            </div>
            <div *ngIf="showTree && !showSuggestions" id="prodGrid" class="prodSelector opUiContainer md prodSelector-grid k-grid kendoGridHeight">
                <kendo-grid class="raid-style" [data]="gridData" [loading]="isGridLoading" [pageSize]="state.take" [skip]="state.skip" [filter]="state.filter" filterable="menu" [sortable]="true" [sort]="state.sort" [pageable]="{type:type,pageSizes: pageSizes,info:info,refresh:true}"
                    [groupable]="false" [resizable]="true" (dataStateChange)="dataStateChange($event)">
                    <kendo-grid-column width="65px" [columnMenu]="false">
                        <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                            <div class='dealTools all-checkbox-center'>
                                <input type='checkbox' class='grid-link-checkbox with-font th-check-box' (click)="toggleSelectAll($event, gridData.data)">
                            </div>
                        </ng-template>
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div class='dealTools all-checkbox-center'>
                                <input type='checkbox' class='grid-link-checkbox with-font th-check-box' (click)="selectProduct(dataItem)" [(ngModel)]="dataItem.selected">
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                    <ng-template ngFor [ngForOf]="gridColumnsProduct" let-column>
                        <kendo-grid-column [headerClass]="{ 'headerClass': true }" field="{{ column.field }}" title="{{ column.title }}" [hidden]="column.hidden" [width]="column.width">
                            <div *ngIf="column.field !== 'EPM_NM' && column.field !=='PRD_STRT_DTM' && column.field !== 'PRD_END_DTM'">
                                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                             let-filterService="filterService">
                                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                                       [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                                </ng-template>
                            </div>  
                          <!-- Link for processor number -->
                            <div *ngIf="column.field == 'PCSR_NBR'">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <a *ngIf='dataItem.PRD_ATRB_SID == 7006' (click)='gridSelectItem(dataItem)'>{{dataItem.PCSR_NBR}}</a>
                                    <div *ngIf='dataItem.PRD_ATRB_SID != 7006'>{{dataItem.PCSR_NBR}}</div>
                                </ng-template>
                            </div>
                            <!-- Link for deal product name -->
                            <div *ngIf="column.field == 'DEAL_PRD_NM'">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <a *ngIf='allowMMSelection(dataItem)' (click)='gridSelectItem(dataItem)'>{{dataItem.DEAL_PRD_NM}}</a>
                                    <div *ngIf='!allowMMSelection(dataItem)'>{{dataItem.DEAL_PRD_NM}}</div>
                                </ng-template>
                            </div>
                            <div *ngIf="column.field == 'PCSR_NBR'">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <a *ngIf='dataItem.PRD_ATRB_SID == 7006' (click)='gridSelectItem(dataItem)'>{{dataItem.PCSR_NBR}}</a>
                                    <div *ngIf='dataItem.PRD_ATRB_SID != 7006'>{{dataItem.PCSR_NBR}}</div>
                                </ng-template>
                            </div>
                            <!-- Template for `Cap Info` column -->
                            <div *ngIf="column.field == 'CAP'">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <!-- Popover Template -->
                                    <ng-template #popoverContent>
                                        <div class="popover-content">
                                            <div class="row">
                                                <a id="closePopover" role="button" (click)="popOver.close()"><i class="intelicon-close-max"></i></a>
                                            </div>
                                            <div class="row">
                                                <grid-popover [popOver]="popOver" [columnTypes]="column.field" [currentPricingTableRow]="pricingTableRow" [productMemberSId]="dataItem.PRD_MBR_SID" [priceCondition]="column.field"></grid-popover>
                                            </div>
                                        </div>
                                    </ng-template>

                                    <!-- Cell Content -->
                                    <div class="CAPYCS2CellContent accurate-height" #popOver="ngbPopover" [ngbPopover]="popoverContent" (click)="openModal(column.field, pricingTableRow, dataItem.PRD_MBR_SID, column.field)">
                                        <!-- CAP Info cell design -->
                                        <div [class.isSoftWarnCell]="dataItem.CAP.includes('No')" [class.uiControlDiv]="dataItem.CAP.includes('No')" style="text-align: center;">
                                            <strong>{{ dataItem.CAP }}</strong>
                                            <div class="another-possible" *ngIf="!dataItem.CAP.includes('No')">
                                                {{ dataItem.CAP_START }} - {{ dataItem.CAP_END }}
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                            <!-- Template for `YCS2 Info` column -->
                            <div *ngIf="column.field == 'YCS2'">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <!-- Popover Template -->
                                    <ng-template #popoverContent>
                                        <div class="popover-content">
                                            <div class="row">
                                                <a id="closePopover" role="button" (click)="popOver.close()"><i class="intelicon-close-max"></i></a>
                                            </div>
                                            <div class="row">
                                                <grid-popover [popOver]="popOver" [columnTypes]="column.field" [currentPricingTableRow]="pricingTableRow" [productMemberSId]="dataItem.PRD_MBR_SID" [priceCondition]="column.field"></grid-popover>
                                            </div>
                                        </div>
                                    </ng-template>

                                    <!-- Cell Content -->
                                    <div class="CAPYCS2CellContent bg-yellow-remove" #popOver="ngbPopover" [ngbPopover]="popoverContent" (click)="openModal(column.field, pricingTableRow, dataItem.PRD_MBR_SID, column.field)">
                                        <!-- YCS2 Info cell design -->
                                        <div [class.isSoftWarnCell]="dataItem.YCS2.includes('No')" [class.uiControlDiv]="dataItem.YCS2.includes('No')" style="text-align: center;">
                                            {{ dataItem.YCS2 }}
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </kendo-grid-column>
                    </ng-template>
                </kendo-grid>
            </div>
            <div *ngIf="!showTree && !showSuggestions">
                <div *ngIf="!hideSelection">
                    <div class="row" style="margin:2px;">
                        <ng-container *ngFor="let p of items; let last=last; let index=index">
                            <div class="clearfix" *ngIf="index % 4 == 0"></div>
                            <div class="col-sm-3 prodDrillDownLarge" title="{{checkForBlank(p.name)}}" [ngClass]="{'noLeftBorder':index % 4 == 0}">
                                <div [ngClass]="{'input-group':p.allowMultiple}" class="drillDown">
                                    <span *ngIf="p.allowMultiple" [ngClass]="{'input-group-addon':p.allowMultiple}">
                                        <input id="{{p.name}}" class="check with-sm-font" (click)="selectProduct(p)" [(ngModel)]="p.selected" type="checkbox">
                                        <label style="margin-bottom:0px;" for="{{p.name}}"></label>
                                    </span>
                                    <p role="button" (click)="selectItem(p, true)">{{checkForBlank(p.name)}}</p>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div *ngIf="hideSelection">
                    <div class="row" *ngIf="searchItems.length > 0" style="padding-left:10px;padding-right:10px;font-size:16px;">
                        <div class="drillDown btn-group btn-group-justified prod-sel-btn" role="group" aria-label="...">
                            <ng-container class="btn-group" *ngFor="let p of searchItems | orderBy:'name'; let last=last " role="group">
                                <button type="button" title="{{p.name}}" [ngClass]="{'noborder':last}" (click)="selectsearchItem(p)" class="btn btn-default">{{p.name}}</button>
                            </ng-container>
                        </div>
                    </div>
                    <div *ngIf="showSearchResults" id="prodGrid">
                        <kendo-grid [data]="gridData" [loading]="isGridLoading" [pageSize]="state.take" [skip]="state.skip" [filter]="state.filter" filterable="menu" [sortable]="true" [sort]="state.sort" [pageable]="{type:type,pageSizes: pageSizes,info:info,refresh:true}" [groupable]="false"
                            [resizable]="true" (dataStateChange)="dataStateChange($event)">
                            <kendo-grid-column width="65px" [columnMenu]="false">
                                <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                                    <div class='dealTools'>
                                        <input type='checkbox' class='grid-link-checkbox with-font th-check-box' (click)="toggleSelectAll($event)">
                                    </div>
                                </ng-template>
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <div class='dealTools'>
                                        <input type='checkbox' class='grid-link-checkbox with-font th-check-box' (click)="selectProduct(dataItem)" [(ngModel)]="dataItem.selected">
                                    </div>
                                </ng-template>
                            </kendo-grid-column>
                            <ng-template ngFor [ngForOf]="gridColumnsProduct" let-column>
                                <kendo-grid-column [headerClass]="{ 'headerClass': true }" field="{{ column.field }}" title="{{ column.title }}" [hidden]="column.hidden" [width]="column.width">
                                    <div *ngIf="column.field !== 'EPM_NM' && column.field !=='PRD_STRT_DTM' && column.field !== 'PRD_END_DTM'">
                                        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                                     let-filterService="filterService">
                                            <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                                               [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                                        </ng-template>
                                    </div>  
                             <!-- Link for processor number -->
                                    <div *ngIf="column.field == 'PCSR_NBR'">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            <a *ngIf='dataItem.PRD_ATRB_SID == 7006' (click)='gridSelectItem(dataItem)'>{{dataItem.PCSR_NBR}}</a>
                                            <div *ngIf='dataItem.PRD_ATRB_SID != 7006'>{{dataItem.PCSR_NBR}}</div>
                                        </ng-template>
                                    </div>
                                    <!-- Link for deal product name -->
                                    <div *ngIf="column.field == 'DEAL_PRD_NM'">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            <a *ngIf='allowMMSelection(dataItem)' (click)='gridSelectItem(dataItem)'>{{dataItem.DEAL_PRD_NM}}</a>
                                            <div *ngIf='!allowMMSelection(dataItem)'>{{dataItem.DEAL_PRD_NM}}</div>
                                        </ng-template>
                                    </div>
                                    <div *ngIf="column.field == 'PCSR_NBR'">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            <a *ngIf='dataItem.PRD_ATRB_SID == 7006' (click)='gridSelectItem(dataItem)'>{{dataItem.PCSR_NBR}}</a>
                                            <div *ngIf='dataItem.PRD_ATRB_SID != 7006'>{{dataItem.PCSR_NBR}}</div>
                                        </ng-template>
                                    </div>
                                    <!-- Template for `Cap Info` column -->
                                    <div *ngIf="column.field == 'CAP'">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            <!-- Popover Template -->
                                            <ng-template #popoverContent>
                                                <div class="popover-content">
                                                    <div class="row">
                                                        <a id="closePopover" role="button" (click)="popOver.close()"><i class="intelicon-close-max"></i></a>
                                                    </div>
                                                    <div class="row">
                                                        <grid-popover [popOver]="popOver" [columnTypes]="column.field" [currentPricingTableRow]="pricingTableRow" [productMemberSId]="dataItem.PRD_MBR_SID" [priceCondition]="column.field"></grid-popover>
                                                    </div>
                                                </div>
                                            </ng-template>

                                            <!-- Cell Content -->
                                            <div class="CAPYCS2CellContent" #popOver="ngbPopover" [ngbPopover]="popoverContent" (click)="openModal(column.field, pricingTableRow, dataItem.PRD_MBR_SID, column.field)">
                                                <!-- CAP Info cell design -->
                                                <div [class.isSoftWarnCell]="dataItem.CAP.includes('No')" style="text-align: center;">
                                                    <strong>{{ dataItem.CAP }}</strong>
                                                    <div *ngIf="!dataItem.CAP.includes('No')">
                                                        <br /> {{ dataItem.CAP_START }} - {{ dataItem.CAP_END }}
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </div>
                                    <!-- Template for `YCS2 Info` column -->
                                    <div *ngIf="column.field == 'YCS2'">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            <!-- Popover Template -->
                                            <ng-template #popoverContent>
                                                <div class="popover-content">
                                                    <div class="row">
                                                        <a id="closePopover" role="button" (click)="popOver.close()"><i class="intelicon-close-max"></i></a>
                                                    </div>
                                                    <div class="row">
                                                        <grid-popover [popOver]="popOver" [columnTypes]="column.field" [currentPricingTableRow]="pricingTableRow" [productMemberSId]="dataItem.PRD_MBR_SID" [priceCondition]="column.field"></grid-popover>
                                                    </div>
                                                </div>
                                            </ng-template>

                                            <!-- Cell Content -->
                                            <div class="CAPYCS2CellContent" #popOver="ngbPopover" [ngbPopover]="popoverContent" (click)="openModal(column.field, pricingTableRow, dataItem.PRD_MBR_SID, column.field)">
                                                <!-- YCS2 Info cell design -->
                                                <div [class.isSoftWarnCell]="dataItem.YCS2.includes('No')" [class.uiControlDiv]="dataItem.YCS2.includes('No')" style="text-align: center;">
                                                    {{ dataItem.YCS2 }}
                                                </div>
                                            </div>

                                        </ng-template>
                                    </div>
                                </kendo-grid-column>
                            </ng-template>
                        </kendo-grid>
                    </div>
                </div>
            </div>
        </div>
        <div class="prodSelector modal-footer" style="padding: 15px; bottom: 0px; position: absolute; border-top: 0px; width: 100%; display:inline">
            <div class="footerInline" style="padding:15px;">
                <div *ngIf="excludeMode">
                    <span>
                        <span class="text-left textProdSelector">
                            Excluded Products
                            <span class="arcAnimate">
                                <small role="button">&nbsp;({{excludedProducts.length}})</small>
                            </span>
                    </span>
                    </span>
                    <trashcan title="Clear excluded products" class="fr" (click)="clearProducts('E')"></trashcan>
                </div>
                <div *ngIf="!excludeMode" class="row">
                    <div [ngClass]="{'col-md-6':enableMultipleSelection, 'paddingRight15': !enableMultipleSelection}" style=" text-align: left;">
                        <span [ngClass]="{'paddingLeft15': !enableMultipleSelection}">
                            <span [ngClass]="{'paddingLeftNone':enableMultipleSelection}" class="text-left textProdSelector">
                                Selected Products
                                <span [ngClass]="{'animate':animateInclude}" class="arcAnimate">
                                    <small role="button">&nbsp;({{addedProducts.length}})</small>
                                </span>
                        </span>
                        </span>
                        <trashcan title="Clear products" class="fr clear-shift-style" (click)="clearProducts()"></trashcan>
                    </div>
                    <div *ngIf="enableMultipleSelection" class="col-md-6">
                        <span>
                            <span class="paddingRightNone text-left textProdSelector">
                                Excluded Products
                                <span class="arcAnimate text-shift-left">
                                    <small role="button">&nbsp;({{excludedProducts.length}})</small>
                                </span>
                        </span>
                        </span>
                        <trashcan title="Clear excluded products" class="fr" (click)="clearProducts('E')"></trashcan>
                    </div>
                </div>
                <div *ngIf="!excludeMode" class="row">
                    <div [ngClass]="{'col-md-6':enableMultipleSelection,'paddingLeftNone':enableMultipleSelection}">
                        <div contenteditable="false" class="prodSelected text-left" style="background-color:white; height:100px; width:100%; overflow:hidden auto;padding:5px;">
                            <span *ngFor="let item of addedProducts">
                                <span (click)="showSingleProductHierarchy(item)" class="product-list"
                                      [ngClass]="{'text-danger': isValidCapDetails(item)}" title="{{isValidCapDetails(item, true)}}">
                                    {{item.HIER_VAL_NM}} &nbsp;
                                    <button (click)="removeProduct(item, 'add')" style="border:none;padding:0;height:0"> ×</button>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div *ngIf="enableMultipleSelection" class="col-md-6 paddingRightNone">
                        <div contenteditable="false" class="prodSelected text-left" style="background-color: white; height: 100px; width: 100%; overflow: hidden auto;padding:5px;">
                            <span *ngFor="let item of excludedProducts">
                                <span class="product-list" [ngClass]="{'text-danger': isValidCapDetails(item)}" title="{{isValidCapDetails(item, true)}}">
                                    {{item.HIER_VAL_NM}}  &nbsp;
                                    <button (click)="removeProduct(item, 'exclude')" style="border:none;padding:0;height:0"> ×</button>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div *ngIf="excludeMode" class="row" style="padding-left:15px;padding-right:15px;">
                    <div contenteditable="false" class="prodSelected text-left" style="background-color:white; height:100px; width:95%; overflow:scroll">
                        <span *ngFor="let item of excludedProducts">
                            <span class="product-list" [ngClass]="{'text-danger': isValidCapDetails(item)}" title="{{isValidCapDetails(item, true)}}">
                                {{item.HIER_VAL_NM}} &nbsp;
                                <button (click)="removeProduct(item, 'exclude')" style="border:none;padding:0;height:0"> ×</button>
                            </span>
                        </span>
                    </div>
                </div>
                <br />
                <div class="form-inline insertAtRowsText" style="margin-top:-30px">
                    <span *ngIf="enableSplitProducts">
                        <input id="separateProduct" class="checkbox-custom" [(ngModel)]="splitProducts" name="separateroducts" type="checkbox">
                        <label for="separateProduct" class="checkbox-custom-label label-allowers" style="padding-bottom:5px;margin-top:0px;">&nbsp;Separate product in rows</label>
                    </span>
                    <button class="btn btn-primary fr prdBtn disabled-save" [disabled]="!excludeMode && addedProducts.length == 0" (click)="save()">Save</button>
                    <button class="btn btn-default fr prdBtn" (click)="cancel()" style="margin-right:4px;">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>