<link href="/Client/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="/Client/node_modules/@progress/kendo-theme-bootstrap/dist/all.css" rel="stylesheet" />
<link href="/Client/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet" />
<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12" style="height:50px"></div>
</div>
<div *ngIf ="!isLoading" class="row">
    <div class="col-md-12" style="padding-left: 35px;">
        <h3>Missing CAP/Cost</h3>
        <hr style="width:97%">
    </div>
    <div class="col-md-12 kendo-grid-buttons">
        <kendo-grid [data]="gridData" [loading]="isLoading" [pageSize]="state.take" [skip]="state.skip"
            [sort]="state.sort" [filter]="state.filter" [sortable]="true"
            [pageable]="{type:type,pageSizes: pageSizes,info:info}" [groupable]="false"
            [group]="state.group" filterable="menu" (dataStateChange)="dataStateChange($event)" (excelExport)="onExcelExport($event)">
        <ng-template kendoGridToolbarTemplate>
            <button class="k-button k-button-icontext k-grid-excel" kendoGridExcelCommand>
                <span class="k-icon k-i-file-excel"></span><div class="excelText"><span>Excel<br>Export</span></div>
            </button>
            <kendo-grid-spacer></kendo-grid-spacer>
        </ng-template>
            <kendo-grid-excel fileName="{{exportFileName}}" [fetchData]="allData">
                <kendo-excelexport-column *ngFor="let item of excelColumns | keyvalue : returnZero" field="{{item.key}}"
                title="{{item.value}}" [width]="150" [cellOptions]="cellOptions"
                [headerCellOptions]="headerCellOptions"></kendo-excelexport-column>
        </kendo-grid-excel>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="OBJ_SID" title="Deal Id" width="160px">
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="HIER_VAL_NM" title="Product" width="160px">
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="CAP" title="CAP-YCP1" width="110px">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                    <div  *ngIf ="dataItem.CAP === 'No CAP'" class="uiControlDiv isSoftWarnCell" style="font-family: arial; text-align: center; color: white;">
                        <div style="font-family: arial; text-align: center;font-weight:600">No CAP</div>
                    </div>
                    <div  *ngIf ="dataItem.CAP !== 'No CAP'" style="text-align: center;">{{dataItem.CAP}}</div>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="PRD_COST" title="Cost" width="110px">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                    <div *ngIf ="dataItem.PRD_COST === 'No Cost'" class="uiControlDiv isSoftWarnCell" style="font-family: arial; text-align: center; color: white;"><div style="font-family: arial; text-align: center;font-weight:600">No Cost</div>
                    </div>
                    <div  *ngIf ="dataItem.PRD_COST !== 'No Cost'" style="text-align: center;">{{dataItem.PRD_COST}}</div>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="DEAL_PRD_TYPE" title="Product Type" width="110px">
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="PRD_CAT_NM" title="Vertical" width="110px">
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="BRND_NM" title="Brand" width="110px">
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="FMLY_NM" title="Family" width="110px">
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="PCSR_NBR" title="Processor" width="110px">
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="MTRL_ID" title="Material Id" width="110px">
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="MM_MEDIA_CD" title="Media Code" width="110px">
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="PRD_STRT_DTM" title="Prod Start Date" width="140px">
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="PRD_END_DTM" title="Prod End Date" width="140px">
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="YCS2" title="YCS2" width="110px">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                    <div *ngIf ="dataItem.YCS2 === 'No YCS2'" class="uiControlDiv isSoftWarnCell" style="font-family: arial; text-align: center; color: white;"><div style="font-family: arial; text-align: center;font-weight:600">No YCS2</div>
                    </div>
                    <div *ngIf ="dataItem.YCS2 !== 'No YCS2'" style="text-align: center;">{{dataItem.YCS2}}</div>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="CPU_CACHE" title="CPU Cache" width="110px">
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="CPU_PACKAGE" title="CPU Package" width="110px">
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="CPU_PROCESSOR_NUMBER" title="CPU Processor" width="110px">
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="CPU_VOLTAGE_SEGMENT" title="CPU Voltage" width="110px">
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="CPU_WATTAGE" title="CPU Wattage" width="110px">
            </kendo-grid-column>
        </kendo-grid>
    </div>
</div>
<loading-panel-angular id="missingCAPCost" style="z-index: 500" [show]="isLoading" [header]="spinnerMessageHeader"></loading-panel-angular>