.missing_grid_h .isSoftWarnCell {
    color: #444 !important;
    background-color: #f3D54E !important
}

.missing_grid_h .k-grid-excel {
    font-size: 11px !important
}

.missing_grid_h .excelText {
    line-height: 1.2em;
    font-size: 12px;
    float: right
}

.missing_grid_h .excelText span {
    text-align: left
}

.pp-excel-css {
    font-size: 25px
}

.Missing_h_align {
    padding-left: 20px !important;
    padding-top: 32px !important
}

.Missing_h_text {
    font-size: 24px !important;
    padding-bottom: 5px !important
}

.header_bottom_line {
    width: 99% !important;
    border-top: 1px solid #555 !important
}

.kendo-grid-buttons.missingcost_grid {
    padding-left: 35px !important;
    padding-right: 3px !important;
    padding-top: 8px !important
}

.k-grid.missing_grid_h {
    height: calc(100vh - 250px) !important
}

.col-md-12.miss-cap {
    padding-left: 35px;
    padding-top: 27px
}

.missingSpinnersCap .spinner {
    margin: 10px auto;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px
}

.missingSpinnersCap .spinner>div {
    background-color: #0071C5;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out
}

.missingSpinnersCap .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s
}

.missingSpinnersCap .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s
}

.missingSpinnersCap .spinner .rect4 {
    -webkit-animation-delay: -.9s;
    animation-delay: -.9s
}

.missingSpinnersCap .spinner .rect5 {
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s
}

.missingSpinnersCap .ss-icon-lg {
    font-size: 4em;
    -webkit-animation: sk-zoom .3s 1 ease-in;
    animation: sk-zoom .3s 1 ease-in
}

.missingSpinnersCap .sky-blue {
    color: #00AEEF !important
}

.missingcost_grid {
    padding-right: 3px !important;
    padding-top: 8px !important
}

.k-button-text {
    font-size: 18px;
}