<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />
<app-breadcrumbs [list_breadcrumbs]="list_breadcrumbs" (selectedBreadCrumb)="responseLnav($event)"></app-breadcrumbs>

<div class="layout-cp-inner-page">
    <div class="grid-one" [ngStyle]="isVisible?{'min-width': '200px'}:{'min-width': 'auto'}">
        <div *ngIf="isVisible" id="tocCollapse" class="w100" style="cursor: pointer; text-align: right; font-size: 10px;">
            TOC <i (click)="Toggle()" class="intelicon-left-previous"></i>
            <app-coding-practices-leftNav [left_nav]="left_nav" (selectedLink)="responseLnav($event)"></app-coding-practices-leftNav>
        </div>
        <div id="togExpand" *ngIf="!isVisible" (click)="Toggle()" class="intelicon-up rotateIcon"><span class="font-cp">TOC</span> </div>
    </div>
    <div class="grid-two">
        <div id="getAccess">
            <h1 style="margin-top: 20px !important; font-size: 36px; font-family: 'Intel Clear' !important;"> Getting Started For Developer</h1>
            <p>This document help developers to understand MyDeals onboarding process.</p>
        </div>
        <div id="scopeBusinessProcess">
            <h3 style="margin-top: 30px; font-family: 'Intel Clear' !important;" class="intelicon-accessibility"> How to get Access ?</h3>
            <p>To access MyDeals application, a developer should raise AGS requests.</p>
            <div id="myAGS">
                <ol>
                    <li>
                        <a href="https://ags.intel.com/identityiq/home.jsf" target="_blank" class="btn-ttl-coding">Click here </a> to request access from Intel <b>Access Governance system</b>, on click you will be navigated to the home page as shown.
                        <div>
                            <img src="\Client\Images\docs\AGS-Home.png" style="width:65%" />

                        </div>
                    </li>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <li>
                        <a href="https://ags.intel.com/identityiq/accessRequest/accessRequest.jsf#/accessRequestSelf/add" target="_blank" class="btn-ttl-coding">Click here </a> to <b>Request Access For Myself</b>, on click you will be directly navigated
                        to the search access page as shown below.
                        <div>
                            <img src="\Client\Images\docs\Request-access.png" style="width:65%" /> <br /><br /><br />
                            <img src="\Client\Images\docs\search-access.png" style="width:65%" />
                        </div>
                    </li>
                </ol>
            </div>
            <div>
                <div>
                    <p>To access MyDeals application DB, developer should apply below AGS role.</p>
                    <ol>
                        <li style="list-style-type: none;">MyDeals_Developers_DEV</li>
                    </ol>
                </div>
                <div>
                    <p>To access MyDeals application UI, Please <a href="mailto:{{ mydealsAccessRequest }}" class="btn-ttl-coding">Click here</a> to request an email to Leads</p>
                </div>
                <p> To access MyDeals GITHUB, developer should apply below AGS roles.</p>
                <div>
                    <ol>
                        <li>1Source Github User</li>
                        <li>1Source Github Collab User on AZAD-CORP</li>
                        <li>MyDeals Github Developer</li>
                    </ol>
                    <div><a href=" https://1source.intel.com/onboard" target="_blank" class="btn-ttl-coding">Click here </a> for <b>Github SetUp</b>.</div>
                </div>
                <p>Note: Refer AGS Requests section to apply for above roles. Once all the requests are approved it takes approx 24 hours to reflect in the system.</p>
            </div>


            <div id="projectClone">
                <div>
                    <h3 style="margin-top: 30px; font-family: 'Intel Clear' !important;"> Local Project Setup </h3>
                </div>
                <p>After all AGS requests are approved then developer can setup the code in local system.</p>
                <div>
                    <a href="https://intel-my.sharepoint.com/:w:/r/personal/arun_s_kannambadam_intel_com/Documents/Dev%20Onboarding%20Doc.docx?d=w8208589238b141a895dc8b71c7e35a10&csf=1&web=1&e=01Ofn3" target="_blank" class="btn-ttl-coding">Click here </a>to
                    install the prerequisites under Local Environment setup. <br /><br />
                </div>
                <div>
                    <ol>
                        <li>
                            <a href="https://github.com/intel-innersource/applications.web.mydeals.webui" target="_blank" class="btn-ttl-coding">Click here </a> to open GitHub.
                            <p>On click of the above link developer will be nagivated to the github where UI source code can be cloned by copying the URL.</p>
                            <div>
                                <img src="\Client\Images\docs\UI-GitHub.png" style="width:660px;padding:10px" />
                                <img src="\Client\Images\docs\code-clone.png" style="width: 330px; margin-top: 10px; padding: 10px" />
                            </div>
                        </li>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <li>
                            <p>Open Visual Studio IDE and click on clone a repository, paste the URL and click on clone as shown below.</p>
                            <div>
                                <img src="\Client\Images\docs\Clone-repo-image.png" style="width: 30%; margin-top: 10px; padding: 10px" />
                                <img src="\Client\Images\docs\Cloning-vs.png" style="width: 30%; margin-top: 10px; padding: 10px" />
                            </div>
                        </li>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <li>
                            <p>Once the cloning is successfully completed the developer can see the .sln files, select Intel.Mydeals.sln</p>
                            <div>
                                <img src="\Client\Images\docs\sln-loaded2.png" style="width: 20%; margin-top: 10px;padding: 10px;" />
                                <img src="\Client\Images\docs\sln-loaded1-vs.png" style="width: 20%; margin-top: 10px;padding:10px" />
                            </div>
                        </li>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <li>
                            <p>Right click on Intel.Mydeals and select <b>Set as StartUp Project</b> and open the terminal in client folder then run the command <b>npm run build</b>. After successful build, run the application from visual studio.</p>
                            <div>
                                <img src="\Client\Images\docs\startup-2.png" style="width: 30%; margin-top: 10px;padding: 10px;" />
                                <img src="\Client\Images\docs\build-terminal.png" style="width:600px;padding:10px" />
                                <img src="\Client\Images\docs\startup-1.png" style="width: 20%; margin-top: 10px;padding:10px" />
                            </div>

                        </li>


                    </ol>
                </div>

            </div>

        </div>

        <div id="onboardingProcessForDB">
            <h3 style="margin-top: 30px; font-family: 'Intel Clear' !important;" class="intelicon-database-outlined">Onboarding process for DB</h3>
            <ol>
                <li>Download and install the SSMS (Sql Server Management Studio).</li>
                <li>Open the SSMS, select the required fields and connect with database.</li>
                <li>
                    Dev Sever connection string: DEVMYDEALSDBAAS.intel.com,3181 <br /> Note: For other pre-prod and prod server connection strings, please reach out to your respective Tech Leads.
                    <div>
                        <img src="Client/Images/docs/DB-Connect.png" style="width: 655px;padding:10px" />
                        <img src="Client/Images/docs/DB-Table.png" style="width: 629px;padding:10px" />
                    </div>
                </li>
                &nbsp;&nbsp;
                <li>
                    <div>
                        <a href="https://github.com/intel-innersource/applications.web.mydeals.database" target="_blank" class="btn-ttl-coding">Click here</a> to open GitHub.<br /> On click of the above link developer will be nagivated to the github where
                        DB source code can be cloned by copying the URL.
                        <div>
                            <img src="Client/Images/docs/DB-GitHub.png" style="width:660px; padding: 10px" />
                            <img src="Client/Images/docs/Code-db-clone.png" style="width: 330px; padding: 10px" />
                        </div>
                    </div>
                </li>
                <li>
                    Once the cloning is successfully completed the developer can see the folder view.
                    <div>
                        <img src="Client/Images/docs/DB-repo.png" style="width: 30%; margin-top: 10px; padding: 10px " />
                        <img src="Client/Images/docs/db-folder-view.png" style="width: 20%; margin-top: 10px; padding: 10px;" />
                    </div>
                </li>

            </ol>
        </div>

        <div id="batchJobProcess">
            <h3 style="margin-top: 30px; font-family: 'Intel Clear' !important;" class="intelicon-jobs-outlined job-outline-process">SSIS Batch Job Process</h3>
            <ol class="ordering-batch-job-constant">
                <li>
                    <p class="mb-0">How to access SSIS screen?</p>
                    <ul>
                        <li>
                            To access Batch Job constant screen, empId should be added in <b>SSIS_CNST_EMP_ID</b> attribute <br /> To verify access, GoTo Admin -> Dev Tools -> Monitoring -> constants <br />
                            <img src="Client/Images/docs/constants.png" style="width: 75%; margin: 10px 0; padding: 10px " />
                        </li>
                        <li>
                            For accessing the batch job constant screen, GoTo Admin -> Dev Tools -> Monitoring -> Batch Job Constants
                        </li>
                        <li>
                            If you have access the batch job constant screen will load or otherwise, it will throw the error <b>User does not have access to the screen. Press OK to redirect to Dashboard</b> in alert pop-up.<br />
                            <img src="Client/Images/docs/batch-job-constant-without-access.png" style="width: 75%; margin: 10px 0; padding: 10px " />
                        </li>
                        <li>
                            Batch job constant screen with access <br />
                            <img src="Client/Images/docs/batch-job-constant-full-screen.png" style="width: 75%; margin: 10px 0; padding: 10px " />
                        </li>
                    </ul>
                </li>
                <li>
                    <p class="mb-0">Types of batch jobs in MyDeals</p>
                    <ul class="batch-job-types">
                        <li>
                            <p class="mb-0">Autosys</p>
                            <ul class="explain-details">
                                <li>
                                    <b>Purpose:</b> Autosys is a enterprise job scheduling tool used for managing and automating the execution of batch jobs across the various platforms
                                </li>
                                <li>
                                    <b>Features:</b> It provides capabilities for scheduling, monitoring and managing jobs and workflows, handling complex dependencies and condition, and integrating with different systems and applications.
                                </li>                                
                            </ul>

                        </li>
                        <li>
                            <p class="mb-0">SQL Agent Job</p>
                            <ul class="explain-details">
                                <li>
                                    <b>Purpose:</b> SQL Server Agent is a component of Microsoft SQL Server used specifically for automationg tasks and managing job execution related to SQL Server databases.
                                </li>
                                <li>
                                    <b>Features:</b> It offer job scheduling, aleting, and automation capabilities directly within SQL Server. It can handle tasks such as running Transact-SQL script, SSIS packages, and managing backups.
                                </li>                                
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <p class="mb-0">SSIS Execution details</p>

                    <table class="table table-striped" style="max-width:1350px">
                        <thead>
                            <tr>
                                <th scope="col">Action</th>
                                <th scope="col">Option-Description</th>
                                <th scope="col">Option Applicable on which Job in Autosys/SQL Agent</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" rowspan="3">How to Adhoc Run/Force Start Job</th>
                                <td>Setup Adhoc flag in Batch Job Constant Screen - Will be picked Automatically in 5 min</td>
                                <td>idfcdudealags301a; idfcdudealcm301a; idfcdudealprc301a</td>
                            </tr>
                            <tr>
                                <td>Ask Autosys to run</td>
                                <td>idfcdudldeal301a; idfcdudldsa301a; idfcdudlpic301a</td>
                            </tr>
                            <tr>
                                <td>Setup Adhoc flag in Batch Job Constant Screen - Only FORSE MANUAL RUN IN SSIS Server</td>
                                <td>idfcdudealags301a; idfcdudealcm301a; idfcdudealprc301a; idfcdudeal301a; idfcdudealdsa301a; idfcdudealpic301a</td>
                            </tr>

                            <tr>
                                <th scope="row" rowspan="2">How to Force stop/kill the Job</th>
                                <td>Autosys Jobs - Ask Autosys to kill the job</td>
                                <td>idfcdudldeal301a; idfcdudldsa301a; idfcdudlpic301a</td>
                            </tr>
                            <tr>
                                <td>SQL Agent Job-Go To server and stop the SQL Agent Job</td>
                                <td>idfcdudealags301a; idfcdudealcm301a; idfcdudealprc301a</td>
                            </tr>

                            <tr>
                                <th scope="row" rowspan="2">How to Hold the Job</th>
                                <td>Autosys Jobs - Ask Autosys to ICE/Hold the job</td>
                                <td>idfcdudldeal301a; idfcdudldsa301a; idfcdudlpic301a</td>
                            </tr>
                            <tr>
                                <td>SQL Agent Job-Go To server and DISABLE the SQL Agent Job</td>
                                <td>idfcdudealags301a; idfcdudealcm301a; idfcdudealprc301a</td>
                            </tr>

                            <tr>
                                <th scope="row" rowspan="2">How to Enable/off-ice/off-hold the Job</th>
                                <td>Autosys Jobs - Ask Autosys to off-ICE/off-Hold the job</td>
                                <td>idfcdudldeal301a; idfcdudldsa301a; idfcdudlpic301a</td>
                            </tr>
                            <tr>
                                <td>SQL Agent Job-Go To server and ENABLE the SQL Agent Job</td>
                                <td>idfcdudealags301a; idfcdudealcm301a; idfcdudealprc301a</td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>
                    <p>For more server details, please refer below table:</p>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Environment/DB ENV</th>
                                <th scope="col">Connection String</th>
                                <th scope="col">Port</th>
                                <th scope="col">SQL Version</th>
                                <th scope="col">Compatibility Level</th>
                                <th scope="col">Collation</th>
                                <th scope="col">Shared/Dedicated VM?</th>
                                <th scope="col">Managed Owners</th>
                                <th scope="col">SSIS Folder</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Pre-Production</td>
                                <td>sql3309-fm1-in.amr.corp.intel.com</td>
                                <td>3180</td>
                                <td>SSIS19</td>
                                <td>SQL Server 2019 (150)</td>
                                <td>SQL_Latin1_General_CP1_CI_AS</td>
                                <td>Shared</td>
                                <td rowspan="2" style="vertical-align : middle;text-align:center;">LEADS</td>
                                <td>
                                    MyDeals_Dev<br /> MyDeals_Cons
                                    <br /> MyDeals_Ciar
                                </td>
                            </tr>
                            <tr>
                                <td>Pre-Production</td>
                                <td>sql3310-fm1-in.amr.corp.intel.com</td>
                                <td>3180</td>
                                <td>SSIS19</td>
                                <td>SQL Server 2019 (150)</td>
                                <td>SQL_Latin1_General_CP1_CI_AS</td>
                                <td>Shared</td>
                                <td>
                                    MyDeals_IAO_Dev<br /> MyDeals_IAO_Cons
                                </td>
                            </tr>
                            <tr>
                                <td>Production</td>
                                <td>sql3305-fm1-in.amr.corp.intel.com</td>
                                <td>3180</td>
                                <td>SSIS19</td>
                                <td>SQL Server 2019 (150)</td>
                                <td>SQL_Latin1_General_CP1_CI_AS</td>
                                <td>Shared</td>
                                <td>Release Team</td>
                                <td>
                                    MyDeals
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li>
                    <p class="mb-0">Steps to adhoc run a batch jobs (Manually via batch job constant screen)</p>
                    <ul>
                        <li>Visit the batch job constant screen, GoTo Admin -> Dev Tools -> Monitoring -> Batch Job Constants</li>
                        <li>
                            When you select the edit button for a specific batch task, the batch job details are displayed. If you see that the toggle button for adhoc runs is OFF.
                            <img src="Client/Images/docs/batch-job-constant-adhoc-run-off.png" style="width: 75%; margin: 10px 0; padding: 10px " />
                        </li>
                        <li>
                            To execute batch job constants manually, Turn ON the adhoc run toggle button and Turn ON the specific step adhoc run toggle button as well.
                            <img src="Client/Images/docs/batch-job-constant-adhoc-run-on.png" style="width: 75%; margin: 10px 0; padding: 10px " />
                        </li>
                        <li>
                            On successful save, the selected batch job will have the adhoc toggle button Turned ON and the job will be enabled for adhoc execution (which will be picked by a runner at fixed interval).<br />
                            <b>NOTE:</b> Once the batch job starts executing the status will be changed to running and once it's execution complete the status will reflect as completed/failed based on pass/failure scenario and the adhoc button will be
                            turned OFF.
                        </li>
                        <li>
                            After that, the successful message "Batch Job Constants Data Updated Successfully" will appear.
                            <img src="Client/Images/docs/batch-job-constant-adhoc-run-success-msg.png" style="width: 75%; margin: 10px 0; padding: 10px " />
                        </li>
                    </ul>

                </li>
            </ol>
        </div>

        <div id="ktDocs">
            <h3 style="margin-top: 30px; font-family: 'Intel Clear' !important;" class="intelicon-link">KT docs and links</h3>
            <div>
                <ol>
                    <li><a href="https://intel.sharepoint.com/:p:/r/sites/ScrumTroopersAPT/Shared%20Documents/General/KT/MyDeals%20Reverse%20KT%20-%20Arun.pptx?d=wb90b3d39159d4debb9878bd550d959e8&csf=1&web=1&e=elu0O7" target="_blank" class="btn-ttl-coding">Click here</a>                        for high level understanding on Mydeals application in detail.</li>
                    <li><a href="https://intel.sharepoint.com/:f:/r/sites/EBPDealSettlementsandAccruals/Shared%20Documents/MyDeals_Transition/Training%20Videos?csf=1&web=1&e=aPNLAV" target="_blank" class="btn-ttl-coding">Click here</a> to view MyDeals application
                        UI in detail.</li>
                    <li><a href="https://intel.sharepoint.com/:f:/r/sites/MyDealsTeam/Shared%20Documents/General/DB_KT?csf=1&web=1&e=FNZE5P" target="_blank" class="btn-ttl-coding">Click here</a> to view MyDeals application DB in detail.</li>
                    <li><a href="https://intel.sharepoint.com/:f:/r/sites/MyDealsTeam/Shared%20Documents/General/UI%20WALK-THROUGH%20BY%20SAURAV%20KUNDU?csf=1&web=1&e=OWpVXc" target="_blank" class="btn-ttl-coding">Click here</a> to view MyDeals application
                        System Design/Fundamentals in detail.</li>
                    <li><a href="https://intel.sharepoint.com/:f:/r/sites/MyDealsTeam/Shared%20Documents/General/KTBR%20-%20Deal%20Makers?csf=1&web=1&e=4SZBFY" target="_blank" class="btn-ttl-coding">Click here</a> to view MyDeals application KTBR in detail.</li>
                    <li><a href="https://intel.sharepoint.com/:f:/r/sites/MyDealsTeam/Shared%20Documents/General/My_Deals_Validation%20Rules?csf=1&web=1&e=Sepdru" target="_blank" class="btn-ttl-coding">Click here</a> to view MyDeals application Validation
                        Rules in detail.</li>
                </ol>
                <br />
            </div>
        </div>
    </div>
</div>