.footer-bar {
    position: absolute;
    bottom: 0;
    background-color: #0071C5;
    color: #ffffff;
    width: 100%;
    height: 15px;
    font-size: 10px;
    padding: 0 10px
}
.env {
    padding: 0 20px;
    color: #f3D54E;
    background-color: indianred
}
.ping {
    align-content: center;
    margin: 0 10px 0 0;
    font-size: 10px
}