<i class="batch-running" ng-if="batchInProgress" title="There is a database batch job currently in progress&#013;This will effect performance a little"><b>BATCH IN PROGRESS</b></i> <!--intelicon-database-solid  Removed and replaced with text--> 
<i class="fa fa-signal ping-net" role="button" ng-class="getClassName()" ng-click="pingHost()" title="Network Ping: {{pingTime}} ms" aria-hidden="true"></i>

<style>
    .ping-net.low {
        color: #FC4C02;
    }

    .ping-net.med {
        color: #FFA300;
    }

    .ping-net.high {
        color: #C4D600;
    }

    .ping-net.none {
        color: #cccccc;
    }

    .batch-running {
        color: #f3d54e;
        margin-right: 20px;
    }
</style>