<link href="/Client/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="/Client/node_modules/@progress/kendo-theme-bootstrap/dist/all.css" rel="stylesheet" />
<link href="/Client/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet" />
<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />
<div class="contract-detail-form">
    <div class="col-md-12 k-header-alignment">
        <h2>Deal Mass Update</h2>
        <p style="color: #FC4C02">Use the tool below to update a value on existing deals</p>
    </div>
    <div class="row" style="color:#db704d; padding-left:10px" [ngClass]="{'mb-warning': true}">
        <p><b><i class="intelicon-alert-solid icon-lg"></i>Warning:</b>Use caution running this screen. Deals listed
            below will be updated regardless of deal status. Cancelled deals are not updated. </p>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-11 row"><label style="width:170px">Deal Id(s):</label>
                <kendo-textarea [rows]="4" [cols]="65" placeholder="Multiple deal IDs can be separated with comma."
                    resizable="both" [(ngModel)]="massUpdateData['DealIds']"
                    [ngStyle]="{'border-color':isError['Deal_Ids']?'red':''}"></kendo-textarea>
                <kendo-formerror style="padding-left:170px" *ngIf="isError['Deal_Ids']">{{errorMsg['Deal_Ids']}}
                </kendo-formerror>
                <div style="padding:10px" class="col-md-12 row"><label style="width:170px">Field to Update:</label>
                    <kendo-dropdownlist [data]="attr" textField="ATRB_LBL" valueField="ATRB_SID"
                        (valueChange)="atrbChange($event)" [(ngModel)]="massUpdateData['field']"
                        [ngStyle]="{'border':isError['field']?'1px solid red':'','width': '490px','padding':0}">
                    </kendo-dropdownlist>
                    <kendo-formerror style="padding-left:170px" *ngIf="isError['field']">{{errorMsg['field']}}
                    </kendo-formerror>
                </div>
                <div class="row" *ngIf="showNumeric"><label style="width:170px">New Value:</label>
                    <kendo-numerictextbox [style.width.px]="488" [min]="0" [max]="MaxNumericValue" [autoCorrect]="true"
                        [decimals]="0" format="#" [(ngModel)]="massUpdateData['numericValue']"></kendo-numerictextbox>
                </div>
                <div class="row" *ngIf="showTextBox"><label style="width:170px">New Text Value: </label>
                    <kendo-textbox [style.width.px]="488" [(ngModel)]="massUpdateData['textValue']"></kendo-textbox>
                </div>
                <div class="row" *ngIf="showDropDown"><label style="width:170px">New Dropdown Value: </label>
                    <kendo-dropdownlist style="width:488px;height:fit-content" [data]="attrValues"
                        textField="ATRB_VAL_TXT" valueField="ATRB_VAL_TXT" [valuePrimitive]="true"
                        [(ngModel)]="massUpdateData['dropdownValue']"
                        [ngStyle]="{'border':isError['dropdownValue']?'1px solid red':'','padding':0}">
                    </kendo-dropdownlist>
                    <kendo-formerror style="padding-left:170px" *ngIf="isError['dropdownValue']">
                        {{errorMsg['dropdownValue']}}</kendo-formerror>
                </div>
                <div class="row" *ngIf="showMultiSelect"><label style="width:170px">New Multiselect Value: </label>
                    <kendo-multiselect style="width: 488px;height:fit-content; padding:0" [data]="attrValues"
                        textField="ATRB_VAL_TXT" valueField="ATRB_VAL_TXT" [valuePrimitive]="true"
                        [(ngModel)]="massUpdateData['multiSelectValue']"
                        [ngStyle]="{'border':isError['multiSelectValue']?'1px solid red':''}"></kendo-multiselect>
                    <kendo-formerror style="padding-left:170px" *ngIf="isError['multiSelectValue']">
                        {{errorMsg['multiSelectValue']}}</kendo-formerror>
                </div>
                <div class="row">
                    <div class="col-md-3 row dateRangeLabel" style="width:200px;"><b>Update Vistex Staging Table.*</b>
                    </div>
                    <div class="col-md-2 row" style="padding-left:20px;">
                        <mat-slide-toggle [color]="color" [(ngModel)]="massUpdateData['sendVistexFlag']">
                        </mat-slide-toggle>
                    </div>
                    <div>
                        <p style=" position:absolute;">* When set to “Off”, updates will not be added to the Vistex
                            staging table. Use the "Push Deal to Vistex" screen once all updates are completed.</p>
                    </div>
                </div>
            </div>
            <div class="row mt-md-2"></div>
            <div class="col-md-12">
                <div class="col-md-2 font-weight-bold "></div>
                <div class="col-md-2">
                    <div><button class="btn btn-primary" (click)="updateValues()">Update Values</button></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" *ngIf="showResults">
        <div class="row"><a
                style="text-decoration:underline !important; width:70px; padding:inherit; color: #0071c5;"><b>Results:</b></a>Deals
            Processed:{{resultCount['all']}},<i
                style="color:red;font-weight:bold; width:auto">Errors:{{resultCount['error']}}</i>,Successful
            Updated:{{resultCount['success']}} </div>
        <div class="row">
            <div id="grid">
                <kendo-grid style="height: 923.164px" [data]="gridResult" [sortable]="true" [sort]="state.sort"
                    (dataStateChange)="dataStateChange($event)">
                    <kendo-grid-column [headerClass]="{'headerClass':true}" field="DEAL_ID" title="Deal Id"
                        width="75px"></kendo-grid-column>
                    <kendo-grid-column [headerClass]="{'headerClass':true}" field="ATRB_DESC" title="Field"
                        width="200px"></kendo-grid-column>
                    <kendo-grid-column [headerClass]="{'headerClass':true}" field="UPD_MSG" title="Results">
                    </kendo-grid-column>
                </kendo-grid>
            </div>
        </div>
    </div>
</div>