<link href="/Client/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="/Client/node_modules/@progress/kendo-theme-bootstrap/dist/all.css" rel="stylesheet" />
<link href="/Client/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet" />
<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12" style="height: 35px"></div>
</div>
<div class="row">
    <div class="col-md-12" style="padding-left: 35px;">
        <div class="row">
            <div class="col-md-9">
                <h3>Overlapping Deals</h3>
            </div>
            <div class="col-md-3">
                <div class="approve-open">
                    <button class="btn btn-primary" type="button" (click)="openOverLappingDealCheck()">
                        <i class="fa fa-paste" style="margin-right: 5px;"></i> Open in Window
                    </button>
                    <span class="helpBtn new-compo" title="Help">
                        <a href="https://wiki.ith.intel.com/display/Handbook/Contract+Details"
                           target="_blank">
                            <i class="intelicon-help helpBtn"
                               style="font-size:30px !important"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isLoading" style="padding-top: 200px; width: 100%; text-align: center;">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
        <div style="font-size: 30px;">{{loadMessage}}</div>
        <div class="ss-icon-lg" *ngIf="loadMessage == 'Done'">
            <i class="intelicon-passed-completed-solid sky-blue"></i>
        </div>
    </div>
    <div id="OvrLp1" *ngIf="!isLoading" class="col-md-12 kendo-grid-buttons oppo-grids new-now-wrap physics-css">
        <kendo-grid class="overlapping_css" [data]="gridData" [loading]="isLoading" [pageSize]="state.take" [skip]="state.skip"
                    [sort]="state.sort" [filter]="state.filter" [sortable]="true"
                    [pageable]="{type:type,pageSizes: pageSizes,info:info,refresh:true}" [groupable]="false"
                    [group]="state.group" filterable="menu" (dataStateChange)="dataStateChange($event)" style="height: calc(100vh - 200px); font-size:10px !important">
            <ng-template kendoGridNoRecordsTemplate>
                <div *ngIf="isNoDealsFound" style="padding: 100px; font-size: 10px; font-family: 'Intel Clear';">
                    No Overlapping deals were found
                </div>
            </ng-template>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="WF_STG_CD" width="21px" title="" filterable="none">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <div class="centerText Draft" title="Draft" *ngIf="dataItem.WF_STG_CD==='Draft'">D</div>
                    <div class="centerText Active" title="Active" *ngIf="dataItem.WF_STG_CD==='Active'">A</div>
                    <div class="centerText Complete" title="Complete" *ngIf="dataItem.WF_STG_CD==='Complete'">C</div>
                    <div class="centerText InComplete" title="InComplete" *ngIf="dataItem.WF_STG_CD==='InComplete'">I</div>
                    <div class="centerText Pending" title="Pending" *ngIf="dataItem.WF_STG_CD==='Pending'">P</div>
                    <div class="centerText Requested" title="Requested" *ngIf="dataItem.WF_STG_CD==='Requested'">R</div>
                    <div class="centerText Submitted" title="Submitted" *ngIf="dataItem.WF_STG_CD==='Submitted'">S</div>
                    <div class="centerText Approved" title="Approved" *ngIf="dataItem.WF_STG_CD==='Approved'">A</div>
                    <div class="centerText InProgress" title="InProgress" *ngIf="dataItem.WF_STG_CD==='InProgress'">I</div>
                    <div class="centerText Processed" title="Processed" *ngIf="dataItem.WF_STG_CD==='Processed'">P</div>
                    <div class="centerText Offer" title="" *ngIf="dataItem.WF_STG_CD==='Offer'">O</div>
                    <div class="centerText Lost" title="" *ngIf="dataItem.WF_STG_CD==='Lost'">L</div>
                    <div class="centerText Won" title="" *ngIf="dataItem.WF_STG_CD==='Won'">W</div>

                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="PROGRAM_PAYMENT"  width="120px" title="Type" [hidden]="true">
                <ng-template kendoGridGroupHeaderTemplate let-group let-field="field" let-value="value">
                    <div *ngIf="value !== 'Frontend YCS2'"><span style='font-weight:bold;font-size:13px; color: red;letter-spacing:0.07em '>Billings Overlap</span></div>
                    <div *ngIf="value === 'Frontend YCS2'">
                        <span style='font-weight:bold;font-size:13px; color: red;letter-spacing:0.07em '>Front End Overlap</span>&nbsp;
                        <button class='btn btn-sm btn-primary lnk btnSelect overlapBtnSelect' *ngIf="isSelectAll" (click)="selectAllOvlp(true)">Select All</button>&nbsp;
                        <button class='btn btn-sm btn-primary lnk btnSelect overlapBtnSelect' *ngIf="!isSelectAll" (click)="selectAllOvlp(false)">Clear All</button>&nbsp;
                        <button class='btn btn-sm  btn-primary lnk btnYes btnselectAccept overlapBtnSelect' (click)="acceptSelectAll(false)"><i class='intelicon-check' style='font-size: 12px !important;'></i> Accept </button>
                    </div>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="WIP_DEAL_OBJ_SID" width="120px" title="Contract" [hidden]="true">
                <ng-template kendoGridGroupHeaderTemplate let-group let-field="field" let-value="value">
                    <div *ngIf="getUIelement(value)">
                        <div *ngIf="isdealEndDateNeedChange">
                            <input type='checkbox' name="chkGrp_val" (click)="selectCheckBox(value)" [(ngModel)]="is_selected" class='check with-font' id="chkGrp_val" />
                            <label for="chkGrp_val"></label>
                            <span class="grpTitle" style='font-weight:bold'>{{value}}</span>&nbsp;<i class='intelicon-arrow-back-left skyblue pl10'></i>&nbsp;
                            <span class='grpDesc' style='font-weight:bold;'>An overlap was located matching an Active or Draft deal.  In order to be able to create this new deal, the System will need to change the End date of the deal.  Is that ok?</span>&nbsp;
                            <button class='btn btn-sm btn-primary overlapBtnSelect btnYNeedClr btnYes' (click)="acceptOvlp(value,'Y')"><i class='intelicon-check' style='font-size: 12px !important;'></i>Yes</button>
                            <span class='or'>&nbsp;OR&nbsp;</span>
                            <button class='btn btn-sm btn-primary overlapBtnSelect btnNoIssue btnNo' (click)="rejectOvlp(value)"><i class='intelicon-close-max' style='font-size: 10px !important; padding-right: 3px;'></i> No</button>
                        </div>
                        <div *ngIf="isRevalidate">
                            <span class="grpTitle" style='font-weight:bold'>{{value}}</span>&nbsp;
                            <i class='intelicon-arrow-back-left skyblue pl10'></i>&nbsp;
                            <span class='grpDesc' style='font-weight:bold;'>An overlap was located matching another Draft deal.  Please correct and revalidate.</span>&nbsp;
                            <button class='btn btn-sm btn-primary overlapBtnSelect btnYNeedClr btnYes' (click)="rejectOvlp(value)"><i class='intelicon-check' style='font-size: 12px !important;'></i>Yes</button>
                        </div>
                        <div *ngIf="isDealEndDateChange">
                            <span class="grpTitle" style='font-weight:bold'>{{value}} </span>&nbsp;
                            <i class='intelicon-arrow-back-left skyblue pl10'></i>&nbsp;
                            <span class='grpDesc' style='font-weight:bold;'>An overlap was located matching an Active or Draft deal.  In order to be able to create this new deal, the System will need to change the End date of the deal.  Is that ok?</span>&nbsp;
                            <button class='btn btn-sm btn-primary undolnk' (click)="acceptOvlp(value,'N')">
                                <i class="intelicon-home-outlined intelicon-undo" style="font-size: 10px !important;padding-right: 3px;"></i>Undo
                            </button>
                        </div>
                        <div *ngIf="isReqChange">
                            <span class="grpTitle" style='font-weight:bold'>{{value}}</span>&nbsp;
                            <i class='intelicon-arrow-back-left skyblue pl10'></i>&nbsp;
                            <span class='grpDesc' style='font-weight:bold;letter-spacing:0.07em '>Please correct and revalidate.</span>
                        </div>
                    </div>
                </ng-template>

            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="OVLP_DEAL_OBJ_SID" width="100" title="Deal #">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                             let-filterService="filterService">
                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                       [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                    <a (click)="openDealEditor(dataItem)" class="text-center" style="padding-left: 5px;">
                        {{dataItem.OVLP_DEAL_OBJ_SID}}
                    </a>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="CONTRACT_NBR" width="150" title="Contract">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                    <div class="text-center">
                        {{dataItem.CONTRACT_NM}}({{dataItem.CONTRACT_NBR}})
                    </div>
                </ng-template>
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                    [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
            </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="PRICE_STRATEGY" width="150" title="Pricing Strategy">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                    <div class="text-center">
                        {{dataItem.PRICE_STRATEGY_NM}}({{dataItem.PRICE_STRATEGY}})
                    </div>
                </ng-template>
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                    [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
            </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="PRICING_TABLES" width="150" title="Pricing Table">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                    <div class="text-center">
                        {{dataItem.PRICING_TABLES_NM}}({{dataItem.PRICING_TABLES}})
                    </div>
                </ng-template>
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                    [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
            </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="WF_STG_CD" width="150" title="Stage">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                    [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
            </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="CUST_ACCNT_DIV" width="150" title="Customer Division">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                    [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
            </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="PRODUCT_NM" width="150" title="My Deals Product">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                    [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
            </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="GEO_COMBINED" width="150" title="Geo">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                    [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
            </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="SOLD_TO_ID" width="150" title="Sold to ID">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                    [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
            </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="START_DT" width="150" title="Deal Start Date"></kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="END_DT" width="150" title="Deal End Date"></kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="ECAP_PRICE" width="150" title="ECAP Price">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                    [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
            </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="DEAL_COMB_TYPE" width="150" title="Additive">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                    [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
            </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="ECAP_TYPE" width="150" title="ECAP Type">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                    [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
            </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="MRKT_SEG" width="150" title="Market Segment">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                let-filterService="filterService">
                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                    [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
            </ng-template>
            </kendo-grid-column>
        </kendo-grid>
    </div>
</div>
<div class="k-widget k-dialog k-window k-alert" *ngIf="showKendoAlert">
    <kendo-dialog (close)="closeKendoAlert()">
        <div>
            Please go to <b>Deal Editor</b>; <b>edit</b> and <b>re-validate</b> your deal to avoid overlapping with other deals.
        </div>
        <kendo-dialog-actions class="dialog-button-style">
            <button kendoButton (click)="closeKendoAlert()" class="kendo-alrt-btn"><span>OK</span></button>
        </kendo-dialog-actions>
    </kendo-dialog>
</div>