.btnSelect {background: #003C71 !important; color: white;}
.btnSelect:hover{color: black !important; background:#00B1F1 !important;text-decoration:none !important;}
.btnYes {
    background: #a49d00 !important;
    color: black;
    z-index:999999;
}
.btnYes:hover{
    text-decoration:none !important;
}
.btnNo:hover{
    text-decoration:none !important;
}
.btnNo {
    background: #FC4C02 !important;
    color: black;
}
.lnk {
    background: #00AEEF;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 4px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}
.undolnk {
    background: #FC4C02;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.approve-open{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    position: relative;
}

.new-compo {
    padding-left: 5px;
    padding-right: 36px;
}
.spinner {
    margin: 10px auto;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #0071C5;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  .ss-icon-lg {
	font-size: 4em;
  -webkit-animation: sk-zoom 0.3s 1 ease-in;
  animation: sk-zoom 0.3s 1 ease-in;
}
.sky-blue {
    color: #00AEEF !important;
}