.btnSelect {
    background: #003C71 !important;
    color: white;
}

    .btnSelect:hover {
        color: black !important;
        background: #00B1F1 !important;
        text-decoration: none !important;
    }

.btnYes {
    background: #a49d00 !important;
    color: white;
    z-index: 999999
}

    .btnYes:hover {
        text-decoration: none !important
    }

.btnNo:hover {
    text-decoration: none !important
}

.btnNo {
    background: #FC4C02 !important;
    color: white
}

.lnk {
    background: #00AEEF;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 4px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px
}

.undolnk {
    background: #FC4C02 !important;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    cursor: pointer
}

.approve-open {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    position: relative
}

.new-compo {
    padding-left: 5px;
    padding-right: 36px
}

.spinner {
    margin: 10px auto;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px
}

    .spinner > div {
        background-color: #0071C5;
        height: 100%;
        width: 6px;
        display: inline-block;
        -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        animation: sk-stretchdelay 1.2s infinite ease-in-out
    }

    .spinner .rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s
    }

    .spinner .rect3 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s
    }

    .spinner .rect4 {
        -webkit-animation-delay: -.9s;
        animation-delay: -.9s
    }

    .spinner .rect5 {
        -webkit-animation-delay: -.8s;
        animation-delay: -.8s
    }

.ss-icon-lg {
    font-size: 4em;
    -webkit-animation: sk-zoom .3s 1 ease-in;
    animation: sk-zoom .3s 1 ease-in
}

.sky-blue {
    color: #00AEEF !important
}

button.btn.btn-sm.btn-primary.overlapBtnSelect {
    font-size: 12px !important;
    font-weight: 500 !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 2px !important;
    padding-bottom: 4px !important
}

button.btn.btn-sm.btn-primary.lnk.btnSelect.overlapBtnSelect {
    background: #003C71 !important
}

    button.btn.btn-sm.btn-primary.lnk.btnSelect.overlapBtnSelect:hover {
        color: black !important;
        background: #00B1F1 !important;
        text-decoration: none !important
    }

button.btn.btn-sm.btn-primary.lnk.btnYes.btnselectAccept.overlapBtnSelect {
    background: #a49d00 !important;
    border: #a49d00 !important
}

button.btnYNeedClr {
    background: #a49d00 !important;
    border: #a49d00 !important
}

    button.btnYNeedClr:hover {
        color: #004579 !important
    }


.btnNoIssue {
    background: #FC4C02 !important
}

    .btnNoIssue:hover {
        color: #004579 !important;
        background: #FC4C02 !important
    }

.Draft {
    color: #000000;
    background-color: rgb(216, 221, 223);
    min-width: 20px;
    min-height: 20px;
    margin-left: -5px;
}

.Active {
    color: #000000;
    background-color: #C4D600;
    min-width: 20px;
    min-height: 20px;
    margin-left: -5px;
}

.Complete {
    color: #000000;
    background-color: #C4D600;
    min-width: 20px;
    min-height: 20px;
    margin-left: -5px;
}

.InComplete {
    color: #000000;
    background-color: #FC4C02;
    min-width: 20px;
    min-height: 20px;
    margin-left: -5px;
}

.Pending {
    color: #000000;
    background-color: #FFA300;
    min-width: 20px;
    min-height: 20px;
    margin-left: -5px;
}

.Requested {
    color: #000000;
    background-color: #f9eaa7;
    min-width: 20px;
    min-height: 20px;
    margin-left: -5px;
}

.Submitted {
    color: #000000;
    background-color: #ffd180;
    min-width: 20px;
    min-height: 20px;
    margin-left: -5px;
}

.Approved {
    color: #000000;
    background-color: #c4d600;
    min-width: 20px;
    min-height: 20px;
    margin-left: -5px;
}

.InProgress {
    color: #000000;
    background-color: #d8dddf;
    min-width: 20px;
    min-height: 20px;
    margin-left: -5px;
}

.Processed {
    color: #000000;
    background-color: #C4D600;
    min-width: 20px;
    min-height: 20px;
    margin-left: -5px;
}

.Offer {
    color: #000000;
    background-color: #FFA300;
    min-width: 20px;
    min-height: 20px;
    margin-left: -5px;
}

.Lost {
    color: #000000;
    background-color: #FC4C02;
    min-width: 20px;
    min-height: 20px;
    margin-left: -5px;
}

.Won {
    color: #000000;
    background-color: #c4d600;
    min-width: 20px;
    min-height: 20px;
    margin-left: -5px;
}

.k-grid th, .k-grid td {
    padding: 0 !important;
    border-style: solid;
    border-color: inherit;
    outline: 0;
    font-weight: inherit;
    text-align: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
}

.centerText {
    padding-left: 11px !important;
    padding-top: 4px;
    font-weight: bold;
}

#OvrLp1 .k-grid td {
    padding: 0 !important;
}

#OvrLp1 .k-grid td {
    padding: 0 !important;
}

.helpBtn:hover {
    color: #0071c5;
}

.helpBtn {
    cursor: pointer;
    background-color: transparent;
    color: #00aeef;
}

.check {
    vertical-align: middle;
}

input[type=checkbox].with-font + label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f096";
    font-size: 22px;
    letter-spacing: 5px;
    color: #00AEEF !important;
    margin-left: 10px;
    margin-top: 2px;
    vertical-align: middle;
}

input[type=checkbox].with-font:checked + label:before {
    content: "\f046";
    font-size: 22px;
    letter-spacing: 5px;
    margin-left: 10px;
    margin-top: 2px;
    vertical-align: middle;
}

input[type=checkbox].with-font {
    border: 0;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
    width: 35px;
    height: 20px;
}

a {
    color: #0071c5 !important;
    text-decoration: none !important;
    cursor: pointer;
}


    a:hover, a:focus {
        color: #004579 !important;
        text-decoration: underline !important;
        cursor: pointer;
    }

.k-button:hover, .k-button.k-state-hover, .k-button:active:hover, .k-button.k-state-active:hover {
    color: #444;
    border-color: #ebebeb;
    background-color: #ebebeb;
}

.kendo-alrt-btn {
    text-align: center;
    width: 100%;
    color: #444;
    border-color: #fafafa;
    background-color: #fafafa;
    padding: 0;
    height: inherit;
}

.k-button {
    color: #444;
    border-color: #fafafa;
    background-color: #fafafa;
}

.dialog-button-style {
    height: 60px;
    vertical-align: middle;
    padding: 0;
}