<link href="/Client/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet" />
<div class="container-fluid overflow">
    <div class="modal-content" style="background-color:white;overflow-y:auto;overflow-x:hidden;border-left:none;border-right:none;padding:15px;">
        <div class="autofill-settings modal-header">
            <div class="row">
                <div class="col">
                    <div class="cursorArea autofillHeader">
                        <p class="autofill-header-title">{{autofillData.DEALTYPE}} {{rebateTypeTitle}} Autofill Settings</p>
                        <p class="autofill-header-tip">Use the selections below to auto-populate your deal table, you may also overwrite the autofill selections made here in the grid</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="autofill-settings modal-body">
            <div class="row" style="padding-bottom:50px">
                <div class="col-md-8">
                    <div *ngFor="let item of autofillData.DEFAULT |keyvalue">
                        <div *ngIf="item.value.type == 'BUTTONGROUP'" [hidden]="autofillData.ISTENDER && (item.key == 'REBATE_TYPE' || item.key == 'AR_SETTLEMENT_LVL' || item.key == 'PERIOD_PROFILE')">
                            <!-- <div op-control-data-element op-class="'md intel'" ng-model="autofillData.DEFAULT" op-cd="key" op-type="value.type" op-label="value.label" op-lookup-url="value.opLookupUrl" op-lookup-text="value.opLookupText" op-lookup-value="value.opLookupValue" op-is-form="true"
                                op-extra="value.extra" op-ui-mode="'HORIZONTAL'"></div> -->
                            <!-- Conditions to check the dropdown  attribute  match with buttongroup attribute and iterate over dropdown values-->
                            <div class="row">
                                <div class="col">
                                    <h5>{{item.value.label}}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div *ngFor="let drops of dropdownResponses |keyvalue">
                                        <div *ngIf="drops.key==item.key">
                                            <div *ngIf="item.value.opLookupText=='DROP_DOWN'">
                                                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" style="width:100%; margin:1%">
                                                    <mat-button-toggle style="width:100%" class="btn btn-primary" *ngFor="let elem of drops.value" value="{{elem.DROP_DOWN}}" [checked]="item.value.value==elem.DROP_DOWN" (change)="onAutoChange(item.key,elem.DROP_DOWN)">
                                                        {{elem.DROP_DOWN}}
                                                    </mat-button-toggle>
                                                </mat-button-toggle-group>
                                            </div>
                                            <div *ngIf="(item.key == 'NUM_OF_TIERS' || item.key == 'NUM_OF_DENSITY') && item.value.opLookupText=='dropdownName'">
                                                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" style="width:100%; margin:1%">
                                                    <mat-button-toggle class="btn btn-primary" *ngFor="let elem of drops.value" value="{{elem.dropdownName}}" [checked]="item.value.value==elem.dropdownName" style="width:100%" (change)="OnTierChange(item.key,elem.dropdownName)">
                                                        {{elem.dropdownName}}
                                                    </mat-button-toggle>
                                                </mat-button-toggle-group>
                                            </div>
                                            <!-- The attribute Geo has different value field and its multi select -->
                                            <div *ngIf="(item.key == 'GEO_COMBINED' ) && item.value.opLookupText=='dropdownName'">
                                                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" #group="matButtonToggleGroup" [value]="geoValues" (change)="OnGeoChange(item.key,group.value)" multiple style="width:100%; margin:1%">
                                                    <mat-button-toggle class="btn btn-primary" *ngFor="let elem of drops.value" value="{{elem.dropdownName}}" style="width:100%">
                                                        {{elem.dropdownName}}
                                                    </mat-button-toggle>
                                                </mat-button-toggle-group>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="padding-left:40px">
                    <div *ngFor="let item of autofillData.DEFAULT |keyvalue">
                        <div *ngIf="item.value.type == 'EMBEDDEDMULTISELECT'">
                            <div class="row">
                                <div class="col">
                                    <h5>Marketting Segment</h5>
                                </div>
                            </div>
                            <kendo-multiselect [data]="marketSeglist" [(ngModel)]="mkgvalues" [checkboxes]="true" [autoClose]="false"></kendo-multiselect>
                        </div>
                    </div>
                    <br />
                    <div *ngIf="autofillData.isVistexHybrid == true || autofillData.DEALTYPE == 'FLEX'" class="autoFillOverarching">
                        <div *ngIf="autofillData.isVistexHybrid == true" class="autoFillOverarchingTitle">
                            Please fill out either Max Volume or Amount, but not both.
                        </div>
                        <br />
                        <div class="col-md-8 row" *ngIf="autofillData.isVistexHybrid == true">
                            <p>'Overarching Maximum Volume:</p>
                            <kendo-numerictextbox [(ngModel)]="autofillData.DEFAULT.REBATE_OA_MAX_VOL.value" [min]="0" [max]="999999999" [autoCorrect]="false">
                            </kendo-numerictextbox>
                        </div>
                        <div ng-if="opIsError && opIsForm" class="err-Control">{{opValidMsg}}</div>
                        <div class="col-md-8 row">
                            <p>Overarching Maximum Dollar($):</p>
                            <kendo-numerictextbox [(ngModel)]="autofillData.DEFAULT.REBATE_OA_MAX_AMT.value" [min]="0" [max]="999999999" [autoCorrect]="false">
                            </kendo-numerictextbox>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="width:100%">
                <div class="col-md-10">
                    <!--EMPTY SPACE-->
                </div>
                <div class="col-md-2">
                    <button mat-button (click)="onNoClick()" class="btn btn-warning">Cancel</button>
                    <button mat-button (click)="onSave()" cdkFocusInitial class="btn btn-primary">Save & Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

<loading-panel-angular id="autoLoading" style="z-index:500;" [show]="isLoading" [header]="spinnerMessageHeader" [description]="spinnerMessageDescription"></loading-panel-angular>