<loading-panel-angular id="autoLoading" style="z-index:500;" [show]="isLoading" [header]="spinnerMessageHeader" [description]="spinnerMessageDescription" [msgType]="msgType"></loading-panel-angular>
<div class="container-fluid overflow autoFillSetting af-setting-fixes" [hidden]="isLoading && isInitial">
    <div class="modal-content headingcontent totalcontent">
        <div class="autofill-settings modal-header autofillhead">
            <div class="row" style="width:100%">
                <div class="col">
                    <div class="cursorArea autofillHeader">
                        <p class="autofill-header-title">{{autofillData.DEALTYPE_DISPLAY}} {{rebateTypeTitle}} Autofill Settings</p>
                        <p class="autofill-header-tip" style="font-size: 18px !important">Use the selections below to auto-populate your deal table, you may also overwrite the autofill selections made here in the grid</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="autofill-settings modal-body settingbody">
            <div class="row">
                <div class="col-md-8">
                    <div *ngFor="let item of autofillData.DEFAULT |keyvalue : asIsOrder">
                        <div *ngIf="item.value.type == 'BUTTONGROUP'" [hidden]="item.value.isHidden">
                            <!-- Conditions to check the dropdown  attribute  match with buttongroup attribute and iterate over dropdown values-->
                            <div class="row">
                                <div class="md intel titleclass">
                                    <h5 class="headstyle">
                                        <span *ngIf="item.value.label == 'Number of Tiers'" class="alter-star">*</span>{{item.value.label}}
                                        <span *ngIf="isMultipleGeosSelected && item.key == 'GEO_COMBINED'" class="geo-desc">** This will create a deal for each geo in the same line unless you select to blend. For Hybrid it is not allowed without BLEND. </span>
                                    </h5>
                                    <span *ngIf="(item.key == 'GEO_COMBINED')" class="geo-style-text">
                                        <input type="checkbox" [(ngModel)]="isBlend" (change)="updateBlend(item.key)" /> Blend Geos
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="md intel">
                                    <div *ngFor="let drops of dropdownResponses |keyvalue">
                                        <div *ngIf="drops.key==item.key" class="mattogglebutton">
                                            <div *ngIf="item.value.opLookupText=='DROP_DOWN'" class="another-container">
                                                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="matbutton mat-icon" style="width:100%; margin:1%">
                                                    <mat-button-toggle style="width:100%" *ngFor="let elem of drops.value" value="{{elem.DROP_DOWN}}" [checked]="item.value.value==elem.DROP_DOWN" (change)="onAutoChange(item.key,elem.DROP_DOWN)" [disabled]="isUIDisable(item.key, elem.DROP_DOWN)">
                                                        <a style=" text-transform: uppercase; font-weight: bold !important;"> {{elem.DROP_DOWN}}</a>
                                                        <span class="button-group-tooltip" *ngIf="elem.DROP_DOWN=='All' && item.key=='PROD_INCLDS'">
                                                            (INCLUDES NA)
                                                        </span>
                                                    </mat-button-toggle>
                                                </mat-button-toggle-group>
                                            </div>
                                            <div *ngIf="(item.key == 'NUM_OF_TIERS' || item.key == 'NUM_OF_DENSITY') && item.value.opLookupText=='dropdownName'">
                                                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="matbutton mat-icon" style="width:100%; margin:1%">
                                                    <mat-button-toggle *ngFor="let elem of drops.value" value="{{elem.dropdownName}}" [checked]="item.value.value==elem.dropdownName" style="width:100%" (change)="OnTierChange(item.key,elem.dropdownName)" [disabled]="isUIDisable(item.key, elem.dropdownName)">
                                                        <a style=" text-transform: uppercase; font-weight: bold !important;">{{elem.dropdownName}}</a>
                                                    </mat-button-toggle>
                                                </mat-button-toggle-group>
                                            </div>
                                            <!-- The attribute Geo has different value field and its multi select -->
                                            <div *ngIf="(item.key == 'GEO_COMBINED' ) && item.value.opLookupText=='dropdownName'">
                                                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="matbutton mat-icon" #group="matButtonToggleGroup" [value]="geoValues" (change)="OnGeoChange(item.key,group.value)" multiple style="width:100%; margin:1%">
                                                    <mat-button-toggle *ngFor="let elem of drops.value" value="{{elem.dropdownName}}" style="width:100%">
                                                        <a style=" text-transform: uppercase; font-weight: bold !important;">{{elem.dropdownName}}</a>
                                                    </mat-button-toggle>
                                                </mat-button-toggle-group>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 marketSegment">
                    <div [hidden]="(autofillData.DEFAULT['MRKT_SEG'].value.type == 'EMBEDDEDMULTISELECT')" class="autofilltreeview row">
                        <div class="row">
                            <div class="col">
                                <h5 class="headstyle" style="margin-bottom:-25px !important">Market Segment</h5>
                                <div kendoTooltip class="helpset opElementHelpIcon intelicon-information-outlined" style="float: right; color: #f3d54e !important; font-size: 14px; " title="You cannot mix ALL & other market segments.Non Corp selects: Consumer retail pull,Education,Goverment,& SMB">
                                </div>
                            </div>

                        </div>
                        <kendo-multiselect class="market-select-style" [(ngModel)]="multSlctMkgValues" (open)="$event.preventDefault()" [autoClose]="true" [allowCustom]="false" (valueChange)="onMarkSegChange($event)"></kendo-multiselect>
                        <kendo-treeview class="checkbox_color_c" [nodes]="marketSeglist" textField="DROP_DOWN" [children]="fetchChildren" [hasChildren]="hasChildren" kendoTreeViewCheckable [(checkedKeys)]="mkgvalues" checkBy="DROP_DOWN" [isChecked]="isChecked" (checkedKeysChange)="onMktgValueChange($event)">
                        </kendo-treeview>
                    </div>
                    <br />
                    <div *ngIf="autofillData.isVistexHybrid == true || dealType == 'FLEX'" class="autoFillOverarching row">
                        <div class="col-md-12">
                            <div *ngIf="autofillData.isVistexHybrid == true" class="autoFillOverarchingTitle" style="font-family: 'Intel Clear'; font-weight: 600 !important; font-size: 14px !important; color: darkslategray; margin-left:0; ">
                                Please fill out either Max Volume or Amount, but not both.
                            </div>
                            <br />
                        </div>
                        <div class="col-md-12 autofillrow" *ngIf="autofillData.isVistexHybrid == true">
                            <div class="row">
                                <div class="col-md-6" style="margin-top:-5px;width: 225px!important">
                                    <div style="padding-left:6px">
                                        <p class="fl label ng-binding" style="font-family: 'Intel Clear'; font-weight: bold !important; font-size: 13px !important; color: #1a3e6f;white-space:pre-line;text-align:left">Overarching Maximum Volume:</p>
                                    </div>
                                </div>
                                <div class="col-md-6" style="margin-top:-5px;width: 168px!important">
                                    <div>
                                        <kendo-numerictextbox [(ngModel)]="autofillData.DEFAULT.REBATE_OA_MAX_VOL.value" [min]="0" [max]="2147483647" [autoCorrect]="true" class="k-numberbox-design">
                                            <a style="font-family: 'Intel Clear'; font-weight: bold !important; font-size: 13px !important; color: #1a3e6f;"></a>
                                        </kendo-numerictextbox>
                                        <kendo-formerror><a style="color: #ff6e77; font-family:'Intel Clear'; font-size: 11px !important; font-weight:bold !important;width:168px !important">{{opValidMsg}}</a></kendo-formerror>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 autofillrow">
                            <div class="row">
                                <div class="col-md-6" style="margin-top:-5px;width: 225px!important">
                                    <div>
                                        <p class="fl opUiLabel autofillabel ng-binding" style="font-family: 'Intel Clear'; font-weight: bold !important; font-size: 13px !important; color: #1a3e6f;">Overarching Maximum Dollar($):</p>
                                    </div>
                                </div>
                                <div class="col-md-6" style="margin-top:-5px;width: 168px!important">
                                    <div>
                                        <kendo-numerictextbox [(ngModel)]="autofillData.DEFAULT.REBATE_OA_MAX_AMT.value" [min]="0" [autoCorrect]="true" format="n2" class="k-numberbox-design">
                                            <a style="font-family: 'Intel Clear'; font-weight: bold !important; font-size: 13px !important; color: #1a3e6f;"></a>
                                        </kendo-numerictextbox>
                                    </div>
                                    <kendo-formerror><a style="color: #ff6e77; font-family:'Intel Clear'; font-size: 11px !important; font-weight:bold !important;width: 168px!important">{{opValidMsgDollar}}</a></kendo-formerror>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <!--empty space-->
            </div>


            <div class="row" style="width:100%">
                <div class="col-md-8">
                    <!--empty space-->
                </div>
                <div class="col-md-2" style="padding-right: 10px;padding-left:10px">
                    <button mat-button (click)="onNoClick()" class="afBtn afClsBtn auto-cs-btn" style="">Cancel</button>
                </div>
                <div class="col-md-2">
                    <button mat-button (click)="onSave()" cdkFocusInitial class="afBtn afSaveBtn auto-cs-btn" style="border: 1px solid;">Save & Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

