.af-setting-fixes .modal-header .autofillhead {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border-bottom: 0 solid #dee2e6 !important;
    margin-top: 18px !important
}

.af-setting-fixes .buttongroup-btn {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    border-bottom: transparent
}

.af-setting-fixes .autofill-header-title {
    /* color: #1a3e6f;*/
    font-size: 24px !important;
}

.af-setting-fixes .autoFillOverarchingTitle {
    color: darkslategray;
    font-size: 13px !important;
    font-weight: 600;
    margin-top: -8px;
    margin-left: -2px;
    max-height: 2em
}

.af-setting-fixes .autofill-settings.modal-body.settingbody {
    position: relative;
    width: 100%;
    padding-top: 15px !important
}

.af-setting-fixes .mattogglebutton.matbutton {
    color: #fff;
    border-radius: 5px
}

.af-setting-fixes .mattogglebutton .mat-icon {
    height: 33px
}

.af-setting-fixes .mattogglebutton .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    font-size: 10px !important;
    font-weight: normal;
    word-wrap: break-word;
    padding-left: 2px !important;
    padding-right: 2px !important;
    width: 100%;
    display: block;
    height: 100%;
}

.af-setting-fixes .mattogglebutton .mat-button-toggle-button {
    border: 0;
    color: inherit;
    padding: 0;
    margin: 0;
    font: inherit;
    outline: none;
    width: 100%;
    height: auto;
    min-height: 33px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.af-setting-fixes .mattogglebutton .mat-button-toggle-appearance-standard .mat-button-toggle-label-content a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: break-spaces;
    line-height: 1.5;
}

.af-setting-fixes .mattogglebutton .mat-button-toggle-appearance-standard {
    background: #777777 !important
}

.af-setting-fixes .mattogglebutton .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    color: rgba(0, 0, 0, .87);
    background: #00AEEF !important
}

.af-setting-fixes .mattogglebutton .mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
.af-setting-fixes .mat-button-toggle-group-appearance-standard {
    border: none
}

.af-setting-fixes .mattogglebutton mat-button-toggle-label-content {
    font-family: "Intel Clear", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #111;
    background-color: #fff
}

.af-setting-fixes .totalcontent.modal-content {
    background: #fff !important;
    resize: horizontal;
    min-width: 750px !important;
    border: none;
    box-shadow: none;
    margin-top: 0;
    margin-bottom: 0
}

.af-setting-fixes .mattogglebutton.mat-button-toggle-appearance-standard,
.af-setting-fixes .mat-button-toggle-label-content {
    font-size: 15px !important;
    line-height: 2 !important;
    font-weight: bold !important;
    font-family: "Intel Clear", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: #fff;
    padding: 0 12px !important
}

.af-setting-fixes .mat-button-toggle.mat-button-toggle-disabled {
    cursor: not-allowed !important;
    pointer-events: none !important;
    background-color: #cccccc !important;
    color: #999999
}

.af-setting-fixes .autofillrow,
.af-setting-fixes .firstrow {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    margin-left: -4px
}

.af-setting-fixes .autofillrow>div {
    width: 100%;
    margin: 2px;
    text-align: left
}

.af-setting-fixes .headstyle {
    font-family: 'Intel Clear';
    font-weight: bold !important;
    font-size: 13px !important;
    color: #1a3e6f;
    display: flex
}

.af-setting-fixes .autofilltreeview .k-treeview {
    border: 1px solid #ccc !important;
    box-shadow: 2px 2px 4px #000 !important;
    background-color: white !important;
    width: 100% !important;
    font-size: 12px !important;
    font-family: 'Intel Clear' !important;
    height: 200px !important;
    color: #000 !important
}

.af-setting-fixes .autofilltreeview .k-treeview .k-mid span {
    color: #000 !important
}

.af-setting-fixes .mat-dialog-content .k-widget .mattogglebutton .mat-button-toggle-group {
    width: 97% !important
}

.af-setting-fixes .helpset.opElementHelpIcon {
    font-size: 18px;
    color: #979797;
    margin-top: 12px;
    padding-bottom: 3px
}

.af-setting-fixes .autofillrow .label {
    margin-top: 6px;
}

.af-setting-fixes .autofillrow .k-numerictextbox .k-numeric-wrap {
    border-color: #ced4da;
    color: #495057;
    background-color: #ffffff;
    width: 146px !important;
    height: 33px !important;
    border-bottom: 2px solid #0071c5 !important
}

.af-setting-fixes .mattogglebutton .mat-button-toggle-group-appearance-standard {
    margin-left: 5px !important;
    border-radius: 8px !important;
    margin-top: 5px !important
}

.af-setting-fixes .headingcontent .modal-content {
    background-color: #fff !important;
    overflow-y: auto;
    overflow-x: hidden;
    border-left: none;
    border-right: none;
    padding: 0
}

.af-setting-fixes .autofillabel {
    margin-left: 0 !important;
    margin-top: 0
}

.af-setting-fixes .mattogglebutton .mat-button-toggle {
    margin-right: 4px !important
}

.af-setting-fixes .mattogglebutton .mat-button-toggle-group-appearance-standard .mat-button-toggle {
    border-left: 0 !important
}

.af-setting-fixes .mattogglebutton .mat-button-toggle-button:hover {
    background-color: #0071c5 !important
}

.af-setting-fixes .mattogglebutton .mat-button-toggle-group-appearance-standard .mat-button-toggle:last-child {
    margin-right: 0 !important
}

.af-setting-fixes .mattogglebutton .mat-button-toggle-group-appearance-standard {
    border: none !important
}

.af-setting-fixes .auto-cs-btn {
    position: relative;
    width: 100%;
    margin: 0 !important
}

.af-setting-fixes .alter-star {
    color: #f3d54e;
    margin-right: 3px
}

#autoLoading .ss-loading-overlay .myLoader {
    left: 40% !important
}

#autoLoading .ss-loading-overlay {
    opacity: 1;
    top: 0;
    left: 0
}

.geo-style-text {
    font-size: 13px !important;
    float: right !important;
    margin-top: -19px !important;
    margin-right: 0 !important;
    font-weight: bold !important;
    color: #1a3e6f !important
}

.pbo-alert-label {
    font-size: 11px !important;
    margin: 0 0 0 10px !important;
    font-weight: 200 !important;
    color: #fc4c02 !important;
}

.market-select-style.k-multiselect .k-multiselect-wrap li.k-button {
    float: left !important;
    color: #444 !important;
    font-size: 12px !important;
    border: none !important;
    border-radius: 1.071em !important;
    margin: 3px -3px 3px 3px !important;
    padding: 0 .6em 0 .857em !important;
    line-height: 1.86em !important;
    background: #fafafa !important;
    font-family: 'Intel Clear' !important;
    text-transform: uppercase;
}

.market-select-style.k-multiselect .k-multiselect-wrap li.k-button:hover {
    color: #444 !important;
    border-color: #ebebeb !important;
    background-color: #ebebeb !important
}

.market-select-style.k-multiselect .k-multiselect-wrap .k-clear-value {
    visibility: hidden !important
}

.market-select-style.k-multiselect .k-multiselect-wrap .k-button .k-icon {
    opacity: .6 !important;
    font-size: 14px !important
}

.market-select-style.k-multiselect .k-multiselect-wrap,
.market-select-style.k-multiselect.k-state-focused>.k-multiselect-wrap {
    border-color: #ced4da !important;
    color: #495057 !important;
    box-shadow: none !important;
    background-color: #ffffff !important
}

.geo-desc {
    position: absolute;
    left: 34px
}

.autofiller-pop-ups {
    max-width: 85vw !important
}

.autofiller-pop-ups mat-dialog-container {
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 0 !important
}

.checkbox_color_c ul li .k-checkbox-wrapper .k-checkbox:checked,
.k-checkbox.k-checked {
    background-color: #0071c5 !important;
    border-color: #0071c5 !important;
    color: #ffffff !important;
}

.autofiller-pop-ups.cdk-overlay-pane {
    min-width: 90vw !important;
    margin-left: auto;
    margin-right: auto;
}

.af-setting-fixes div.md.intel {
    width: -webkit-fill-available;
}

.af-setting-fixes .row-Autofill-Customize {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.af-setting-fixes .btnsAutofillers {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.af-setting-fixes .btnsAutofillers button {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

kendo-numerictextbox.autoFillSettingsNumDes.k-numberbox-design input.k-input,
kendo-numerictextbox.autoFillSettingsNumDes.k-numberbox-design input.k-input-inner {
    font-weight: 600;
    font-size: 13px;
}

.k-button-solid-base.k-hover, .k-button-solid-base:hover {
    background-color: #ced3db;
    border-color: #c7cdd5;
}

.k-button-solid-base {
    background-color: #e4e7eb;
    border-color: #e4e7eb;
    color: #212529;
}