.modal-header .autofillhead {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border-bottom: 0px solid #dee2e6 !important;
    margin-top: 18px !important;
}

.buttongroup-btn {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}

.buttongroup-btn {
    border-bottom: transparent;
}

.opUiContainer.md .opUiLabel.buttonGroupLabel {
    font-size: 13px !important;
}

.msPopup {
    max-height: 200px;
}

.autofill-header-title {
    color: #1a3e6f;
    font-size: 24px !important;
    text-align: center;
}

.minPadding {
    padding: 2px;
}

.autoFillOverarchingTitle {
    color: darkslategray;
    font-size: 13px !important;
    font-weight: 600;
    margin-top: -8px;
    margin-left: -2px
}

/*.autofill-settings.modal-header.autofillhead {
    padding: 15px;
}*/

.autofill-settings.modal-body.settingbody {
    /*padding: 15px;*/
    position: relative;
    width: 100%;
}


/*This "opUiContainer.md .opUiLabel" overrides site-wide CSS*/

.opUiContainer.md .opUiLabel {
    font-size: 13px !important;
    width: 203px;
}

.mattoggelbutton.matbutton {
    color: #fff;
    border-radius: 5px
}

.mattoggelbutton .mat-icon {
    height: 30px;
}

.mattoggelbutton .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    font-size: 10px !important;
    font-weight: normal;
    padding: 0 12px;
}

.mattoggelbutton .mat-button-toggle-button {
    border: 0;
    color: inherit;
    padding: 0;
    margin: 0;
    font: inherit;
    outline: none;
    width: 100%;
    height: 30px;
    cursor: pointer;
    /*margin-left: -10px;*/
}

.mattoggelbutton .mat-button-toggle-appearance-standard {
    background: #777777 !important;
}

.mattoggelbutton .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    color: rgba(0, 0, 0, .87);
    background: #00AEEF !important;
}

.mattoggelbutton .mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
.mat-button-toggle-group-appearance-standard {
    border: none;
}

.mattoggelbutton mat-button-toggle-label-content {
    font-family: "Intel Clear", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #111;
    background-color: #fff;
}

.totalcontent.modal-content {
    background: #fff !important;
    resize: horizontal;
    min-width: 750px !important;
    border: none;
    box-shadow: none;
    margin-top: 0;
    margin-bottom: 0;
}

.mattoggelbutton.mat-button-toggle-appearance-standard,
.mat-button-toggle-label-content {
    font-size: 15px !important;
    line-height: 2 !important;
    font-weight: bold !important;
    font-family: "Intel Clear", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: #fff;
    padding: 0 12px !important;
}

.autofillrow {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    margin-top: -103px
}

.autofillrow>div {
    width: 100%;
    margin: 2px;
    text-align: left;
}

.headstyle {
    font-family: 'Intel Clear';
    font-weight: bold !important;
    font-size: 13px !important;
    color: #1a3e6f;
    display: flex;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: 100%
}

.autofilltreeview .k-treeview {
    border: 1px solid #ccc !important;
    box-shadow: 2px 2px 4px #000 !important;
    background-color: white !important;
    width: 100% !important;
    font-size: 12px !important;
    font-family: 'Intel Clear' !important;
    height: 235px !important;
    color: #000 !important;
}
    .autofilltreeview .k-treeview .k-mid span {
        color: #000 !important;
    }
.mat-dialog-content .k-widget 
.mattoggelbutton .mat-button-toggle-group {
    width: 97% !important;
}

/*.settingbody {
    position: relative;
    flex: 1 1 auto;
    margin-bottom: 141px !important
}*/

.helpset.opElementHelpIcon {
    font-size: 18px;
    color: #979797;
    margin-top: 12px;
    padding-bottom: 3px;
}

/*.opUiLabel {
    margin-top: 106px;
    margin-left: -240px;
}*/

.label {
    margin-top: 6px;
    margin-left: -6px;
}

.autofillrow .k-numerictextbox .k-numeric-wrap {
    border-color: #ced4da;
    color: #495057;
    background-color: #ffffff;
    width: 185px !important
}

#mat-button-toggle-98-button .mattoggelbutton .mat-button-toggle-button {
    margin-left: -14px !important;
}

.mattoggelbutton .mat-button-toggle-group-appearance-standard {
    margin-left: 5px !important;
    border-radius: 8px !important;
    margin-top: 5px !important;
}

.headingcontent .modal-content {
    background-color: #fff !important;
    overflow-y: auto;
    overflow-x: hidden;
    border-left: none;
    border-right: none;
    padding: 0px
}

.autofillabel {
    margin-left: 0 !important;
    margin-top: 0;
}

.md .intel.titleclass {
    float: right;
    margin: -19px;
    padding-right: 41px;
    color: #1a3e6f;
    font-weight: bold;
    font-family: 'Intel Clear';
    font-size: 13px
}

.mattoggelbutton .mat-button-toggle {
    margin-right: 4px !important;
}

.mattoggelbutton .mat-button-toggle-group-appearance-standard .mat-button-toggle {
    border-left: 0px !important
}

.mattoggelbutton .mat-button-toggle-button:hover {
    background-color: #0071c5 !important;
}

.mattoggelbutton .mat-button-toggle-group-appearance-standard .mat-button-toggle:last-child {
    margin-right: 0 !important
}

.mattoggelbutton .mat-button-toggle-group-appearance-standard {
    border: none !important;
}

.auto-cs-btn {
    position: relative;
    width: 100%;
    margin: 0;
    margin-top: 15px;
}

.alter-star {
    color: #f3d54e;
    margin-right: 3px;
}