
.myDealsControl {
        margin: 5px 0 5px 5px;
        float: left;
    }

    .isHidden
    {
        display: none;
    }
    .isHiddenCell span
    {
        display: none;
    }
    .isHiddenCell
    {
        background-color: rgba(250, 250, 250, 0.7) !important;
    }
    .isHiddenCell::before
    {
        font-family: "FontAwesome";
        content: "\f023";
        font-size: 14px;
        color: #cccccc;
    }
    .isHiddenCell::after
    {
        padding-left: 6px;
        content: "NO ACCESS";
        font-size: 10px;
        color: #cccccc;
    }

    .isReadOnly,
    .isReadOnly .k-numeric-wrap input,
    .isReadOnly .k-date-picker input,
    .isReadOnly .k-dropdown input,
    .isReadOnly .k-picker-wrap,
    .isReadOnly .k-numeric-wrap,
    .isReadOnly .k-dropdown-wrap,
    .isReadOnly .k-multiselect-wrap,
    .isReadOnly .k-input[readonly]
    {
        color: #777 !important;
        background-color: #eeeeee !important;
    }

    .isReadOnlyCell {
        color: #777 !important;
        background-color: rgba(250, 250, 250, 0.7) !important;
    }

    .isRequired,
    .isRequired .k-numeric-wrap input,
    .isRequired .k-date-picker input,
    .isRequired .k-dropdown-wrap,
    .isRequired .k-dropdown-wrap .k-input
    {
        font-weight: bold !important;
    }

    .isRequired:before { content:"* "; color: #e32; }

    .isRequiredCell {
        border-left: 2px solid #F3D54E !important;
    }


    /*.elOnBlue .isRequired {
        color: #ffffff !important;
    }*/

    .isError,
    .isError .k-numeric-wrap input,
    .k-datepicker .isError,
    .isError .k-dropdown input,
    .isError .k-picker-wrap,
    .isError .k-numeric-wrap,
    .isError .k-dropdown-wrap
    {
    }
    .isErrorCell {
    }
    .isErrorWrapper .k-state-default.k-picker-wrap, .isErrorWrapper .k-state-default.k-numeric-wrap, .isErrorWrapper .k-state-default.k-dropdown-wrap {
        border: 1px solid #ed8282;
    }
    .k-textbox.isError
    {
        border: 1px solid #ED1C24;
    }
    .k-textarea.isError
    {
        border: 1px solid #ED1C24;
    }
    .k-multiselect.isError{
        border: 1px solid #ED1C24;
    }
    .errTab {
        background-color: #FFFFFF;
        color: #ED1C24;
        font-size: 10px !important;
        padding-left: 1px !important;
    }
    .err-bit {
        margin: -11px 0 0 -10px;
        position: absolute;
        border-style: solid;
        border-color: #ED1C24 transparent transparent #ED1C24;
        border-width: 3px;
    }
    .err-bit-el {
        border-style: solid;
        border-color: #ED1C24 transparent transparent #ED1C24;
        top: 6px;
        width: 6px;
        position: relative;
        z-index: 100;
        margin-top: -6px;
    }
    .err-Control {
        color: #ED1C24;
        font-size: 12px !important;
        padding-left: 1px !important;
        padding-top: 2px !important;
    }

    /*.elOnBlue .k-textbox.isError
    {
        border: 1px solid #ED1C24;
    }
    .elOnBlue .err-bit {
        border-style: solid;
        border-color: #ED1C24 transparent transparent #ED1C24;
    }
    .elOnBlue .err-bit-el {
        border-color: #ED1C24 transparent transparent #ED1C24;
    }*/

    .bgBlueContainer .k-textbox.isError
    {
        border: 1px solid #ED1C24;
    }
    .bgBlueContainer .err-bit, .bgBlueContainer .err-bit-el {
        border-color: #ED1C24 transparent transparent #ED1C24;
    }


    .isSavedWrapper .k-state-default.k-picker-wrap, .isSavedWrapper .k-state-default.k-numeric-wrap, .isSavedWrapper .k-state-default.k-dropdown-wrap {
        border: 1px solid #C4D600;
    }
    .k-textbox.isSaved
    {
        border: 1px solid #C4D600;
    }
    .isSavedCell {
        border-left: 2px solid #C4D600 !important;
    }
    .savTab {
        background-color: #C4D600;
        border: 1px solid #C4D600;
        color: #ffffff;
        padding-bottom: 1px;
    }

    .isDirtyWrapper .k-state-default.k-picker-wrap, 
    .isDirtyWrapper .k-state-default.k-numeric-wrap, 
    .isDirtyWrapper .k-state-default.k-dropdown-wrap,
    .isDirtyWrapper .k-multiselect.k-header,
    .k-textbox.isDirty,
    .k-textarea.isDirty,
    .k-multiselect.isErrorisDirty{
        border-bottom: 2px solid #0071C5;
    }
    .isDirtyCell {
        border-left: 2px solid #0071C5 !important;
    }

    #toolBarChk label {
        font-weight: 200;
        font-size: 12px;
        font-family: 'Intel Clear', 'Arial';
        margin-right: 20px;
    }

    /*.k-callout-s {
         border-top-color: black;
    }
    .k-tooltip {
        background: black !important;
        border-color: black !important;
        font-size: 12px;
        font-family: 'Intel Clear', 'Arial';
        border-radius: 4px;
    }*/


    /* PE implementing style sheets */
    .k-callout-s {
         border-top-color: #0071C5;
    }
    .k-tooltip {
        background: #ffffff !important;
        border: 1px solid #0071C5 !important;
        color: #0071C5 !important;
        font-size: 12px;
        font-family: 'Intel Clear', 'Arial';
        -ms-border-radius: 4px;
        border-radius: 4px;
    }
    .k-slider {
        width:100% !important;
    }


	.k-widget.k-tooltip.k-tooltip-validation.k-invalid-msg{
		background-color: #ED1C24 !important;
		color: #ffffff;
	}

	.k-tooltip-validation.k-invalid .k-callout-n {
		border-bottom-color: #ED1C24;
	}

    .testContainer {
        font-family: 'Intel Clear', 'Arial';
        color: #000000;
    }
    .testContainer.blue {
        background-color: #003C71;
        color: #ffffff;
    }
    .testContainer.intel {
        background-color: #0071C5;
        color: #ffffff;
    }
    .uiControlDiv {
        padding: 2px 4px;
        border: 1px solid transparent;
        min-height: 16px;
    }

    .isDirtyIcon {
        color: #00AEEF;
    }

    .rotate-90 {
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .lookupDesc{
        font-size:11px;
        color:orange;
        font-style:italic;
        margin-left:2px;
        font-weight:bold;
    }

    .radioControl{
        font-size:14px;
    }




.opUiContainer .radio { padding-left:15px; }


/* control sizes */

/* sm */
.opUiContainer.sm { font-size: 10px; }
.opUiContainer.sm .opUiLabel { font-size: 10px; width: 130px; }
.opUiContainer.sm .err-Control { font-size: 10px !important; }
.opUiContainer.sm .k-icon { font-size: 14px; }
.opUiContainer.sm .k-numerictextbox .k-link { padding-top: 0; }
.opUiContainer.sm .k-dropdown-wrap { font-size: 10px; }
.opUiContainer.sm .radioControl  { font-size: 10px; margin-top: 4px;}
.opUiContainer.sm input[type="radio"], input[type="checkbox"] { margin-top: 0; }
.opUiContainer.sm .radio { margin-top: 0; margin-bottom: 0; }

.opUiContainer.sm .err-bit { margin: 0 0 0 -10px; }

.opUiContainer.sm .opElementHelpIcon, .opUiContainer.sm [class^="intelicon-"], .opUiContainer.sm [class*=" intelicon-"] { font-size: 14px !important; }

.opUiContainer.sm.k-grid td { font-size: 10px !important; height: 20px !important;}
.opUiContainer.sm.k-grid .k-header a { font-size: 10px !important; }
.opUiContainer.sm.k-grid-header th.k-header { padding-left: 0; }


/* md */
.opUiContainer.md { font-size: 12px; }
.opUiContainer.md .opUiLabel { font-size: 12px; width: 150px; }
.opUiContainer.md .err-Control { font-size: 11px !important; }
.opUiContainer.md .k-icon { font-size: 14px; }
.opUiContainer.md .k-numerictextbox .k-link { padding-top: 0; }
.opUiContainer.md .k-dropdown-wrap { font-size: 12px; }
.opUiContainer.md .radioControl  { font-size: 12px; margin-top: 4px;}
.opUiContainer.md input[type="radio"], input[type="checkbox"] { margin-top: 0; }
.opUiContainer.md .radio { margin-top: 0; margin-bottom: 0; }

.opUiContainer.md .err-bit { margin: 0 0 0 0; }

.opUiContainer.md .opElementHelpIcon, .opUiContainer.md [class^="intelicon-"], .opUiContainer.md [class*=" intelicon-"] { font-size: 14px !important; }
.opUiContainer.md [class^="intelicon-"].valid-icon, .opUiContainer.md [class*=" intelicon-"].valid-icon { font-size: 20px !important; }

.opUiContainer.md.k-grid td { font-size: 12px !important; height: 20px !important;}
.opUiContainer.md.k-grid .k-header a { font-size: 12px !important; }
.opUiContainer.md.k-grid-header th.k-header { padding-left: 0; }



/* dark blue background */
.opUiContainer.blue { color: #ffffff; }
.opUiContainer.blue .opElementHelpIcon { color: #f3D54E; }
.opUiContainer.blue .k-slider, .opUiContainer.blue .k-slider .k-icon { color: #ffffff; }
.opUiContainer.blue .isRequired:before { color: #f3D54E;}

.opUiContainer.blue .k-slider.isReadOnly { background-color: rgba(0, 0, 0, 0.3) !important; }
.opUiContainer.blue .isReadOnly,
.opUiContainer.blue .isReadOnly .k-numeric-wrap input,
.opUiContainer.blue .isReadOnly .k-date-picker input,
.opUiContainer.blue .isReadOnly .k-dropdown input,
.opUiContainer.blue .isReadOnly .k-picker-wrap,
.opUiContainer.blue .isReadOnly .k-numeric-wrap,
.opUiContainer.blue .isReadOnly .k-dropdown-wrap,
.opUiContainer.blue .isReadOnly .k-button,
.opUiContainer.blue .isReadOnly .k-button:hover,
.opUiContainer.blue .isReadOnly .k-buttonn.k-state-hover,
.opUiContainer.blue .isReadOnly .k-button:active:hover,
.opUiContainer.blue .isReadOnly .k-button.k-state-active:hover,
.opUiContainer.blue .isReadOnly .k-multiselect-wrap,
.opUiContainer.blue .isReadOnly .k-select,
.opUiContainer.blue .isReadOnly .k-numerictextbox .k-select,
.opUiContainer.blue .isReadOnly .k-input[readonly] {
    background-color: #003462 !important;
    color: #ffffff;
    border-color: #002647;
}
.opUiContainer.blue .isReadOnly.k-dropdown .k-input, .opUiContainer.blue .isReadOnly.k-dropdown .k-state-focused .k-input, .opUiContainer.blue .isReadOnly.k-menu .k-popup {
    color: #998c82 !important;
}
.opUiContainer.blue .errTab {
    background-color: #FFFFFF;
    color: #FF6E77;
}
.opUiContainer.blue .err-bit {
    border-color: #FF6E77 transparent transparent #FF6E77;
}
.opUiContainer.blue .err-bit-el {
    border-color: #FF6E77 transparent transparent #FF6E77;
}
.opUiContainer.blue .err-Control {
    color: #FF6E77;
}
.opUiContainer.blue .k-textbox.isError,
.opUiContainer.blue .k-textarea.isError,
.opUiContainer.blue .k-multiselect.isError{
    border: 1px solid #FF6E77;
}
.opUiContainer.blue .isDirtyWrapper .k-state-default.k-picker-wrap, 
.opUiContainer.blue .isDirtyWrapper .k-state-default.k-numeric-wrap, 
.opUiContainer.blue .isDirtyWrapper .k-state-default.k-dropdown-wrap,
.opUiContainer.blue .isDirtyWrapper .k-multiselect.k-header,
.opUiContainer.blue .k-textbox.isDirty,
.opUiContainer.blue .k-textarea.isDirty,
.opUiContainer.blue .k-multiselect.isErrorisDirty {
    border-bottom: 3px solid #f3D54E;
}
.opUiContainer.blue .isRequired:before { content:"* "; color: #f3D54E;}
.opUiContainer.blue .k-draghandle {     
    border-color: #f3D54E !important;
    background-color: #f3D54E !important;
}


/* Intel blue background */
.opUiContainer.intel { color: #ffffff; }
.opUiContainer.intel .opElementHelpIcon { color: #f3D54E; }
.opUiContainer.intel .k-slider, .opUiContainer.intel .k-slider .k-icon { color: #ffffff; }
.opUiContainer.intel .isRequired:before { color: #f3D54E;}

.opUiContainer.intel .k-slider.isReadOnly { background-color: rgba(0, 0, 0, 0.3) !important; }
.opUiContainer.intel .isReadOnly,
.opUiContainer.intel .isReadOnly .k-numeric-wrap input,
.opUiContainer.intel .isReadOnly .k-date-picker input,
.opUiContainer.intel .isReadOnly .k-dropdown input,
.opUiContainer.intel .isReadOnly .k-picker-wrap,
.opUiContainer.intel .isReadOnly .k-numeric-wrap,
.opUiContainer.intel .isReadOnly .k-dropdown-wrap,
.opUiContainer.intel .isReadOnly .k-button,
.opUiContainer.intel .isReadOnly .k-button:hover,
.opUiContainer.intel .isReadOnly .k-buttonn.k-state-hover,
.opUiContainer.intel .isReadOnly .k-button:active:hover,
.opUiContainer.intel .isReadOnly .k-button.k-state-active:hover,
.opUiContainer.intel .isReadOnly .k-multiselect-wrap,
.opUiContainer.intel .isReadOnly .k-select,
.opUiContainer.intel .isReadOnly .k-numerictextbox .k-select,
.opUiContainer.intel .isReadOnly .k-input[readonly] {
    background-color: #003C71 !important;
    color: #ffffff;
    border-color: #003462;
}
.opUiContainer.intel .isReadOnly.k-dropdown .k-input, .opUiContainer.intel .isReadOnly.k-dropdown .k-state-focused .k-input, .opUiContainer.intel .isReadOnly.k-menu .k-popup {
    color: #998c82 !important;
}
.opUiContainer.intel .errTab {
    background-color: #FFFFFF;
    color: #FF6E77;
}
.opUiContainer.intel .err-bit {
    border-color: #FF6E77 transparent transparent #FF6E77;
}
.opUiContainer.intel .err-bit-el {
    border-color: #FF6E77 transparent transparent #FF6E77;
}
.opUiContainer.intel .err-Control {
    color: #FF6E77;
}
.opUiContainer.intel .k-textbox.isError,
.opUiContainer.intel .k-textarea.isError,
.opUiContainer.intel .k-multiselect.isError{
    border: 1px solid #FF6E77;
}
.opUiContainer.intel .isDirtyWrapper .k-state-default.k-picker-wrap, 
.opUiContainer.intel .isDirtyWrapper .k-state-default.k-numeric-wrap, 
.opUiContainer.intel .isDirtyWrapper .k-state-default.k-dropdown-wrap,
.opUiContainer.intel .isDirtyWrapper .k-multiselect.k-header,
.opUiContainer.intel .k-textbox.isDirty,
.opUiContainer.intel .k-textarea.isDirty,
.opUiContainer.intel .k-multiselect.isErrorisDirty {
    border-bottom: 3px solid #f3D54E;
}
.opUiContainer.intel .isRequired:before { content:"* "; color: #f3D54E;}
.opUiContainer.intel .k-draghandle {     
    border-color: #f3D54E !important;
    background-color: #f3D54E !important;
}

.opUiTreeView{
    overflow:scroll;
    background-color: white;
    margin-top: -13px;
    border-top-style: solid;
    border-top-color: lightgrey;
    height: 250px;
    width: 100%;
}

.opUiElement > .k-multiselect-wrap {
    cursor: pointer;
}

/* removes 'x's from fake multiselect, perhaps we can find a better way to select that css? */
.isReadOnlyFaux > .k-multiselect-wrap > .k-reset > .k-button > .k-select > .k-i-close {
    visibility: hidden;
}

/* grid cell controls */
.gridCellStatus {
    width: 100%; height: 12px;
}

.gridCellStatus .k-progress-status-wrap {
    line-height: 1em !important;
}

