.myDealsControl {
        margin: 5px 0 5px 5px;
        float: left;
    }

    .isHidden 
    {
        display: none;
    }
    .isHiddenCell
    {
        display: none;
    }

    .isReadOnly, 
    .isReadOnly .k-numeric-wrap input, 
    .isReadOnly .k-date-picker input, 
    .isReadOnly .k-dropdown input, 
    .isReadOnly .k-picker-wrap, 
    .isReadOnly .k-numeric-wrap, 
    .isReadOnly .k-dropdown-wrap 
    {
        color: #999999 !important;
        background-color: #eeeeee !important;
    }

    .isReadOnlyCell {
        color: #999999 !important;
        background-color: rgba(240, 240, 240, 0.9) !important;
    }

    .isRequired, 
    .isRequired .k-numeric-wrap input, 
    .isRequired .k-date-picker input, 
    .isRequired .k-dropdown-wrap,
    .isRequired .k-dropdown-wrap .k-input 
    {
        font-weight: bold !important;
        color: #000000 !important;
    }

    .isRequiredCell {
        border-left: 2px solid #F3D54E !important;
    }

    .elOnBlue .isRequired {
        color: #ffffff !important;
    }

    .isError, 
    .isError .k-numeric-wrap input, 
    .k-datepicker .isError, 
    .isError .k-dropdown input,
    .isError .k-picker-wrap, 
    .isError .k-numeric-wrap, 
    .isError .k-dropdown-wrap 
    {
    }
    .isErrorCell {
    }
    .isErrorWrapper .k-state-default.k-picker-wrap, .isErrorWrapper .k-state-default.k-numeric-wrap, .isErrorWrapper .k-state-default.k-dropdown-wrap {
        border: 1px solid #ed8282;
    }
    .k-textbox.isError
    {
        border: 1px solid #ED1C24;
    }
    .errTab {
        background-color: #FFFFFF;
        color: #ED1C24;
        font-size: 10px !important;
        padding-left: 1px !important;
    }
    .err-bit {
        margin: 0 0 0 .1em;
        position: absolute;
        border-style: solid;
        border-color: #ED1C24 transparent transparent #ED1C24;
        border-width: 3px;
    }
    .err-bit-el {
        border-style: solid; 
        border-color: #ED1C24 transparent transparent #ED1C24; 
        top: 6px; 
        width: 6px; 
        position: relative; 
        z-index: 100; 
        margin-top: -6px;
    }

    .elOnBlue .k-textbox.isError
    {
        border: 1px solid #F3D54E;
    }
    .elOnBlue .err-bit {
        border-style: solid; 
        border-color: #F3D54E transparent transparent #F3D54E; 
    }
    .elOnBlue .err-bit-el {
        border-color: #F3D54E transparent transparent #F3D54E;
    }

    .bgBlueContainer .k-textbox.isError
    {
        border: 1px solid #F3D54E;
    }
    .bgBlueContainer .err-bit, .bgBlueContainer .err-bit-el {
        border-color: #F3D54E transparent transparent #F3D54E;
    }


    .isSavedWrapper .k-state-default.k-picker-wrap, .isSavedWrapper .k-state-default.k-numeric-wrap, .isSavedWrapper .k-state-default.k-dropdown-wrap {
        border: 1px solid #C4D600;
    }
    .k-textbox.isSaved
    {
        border: 1px solid #C4D600;
    }
    .isSavedCell {
        border-left: 2px solid #C4D600 !important;
    }
    .savTab {
        background-color: #C4D600;
        border: 1px solid #C4D600;
        color: #ffffff;
        padding-bottom: 1px;
    }

    .isDirtyWrapper .k-state-default.k-picker-wrap, .isDirtyWrapper .k-state-default.k-numeric-wrap, .isDirtyWrapper .k-state-default.k-dropdown-wrap {
        border-bottom: 1px solid #0071C5;
    }
    .k-textbox.isDirty
    {
        border-bottom: 1px solid #0071C5;
    }
    .isDirtyCell {
        border-left: 2px solid #0071C5 !important;
    }

    #toolBarChk label {
        font-weight: 200;
        font-size: 12px; 
        font-family: 'Intel Clear', 'Arial';
        margin-right: 20px;
    }

    /*.k-callout-s {
         border-top-color: black;
    }
    .k-tooltip {
        background: black !important;
        border-color: black !important;    
        font-size: 12px; 
        font-family: 'Intel Clear', 'Arial';
        border-radius: 4px;
    }*/


    /* PE implementing style sheets */
    .k-callout-s {
         border-top-color: #0071C5;
    }
    .k-tooltip {
        background: #ffffff !important;
        border: 1px solid #0071C5 !important;
        color: #0071C5 !important;
        font-size: 12px; 
        font-family: 'Intel Clear', 'Arial';
        -ms-border-radius: 4px;
        border-radius: 4px;
    }

    .fieldcontainer {
        font-size: 10px; 
        font-family: 'Intel Clear', 'Arial'; 
        color: #000000; 
        border: 1px solid #b1babf; 
        border-radius: 4px;
        padding: 8px;
        margin: 10px 0;
    }
    .uiControlDiv {
        padding: 2px 4px;
        border: 1px solid transparent;
        min-height: 16px;
    }

    /*
    .mydeals-grid.k-grid {
        border: 0 solid transparent;
    }
    .mydeals-grid.k-grid td {
        padding: 0;
    }
    .mydeals-grid.k-grid .k-alt {
        background-color: transparent;
    }
    .mydeals-grid.k-grid .k-edit-cell {
        padding: 0;
    }
    .mydeals-grid.k-grid tr td {
        border-right: 0 solid transparent;
        border-left: 0 solid transparent;
    }
    .mydeals-grid.k-grid tr th {
        border-right: 0 solid transparent;
        border-left: 0 solid transparent;
        border-top: 0 solid transparent;
        font-weight: bold;
    }
    .mydeals-grid .k-dirty {
        margin: 0 0 0 -.1em;
        border-color: transparent;
    }

    .isDirtyIcon {
        color: #00AEEF;
    }

    .isDirtyIconContainer {
        float: left;
        font-size: 18px; 
        padding-top: 20px; 
        margin-right: 10px; 
        margin-left: 5px; 
        color: #dbdbdb;
    }

    .isDirtyIconGridContainer {
        font-size: 16px; 
        color: #dbdbdb;
        margin-left: 4px;
    }
    .gridHeaderIcon {
        font-size: 16px; 
        color: #c1c1c1;
    }

    .k-grid-header th.k-header>.k-link {
        margin: 0;
        padding: 0;    
    }*/