

    /*.readonly {
        background-image: url(/images/disabledBackLighter.png);
    }

    .readonly.required {
        background-color: transparent;
    }


    .trSaving {
        background-image: url(/images/disabledBack.png);
        background-color: #aaaaaa;
    }



    .k-grid tr td {
        border-right: 1px solid #efefef;
        border-left: 1px solid #efefef;
    }


    #gridDeals > div.k-grid-content-locked > table > tbody > tr > td.readonly {
        background-color: #f0f8ff;
        background-image: url(/images/disabledBackLighter.png);
    }*/


    /*tr.k-alt {
        background-color: #FFFFFF;
    }

    .k-state-selected {
        color: black !important;
        background-color: #77b5e6;
    }*/

    /*thead th.k-hierarchy-cell {
        padding: 0 8px 4px 8px !important;
    }

    .k-grid td {
        white-space: nowrap;
		padding: 0px 4px;
		font-size: 14px !important;
    }

.k-grid-header .k-header, .k-grid-header .k-header > .k-link, .k-filter-row th, .k-grid-header th.k-header {
	font-size: 14px;
	color: #000000;
	background-color: transparent;
}
.k-grid-filter.k-state-active {
	background-color: #00aeef;
  border-radius: 50%;
  padding:0;
  margin: 0;
}
.k-grid-filter.k-state-active .k-filter
,.k-grid-filter.k-state-active .k-i-filter
,.k-grid-filter.k-state-active .k-i-funnel {
    background-position: -48px -80px;
}*/


/* icon size */
/*.icon-md {
	font-size: 1.2em;
}*/

/* Inline Kendo Grid Editing. Overrides default kendo classes */
/*.k-dirty {
	opacity: 0;
}
.k-grid tr td.k-dirty-cell {
	background-color: #cceffc;
	border-left: 3px solid #00AEEF;
 }*/

/* Custom editable kendo column text */
/*.editableHeader {	
  overflow: hidden;
  text-overflow: ellipsis;
}*/

/* Custom editable kendo column background */
/*.editableColumnHeader{ }

.editableColumnHeader .k-filter
, .editableColumnHeader .k-i-filter
, .editableColumnHeader .k-i-funnel {
    background-position: -48px -80px;
}
  
.k-grid-header .k-header.editableColumnHeader
, .k-grid-header .k-header.editableColumnHeader > .k-link
, .k-filter-row th.editableColumnHeader
, .k-grid-header th.k-header.editableColumnHeader
, .k-filter-row th.editableColumnHeader 
, .k-grid-header th.k-header.editableColumnHeader 
 {
	color: #ffffff;
	background-color: #666666;
}*/
 
/* Custom editable kendo cell */
/*.editableKendoCell {
	background-color: #fff;
	border: 1px solid #efefef;
	color: #787878;
	cursor: pointer;
	height: 100%;
	margin: 0.1em 0.5em 0.1em -0.2em;
	min-height: 1.5em;
	padding: 0 0.5em 0 1em;
	width: 95%;
}
td.k-dirty-cell .editableKendoCell {
	background-color: transparent;
}*/
