

.readonly {
	background-image: url(/images/disabledBackLighter.png);
}

.required {
	/*background-color: #f8ffa5;*/
	background: #64c864; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjklIiBzdG9wLWNvbG9yPSIjMjk4OWQ4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(left, #64c864 0%, #64c864 3%, transparent 4%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#64c864), color-stop(3%,#64c864), color-stop(4%,transparent)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #64c864 0%,#64c864 3%,transparent 4%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #64c864 0%,#64c864 3%,transparent 4%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #64c864 0%,#64c864 3%,transparent 4%); /* IE10+ */
	background: linear-gradient(to right, #64c864 0%,#64c864 3%,transparent 4%); /* W3C */
	-webkit-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c864', endColorstr='transparent',GradientType=1 );
	-moz-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c864', endColorstr='transparent',GradientType=1 );
	-o-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c864', endColorstr='transparent',GradientType=1 );
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c864', endColorstr='transparent',GradientType=1 ); /* IE6-8 */
}

.readonly.required {
	background-color: transparent;
}


.trSaving {
	background-image: url(/images/disabledBack.png);
	background-color: #aaaaaa;
}



.k-grid tr td {
	border-right: 1px solid #efefef;
	border-left: 1px solid #efefef;
}


#gridDeals > div.k-grid-content-locked > table > tbody > tr > td.readonly {
	background-color: #f0f8ff;
	background-image: url(/images/disabledBackLighter.png);
}


/*tr.k-alt {
        background-color: #FFFFFF;
    }

    .k-state-selected {
        color: black !important;
        background-color: #77b5e6;
    }*/

thead th.k-hierarchy-cell {
	padding: 0 8px 4px 8px !important;
}

.k-grid td {
	white-space: nowrap;
	padding: 0 4px;
	font-size: 12px !important;
}

.k-grid-header .k-header, .k-grid-header .k-header > .k-link, .k-filter-row th, .k-grid-header th.k-header {
	font-weight: bold;
	font-size: 12px;
	color: #000000;
	background-color: #e1e5e7;
}


/* icon size */
.icon-md {
	font-size: 1.2em;
}

/* Inline Kendo Grid Editing. Overrides default kendo classes */
.k-dirty {
	opacity: 0;
}
.k-grid tr td.k-dirty-cell {
	background-color: #cceffc;
	border-left: 3px solid #00AEEF;
}

/* Custom editable class */
.editableHeader {
	color: #1891ee;
	border-bottom: 3px solid #00AEEF;
}

.editableKendoCell {
	background-color: #fff;
	border: 1px solid #efefef;
	color: #787878;
	cursor: pointer;
	height: 100%;
	margin: 0.2em 0.5em 0.2em -0.2em;
	min-height: 1.5em;
	padding: .45em 0.5em 0 1em;
	width: 95%;
}
td.k-dirty-cell .editableKendoCell {
	background-color: transparent;
}
