
.ss-loading-overlay {
	background: rgba(255,255,255, 0.5);
	height: 100%;
	width: 100%;
	z-index: 1000;
	position: absolute;
	top: 0px;
}

.ss-loading-panel {
	background-color: #ffffff;
	margin-top: 200px;
	margin-left: 30%;
	min-height: 100px;
	width: 300px;
	border-radius: 5px;
	padding: 10px;
	border: 2px #0071C5 solid;
}

.ss-loading-panel h2 {
	font-size: 20px !important;
	margin-top: 0;
}




.spinner {
  margin: 10px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #0071C5;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.ss-loading-overlay {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
.ss-loading-overlay.ng-hide {
    opacity: 0;
}

