.sky-blue {
    color: #00AEEF;
}
.red {
    color: #ED1C24;
}

.ss-loading-overlay {
	background: rgba(255,255,255, 0.5);
	height: 100%;
	width: 100%;
	z-index: 1000;
	position: absolute;
	top: 0px;
}

.ss-loading-panel {
	background-color: #ffffff;
	margin-top: 200px;
    /*margin-left: 40%;*/
    margin-left: -webkit-calc(50% - 300px);
    margin-left: -moz-calc(50% - 300px);
    margin-left: calc(50% - 300px);
    min-height: 100px;
	width: 300px;
	border-radius: 5px;
	padding: 10px;
	border: 2px #0071C5 solid;
	animation: sk-zoom 0.4s;
}

.ss-loading-panel h2 {
	font-size: 20px !important;
	margin-top: 0;
}
.ss-loading-panel.ss-Info{	
	border: 2px #0071C5 solid;
}
.ss-loading-panel.ss-Success {	
	border: 2px #0071C5 solid; /* C4D600 */
}
.ss-loading-panel.ss-Warning {
	border: 2px #FFA300 solid;
}
.ss-loading-panel.ss-Error{
	border: 2px #ED1C24 solid;
}

.ss-icon-lg {
	font-size: 4em;
  -webkit-animation: sk-zoom 0.3s 1 ease-in;
  animation: sk-zoom 0.3s 1 ease-in;
}

.spinner {
  margin: 10px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #0071C5;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}
@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

@-webkit-keyframes sk-zoom {
  0% { -webkit-transform: scale(0.2) }  
  100% { -webkit-transform: scale(1.0) }
}
@keyframes sk-zoom {
  0% { 
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
  }  100% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.ss-loading-overlay {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;	
        -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;
}
.ss-loading-overlay.ng-hide, .ss-loading-overlay.ng-leave {
    opacity: 0;
        -webkit-animation: fadeOut 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeOut 0.5s; /* Firefox < 16 */
        -ms-animation: fadeOut 0.5s; /* Internet Explorer */
         -o-animation: fadeOut 0.5s; /* Opera < 12.1 */
            animation: fadeOut 0.5s;
}


/* Fun fact styles */
.ss-funfact-container {
	background-color: #fcfcfc; 
	padding: 20px; 
	margin: 20px -10px -10px -10px;
    border-top: 1px solid #eeeeee;
        -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

.ss-funfact-title {
	margin-bottom: 8px;
	color: #FFA300; 
	font-size:17px;
}

.ss-funfact-icon {
	 font-size: 26px; 
	 color: #0071C5;
    margin-right: 10px;
}

.ss-funfact-description {
	color: #555;
}


/****** FADE IN *******/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/****** FADE OUT *******/
@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}