/* Security Engine Colored Boxes */
.atrbContainer {
    min-height: 12px;
	width: 16px;
	margin: 1px;
	line-height: 1.2em;
	font-size: 10px;
	padding: 0 !important;
	text-align: center;	
    background-color: #ED1C24;
	border: 1px solid #cccccc;
}

.atrbSubTitle {
	margin: 1px;
	line-height: 1.2em;
	font-size: 10px;
	padding: 1px;
}

.rolebasecolor {
	color: #000000;
	padding-left: 3px;
	padding-right: 5px;
	background-color: #ffffff;
	border-color: #eeeeee;
}

.atrbbasecolorECAP {
	color: #0071c5;
	padding-left: 3px;
	padding-right: 5px;
	background-color: #0071c5;
	border-color: #0071c5;
}

.atrbbasecolorCAP_BAND {
	color: #aa00bb;
	padding-left: 3px;
	padding-right: 5px;
	background-color: #aa00bb;
	border-color: #aa00bb;
}

.atrbbasecolorPROGRAM {
	color: #00c571;
	padding-left: 3px;
	padding-right: 5px;
	background-color: #00c571;
	border-color: #00c571;
}

.atrbbasecolorVOL_TIER {
	color: #ffda00;
	padding-left: 3px;
	padding-right: 5px;
	background-color: #ffda00;
	border-color: #ffda00;
}

.atrbbasecolorNotInDealType {
	background-image: url(/images/disabledBack.png);
	background-color: #eeeeee;
	border-color: #eeeeee;
}

.atrbbasecolorDealReadOnly {
	color: #ffffff;
}



/* Changed classes */
/*.attrbChanged.atrbbasecolorECAP{
	background-color: #003C71;
	border-color: #003C71;
	color: #003C71;
}
.attrbChanged.atrbbasecolorCAPBAND{
	background-color: #61006b;
	border-color: #61006b;
	color: #61006b;
}
.attrbChanged.atrbbasecolorPROGRAM{
	background-color: #007c47;
	border-color: #007c47;
	color: #007c47;
}
.attrbChanged.atrbbasecolorVOLTIER{
	background-color: #FFA300;
	border-color: #FFA300;
	color: #FFA300;
}*/
.attrbChanged.atrbbasedisabled {
	border-color: red;
	border-style: solid;
}
.attrbChanged {
	border-color: red;
}

.atrbbasedisabled {
	background-color: #ffffff !important;
	border-left-width: 1px;
	opacity: 0.4;
}

/* Security Engine Grid */
#secEngineGrid.k-grid td{
	padding: 0 !important;
}


/* Security Engine Color Key */
.secEngine_key {
	font-size: 8px;
	line-height: 1em;
	width: 10px;
}

.secEngine_keyBlock {
	margin: 3px 8px 2px 2px;
	line-height: 1em;
}

.secEngine_tabs{
	margin: 20px 0px;
}

.secEngine_tabs .tab-pane{
	background-color: #ffffff;
	border: 1px solid #c4cfd4;
	border-top: none;
	padding: 20px 0px;
}

.secEngine_tabs .nav-tabs>li.active>a, .secEngine_tabs .nav-tabs>li.active>a:hover, .secEngine_tabs .nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: #00AEEF;
    border: 1px solid #00AEEF;
    border-bottom-color: transparent;
    cursor: default;
}

.secEngine_tabs .nav-tabs li a{
	border: 1px solid #c4cfd4;
	border-bottom:0px;
	margin-right: 0px;
}


/* Sidebar */
.secEngine_sidebar {
	overflow-y: auto;
	background-color: #efefef;
	border-radius: 4px;
	width: 410px;
}

.secEngine_viewButton{
	/*margin: auto;*/
	border-top: 1px dashed #b1babf;
	padding: 20px 12px;
}

#secEngine_filters
{	
    overflow-x: scroll;
}