/* Security Engine Colored Boxes */
.atrbContainer {
    min-height: 12px;
	width: 16px;
	margin: 1px;
	line-height: 1.2em;
	font-size: 10px;
	padding: 0 !important;
	text-align: center;	
    background-color: #ED1C24;
	border: 1px solid #cccccc;
}

.atrbSubTitle {
	margin: 1px;
	line-height: 1.2em;
	font-size: 10px;
	padding: 1px;
}

.rolebasecolor {
	color: #000000;
	padding-left: 3px;
	padding-right: 5px;
	border-color: #eeeeee;
    background-color: #ffffff;
}

.atrbbasecolorECAP {
	color: #0071c5;
	padding-left: 3px;
	padding-right: 5px;
	background-color: #0071c5;
	border-color: #0071c5;
}

.atrbbasecolorFLEX {
	color: #aa00bb;
	padding-left: 3px;
	padding-right: 5px;
	background-color: #aa00bb;
	border-color: #aa00bb;
}

.atrbbasecolorKIT {
	color: #ff00bb;
	padding-left: 3px;
	padding-right: 5px;
	background-color: #ff00bb;
	border-color: #ff00bb;
}

.atrbbasecolorPROGRAM {
	color: #00c571;
	padding-left: 3px;
	padding-right: 5px;
	background-color: #00c571;
	border-color: #00c571;
}

.atrbbasecolorVOL_TIER {
	color: #ffda00;
	padding-left: 3px;
	padding-right: 5px;
	background-color: #ffda00;
	border-color: #ffda00;
}

.atrbbasecolorREV_TIER {
	color: #e100ff;
	padding-left: 3px;
	padding-right: 5px;
	background-color: #e100ff;
	border-color: #e100ff;
}

.atrbbasecolorDENSITY {
	color: #aa00ff;
	padding-left: 3px;
	padding-right: 5px;
	background-color: #aa00ff;
	border-color: #aa00ff;
}

.atrbbasecolorNotInDealType {
	background-image: url(/images/disabledBack.png);
	background-color: #eeeeee;
	border-color: #eeeeee;
}

.atrbbasecolorDealReadOnly {
	color: #ffffff;
}



/* Changed classes */
/*.attrbChanged.atrbbasecolorECAP{
	background-color: #003C71;
	border-color: #003C71;
	color: #003C71;
}
.attrbChanged.atrbbasecolorCAPBAND{
	background-color: #61006b;
	border-color: #61006b;
	color: #61006b;
}
.attrbChanged.atrbbasecolorPROGRAM{
	background-color: #007c47;
	border-color: #007c47;
	color: #007c47;
}
.attrbChanged.atrbbasecolorVOLTIER{
	background-color: #FFA300;
	border-color: #FFA300;
	color: #FFA300;
}*/
.attrbChanged.atrbbasedisabled {
	border-color: red;
	border-style: solid;
}
.attrbChanged {
	border-color: red;
}

.atrbbasedisabled {
	background-color: #ffffff !important;
	border-left-width: 1px;
	opacity: 0.4;
}

/* Security Engine Grid */
#secEngineGrid.k-grid td{
	padding: 0 6px !important;
}
#secEngineGrid.k-grid td, #secEngineGrid.k-grid td.k-alt {
    background-color: #f9f9f9;
}
#secEngineGrid.k-grid td {
    font-size: 12px;
}
#secEngineGrid.k-grid tr:hover, #secEngineGrid.k-grid tr.k-alt:hover, #secEngineGrid.k-grid td.k-state-selected:hover {
    background-color: #ecf8fb !important;
}
#secEngineGrid.k-grid .k-filter-row th, .k-grid-header th.k-header {
    font-size: 12px;
}


/* Security Engine Color Key */
.secEngine_key {
	font-size: 8px;
	line-height: 1em;
	width: 10px;
}

.secEngine_keyBlock {
	margin: 3px 8px 2px 2px;
	line-height: 1em;
}

.secEngine_tabs{
	margin: 20px 0px;
    font-size: 14px;
}

.secEngine_tabs .tab-pane{
	background-color: #ffffff;
	border: 1px solid #c4cfd4;
	border-top: none;
	padding: 20px 0;
}

.secEngine_tabs .nav-tabs>li.active>a, .secEngine_tabs .nav-tabs>li.active>a:hover, .secEngine_tabs .nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: #00AEEF;
    border: 1px solid #00AEEF;
    border-bottom-color: transparent;
    cursor: default;
}

.secEngine_tabs .nav-tabs li a{
	border: 1px solid #c4cfd4;
	border-bottom:0px;
	margin-right: 0px;
}

.secEngine_tabs .nav>li>a {
    padding: 5px 5px;
}

/* Sidebar */
.secEngine_sidebar {
	overflow-y: hidden;
	background-color: #f5f5f5;
    padding: 0 5px;
}

.secEngine_viewButton{
	margin: 0;
	border-top: 1px dashed #b1babf;
	padding: 20px 12px;
}

#secEngine_filters
{	
    overflow-x: scroll;
    margin-right: -4px;
}
#secEngine_filter div
{	
    padding-left: 20px;
}





    .container-fluid, .full {
        min-height: 100%;
    }

    #sidebar {
        margin-left: -30px;
    }

    @media (min-width:992px) {
        #sidebar {
            width: inherit;
            min-width: 300px;
            max-width: 300px;
            float: left;
            height: 100%;
            position: relative;
            overflow: auto;
        }

        #main {
            width: calc(100% - 270px);
        }
    }

    #secEngine_filters > div.lbl
    {	
        padding-left: 20px;
        margin-bottom: 5px;
    }

    #secEngine_filters > div.lbl > div:nth-child(1)
    {
        float: left;
        font-size: 12px;
        width: 80px;
        margin-top: 5px;
        color: #0071C5;
    }
    #secEngine_filters > div.lbl > div:nth-child(2)
    {
        float: left;
        width: 160px;
    }
