.showMore {
    cursor: pointer;
    font-size: 12px;
    font-weight: 800;
    width: 105px;
    text-align: center;
    position: absolute;
    padding: 3px 6px;
    background: #00AEEF;
    color: #ffffff;
    margin-top: 5px;
}
.clearFilter > a:hover{
    text-decoration:none;
}
.showMore:hover {
    text-decoration: none;
}
.panel-group {
    margin-bottom: 0px;
}
.btnClearFilter {
    color: red;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    margin-top: -32px;
}

.clearFilter {
    float: right;
    margin-right: 40px;
    color: crimson;
}

.item .image img:hover {
    /*-moz-transform: rotate(-360deg);
        -moz-transition: all 0.8s ease-in-out 0s;
        -webkit-transform: rotate(-360deg);
        -webkit-transition: all 0.8s ease-in-out 0s;*/
    border-radius: 5px;
}
.item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}
.item .image {
    padding: 0.7em 2em;
}
.item .image > div {
    position: relative;
    text-align: center;
    font-size: 0.8em;
}
.item .image > div::after {
    content: '';
    width: 100%;
    height: 0;
    border-bottom: 1px solid #232b50;
    position: absolute;
    top: 2.75em;
    left: 2.5em;
    z-index: -1;
}
.item .image img {
    border-radius: 50%;
    height: 6em;
    border: 3px solid #0071c5;
}
.item .image span {
    display: block;
    clear: both;
    padding: 0.25em 0;
    margin: 0.5em 0;
    background: #3b4262;
}
.item .details {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-bottom: 5px;
    padding-top: 5px;
}
.item .details > div {
    border: 2px solid #cccccc;
    border-radius: 0.5em;
    padding: 0.3em;
    float: left;
    width: 100%;
}
.item .details > div h1 {
    color: #003C71;
    font-size: 14px;
    font-weight: 800;
    margin: 0;
    padding: 0.2em 0 0.2em 0;
    margin-top: 5px;
    float: left;
    width: 50%;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.timelineText {
    color: #003C71;
    font-size: 16px;
    font-weight: 800;
    margin: 0;
    padding: 0.2em 0 0.2em 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.timelineText a {
    color: #00AEEF !important;
}
.capitalize {
    text-transform: capitalize;
}
.timelineText > a {
    cursor: pointer;
}
.updateBy {
    color: #0071c5;
    font-size: 12px;
    font-weight: 800;
    margin: 0;
    margin-top: 5px;
    float: right;
    width: 50%;
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.item .details > div p {
    margin: 0;
    padding: 0;
    line-height: 150%;
    margin-top: 5px;
    margin: 0;
    padding: 0;
    line-height: 150%;
    margin-top: 5px;
    color: rgb(0, 113, 197);
    font-weight: 800;
    font-size: 12px;
}
.item .details::before {
    content: '';
    width: 0;
    height: 100%;
    border-left: 1px solid #232b50;
    position: absolute;
    top: 0;
    left: -4.35em;
    z-index: -1;
}
.atbrDetails {
    float: left;
    width: 60%;
    text-align: left;
}
.atbrDate {
    float: right;
    width: 40%;
    text-align: right;
    color: #0071c5;
    font-size: 12px;
    font-weight: 800;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
