.showMore {
    cursor: pointer;
    font-size: 32px;
    font-weight: 800;
    width: 105px;
    text-align: center;
    margin-top: -28px;
    position: absolute;
}
.clearFilter > a:hover{
    text-decoration:none;
}
.panel-group {
    margin-bottom: 0px;
}
.btnClearFilter {
    color: red;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    margin-top: -32px;
}

.clearFilter {
    float: right;
    margin-right: 40px;
    color: crimson;
}

.item .image img:hover {
    /*-moz-transform: rotate(-360deg);
        -moz-transition: all 0.8s ease-in-out 0s;
        -webkit-transform: rotate(-360deg);
        -webkit-transition: all 0.8s ease-in-out 0s;*/
    border-radius: 5px;
}
#secContainer {
    overflow: auto !important;
}

.item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}
.item .image {
    padding: 0.7em 2em;
}
.item .image > div {
    position: relative;
    text-align: center;
    font-size: 0.8em;
}
.item .image > div::after {
    content: '';
    width: 100%;
    height: 0;
    border-bottom: 1px solid #232b50;
    position: absolute;
    top: 2.75em;
    left: 2.5em;
    z-index: -1;
}
.item .image img {
    border-radius: 50%;
    height: 6em;
    border: 3px solid #0071c5;
}
.item .image span {
    display: block;
    clear: both;
    padding: 0.25em 0;
    margin: 0.5em 0;
    background: #3b4262;
}
.item .details {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-bottom: 10px;
    padding-top: 10px;
}
.item .details > div {
    border: 1px solid #232b50;
    border-radius: 0.5em;
    padding: 0.3em;
}
.item .details > div h1 {
    color: #ffffff;
    font-size: 12px;
    font-weight: 800;
    margin: 0;
    padding: 0.2em 0 0.2em 0;
    letter-spacing: 0.1em;
    margin-top: 5px;
    background: #0071c5;
    transform: skew(-20deg);
}
.item .details > div p {
    margin: 0;
    padding: 0;
    line-height: 150%;
    margin-top: 5px;
}
.item .details::before {
    content: '';
    width: 0;
    height: 100%;
    border-left: 1px solid #232b50;
    position: absolute;
    top: 0;
    left: -4.35em;
    z-index: -1;
}
