<kendo-tabstrip #tabstrip (tabSelect)="onTabSelect($event)" id="pctTab" style="margin-left: 10px">
    <kendo-tabstrip-tab title="All" [selected]="selectedTab==0"></kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="Failures" [selected]="selectedTab==1"></kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="Passes" [selected]="selectedTab==2"></kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="InCompletes" [selected]="selectedTab==3"></kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="NA" [selected]="selectedTab==4"></kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="Grouping Exclusions" [selected]="selectedTab==5">
        <ng-template kendoTabContent>
            <manager-exclude-groups [contractData]="contractData" [UItemplate]="UItemplate"></manager-exclude-groups>
        </ng-template>
    </kendo-tabstrip-tab>
</kendo-tabstrip>
<div id="sum-wrapper" *ngIf="!isExcludeGroup">
    <div id="sum-header" style="min-width: 800px;">
        <div class="sum-filter-bar" style="padding: 0 10px;">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 30px; height: 40px;" (click)="toggleSum()"
                        title="{{ isAllCollapsed ? 'Collapse All' : 'Expand All'}}"
                        [ngClass]="{'rotate-90': !isAllCollapsed}"><i class="chevron linkable intelicon-fast-forward"
                            data-toggle="collapse" data-target=".multi-collapse"></i></td>
                    <td style="width: 110px; height: 40px;"></td>
                    <td style="width:40px">
                        <div class="fr helpBtn" title="Help" (click)="showHelpTopicCostTest()"><i class="intelicon-help"
                                style="font-size:30px !important"></i></div>
                    </td>
                    <td><span class="k-textbox k-space-left" style="width: 300px; margin-top: -4px;"><i
                                class="intelicon-search"
                                style="font-size: 26px; color: #00AEEF; margin-top: 3px;"></i><input
                                style="width: 290px;" placeholder="Search for Pricing Strategy, Pricing Table or name"
                                [(ngModel)]="titleFilter" /></span></td>
                    <td style="text-align: right;"></td>
                </tr>
            </table>
        </div>
        <div style="padding: 0 10px;">
            <table style="width: 100%;" class="tbl-header">
                <tr>
                    <td style="width: 30px;"><button class="btn btn-sm ssToolbarBtn fl" style="padding: 5px 0px;"
                            (click)="saveAndRunMeetComp()">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="btn btn-skyblue-sm"><i class="fa fa-refresh fa-fw iconRunPct"
                                                    style="font-size: 20px"></i></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </button></td>
                    <td style="width: 160px; text-align: center;">Price Cost Test <div
                            [textContent]="lastMeetCompRunCalc()" class="btnLastRun meetCompbtnLastRun"
                            style="font-size: 10px" title="{{lastMetCompRunLocalTime}}"></div>
                    </td>
                    <td style="line-height: 1.1em;">Pricing Strategy / Pricing Table</td>
                    <td style="width: 120px; text-align: center; line-height: 1em;">Stage/Deal type</td>
                </tr>
            </table>
            <hr />
        </div>
    </div>
    <div id="sum-container" style="min-width: 800px;margin-top:20px">
        <div class="sum-main-body">
            <div class="sum-main-container">
                <div *ngFor="let ps of pricingStrategyFilter | filter:titleFilter ;let psIndex=index"
                    class="sumPsContainer">
                    <table style="width: 100%">
                        <tr>
                            <td style="width: 30px; height: 30px;" id="PRC_ST_{{ps.DC_ID}}"
                                (click)="isPSExpanded[psIndex]=!isPSExpanded[psIndex]"><i
                                    class="chevron linkable collapseALL" data-toggle="collapse"
                                    [attr.data-target]="'#PSData_'+ psIndex"
                                    [ngClass]="{'intelicon-down': isPSExpanded[psIndex], 'intelicon-right-next': !isPSExpanded[psIndex]}"></i>
                            </td>
                            <td class="bigIcon" style="width: 140px; text-align: center;"
                                *ngIf="ps?._settings?.CAN_VIEW_COST_TEST || PCTResultView">
                                <icon-mct-pct-angular ngDefaultControl [(ngModel)]="ps.COST_TEST_RESULT"
                                    [dataValue]="ps.COST_TEST_RESULT" [canEdit]="CAN_EDIT_COST_TEST"
                                    [iconClass]="bigIcon"></icon-mct-pct-angular>
                            </td>
                            <td>
                                <div [textContent]="ps.TITLE" class="bolder linkable"
                                    title="Click to open the{{psTitle}} in the{{contractType}} Editor"></div>
                            </td>
                            <td style="width: 120px; text-align: center;">
                                <div class="bolder org">
                                    <div [textContent]="swapUnderscore(ps.WF_STG_CD)"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div *ngFor="let pt of ps.PRC_TBL;let i=index">
                        <div class="collapse multi-collapse" id="PSData_{{psIndex}}">
                            <table style="width: 100%; ">
                                <tr id="detail_{{pt.DC_ID}}">
                                    <td style="width: 30px; height: 30px; text-align: right;" *ngIf="canEdit"><i
                                            class="chevron linkable" style="font-size: 20px; padding-left: 6px;"
                                            data-toggle="collapse" [attr.data-target]="'#sumWipGrid_'+ pt.DC_ID"
                                            (click)="isPTExpanded[pt.DC_ID]=!isPTExpanded[pt.DC_ID]; togglePt(pt)"
                                            [ngClass]="{'intelicon-down': isPTExpanded[pt.DC_ID], 'intelicon-right-next': !isPTExpanded[pt.DC_ID]}"></i>
                                    </td>
                                    <td style="width: 30px; height: 30px;"
                                        (click)="isPtCollapsed=!isPtCollapsed; togglePt( pt)" [hidden]="canEdit"><button
                                            class="chevron linkable" type="button" data-toggle="collapse"
                                            [attr.data-target]="'#sumWipGrid_'+'{{pt.DC_ID}}'"
                                            (click)="togglePt( pt)"></button></td>
                                    <td class="medIcon" style="width: 140px; color: #000000; text-align: center;"
                                        *ngIf="ps?._settings?.CAN_VIEW_COST_TEST || PCTResultView"><a class="lnkIcon"
                                            [ngClass]="{'noPointer': !CAN_EDIT_COST_TEST}">
                                            <icon-mct-pct-angular ngDefaultControl [dataValue]="pt.COST_TEST_RESULT"
                                                [(ngModel)]="pt.COST_TEST_RESULT" [canEdit]='CAN_EDIT_COST_TEST'
                                                [iconClass]="medIcon"></icon-mct-pct-angular>
                                        </a></td>
                                    <td style="width: 30px;"></td>
                                    <td>
                                        <div [textContent]="pt.TITLE" class="bold linkable"
                                            title="Click to open the{{ptTitle}} in the{{contractType}} Editor"></div>
                                    </td>
                                    <td style="width: 120px; text-align: center;">
                                        <div class="bolder org">
                                            <div [textContent]="swapUnderscore(pt.OBJ_SET_TYPE_CD)"></div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="collapse" id="sumWipGrid_{{pt.DC_ID}}">
                                <div style="margin-left: 0">
                                    <div class="opUiContainer md dashboard">
                                        <div id='detailGrid_{{pt.DC_ID}}'
                                            class='opUiContainer md dashboard sumGridOptionsExpand'>
                                            <kendo-grid [data]="gridDataSet[pt.DC_ID]" [resizable]="true"
                                                [sortable]="true" [sort]="state.sort" [skip]="state.skip"
                                                [group]="state.group" [navigable]="true" [loading]="isLoading"
                                                [groupable]="false" [reorderable]="true"
                                                (cellClick)="cellClickHandler($event)"
                                                (cellClose)="cellCloseHandler($event)"
                                                [selectable]="{ enabled: true, checkboxOnly: true}" filterable="menu"
                                                (dataStateChange)="dataStateChange($event)" style="height:auto"
                                                [filter]="state.filter" kendoGridSelectBy=""
                                                [(selectedKeys)]="mySelection"
                                                (selectedKeysChange)="onSelectedKeysChange()">
                                                <kendo-grid-checkbox-column field="TOOLS"
                                                    [headerClass]="{'headerClass':true}" [width]="150">
                                                    <ng-template kendoGridHeaderTemplate><input type="checkbox"
                                                            kendoCheckBox id="selectAllCheckboxId"
                                                            (selectAllChange)="onSelectAllChange($event)"
                                                            kendoGridSelectAllCheckbox [state]="selectAllState" /><label
                                                            class="k-checkbox-label"
                                                            for="selectAllCheckboxId"></label><span
                                                            style="overflow:visible;white-space:normal">Tools</span>
                                                    </ng-template>
                                                </kendo-grid-checkbox-column>
                                                <kendo-grid-column title="PCT Result" field="PRC_CST_TST_STS"
                                                    [headerClass]="{'headerClass':true}" [width]="120">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        <div>
                                                            <icon-mct-pct-angular [dataValue]='dataItem.PRC_CST_TST_STS'
                                                                [iconClass]="medIcon"></icon-mct-pct-angular>
                                                        </div>
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Deal Id" field="DEAL_ID"
                                                    [headerClass]="{'headerClass':true}" [width]="100">
                                                </kendo-grid-column>
                                                <kendo-grid-column title="My Deals Product"
                                                    [headerClass]="{'headerClass':true}" [width]="170">
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Processor #"
                                                    [headerClass]="{'headerClass':true}" [width]="170">
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Deal Description" field="DEAL_DESC"
                                                    [headerClass]="{'headerClass':true}" [width]="140">
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Group Deals" field="GRP_DEALS"
                                                    [headerClass]="{'headerClass':true}" [width]="140">
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Deal Start/End" field="DEAL_STRT_DT"
                                                    [headerClass]="{'headerClass':true}" [width]="180">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        {{dataItem.DEAL_STRT_DT | date:
                                                        'M/d/yyyy'}}-{{dataItem?.DEAL_END_DT | date: 'M/d/yyyy'}}
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Max RPU" [headerClass]="{'headerClass':true}"
                                                    [width]="100" [hidden]="!hasPermissionPrice"></kendo-grid-column>
                                                <kendo-grid-column title="OEM Platform Launch Date" [width]="180"
                                                    field="OEM_PLTFRM_LNCH_DT" [headerClass]="{'headerClass':true}"
                                                    [hidden]="true">
                                                    <ng-template kendoGridCellTemplate let-dataItem><span
                                                            *ngIf="dataItem.OEM_PLTFRM_LNCH_DT!='1/1/1900'">{{dataItem.OEM_PLTFRM_LNCH_DT|
                                                            date: 'M/d/yyyy'}}</span></ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="OEM Platform EOL Date" [width]="180"
                                                    field="OEM_PLTFRM_EOL_DT" [headerClass]="{'headerClass':true}"
                                                    [hidden]="true">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        {{dataItem.OEM_PLTFRM_EOL_DT | date: 'M/d/yyyy'}} </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Deal Stage" field="WF_STG_CD"
                                                    [headerClass]="{'headerClass':true}" [width]="80" [hidden]="true">
                                                </kendo-grid-column>
                                                <kendo-grid-column title="CAP" [headerClass]="{'headerClass':true}"
                                                    [width]="100" [hidden]="!hasPermissionPrice"></kendo-grid-column>
                                                <kendo-grid-column title="ECAP Price"
                                                    [headerClass]="{'headerClass':true}" [width]="120">
                                                </kendo-grid-column>
                                                <kendo-grid-column title="ECAP Floor"
                                                    [headerClass]="{'headerClass':true}" [width]="120"
                                                    [hidden]="!hasPermissionPrice"></kendo-grid-column>
                                                <kendo-grid-column title="Lowest Net Price"
                                                    [headerClass]="{'headerClass':true}" [width]="140">
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Cost" [headerClass]="{'headerClass':true}"
                                                    [width]="100" [hidden]="!hasPermissionPrice"></kendo-grid-column>
                                                <kendo-grid-column title="Cost Type"
                                                    [headerClass]="{'headerClass':true}" [width]="120"
                                                    [hidden]="!hasPermissionPrice"></kendo-grid-column>
                                                <kendo-grid-column title="Cost Test Analysis Override"
                                                    [headerClass]="{'headerClass':true}" [width]="150"
                                                    [hidden]="hasNoPermissionOvr"></kendo-grid-column>
                                                <kendo-grid-column title="Cost Test Analysis Override Comments"
                                                    [headerClass]="{'headerClass':true}" [width]="150"
                                                    [hidden]="hasNoPermissionOvr"></kendo-grid-column>
                                                <kendo-grid-column title="Retail Cycle"
                                                    [headerClass]="{'headerClass':true}" [width]="140"
                                                    [hidden]="hasNoPermission"></kendo-grid-column>
                                                <kendo-grid-column title="Retail Pull $"
                                                    [headerClass]="{'headerClass':true}" [width]="100"
                                                    [hidden]="!hasSpecialPricePermission"></kendo-grid-column>
                                                <kendo-grid-column title="Market Segment" field="MKT_SEG"
                                                    [headerClass]="{'headerClass':true}" [width]="140">
                                                </kendo-grid-column>
                                                <kendo-grid-column title="GEO" field="GEO"
                                                    [headerClass]="{'headerClass':true}" [width]="140">
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Payout Based On" field="PYOUT_BASE_ON"
                                                    [headerClass]="{'headerClass':true}" [width]="140">
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Consumption Reason" field="CNSMPTN_RSN"
                                                    [headerClass]="{'headerClass':true}" [width]="160">
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Program Payment" field="PROG_PMT"
                                                    [headerClass]="{'headerClass':true}" [width]="150">
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Deal Group Comments" field="DEAL_GRP_CMNT"
                                                    [headerClass]="{'headerClass':true}" [width]="160">
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Time / Date Last Cost Ran"
                                                    [headerClass]="{'headerClass':true}" [width]="180">
                                                </kendo-grid-column>
                                                <div *kendoGridDetailTemplate="let dataItem">
                                                    <pct-child-grid [parent]="parentGridData[pt.DC_ID]"
                                                        [child]="dataItem"></pct-child-grid>
                                                </div>
                                            </kendo-grid>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>