.new-view .dealTools {
    margin-left: -5px !important
}

.new-view .sumGridOptionsExpand {
    height: auto !important
}

.new-view .k-dialog .k-content {
    margin-top: 0 !important
}

.new-view .k-grid th, .new-view .k-grid td {
    font-size: 12px !important
}

.new-view #contractContainerWrapper {
    height: 614px !important;
    overflow: auto
}

.new-view {
    height: 75vh;
    overflow: auto !important;
    padding: 100px 0 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

    .new-view .opUiContainer.k-grid .k-grid-filter .k-icon.k-i-filter {
        color: #00AEEF;
        opacity: 1
    }

        .new-view .opUiContainer.k-grid .k-grid-filter .k-icon.k-i-filter:hover {
            color: #0071C5 !important
        }

    .new-view .md-icon {
        padding: 4px 2px 0 5px
    }

        .new-view .md-icon i {
            color: #00AEEF
        }

        .new-view .md-icon a, .new-view .md-icon a:hover {
            text-decoration: none
        }

        .new-view .md-icon i:hover {
            color: #003C71 !important
        }

    .new-view .md-icon-disabled {
        padding: 4px 2px 0 5px
    }

        .new-view .md-icon-disabled i {
            color: #00AEEF
        }

    .new-view .divStg {
        width: 60px;
        height: 100%;
        text-align: center;
        padding-top: 5px;
        margin-right: 5px
    }

    .new-view .opUiContainer.md.k-grid td:first-child {
        padding-left: 0
    }

    .new-view .opUiContainer.md.k-grid tr {
        height: 35px
    }

    .new-view .opUiContainer.k-grid .k-grid-header th.k-header a {
        color: #000000;
        font-weight: 400
    }

    .new-view .opUiContainer.k-grid .k-grid-header th.k-header {
        color: #000000;
        font-weight: 400;
        background: #fdfdfd;
        background: -moz-linear-gradient(top,#fdfdfd 0%,#d9d9d9 100%);
        background: -webkit-linear-gradient(top,#fdfdfd 0%,#d9d9d9 100%);
        background: linear-gradient(to bottom,#fdfdfd 0%,#d9d9d9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd',endColorstr='#d9d9d9',GradientType=0)
    }

    .new-view .opUiContainer.k-grid .k-pager-wrap, .new-view .opUiContainer.k-grid .k-pager-numbers .k-state-selected {
        background-color: #ffffff
    }

    .new-view .opUiContainer.k-grid .k-alt {
        background-color: #ffffff
    }

    .new-view .k-dialog .k-dialog-title, .new-view .k-dialog .k-window-title {
        display: none !important
    }

    .new-view .k-dialog .k-content {
        margin-top: -30px
    }

    .new-view .btn-skyblue {
        background-color: #00AEEF;
        border: 1px solid #00AEEF !important;
        color: #ffffff;
        border-radius: 4px !important;
        font-size: 15px;
        text-transform: capitalize
    }

        .new-view .btn-skyblue:hover {
            background-color: #0071C5;
            border: 1px solid #0071C5;
            color: #ffffff
        }

        .new-view .btn-skyblue i {
            font-size: 20px;
            margin-right: 6px
        }

    .new-view .btn-skyblue-sm {
        background-color: #00AEEF;
        border: 1px solid #00AEEF;
        color: #ffffff;
        border-radius: 4px;
        padding: 2px !important
    }

        .new-view .btn-skyblue-sm:hover {
            background-color: #0071C5 !important
        }

        .new-view .btn-skyblue-sm i {
            font-size: 20px;
            margin: 0;
            padding: 0
        }

    .new-view .btn-grey {
        background-color: #e4e4e4;
        border: 1px solid #e4e9ea;
        color: #70706e;
        border-radius: 4px
    }

        .new-view .btn-grey:hover {
            background-color: #00AEEF;
            border: 1px solid #00AEEF;
            color: #ffffff
        }

        .new-view .btn-grey i {
            font-size: 20px;
            margin-right: 6px
        }

    .new-view .btn-negative {
        background-color: #FC4C02;
        border: 1px solid #FC4C02;
        color: #ffffff;
        border-radius: 4px
    }

        .new-view .btn-negative:hover {
            background-color: #FFA300;
            border: 1px solid #FFA300;
            color: #ffffff
        }

        .new-view .btn-negative i {
            font-size: 20px;
            margin-right: 6px
        }

    .new-view .chevron {
        color: #00AEEF;
        font-size: 25px
    }

    .new-view table td {
        border: 0 solid #ccc
    }

/*    .new-view .tbl-header {
        margin-top: 10px
    }*/

    .new-view .k-tabstrip-wrapper {
        border-bottom: 0 solid #eeeeee
    }

    .new-view .dropdown-menu label {
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0
    }

    .new-view .linkable {
        cursor: pointer
    }

        .new-view .linkable:hover {
            color: #003C71
        }

    .new-view input[type=radio].with-font, .new-view input[type=checkbox].with-font {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px
    }

        .new-view input[type=radio].with-font + label:before, .new-view input[type=checkbox].with-font + label:before {
            font-family: FontAwesome;
            display: inline-block;
            content: "\f096";
            font-size: 20px;
            letter-spacing: 10px;
            color: #00AEEF;
            margin-left: 10px
        }

        .new-view input[type=radio].with-font:hover + label:before, .new-view input[type=checkbox].with-font:hover + label:before {
            color: #003C71;
            cursor: pointer
        }

        .new-view input[type=radio].with-font.disabled + label:before, .new-view input[type=checkbox].with-font.disabled + label:before {
            color: #cccccc;
            cursor: default
        }

        .new-view input[type=radio].with-font:checked + label:before, .new-view input[type=checkbox].with-font:checked + label:before {
            content: "\f046";
            font-size: 20px;
            letter-spacing: 5px;
            color: #C4D600;
            margin-left: 10px
        }

        .new-view input[type=radio].with-font:focus + label:before, .new-view input[type=checkbox].with-font:focus + label:before {
            font-weight: bold;
            color: #C4D600
        }

    .new-view .bigIcon {
        font-size: 26px
    }

    .new-view .medIcon {
        font-size: 18px
    }

    .new-view .toolbar .btn-default.disabled {
        background-color: transparent !important;
        color: #dddddd !important
    }

    .new-view a.lnkIcon {
        text-decoration: none
    }

    .new-view .noPointer {
        cursor: default
    }

    .new-view .org {
        color: #00AEEF !important
    }

    .new-view .bigIcon {
        font-size: 26px
    }

    .new-view .medIcon {
        font-size: 18px
    }

    .new-view .k-grid-content-locked .k-grouping-row td {
        border-bottom: 1px solid #e5e5e5;
        border-top: 0 solid transparent;
        border-left: 0 solid transparent;
        border-right: 0 solid transparent
    }

    .new-view #pctTab {
        margin-top: 20px
    }

        .new-view #pctTab .k-tabstrip-items .k-item {
            background: #fdfdfd;
            background: -moz-linear-gradient(top,#fdfdfd 0%,#d9d9d9 100%);
            background: -webkit-linear-gradient(top,#fdfdfd 0%,#d9d9d9 100%);
            background: linear-gradient(to bottom,#fdfdfd 0%,#d9d9d9 100%);
            color: #003C71 !important;
            padding: 0 !important;
            text-transform: none !important;
            background-color: #fff;
            border-bottom-width: 0
        }

        .new-view #pctTab .k-tabstrip-items .k-state-active {
            background: -moz-linear-gradient(top,#fdfdfd 0%,#fff 100%);
            background: -webkit-linear-gradient(top,#fdfdfd 0%,#fff 100%);
            background: linear-gradient(to bottom,#fdfdfd 0%,#fff 100%);
            border-color: #b1babf;
            border-width: 1px;
            border-left-width: 1px;
            border-top-width: 1px;
            border-right-width: 1px;
            border-bottom-width: 0;
            border-radius: 4px 4px 0 0
        }

        .new-view #pctTab .k-tabstrip-items .k-item .k-link:hover {
            background: linear-gradient(rgb(217,217,217) 0%,rgb(253,253,253) 100%) !important;
            color: #00AEEF !important
        }

    .new-view input:focus-visible {
        outline: none !important
    }

    .new-view .intelicon-protection-solid {
        font-size: 20px
    }

    .new-view .intelicon-protection-outlined {
        font-size: 20px
    }

    .new-view .pt-0 {
        padding-top: 0 !important
    }

    .new-view .pp-style {
        padding: 0 10px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f9f9f9 !important
    }

.new-view {
    padding-top: 0 !important;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    width: 100%
}

    .new-view .either-pin kendo-grid kendo-grid-list .k-icon {
        padding-top: 8px !important;
        font-size: 18px !important
    }

        .new-view .either-pin kendo-grid kendo-grid-list .k-icon.k-i-plus:before {
            content: "\e005" !important
        }

.either-pin kendo-grid kendo-grid-list .k-icon.k-i-minus:before {
    content: "\e001" !important
}

.boxSave {
    background-color: #C4D600 !important;
    font-size: 10px !important;
    border-radius: 4px !important;
    padding: 0 3px !important;
    color: #ffffff !important;
    vertical-align: top !important;
    float: right !important;
    margin: 6px 4px !important
}

.showReason {
    opacity: 1 !important;
    transition: visible 0s,opacity 1s linear !important
}

.hideReason {
    opacity: 0 !important;
    transition: hidden 0s,opacity 1s linear !important
}

.switch {
    position: relative;
    display: block;
    width: 60px;
    height: 30px;
    background: linear-gradient(to bottom,#eeeeee,#FFFFFF 25px);
    background-image: -webkit-linear-gradient(top,#eeeeee,#FFFFFF 25px);
    border-radius: 0;
    box-shadow: inset 0 -1px white,inset 0 1px 1px rgba(0,0,0,.05);
    cursor: pointer;
    box-sizing: content-box
}

.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-sizing: content-box
}

.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #eceeef;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.12),inset 0 0 2px rgba(0,0,0,.15);
    box-sizing: content-box
}

    .switch-label:before, .switch-label:after {
        position: absolute;
        top: 50%;
        margin-top: -.5em;
        line-height: 1;
        -webkit-transition: inherit;
        -moz-transition: inherit;
        -o-transition: inherit;
        transition: inherit;
        box-sizing: content-box
    }

    .switch-label:before {
        content: attr(data-off);
        right: 11px;
        color: #aaaaaa;
        text-shadow: 0 1px rgba(255,255,255,.5)
    }

    .switch-label:after {
        content: attr(data-on);
        left: 11px;
        color: #FFFFFF;
        text-shadow: 0 1px rgba(0,0,0,.2);
        opacity: 0
    }

.switch-input:checked ~ .switch-label {
    background: #00aeef;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.15),inset 0 0 3px rgba(0,0,0,.2)
}

    .switch-input:checked ~ .switch-label:before {
        opacity: 0
    }

    .switch-input:checked ~ .switch-label:after {
        opacity: 1
    }

.switch-handle {
    position: absolute;
    top: 1px;
    left: 4px;
    width: 17px;
    height: 28px;
    background: linear-gradient(to bottom,#FFFFFF 40%,#f0f0f0);
    background-image: -webkit-linear-gradient(top,#FFFFFF 40%,#f0f0f0);
    border-radius: 0;
    box-shadow: 1px 1px 5px rgba(0,0,0,.2)
}

    .switch-handle:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -6px 0 0 -6px;
        width: 12px;
        height: 12px;
        background: linear-gradient(to bottom,#eeeeee,#FFFFFF);
        background-image: -webkit-linear-gradient(top,#eeeeee,#FFFFFF);
        border-radius: 6px;
        box-shadow: inset 0 1px rgba(0,0,0,.02)
    }

.switch-input:checked ~ .switch-handle {
    left: 40px;
    box-shadow: -1px 1px 5px rgba(0,0,0,.2)
}

.switch-label, .switch-handle {
    transition: All .3s ease;
    -webkit-transition: All .3s ease;
    -moz-transition: All .3s ease;
    -o-transition: All .3s ease
}

kendo-tabstrip.art-kendo-bars {
    margin-top: 34px !important
}

.cell-warning {
    background-color: #f9e9a5
}

.cell-error {
    background-color: #f4949d;
    color: #ffffff !important
}

kendo-grid#managerPCTGrid table tr td {
    padding-top: 2px;
    padding-bottom: 2px;
}

kendo-grid#pctChild table tr td {
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

kendo-grid#managerPCTGrid table tr td deal-tools-angular .dealTools .tools-parent .grid-status.fl.gridStatusMarker {
    margin-bottom: 2px;
}

kendo-grid#pctChild table tr td:has(.cell-information) {
    padding: 0 !important;
}

kendo-grid#pctChild table tr td .cell-information {
    margin: 0;
    height: 40px;
}

.cell-information {
    background-color: #e5e5e5;
    width: 100%;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    margin: -8px
}

/*#managerPCTGrid {
    overflow-y: scroll !important
}*/

.cell-error {
    background-color: #f4949d;
    color: #ffffff !important;
    width: 100%;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    margin: -8px
}

.k-style-box:hover {
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%),0 2px 3px rgb(0 0 0 / 5%)
}

.btn-rounded-sty:hover {
    color: #ffffff !important
}

.btn_color_fix.btn-primary {
    background-color: #00AEEF !important
}

    .btn_color_fix.btn-primary:hover {
        background-color: #3c8dbc !important
    }

.cancel_color_fix.btn-warning {
    background-color: rgb(243,156,18) !important
}

    .cancel_color_fix.btn-warning:hover {
        background-color: rgb(224,142,11) !important
    }

.modalBlueBody {
    background-color: #003C71 !important;
    color: #ffffff !important
}

.btn-full {
    margin: 5px 0 !important;
    width: 100% !important
}

.post-dialog-container .mat-dialog-container {
    background-color: none;
    box-shadow: none;
    padding: 0 !important;
    overflow: hidden !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 1900px !important
}

    .post-dialog-container .mat-dialog-container exclude-deal-group-modal-dialog .modal-content {
        padding: 25px;
    }
.loading-design-custom.k-i-loading {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 10px;
    background-color: white;
    color: black;
}

.submenu_datafix {
    color: #FFA300 !important;
}

kendo-grid#managerPCTGrid table tr th {
    vertical-align: bottom;
}

kendo-grid#managerPCTGrid table tr th span.k-column-title {
    color: #000;
    font-weight: 400;
    font-size: 12px;
}

kendo-grid#managerPCTGrid table tr th kendo-grid-filter-menu .k-grid-filter .k-i-filter {
    font-size: 14px;
}

kendo-grid#managerPCTGrid table tr th label b {
    color: #000;
}
    kendo-grid#managerPCTGrid table tr th kendo-grid-filter-menu .k-grid-filter .k-i-filter:hover {
        color: #0071c5 !important;
    }

kendo-tabstrip.manage-pct-tabstrip .k-tabstrip-items-wrapper ul li {
    border-left: 0 !important;
    border-right: 0 !important;
}

kendo-tabstrip.new-allDeals .k-tabstrip-items-wrapper ul li.k-state-active {
    border: 1px solid transparent !important;
    border-bottom: 0 !important;
    border-color: #b1babf !important;
}
.hyperunderline:hover {
    text-decoration: underline;
    color: #0071c5;
    cursor:pointer;
}

/* summary Gris for PCT screen */
    .new-view #sum-header {
        height: 100px;
        font-size: 14px;
        font-family: "Intel Clear";
        font-weight: 200;
        font-style: normal;
        padding: 0;
        margin-left: 0;
        margin-right: 0
    }

.new-view #sum-container {
    height: 100%;
    overflow: auto;
    min-width: 800px;
    line-height: 0.5 !important;
    margin-top: -10px;
}

    .new-view #sum-container .k-textbox.k-space-left {
        padding-left: 2.1em
    }

.new-view .sum-main-body {
    margin: 5px 10px 0px 0px;
    padding: 0 10px 0 5px;
}

    .new-view .sum-main-container {
        height: 100%;
        overflow: auto
    }

.new-view .sum-filter-bar {
    border: 0 solid #e4e4e4; /***/
    /*padding: 38px 2px;*/ /***/
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    background-color: #eeeeee;
    height: 50px;
    font-size: 14px;
    font-family: "Intel Clear";
    background: linear-gradient(to bottom, #fdfdfd 0%,#d9d9d9 100%);
}

    .new-view .sum-main-body .tbl-header {
        margin-top: 6px
    }

    .new-view #sum-header hr {
        height: 1px;
        margin: 6px 0;
        border-top: 1px solid #555
    }

    .new-view .sum-main-body .bold {
        color: #00AEEF;
        font-weight: bold;
        font-size: 14px;
        line-height: 1em
    }

    .new-view .sum-main-body .bolder {
        color: #00AEEF;
        font-weight: bold;
        font-size: 16px;
        line-height: 1em
    }

    .new-view .sum-main-body label {
        margin-bottom: 0
    }

    .new-view .sum-main-body .stage {
        text-align: center
    }

        .new-view .sum-main-body .stage div {
            margin: 0 10px;
            padding: 4px 4px
        }

    .new-view .sumGridOptionsExpand > .k-grid-content-locked {
        height: auto !important
    }

.new-view#sum-wrapper {
    height: calc(100vh - 195px)!important;
}