<kendo-tabstrip #tabstrip (tabSelect)="onTabSelect($event)" id="pctTab" style="margin-left: 10px" class="new-allDeals art-kendo-bars">
    <kendo-tabstrip-tab title="All" *ngIf="tab === 'pctDiv'" [selected]="selectedTab==0"></kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="Failures" *ngIf="tab === 'pctDiv'"  [selected]="selectedTab==1"></kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="Passes" *ngIf="tab === 'pctDiv'"  [selected]="selectedTab==2"></kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="InCompletes"*ngIf="tab === 'pctDiv'"  [selected]="selectedTab==3"></kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="NA" *ngIf="tab === 'pctDiv'"  [selected]="selectedTab==4"></kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="Grouping Exclusions" [selected]="selectedTab==5">
    </kendo-tabstrip-tab>
</kendo-tabstrip>
<div id="sum-wrapper" class="new-view" *ngIf="!isExcludeGroup">
    <div id="sum-header" class="another-sh-class" style="min-width: 800px;">
        <div class="sum-filter-bar pp-style help-search-backgrd">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 30px; height: 40px;" (click)="toggleSum()"
                        title="{{ isAllCollapsed ? 'Collapse All' : 'Expand All'}}"
                        [ngClass]="{'rotate-90': !isAllCollapsed}">
                        <i class="chevron linkable intelicon-fast-forward"
                           data-toggle="collapse" data-target=".multi-collapse"></i>
                    </td>
                    <td style="width: 110px; height: 40px;"></td>
                    <td style="width:40px">
                        <div class="fr helpBtn" title="Help" (click)="showHelpTopicCostTest()">
                            <i class="intelicon-help"
                               style="font-size:30px !important"></i>
                        </div>
                    </td>
                    <td>
                        <span class="k-textbox k-space-right k-style-box" style="width: 350px !important; margin-top: -4px; margin-left: 12px;">
                            <i class="intelicon-search"
                               style="font-size: 26px; color: #00AEEF; margin-top: 3px;"></i><input style="width: 345px;border:none;" placeholder="Search for Pricing Strategy, Pricing Table or name"
                                                                                                    (keyup)="updateTitleFilter()" [(ngModel)]="titleFilter" />
                        </span>
                    </td>
                    <td style="text-align: right;"></td>
                </tr>
            </table>
        </div>
        <div style="padding: 0 10px;">
            <table style="width: 100%;" class="tbl-header">
                <tr>
                    <td style="width: 30px;">
                        <button class="btn btn-sm btn-skyblue-sm fl btn-rounded-sty"
                                (click)="executePctViaBtn()"
                                title="Execute Price Cost Test and Meet Comp Test"
                                style="padding-left:100px">
                            <i class="fa fa-refresh fa-fw iconRunPct" [ngClass]="isRunning ? 'fa-spin grn' : '' " aria-hidden="true" style="font-size: 20px"></i>
                        </button>
                    </td>
                    <td style="width: 120px; text-align: center;">
                        Price Cost Test <div class="btnLastRun"
                                             style="font-size: 9px; color: #00AEEF; line-height: 1.1em;" title="{{lastMetCompRunLocalTime}}">{{lastMeetCompRunCalc('Price Cost Test')}}</div>
                    </td>
                    <td style="line-height: 1.1em; padding-left: 10px">Pricing Strategy / Pricing Table</td>
                    <td style="width: 120px; text-align: center; line-height: 1em;">Stage/Deal type</td>
                </tr>
            </table>
            <hr />
        </div>
    </div>
    <div id="sum-container" style="min-width: 800px;margin-top:10px;line-height: 0.5 !important;">
        <div class="sum-main-body" style="margin-left:0px; padding-left: 5px !important">
            <div class="sum-main-container">
                <div *ngFor="let ps of pricingStrategyFilter;let psIndex=index"
                     class="sumPsContainer">
                    <table style="width: 100%">
                        <tr>
                            <td style="width: 30px; height: 30px;" id="PRC_ST_{{ps.DC_ID}}"
                                (click)="isPSExpanded[psIndex]=!isPSExpanded[psIndex]">
                                <i class="chevron linkable collapseALL" data-toggle="collapse"
                                   [attr.data-target]="'#PSData_'+ psIndex"
                                   [ngClass]="{'intelicon-down': isPSExpanded[psIndex], 'intelicon-right-next': !isPSExpanded[psIndex]}"></i>
                            </td>
                            <td class="bigIcon" style="width: 140px; text-align: center;"
                                *ngIf="ps?._settings?.CAN_VIEW_COST_TEST || PCTResultView">
                                <icon-mct-pct-angular ngDefaultControl [(ngModel)]="ps.COST_TEST_RESULT"
                                                      [dataValue]="ps.COST_TEST_RESULT" [canEdit]="CAN_EDIT_COST_TEST"
                                                      [iconClass]="bigIcon"></icon-mct-pct-angular>
                            </td>
                            <td>
                                <div [textContent]="ps.TITLE" class="bolder linkable"
                                     title="Click to open the Pricing Strategy in the Contract Editor" (click)="openPTEeditor(ps)"></div>
                            </td>
                            <td style="width: 120px; text-align: center;">
                                <div class="bolder org">
                                    <div [textContent]="swapUnderscore(ps.WF_STG_CD)"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div *ngFor="let pt of ps.PRC_TBL;let i=index">
                        <div class="collapse multi-collapse" id="PSData_{{psIndex}}">
                            <table style="width: 100%; ">
                                <tr id="detail_{{pt.DC_ID}}">
                                    <td style="width: 30px; height: 30px; text-align: right;" *ngIf="canEdit">
                                        <i class="chevron linkable" style="font-size: 20px; padding-left: 6px;"
                                           data-toggle="collapse" [attr.data-target]="'#sumWipGrid_'+ pt.DC_ID"
                                           (click)="isPTExpanded[pt.DC_ID]=!isPTExpanded[pt.DC_ID]; togglePt(pt)"
                                           [ngClass]="{'intelicon-down': isPTExpanded[pt.DC_ID], 'intelicon-right-next': !isPTExpanded[pt.DC_ID]}"></i>
                                    </td>
                                    <td style="width: 30px; height: 30px;"
                                        (click)="isPtCollapsed=!isPtCollapsed; togglePt( pt)" [hidden]="canEdit">
                                        <button class="chevron linkable" type="button" data-toggle="collapse"
                                                [attr.data-target]="'#sumWipGrid_'+'{{pt.DC_ID}}'"
                                                (click)="togglePt( pt)"></button>
                                    </td>
                                    <td class="medIcon" style="width: 140px; color: #000000; text-align: center;"
                                        *ngIf="ps?._settings?.CAN_VIEW_COST_TEST || PCTResultView">
                                        <a class="lnkIcon"
                                           [ngClass]="{'noPointer': !CAN_EDIT_COST_TEST}">
                                            <icon-mct-pct-angular ngDefaultControl [dataValue]="pt.COST_TEST_RESULT"
                                                                  [(ngModel)]="pt.COST_TEST_RESULT" [canEdit]='CAN_EDIT_COST_TEST'
                                                                  [iconClass]="medIcon"></icon-mct-pct-angular>
                                        </a>
                                    </td>
                                    <td style="width: 30px;"></td>
                                    <td>
                                        <div [textContent]="pt.TITLE" class="bold linkable"
                                             title="Click to open the Pricing Table in the Contract Editor" (click)="openPTE(ps.DC_PARENT_ID, ps.DC_ID, pt.DC_ID)"></div>
                                    </td>
                                    <td style="width: 120px; text-align: center;">
                                        <div class="bolder org">
                                            <div [textContent]="swapUnderscore(pt.OBJ_SET_TYPE_CD)"></div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="collapse" id="sumWipGrid_{{pt.DC_ID}}" [hidden]="refreshPage">
                                <div style="margin-left: 0">
                                    <div class="opUiContainer md dashboard">
                                        <div id='detailGrid_{{pt.DC_ID}}'
                                             class='opUiContainer md dashboard sumGridOptionsExpand oppo-grids new-now-wrap physics-css either-pin'>
                                            <kendo-grid [data]="gridDataSet[pt.DC_ID]" [resizable]="true" class="manage-tables" id="managerPCTGrid"
                                                        [sortable]="true" [sort]="state[pt.DC_ID].sort" [skip]="state[pt.DC_ID].skip"
                                                        [group]="state[pt.DC_ID].group" [navigable]="true" [loading]="isLoading"
                                                        [groupable]="false" [reorderable]="true"
                                                        (cellClick)="cellClickHandler($event)"
                                                        (cellClose)="cellCloseHandler($event)"
                                                        [selectable]="{ enabled: true, checkboxOnly: true}" filterable="menu"
                                                        (dataStateChange)="dataStateChange($event,pt.DC_ID)" style="height:auto"
                                                        [filter]="state[pt.DC_ID].filter" kendoGridSelectBy=""
                                                        [(selectedKeys)]="mySelection"
                                                        (selectedKeysChange)="onSelectedKeysChange()">
                                                <kendo-grid-column field="TOOLS" [sortable]="false"
                                                                   [headerClass]="{'headerClass':true}" [width]="150" [filterable]="false" *ngIf="!isHidden(pt.DC_ID, 'TOOLS')">
                                                    <ng-template kendoGridHeaderTemplate let-dataItem="dataItem">
                                                        <input type='checkbox' (click)="selectAllIDs($event,pt.DC_ID)" class='grid-link-checkbox with-font' id='chkDealTools_{{pt.DC_ID}}' [(ngModel)]="is_Deal_Tools_Checked[pt.DC_ID]"/>&nbsp;
                                                        <label for='chkDealTools_{{pt.DC_ID}}'><b>Tools</b></label>
                                                    </ng-template>
                                                    <ng-template let-dataItem="dataItem" kendoGridCellTemplate>
                                                        <deal-tools-angular [dataItem]='dataItem' [isSplitEnabled]='false' [isFileAttachmentEnabled]='false'
                                                                            [isHistoryEnabled]='true' [isCommentEnabled]='false' [isEditable]='true'
                                                                            [isQuoteLetterEnabled]='false' [isDeleteEnabled]='false' [gridData]="gridDataSet[pt.DC_ID].data" [contractData]="contractData"
                                                                            (refreshContract)="refreshContractData($event)"></deal-tools-angular>
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="PCT Result" field="PRC_CST_TST_STS" [filterable]="true"
                                                                   [headerClass]="{'headerClass':true}" [width]="120" *ngIf="!isHidden(pt.DC_ID, 'PRC_CST_TST_STS')">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(pt.DC_ID,column.field)"></multicheck-filter>
                                                    </ng-template>
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        <div>
                                                            <icon-mct-pct-angular [dataValue]='dataItem.PRC_CST_TST_STS'
                                                                                  [iconClass]="medIcon"></icon-mct-pct-angular>
                                                        </div>
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Deal Id" field="DEAL_ID" [filterable]="true"
                                                                   [headerClass]="{'headerClass':true}" [width]="100" *ngIf="!isHidden(pt.DC_ID, 'DEAL_ID')">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(pt.DC_ID, column.field)"></multicheck-filter>
                                                    </ng-template>
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        <div class='dealLnk' style="display:flex">
                                                            <deal-popup-icon [dealId]="dataItem.DEAL_ID"></deal-popup-icon>
                                                            <span style="margin-top:5px;">{{dataItem.DEAL_ID}}</span>
                                                        </div>
                                                    </ng-template>

                                                </kendo-grid-column>
                                                <kendo-grid-column title="My Deals Product" [filterable]="true" field="PRODUCT"
                                                                   [headerClass]="{'headerClass':true}" [width]="170" *ngIf="!isHidden(pt.DC_ID, 'PRODUCT')">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(pt.DC_ID, column.field)"></multicheck-filter>
                                                    </ng-template>
                                                    <ng-template kendoGridCellTemplate let-dataItem hidden="hidden">
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Processor #" [filterable]="true" field="PCSR_NBR"
                                                                   [headerClass]="{'headerClass':true}" [width]="170" *ngIf="!isHidden(pt.DC_ID, 'PCSR_NBR')">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(pt.DC_ID, column.field)"></multicheck-filter>
                                                    </ng-template>
                                                    <ng-template kendoGridCellTemplate let-dataItem hidden="hidden">
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Deal Description" field="DEAL_DESC" [filterable]="true"
                                                                   [headerClass]="{'headerClass':true}" [width]="140" *ngIf="!isHidden(pt.DC_ID, 'DEAL_DESC')">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(pt.DC_ID, column.field)"></multicheck-filter>
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Group Deals" field="GRP_DEALS" [filterable]="true"
                                                                   [headerClass]="{'headerClass':true}" [width]="140" *ngIf="!isHidden(pt.DC_ID, 'GRP_DEALS')">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(pt.DC_ID, column.field)"></multicheck-filter>
                                                    </ng-template>
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        <span style="color: rgb(0, 113, 197); cursor: pointer; text-align: center;" *ngIf="dataItem?.PRC_CST_TST_STS !== 'NA'">View</span>
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Deal Start/End" field="DEAL_STRT_DT" [filterable]="true"
                                                                   [headerClass]="{'headerClass':true}" [width]="180" *ngIf="!isHidden(pt.DC_ID, 'DEAL_STRT_DT')">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(pt.DC_ID, column.field)"></multicheck-filter>
                                                    </ng-template>
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        {{
dataItem.DEAL_STRT_DT | date:
                                                        'M/d/yyyy'
                                                        }}-{{dataItem?.DEAL_END_DT | date: 'M/d/yyyy'}}
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Max RPU" [headerClass]="{'headerClass':true}" [filterable]="true" field="MAX_RPU"
                                                                   [width]="100" [hidden]="!hasPermissionPrice" *ngIf="!isHidden(pt.DC_ID, 'MAX_RPU')">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(pt.DC_ID, column.field)"></multicheck-filter>
                                                    </ng-template>
                                                    <ng-template kendoGridCellTemplate let-dataItem hidden="hidden">
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="OEM Platform Launch Date" [width]="180" [filterable]="true"
                                                                   field="OEM_PLTFRM_LNCH_DT" [headerClass]="{'headerClass':true}" *ngIf="!isHidden(pt.DC_ID, 'OEM_PLTFRM_LNCH_DT')">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(pt.DC_ID, column.field)"></multicheck-filter>
                                                    </ng-template>
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        <span *ngIf="dataItem.OEM_PLTFRM_LNCH_DT!='1/1/1900'">
                                                            {{dataItem.OEM_PLTFRM_LNCH_DT| date: 'M/d/yyyy'}}
                                                        </span>
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="OEM Platform EOL Date" [width]="180" [filterable]="true"
                                                                   field="OEM_PLTFRM_EOL_DT" [headerClass]="{'headerClass':true}" *ngIf="!isHidden(pt.DC_ID, 'OEM_PLTFRM_EOL_DT')">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(pt.DC_ID, column.field)"></multicheck-filter>
                                                    </ng-template>
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        <span *ngIf="dataItem.OEM_PLTFRM_EOL_DT!='1/1/1900'">
                                                            {{dataItem.OEM_PLTFRM_EOL_DT | date: 'M/d/yyyy'}}
                                                        </span>
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Deal Stage" field="WF_STG_CD" [filterable]="true"
                                                                   [headerClass]="{'headerClass':true}" [width]="80" [hidden]="true">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(pt.DC_ID, column.field)"></multicheck-filter>
                                                    </ng-template>
                                                    <ng-template kendoGridCellTemplate let-dataItem hidden="hidden">
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="CAP" [headerClass]="{'headerClass':true}" [filterable]="true" field="CAP"
                                                                   [width]="100" [hidden]="(pt.OBJ_SET_TYPE_CD== 'KIT' && !hasPermissionPrice) || (pt.OBJ_SET_TYPE_CD== 'ECAP' && !hasSpecialPricePermission)" *ngIf="!isHidden(pt.DC_ID, 'CAP')">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(pt.DC_ID, column.field)"></multicheck-filter>
                                                    </ng-template>
                                                    <ng-template kendoGridCellTemplate let-dataItem hidden="hidden">
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="ECAP Price" [filterable]="true" field="ECAP_PRC"
                                                                   [headerClass]="{'headerClass':true}" [width]="120" *ngIf="!isHidden(pt.DC_ID, 'ECAP_PRC')">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(pt.DC_ID, column.field)"></multicheck-filter>
                                                    </ng-template>
                                                    <ng-template kendoGridCellTemplate let-dataItem hidden="hidden">
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="ECAP Floor" [filterable]="true" field="ECAP_FLR"
                                                                   [headerClass]="{'headerClass':true}" [width]="120"
                                                                   [hidden]="!hasPermissionPrice" *ngIf="!isHidden(pt.DC_ID, 'ECAP_FLR')">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(pt.DC_ID, column.field)"></multicheck-filter>
                                                    </ng-template>
                                                    <ng-template kendoGridCellTemplate let-dataItem hidden="hidden">
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Lowest Net Price" [filterable]="true" field="LOW_NET_PRC"
                                                                   [headerClass]="{'headerClass':true}" [width]="140" *ngIf="!isHidden(pt.DC_ID, 'LOW_NET_PRC')">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(pt.DC_ID, column.field)"></multicheck-filter>
                                                    </ng-template>
                                                    <ng-template kendoGridCellTemplate let-dataItem hidden="hidden">
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Cost" [headerClass]="{'headerClass':true}" [filterable]="true" field="PRD_COST"
                                                                   [width]="100" [hidden]="!hasPermissionPrice" *ngIf="!isHidden(pt.DC_ID, 'PRD_COST')">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(pt.DC_ID, column.field)"></multicheck-filter>
                                                    </ng-template>
                                                    <ng-template kendoGridCellTemplate let-dataItem hidden="hidden">
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Cost Type" [filterable]="true" field="CST_TYPE"
                                                                   [headerClass]="{'headerClass':true}" [width]="120"
                                                                   [hidden]="!hasPermissionPrice" *ngIf="!isHidden(pt.DC_ID, 'CST_TYPE')">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(pt.DC_ID, column.field)"></multicheck-filter>
                                                    </ng-template>
                                                    <ng-template kendoGridCellTemplate let-dataItem hidden="hidden">
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Cost Test Analysis Override" [filterable]="true" field="COST_TEST_OVRRD_FLG"
                                                                   [headerClass]="{'headerClass':true}" [width]="150"
                                                                   [hidden]="hasNoPermissionOvr" *ngIf="!isHidden(pt.DC_ID, 'COST_TEST_OVRRD_FLG')">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(pt.DC_ID, column.field)"></multicheck-filter>
                                                    </ng-template>
                                                    <ng-template kendoGridCellTemplate let-dataItem hidden="hidden">
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Cost Test Analysis Override Comments" [filterable]="true" field="COST_TEST_OVRRD_CMT"
                                                                   [headerClass]="{'headerClass':true}" [width]="150"
                                                                   [hidden]="hasNoPermissionOvr" *ngIf="!isHidden(pt.DC_ID, 'COST_TEST_OVRRD_CMT')">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(pt.DC_ID, column.field)"></multicheck-filter>
                                                    </ng-template>
                                                    <ng-template kendoGridCellTemplate let-dataItem hidden="hidden">
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Retail Cycle" [filterable]="true" field="RTL_CYC_NM"
                                                                   [headerClass]="{'headerClass':true}" [width]="140"
                                                                   [hidden]="hasNoPermission" *ngIf="!isHidden(pt.DC_ID, 'RTL_CYC_NM')">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(pt.DC_ID, column.field)"></multicheck-filter>
                                                    </ng-template>
                                                    <ng-template kendoGridCellTemplate let-dataItem hidden="hidden">
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Retail Pull $" [filterable]="true" field="RTL_PULL_DLR"
                                                                   [headerClass]="{'headerClass':true}" [width]="100"
                                                                   [hidden]="!hasSpecialPricePermission" *ngIf="!isHidden(pt.DC_ID, 'RTL_PULL_DLR')">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(pt.DC_ID, column.field)"></multicheck-filter>
                                                    </ng-template>
                                                    <ng-template kendoGridCellTemplate let-dataItem hidden="hidden">
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Market Segment" field="MKT_SEG" [filterable]="true"
                                                                   [headerClass]="{'headerClass':true}" [width]="140" *ngIf="!isHidden(pt.DC_ID, 'MKT_SEG')">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(pt.DC_ID, column.field)"></multicheck-filter>
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="GEO" field="GEO" [filterable]="true"
                                                                   [headerClass]="{'headerClass':true}" [width]="140" *ngIf="!isHidden(pt.DC_ID, 'GEO')">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(pt.DC_ID, column.field)"></multicheck-filter>
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Payout Based On" field="PYOUT_BASE_ON" [filterable]="true"
                                                                   [headerClass]="{'headerClass':true}" [width]="140" *ngIf="!isHidden(pt.DC_ID, 'PYOUT_BASE_ON')">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(pt.DC_ID, column.field)"></multicheck-filter>
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Consumption Reason" field="CNSMPTN_RSN" [filterable]="true"
                                                                   [headerClass]="{'headerClass':true}" [width]="160" *ngIf="!isHidden(pt.DC_ID, 'CNSMPTN_RSN')">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(pt.DC_ID, column.field)"></multicheck-filter>
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Program Payment" field="PROG_PMT" [filterable]="true"
                                                                   [headerClass]="{'headerClass':true}" [width]="150" *ngIf="!isHidden(pt.DC_ID, 'PROG_PMT')">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(pt.DC_ID, column.field)"></multicheck-filter>
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Deal Group Comments" field="DEAL_GRP_CMNT" [filterable]="true"
                                                                   [headerClass]="{'headerClass':true}" [width]="160" *ngIf="!isHidden(pt.DC_ID, 'DEAL_GRP_CMNT')">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(pt.DC_ID, column.field)"></multicheck-filter>
                                                    </ng-template>
                                                    <ng-template kendoGridCellTemplate let-dataItem hidden="hidden">
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column title="Time / Date Last Cost Ran" [filterable]="true" field="LAST_COST_TEST_RUN"
                                                                   [headerClass]="{'headerClass':true}" [width]="180" *ngIf="!isHidden(pt.DC_ID, 'LAST_COST_TEST_RUN')">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(pt.DC_ID, column.field)"></multicheck-filter>
                                                    </ng-template>
                                                    <ng-template kendoGridCellTemplate let-dataItem hidden="hidden">
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <div class="margin-reduces" *kendoGridDetailTemplate="let dataItem">
                                                    <pct-child-grid [parent]="parentGridData[pt.DC_ID]" [contractData]="contractData" [dealType]="pt.OBJ_SET_TYPE_CD"
                                                                    [child]="dataItem" [CostTestGroupDetails]="CostTestGroupDetails[pt.DC_ID]" (refreshParent)="refreshContractData($event)"></pct-child-grid>
                                                </div>
                                            </kendo-grid>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <kendo-dialog class="cm-pop-up" *ngIf="showMultipleDialog">
        <div class="modal-header modalBlueBody">
            <h5 class="modal-title" id="modal-title">Multiple Pricing Tables</h5>
        </div>
        <div class="modal-body modalBlueBody" id="modal-body">

            <div>This Pricing Strategy contains multiple Pricing Tables.Please select which Pricing</div>
            <p style=" margin-right: 319px;"> Table you would like to view:</p>


            <div style="margin: 20px 0; max-height: 190px; overflow: auto; padding: 5px;">
                <div *ngFor="let pte of pteTableData">
                    <button class="btn btn-primary btn-full btn_color_fix" type="button" (click)="pickPt(pte)">{{pte.DC_ID}} - {{pte.TITLE}}</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="fr">
                        <button class="btn btn-warning cancel_color_fix" type="button" style="margin-right: 8px;" (click)="closeMultiple()">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
        <!-- <kendo-dialog-actions><button kendoButton (click)="close('no')">OK</button></kendo-dialog-actions> -->
    </kendo-dialog>
    <loading-panel-angular [show]="isPctLoading" [header]="spinnerMessageHeader" [description]="spinnerMessageDescription">
    </loading-panel-angular>
</div>