.dealTools {
    margin-left: -5px !important
}

.sumGridOptionsExpand {
    height: auto !important
}

.k-dialog .k-content {
    margin-top: 0 !important
}

.k-grid th,
.k-grid td {
    font-size: 12px !important;
}

#contractContainerWrapper {
    height: 614px !important;
    overflow: auto;
}

#sum-wrapper {
    height: 75vh;
    overflow: auto !important;
    padding: 100px 0 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#sum-header {
    height: 100px;
    margin-top: -100px !important;
    font-size: 14px;
    font-family: "Intel Clear";
    font-weight: 200;
    font-style: normal;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-left: 0;
    margin-right: 0;
}

#sum-container {
    height: 100%;
    overflow: auto;
}

.opUiContainer.k-grid .k-grid-filter .k-icon.k-i-filter {
    color: #00AEEF;
    opacity: 1;
}

.opUiContainer.k-grid .k-grid-filter .k-icon.k-i-filter:hover {
    color: #0071C5 !important;
}

.md-icon {
    padding: 4px 2px 0 5px
}

.md-icon i {
    color: #00AEEF
}

.md-icon a,
.md-icon a:hover {
    text-decoration: none
}

.md-icon i:hover {
    color: #003C71 !important
}

.md-icon-disabled {
    padding: 4px 2px 0 5px
}

.md-icon-disabled i {
    color: #00AEEF
}

.divStg {
    width: 60px;
    height: 100%;
    text-align: center;
    padding-top: 5px;
    margin-right: 5px
}

.opUiContainer.md.k-grid td:first-child {
    padding-left: 0
}

.opUiContainer.md.k-grid tr {
    height: 35px
}

.opUiContainer.k-grid .k-grid-header th.k-header a {
    color: #000000;
    font-weight: 400
}

.opUiContainer.k-grid .k-grid-header th.k-header {
    color: #000000;
    font-weight: 400;
    background: #fdfdfd;
    background: -moz-linear-gradient(top, #fdfdfd 0%, #d9d9d9 100%);
    background: -webkit-linear-gradient(top, #fdfdfd 0%, #d9d9d9 100%);
    background: linear-gradient(to bottom, #fdfdfd 0%, #d9d9d9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#d9d9d9', GradientType=0)
}

.opUiContainer.k-grid .k-pager-wrap,
.opUiContainer.k-grid .k-pager-numbers .k-state-selected {
    background-color: #ffffff
}

.opUiContainer.k-grid .k-alt {
    background-color: #ffffff
}

.k-dialog .k-dialog-title,
.k-dialog .k-window-title {
    display: none !important;
}

.k-dialog .k-content {
    margin-top: -30px;
}

#sum-container .k-textbox.k-space-left {
    padding-left: 2.1em;
}

.btn-skyblue {
    background-color: #00AEEF;
    border: 1px solid #00AEEF !important;
    color: #ffffff;
    border-radius: 4px !important;
    font-size: 15px;
    text-transform: capitalize;
}

.btn-skyblue:hover {
    background-color: #0071C5;
    border: 1px solid #0071C5;
    color: #ffffff
}

.btn-skyblue i {
    font-size: 20px;
    margin-right: 6px;
}

.btn-skyblue-sm {
    background-color: #00AEEF;
    border: 1px solid #00AEEF;
    color: #ffffff;
    border-radius: 4px;
    padding: 2px !important
}

.btn-skyblue-sm:hover {
    background-color: #0071C5 !important;
}

.btn-skyblue-sm i {
    font-size: 20px;
    margin: 0;
    padding: 0
}

.btn-grey {
    background-color: #e4e4e4;
    border: 1px solid #e4e9ea;
    color: #70706e;
    border-radius: 4px
}

.btn-grey:hover {
    background-color: #00AEEF;
    border: 1px solid #00AEEF;
    color: #ffffff
}

.btn-grey i {
    font-size: 20px;
    margin-right: 6px
}

.btn-negative {
    background-color: #FC4C02;
    border: 1px solid #FC4C02;
    color: #ffffff;
    border-radius: 4px
}

.btn-negative:hover {
    background-color: #FFA300;
    border: 1px solid #FFA300;
    color: #ffffff
}

.btn-negative i {
    font-size: 20px;
    margin-right: 6px
}

.chevron {
    color: #00AEEF;
    font-size: 25px
}

table td {
    border: 0 solid #ccc
}

.tbl-header {
    margin-top: 10px
}

.k-tabstrip-wrapper {
    border-bottom: 0 solid #eeeeee
}

.sum-main-body {
    margin: 5px 10px;
    padding: 0 10px
}

.sum-main-container {
    height: 100%;
    overflow: auto
}

.dropdown-menu label {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0
}

.sum-filter-bar {
    border: 0 solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    background-color: #eeeeee;
    height: 50px;
    padding: 5px 2px;
    font-size: 14px;
    font-family: "Intel Clear";
    background: #fdfdfd;
    background: -moz-linear-gradient(top, #fdfdfd 0%, #d9d9d9 100%);
    background: -webkit-linear-gradient(top, #fdfdfd 0%, #d9d9d9 100%);
    background: linear-gradient(to bottom, #fdfdfd 0%, #d9d9d9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#d9d9d9', GradientType=0)
}

.sum-main-body .tbl-header {
    margin-top: 6px
}

#sum-header hr {
    height: 1px;
    margin: 6px 0;
    border-top: 1px solid #555
}

.sum-main-body .bold {
    color: #00AEEF;
    font-weight: bold;
    font-size: 14px;
    line-height: 1em
}

.sum-main-body .bolder {
    color: #00AEEF;
    font-weight: bold;
    font-size: 16px;
    line-height: 1em
}

.linkable {
    cursor: pointer
}

.linkable:hover {
    color: #003C71
}

.sum-main-body label {
    margin-bottom: 0
}

.sum-main-body .stage {
    text-align: center
}

.sum-main-body .stage div {
    margin: 0 10px;
    padding: 4px 4px
}

input[type=radio].with-font,
input[type=checkbox].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

input[type=radio].with-font + label:before,
input[type=checkbox].with-font + label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f096";
    font-size: 20px;
    letter-spacing: 10px;
    color: #00AEEF;
    margin-left: 10px
}

input[type=radio].with-font:hover + label:before,
input[type=checkbox].with-font:hover + label:before {
    color: #003C71;
    cursor: pointer
}

input[type=radio].with-font.disabled + label:before,
input[type=checkbox].with-font.disabled + label:before {
    color: #cccccc;
    cursor: default
}

input[type=radio].with-font:checked + label:before,
input[type=checkbox].with-font:checked + label:before {
    content: "\f046";
    font-size: 20px;
    letter-spacing: 5px;
    color: #C4D600;
    margin-left: 10px
}

input[type=radio].with-font:focus + label:before,
input[type=checkbox].with-font:focus + label:before {
    font-weight: bold;
    color: #C4D600
}

.bigIcon {
    font-size: 26px
}

.medIcon {
    font-size: 18px
}

.toolbar .btn-default.disabled {
    background-color: transparent !important;
    color: #dddddd !important
}

a.lnkIcon {
    text-decoration: none
}

.noPointer {
    cursor: default
}

.org {
    color: #FFA300 !important
}

.bigIcon {
    font-size: 26px
}

.medIcon {
    font-size: 18px
}

.sumGridOptionsExpand > .k-grid-content-locked {
    height: auto !important
}

.k-grid-content-locked .k-grouping-row td {
    border-bottom: 1px solid #e5e5e5;
    border-top: 0 solid transparent;
    border-left: 0 solid transparent;
    border-right: 0 solid transparent
}
#pctTab {
    margin-top: 20px;
}
#pctTab .k-tabstrip-items .k-item {
    background: #fdfdfd;
    background: -moz-linear-gradient(top, #fdfdfd 0%, #d9d9d9 100%);
    background: -webkit-linear-gradient(top, #fdfdfd 0%, #d9d9d9 100%);
    background: linear-gradient(to bottom, #fdfdfd 0%, #d9d9d9 100%);
    color: #003C71 !important;
    padding: 0 !important;
    text-transform: none !important;
    background-color: #fff;
    border-bottom-width: 0
}

#pctTab .k-tabstrip-items .k-state-active {
    background: -moz-linear-gradient(top, #fdfdfd 0%, #fff 100%);
    background: -webkit-linear-gradient(top, #fdfdfd 0%, #fff 100%);
    background: linear-gradient(to bottom, #fdfdfd 0%, #fff 100%);
    border-color: #b1babf;
    border-width: 1px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0;
    border-radius: 4px 4px 0 0
}

#pctTab .k-tabstrip-items .k-item .k-link:hover {
    background: linear-gradient(rgb(217, 217, 217) 0%, rgb(253, 253, 253) 100%) !important;
    color: #00AEEF !important;
}

input:focus-visible {
    outline: none !important;
}
.intelicon-protection-solid {
    font-size: 20px;
}
.intelicon-protection-outlined {
    font-size: 20px;
}

.pt-0 {
    padding-top: 0!important;
}

.pp-style {
    padding: 0 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9!important;
}

.new-view {
    padding-top: 0 !important;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    width: 100%;
}

.either-pin kendo-grid kendo-grid-list .k-icon {
    padding-top: 8px !important;
    font-size: 18px !important;
}

.either-pin kendo-grid kendo-grid-list .k-icon.k-i-plus:before {
    content: "\e005" !important;
}

.either-pin kendo-grid kendo-grid-list .k-icon.k-i-minus:before {
    content: "\e001" !important;
}
  .boxSave {
    background-color: #C4D600 !important;
    font-size: 10px !important;
    border-radius: 4px !important;
    padding: 0 3px !important;
    color: #ffffff !important;
    vertical-align: top !important;
    float: right !important;
    margin: 6px 4px !important;
}
.showReason {
    opacity: 1 !important;
    transition: visible 0s, opacity 1s linear !important;
}
.hideReason {
    opacity: 0 !important;
    transition: hidden 0s, opacity 1s linear !important;
}
.switch {
	position: relative;
	display: block;
	width: 60px;
	height: 30px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 0px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	box-sizing:content-box;
}
.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	box-sizing:content-box;
}
.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
	box-sizing:content-box;
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
	box-sizing:content-box;
}
.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #aaaaaa;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}
.switch-input:checked ~ .switch-label {
	background: #00aeef;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.switch-handle {
	position: absolute;
	top: 1px;
	left: 4px;
	width: 17px;
	height: 28px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 0%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
	left: 40px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}
kendo-tabstrip.art-kendo-bars {
    margin-top: 34px !important;
}