<link href="/Client/src/app/contract/managerPct/managerPct.component.css" rel="stylesheet" />
<kendo-grid [data]="gridData" [loading]="isLoading" [skip]="skip" scrollable="none" class="reduce-child-table" id="pctChild"
    [navigable]="true" kendoGridFocusable style="height:auto;" (cellClick)="cellClickHandler($event)" [hideHeader]="true">
    <kendo-grid-column title="Tools" field="TOOLS" [headerClass]="{'headerClass':true}" [width]="155" [filterable]="false" *ngIf="!isHidden('TOOLS')">
        <ng-template let-dataItem="dataItem" kendoGridCellTemplate>
            <deal-tools-angular [dataItem]='dataItem' [isSplitEnabled]='false' [isFileAttachmentEnabled]='false'
                                [isHistoryEnabled]='true' [isCommentEnabled]='false' [isEditable]='true'
                                [isQuoteLetterEnabled]='false' [isDeleteEnabled]='false' [gridData]="gridData.data" [contractData]="contractData"
                                (refreshContract)="refreshContractData($event)"></deal-tools-angular>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="PCT Result" field="PRC_CST_TST_STS" [headerClass]="{'headerClass':true}" [width]="120" *ngIf="!isHidden('PRC_CST_TST_STS')">
        <ng-template *ngIf="CAN_VIEW_COST_TEST" kendoGridCellTemplate let-dataItem>
            <icon-mct-pct-angular [dataValue]='dataItem.PRC_CST_TST_STS' [overrideValue]="dataItem.COST_TEST_OVRRD_FLG" [overrideFlgCmt]="dataItem.COST_TEST_OVRRD_CMT" [iconClass]="medIcon" [title]="getTitle(dataItem)">
            </icon-mct-pct-angular>
        </ng-template>
    </kendo-grid-column>    
    <kendo-grid-column title="Deal Id" field="DEAL_ID" [headerClass]="{'headerClass':true}" [width]="100" *ngIf="!isHidden('DEAL_ID')">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class='dealLnk' style="display:flex">
                <deal-popup-icon [dealId]="dataItem.DEAL_ID" style="margin-bottom: 8px;margin-left: -7px;"></deal-popup-icon>
                <a style="margin-top: 5px;" (click)="goToNavManagePCTChild(dataItem)" title="Click to go to Deal Editor"><span class="hyperunderline">{{dataItem.DEAL_ID}}</span></a>
            </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="My Deals Product" field="PRODUCT" [headerClass]="{'headerClass':true}" [width]="170" *ngIf="!isHidden('PRODUCT')">
    </kendo-grid-column>
    <kendo-grid-column title="Processor #" field="PCSR_NBR" [headerClass]="{'headerClass':true}" [width]="170" *ngIf="!isHidden('PCSR_NBR')">
    </kendo-grid-column>
    <kendo-grid-column title="Deal Description" field="DEAL_DESC" [headerClass]="{'headerClass':true}" [width]="140" *ngIf="!isHidden('DEAL_DESC')">
    </kendo-grid-column>
    <kendo-grid-column title="Group Deals" field="GRP_DEALS" [headerClass]="{'headerClass':true}" [width]="140" *ngIf="!isHidden('GRP_DEALS')">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span style="color: rgb(0, 113, 197); cursor: pointer; text-align: center;"  *ngIf="dataItem?.PRC_CST_TST_STS !== 'NA'">View</span>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Deal Start/End" field="DEAL_STRT_DT" [headerClass]="{'headerClass':true}" [width]="180" *ngIf="!isHidden('DEAL_STRT_DT')">
        <ng-template kendoGridCellTemplate let-dataItem>{{dataItem.DEAL_STRT_DT | date:
            'M/d/yyyy'}}-{{dataItem?.DEAL_END_DT | date: 'M/d/yyyy'}} </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Max RPU" field="MAX_RPU" [headerClass]="{'headerClass':true}" [width]="100"
                       [hidden]="!hasPermissionPrice" *ngIf="!isHidden('MAX_RPU')">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span>{{dataItem.MAX_RPU | currency}}</span>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="OEM Platform Launch Date" [width]="180" field="OEM_PLTFRM_LNCH_DT"
                       [headerClass]="{'headerClass':true}" *ngIf="!isHidden('OEM_PLTFRM_LNCH_DT')">
        <ng-template kendoGridCellTemplate let-dataItem><span
                                                              *ngIf="dataItem.OEM_PLTFRM_LNCH_DT!='1/1/1900'">{{dataItem.OEM_PLTFRM_LNCH_DT| date: 'M/d/yyyy'}}</span>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="OEM Platform EOL Date" [width]="180" field="OEM_PLTFRM_EOL_DT"
                       [headerClass]="{'headerClass':true}" *ngIf="!isHidden('OEM_PLTFRM_EOL_DT')">
        <ng-template kendoGridCellTemplate let-dataItem>{{dataItem.OEM_PLTFRM_EOL_DT | date: 'M/d/yyyy'}} </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Deal Stage" field="WF_STG_CD" [headerClass]="{'headerClass':true}" [width]="80"
                       [hidden]="true"></kendo-grid-column>
    <kendo-grid-column title="CAP" field="CAP" [headerClass]="{'headerClass':true}" [width]="100"
        [hidden]="(dealType == 'KIT' && !hasPermissionPrice) || (dealType == 'ECAP' && !hasSpecialPricePermission)" *ngIf="!isHidden('CAP')">
        <ng-template kendoGridCellTemplate let-dataItem>
             <span class="cell-common" [ngClass]="{'cell-warning': isErrorOrWarning(dataItem, 'CAP'),'cell-information':isInformation(dataItem,'CAP')}">
                 {{dataItem.CAP | currency}}
             </span>
         </ng-template></kendo-grid-column>
    <kendo-grid-column title="ECAP Price" field="ECAP_PRC" [headerClass]="{'headerClass':true}" [width]="120" *ngIf="!isHidden('ECAP_PRC')">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span class="cell-common" [ngClass]="{'cell-warning': isErrorOrWarning(dataItem, 'ECAP_PRC'),'cell-information':isInformation(dataItem,'ECAP_PRC')}">
                {{dataItem.ECAP_PRC | currency}}
            </span>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="ECAP Floor" field="ECAP_FLR" [headerClass]="{'headerClass':true}" [width]="120"
        [hidden]="!hasPermissionPrice" *ngIf="!isHidden('ECAP_FLR')">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span>
                {{dataItem.ECAP_FLR | currency}}
            </span>
        </ng-template></kendo-grid-column>
    <kendo-grid-column title="Lowest Net Price" field="LOW_NET_PRC" format="{0:c}" [headerClass]="{'headerClass':true}" [width]="140" *ngIf="!isHidden('LOW_NET_PRC')">
        <ng-template kendoGridCellTemplate let-dataItem>
           <div title="{{ dataItem?.LNP_FRMULA ? dataItem.LNP_FRMULA : ''}}" class="cell-common" [ngClass]="{'cell-error': isErrorOrWarning(dataItem, 'LOW_NET_PRC'),'cell-information':isInformation(dataItem,'LOW_NET_PRC')}">
            <span>
                {{dataItem.LOW_NET_PRC | currency}}
            </span>
           </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Cost" field="PRD_COST" [headerClass]="{'headerClass':true}" [width]="100"
        [hidden]="!hasPermissionPrice" *ngIf="!isHidden('PRD_COST')">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span class="cell-common" [ngClass]="{'cell-warning': isErrorOrWarning(dataItem, 'PRD_COST'),'cell-information':isInformation(dataItem,'PRD_COST')}">
                {{dataItem.PRD_COST | currency}}
            </span>
        </ng-template></kendo-grid-column>
    <kendo-grid-column title="Cost Type" field="CST_TYPE" [headerClass]="{'headerClass':true}" [width]="120"
                       [hidden]="!hasPermissionPrice" *ngIf="!isHidden('CST_TYPE')"></kendo-grid-column>
    <kendo-grid-column title="Cost Test Analysis Override" field="COST_TEST_OVRRD_FLG"
                       [headerClass]="{'headerClass':true}" [width]="150" [hidden]="hasNoPermissionOvr" *ngIf="!isHidden('COST_TEST_OVRRD_FLG')">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <div style="text-align: center;">
              <span *ngIf="dataItem.PRC_CST_TST_STS === 'Pass' ||  dataItem.PRC_CST_TST_STS === 'NA'|| dataItem._readonly === true || hasNoPermission === true" (change)="onOff(dataItem.COST_TEST_OVRRD_FLG)" style="vertical-align: -webkit-baseline-middle;">{{dataItem.COST_TEST_OVRRD_FLG}}</span>
              <span *ngIf="dataItem.PRC_CST_TST_STS !=='Pass' && dataItem.PRC_CST_TST_STS !== 'NA' && hasNoPermission !== true && dataItem._readonly !== true">
                <label class="switch">
                    <input class="switch-input" type="checkbox" (change)="changeReasonFlg(dataItem)" [(ngModel)]="dataItem.COST_TEST_OVRRD_FLG" />
                    <span class="switch-label" data-on="Yes" data-off="No"></span> 
                    <span class="switch-handle"></span> 
                </label>
            </span>
            <div class="boxSave" [ngClass]="{'showReason': dataItem.saved, 'hideReason': !dataItem.saved}">SAVED</div>
            </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Cost Test Analysis Override Comments" field="COST_TEST_OVRRD_CMT"
                       [headerClass]="{'headerClass':true}" [width]="150" [hidden]="hasNoPermissionOvr" *ngIf="!isHidden('COST_TEST_OVRRD_CMT')">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <button class="btn btn-sm btn-skyblue" *ngIf="dataItem.COST_TEST_OVRRD_FLG === 'Yes' || dataItem.COST_TEST_OVRRD_FLG === true" (click)="openReason(dataItem)" type="button" style="width: 120px;" title="Save and Validate"><span style="color:#FC4C02;">*</span> {{dataItem.COST_TEST_OVRRD_CMT === "" ? "Select" : "View Overrides"}}</button>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Retail Cycle" field="RTL_CYC_NM" [headerClass]="{'headerClass':true}" [width]="140"
                       [hidden]="hasNoPermission" *ngIf="!isHidden('RTL_CYC_NM')">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <span class="cell-common" *ngIf="dataItem.RTL_CYC_NM == undefined || dataItem.RTL_CYC_NM === ''" [ngClass]="{'cell-warning': isErrorOrWarning(dataItem, 'RTL_CYC_NM'),'cell-information':isInformation(dataItem,'RTL_CYC_NM')}"></span>
            <span *ngIf="dataItem.RTL_CYC_NM !== undefined && dataItem.RTL_CYC_NM !== ''" [innerHTML]="dataItem.RTL_CYC_NM"></span>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Retail Pull $" field="RTL_PULL_DLR" [headerClass]="{'headerClass':true}" [width]="100"
                       [hidden]="!hasSpecialPricePermission" *ngIf="!isHidden('RTL_PULL_DLR')">
                       <ng-template kendoGridCellTemplate let-dataItem>
                         <span>
                             {{dataItem.RTL_PULL_DLR | currency}}
                         </span>
                     </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Market Segment" field="MKT_SEG" [headerClass]="{'headerClass':true}" [width]="140" *ngIf="!isHidden('MKT_SEG')">
    </kendo-grid-column>
    <kendo-grid-column title="GEO" field="GEO" [headerClass]="{'headerClass':true}" [width]="140" *ngIf="!isHidden('GEO')"></kendo-grid-column>
    <kendo-grid-column title="Payout Based On" field="PYOUT_BASE_ON" [headerClass]="{'headerClass':true}" [width]="140" *ngIf="!isHidden('PYOUT_BASE_ON')">
    </kendo-grid-column>
    <kendo-grid-column title="Consumption Reason" field="CNSMPTN_RSN" [headerClass]="{'headerClass':true}"
                       [width]="160" *ngIf="!isHidden('CNSMPTN_RSN')"></kendo-grid-column>
    <kendo-grid-column title="Program Payment" field="PROG_PMT" [headerClass]="{'headerClass':true}" [width]="150" *ngIf="!isHidden('PROG_PMT')">
    </kendo-grid-column>
    <kendo-grid-column title="Deal Group Comments" field="DEAL_GRP_CMNT" [headerClass]="{'headerClass':true}"
                       [width]="160" *ngIf="!isHidden('DEAL_GRP_CMNT')"></kendo-grid-column>
    <kendo-grid-column title="Time / Date Last Cost Ran" field="LAST_COST_TEST_RUN" [headerClass]="{'headerClass':true}"
                       [width]="180" *ngIf="!isHidden('LAST_COST_TEST_RUN')"></kendo-grid-column>
</kendo-grid>