@font-face {
   font-family: 'SMB';
   src: local('Super Mario Bros.'),
        url('fonts/Super Mario Bros.ttf') format('truetype');
   font-style: normal;
}

#game, #edit, #playGame {
	height: 480px; width: 640px; position: absolute; left: 50%; top: 50%;
	margin-left: -321px; margin-top: -241px; border: 1px solid #ccc; overflow: hidden;
}
#playGame {
	text-align: center;
	padding-top: 180px;
	font-family: 'SMB';
	font-size: 30px;
	src: local('Super Mario Bros.'), url('fonts/Super Mario Bros.ttf') format('truetype');
	font-style: normal;
}
#playGame a {
	text-decoration: none;
	color: black;
}
#playGame a:hover {
	color: red;
}

#tool {
	width: 640px; position: absolute; left: 50%; top: 50%; margin-left: -321px;
	margin-top: 282px; height: 128px; background: #ddd; border: 1px solid #ccc;
}
#world { 
	margin: 0; padding: 0; height: 100%; width: 100%; position: absolute;
	bottom: 0; left: 0; z-index: 0;
}
#edit_world, #tool_world { 
	margin: 0; padding: 0; position: relative; top: 0; left: 0; height: 100%; width: 100%;
}
.gauge {
	margin: 0; padding: 0; height: 50px; width: 70px; text-align: right; font-size: 2em;
	font-weight: bold; position: absolute; top: 17px; right: 52px; z-index: 1000;
	position: absolute; font-family: 'SMB';
    color: #ffffff;
}
.gaugeSprite {
	margin: 0; padding: 0; z-index: 1000; position: absolute;
}
#heartNumber {
	left: 0;
}
#liveNumber {
	right: 52px;
}
#heart {
	height: 32px; width: 32px; background-image : url(mario-objects.png);
	background-position: 0 0; top: 15px; left: 70px;
}
#live {
	height: 40px; width: 40px; background-image : url(mario-sprites.png);
	background-position : 0 -48px; top: 12px; right: 8px;
}
.figure, .tool {
	margin: 0; padding: 0; z-index: 99; position: absolute;
}
.matter {
	margin: 0; padding: 0; z-index: 95; position: absolute; width: 32px; height: 32px;
}
.gameover {
    margin: 0; height: 480px; width: 640px; background-color: rgba(0,218,255,0.7);
	position: absolute; top: 0;	z-index: 1001; text-align: center; color: #ffcd2c;
	font-family: 'SMB'; font-size: 44px; font-weight: bold; line-height: 480px;
}
.grid {
	margin: 0; padding: 0; z-index: 150; position: absolute; top: 0; left: 0;
}
.block {
	z-index: 100;
}
.speech-bubble {
    position: absolute; padding: 20px; margin: 1em 0 3em; color: #000; background: #fdfdfd; text-align: center;
    border-radius: 100px; width: 160px; height: 25px; z-index: 100; font-size: 1.3em; border: 1px solid #ccc;
}
.speech-bubble:after {
    content: ""; display: block; position: absolute; bottom: -14px; left: 92px; width: 0;
    border-width: 15px 15px 0; border-style: solid; border-color: #fdfdfd transparent;
}