<loading-panel show="isBusy" header="isBusyMsgTitle" description="isBusyMsgDetail" msg-type="isBusyType" is-show-fun-fact="isBusyShowFunFact"></loading-panel>
<div ng-include="'/app/core/directives/gridCell/dealToolsHelper.html'"></div>

<script type="text/x-kendo-template" id="toolbar-template">
    <div class="tender-toolbar">
        <span>Date Range:</span>
        <input kendo-date-picker
               ng-model="startDt"
               ng-change="changeDt()"
               k-ng-model="startDtObject"
               style="width: 110px;" />
        <span style="margin: 0 5px;">-</span>
        <input kendo-date-picker
               ng-model="endDt"
               ng-change="changeDt()"
               k-ng-model="endDtObject"
               style="width: 110px;" />
        
        <span class="t-tip" kendo-tooltip k-position="'top'" k-content="'{{helpMsg}}'">
            <span class="k-textbox" style="width: 300px; margin: 0 5px 0 15px;">
                <input type="text" placeholder="enter search criteria" ng-model="searchText" ng-keypress="EnterPressed($event)" />
            </span>
        </span>
        <i class="k-icon intelicon-search tender-search" ng-click="loadData()" style="font-size: 26px !important;" title="Click to begin the Search"></i>

        <div class="fr" style="margin-top: 2px; margin-left: 8px;">
            <button class="k-grid-excel btn btn-sm ssToolbarBtn" title="Export to Excel only the columns you currently see in the grid.">
                <table>
                    <tbody>
                        <tr>
                            <td style="border: 0px solid transparent;">
                                <i class="intelicon-ms-excel-outlined skyBlue" aria-hidden="true" style="font-size: 30px !important"></i>
                            </td>
                            <td style="padding-left: 2px; text-align: left; color: \\#00AEEF; line-height: 1.2em; border: 0px solid transparent;">
                                Export to Excel<br>
                                Current View
                            </td>
                        </tr>
                    </tbody>
                </table>
            </button>
        </div>

        <div class="fr" style="margin-top: 2px; margin-left: 8px;">
            <button class="btn btn-sm ssToolbarBtn" ng-click="clearSortingFiltering()" title="Clear all sorting and filtering.">
                <table>
                    <tbody>
                        <tr>
                            <td style="border: 0px solid transparent;">
                                <i class="intelicon-cancel-filter-outlined skyBlue" aria-hidden="true" style="font-size: 30px !important"></i>
                            </td>
                            <td style="padding-left: 2px; text-align: left; color: \\#00AEEF; line-height: 1.2em; border: 0px solid transparent;">
                                Clear All<br>
                                Sorting/Filtering
                            </td>
                        </tr>
                    </tbody>
                </table>
            </button>
        </div>
        
        <div class="clearboth"></div>
    </div>
</script>

<div id="horizontal-tender">
    <kendo-grid id="gridTender" class="opUiContainer md tender tender-grid" options="gridOptions"></kendo-grid>
</div>



<style>
    .k-list-container.k-popup .k-list-scroller {
        overflow-x: hidden;
    }

    .t-tip {
        text-align: center;
        white-space: nowrap;
        border-width: 1px;
        border-style: solid;
        padding: 1em 0;
        border:0 solid transparent;
    }

    .t-tip .k-tooltip-content {
        width: 350px;
color: yellow;        
    }

    .tenderDealId {
        cursor: pointer;
        color: #00AEEF;
    }
    .tenderDealId:hover {
        color: #003C71;
    }

    #gridTender.k-grid .k-state-active, #gridTender.k-grid .k-state-active:hover, #gridTender.k-grid .k-active-filter {
        background-color: #eeeeee;
    }

    .noaccess {
        background: #fafafa;
        margin: -10px;
        padding: 13px 10px 0 10px;
        height: 33px;
        text-align: center;
        color: #aaaaaa;
    }

     #horizontal-tender {
         border: 0 solid transparent;
         height: 100%;
         font-size: 12px;
         margin-bottom: 8px;
     }

    .k-pager-wrap .k-dropdown {
        width: 6.0em;
    }
    .tender-search { 
        color: #00AEEF !important; 
        border-radius: 4px;
        padding: 4px;
    }
    .tender-search:hover { 
        background-color: #dddddd;
        cursor: pointer;
    }

    .tender-toolbar {
        height: 30px;
        color: #666666;
        padding: 10px;
    }

    .tender-grid.k-grid .k-grid-content .k-icon.k-i-arrow-60-down {
        color: #ffffff;
    }
    .tender-grid.k-grid .k-grid-content .k-dropdown-wrap {
        background-color: #00AEEF;
    }
    .tender-grid.k-grid .k-grid-content .k-dropdown-wrap .k-input {
        color: #ffffff !important;
    }

    .tender-grid .k-grid-toolbar {
        background-color: #ffffff;
    }
    .tender-grid.k-grid .k-hierarchy-cell {
        text-align: center;
    }
    .tender-grid.k-grid thead th {
        white-space: normal;
    }
    .tender-grid.k-grid thead th .k-link {
        font-size: 11px !important;
        font-weight: 200;
        line-height: 1.1em;
        font-family: 'Intel Clear', 'Arial';
    }
    .tender-grid.k-grid td {
        white-space: nowrap;
    }
    .tender-grid.k-grid tr.k-alt {
        background-color: transparent;
    }
    .tender-grid.k-grid tr.k-alt:hover, .tender-grid.k-grid tr:hover {
        background-color: rgba(0,174,239,0.05);
    }

    .opUiContainer.tender .k-grid-header, .opUiContainer.tender .k-grid-header .k-header,
    .opUiContainer.tender .k-pager-wrap, .opUiContainer.tender .k-pager-numbers .k-state-selected,
    .opUiContainer.tender .k-grid-footer, .opUiContainer.tender .k-grid-footer td,
    .opUiContainer.tender .k-scheduler-header, .opUiContainer.tender .km-pane-wrapper .k-grid-header .k-header {
        background-color: #fafafa;
    }

    .dimTenderTitle {
        font-size: 10px;
        color: #aaaaaa;
        padding-right: 5px;
        display: inline-block; 
        width: 60px;
        line-height: 1.3em;
    }

    .dimTenderValue {
        font-size: 10px;
        line-height: 1.3em;
    }


    .dealTag {
        display: none;
    }

    #tabstrip ul li .k-link {
        padding: 8px 30px !important;
    }

    .basicContainer {
        height: 100%;
        background-color: red;
    }

    .tender-grid {
        height: 100%;
    }
    .tender-grid .op-grid-container {
        padding: 0;
    }
    .tender-grid .k-detail-row > .k-detail-cell > div:first-child {
        margin: 0;
    }
    .tender-grid .k-i-collapse, .tender-grid .k-i-expand {
        color: #0071C5;
        font-size: 20px !important;
    }

    .tenderChildGrid {
        /*padding-bottom: 10px;*/
    }

    .tenderChildGrid.k-grid {
        border: 0 solid transparent;
    }
    .tenderChildGrid thead {
        display: none;
    }
    .tenderChildGrid .op-grid-container-wrapper {
        padding: 0 !important;
    }
    

    .btn-skyblue {
        background-color: #00AEEF;
        border: 1px solid #00AEEF;
        color: #ffffff;
        border-radius: 4px;
    }

    .btn-skyblue:hover {
        background-color: #0071C5;
        border: 1px solid #0071C5;
        color: #ffffff;
    }

    .btn-skyblue i {
        font-size: 14px;
        margin-right: 6px;
    }
</style>
