﻿.noAccessPointer {
    cursor: pointer;
    font-size: 25px;
    color: #00aeef
}

::ng-deep #legalGrid tr td {
    white-space: nowrap !important;
    height: 60px !important
}

.leagalgridheader {
    white-space: normal
}

#RulesDetailsBodyDiv {
    height: calc(100vh - 230px) !important;
    overflow-x: scroll;
}

.dealToolsLegalExc {
    width: 20px;
    float: LEFT;
    margin-top: 3px
}

.legaliexgridbuttons {
    background: 0 0;
    border: none;
    font-size: x-large
}

.noaccessex {
    font-size: 25px;
    color: #00aeef
}

.MatToggleSlideLegal.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #04b8fb !important;
    cursor: not-allowed
}

.exceptionDetailsForm, .exceptionsCompareForm {
    overflow: auto;
    width: 98%;
    height: calc(85vh - 150px) !important;
    border-bottom: none;
    margin: 0 15px 30px 15px;
}

.divHeader, .fontcss {
    font-weight: 700;
    font-size: 13px !important
}

.divHeader {
    padding-left: 10px;
    margin-bottom: 0;
    margin-left: 15px
}

.footerLegalException {
    position: fixed;
    bottom: 50px;
    width: 100%;
    height: 60px;
    margin-left: -2px
}

#legalGrid {
    height: calc(100vh - 180px) !important
}

    #legalGrid .k-plus::before, .k-i-plus::before {
        content: "\e005" !important
    }

    #legalGrid .k-minus::before, .k-i-minus::before {
        content: "\e006" !important
    }

.header-css {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 26px;
    margin-left: 7px
}

.floatRightLegal {
    float: right;
    padding-top: 5px;
    cursor: pointer
}

.cancel-btn-ExceptionLegal {
    margin-top: -49px;
    margin-left: 372px
}

.save-btn {
    margin-left: 382px;
    margin-top: -16px
}

.checkbox-align {
    margin-left: 7px !important
}

.dealList {
    margin: 0 0 0 35px !important;
    border-color: #000 !important
}

.applyopacity {
    opacity: .4
}

.edit-savebtn {
    margin-left: 772px;
    margin-top: -45px
}

.edit-cancelbtn {
    margin-top: -45px;
    margin-left: 759px
}

#ruleModalLegalExecptions .modal-footer {
    bottom: -59px;
    width: 100%;
    border: 1px solid #003c71;
    margin-left: 0;
    height: 67px
}

#ruleModalLegalExecptions .modal-body {
    overflow: hidden;
    width: 100%;
    height: 100px !important;
    border-bottom: none
}

#ruleModalLegalExecptions .modalBlueBody {
    background-color: #003c71;
    color: #fff
}

#ruleModalLegalExecptions {
    height: 100%
}

    #ruleModalLegalExecptions .modal-header {
        padding: 25px;
        border-bottom: 1px solid #e5e5e5;
        min-height: 16.5px
    }

.legal-download-custom mat-dialog-container {
    padding: 0 !important
}

.dealbtn-margin {
    margin-left: 306px !important
}

.deal-btn {
    margin-top: -15px;
    margin-left: 660px
}

.custom-dialog-container .mat-dialog-container {
    padding-left: 0 !important;
    padding-top: 0 !important;
    padding-right: 0 !important;
    overflow: unset !important;
}

.delete-btn {
    margin-top: -49px;
    margin-left: 276px
}

.legalheader-align {
    color: #fff;
    background-color: #0071c5;
    border-color: #0071c5;
    box-shadow: none;
    font-size: 17px
}

.k-button.legalheader-align:hover {
    background-color: #008bd1 !important;
    border-color: #008bd1 !important
}

.legalpage-margin {
    margin-top: 4px
}

.show-float-icon {
    font-size: 30px;
    float: right;
    margin: auto;
    margin-right: unset
}

.viewExceptionheader {
    background-color: #0977ca;
    color: white;
    font-size: 27px;
    padding: 5px 8px 0 7px
}

.divHeadermain {
    margin-bottom: 0
}

.paneldivheader {
    background-color: #003C71;
    color: white;
    font-size: 27px;
    padding: 0 20px 0 25px
}

.gridCheckboxAlign {
    margin-left: 20px
}

.dealList {
    height: calc(70vh - 150px) !important;
    margin-bottom: 30px
}

.dealistp {
    padding: 10px 0 0 25px;
    font-weight: 600
}

.dealListbtn {
    margin: 25px 0 0 25px
}

.toggle-align-grid.toggle-button-custom.mat-slide-toggle.mat-disabled {
    opacity: 0.7 !important;
}

.downloader-pop-up .modalBlueBody {
    padding: 5px 15px !important;
}

    .downloader-pop-up .modalBlueBody h3#modalTitle {
        margin-bottom: 0;
    }

    .downloader-pop-up .modalBlueBody #btnClose {
        float: right;
        background: transparent;
        padding: 3px;
        font-size: 22px;
        cursor: pointer;
    }

.downloader-pop-up .modal-footer {
    border: none !important;
    padding: 15px;
    text-align: right;
    border-top: 1px solid #f4f4f4 !important;
}

#legalGrid.k-grid .k-grid-content {
    overflow: overlay !important;
}

.dealList.viewDealListed {
    height: auto !important;
}

.mat-dialog-container:has(.dealList.viewDealListed) {
    padding-bottom: 20px;
}

kendo-grid#legalDetailGrid tr td {
    height: auto !important;
}