<!-- <link href="/Client/node_modules/@progress/kendo-theme-bootstrap/dist/all.css" rel="stylesheet" /> -->
<!-- <link href="/Client/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet" /> -->

<div class="paneldivheader">{{dialogTitle}} <i id="btnClose" class="intelicon-close floatRightLegal" (click)="close()" title="Close this window"></i> </div>
<div>
        <div *ngIf="dealList!=undefined" class="dealList viewDealListed">
            <div class="row">
                <div class="col-md-12">
                    <p class="dealistp">
                        The following deals have been assigned to PCT Exception Number {{ pctException}}:
                    </p>
                    <div>
                        <kendo-textarea [(ngModel)]="dealList" name="dealList" type="textarea" [rows]="15" style="width:95%" [readonly]="true"></kendo-textarea>
                    </div>
                </div>
            </div>
                <div class="row ">
                    <div class="col-md-9">
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary dealListbtn" (click)="close()" style="margin-left:0;">Cancel/Close</button>
                    </div>
                </div>
            </div>
    
        <div class="row" *ngIf="type!='dealList'">
                <div id="navigation">
                    <p style="padding-left: 50px; font-weight:600;">
                        Are you sure you would like to Delete this Legal Exception ?
                    </p>
                    <div class="row mt-5">
                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary delete-btn" (click)="close()">Cancel</button>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-primary delete-btn" (click)="delete()">Delete Legal Exception</button>
                        </div>
                    </div>
                </div>
        </div>
</div>

