<div class="container-fluid overflow">
    <div class="modal-header modalBlueBody">
        <h5 class="modal-title" id="modal-title">Rename {{mode}}</h5>
    </div>
    <div class="modal-body modalBlueBody" id="modal-body">
        {{mode}} Name:
        <input type="text" [(ngModel)]="TITLE" class="fntLg k-textbox ttlMod" />
        <br />

        <div class="errContainer" [hidden]="hideErrMsg">
            <i class="intelicon-alert-outlined"></i> <span>{{errMsg}}</span>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="fr">
                    <button class="btn btn-warning" type="button" style="margin-right: 8px;" (click)="onCancel()">Cancel</button>
                    <button class="btn btn-primary" type="button" (click)="onSave()">Save & Close</button>
                </div>
            </div>
        </div>

    </div>
</div>