﻿.renameTitleComp .ttlMod {
    color: #000000;
    width: 100%;
    margin-bottom: 20px
}

.renameTitleComp .errContainer {
    padding: 5px 15px;
    background-color: white;
    color: red;
    margin-bottom: 20px
}

.renameTitleComp .modalBlueBody {
    background-color: #003C71;
    color: #ffffff
}

.renameTitleComp .vert-button {
    width: 100%;
    height: 300px;
    background-color: #00AEEF;
    border-radius: 4px;
    color: #ffffff;
    padding: 6px;
    text-align: center;
    font-size: 12px;
    cursor: pointer
}

    .renameTitleComp .vert-button:hover {
        background-color: #0071C5
    }

.renameTitleComp .big-icon {
    font-size: 30px
}
