.async-procedure-jobs {
    padding: 25px 20px 90px 20px;
    height: 100%;
    overflow: auto;
}

.mass-heading h2 {
    font-size: 30px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-bottom: 15px;
}

kendo-grid {
    height: calc(100vh - 205px) !important
}

.enableWrapping td {
    white-space: normal !important;
    height: 100% !important;
}

::ng-deep .create-modal {
    .mat-dialog-container {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }
}