.blend-checkbox {
    margin-top: 15px;
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
}

.bottom-btns {
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    position: relative;
}

.bottom-btns button {
    margin-left: 5px;
}

.blend-checkbox input {
    margin-right: 5px;
}
