<!-- <link href="/Client/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet" /> -->

<div class="container-fluid overflow">
    <div class="row">
        <div class="col">
            <h1 class="another-header-geo" mat-dialog-title>{{data.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div mat-dialog-content class="geoHead" *ngIf="listItems">
                <p *ngIf="!isBidGeo && !isCustDiv" style="padding-top: 1em;">If blending, Worldwide will not be blended with any geos.</p>
                <kendo-multiselect class="text-color-multi-tag divineo-one" [data]="listItems" [(ngModel)]="value" [autoClose]="false" placeholder="Click to select..."></kendo-multiselect>
                <span *ngIf="!isBidGeo && !isCustDiv" class="blend-checkbox"><input type="checkbox" kendoCheckBox [(ngModel)]="isBlend" /> Blend</span>
            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col">
            <div class="bottom-btns" mat-dialog-actions>
                <button mat-button (click)="onNoClick()" class="btn btn-warning bid-geo-cancel">Cancel</button>
                <button mat-button (click)="onSave()" cdkFocusInitial class="btn btn-primary bid-geo-saveclose">Save And Close</button>
            </div>
        </div>
    </div>
</div>