<link href="/Client/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet" />

<div class="container-fluid overflow">
    <div class="row">
        <div class="col">
            <h1 mat-dialog-title>{{data.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div mat-dialog-content>
                <p *ngIf="!isBidGeo && !isCustDiv">If blending, Worldwide will not be blended with any geos.</p>
                <kendo-multiselect [data]="listItems" [(ngModel)]="value" [autoClose]="false"></kendo-multiselect>
                <span *ngIf="!isBidGeo && !isCustDiv" class="blend-checkbox"><input type="checkbox" kendoCheckBox [(ngModel)]="isBlend" /> Blend</span>
            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col">
            <div class="bottom-btns" mat-dialog-actions>
                <button mat-button (click)="onNoClick()" class="btn btn-warning">Cancel</button>
                <button mat-button (click)="onSave()" cdkFocusInitial class="btn btn-primary">Save & Close</button>
            </div>
        </div>
    </div>
</div>