.product-report-container {
    margin: 15px 17px !important;
}
kendo-grid.k-grid.product-kendo-report {
    height: calc(100Vh - 27rem);
    margin: 50px 10px 12px 10px !important;
}
.header-bottomsizereduce_report {
    font-size: 1.5em !important;
    margin-bottom: 20px !important;
}
.flex-row_report {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 20px !important;
    margin-left: 15px !important
}
.flex-item_report {
    min-width: 255px !important;
}
.cus_tender_style_report {
    font-weight: bold !important;
    margin-bottom: 10px !important;
    position: relative !important;
}
.radio-group_report {
    display: flex !important;
    flex-direction: row !important;
}
.search-container {
    display: flex !important;
    align-items: center!important;
}
.search-input {
    flex-grow: 1 !important;
    margin-right: 10px !important;
    padding: 8px !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    width: 365px !important;
    margin-left: 0px !important;
    top: 8px !important;
    position: relative !important;
}
a.search.intelicon-search.report_Searchicon_product {
    background: #f8f8f8 !important;
    border-color: #47809b2b !important;
    right: 47px !important;
    color: #00aeef !important;
    font-size: 20px !important;
    padding: 8px !important;
    position: relative !important;
    float: right !important;
    border-radius: 2px !important;
    cursor: pointer !important;
    top:8px !important;
}
kendo-dropdownlist.customer-report {
    width: 245px !important;
    height: 36px !important;
    border-color: #ced4dab3 !important;
    border-radius: 4px !important;
}
/* Responsive styles */
@media (max-width: 768px) {
    .flex-row {
        flex-direction: column !important; 
    }

    .search-input {
        width: 100% !important;
        margin-bottom: 10px !important;
    }

    .search {
        font-size: 20px !important;
    }
}
.new-head_report h1 {
    padding-top: 30px !important;
    padding-left: 15px !important;
}
.rpt-row{
    display: flex ;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: 0px;
    overflow-y: auto;
}
