.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}
.intelicon-protection-solid {
    font-size: 20px;
}
.dropdown-menu {
    box-shadow: none;
    border-color: #eee;
}
.dropdown-menu>li>a {
    color: #777 !important;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.5;
    white-space: nowrap;
}
a {
    text-decoration: none !important;
    background-color: transparent !important;
}
.dealTag {
    top: 62px !important;
    right: 20px !important;
    color: #003C71 !important;
    font-weight: 600;
}
.wrapView{
    white-space: normal !important;
    height: 100% !important;
}
.normalView{
    white-space: nowrap !important;
    height: auto !important;
}

.k-dialog .k-content {
    margin-top: 0 !important
}

.k-grid th,
.k-grid td {
    font-size: 12px !important;
}
.k-dialog .k-dialog-title,
.k-dialog .k-window-title {
    display: none !important;
}

.k-dialog .k-content {
    margin-top: -30px;
}
table td {
    border: 0 solid #ccc
}
.k-tabstrip-wrapper {
    border-bottom: 0 solid #eeeeee
}
.k-grid-content-locked .k-grouping-row td {
    border-bottom: 1px solid #e5e5e5;
    border-top: 0 solid transparent;
    border-left: 0 solid transparent;
    border-right: 0 solid transparent
}
#allDealsTab {
    margin-top: 30px;
}
#allDealsTab .k-tabstrip-items .k-item {
    background: #fdfdfd;
    background: -moz-linear-gradient(top, #fdfdfd 0%, #d9d9d9 100%);
    background: -webkit-linear-gradient(top, #fdfdfd 0%, #d9d9d9 100%);
    background: linear-gradient(to bottom, #fdfdfd 0%, #d9d9d9 100%);
    color: #003C71 !important;
    padding: 0 !important;
    text-transform: none !important;
    background-color: #fff;
    border-bottom-width: 0
}

#allDealsTab .k-tabstrip-items .k-state-active {
    background: -moz-linear-gradient(top, #fdfdfd 0%, #fff 100%);
    background: -webkit-linear-gradient(top, #fdfdfd 0%, #fff 100%);
    background: linear-gradient(to bottom, #fdfdfd 0%, #fff 100%);
    border-color: #b1babf;
    border-width: 1px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0;
    border-radius: 4px 4px 0 0
}

#allDealsTab .k-tabstrip-items .k-item .k-link:hover {
    background: linear-gradient(rgb(217, 217, 217) 0%, rgb(253, 253, 253) 100%) !important;
    color: #00AEEF !important;
}

kendo-tabstrip.new-allDeals {
    margin-top: 32px;
    padding-left: 10px;
    padding-right: 10px;
}

kendo-tabstrip.new-allDeals .k-tabstrip-items-wrapper {
    background: #efefef;
    position: relative;
    width: 100%;
}

.app-filler {
    position: relative;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.new-fixes-poly {
    position: absolute;
    left: auto;
    top: 0;
    margin-bottom: 10px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.aligner-inputs {
    width: 270px;
    font-size: 16px;
    padding-left: 0;
}

.aligner-inputs input {
    width: 100%;
    margin: 0;
    border: none;
}

.aligner-inputs i {
    height: 100%;
    font-size: 18px;
    color: #00AEEF;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
}

.new-rows {
    padding-top: 15px;
    margin-top: 10px;
    width: 100%;
    position: relative;
}

.oppo-grids {
    width: 100% !important;
    padding: 0 !important;
    padding-top: 10px !important;
}
