<section class="sidebar">
        <div class="rpt-row">
            <div class="col-xs-12 col-md-11 col-md-offset-0" style="width: 94.66667%;">
                <div class="panel sidenav" *ngFor="let x of getReportCatagory">
                    <div class="panel-heading">{{x.CTGR_NM}}</div>
                    <div class="panel-body">
                        <div *ngFor="let s of getReportSubCatagory | searchFilter : x.CTGR_NM : 'CTGR_NM'">
                            <h3>{{s.SUB_CTGR_NM}} </h3>
                            <ul>
                                <li class="reportLink" *ngFor="let d of ReportName | searchFilter : s.SUB_CTGR_NM : 'SUB_CTGR_NM'">
                                    <a *ngIf="d.RPT_UNIQ_NM == 'iCost report'" (click)="downloadICostReport()" style="cursor: pointer;"><i class="fa fa-circle-o text-agreen"></i> {{d.RPT_UNIQ_NM}} </a>
                                    <a *ngIf="d.RPT_UNIQ_NM == 'New Product Missing Cost Report'" (click)="downloadGetReportNewProductMissingCostData()" style="cursor: pointer;"><i class="fa fa-circle-o text-agreen"></i> {{d.RPT_UNIQ_NM}} </a>
                                    <a *ngIf="d.RPT_UNIQ_NM == 'Unified Customer Management Report' && s.SUB_CTGR_NM== 'Miscellaneous Report(s)'" (click)="downloadUCMReportData()" style="cursor: pointer;"><i class="fa fa-circle-o text-agreen"></i> {{d.RPT_UNIQ_NM}} </a>
                                    <a target="_blank" href="{{d.RPT_URL}}" *ngIf="d.RPT_URL != ''"><i class="fa fa-circle-o text-agreen"></i> {{d.RPT_UNIQ_NM}} </a>
                                    <span *ngIf="isEligibleToViewPrdDtl">
                                        <a *ngIf="d.RPT_URL == '' && d.RPT_UNIQ_NM == 'Product Details Report'" [routerLink]="['/productdetailsreport']" style="cursor: pointer;">
                                            <i class="fa fa-circle-o text-agreen"></i> {{d.RPT_UNIQ_NM}}
                                        </a>
                                    </span>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>