<link href="/Client/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="/Client/node_modules/@progress/kendo-theme-bootstrap/dist/all.css" rel="stylesheet" />
<link href="/Client/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet" />
<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />
<link href="/Client/src/app/style/publishTender.css" rel="stylesheet" />

<div class="secHeader"></div>

<div class="publishDiv row allDone" style="margin: 10px 0 0 0;padding-right: 17px;">
    <table style="width: 100%; height: 100%;">
        <tr>
            <td style="width: 100%;">
                <div class="done-title">
                    <i class="intelicon-passed-completed-solid" style="font-size: 24px;color: #C4D600;"></i> Deals are ready to be Published
                </div>

                <div class="definePublish">
                    Publishing will separate the deals entered in the table below so that they can be individually approved.
                </div>

                <div>
                    <button class="btn btn-primary prdBtn pbl-tnder-btn" (click)="publishTenderDeal()" style="font-size: 16px;">YES, Please Publish Tender Deals</button>
                    <button class="btn btn-primary prdBtn pbl-tnder-btn" (click)="refreshGrid()" style="font-size: 16px; margin-left: 5px !important;"><span kendoTooltip title="Refresh" position="top" class="k-icon k-i-reload k-icon-sm"></span></button>
                </div>
                <div class="showMCTag" *ngIf="showMCTag">Meet Comp Status: <div class='textRunIcon readOnlyCell' style="padding-left: 5px;float:right"><i class='intelicon-information-solid notApplicableIcon' title='Meet comp is not applicable for the Products selected in the Tender Table editor' style='font-size:20px !important'></i></div></div>
            </td>
        </tr>
    </table>
</div>
<div *ngIf="!isDataLoading" class="publishTender" style="padding: 5px; height: 100%;">
    <div id="pubOpGrid" class="filter-alignment-fixes oppo-grids" style="height: 100%;">
        <kendo-grid [navigable]="true" [data]="gridData" class="mpublishgrid" [loading]="isDataLoading" [pageSize]="state.take" [skip]="state.skip"
                    [sort]="state.sort" [filter]="state.filter" [sortable]="true" [reorderable]="true" [resizable]="true"
                    [pageable]="{type:type,pageSizes: pageSizes,info:info,refresh:true}" style="height: calc(100vh - 350px);"
                    filterable="menu" (cellClick)="cellClickHandler($event)" (dataStateChange)="dataStateChange($event)">
            <kendo-grid-column [headerClass]="{'headerClass':true}" *ngFor="let column of wipOptions.columns" field="{{column.field}}"
                               [hidden]="column.hidden" [width]="column.width+30" [style]="{'white-space': 'nowrap'}" [filterable]="column.filterable">
                <ng-template kendoGridHeaderTemplate>
                    <deal-editor-header [in_Field_Name]="column.field" [in_Header_Template]="column.headerTemplate" [in_Title]="column.title" [grid_Result]="wipData"></deal-editor-header>
                </ng-template>
                <ng-template let-dataItem="dataItem" kendoGridCellTemplate>
                    <deal-editor-cell [id]="column.field" [in_Field_Name]="column.field" [in_Template]="column.template" [in_Deal_Type]="OBJ_SET_TYPE_CD" [in_DataItem]="dataItem" [contract_Data]="contractData" [grid_Data]="gridData.data"></deal-editor-cell>
                </ng-template>
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                    <multicheck-filter [isPrimitive]="false" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" textField="Text" valueField="Value" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>

    </div>
</div>
<loading-panel-angular class="loadpublish" [show]="isDataLoading" [header]="spinnerMessageHeader" [isShowFunFact]="isBusyShowFunFact"
                       [description]="spinnerMessageDescription" [msgType]="msgType"></loading-panel-angular>