.definePublish {
    font-size: 12px;
    margin-left: 30px;
    width: 600px;
    text-align: left;
    font-weight: 600;
    font-style: italic;
    float: left
}

.publishTender .isReadOnlyCell {
    background: transparent !important
}

.publishDiv .notApplicableIcon {
    font-size: 20px !important;
    color: #c7c7c7
}

.showMCTag {
    float: right;
    font-size: 14px;
    font-weight: 800;
    padding-top: 5px
}

#pubOpGrid > .op-grid-container-wrapper > .op-grid-header {
    display: none
}

#pubOpGrid > .op-grid-container-wrapper {
    padding: 5px 0 0 0 !important
}

    #pubOpGrid > .op-grid-container-wrapper > .op-grid-container > #dealEditor > .k-grid-content {
        height: 300px !important
    }

.publishDiv {
    width: 100%;
    text-align: right;
    padding-right: 10px
}

.pbl-tnder-btn.prdBtn {
    font-size: 13px
}

    .pbl-tnder-btn.prdBtn.btn-primary {
        background-color: #01AEEF !important;
        border-color: #367fa9 !important
    }

        .pbl-tnder-btn.prdBtn.btn-primary:hover {
            background-color: #01AEEF;
            color: #1a3e6f
        }

        .pbl-tnder-btn.prdBtn.btn-primary:focus, .pbl-tnder-btn.btn-primary:active {
            outline: none !important;
            background-color: #01AEEF
        }

.publishDiv .done-title {
    font-size: 24px;
    float: left;
    margin-left: 15px
}

.done-confirm {
    font-size: 16px;
    text-align: center;
    width: 100%;
    padding: 25px 0
}

.secHeader {
    font-size: 14px;
    padding: 0 16px 3px 0;
    font-family: "Intel Clear";
    font-weight: 200;
    font-style: normal;
    border-bottom: 2px solid #bcbcbc;
    background-color: #fff;
    color: #c1c1c1;
    width: 104% !important;
    margin-left: -45px !important
}

.publishTender.k-grid th.k-state-focused {
    box-shadow: inset 0 0 0 1px #00AEEF !important
}

    .publishTender .k-grid th.k-state-focused:hover {
        box-shadow: inset 0 0 0 1px #003C71 !important
    }

.publishTender.k-icon:hover, .publishTender.k-icon:focus {
    color: #000000 !important
}

.pbl-tnder-btn.prdBtn.btn-primary span.k-icon.k-i-reload.k-icon-sm:hover {
    color: #1a3e6f;
}