<div class="publishDiv row allDone" style="margin: 10px 0 0 0;padding-right: 17px;">
    <table style="width: 100%; height: 100%;">
        <tr>
            <td style="width: 100%;">
                <div class="done-title">
                    <i class="intelicon-passed-completed-solid" style="font-size: 24px;color: #C4D600;"></i> Deals are ready to be Published
                </div>

                <div class="definePublish">
                    Publishing will separate the deals entered in the table below so that they can be individually approved.
                </div>

                <div>
                    <button class="btn btn-primary prdBtn" (click)="publishTenderDeal()" style="font-size: 16px;">YES, Please Publish Tender Deals</button>
                </div>
                <div class="showMCTag" *ngIf="showMCTag">Meet Comp Status: <div class='textRunIcon readOnlyCell' style="padding-left: 5px;float:right"><i class='intelicon-information-solid notApplicableIcon' title='Meet comp is not applicable for the Products selected in the Tender Table editor' style='font-size:20px !important'></i></div></div>
            </td>
        </tr>
    </table>
</div>
<div *ngIf="!loading && selectedTAB == 'PD'" style="padding: 5px; height: 100%;">
    <div id="pubOpGrid" op-grid style="height: 100%;" op-data="wipData" op-options="wipOptions" op-name="PUBLISH" op-is-tender=true op-help="helpTopicContractAndDealViews"></div>
</div>