.dealTools .md-icon {
    padding: 4px 0 0 5px;
}

.dealTools .md-icon i {
    color: #00AEEF;
}

.dealTools .md-icon i:hover {
    color: #003C71 !important;
}

.dealTools .md-icon-disabled {
    padding: 4px 2px 0 1px;
}

.dealTools .md-icon-disabled i {
    color: #00AEEF;
}

.intelicon-protection-solid:before {
    color: #00AEEF;
}

.dealTools input[type=radio].with-font,
.dealTools input[type=checkbox].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.dealTools input[type=radio].with-font + label:before,
.dealTools input[type=checkbox].with-font + label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f096";
    font-size: 20px;
    letter-spacing: 10px;
    color: #00AEEF;
    margin-left: 10px;
}

.dealTools input[type=radio].with-font:hover + label:before,
.dealTools input[type=checkbox].with-font:hover + label:before {
    color: #003C71;
    cursor: pointer;
}

.dealTools input[type=radio].with-font.disabled + label:before,
.dealTools input[type=checkbox].with-font.disabled + label:before {
    color: #cccccc;
    cursor: default;
}

.dealTools input[type=radio].with-font:checked + label:before,
.dealTools input[type=checkbox].with-font:checked + label:before {
    content: "\f046";
    font-size: 20px;
    letter-spacing: 5px;
    color: #C4D600;
    margin-left: 10px;
}

.dealTools input[type=radio].with-font:focus + label:before,
.dealTools input[type=checkbox].with-font:focus + label:before {
    font-weight: bold;
    color: #00AEEF;
}

.dealTools input[type=radio].with-font:checked:focus + label:before,
.dealTools input[type=checkbox].with-font:checked:focus + label:before {
    font-weight: bold;
    color: #C4D600;
}

.btn-save-pub {
    background-color: #00aeef;
    font-size: 16px;
    border: 1px solid #0071c5;
}

.definePublish {
    font-size: 12px;
    margin-left: 30px;
    width: 600px;
    text-align: left;
    font-weight: 600;
    font-style: italic;
    float: left;
}

.isReadOnlyCell {
    background: transparent !important;
}

.opUiContainer.md.k-grid td {
    font-size: 12px !important;
    height: 33px !important;
    color: #000 !important;
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.notApplicableIcon {
    font-size: 20px !important;
    color: #c7c7c7;
}

.showMCTag {
    float: right;
    font-size: 14px;
    font-weight: 800;
    padding-top: 5px;
}

#pubOpGrid > .op-grid-container-wrapper > .op-grid-header {
    display: none
}

#pubOpGrid > .op-grid-container-wrapper {
    padding: 5px 0 0 0 !important;
}

#pubOpGrid > .op-grid-container-wrapper > .op-grid-container > #dealEditor > .k-grid-content {
    height: 300px !important;
}

.publishDiv {
    width: 100%;
    text-align: right;
    padding-right: 10px;
}

.pbl-tnder-btn.prdBtn {
    font-size: 13px;
}

.pbl-tnder-btn.prdBtn.btn-primary {
    background-color: #01AEEF !important;
    border-color: #367fa9 !important
}

.pbl-tnder-btn.prdBtn.btn-primary:hover {
    background-color: #01AEEF;
    color: #1a3e6f;
}

.pbl-tnder-btn.prdBtn.btn-primary:focus, .pbl-tnder-btn.btn-primary:active {
    outline: none !important;
    background-color: #01AEEF;
}

.done-title {
    font-size: 24px;
    float: left;
    margin-left: 15px;
}

.done-body {
    font-size: 12px;
}

.done-confirm {
    font-size: 16px;
    text-align: center;
    width: 100%;
    padding: 25px 0;
}
.secHeader {
    font-size: 14px;
    padding: 0 16px 3px 0;
    font-family: "Intel Clear";
    font-weight: 200;
    font-style: normal;
    border-bottom: 2px solid #bcbcbc;
    background-color: #fff;
    color: #c1c1c1;
    width: 104% !important;
    margin-left: -45px !important
}
