.heading-cp {
    margin-top: 30px;
}

.fl.iconImgDiv {
    width: 95px;
    height: 70px;
    text-align: center;
}

    .fl.iconImgDiv img {
        width: 90px;
        height: 70px;
        object-fit: contain;
    }

    .fl.iconImgDiv i {
        color: #0071c5;
    }

        .fl.iconImgDiv i:hover, .fl.iconImgDiv i:focus, .fl.iconImgDiv i:active {
            color: #004579;
        }