    .titlePage {
    text-align: center;
    font-family: "Intel Clear";
    font-weight: 200;
    font-style: normal;
    }

    .titlePage H1 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 5px;
    color: #0071C5;
    font-size: 60px;
    }

    .titlePage H1 span {
    color: #000000;
    font-size: 24px;
    }

    .titlePage H2 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 100px;
    color: #aaaaaa;
    }

    .titlePage .dates {
    font-size: 16px;
    padding-top: 100px;
    }

    .titlePage .confidential {
    font-size: 12px;
    margin-top: 50px;
    color: #666666;
    }

    .amendmentsPage {
    padding-top: 10px;
    padding-bottom: 10px;
    }

    .psPage .subText, .ptPage .subText {
    color: #aaaaaa;
    font-size: 12px;
    }

    .psPage .subObj, .ptPage .subObj {
    color: #FFA300;
    font-size: 12px;
    margin-left: 8px;
    }

    .psPage .subStatus, .ptPage .subStatus {
    font-size: 12px;
    margin-right: 4px;
    }

    .psPage .subStatus .stat, .ptPage .subStatus .stat {
    color: #cccccc;
    margin-left: 15px;
    }

    .psPage .subStatus .stat span, .ptPage .subStatus .stat span {
    color: #0071C5;
    }

    .ptPage {
    margin-left: 30px;
    }

    .psPage H1 {
    color: #000000;
    font-size: 24px;
    }

    .psPage H1 span {
    color: #cccccc;
    font-size: 22px;
    }

    .psPage H2 {
    color: #0071C5;
    font-size: 18px;
    }

    .psPage H2 span {
    color: #cccccc;
    font-size: 16px;
    }

    .psPage .terms {
    font-size: 16px;
    margin: 30px;
    }

    hr.page-break {
    margin: 80px 0;
    border-top: 1px solid #FFA300;
    height: 2px;
    }

    table.extract {
    width: 100%;
    border: 1px solid #00AEEF;
    }

    table.extract th {
    font-family: "Intel Clear";
    font-weight: 600;
    font-style: normal;
    padding: 0 4px;
    background-color: #eeeeee;
    color: #0071C5;
    }

    table.extract td {
    font-family: "Intel Clear";
    font-weight: 200;
    font-style: normal;
    padding: 0 4px;
    border-top: 1px solid #eeeeee;
    }

    .timeDate div.content {
    background-color: #f6f8f8;
    border: 1px solid #eeeeee;
    margin: 2px 1px;
    padding: 0 6px;
    }

    .timeDesc div.content {
    background-color: #f6f8f8;
    border: 1px solid #eeeeee;
    margin: 2px 1px;
    padding: 0 6px;
    }

.addScrollbar {
    max-height: 500px;
    max-width: 1400px;
    overflow: auto;

}

