<div *ngIf="isLoading" style="height:100vh;padding-top: 200px; width: 100%; text-align: center;" class="contractExportLoader">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
    <div style="font-size: 30px;">{{loadMessage}}</div>
    <div class="ss-icon-lg" *ngIf="loadMessage == 'Done'">
        <i class="intelicon-passed-completed-solid sky-blue"></i>
    </div>
</div>

<div *ngIf="!isLoading" style="padding: 0 20px;" class="contract-export addScrollbar contract-top-fixes">
    <div class="fr">
        <i class="intelicon-pdf exportBtn" style="font-size:30px !important" (click)="exportToPDF()" title="Export to PDF"></i>
        <i class="intelicon-help helpBtn" style="font-size:30px !important" (click)="showHelpTopic()" title="Help"></i>
    </div>

    <div id="pdfContent">
        <div class="titlePage">
            <h1><span>Contract #{{exportData.DC_ID}}</span><br />{{exportData.TITLE}}</h1>
            <h2>
                {{exportData.Customer.CUST_NM}}
                <span *ngIf="exportData.Customer.CUST_DIV_NM"> / {{exportData.Customer.CUST_DIV_NM}}</span>
            </h2>

            <div class="dates">{{exportData.START_DT}} - {{exportData.END_DT}}</div>
            <div class="confidential">Intel Confidential <span *ngIf="exportData.C2A_DATA_C2A_ID">- #{{exportData.C2A_DATA_C2A_ID}}</span></div>
        </div>

        <hr class="page-break" />

        <div class="amendmentsPage">
            <h1>Amendments</h1>
            <div class="row" *ngFor="let tl of timelineData">
                <div class="col-md-3 timeDesc newDesc">
                    <div class="content">
                        <span style="color: #FFA300;">#{{tl.OBJ_SID}}</span> {{tl.OBJ_DESC}}
                    </div>
                </div>
                <div class="col-md-6 timeDesc newDesc">
                    <div class="content">
                        <span style="color: #0071C5;">{{tl.ATRB_VAL}}</span>
                    </div>
                </div>
                <div class="col-md-3 timeDate">
                    <div class="content">
                        {{tl.HIST_EFF_FR_DTM}} | <span style="color: #0071C5;">{{tl.FRST_NM}} {{tl.LST_NM}}</span>
                    </div>
                </div>
            </div>
        </div>

        <hr class="page-break" />

        <div class="psPage" *ngFor="let ps of exportData.PRC_ST">
            <h1>{{ps.TITLE}}</h1>
            <div class="subText">#{{ps.DC_ID}}</div>

            <div class="ptPage pxPage" *ngFor="let pt of ps.PRC_TBL">
                <h2>{{pt.TITLE}}</h2>
                <div class="fl subText">#{{pt.DC_ID}}</div>
                <div class="fl subObj">{{showObjType(pt.OBJ_SET_TYPE_CD)}}</div>
                <div class="fr subStatus">
                    <span class="stat" *ngIf="CAN_VIEW_COST_TEST">Price Cost Test: <span>{{pt.COST_TEST_RESULT}}</span></span>
                    <span class="stat" *ngIf="CAN_VIEW_MEET_COMP">Meet Comp Test: <span>{{pt.MEETCOMP_TEST_RESULT}}</span></span>
                    <span class="stat">Status: <span>{{pt.PASSED_VALIDATION}}</span></span>
                </div>
                <div class="clearboth"></div>

                <table class="extract">
                    <tr>
                        <th *ngFor="let td of tableHeaderData.PRC_TBL_ROW[pt.OBJ_SET_TYPE_CD].columns">
                            <span *ngIf="!td.hidden">{{showTitle(td.title)}}</span>
                        </th>
                    </tr>
                    <tr class="ptrPage" *ngFor="let ptr of pt.PRC_TBL_ROW">
                        <td *ngFor="let td of tableHeaderData.PRC_TBL_ROW[pt.OBJ_SET_TYPE_CD].columns">
                            <span *ngIf="!td.hidden">{{showField(ptr, td.field, td, pt.OBJ_SET_TYPE_CD)}}</span>
                        </td>
                    </tr>
                </table>

            </div>
            <hr class="page-break" />
        </div>
    </div>

</div>