.contract_h_align {
    padding-left: 20px !important;
    padding-top: 32px !important
}

.header_text_fix {
    font-size: 24px !important;
    padding-bottom: 5px !important
}

.header_b_line {
    width: 99% !important;
    border-top: 1px solid #555 !important
}

.CTgrid_lR {
    padding-left: 20px !important;
    padding-right: 3px !important;
    padding-top: 8px !important
}

.k-grid.CH_height {
    height: calc(100vh - 250px) !important;
    overflow-y: scroll !important;
}
