<div class="col-md-12">
    <form name="rules" ng-submit="vm.savePCTRules()" novalidate>
        <div class="row form-inline">
            <div class="col-md-3" style="padding-top:30px">
                <label class="control-label">Product Type:</label>
                <ui-select ng-model="vm.pctRule.DEAL_PRD_TYPE_SID" theme="select2" style="min-width:100%" title="Select a Product Type">
                    <ui-select-match placeholder="Select..">{{$select.selected.PRD_TYPE}}</ui-select-match>
                    <ui-select-choices repeat="product.PRD_TYPE_SID as product in vm.ProductType | unique:'PRD_TYPE'| orderBy:'PRD_TYPE'|  filter: $select.search">
                        <div title="{{product.PRD_TYPE}}" ng-bind-html="product.PRD_TYPE | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-md-2" style="padding-top:30px">
                <label class="control-label">Vertical:</label>
                <ui-select ng-model="vm.pctRule.PRD_CAT_NM_SID" theme="select2" style="min-width:100%" ng-disabled="!vm.pctRule.DEAL_PRD_TYPE_SID > 0" title="Select a Vertical">
                    <ui-select-match placeholder="Select....">{{$select.selected.VERTICAL}}</ui-select-match>
                    <ui-select-choices repeat="product.VERTICAL_SID as product in vm.ProductType | unique:'VERTICAL'| orderBy:'VERTICAL'|  filter: $select.search |  filter: vm.pctRule.DEAL_PRD_TYPE_SID">
                        <div title="{{product.VERTICAL}}" ng-bind-html="product.VERTICAL | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-md-2" style="padding-top:30px">
                <label class="control-label">Level:</label>
                <ui-select ng-model="vm.pctRule.COST_TEST_TYPE" theme="select2" style="min-width:100%" title="Select a Level">
                    <ui-select-match placeholder="Select...">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="type.name as type in vm.costTestProductType | filter: $select.search">
                        <div title="{{type.name}}" ng-bind-html="type.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-md-2" style="padding-top:30px">
                <label class="control-label">Criteria:</label>
                <ui-select ng-model="vm.pctRule.CRITERIA" theme="select2" style="min-width:100%" title="Select a Criteria">
                    <ui-select-match placeholder="Select...">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="criteria.name as criteria in vm.conditionCriteria | filter: $select.search">
                        <div title="{{criteria.name}}" ng-bind-html="criteria.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <!--TODO: Make this div sticky-->
            <div class="col-md-2">
                <div class="panel affix panel-primary">
                    <div class="panel-heading text-center">Actions</div>
                    <div class="panel-body text-center">
                        <div class="col-sm-12">
                            <button class="small btn btn-default" ng-click="vm.cancel()" title="Cancel Changes">Cancel</button>
                            <button class="small btn btn-primary" type="submit" ng-disabled="!vm.form.isValid" title="Save Changes">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearboth"></div>
        <div class="col-md-9" style="padding-top:20px;" ng-if="vm.showQueryBuilder">
            <pct-query-builder group="vm.filter.group" form="vm.form" operators="vm.operators" left-values="vm.leftValues">
            </pct-query-builder>
        </div>
        </form>
</div>
