<div class="row" style="padding-top: 35px;" >
    <div class="col-md-12" >
        <div class="col-md-9">
            <h3>Complex Stacking</h3>
        </div>
    </div>
</div>
<div id="sum-wrapper" class="new-view" style="padding-top: 35px;">
    <div id="sum-header" style="min-width: 800px; margin: 0px;height:40px">
        <div style="margin-top: 3px;">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 100px;"></td>
                    <td style="width: 200px; text-align: left; line-height: 1.1em;">Pricing Strategy ID</td>
                    <td style="width: 400px; text-align: left; line-height: 1em;">Pricing Strategy</td>
                    <td  style="line-height: 1.1em; padding-left: 10px; text-align: center;">Complex Stacking</td>
                </tr>
            </table>
            <hr />
        </div>
    </div>
    <div id="sum-container">
        <div class="sum-main-body">
            <div class="sum-main-container">
                <div *ngFor="let ps of pricingStrategyFilter;let psIndex=index"
                     class="sumPsContainer">
                    <table style="width: 100%">
                        <tr>
                            <td id="PRC_ST_{{ps.DC_ID}}" style="width: 100px; height: 30px;"
                                (click)="isPSExpanded[psIndex]=!isPSExpanded[psIndex]">
                                <i class="collapseALL chevron linkable" [ngClass]="{'intelicon-down': isPSExpanded[psIndex], 'intelicon-right-next': !isPSExpanded[psIndex]}"></i>
                            </td>

                            <td style="width: 200px; text-align:left;">
                                <div>
                                    {{ps.DC_ID}}
                                </div>
                            </td>

                            <td style="width: 400px; text-align: left;">
                                <div title="{{ps.TITLE}}" class="bolder">
                                    {{ ps.TITLE && ps.TITLE.length > 40 ? (ps.TITLE | slice:0:40) + '...' : ps.TITLE }}
                                </div>
                            </td>
                            <td style="text-align: center;">
                                <div *ngIf="IsCSReviewed(ps.IS_CS_GRP_REVIEWED);then rev_content else non_rev_content">here is ignored</div>
                                <ng-template #rev_content>
                                    <i class="intelicon-protection-checked-verified-solid bigIcon validf_Complete" title="Reviewed"></i>
                                </ng-template>
                                <ng-template #non_rev_content>
                                    <i class="intelicon-information-solid bigIcon validf_Valid" title="Not reviewed yet"></i>
                                </ng-template>
                            </td>
                        </tr>
                    </table>
                    <div id="PSData_{{psIndex}}">
                        <complex-stacking-modal *ngIf="isPSExpanded[psIndex]" [isModel]="false" [inputData]="ps"></complex-stacking-modal>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <loading-panel-angular [show]="isComplexStackingLoading" [header]="spinnerMessageHeader" [description]="spinnerMessageDescription">
    </loading-panel-angular>
</div>

