
.new-view {
    height: 75vh;
    overflow: auto !important;
    padding: 100px 0 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.new-view .chevron {
    color: #00AEEF;
    font-size: 25px
}


.new-view table td {
    border: 0 solid #ccc
}

.new-view .linkable {
    cursor: pointer
}


.new-view .linkable:hover {
    color: #003C71
}

.new-view .bigIcon {
    font-size: 26px
}

.new-view .medIcon {
    font-size: 18px
}

.new-view .pt-0 {
    padding-top: 0 !important
}

.new-view {
    padding-top: 0 !important;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
     width: 100% 
}

.cell-information {
    background-color: #e5e5e5;
}





 /*summary Gris for PCT screen */
.new-view #sum-header {
    height: 100px;
    font-size: 14px;
    font-family: "Intel Clear";
    font-weight: 200;
    font-style: normal;
    padding: 0;
    margin-left: 0;
    margin-right: 0
}

.new-view #sum-container {
    height: fit-content;
    overflow: auto;
    min-width: 800px;
    line-height: 0.5 !important;
    margin-top: -10px;
}

.new-view #sum-container .k-textbox.k-space-left {
    padding-left: 2.1em
}

.new-view .sum-main-body {
    margin: 5px 10px 0px 0px;
    padding: 0 10px 10px 5px;
}

.new-view .sum-main-container {
    height: 100%;
    overflow: auto
}

.new-view .sum-filter-bar {
    border: 0 solid #e4e4e4;    
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    background-color: #eeeeee;
    height: 50px;
    font-size: 14px;
    font-family: "Intel Clear";
    background: linear-gradient(to bottom, #fdfdfd 0%, #d9d9d9 100%);
}

.new-view .sum-main-body .tbl-header {
    margin-top: 6px
}

.new-view #sum-header hr {
    height: 1px;
    margin: 6px 0;
    border-top: 1px solid #555
}

.new-view .sum-main-body .bold {
    color: #00AEEF;
    font-weight: bold;
    font-size: 14px;
    line-height: 1em
}

.new-view .sum-main-body .bolder {
    color: #00AEEF;
    font-weight: bold;
    font-size: 16px;
    line-height: 1em
}

.new-view .sum-main-body label {
    margin-bottom: 0
}

.new-view .sum-main-body .stage {
    text-align: center
}

.new-view .sum-main-body .stage div {
    margin: 0 10px;
    padding: 4px 4px
}

.new-view .sumGridOptionsExpand>.k-grid-content-locked {
    height: auto !important
}

.new-view#sum-wrapper {
    height:calc(100vh - 180px) !important;
}

@media (max-width: 1125px) {
    .new-view#sum-wrapper {
        height: calc(100vh - 215px) !important;
    }
}

@media (max-width: 800px) {
    .new-view#sum-wrapper {
        height: calc(100vh - 245px) !important;
    }
}