.ok-button-v {
    color: #444;
    border-color: #fafafa;
    background-color: #e9e9e9 !important;
    width: 100%;
    height: 50px
}

.custom-padd-0 {
    padding: 0 !important
}

.head-right-shift {
    padding-top: 25px;
    padding-left: 15px !important;
    padding-bottom: 0;
}

.bottom-s-remove {
    line-height: 1.1
}

.k-grid.KendoCustomerMapping {
    height: calc(100vh - 205px) !important
}

.cancel-space-CustomerMapping {
    margin-left: -1.14em !important
}

.underline-on-hover:hover {
    text-decoration: underline;
    text-decoration-color: #0071c5;
}