<!-- <link href="/Client/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" /> -->
<!-- <link href="/Client/node_modules/@progress/kendo-theme-bootstrap/dist/all.css" rel="stylesheet" /> -->
<!-- <link href="/Client/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet" /> -->
<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />
<cc-loader [isLoading]="isLoading" [module]="moduleName" [isInitializing]="false" [message]="loadMessage"></cc-loader>
<div class="form-horizontal" [hidden]="isLoading=='true'" style="margin-top: 35px; padding: 0px 10px; height: calc(100vh - 123px) !important; overflow-y: auto; ">
    <div class="section secondary-section"><label> <b>Template: </b> </label>
        <kendo-dropdownlist id="templatesCombo" style="width: 210px; margin-left:6px" [data]="menuItems" textField="MenuText" valueField="MenuText" [(ngModel)]="selectedTemplate" (valueChange)="onTemplateChange($event)" (afterValueChanged)="isDropdownsLoaded"></kendo-dropdownlist>
    </div>
    <div class="section secondary-section" [ngClass]="{'textarea-disabled': selectedTemplate==null}"><label><b>Upper Content Block </b></label>
        <kendo-editor class="k-editor-box" id="color_c_button" [(ngModel)]="headerInfo">
            <kendo-toolbar>
                <kendo-toolbar-dropdownlist kendoEditorFormat></kendo-toolbar-dropdownlist>
                <kendo-toolbar-buttongroup>
                    <kendo-toolbar-button kendoEditorBoldButton></kendo-toolbar-button>
                    <kendo-toolbar-button kendoEditorItalicButton></kendo-toolbar-button>
                    <kendo-toolbar-button kendoEditorUnderlineButton></kendo-toolbar-button>
                </kendo-toolbar-buttongroup>
                <kendo-toolbar-buttongroup>
                    <kendo-toolbar-button kendoEditorAlignLeftButton></kendo-toolbar-button>
                    <kendo-toolbar-button kendoEditorAlignCenterButton></kendo-toolbar-button>
                    <kendo-toolbar-button kendoEditorAlignRightButton></kendo-toolbar-button>
                </kendo-toolbar-buttongroup>
                <kendo-toolbar-buttongroup>
                    <kendo-toolbar-button kendoEditorInsertUnorderedListButton></kendo-toolbar-button>
                    <kendo-toolbar-button kendoEditorInsertOrderedListButton></kendo-toolbar-button>
                    <kendo-toolbar-button kendoEditorIndentButton></kendo-toolbar-button>
                </kendo-toolbar-buttongroup>
                <kendo-toolbar-buttongroup>
                    <kendo-toolbar-button kendoEditorCreateLinkButton></kendo-toolbar-button>
                    <kendo-toolbar-button kendoEditorInsertImageButton></kendo-toolbar-button>
                </kendo-toolbar-buttongroup>
                <kendo-editor-insert-table-button></kendo-editor-insert-table-button>
            </kendo-toolbar>
        </kendo-editor>
    </div>
    <div class="section secondary-section" [ngClass]="{'textarea-disabled': selectedTemplate==null}"><label><b>Lower Content Block</b></label>
        <kendo-editor class="k-editor-box"  id="color_c_button" [(ngModel)]="bodyInfo">
            <kendo-toolbar>
                <kendo-toolbar-dropdownlist kendoEditorFormat></kendo-toolbar-dropdownlist>
                <kendo-toolbar-buttongroup>
                    <kendo-toolbar-button kendoEditorBoldButton></kendo-toolbar-button>
                    <kendo-toolbar-button kendoEditorItalicButton></kendo-toolbar-button>
                    <kendo-toolbar-button kendoEditorUnderlineButton></kendo-toolbar-button>
                </kendo-toolbar-buttongroup>
                <kendo-toolbar-buttongroup>
                    <kendo-toolbar-button kendoEditorAlignLeftButton></kendo-toolbar-button>
                    <kendo-toolbar-button kendoEditorAlignCenterButton></kendo-toolbar-button>
                    <kendo-toolbar-button kendoEditorAlignRightButton></kendo-toolbar-button>
                </kendo-toolbar-buttongroup>
                <kendo-toolbar-buttongroup>
                    <kendo-toolbar-button kendoEditorInsertUnorderedListButton></kendo-toolbar-button>
                    <kendo-toolbar-button kendoEditorInsertOrderedListButton></kendo-toolbar-button>
                    <kendo-toolbar-button kendoEditorIndentButton></kendo-toolbar-button>
                </kendo-toolbar-buttongroup>
                <kendo-toolbar-buttongroup>
                    <kendo-toolbar-button kendoEditorCreateLinkButton></kendo-toolbar-button>
                    <kendo-toolbar-button kendoEditorInsertImageButton></kendo-toolbar-button>
                </kendo-toolbar-buttongroup>
                <kendo-editor-insert-table-button></kendo-editor-insert-table-button>
            </kendo-toolbar>
        </kendo-editor>
    </div>
    <div class="pull-right section secondary-section" style="margin-right: 8px;margin-top: 18px !important;">
        <button class="btn btn-default btn-lg" [disabled]="selectedTemplate==null" (click)="onGeneratePreviewClick()" style="margin-right: 10px;">Generate Preview</button>
        <button class="btn btn-primary btn-lg" [disabled]="selectedTemplate==null" (click)="onSaveChangesClick($event)">Save Changes</button>
    </div>
</div>