.textarea-disabled {
    opacity: .25
}

.btn-lg {
    min-width: 190px
}

.btn-lg:disabled {
    background-color: #edeff0 !important;
    color: #b1babf !important;
    border-color: #b1babf !important
}

.section {
    margin-top: 18px !important;
    margin-left: 20px !important;
}