@using Intel.MyDeals.BusinessLogic
@using Intel.MyDeals.Entities
@using Kendo.Mvc.UI
@using HttpVerbs = System.Web.Mvc.HttpVerbs
@{
    List<DealType> dealTypes = new List<DealType>
    {
        new DealType {DEAL_TYPE_SID = 0, DEAL_TYPE_CD = "Select a Deal Type"},
        new DealType {DEAL_TYPE_SID = 1, DEAL_TYPE_CD = "All Deal Types"}
    };
    dealTypes.AddRange(new MetasLib().GetDealTypeData());

    List<WorkFlowStage> stages = new List<WorkFlowStage>
    {
        new WorkFlowStage { WFSTG_ATRB_SID = 0, WFSTG_CD = "Select a Stage"},
    };

    stages.AddRange(new WorkflowsLib().GetWorkFlowStages());

    List<SimpleKeyValue> locations = new List<SimpleKeyValue>
{
    new SimpleKeyValue { KEY = "", VALUE = "Select Location" },
    new SimpleKeyValue { KEY = "Left", VALUE = "Left" },
    new SimpleKeyValue { KEY = "Top", VALUE = "Top" },
    new SimpleKeyValue { KEY = "Right", VALUE = "Right" }
};

    List<SimpleKeyValue> status = new List<SimpleKeyValue>
    {
        new SimpleKeyValue { KEY = "", VALUE = "Select Status" },
        new SimpleKeyValue { KEY = "Open", VALUE = "Open" },
        new SimpleKeyValue { KEY = "Closed", VALUE = "Closed" }
    };

    List<SimpleKeyValue> tiers = new List<SimpleKeyValue>
    {
        new SimpleKeyValue { KEY = "", VALUE = "Select Tier" },
        new SimpleKeyValue { KEY = "Tier_0", VALUE = "Tier_0" },
        new SimpleKeyValue { KEY = "Tier_1", VALUE = "Tier_1" },
        new SimpleKeyValue { KEY = "Tier_2", VALUE = "Tier_2" },
        new SimpleKeyValue { KEY = "Tier_3", VALUE = "Tier_3" },
        new SimpleKeyValue { KEY = "Tier_4", VALUE = "Tier_4" },
        new SimpleKeyValue { KEY = "Tier_5", VALUE = "Tier_5" },
        new SimpleKeyValue { KEY = "Tier_6", VALUE = "Tier_6" }
    };
}

<script src="@Url.Content("~/Scripts/go.js")"></script>

    <header class="title-bar intel-border-yellow">
        <span class="title-bar-title">Manage Workflow Data</span>
        <span class="title-bar-subtitle">This tool will allow you to change or delete Workflows.</span>
    </header>



    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-intel" id="myTab" role="tablist">
            <li class="active"><a role="tab" href="#wfVis" data-toggle="tab">WorkFlow Visualization</a></li>
            <li><a role="tab" href="#wfStages" data-toggle="tab">WorkFlow Stages</a></li>
            <li><a role="tab" href="#wfData" data-toggle="tab">WorkFlow Data</a></li>
        </ul>
        
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="wfVis">
                <div style="padding: 0 15px 15px 15px;">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Workflow Filters</h3>
                                </div>
                                <div class="panel-body">
                                    <p>Select the Workflow Name, Deal Type and Role to view the Workflows.</p>
                                    <input id="cmboWfName" class="btnSmall"/>
                                    <input id="cmboDtName" class="btnSmall"/>
                                    <input id="cmboRole" class="btnSmall"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div id="sample" style="color: black; margin: 0;">
                                <div id="myDiagram" style="border: 1px solid black; width: 100%; height: 400px; background-color: #f7f8f9;"></div>
                                <div style="margin: 20px 0 0 0; display: none;">
                                    <button id="SaveButton" onclick="save()">Save</button>
                                    <button id="LoadButton" onclick="load()">Load</button>
                                    <br>
                                    <textarea id="mySavedModel" style="width: 100%; height: 150px; font-size: 10px; line-height: 1.2em; border: 0 solid black;" spellcheck="false">
                                        {
                                        "class": "go.GraphLinksModel",
                                        "nodeKeyProperty": "id",
                                        "nodeDataArray": [
                                        ],
                                        "linkDataArray": [
                                        ]}
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>


                    </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="wfStages">
                <div style="padding: 0 15px 15px 15px;">
                    @(Html.Kendo().Grid<WorkFlowStage>()
                      .Name("gridWorkFlowStage")
                      .Columns(columns =>
                      {
                          columns.Command(command => command.Destroy()).Width(80);
                          columns.Bound(d => d.WFSTG_MBR_SID).Width(100).Title("Id");
                          columns.Bound(d => d.WFSTG_CD).Width(140).Title("Stage Code");
                          columns.Bound(d => d.WFSTG_DESC).Width(140).Title("Stage Description");
                          columns.ForeignKey(d => d.WFSTG_TIER, tiers, "KEY", "VALUE").Width(100).Title("Stage Tier");
                          columns.ForeignKey(d => d.WFSTG_LOC, locations, "KEY", "VALUE").Width(100).Title("Location");
                          columns.ForeignKey(d => d.WFSTG_STS, status, "KEY", "VALUE").Width(100).Title("Status");
                          columns.Bound(d => d.WFSTG_ORD).Width(100).Title("Order By");
                          columns.Bound(d => d.ALLOW_REDEAL).Width(100).Title("Allow Redeal").ClientTemplate("# if (ALLOW_REDEAL) { #<i class='intelicon-passed-completed-solid' style='color: \\#C4D600'></i># } #");
                          columns.Bound(d => d.ACTV_IND).Width(100).Title("Active").ClientTemplate("# if (ACTV_IND) { #<i class='intelicon-passed-completed-solid' style='color: \\#C4D600'></i># } #");
                      })
                      .ToolBar(toolbar =>
                      {
                          toolbar.Create();
                          toolbar.Save();
                      })
                      .Editable(editable => editable.Mode(GridEditMode.InCell))
                      .Resizable(resize => resize.Columns(true))
                      .Groupable()
                      .Filterable()
                      .Scrollable(s => s.Height(500))
                      .Sortable()
                      .Pageable()
                      .DataSource(dataSource => dataSource
                          .Ajax()
                          .PageSize(100)
                          .ServerOperation(false)
                          .Events(events => events.Error("error_handler"))
                          .Model(model =>
                          {
                              model.Id(p => p.WFSTG_MBR_SID);
                              model.Field(p => p.WFSTG_MBR_SID).Editable(false);
                          })
                          .Create(update => update.Action("CreateStage", "WorkFlow").Type(HttpVerbs.Post))
                          .Read(read => read.Action("ReadStage", "WorkFlow"))
                          .Update(update => update.Action("UpdateStage", "WorkFlow").Type(HttpVerbs.Post))
                          .Destroy(update => update.Action("DestroyStage", "WorkFlow").Type(HttpVerbs.Post))
                      )
                    )
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="wfData">                
                <div style="padding: 0 15px 15px 15px;">
                    @(Html.Kendo().Grid<WorkFlow>()
                      .Name("gridWorkFlowItem")
                      .Columns(columns =>
                      {
                          columns.Command(command => command.Destroy()).Width(80);
                          columns.Bound(d => d.WF_SID).Width(50).Title("Id");
                          columns.Bound(d => d.WF_NAME).Width(100).Title("WF Name");
                          columns.Bound(d => d.ROLE_TIER_CD).Width(60).Title("Role Tier");
                          columns.Bound(d => d.WFSTG_ACTN_CD).Width(100).Title("Action");

                          columns.ForeignKey(d => d.DEAL_MBR_SID, dealTypes, "DEAL_TYPE_SID", "DEAL_TYPE_CD").Title("Deal Type").Width(100);
                          columns.ForeignKey(d => d.WFSTG_MBR_SID, stages, "WFSTG_MBR_SID", "WFSTG_CD").Title("Begin Stage").Width(140);
                          columns.ForeignKey(d => d.WFSTG_DEST_MBR_SID, stages, "WFSTG_MBR_SID", "WFSTG_CD").Title("End Stage").Width(140);

                          columns.Bound(d => d.TRKR_NBR_UPD).Width(100).Title("Update Tracker").ClientTemplate("# if (TRKR_NBR_UPD) { #<i class='intelicon-passed-completed-solid' style='color: \\#C4D600'></i># } #");
                          columns.Bound(d => d.ACTV_IND).Width(100).Title("Active").ClientTemplate("# if (ACTV_IND) { #<i class='intelicon-passed-completed-solid' style='color: \\#C4D600'></i># } #");

                      })
                      .ToolBar(toolbar =>
                      {
                          toolbar.Create();
                          toolbar.Save();
                      })
                      .Editable(editable => editable.Mode(GridEditMode.InCell))
                      .Resizable(resize => resize.Columns(true))
                      .Groupable()
                      .Filterable()
                      .Scrollable(s => s.Height(500))
                      .Sortable()
                      .Pageable()
                      .DataSource(dataSource => dataSource
                          .Ajax()
                          .PageSize(500)
                          .ServerOperation(false)
                          .Events(events => events.Error("error_handler"))
                          .Model(model =>
                          {
                              model.Id(p => p.WF_SID);
                              model.Field(p => p.WF_SID).Editable(false);
                          })
                          .Create(create => create.Action("Create", "WorkFlow").Type(HttpVerbs.Post))
                          .Read(read => read.Action("Read", "WorkFlow"))
                          .Update(update => update.Action("Update", "WorkFlow").Type(HttpVerbs.Post))
                          .Destroy(destroy => destroy.Action("Destroy", "WorkFlow").Type(HttpVerbs.Post))
                      )
                    )
                </div>
            </div>
        </div>

    </div>

<script>
    function error_handler(e) {
        util.error(e, "Unable to perform CRUD operations in Filter Attributes");
    }

    function resizeGrid() {
        var gridElement1 = $("#gridWorkFlowStage");
        var gridElement2 = $("#gridWorkFlowItem");
        var gridHeightOffset = 200;
        var footerOffset = 45;
        var minHeight = 200;
        var defHeight = 600;

        var dataArea = gridElement1.find(".k-grid-content");

        var newGridHeight = $(window).height() - gridHeightOffset;

        // if the window is too small... make the grid larger and invoke a scrollbar
        if (newGridHeight < minHeight) newGridHeight = defHeight;

        var newDataAreaHeight = newGridHeight - footerOffset;

        dataArea.height(newDataAreaHeight);

        gridElement1.height(newGridHeight);
        gridElement1.data("kendoGrid").refresh();
        gridElement2.height(newGridHeight);
        gridElement2.data("kendoGrid").refresh();
        $("#myDiagram").height(newGridHeight);
    }

    var combosLoaded = 0;
    function onDataBound() {
        combosLoaded++;
        if (combosLoaded === 3) {
            ShowWorkflow();
        }
    }

    function populateCombo(el, url) {
        el.kendoDropDownList({
            dataTextField: "KEY",
            dataValueField: "VALUE",
            dataSource: {
                transport: {
                    read: {
                        dataType: "json",
                        url: url,
                    }
                },
                schema: {
                    data: function (data) {
                        return data.Data[0];
                    }
                }
            },
            change: ShowWorkflow,
            dataBound: onDataBound
        });
    }

    function ShowWorkflow() {
        $.ajax({
            type: "POST",
            data: JSON.stringify({ wfName: $("#cmboWfName").val(), wfType: $("#cmboDtName").val(), roleType: $("#cmboRole").val() }),
            url: "/WorkFlow/GetWorkFlowLayout/",
            contentType: "application/json",
            error: function (result) {
                util.error(result, "Unable to load workflow data.");
                return false;
            },
            success: function (retdata, status) {
                $("#mySavedModel").val(kendo.stringify(retdata.Data[0]));
                load();
            }
        });
    }

    var myDiagram;

    function init() {
        var $ = go.GraphObject.make;  // for conciseness in defining templates

        myDiagram =
            $(go.Diagram, "myDiagram",  // must name or refer to the DIV HTML element
            {
                // start everything in the middle of the viewport
                initialContentAlignment: go.Spot.Center,
                // have mouse wheel events zoom in and out instead of scroll up and down
                "toolManager.mouseWheelBehavior": go.ToolManager.WheelZoom,
                // support double-click in background creating a new node
                "clickCreatingTool.archetypeNodeData": { text: "new node" },
                // enable undo & redo
                "undoManager.isEnabled": true
            });

        // when the document is modified, add a "*" to the title and enable the "Save" button
        myDiagram.addDiagramListener("Modified", function (e) {
            var button = document.getElementById("SaveButton");
            if (button) button.disabled = !myDiagram.isModified;
            var idx = document.title.indexOf("*");
            if (myDiagram.isModified) {
                if (idx < 0) document.title += "*";
            } else {
                if (idx >= 0) document.title = document.title.substr(0, idx);
            }
        });

        // define the Node template
        myDiagram.nodeTemplate =
            $(go.Node, "Auto",
                new go.Binding("location", "loc", go.Point.parse).makeTwoWay(go.Point.stringify),
                // define the node's outer shape, which will surround the TextBlock
                $(go.Shape, "RoundedRectangle",
                {
                    parameter1: 20,  // the corner has a large radius
                    fill: $(go.Brush, go.Brush.Linear, { 0: "rgb(254, 201, 0)", 1: "rgb(254, 162, 0)" }),
                    stroke: "black",
                    portId: "",
                    fromLinkable: true,
                    fromLinkableSelfNode: true,
                    fromLinkableDuplicates: true,
                    toLinkable: true,
                    toLinkableSelfNode: true,
                    toLinkableDuplicates: true,
                    cursor: "pointer"
                }),
                $(go.TextBlock,
                    {
                        font: "bold 11pt helvetica, bold arial, sans-serif",
                        editable: true  // editing the text automatically updates the model data
                    },
                    new go.Binding("text", "text").makeTwoWay())
            );

        // unlike the normal selection Adornment, this one includes a Button
        myDiagram.nodeTemplate.selectionAdornmentTemplate =
            $(go.Adornment, "Spot",
                $(go.Panel, "Auto",
                    $(go.Shape, { fill: null, stroke: "blue", strokeWidth: 2 }),
                    $(go.Placeholder)  // this represents the selected Node
                ),
                // the button to create a "next" node, at the top-right corner
                $("Button",
                    {
                        alignment: go.Spot.TopRight,
                        click: addNodeAndLink  // this function is defined below
                    },
                    $(go.Shape, "PlusLine", { desiredSize: new go.Size(6, 6) })
                ) // end button
            ); // end Adornment

        // clicking the button inserts a new node to the right of the selected node,
        // and adds a link to that new node
        function addNodeAndLink(e, obj) {
            var adorn = obj.part;
            e.handled = true;
            var diagram = adorn.diagram;
            diagram.startTransaction("Add State");

            // get the node data for which the user clicked the button
            var fromNode = adorn.adornedPart;
            var fromData = fromNode.data;
            // create a new "State" data object, positioned off to the right of the adorned Node
            var toData = { text: "new" };
            var p = fromNode.location.copy();
            p.x += 200;
            toData.loc = go.Point.stringify(p);  // the "loc" property is a string, not a Point object
            // add the new node data to the model
            var model = diagram.model;
            model.addNodeData(toData);

            // create a link data from the old node data to the new node data
            var linkdata = {
                from: model.getKeyForNodeData(fromData),  // or just: fromData.id
                to: model.getKeyForNodeData(toData),
                text: "transition"
            };
            // and add the link data to the model
            model.addLinkData(linkdata);

            // select the new Node
            var newnode = diagram.findNodeForData(toData);
            diagram.select(newnode);

            diagram.commitTransaction("Add State");

            // if the new node is off-screen, scroll the diagram to show the new node
            diagram.scrollToRect(newnode.actualBounds);
        }

        // replace the default Link template in the linkTemplateMap
        myDiagram.linkTemplate =
            $(go.Link,  // the whole link panel
                { curve: go.Link.Bezier, adjusting: go.Link.Stretch, reshapable: true },
                new go.Binding("points").makeTwoWay(),
                new go.Binding("curviness", "curviness"),
                $(go.Shape,  // the link shape
                { isPanelMain: true, stroke: "black", strokeWidth: 1 }),
                $(go.Shape,  // the arrowhead
                { toArrow: "standard", stroke: null }),
                $(go.Panel, "Auto",
                    $(go.Shape,  // the link shape
                    {
                        fill: $(go.Brush, go.Brush.Radial,
                        { 0: "rgb(240, 240, 240)", 0.3: "rgb(240, 240, 240)", 1: "rgba(240, 240, 240, 0)" }),
                        stroke: null
                    }),
                    $(go.TextBlock, "action???",  // the label
                        {
                            textAlign: "center",
                            font: "10pt helvetica, arial, sans-serif",
                            stroke: "black",
                            margin: 4,
                            editable: true  // editing the text automatically updates the model data
                        },
                        new go.Binding("text", "text").makeTwoWay())
                )
            );

        // read in the JSON-format data from the "mySavedModel" element
        load();
    }

    // Show the diagram's model in JSON format
    function save() {
        document.getElementById("mySavedModel").value = myDiagram.model.toJson();
        myDiagram.isModified = false;
    }
    function load() {
        myDiagram.model = go.Model.fromJson(document.getElementById("mySavedModel").value);
    }


    // Handle resize
    $(window).resize(function () {
        resizeGrid();
    });

    // When page loads... need to fire a resize to fix the grid to the container
    jQuery(document).ready(function () {

        // populate Combos
        populateCombo($("#cmboWfName"), "/WorkFlow/GetWorkFlowNames");
        populateCombo($("#cmboDtName"), "/WorkFlow/GetWorkFlowDealTypes");
        populateCombo($("#cmboRole"), "/WorkFlow/GetWorkFlowRoles");

        $("#SaveButton").kendoButton({
            click: save
        });

        $("#LoadButton").kendoButton({
            click: load
        });

        $("#tabstrip").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });

        window.setTimeout(function () {
            $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
                resizeGrid();
            });
            init();
            resizeGrid();
        }, 100);
    });
</script>

<style>
    .k-grid-content .k-icon {
        vertical-align: text-bottom;
    }

    .k-grid-content .k-button {
        padding: 0;
    }

    #contentwrapper > div {
        padding: 0;
    }

    #SaveButton, #LoadButton {
        font-size: 10px;
    }

    .btnSmall {
        width: 100%;
        margin-top: 8px;
    }
</style>


