<script src="/app/dashboard/config/widget.config.js"></script>
@{
    ViewBag.Title = "Dashboard";
}

<script>
    document.location.href = "/Dashboard#/portal";
</script>

<div ui-view="bodyView" class="fullHeight">
    <div class="jumbotron ng-scope">
        <div class="container">
            <h1><strong>My</strong> Deals</h1>
            <p class="lead">Dashboard.</p>
            <p>
                The Dashboard is Loading...
            </p>
        </div>
    </div>
</div>