@*<script src="~/Client/src/dist/dashboard.js" async></script>*@
<script src='@Scripts.Url("~/bundles/dashboard")' async></script>
@{ 
    ViewBag.Title = "Dashboard"; 
}
<script>
    document.location.href = document.location.hash == '' || document.location.hash.includes('Index') ? 'Dashboard#/portal' : document.location.href;
</script>
<div class="loading-screen">
    <div class="jumbotron ng-scope">
        <div class="container">
            <h1><strong>My Deals</strong></h1>
            <p class="lead">Dashboard</p>
            <br />
            <p class="load-text">Dashboard is loading please wait....</p>
            <img src="/images/loading022.gif" />
        </div>
    </div>
</div>
