@*<script src="~/Client/src/dist/admin.js" async></script>*@
<script src='@Scripts.Url("~/bundles/admin")' async></script>
@Styles.Render("~/css/_cache.css")
@{ ViewBag.Title = "Admin"; }
<div class="loading-screen">
    <div class="jumbotron ng-scope">
        <div class="container">
            <h1><strong>My Deals</strong></h1>
            <p class="lead">Admin</p>
            <br />
            <p class="load-text">Admin is loading please wait....</p>
            <img src="/images/loading022.gif" />
        </div>
    </div>
</div>
