
<script src="~/Client/src/dist/admin.js" async></script>
@Styles.Render("~/css/_cache.css")

@{
    ViewBag.Title = "Admin";
}
<div class="loading-screen">
    <div class="jumbotron ng-scope">
        <div class="container">
            <h1><strong>My</strong> Deals </h1><p class="lead"> Admin </p>
            <p>Admin is loading please wait...</p>
        </div>
    </div>
</div>
