@Styles.Render("~/css/_cache.css")

@{
    ViewBag.Title = "Admin";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h2>Admin</h2>
            <div class="col-md-2">
                <ul>
                    <li><a ui-sref="admin.cache">Cache Manager</a></li>
                    <li><a ui-sref="admin.constants">Constants</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <div ui-view></div>
        </div>
    </div>
</div>