<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OpaqueApp" value="Mydeals-Vistex" />
    <!-- When true, always run with logging enabled, when false, must pass /log to enable logging -->
    <add key="LogAll" value="True" />
    <add key="SupportDevelopers" value="michael.h.tipping@intel.com, saurav.kundu@intel.com" />
    <add key="SupportDevelopers_NONPROD" value="michael.h.tipping@intel.com, saurav.kundu@intel.com" />
    <add key="ENV" value="local" />
    <add key="ServiceURI" value="https://mydeals-dev.intel.com/api/DSA/" />
    <add key="MaximumAttempts" value="3" />
    <add key="FromEmail" value="MyDeals@intel.com" />
    <add key="vistexLogFilePath" value="Logs" />
    <!--<add key="MyDealsService" value="https://mydeals-cons01.intel.com"/>-->
    <add key="MyDealsService" value="http://localhost:55490" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="MyDealsConnectionString" providerName="System.Data.SqlClient" connectionString="Server=EG1RDMDBdev01.amr.corp.intel.com\RDMdev1,3180;Database=MyDeals;integrated security=SSPI;MultipleActiveResultSets=true;Min Pool Size=5;Max Pool Size=200;" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="mydeals.integrations@intel.com">
        <network host="smtpauth.intel.com" port="587" userName="SYS_SYSSYSBOSEMAILS" password="04601922222300Qa16209320615603P1506sQ2P9321303605Z151C00324514325202h913400z212924320G530930U02521307e20c24025eF21l20uZ1FO1O13620402315204H3917g21242130F091f" />
      </smtp>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>