<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServiceURI" value="https://mydeals-dev.intel.com/api/DSA/"/>
    <add key="MaximumAttempts" value="3"/>
    <add key="FromEmail" value="MyDeals@intel.com"/>
    <add key="ToEmails" value="ganthix.ganesh@intel.com"/>
  </appSettings>
  <connectionStrings>
    <add name="MyDealsConnectionString" providerName="System.Data.SqlClient" connectionString="Server=EG1RDMDBdev01.amr.corp.intel.com\RDMdev1,3180;Database=MyDeals;integrated security=SSPI;MultipleActiveResultSets=true;Min Pool Size=5;Max Pool Size=200;" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>