<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />

<div class="dealTools custom-deal-tools">
    <div *ngIf="isPublishable != true" class="tools-parent">
        <div class="dirtyTip" *ngIf="isModified" title="This deal has been modified"></div>
        <div class='grid-status fl gridStatusMarker {{dataItem.WF_STG_CD}}' title='{{stgFullTitleChar()}}' [ngStyle]="getStageBgColorStyle(stgFullTitleChar())" [innerHTML]="stgOneChar()"></div>

        <!-- Checkbox -->
        <div class='fl check-parent' *ngIf="(this.editable === true) && (!dataItem._parentCnt || dataItem._parentCnt <= 1) && (dataItem.WF_STG_CD !== 'Cancelled')
                && (!(isSalesForceDeal && (dataItem.WF_STG_CD === 'Offer' || dataItem.WF_STG_CD === 'Lost' || dataItem.WF_STG_CD === 'Won')))">
            <input type="checkbox" [(ngModel)]="dataItem.isLinked" class="grid-link-checkbox with-font lnkChk_{{dataItem.DC_PARENT_ID}}" id="lnkChk_{{dataItem.DC_PARENT_ID}}" />
            <label for="lnkChk_{{dataItem.DC_PARENT_ID}}" title="Check to apply changes to all checked rows"></label>
        </div>
        <!-- SalesForce Checkbox Disabled icon except for DA users -->
        <div class='fl md-icon' *ngIf="(isSalesForceDeal && (dataItem.WF_STG_CD === 'Offer' || dataItem.WF_STG_CD === 'Lost' || dataItem.WF_STG_CD === 'Won'))
               || dataItem.WF_STG_CD === 'Cancelled'">
            <i class="intelicon-minus-max" title="Check to apply changes to all checked rows IS DISABLED for IQR deals" style="font-size: 20px !important; padding: 0 8px 0 3px"></i>
        </div>

        <div *ngIf="dataItem.SDS_DEAL_RULES_OVERRIDE !== '' && dataItem.SDS_DEAL_RULES_OVERRIDE > 0">
            <i class="intelicon-priority-flag-outlined" title="SDS Override Applied" style="font-size: 20px !important; color: #ff0000;"></i>
        </div>

        <!-- Split group icon -->
        <div *ngIf="isSplitEnabled" class='fl'>
            <div class='fl md-icon rotate-270' *ngIf="(this.editable === true) && (!dataItem._parentCnt || dataItem._parentCnt > 1 && (dataItem.HAS_TRACKER !== '1' ||  (dataItem.HAS_TRACKER === '1' && (dataItem.WF_STG_CD === 'Active' || dataItem.WF_STG_CD === 'Won'))))">
                <i class="intelicon-org-chart" style="font-size: 20px !important; cursor: pointer; color: #00AEEF; margin-right: 9px;" (click)="openSplit()" *ngIf="!openSplitDialog" title="Split the Group"></i>
            </div>
            <div class='fl md-icon-disabled rotate-270' *ngIf="(this.editable === true) && (!dataItem._parentCnt || dataItem._parentCnt > 1 && (dataItem.HAS_TRACKER === '1' && (dataItem.WF_STG_CD === 'Draft' || dataItem.WF_STG_CD === 'Cancelled')))">
                <i class="intelicon-org-chart" style="font-size: 20px !important; color: #e7e7e8;" title="You cannot split this group while it is being re-dealed."></i>
            </div>
            <kendo-dialog *ngIf="openSplitDialog" (close)="closeDialogs()" [maxWidth]="485" class="toolsartho-css k-dialog-popup-design">
                <div class="dealToolsKendoAlert" style="padding: 2.4em;">
                    <h4 class="k-dialog-heading-four h4Style">Would you like to split the group?</h4>
                    <p>This will allow you to make changes in the Deal Editor.<br />Please note a new Row ID will be assigned for your reference.
                </div>
                <kendo-dialog-actions class="kendoAction deal-custom-deal-tools" style="height: auto;">
                    <button kendoButton (click)="split()" class="toolsOkBtn kendoBtn okBtn ok-btn-pop-up line-height-unset">OK</button>
                    <button kendoButton (click)="closeDialogs()" class="toolsCancelBtn kendoBtn cancelBtn cancel-btn-pop-up line-height-unset">CANCEL</button>
                </kendo-dialog-actions>
            </kendo-dialog>
        </div>

        <!-- Notes icon -->
        <div *ngIf="isCommentEnabled" class='fl'>
            <div class='fl md-icon' *ngIf="!dataItem.NOTES || dataItem.NOTES === ''">
                <i class='intelicon-discussion-outlined' style="font-size: 20px !important; cursor: pointer; color: #00AEEF;" title="Click to add a comment" *ngIf="!openNotesDialog" (click)="openNotes()"></i>
            </div>
            <div class='fl md-icon' *ngIf="!!dataItem.NOTES && dataItem.NOTES !== ''">
                <i class='intelicon-discussion-solid' style="font-size: 20px !important; cursor: pointer; color: #003C71;" title="{{dataItem.NOTES}}" *ngIf="!openNotesDialog" (click)="openNotes()"></i>
            </div>
            <kendo-dialog class="toolsartho-css" *ngIf="openNotesDialog" (close)="closeDialogs()" [width]="500" [height]="350">
                <div class="notesContent">
                    <div class="notesText">Deal Comments:</div>
                    <textarea class="textAreaDesigns" [(ngModel)]="notes"></textarea>
                </div>
                <kendo-dialog-actions style="padding: 0px;">
                    <div kendoButton class="k-button supplier-changes" (click)="saveNotes()">OK</div>
                </kendo-dialog-actions>
            </kendo-dialog>
        </div>

        <!-- History icon ng-attr-title="Click to view deal history"-->
        <div class='fl md-icon' *ngIf="isHistoryEnabled">
            <i class="intelicon-history" style="font-size: 20px !important;" title="View Deal History" (click)="clkHistoryIcon(dataItem)"></i>
        </div>

        <!-- File Attachments icon -->
        <div class='fl md-icon' *ngIf="isFileAttachmentEnabled || dataItem._settings.C_ADD_ATTACHMENTS">
            <i [ngClass]="getFileIcon(dataItem)" [ngStyle]="getFileStyle(dataItem)" title="{{getFileTitle(dataItem)}}" style="font-size: 20px !important;" (click)="clkFileIcon(dataItem)"></i>
        </div>

        <!-- Quote Letter icon -->
        <div class='fl md-icon' *ngIf="isQuoteLetterEnabled">
            <i *ngIf="showQuote(dataItem)" class='intelicon-quote' style="font-size: 20px !important; cursor: pointer; color: #00AEEF;" title="Click to download Quote Letter" (click)="downloadQuoteLetter()"></i>
        </div>
        <div class='fl md-icon-disabled' *ngIf="isQuoteLetterEnabled">
            <i *ngIf="!showQuote(dataItem)" class='intelicon-quote' style="font-size: 20px !important; cursor: default; color: #e7e7e8;" title="Quote Letter not available"></i>
        </div>

        <!-- SalesForce icon (ng-attr-title="Deal created in IQR")-->
        <div class='fl md-icon' *ngIf="isSalesForceDeal">
            <i class="intelicon-cloud-outlined" style="font-size: 20px !important;" title="IQR Deal"></i>
        </div>

        <!-- Cancel/Rollback/Delete icon -->
        <div class='fl md-icon' *ngIf="isDeleteEnabled && editable === true && (dataItem._parentCnt === undefined || dataItem._parentCnt <= 1)">
            <i *ngIf="(!dataItem._actionsPS || !dataItem._actionsPS.Cancel) && dataItem.WF_STG_CD !== 'Cancelled'" class='intelicon-trash-solid' style="font-size: 20px !important; color: #e7e7e8;"
               title="Unable to delete this deal at this stage"></i>
            <i *ngIf="!!dataItem._actionsPS && !!dataItem._actionsPS.Cancel && dataItem._actionsPS.Cancel && dataItem.WF_STG_CD !== 'Cancelled' && !dataItem.TRKR_NBR.hasOwnProperty('20___0')" class='intelicon-trash-solid' style="font-size: 20px !important; cursor: pointer;"
               title="Click to delete this deal" (click)="openDeleteDialog()"></i>
            <i *ngIf="!!dataItem._actionsPS && !!dataItem._actionsPS.Cancel && dataItem._actionsPS.Cancel && dataItem.WF_STG_CD !== 'Cancelled' && dataItem.TRKR_NBR.hasOwnProperty('20___0') && dataItem.IN_REDEAL !== '1' && dataItem.PROGRAM_PAYMENT === 'Backend'" class='intelicon-no-access' style="font-size: 20px !important; cursor: pointer;"
               title="Click to Cancel this deal" (click)="openCancelDialog()"></i>
            <kendo-dialog *ngIf="alertDelete" (close)="closeDialogs()" [maxWidth]="440" [height]="245">
                <div class="dealToolsKendoAlert" style="padding: 2.4em;">
                    <h4 class="h4Style" style="margin-top: 22px !important; font-size: 24px !important;">Unable to Delete</h4>
                    <p>You cannot delete multiple deals as a single operation.<br>Please uncheck all deals before trying to delete deals.</p>
                </div>
                <kendo-dialog-actions style=" padding: 0;">
                    <div kendoButton class="k-button cancelDelete toolsCancelDelete" (click)="closeDialogs()">OK</div>
                </kendo-dialog-actions>
            </kendo-dialog>
            <kendo-dialog *ngIf="confirmDelete" (close)="closeDialogs()" [maxWidth]="572" class="toolsartho-css k-dialog-popup-design">
                <div style="padding: 2.4em; font-family:Intel Clear,Helvetica Neue,Helvetica,Arial,sans-serif;">
                    <h4 class="k-dialog-heading-four h4Style">Are you sure that you want to delete this deal?</h4>
                    <p>This will also remove the deal from the Pricing Editor.</p>
                </div>
                <kendo-dialog-actions style="padding: 0; display: block !important; ">
                    <button kendoButton class="k-button ok-btn-pop-up line-height-unset" style="width: 50% !important;" (click)="deletePricingTableRow()">OK</button>
                    <button kendoButton class="k-button cancelDelete cancel-btn-pop-up line-height-unset" style="width: 50% !important;" (click)="closeDialogs()">CANCEL</button>
                </kendo-dialog-actions>
            </kendo-dialog>
            <kendo-dialog *ngIf="alertCancel" (close)="closeDialogs()" [maxWidth]="440" [height]="245">
                <div class="dealToolsKendoAlert" style="padding: 2.4em;">
                    <h4 class="h4Style" style="margin-top: 22px !important; font-size: 24px !important;">Unable to Cancel</h4>
                    <p>You cannot cancel multiple deals as a single operation.<br>Please uncheck all deals before trying to cancel deals.</p>
                </div>
                <kendo-dialog-actions style=" padding: 0;">
                    <div kendoButton class="k-button cancelDelete" (click)="closeDialogs()">OK</div>
                </kendo-dialog-actions>
            </kendo-dialog>
            <kendo-dialog *ngIf="confirmCancel" (close)="closeDialogs()" [maxWidth]="572" class="toolsartho-css k-dialog-popup-design">
                <div style="padding: 2.4em; font-family:Intel Clear,Helvetica Neue,Helvetica,Arial,sans-serif;">
                    <h4 class="h4Style" style="margin-top: 22px !important; font-size: 24px !important; margin-bottom: 11px !important;">Are you sure that you want to cancel this deal?</h4>
                    <p>This will set the deal stage to Cancelled.</p>
                </div>
                <kendo-dialog-actions style="padding: 0; display: block !important; ">
                    <button kendoButton class="k-button ok-btn-pop-up line-height-unset" style="width: 50% !important;" (click)="actionWipDeal()">OK</button>
                    <button kendoButton class="k-button cancelDelete cancel-btn-pop-up line-height-unset" style="width: 50% !important;" (click)="closeDialogs()">CANCEL</button>
                </kendo-dialog-actions>
            </kendo-dialog>
            <i *ngIf="!!dataItem._actionsPS && !!dataItem._actionsPS.Cancel && dataItem._actionsPS.Cancel && dataItem.WF_STG_CD === 'Hold' && dataItem.HAS_TRACKER === '1' && dataItem.IN_REDEAL === '1'" class='fa fa-undo' style="font-size: 20px !important; color: #e7e7e8;"
               title="Remove deal from Hold before Rollback is allowed"></i>
            <i *ngIf="!!dataItem._actionsPS && !!dataItem._actionsPS.Cancel && dataItem._actionsPS.Cancel && (dataItem.WF_STG_CD !== 'Cancelled' && dataItem.WF_STG_CD !== 'Hold') && dataItem.HAS_TRACKER === '1' && dataItem.IN_REDEAL === '1' && !confirmRollback && !alertRollback"
               class='fa fa-undo' style="font-size: 20px !important; cursor: pointer;" title="Click to Rollback this deal" (click)="openRollBackDialog()"></i>
            <kendo-dialog *ngIf="alertRollback" (close)="closeDialogs()" [maxWidth]="440" [height]="245">
                <div style="padding: 2.4em;">
                    <h4 class="h4Style" style="margin-top: 22px !important; font-size: 24px !important;">Unable to Rollback</h4>
                    <p>You cannot rollback multiple deals as a single operation.<br>Please uncheck all deals before trying to rollback deals.</p>
                </div>
                <kendo-dialog-actions style=" padding: 0;">
                    <div kendoButton class="k-button cancelDelete" (click)="closeDialogs()">OK</div>
                </kendo-dialog-actions>
            </kendo-dialog>
            <kendo-dialog *ngIf="confirmRollback" (close)="closeDialogs()" [maxWidth]="685" class="toolsartho-css k-dialog-popup-design">
                <div style="padding: 2.4em; font-family:Intel Clear,Helvetica Neue,Helvetica,Arial,sans-serif;">
                    <h4 class="h4Style" style="margin-top: 22px !important; font-size: 24px !important; margin-bottom: 11px !important;">Would you like to undo this deals current re-deal action?</h4>
                    <p>This will remove the deal edits from the Pricing Editor also.</p>
                </div>
                <kendo-dialog-actions style="padding: 0; display: block !important; ">
                    <button kendoButton class="k-button ok-btn-pop-up line-height-unset" style="width: 50% !important;" (click)="rollbackPricingTableRow()">OK</button>
                    <button kendoButton class="k-button cancelDelete cancel-btn-pop-up line-height-unset" style="width: 50% !important;" (click)="closeDialogs()">CANCEL</button>
                </kendo-dialog-actions>
            </kendo-dialog>
        </div>
        <div class='fl md-icon-disabled' *ngIf="isDeleteEnabled && editable === true && (!!dataItem._parentCnt && dataItem._parentCnt > 1)">
            <i class='intelicon-trash-solid' style="font-size: 20px !important; color: #e7e7e8;" title="This deal shares the same pricing table row as other deals.  You will need to split the group or delete the deal from the Pricing Table."></i>
        </div>

        <!-- Hold icon -->
        <div class='fl md-icon' *ngIf="(dataItem._parentCnt === undefined || dataItem._parentCnt <= 1) && getHoldValue(dataItem) !== 'NoShowHold' && isTenderContract == false && getHoldVisibility(dataItem) == false">
            <i [ngClass]='getHoldIcon(dataItem)' [ngStyle]="getHoldStyle(dataItem)" title="{{getHoldTitle(dataItem)}}" style="font-size: 20px !important;" (click)="clkHoldIcon(dataItem)" *ngIf="!openHoldDialog && !openUnHoldDialog"></i>
            <kendo-dialog class="dt-on-hold k-dialog-popup-design" *ngIf="openHoldDialog" (close)="closeDialogs()" [maxWidth]="572">
                <div class="dealToolsKendoAlert" style="padding: 2.4em; font-family:Intel Clear,Helvetica Neue,Helvetica,Arial,sans-serif;">
                    <h4 class="h4Style" style="margin-top: 22px !important; font-size: 24px !important; margin-bottom: 11px !important;">Would you like to place the {{dealTxt}} on hold?</h4>
                    <p>This will keep the {{dealTxt}} in the Pricing Table, but it will not get promoted to active or get a tracker number for payment.</p>
                </div>
                <kendo-dialog-actions style="padding: 0; display: block !important; ">
                    <button kendoButton class="k-button ok-btn-pop-up line-height-unset" (click)="actionHoldWipDeals(dataItem,'Hold')">OK</button>
                    <button kendoButton class="k-button cancelDelete cancel-btn-pop-up line-height-unset" (click)="closeDialogs()">CANCEL</button>
                </kendo-dialog-actions>
            </kendo-dialog>
            <kendo-dialog class="dt-on-hold k-dialog-popup-design" *ngIf="openUnHoldDialog" (close)="closeDialogs()" [maxWidth]="572">
                <div class="dealToolsKendoAlert" style="padding: 2.4em; font-family:Intel Clear,Helvetica Neue,Helvetica,Arial,sans-serif;">
                    <h4 class="h4Style" style="margin-top: 22px !important; font-size: 24px !important; margin-bottom: 11px !important;">Would you like to take the {{dealTxt}} off hold?</h4>
                    <p>This will enable the {{dealTxt}} in the Pricing Table and will enable it to get approved.</p>
                </div>
                <kendo-dialog-actions style="padding: 0; display: block !important; ">
                    <button kendoButton class="k-button ok-btn-pop-up line-height-unset" (click)="actionHoldWipDeals(dataItem,'Approve')">OK</button>
                    <button kendoButton class="k-button cancelDelete cancel-btn-pop-up line-height-unset" (click)="closeDialogs()">CANCEL</button>
                </kendo-dialog-actions>
            </kendo-dialog>
        </div>
        <div class='fl md-icon-disabled' *ngIf="(!!dataItem._parentCnt && dataItem._parentCnt > 1) && isTenderContract == false ">
            <i class='fa fa-hand-paper-o' style="font-size: 20px !important; color: #e7e7e8;" title="This deal shares the same pricing table row as other deals.  You will need to split the group before you can place this on hold."></i>
        </div>

        <div class='clearboth'></div>
    </div>
</div>
<kendo-window class="searchingStage" *ngIf="windowOpened" (close)="windowClose()" (click)="singleClick()" [minWidth]="windowMinWidth" [minHeight]="windowHeight" [width]="windowWidth" [top]="windowTop" [left]="windowLeft" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <kendo-window-titlebar>
        <div class="k-window-title arrow-window-title">Results</div><button kendoWindowCloseAction class="close-icon"></button>
    </kendo-window-titlebar>
    <message-board-dialog [data]="messages" [contractData]="contractData" [isDealTools]="true"></message-board-dialog>
</kendo-window>
<loading-panel-angular [show]="isBusy" [header]="isBusyMsgTitle" [description]="isBusyMsgDetail" [msgType]="isBusyType" [isShowFunFact]="isBusyShowFunFact" class="dealToolsOverlay"></loading-panel-angular>