kendo-popup .k-list-filter > .k-icon {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
}

kendo-popup input.k-textbox {
    padding: 2px 0.3em;
    height: 26px !important;
    text-indent: 0.8em;
    line-height: 1.6em;
}

    kendo-popup input.k-textbox:focus, kendo-popup input.k-textbox:focus-within {
        box-shadow: none !important;
        outline: none !important;
        border-color: rgb(230, 230, 230);
    }

kendo-dropdownlist.k-dropdown-design:focus,
kendo-dropdownlist.k-dropdown-design:focus-within {
    background-color: transparent;
}