kendo-popup .k-list-filter>.k-icon {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
}

kendo-popup input.k-textbox {
    padding: 2px 0.3em;
    height: 26px !important;
    text-indent: 0.8em;
    line-height: 1.6em;
}

kendo-popup input.k-textbox:focus,
kendo-popup input.k-textbox:focus-within {
    box-shadow: none !important;
    outline: none !important;
    border-color: rgb(230, 230, 230);
}

kendo-dropdownlist.k-dropdown-design:focus,
kendo-dropdownlist.k-dropdown-design:focus-within {
    background-color: transparent;
}

.k-item.k-state-focused {
    color: #444;
    background-color: #ebebeb;
}

.divisionblock.k-multiselect .k-multiselect-wrap li.k-button span {
    text-transform: uppercase;
    font-size: 11px;
}

kendo-multiselect.k-widget.k-multiselect[valuefield=CUST_SID] li span {
    font-size: 11px;
    white-space: nowrap;
}

kendo-multiselect.k-widget.k-multiselect[valuefield=CUST_SID] ul {
    min-width: 234px;
}