.k-dialog-popup-design .k-window .k-content {
    padding: 2.4em;
    font-family: "Intel Clear","Helvetica Neue",Helvetica,Arial,sans-serif
}

    .k-dialog-popup-design .k-window .k-content p {
        margin-bottom: 0
    }

.k-dialog-popup-design .k-window kendo-dialog-actions {
    padding: 0;
    width: auto;
    border-radius: 0
}

.k-dialog-popup-design .k-window {
    border: none;
    border-radius: 0;
    border-radius: 0 !important
}

    .k-dialog-popup-design .k-window kendo-dialog-actions .ok-btn-pop-up {
        padding: 20px 0 !important;
        border-radius: 0 !important;
        width: 50%;
        font-size: 15px;
        font-family: "Intel Clear","Helvetica Neue",Helvetica,Arial,sans-serif;
        border-color: var(--light-blue) !important;
        background-color: var(--light-blue) !important;
        color: #fff !important
    }

    .k-dialog-popup-design .k-window kendo-dialog-actions .cancel-btn-pop-up {
        padding: 20px 0 !important;
        border-radius: 0 !important;
        width: 50%;
        margin-left: -7px;
        font-size: 15px;
        font-family: "Intel Clear","Helvetica Neue",Helvetica,Arial,sans-serif;
        border-color: #fafafa !important;
        background-color: #fafafa !important;
        color: #212529 !important
    }

    .k-dialog-popup-design .k-window kendo-dialog-actions .ok-btn-pop-up:hover {
        color: #fff !important;
        border-color: #0071c5 !important;
        background-color: #0071c5 !important
    }

    .k-dialog-popup-design .k-window kendo-dialog-actions .cancel-btn-pop-up:hover {
        color: #444 !important;
        border-color: #ebebeb !important;
        background-color: #ebebeb !important
    }

.k-dialog-popup-design .k-window {
    border: none;
    border-radius: 0
}

.oppo-grids kendo-grid .k-grid-header table thead tr th {
    font-size: 12px !important;
    font-weight: 600
}

    .oppo-grids kendo-grid .k-grid-header table thead tr th .k-link:hover {
        color: #1a3e6f !important;
        background-color: transparent !important
    }

.new-now-wrap.oppo-grids kendo-grid .k-grid-header table thead tr th span.k-cell-inner .k-link, .new-now-wrap.oppo-grids kendo-grid .k-grid-header table thead tr th span.k-cell-inner .k-link .k-column-title {
    display: block;
    width: 100%;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis
}

.oppo-grids.physics-css kendo-grid.k-grid .k-grid-header-wrap table thead tr th {
    padding-right: 1.5rem;
    vertical-align: top;
    border-color: #ccc
}

    .oppo-grids.physics-css kendo-grid.k-grid .k-grid-header-wrap table thead tr th .k-cell-inner span.k-icon.k-i-filter {
        font-size: 12px
    }

    .oppo-grids.physics-css kendo-grid.k-grid .k-grid-header-wrap table thead tr th .k-cell-inner .k-grid-filter {
        position: relative;
        top: 2px;
        color: var(--light-blue)
    }

    .oppo-grids.physics-css kendo-grid.k-grid .k-grid-header-wrap table thead tr th span.k-cell-inner .intelicon-protection-solid {
        font-size: 14px !important;
        padding-top: .275rem
    }

kendo-slider.before-ques .k-slider-wrap .k-slider-track-wrap ul li span.k-label:before {
    content: 'Q'
}

kendo-slider.before-ques .k-slider-wrap .k-slider-track-wrap ul li span.k-label {
    position: relative;
    display: inline-block;
    padding-top: 12px;
    font-size: 12px
}

kendo-multiselect.divineo-one .k-multiselect-wrap kendo-taglist ul li span {
    font-size: 12px;
    color: #444
}

    kendo-multiselect.divineo-one .k-multiselect-wrap kendo-taglist ul li span.k-select {
        display: none !important
    }

kendo-multiselect.divineo-one .k-multiselect-wrap kendo-taglist ul li {
    padding-right: 20px !important;
    border-radius: 25px;
    border-color: #fafafa;
    background-color: #fafafa;
    color: #444
}

    kendo-multiselect.divineo-one .k-multiselect-wrap kendo-taglist ul li:hover {
        border-color: #e4e7eb;
        background-color: #e4e7eb
    }

kendo-multiselect.divineo-one .k-multiselect-wrap span.k-icon.k-clear-value.k-i-close {
    display: none !important
}

kendo-multiselect.divineo-one:hover .k-multiselect-wrap span.k-icon.k-clear-value.k-i-close {
    display: flex !important;
    border-radius: 50%;
    background-color: #dbdbdb;
    height: 15px;
    width: 15px;
    top: 9px;
    right: 7px;
    color: #444;
    padding-top: 2px;
    opacity: 1
}

kendo-multiselect.divineo-one .k-multiselect-wrap kendo-taglist ul li span span.k-icon.k-i-caret-alt-down {
    position: absolute;
    right: 4px;
    top: 5px
}

kendo-multiselect.divineo-one.k-state-focused .k-multiselect-wrap span.k-icon.k-clear-value.k-i-close {
    display: inline-flex !important;
    background: #dbdbdb;
    width: 15px;
    height: 15px;
    top: 10px;
    right: 7px;
    border-radius: 50%;
    color: var(--light-blue);
    opacity: 1
}

kendo-multiselect.divineo-one.k-state-focused .k-multiselect-wrap kendo-taglist ul li span span.k-icon.k-i-caret-alt-down {
    color: var(--light-blue)
}

.dashcusstyle.k-multiselect .k-multiselect-wrap {
    border-radius: 0 !important;
    border-color: #f0f0f0 !important;
    box-shadow: none !important;
    border-bottom: none !important;
    padding: 0 !important
}

    .dashcusstyle.k-multiselect .k-multiselect-wrap .k-button:last-child {
        font-family: 'Intel Clear' !important;
        font-size: 12px !important;
        background: #fafafa !important;
        border-color: #fafafa !important;
        border-radius: 15px !important
    }

        .dashcusstyle.k-multiselect .k-multiselect-wrap .k-button:last-child:hover {
            background: #ced4da6b !important
        }

kendo-combobox.contract-details-customer .k-dropdown-wrap.k-state-focused .k-clear-value {
    display: inline-flex !important;
    background: #dbdbdb;
    width: 15px;
    height: 15px;
    top: 9px;
    right: 7px;
    border-radius: 50%;
    color: var(--light-blue);
    opacity: 1
}

kendo-combobox.contract-details-customer .k-dropdown-wrap.k-state-focused .k-select .k-i-arrow-s {
    color: var(--light-blue)
}

kendo-combobox.contract-details-customer .k-dropdown-wrap kendo-searchbar .k-input {
    height: 34px
}

kendo-combobox.contract-details-customer:hover .k-dropdown-wrap .k-clear-value {
    border-radius: 50%;
    background-color: #dbdbdb;
    width: 15px;
    height: 15px;
    top: 9px;
    right: 7px;
    opacity: 1;
    display: inline-flex !important
}

kendo-combobox.contract-details-customer .k-dropdown-wrap .k-clear-value {
    display: none
}

.date-calendar-pop-up .mat-dialog-container {
    padding: 0;
    border-radius: 0
}

    .date-calendar-pop-up .mat-dialog-container .modal-header {
        padding: 15px;
        border-bottom: 1px solid #f4f4f4
    }

    .date-calendar-pop-up .mat-dialog-container .modal-body {
        position: relative;
        padding: 15px
    }

    .date-calendar-pop-up .mat-dialog-container .modal-footer {
        padding: 15px;
        border-top: 1px solid #f4f4f4
    }

.mat-remove-space .mat-dialog-container {
    padding: 0;
    border-radius: 0
}

    .mat-remove-space .mat-dialog-container .modal-header {
        padding: 15px;
        border-bottom: 1px solid #f4f4f4
    }

    .mat-remove-space .mat-dialog-container .modal-body {
        position: relative;
        padding: 15px
    }

    .mat-remove-space .mat-dialog-container .modal-footer {
        padding: 15px;
        border-top: 1px solid #f4f4f4
    }

kendo-tabstrip.new-allDeals .k-tabstrip-items-wrapper {
    background: #f9f9f9;
    position: relative;
    width: 100%
}

    kendo-tabstrip.new-allDeals .k-tabstrip-items-wrapper ul {
        background: #f9f9f9 !important
    }

        kendo-tabstrip.new-allDeals .k-tabstrip-items-wrapper ul li {
            background: #f3f3f3 !important;
            border-color: #dee2e6;
            border-bottom: none
        }

            kendo-tabstrip.new-allDeals .k-tabstrip-items-wrapper ul li span {
                color: #003C71 !important;
                font-weight: 500
            }

                kendo-tabstrip.new-allDeals .k-tabstrip-items-wrapper ul li span.badge.error {
                    color: #fff !important
                }

                kendo-tabstrip.new-allDeals .k-tabstrip-items-wrapper ul li span.badge {
                    border-radius: 10px !important
                }

            kendo-tabstrip.new-allDeals .k-tabstrip-items-wrapper ul li.k-state-active {
                background: #fff !important
            }

                kendo-tabstrip.new-allDeals .k-tabstrip-items-wrapper ul li.k-state-active span {
                    color: var(--light-blue) !important
                }

.oppo-grids kendo-grid .k-grid-aria-root .k-grid-header table thead tr th span.k-cell-inner {
    align-items: flex-start;
    font-size: 12px !important;
    font-weight: 600 !important;
    text-transform: capitalize !important;
    color: #1a3e6f !important;
    font-family: "Intel Clear","Helvetica Neue",Helvetica,Arial,sans-serif !important
}

.oppo-grids.space-table-all kendo-grid .k-grid-aria-root .k-grid-header table thead tr th {
    background-color: #efefef;
    vertical-align: middle;
    border-color: #dee2e6
}

.oppo-grids.space-table-all kendo-grid .k-grid-aria-root .k-grid-header table {
    height: 100%
}

.oppo-grids.space-table-all .k-grid .k-grid-header-locked, .oppo-grids.space-table-all .k-grid .k-grid-content-locked td, .oppo-grids.space-table-all .k-grid .k-grid-content-locked {
    border-color: #dee2e6
}

kendo-window.k-wind-design {
    border: none
}

    kendo-window.k-wind-design kendo-window-titlebar .k-window-actions button {
        height: 25px;
        width: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 0
    }

    kendo-window.k-wind-design kendo-window-titlebar {
        background: #0071c5 !important;
        color: #fff !important
    }

        kendo-window.k-wind-design kendo-window-titlebar .k-window-actions button.k-button-icon:hover .k-i-close {
            color: #fff !important;
            opacity: 1 !important
        }

.text-box-design.k-textbox:focus-within {
    border-color: #f0f0f0 !important;
    box-shadow: 0 2px 6px rgb(0 0 0 /20%),0 2px 3px rgb(0 0 0 / 5%) !important
}

.loader-fixes-load .ss-loading-overlay {
    background: rgba(255,255,255,.5);
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0
}

.loader-top-inc .ss-loading-overlay {
    top: 20px
}

kendo-dialog.blue-popup-design .k-window-content .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.5px
}

    kendo-dialog.blue-popup-design .k-window-content .modal-header .modal-title {
        margin: 0 !important;
        line-height: 1.5 !important;
        font-size: 20px !important;
        font-family: "Intel Clear","Helvetica Neue",Helvetica,Arial,sans-serif !important;
        font-weight: 500 !important
    }

kendo-dialog.blue-popup-design .k-window {
    border: none !important
}

kendo-dialog.blue-popup-design .k-window-content .modal-body {
    position: relative;
    padding: 15px
}

.cancel-yellow {
    background-color: #f39c12 !important;
    border-color: #e08e0b !important;
    color: #0071c5 !important
}

    .cancel-yellow:hover {
        color: #0071c5 !important;
        background-color: #e08e0b !important;
        border-color: #b1babf !important
    }

.k-dialog-popup-design .line-height-unset.k-button {
    line-height: unset !important
}

.k-dialog-heading-four {
    margin-top: 22px;
    font-size: 24px
}

kendo-dropdownlist.k-dropdown-design {
    background-color: #fafafa;
    border-color: #fafafa;
    border-radius: 2px;
    box-shadow: none;
}

    kendo-dropdownlist.k-dropdown-design span.k-select .k-icon {
        color: #727578;
        opacity: .45;
    }

    kendo-dropdownlist.k-dropdown-design:hover {
        background-color: #fff;
        border-color: #f5f5f5;
        box-shadow: 0 2px 6px rgb(0 0 0 / 20%), 0 2px 3px rgb(0 0 0 / 5%);
    }

        kendo-dropdownlist.k-dropdown-design:hover span.k-select .k-icon {
            color: #727578;
            opacity: 1;
        }

            kendo-dropdownlist.k-dropdown-design:hover span.k-select .k-icon:hover {
                color: var(--light-blue)
            }

kendo-textbox.k-textbox-design {
    border-color: #e6e6e6;
}

    kendo-textbox.k-textbox-design .k-input:hover {
        border-color: #f5f5f5;
        box-shadow: 0 2px 6px rgb(0 0 0 / 20%), 0 2px 3px rgb(0 0 0 / 5%);
        background-color: #fff;
        border-radius: 0.25rem;
    }

    kendo-textbox.k-textbox-design:focus,
    kendo-textbox.k-textbox-design:focus-within,
    k-textbox.k-textbox-design.ng-invalid.ng-touched:focus,
    k-textbox.k-textbox-design.ng-invalid.ng-touched:focus-within {
        box-shadow: none !important;
    }

    kendo-textbox.k-textbox-design:focus,
    kendo-textbox.k-textbox-design:focus-within {
        border-color: #e6e6e6;
    }

.k-numberbox-design.k-numerictextbox .k-numeric-wrap {
    color: #495057 !important;
    border-color: #f0f0f0 !important;
    font-family: 'Intel Clear'
}

    .k-numberbox-design.k-numerictextbox .k-numeric-wrap:hover {
        background-color: none !important;
        box-shadow: 0 2px 6px rgb(0 0 0 / 20%),0 2px 3px rgb(0 0 0 / 5%) !important;
        color: #444 !important
    }

    .k-numberbox-design.k-numerictextbox .k-numeric-wrap.k-state-focused {
        border-color: #e7e7e7 !important;
        background-color: #ffffff !important;
        box-shadow: none !important
    }

.k-numberbox-design.k-numerictextbox .k-select {
    color: #727578ed !important;
    background-color: transparent !important;
    border: none !important;
}

.k-numberbox-design.k-numerictextbox .k-link .k-icon:hover {
    color: #444 !important
}

.k-numberbox-design.k-numerictextbox .k-link:hover {
    background: none !important
}

.k-numberbox-design input:focus-within, .dateboxborder:focus-within {
    border-color: #ced4da6b !important;
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%),0 2px 3px rgb(0 0 0 / 5%) !important
}

.k-numberbox-design.k-numerictextbox:focus-within {
    border-color: #f0f0f0 !important;
    box-shadow: 0 2px 6px rgb(0 0 0 /20%),0 2px 3px rgb(0 0 0 / 5%) !important
}

.k-numberbox-design.k-numberbox-design input.k-input {
    height: 100%;
}

.k-numberbox-design.k-numerictextbox .k-numeric-wrap.k-state-focused .k-select .k-icon {
    color: var(--light-blue);
}

.k-numberbox-design.k-numerictextbox .k-numeric-wrap.k-state-focused .k-select {
    color: #727578ed !important;
    background-color: #ececec !important;
    border: none !important;
}

kendo-combobox.cd-input-bottom {
    border-bottom: 2px solid #0071c5
}

    kendo-combobox.cd-input-bottom:focus-within {
        border-bottom: 2px solid #0071c5 !important
    }

.k-calendar-header .k-calendar-title:hover {
    color: #424242 !important
}

.k-window-titlebar {
    background-color: #0071c5 !important;
    color: #fff !important;
}
.system_price_DE .mat-dialog-container {
    padding: 0px !important;
}
.admin-end-customer .mat-dialog-container {
    width: 860px !important;
    left: 210px !important;
    position: relative !important;
    border-radius: 0px !important;
    padding: 0px !important;
}
