.ok-btn-pop-up{border-color:var(--light-blue)!important;background-color:var(--light-blue)!important;color:#fff!important}.cancel-btn-pop-up{border-color:#fafafa!important;background-color:#fafafa!important;color:#212529!important}.ok-btn-pop-up:hover{color:#fff!important;border-color:#0071c5!important;background-color:#0071c5!important}.cancel-btn-pop-up:hover{color:#444!important;border-color:#ebebeb!important;background-color:#ebebeb!important}.border-blue-design{border-bottom:3px solid rgb(0,113,197)!important;border-bottom-color:rgb(0,113,197)!important}.kendo-grid-buttons.oppo-grids.physics-css.there-grid kendo-grid .k-grid-aria-root .k-grid-header table thead tr th span.k-cell-inner{align-items:flex-start}.k-family{font-family:'intelicon'!important;font-size:25px}.divisionblock .k-list>.k-state-hover,.divisionblock .k-list>.k-state-selected.k-state-hover{background-color:#ebebeb!important;border-color:#ebebeb!important}.divisionblock.k-multiselect .k-multiselect-wrap li.k-button,.k-dropdowntree .k-multiselect-wrap li.k-button{float:left;color:#444!IMPORTANT;font-size:12px;border:none;border-radius:1.071em!important;margin:3px 0 3px 3px!important;padding:0 1.6em 0 .857em!important;line-height:1.86em!important;background:#fafafa!important;font-family:'Intel Clear'!important}.divisionblock.k-multiselect .k-multiselect-wrap li.k-button:hover{background:#ced4da6b!important}.divisionblock.k-multiselect .k-multiselect-wrap{box-shadow:none!important}.divisionblock.k-multiselect.k-state-focused>.k-multiselect-wrap{border-color:#eee!important;box-shadow:0 2px 6px rgb(0 0 0 / 20%),0 2px 3px rgb(0 0 0 / 5%)!important}kendo-multiselect.kendoInput.divisionblock.cd-input-bottom.cd-division-level.k-state-focused .k-multiselect-wrap kendo-taglist ul li span.k-select{color:var(--light-blue);opacity:1}kendo-multiselect.kendoInput.divisionblock.cd-input-bottom.cd-division-level .k-multiselect-wrap .k-icon.k-clear-value.k-i-close{display:none}kendo-multiselect.kendoInput.divisionblock.cd-input-bottom.cd-division-level.k-state-focused .k-multiselect-wrap .k-icon.k-clear-value.k-i-close{color:var(--light-blue);opacity:1}kendo-multiselect.kendoInput.divisionblock.cd-input-bottom.cd-division-level:hover .k-multiselect-wrap .k-icon.k-clear-value.k-i-close{border-radius:50%;background-color:#dbdbdb;width:15px;height:15px;top:9px;right:7px;opacity:1;display:inline-flex!important}.oppo-grids kendo-grid.k-grid .k-grid-header-wrap table thead tr th[aria-label="Deal Start Date"],.oppo-grids kendo-grid.k-grid .k-grid-header-wrap table thead tr th[aria-label="Deal End Date"]{border-bottom:3px solid rgb(0,113,197)!important;border-bottom-color:rgb(0,113,197)!important}
kendo-grid.file-attachment-contract kendo-grid-list .k-grid-content {
    overflow: overlay;
}

kendo-grid.file-attachment-contract kendo-grid-list .k-grid-content table tr td {
    font-size: 12px;
}
.ok-btn-pop-up{border-color:var(--light-blue)!important;background-color:var(--light-blue)!important;color:#fff!important}.cancel-btn-pop-up{border-color:#fafafa!important;background-color:#fafafa!important;color:#212529!important}.ok-btn-pop-up:hover{color:#fff!important;border-color:#0071c5!important;background-color:#0071c5!important}.cancel-btn-pop-up:hover{color:#444!important;border-color:#ebebeb!important;background-color:#ebebeb!important}.border-blue-design{border-bottom:3px solid rgb(0,113,197)!important;border-bottom-color:rgb(0,113,197)!important}.kendo-grid-buttons.oppo-grids.physics-css.there-grid kendo-grid .k-grid-aria-root .k-grid-header table thead tr th span.k-cell-inner{align-items:flex-start}.k-family{font-family:'intelicon'!important;font-size:25px}.divisionblock .k-list>.k-state-hover,.divisionblock .k-list>.k-state-selected.k-state-hover{background-color:#ebebeb!important;border-color:#ebebeb!important}.divisionblock.k-multiselect .k-multiselect-wrap li.k-button,.k-dropdowntree .k-multiselect-wrap li.k-button{float:left;color:#444!IMPORTANT;font-size:12px;border:none;border-radius:1.071em!important;margin:3px 0 3px 3px!important;padding:0 1.6em 0 .857em!important;line-height:1.86em!important;background:#fafafa!important;font-family:'Intel Clear'!important}.divisionblock.k-multiselect .k-multiselect-wrap li.k-button:hover{background:#ced4da6b!important}.divisionblock.k-multiselect .k-multiselect-wrap{box-shadow:none!important}.divisionblock.k-multiselect.k-state-focused>.k-multiselect-wrap{border-color:#eee!important;box-shadow:0 2px 6px rgb(0 0 0 / 20%),0 2px 3px rgb(0 0 0 / 5%)!important}kendo-multiselect.kendoInput.divisionblock.cd-input-bottom.cd-division-level.k-state-focused .k-multiselect-wrap kendo-taglist ul li span.k-select{color:var(--light-blue);opacity:1}kendo-multiselect.kendoInput.divisionblock.cd-input-bottom.cd-division-level .k-multiselect-wrap .k-icon.k-clear-value.k-i-close{display:none}kendo-multiselect.kendoInput.divisionblock.cd-input-bottom.cd-division-level.k-state-focused .k-multiselect-wrap .k-icon.k-clear-value.k-i-close{color:var(--light-blue);opacity:1}kendo-multiselect.kendoInput.divisionblock.cd-input-bottom.cd-division-level:hover .k-multiselect-wrap .k-icon.k-clear-value.k-i-close{border-radius:50%;background-color:#dbdbdb;width:15px;height:15px;top:9px;right:7px;opacity:1;display:inline-flex!important}.oppo-grids kendo-grid.k-grid .k-grid-header-wrap table thead tr th[aria-label="Deal Start Date"],.oppo-grids kendo-grid.k-grid .k-grid-header-wrap table thead tr th[aria-label="Deal End Date"]{border-bottom:3px solid rgb(0,113,197)!important;border-bottom-color:rgb(0,113,197)!important}
kendo-multiselect.text-color-multi-tag.divineo-one kendo-taglist li span {
    line-height: 1.86em;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px !important;
    font-family: "Intel Clear","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
kendo-multiselect.text-color-multi-tag.divineo-one .k-multiselect-wrap kendo-taglist li {
    border-radius: 1.071em !important;
    margin: 3px 0 3px 3px !important;
    padding: 0 0.557em 0 0.557em !important;
    padding-right: 0.557em !important;
    line-height: 1.86em !important;
    color: #444 !important;
    border-color: #fafafa !important;
    background-color: #fafafa !important;
}
kendo-multiselect.text-color-multi-tag.divineo-one .k-multiselect-wrap kendo-taglist li span.k-select {
    display: flex !important;
}
kendo-multiselect.text-color-multi-tag.divineo-one kendo-taglist li.k-button:hover {
    color: #444 !important;
    border: 1px solid #ebebeb !important;
    background-color: #ebebeb !important;
}
kendo-multiselect.text-color-multi-tag.divineo-one .k-multiselect-wrap {
    border-top: 1px solid #0071c5;
    border-bottom: 3px solid #0071c5;
}

kendo-multiselect.text-color-multi-tag.divineo-one:hover .k-multiselect-wrap {
    border-top: 1px solid #ced4da;
}
kendo-multiselect.text-color-multi-tag.divineo-one kendo-taglist li span.k-icon {
    font-family: "WebComponentsIcons" !important;
}
kendo-combobox.focus-align-combo-box:focus, kendo-combobox.focus-align-combo-box:focus-within {
    background-color: #fff;
    border-color: #f5f5f5;
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%), 0 2px 3px rgb(0 0 0 / 5%);
}

kendo-combobox.focus-align-combo-box span.k-state-focused .k-icon {
    color: var(--light-blue) !important;
}

kendo-combobox.focus-align-combo-box span.k-state-focused span.k-icon.k-clear-value.k-i-close {
    font-size: 12px;
}
kendo-combobox.contract-details-customer.align-text-combo-box span.k-select .k-icon {
    padding-top: 0 !important;
}
kendo-combobox.contract-details-customer.align-text-combo-box .k-icon.k-clear-value {
    padding-top: 0 !important;
    width: 15px !important;
    height: 15px !important;
    top: 11px;
}
kendo-combobox.contract-details-customer.align-text-combo-box.closed-alignment-fixes .k-icon.k-clear-value {
    top: 0;
}

kendo-tabstrip.manage-pct-tabstrip .k-tabstrip-items-wrapper ul li span.k-link {
    font-family: "Intel Clear","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0.6em !important;
}

kendo-tabstrip.manage-pct-tabstrip .k-tabstrip-items-wrapper .k-tabstrip-items .k-state-default .k-link:hover {
    color: #003C71 !important;
    background-color: #fff !important;
}

kendo-tabstrip.manage-pct-tabstrip .k-tabstrip-items-wrapper ul li {
    font-size: 14px !important;
}

kendo-grid.exclude-filter-style table thead tr th kendo-grid-filter-menu .k-grid-filter.k-state-active {
    background-color: var(--white);
    color: var(--light-blue)!important;
}

kendo-grid.exclude-filter-style table thead tr th kendo-grid-filter-menu .k-grid-filter.k-state-active span.k-icon.k-i-filter,
kendo-grid.exclude-filter-style table thead tr th kendo-grid-filter-menu span.k-icon.k-i-filter:hover {
    color: var(--light-blue) !important;
}

kendo-grid.exclude-filter-style table thead tr th kendo-grid-filter-menu span.k-icon.k-i-filter {
    font-size: 18px !important;
    color: #777777 !important;
    margin-top: 2px !important;
}

.new-now-wrap.oppo-grids kendo-grid.exclude-filter-style .k-grid-header table thead tr th span.k-cell-inner .k-link {
    display: flex;
}

kendo-tabstrip.tabs-coll .k-tabstrip-items-wrapper ul li span {
    font-size: 14px !important;
    font-family: "Intel Clear";
    font-weight: 200 !important;
}

kendo-tabstrip.tabs-coll .k-tabstrip-items-wrapper ul li {
    margin-right: 5px !important;
}

.all-spread #spreadsheet table.htCore tr:nth-child(2) th {
    background-color: #fff;
}

.all-spread #spreadsheet table.htCore tr:nth-child(2) th:nth-child(2) {
    background-color: rgb(245 245 245);
}

.z-index-zero .navbar-fixed-top {
    z-index: 0 !important;
}

kendo-grid.icon-changes table tr td a.k-plus:before {
    content: "\e005" !important;
}

kendo-grid.icon-changes table tr td a.k-minus:before {
    content: "\e001" !important;
}


kendo-grid.approval-tables table tr td {
    padding: 0 5px !important;
    font-size: 12px;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

kendo-grid#manageFilterStyle kendo-grid-list .k-grid-content-locked table tr td:first-child .dealTools.custom-deal-tools .tools-parent .grid-status.fl.gridStatusMarker {
    margin-bottom: 2px;
}

kendo-grid.approval-tables table tr th span.k-cell-inner .k-link span.k-column-title {
    color: #000;
    font-size: 12px;
    font-weight: 400;
}

kendo-grid.approval-tables table tr th {
    vertical-align: bottom !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

kendo-grid.approval-tables table tr th label b {
    color: #000;
}

kendo-grid.approval-tables .k-grid-content-locked table tr td:first-child {
    padding-left: 0 !important;
}

kendo-tabstrip.manage-pct-tabstrip .k-tabstrip-items-wrapper ul li.k-state-active {
    border-color: #b1babf;
}

kendo-tabstrip.manage-pct-tabstrip .k-tabstrip-items-wrapper ul li {
    background: #eeeeee !important;
    border-color: #dfdfdf;
}

    kendo-tabstrip.manage-pct-tabstrip .k-tabstrip-items-wrapper ul li.k-state-active span.k-link {
        font-size: 15px;
    }

kendo-grid.highlightsty-title table tr td.k-detail-cell > div:first-child {
    padding: 0 !important;
    margin: 5px 5px 5px 0;
}

kendo-grid.child-dealer-desk .k-grid-aria-root kendo-grid-list .k-grid-content {
    overflow: overlay;
}

kendo-grid.icon-changes table tr td a.k-icon:hover {
    color: var(--light-blue) !important;
}

kendo-grid.icon-changes table tr td a.k-icon:focus {
    color: rgb(128,128,128) !important;
}

kendo-grid.icon-changes table tr td.k-detail-cell table tr td a.k-minus:focus:before {
    border: 2px solid rgb(0 0 0 / 20%);
}

kendo-grid.icon-changes table tr td.k-detail-cell table tr td a.k-plus:focus:before {
    border: 2px solid rgb(0 0 0 / 20%);
}

.tender-db-styles .tender_de_admin kendo-grid#dealEditor {
    height: calc(100vh - 280px) !important;
}

.grids-manager-table td {
    font-size: 12px !important;
    white-space: nowrap;
}

.dashboard-header {
    border-bottom: 1px solid #eee !important;
    padding: 2px !important;
    font-size: 18px !important;
    font-family: "Intel Clear" !important;
    font-weight: 200 !important;
    font-style: normal !important;
    background-color: #fafafa !important;
    margin-top: 28px !important
}

.advancedSearch:hover, .advancedSearch:focus {
    color: #004579 !important;
    text-decoration: underline !important
}

.advancedSearch {
    color: #0071c5 !important;
    text-decoration: none !important
}

.no-items {
    padding: 35px 5px;
    text-align: center;
    font-size: 12px;
    font-family: "Intel Clear";
    font-weight: 200;
    font-style: normal
}

.mat-button-toggle {
    margin-right: 2px !important
}

.waiting {
    padding-top: 50px;
    color: #999999
}

.header-fixes li.dropdown .dropdown-menu li {
    border: 1px solid #fff
}

    .header-fixes li.dropdown .dropdown-menu li:last-child {
        border-bottom: none
    }

.header-fixes li.dropdown .dropdown-menu {
    border-radius: 0 !important
}

.header-fixes li.dropdown ul.dropdown-menu {
    border-radius: 0
}

.k-widget.k-window .k-window-titlebar.k-header {
    padding: 7px !important;
    border-radius: 0 !important
}

.kendoTitleBar {
    border-top-right-radius: .125rem !important;
    border-top-left-radius: .125rem !important
}

.windowTitle {
    font-weight: 500;
    font-family: "Intel Clear","Helvetica Neue",Helvetica,Arial,sans-serif
}

.closeBtn.k-button-icon {
    padding-top: .45em !important;
    opacity: .7
}

.k-widget.k-window {
    border: none !important;
    border-radius: 0 !important
}

    .k-widget.k-window .search-advanced-tag {
        margin-left: 0 !important
    }

    .k-widget.k-window .k-window-titlebar.k-header .k-window-actions {
        position: relative;
        right: 15px
    }

.header-methods .menu-detailed a i {
    font-size: 28px !important
}

.navbar-fixed-top {
    z-index: 1000 !important
}

kendo-tabstrip.tabs-coll .k-tabstrip-items-wrapper {
    padding-left: 10px;
    margin-top: 4px
}

    kendo-tabstrip.tabs-coll .k-tabstrip-items-wrapper ul li {
        border-radius: 0 !important;
        margin-left: 1px !important;
        margin-right: 5px !important
    }

        kendo-tabstrip.tabs-coll .k-tabstrip-items-wrapper ul li:hover {
            background-color: #0071c5 !important
        }

        kendo-tabstrip.tabs-coll .k-tabstrip-items-wrapper ul li:first-child {
            margin-left: 0 !important
        }

        kendo-tabstrip.tabs-coll .k-tabstrip-items-wrapper ul li:last-child {
            margin-right: 0 !important
        }

        kendo-tabstrip.tabs-coll .k-tabstrip-items-wrapper ul li span {
            font-size: 12px;
            font-weight: 600
        }

.copper-btns mat-button-toggle button .mat-button-toggle-label-content {
    padding: 0 !important;
    line-height: 21px !important;
    font-size: 14px;
    color: #fff
}

kendo-grid-filter-menu-container .k-filter-menu .k-dropdown .k-dropdown-wrap {
    left: 0 !important
}

.width-fixes .k-grid .k-grid-edit-row td deal-editor-edit .k-datepicker, .width-fixes .k-grid .k-grid-edit-row td deal-editor-edit .k-numerictextbox {
    width: 100%
}

.one-check kendo-grid#dealEditor .k-grid-header-wrap table thead tr th .k-cell-inner:has(.k-link):has(deal-editor-header):has(#LAST_REDEAL_DT) {
    width: 100% !important
}

.handsontable.listbox tr td.current, .handsontable.listbox tr:hover td {
    background: var(--light-blue) !important;
    color: #fff
}

.oo-lapping-style mat-dialog-container {
    padding: 0 !important;
    overflow: hidden !important
}

.menu-one.nav li.dropdown ul.dropdown-menu li a:hover {
    background-color: #003c71 !important;
    border-radius: 3px;
    color: #fff !important
}

.newbotborder.k-dropdown .k-dropdown-wrap, .newbotborder .k-dropdowntree .k-dropdown-wrap {
    border-color: #ced4da38 !important;
    background-color: #fafafa !important;
    border-bottom: 2px solid #0071c5 !important;
    box-shadow: none !important;
    border-radius: 0 !important
}

    .newbotborder.k-dropdown .k-dropdown-wrap:hover {
        background: #fff !important
    }

    .newbotborder.k-dropdown .k-dropdown-wrap .k-select {
        color: #727578b0 !important
    }

.newbotborder .k-icon:hover {
    color: #444 !important
}

.noborderclass.k-combobox .k-dropdown-wrap.k-state-focused {
    border-color: #ced4da6b !important;
    background-color: #ffffff !important;
    box-shadow: none !important
}

.noborderclass.k-combobox .k-dropdown-wrap {
    border-color: #ced4da6b !important
}

.noborderclass.k-combobox:hover {
    box-shadow: 0 2px 6px rgb(0 0 0 /20%),0 2px 3px rgb(0 0 0 / 5%) !important
}

.noborderclass.k-combobox .k-select {
    border-color: #f0f0f087 !important;
    color: #727578b0 !important;
    border-width: 0 !important;
    background-color: #dbdbdb2e !important
}

    .noborderclass.k-combobox .k-select:hover {
        background-color: transparent !important;
        color: #727579 !important
    }

.noborderclass.k-combobox .k-icon:hover {
    color: #444 !important
}

.noborderclass.k-combobox .k-dropdown-wrap .k-select {
    width: 38px !important
}

.borderless.k-textbox.k-state-focused {
    border-color: #ced4da6b !important;
    background-color: #ffffff !important;
    box-shadow: none !important
}

.borderless.k-textbox {
    border-color: #ced4da6b !important
}

    .borderless.k-textbox:hover, .borderless.k-textbox:focus {
        box-shadow: 0 2px 6px rgb(0 0 0 / 20%),0 2px 3px rgb(0 0 0 / 5%) !important;
        background-color: none !important
    }

.dateboxborder.k-numerictextbox .k-numeric-wrap {
    color: #495057 !important;
    border-color: #f0f0f0 !important;
    font-family: 'Intel Clear'
}

    .dateboxborder.k-numerictextbox .k-numeric-wrap:hover {
        background-color: none !important;
        box-shadow: 0 2px 6px rgb(0 0 0 / 20%),0 2px 3px rgb(0 0 0 / 5%) !important;
        color: #444 !important
    }

    .dateboxborder.k-numerictextbox .k-numeric-wrap.k-state-focused {
        border-color: #e7e7e7 !important;
        background-color: #ffffff !important;
        box-shadow: none !important
    }

.dateboxborder.k-numerictextbox .k-select {
    border-color: none !important;
    color: #727578ed !important;
    background-color: transparent !important;
    border: none !important
}

.dateboxborder.k-numerictextbox .k-link .k-icon:hover {
    color: #444 !important
}

.dateboxborder.k-numerictextbox .k-link:hover {
    background: none !important
}

.dateboxborder.k-numerictextbox {
    font-size: 12px !important;
    width: 79% !important
}

.sliderwidth.k-slider .k-button {
    border-radius: 50%;
    background: none;
    color: gray;
    border: none
}

    .sliderwidth.k-slider .k-button .k-icon:hover {
        color: #444 !important
    }

.sliderwidth.k-slider .k-draghandle {
    color: #ffffff !important;
    background-color: #0071c5 !important;
    border-radius: 50% !important
}

.sliderwidth.k-slider .k-slider-selection {
    background-color: #0071c5 !important;
    height: 3px !important
}

.sliderwidth.k-slider-horizontal {
    height: 30px !important;
    font-family: 'Intel Clear' !important;
    width: 180px !important
}

    .sliderwidth.k-slider-horizontal .k-slider-buttons .k-slider-track {
        height: 3px !important
    }

.sliderwidth.k-slider .k-slider-track {
    background-color: #c6c7c8
}

.sliderwidth .k-draghandle {
    width: 9px;
    height: 9px
}

.sliderwidth.k-slider-horizontal .k-tick {
    background-image: none !important
}

.kuploadaction.k-upload .k-upload-button {
    min-width: 7.41em !important;
    border-color: #fafafa !important;
    color: #444 !important;
    font-family: 'Intel Clear';
    background-color: #fafafa !important;
    font-size: 15px !important;
    border: none !important;
    font-weight: 400 !important;
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%),0 2px 3px rgb(0 0 0 / 5%) !important
}

    .kuploadaction.k-upload .k-upload-button:hover {
        background-color: #eee !important
    }

.kuploadaction.k-upload .k-dropzone {
    background: transparent !important;
    border-style: solid !important;
    border-width: 0 !important;
    padding: 10px !important
}

.enddateblock .k-dropdown .k-dropdown-wrap {
    border-color: #ced4da38 !important;
    background-color: #fafafa !important;
    box-shadow: none !important;
    border-radius: 0 !important
}

    .enddateblock .k-dropdown .k-dropdown-wrap:hover {
        background-color: transparent !important;
        border-color: #ced4da57 !important
    }

.enddateblock kendo-dropdownlist {
    background: #fafafa !important;
    border-color: transparent
}

.enddateblock .k-icon:hover {
    color: #444 !important
}

.enddateblock .k-dropdown .k-dropdown-wrap .k-select {
    color: #727578b0 !important
}

.dateclass.k-datepicker kendo-dateinput {
    background: transparent
}

.dateboxborder input:focus-within, .dateboxborder:focus-within {
    border-color: #ced4da6b !important;
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%),0 2px 3px rgb(0 0 0 / 5%) !important
}

.sliderwidth.k-slider .k-button:focus {
    box-shadow: none
}

.font-input input {
    font-size: 14px;
    font-family: "Intel Clear" !important;
    width: 100%;
    height: 100%
}

kendo-dropdownlist.font-input .k-input {
    font-size: 14px;
    font-family: "Intel Clear","Helvetica Neue",Helvetica,Arial,sans-serif
}

.dateboxborder.k-numerictextbox:focus-within {
    border-color: #f0f0f0 !important;
    box-shadow: 0 2px 6px rgb(0 0 0 /20%),0 2px 3px rgb(0 0 0 / 5%) !important
}

.borderless.k-textbox:focus-within {
    border-color: #f0f0f0 !important;
    box-shadow: 0 2px 6px rgb(0 0 0 /20%),0 2px 3px rgb(0 0 0 / 5%) !important
}

.noborderclass.k-combobox:focus-within {
    border-color: #f0f0f0 !important;
    box-shadow: 0 2px 6px rgb(0 0 0 /20%),0 2px 3px rgb(0 0 0 / 5%) !important
}

.dateclass.k-datepicker .k-input:focus-within {
    background-color: #ffffff !important
}

.bottle-head {
    padding: 15px !important;
    border-bottom: 1px solid #fff !important
}

.bottle-body {
    padding: 15px !important
}

.publishToolTip ngb-tooltip-window.tooltip .tooltip-inner {
    background-color: #fff !important;
    border: 1px solid #0071c5 !important;
    color: #0071c5 !important;
    padding: 5px;
    z-index: 1
}


.oo-lapping-style mat-dialog-container kendo-grid kendo-grid-list table tbody tr.k-grid-norecords td {
    height: 383px;
    width: 792px;
    max-width: 792px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff !important
}

.approveChkBox ngb-tooltip-window.tooltip .tooltip-inner {
    background-color: #fdfdfd !important;
    border: 1px solid #000000 !important;
    color: #000000 !important;
    width: max-content !important
}

kendo-dialog.the-comp-de kendo-dialog-actions {
    padding: 0
}

    kendo-dialog.the-comp-de kendo-dialog-actions button.first-child-btn {
        color: #fff;
        border-color: var(--light-blue);
        background-color: var(--light-blue) !important
    }

    kendo-dialog.the-comp-de kendo-dialog-actions button:last-child.last-child-btn {
        color: #444;
        border-color: #fafafa;
        background-color: #fafafa !important;
        margin-left: -7px
    }

kendo-dialog.the-comp-de kendo-dialog-actions {
    border-radius: 0 !important
}

kendo-dialog.the-comp-de .k-window {
    border: none
}

kendo-dialog.the-comp-de kendo-dialog-actions button.first-child-btn:hover {
    color: #fff !important;
    border-color: #0071c5 !important;
    background-color: #0071c5 !important
}

kendo-dialog.the-comp-de kendo-dialog-actions button:last-child.last-child-btn:hover {
    color: #444 !important;
    border-color: #ebebeb !important;
    background-color: #ebebeb !important;
    margin-left: -7px
}


kendo-multiselect.fiend-all li {
    border-radius: .25rem !important
}

.fiend-all.k-multiselect .k-multiselect-wrap .k-button .k-select {
    position: relative !important
}

kendo-treeview.k-widget.k-treeview.fiend-tree ul li kendo-checkbox .k-checkbox {
    opacity: 1;
    width: 1rem
}

.modal-body.all-wheat .mat-dialog-content {
    max-height: initial;
    margin: 0;
    padding: 0;
    padding-top: 10px
}

.modal-body.all-wheat {
    overflow: hidden;
    padding: 12px !important
}

.loadpublish publish-tender loading-panel-angular .ss-loading-overlay {
    top: -118px !important;
    display: flex;
    justify-content: center;
    height: 85vh !important;
    left: 0;
}

.loadpublish publish-tender loading-panel-angular .ss-loading-panel {
    margin-top: 150px !important;
    margin-left: -150px !important;
}

.mainBodyStyle:has(reporting-dashboard) {
    overflow-y: auto !important
}

.cc-pop-up-footers {
    margin-left: -24px;
    margin-right: -24px;
    padding: 0 24px !important;
    border-color: transparent !important
}

kendo-grid.contract-history-style.k-widget.k-grid table tr td {
    font-size: 12px !important
}

kendo-window.dashboard-kendo-window.process-search.k-window kendo-window-titlebar {
    padding: 3px 15px
}

    kendo-window.dashboard-kendo-window.process-search.k-window kendo-window-titlebar .k-window-title {
        padding: 0 !important
    }

.mainBodyStyle:has(.process-search) {
    position: fixed !important;
    height: 100%
}


kendo-dialog.kit-name-popup .k-window {
    width: 600px;
    border-radius: 0
}

    kendo-dialog.kit-name-popup .k-window .k-content {
        padding: 0;
        border-bottom: 1px solid #f4f4f4 !important
    }

        kendo-dialog.kit-name-popup .k-window .k-content .all-merge-confirmation h3 {
            padding: 15px;
            border-bottom: 1px solid #f4f4f4;
            min-height: 16.5px;
            margin-top: 20px !important;
            margin: 0;
            font-weight: 500;
            line-height: 1.1;
            color: inherit;
            font-family: "Intel Clear","Helvetica Neue",Helvetica,Arial,sans-serif
        }

        kendo-dialog.kit-name-popup .k-window .k-content .all-merge-confirmation p {
            position: relative;
            padding: 15px;
            margin: 0;
            text-align: left
        }

kendo-dialog-actions.kit-merge-btns {
    padding: 15px;
    text-align: right;
    display: block
}

kendo-dialog.kit-name-popup kendo-dialog-actions.kit-merge-btns button.cancel-btns {
    border-radius: 3px !important;
    box-shadow: none;
    border: 1px solid transparent;
    width: auto;
    height: auto;
    display: inline-block;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.5 !important;
    background: #f0f0f0 !important;
    color: #444;
    margin-right: 5px
}

kendo-dialog.kit-name-popup kendo-dialog-actions.kit-merge-btns button.merge-btns {
    border-radius: 3px !important;
    box-shadow: none;
    border: 1px solid transparent;
    width: auto;
    height: auto;
    display: inline-block;
    min-width: auto;
    max-width: initial;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.5 !important;
    background-color: #3c8dbc !important;
    border-color: #367fa9;
    color: #fff
}

    kendo-dialog.kit-name-popup kendo-dialog-actions.kit-merge-btns button.merge-btns:hover {
        background-color: #367fa9 !important;
        color: #fff
    }

button.dash-popup-okbtn.k-button {
    height: 60px !important;
    background-color: #dcd8d880 !important;
    color: #444 !important
}

kendo-dialog-actions.dash-style.k-dialog-buttongroup {
    padding: 0 !important
}

button.dash-popup-okbtn.k-button:hover {
    background-color: #bbb6b614 !important
}


.missing-cap-cost kendo-grid.k-widget.k-grid kendo-grid-list table tbody tr.k-grid-norecords {
    visibility: hidden
}

kendo-dialog.widget-settings-proper .k-dialog {
    border-radius: 0
}

    kendo-dialog.widget-settings-proper .k-dialog .k-window-content {
        border-radius: 0;
        padding: 0
    }

        kendo-dialog.widget-settings-proper .k-dialog .k-window-content .modal-header {
            padding: 15px !important;
            border-bottom: 1px solid #f4f4f4;
            min-height: 16.5px
        }

        kendo-dialog.widget-settings-proper .k-dialog .k-window-content .modal-body {
            position: relative;
            padding: 15px
        }

        kendo-dialog.widget-settings-proper .k-dialog .k-window-content .modal-footer {
            padding: 15px;
            text-align: right;
            border-top: 1px solid #f4f4f4
        }

.widget-heading {
    font-size: 20px !important;
    font-weight: 500 !important
}

.second-load-style .ss-loading-overlay {
    top: 0 !important
}

.add-widget-box mat-dialog-container .mat-dialog-title {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    border-bottom-color: #f4f4f4;
}

.add-widget-box mat-dialog-container .modalbody.mat-dialog-content {
    margin: 0;
    padding: 0 !important;
}

    .add-widget-box mat-dialog-container .modalbody.mat-dialog-content .container.add-widget-container {
        padding: 0 !important
    }


kendo-dialog.cm-pop-up .k-window-content {
    padding: 0
}

kendo-window#OvrLp .k-window-content {
    padding: 0 !important
}

#manageFilterStyle .k-icon.k-i-filter {
    color: var(--light-blue) !important;
    opacity: 1;
    margin-top: 2px
}

    #manageFilterStyle .k-icon.k-i-filter:hover {
        color: #0071c5 !important
    }

.overlapping_fix mat-dialog-container {
    padding: 0 !important
}

.overlapping_fix th.k-group-cell.k-header {
    background-color: #e7e7e8 !important;
    border-right: 1px solid #e6e6e6
}

.overlapping_fix .k-grid-filter .k-icon.k-i-filter {
    color: var(--light-blue) !important;
    opacity: 1;
    font-size: 14px
}

    .overlapping_fix .k-grid-filter .k-icon.k-i-filter:hover {
        color: #0071c5 !important
    }

.overlapping_fix mat-dialog-container kendo-grid kendo-grid-list table tbody tr.k-grid-norecords td {
    height: 383px;
    width: 792px;
    max-width: 792px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff !important
}

.overlapping_css th.k-group-cell.k-header {
    background-color: #e7e7e8 !important;
    border-right: 1px solid #e6e6e6
}

.overlapping_css .k-grid-filter .k-icon.k-i-filter {
    opacity: 1;
    font-size: 14px
}

    .overlapping_css .k-grid-filter .k-icon.k-i-filter:hover {
        color: #0071c5 !important
    }

kendo-grid.contract-history-style span.k-icon.k-i-filter {
    font-size: 18px !important;
    color: #777777 !important;
    margin-top: 2px !important
}

.cm-height-table .k-grid-header .headerClass {
    background-color: #e7e7e8 !important;
    color: #1a3e6f !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    font-family: 'Intel Clear' !important;
    border-right-color: #c4cfd4 !important;
    border-left-color: #c4cfd4 !important
}

.cm-height-table.k-grid td {
    border-width: 0 0 0 0 !important
}

.unifie-window-dialog .k-dialog .k-content {
    padding: 8px !important;
    font-family: 'Intel Clear' !important
}

.cm-height-table kendo-grid-toolbar.k-toolbar.k-grid-toolbar {
    background-color: #0071c5 !important;
    border-bottom-color: #3343a4 !important
}

#OvrLp.k-wind-design kendo-grid .k-grid-table-wrap table tbody tr td {
    font-size: 12px !important;
    color: #000000 !important;
    white-space: nowrap !important;
    border-bottom-width: 1px !important
}

.globalSearch-popupbox .k-dialog .k-content.k-window-content.k-dialog-content {
    padding: 2.4em !important
}

kendo-grid.contract-history-style span.k-icon.k-i-filter:hover {
    color: #00aeef !important
}

.globalSearch-popupbox .k-window.k-dialog {
    border-radius: 0 !important;
}

kendo-grid.admin-deal-grid.k-widget.k-grid {
    height: calc(100vh - 205px) !important;
    width: calc(100% - -50px) !important;
    left: -24px !important
}

.sec-eng-multi-list .k-multiselect-wrap kendo-taglist ul li {
    float: left !important;
    font-size: 12px !important;
    border-radius: 1.071em !important;
    margin: 3px 0 3px 3px !important;
    padding: 0 1.6em 0 0.857em !important;
    line-height: 1.86em !important;
    background-color: #fff !important;
    color: #444 !important;
    border-color: #fff !important;
    cursor: pointer !important;
}

    .sec-eng-multi-list .k-multiselect-wrap kendo-taglist ul li:hover {
        background-color: #ebebeb !important;
        color: #444 !important;
        border-color: #ebebeb !important;
    }

.tab-sec-add .k-tabstrip-items .k-item.k-state-active, .k-tabstrip-items .k-item.k-state-selected {
    color: #fff;
    background-color: #00aeef;
    border: 1px solid #00aeef;
    border-bottom-color: transparent;
    cursor: default;
}

kendo-combobox.kendoInput.noborderclass.contract-details-customer.k-widget.k-combobox.k-combobox-clearable.ng-untouched.ng-pristine.ng-invalid {
    border: 1px solid #e6e6e6 !important;
}

kendo-dropdownlist.inputWidth.font-input.backdate_contract_style.k-widget.k-dropdown.ng-untouched.ng-pristine.ng-invalid {
    border-color: #e6e6e6 !important;
    box-shadow: none !important
}

kendo-dropdownlist.inputWidth.font-input.backdate_contract_style.k-dropdown:hover {
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%), 0 2px 3px rgb(0 0 0 / 5%) !important;
    background-color: #fff !important
}

kendo-combobox.kendoInput.noborderclass.font-input.contract-details-customer.cd-input-bottom.k-combobox.k-combobox-clearable.ng-touched.ng-dirty.ng-valid,
kendo-combobox.kendoInput.noborderclass.font-input.contract-details-customer.cd-input-bottom.k-widget.k-combobox.k-combobox-clearable.ng-touched.ng-dirty.ng-invalid,
kendo-dropdownlist.inputWidth.font-input.backdate_contract_style.k-dropdown.ng-dirty.ng-valid.ng-touched {
    border-bottom: 2px solid #0071c5 !important;
}


.add-widget-box mat-dialog-container {
    padding: 0;
    border-radius: 0
}

.k-combobox.noborderclass.ng-invalid {
    border-color: #e6e6e6 !important;
}

.cdk-overlay-container:has(.add-widget-box) {
    background: rgba(0,0,0,.3);
}

.cdk-global-overlay-wrapper:has(.add-widget-box) {
    align-items: flex-start !important;
    margin-top: 100px !important;
}

kendo-textbox.kendoInput.font-input.cd-input-bottom.k-textbox-design.k-textbox.k-textbox.ng-invalid.ng-touched {
    border-color: #e6e6e6 !important;
}

kendo-textbox.kendoInput.font-input.cd-input-bottom.k-textbox-design.k-textbox.ng-touched.ng-dirty.ng-invalid,
kendo-textbox.kendoInput.font-input.cd-input-bottom.k-textbox-design.k-textbox.ng-touched.ng-dirty.ng-valid {
    border-bottom: 2px solid #0071c5 !important;
}

kendo-window#OvrLp.k-wind-design {
    padding-top: 0 !important;
}

.admin-deal-grid .k-icon.k-i-filter {
    font-size: 20px !important;
    color: #000 !important;
    opacity: .45 !important;
}

    .admin-deal-grid .k-icon.k-i-filter:hover {
        color: #00aeef !important;
        opacity: 1 !important;
    }

.admin-deal-grid .k-column-title {
    font-size: 14px !important;
    font-weight: 600 !important;
    text-transform: capitalize;
    color: #1a3e6f !important;
}


.grid_text_filter .k-grid-header table thead tr th {
    font-size: 17px !important;
    font-weight: 600;
}

.grid_text_filter .k-grid-aria-root .k-grid-header table thead tr th span.k-cell-inner {
    font-size: 14px !important;
    font-weight: 600 !important;
    text-transform: capitalize !important;
    color: #1a3e6f !important;
    font-family: "Intel Clear","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.grid_text_filter .k-grid-header table thead tr th span.k-cell-inner .k-link {
    display: flex;
    width: 100%;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

    .grid_text_filter .k-grid-header table thead tr th span.k-cell-inner .k-link .k-column-title {
        display: block;
        width: 100%;
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }

.grid_text_filter .k-grid-header table thead tr th span.k-cell-inner {
    margin: -0.75rem calc(-4.5em + -0.75rem + 19px) -0.75rem -0.65rem;
}

.grid_text_filter .k-icon.k-i-filter {
    font-size: 20px !important;
    color: #000 !important;
    opacity: .45 !important;
}


.contract-toggle.k-switch-on .k-switch-handle {
    background-color: #eeeeee !important;
    top: 0px !important;
    width: 10px !important;
    height: 20px !important;
    left: calc(100% - 7px) !important;
    border-radius: 3px !important
}

.contract-toggle.k-switch-off .k-switch-handle {
    background-color: #eeeeee !important;
    top: 0px !important;
    width: 10px !important;
    height: 20px !important;
    left: -2.2px !important;
    border-radius: 3px !important
}

.contract-toggle .k-switch-container {
    border-radius: 5px !important
}

.contract-toggle .k-switch-label-on,
.contract-toggle .k-switch-label-off {
    display: inline !important;
    position: absolute !important;
    left: 40px !important;
    font-weight: 400 !important;
}

.contract-toggle.k-switch-off:focus,
.contract-toggle.k-switch-off.k-state-focused,
.contract-toggle.k-switch-on.k-state-focused {
    box-shadow: none !important
}

.contract-toggle.k-switch-off .k-switch-container {
    background-color: #C4D600 !important;
    color: #ffffff !important;
    font-size: 14px !important;
    line-height: 1.2em !important;
}

.contract-toggle.k-switch-on .k-switch-container {
    background-color: #00AEEF !important;
    color: #ffffff !important;
    font-size: 14px !important;
    line-height: 1.2em !important;
}

.contract_manager_dialog .k-content.k-window-content.k-dialog-content {
    margin: 0px !important;
    padding: 0px !important;
    overflow: hidden !important
}

.contract_manager_dialog.k-dialog.k-window {
    border-radius: 0px !important;
    border-top: 0px !important;
    border-right: 0px !important;
    border-left: 0px !important;
}


kendo-upload.contract-correction-upload.k-widget.k-upload {
    border: none !important;
}

.contract-correction-upload.k-upload .k-dropzone .k-dropzone-hint {
    visibility: hidden !important;
}

.contract-correction-upload.k-upload .k-upload-button {
    width: 130px !important;
    color: #444 !important;
    font-family: 'Intel Clear' !important;
    font-size: 15px !important;
    text-transform: uppercase !important;
    padding: 15px !important;
    font-weight: 500 !important;
    border-radius: 3px !important;
    height: 35px !important;
    left: 6px !important;
    position: relative !important;
    background-color: #ffff !important
}

    .contract-correction-upload.k-upload .k-upload-button:hover {
        color: #444 !important;
        border-color: #ebebeb !important;
        background-color: #ebebeb !important;
    }

.contract-correction-upload.k-upload .k-dropzone {
    background-color: #003C71 !important;
}

.contract-correction-upload.k-upload .k-upload-files {
    overflow-y: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    border-width: 1px 0 0 !important;
    border-style: solid !important;
    border-color: inherit !important;
    list-style: none !important;
    height: fit-content !important;
    max-height: 90px !important;
}

    .contract-correction-upload.k-upload .k-upload-files .k-file {
        padding: 10px !important;
        overflow-x: clip !important;
    }

.contract-correction-upload.k-upload .k-progressbar {
    height: 2px !important;
    position: absolute !important;
    bottom: 2px !important;
    width: calc(100% - -1rem) !important;
    opacity: 1 !important;
    color: #212529 !important;
    background-color: #e9ecef !important;
    margin-left: -20px !important
}

.contract-correction-upload.k-upload .k-upload-files .k-file-name {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    position: relative;
    float: left !important;
    font-size: 15px !important;
    font-family: 'Intel Clear' !important;
    font-weight: 500 !important;
    color: #444 !important;
}

.contract-correction-upload.k-upload .k-upload-files .k-file-group-wrapper .k-file-group {
    font-size: 25px !important;
    position: relative !important;
    margin-top: -10px !important
}

button.contract-correction-upload.k-button.k-button-flat.k-button-flat-base.k-button-md.k-icon-button.k-rounded-md.k-upload-action {
    border: none !important;
    background-color: transparent !important;
    padding: 0px !important;
}

.contract-correction-upload.k-upload .k-upload-files .k-upload-action {
    border: none !important;
    background-color: transparent !important;
    padding: 0px !important;
}

.kendoWindow kendo-window-titlebar {
    padding-top: 10px;
    padding-bottom: 10px;
}

    .kendoWindow kendo-window-titlebar .k-window-title {
        font-size: 1.2em !important;
        font-weight: 400;
        font-family: 'Intel Clear';
    }

.ss-loading-overlay {
    top: 20px !important;
    display: flex;
    justify-content: center
}

.few-oracle-css {
    position: relative;
    width: 100%
}

.parent-one pricing-table-editor .row {
    margin-left: 0
}


.mybuttondialog .k-dialog .k-dialog-buttongroup .k-button {
    height: 67px !important;
    width: -51px !important
}

.mybuttondialog .k-dialog-buttongroup .okbutton.k-button:hover {
    background-color: #0071c5 !important;
    color: #ffff !important
}

.mybuttondialog .k-dialog .k-dialog-buttongroup, .k-dialog .k-dialog-buttongroup .k-button {
    border-width: 0 !important;
    border-radius: 0 !important
}

.mybuttondialog .k-dialog-buttongroup {
    border-color: #dee2e6;
    padding: 0 !important
}
.mainBodyStyle {
    top: 69px !important;
}

.dashboard-header .btn {
    margin-left: 5px
}

.managable-meet-pct meet-comp-contract.admin_tender_meetcomp {
    bottom: auto !important;
}

.managable-meet-pct meet-comp-contract.admin_tender_meetcomp .row-cooperate {
    margin-top: 0 !important;
    width: 100%;
}

.managable-meet-pct meet-comp-contract.admin_tender_meetcomp .meetComp-show-hide.meet-conduct.meet-comp-blank_space {
    top: 0 !important;
    border-bottom: none;
}

.managable-meet-pct meet-comp-contract.admin_tender_meetcomp .row-cooperate kendo-grid#meetcomp-contract {
    height: calc(100vh - 540px) !important;
}

.managable-meet-pct manager-pct.admin-tender-pricecosttest {
    top: 0!important;
}

.managable-meet-pct kendo-tabstrip.art-kendo-bars {
    margin-top: 15px !important;
}

.managable-meet-pct kendo-tabstrip.art-kendo-bars {
    margin-top: 0px !important;
    width: 100%;
    margin-left: 0 !important;
    padding: 0 15px;
}

.managable-meet-pct .admin-tender-pricecosttest div#sum-wrapper {
    margin-left: 0 !important;
    padding: 0 15px;
}

    .managable-meet-pct .admin-tender-pricecosttest div#sum-wrapper .another-sh-class {
        margin: 0 -10px;
    }

.managable-meet-pct kendo-tabstrip.art-kendo-bars.k-tabstrip > .k-content.k-state-active {
    padding: 8px;
}

.managable-meet-pct manager-pct.admin-tender-pricecosttest kendo-tabstrip.manage-pct-tabstrip .k-tabstrip-items-wrapper ul li span.k-link {
    padding: 0.4em 0.6em !important;
}

.managable-tenders .tender_exclude_grouping kendo-grid.group-Excl-grid.grouping_grid_h {
    height: calc(100vh - 350px) !important;
}

#comboDD .k-dropdown .k-dropdown-wrap {
    border-color: #fafafa;
    color: #495057;
    background-color: #fafafa;
}

#OvrLp1 .k-grid td {
    padding: 0 !important;
    font-size: 10px !important
}

#OvrLp .k-grid td {
    padding: 0 !important;
    font-size: 10px !important
}

#OvrLp kendo-grid.overDealChecking.k-grid .k-grid-table-wrap table tbody tr td {
    padding: 2px 5px !important;
    white-space: normal !important;
    color: rgb(26, 62, 111) !important;
    font-family: "Intel Clear", Arial;
    font-size: 10px !important;
    border-left: none;
    border-right: 1px solid #e6e6e6;
    border: none !important
}

#OvrLp kendo-grid.overDealChecking.k-grid .k-grid-table-wrap table tbody tr td:first-child {
    padding: 6px 0 6px 0px !important;
}
#OvrLp kendo-grid.overDealChecking.k-grid .k-grid-table-wrap table tbody tr td .text-center {
    text-align: left !important;
}

#OvrLp1 kendo-grid.overDealCheckingOne.k-grid .k-grid-table-wrap table tbody tr td {
    padding: 2px 5px !important;
    white-space: normal !important;
    color: rgb(26, 62, 111) !important;
    font-family: "Intel Clear", Arial;
    font-size: 10px !important;
    border-left: none;
}

#OvrLp1 kendo-grid.overDealCheckingOne.k-grid .k-grid-table-wrap table tbody tr td .text-center {
    text-align: left !important;
}

#OvrLp kendo-grid-filter-menu {
    padding-right: 4px !important;
}

kendo-grid.overDealChecking.widthOutDesign.k-widget table tr th {
    background-color: #e7e7e8 !important;
    color: #1a3e6f !important;
    font-size: 10px !important;
    font-weight: 700 !important;
    border-right-color: #c4cfd4 !important;
    border-left-color: #c4cfd4 !important;
    font-family: 'Intel Clear' !important;
}

kendo-grid.overDealChecking.widthOutDesign.k-widget .k-grid-filter .k-icon.k-i-filter {
    color: #00AEEF !important;
    opacity: 1;
    font-size: 14px;
}

.headerTitlesOver kendo-window-titlebar {
    padding: 10px 5px;
}

kendo-grid.overDealChecking.widthOutDesign.k-widget kendo-grid-list table tbody tr.k-grid-norecords td {
    height: 383px;
    width: 792px;
    max-width: 792px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff !important;
}

kendo-grid.group-Excl-grid table tr.k-grid-norecords td {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1420px;
    padding: 50px;
}

kendo-grid.group-Excl-grid table tr.k-grid-norecords:hover {
    background-color: transparent !important;
}

.batcherComp .k-grid .k-grouping-header .k-indicator-container {
    color: var(--light-blue);
}

.batcherComp .k-grid table tr th .k-cell-inner .k-link .k-column-title {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    color: #1a3e6f;
    font-family: "Intel Clear","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.CAP-capBreak.k-grid tr td:nth-child(2) div,
.CAP-capBreak.k-grid tr td:nth-child(4) div,
.YCS2-capBreak.k-grid tr td:nth-child(4) div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

kendo-window.flexOverlapProducts .k-window-titlebar {
    border-radius: 0 !important;
    padding: 7.5px !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    font-family: 'Intel Clear' !important;
}

kendo-window.flexOverlapProducts {
    border: none;
}

#prodGrid .k-grid td p.k-reset {
    font-size: 16px;
    font-weight: 600;
    color: #1a3e6f;
}

#admin-legal-popup .k-widget.k-window {
    width: 550px !important;
}

#admin-legal-popup .k-content.k-window-content.k-dialog-content {
    overflow: hidden !important;
    padding:0px !important
}

#manageFilterStyle a.k-grid-filter.k-state-active {
    background-color: #ffffff !important
}

#horizontal.expanded:has(.contractManagerPlus) {
    position: fixed;
    top: 93px;
    width: 80.5%;
}

#horizontal.expanded .few-oracle-css:has(.contractManagerPlus) {
    top: 0;
    position: absolute;
}
.k-window-maximized kendo-grid.overDealChecking.widthOutDesign.k-widget kendo-grid-list table tbody tr.k-grid-norecords td {
    min-width: 1915px !important;
    border: none !important;
}

.windOverLaps .k-content {
    overflow: hidden;
}

#OvrLp .overLappedDeals .k-grid-content {
    height: 307px;
}

#OvrLp.k-window-maximized .overLappedDeals .k-grid-content {
    height: calc(100vh - 123px);
}

.kendoOverlappings tr td:has(.dealerCAPinfo),
.kendoOverlappings tr td:has(.dealerYCS2info) {
    padding: 0;
}

.kendoOverlappings .dealCell.vert-center.dealerCAPinfo .col-md-12,
.kendoOverlappings .dealCell.vert-center.dealerYCS2info .col-md-12 {
    padding: 0;
    height: 100%;
}

.kendoOverlappings .dealCell.vert-center.dealerCAPinfo .rowHeight,
.kendoOverlappings .dealCell.vert-center.dealerYCS2info .rowHeight {
    height: auto !important;
    display: flex;
    width: 100%;
    height: 100%!important;
    align-items: center;
    justify-content: center;
}

.kendoOverlappings .dealCell.vert-center.dealerCAPinfo span.ng-binding,
.kendoOverlappings .dealCell.vert-center.dealerYCS2info span.ng-binding {
    padding-left: 0;
}

.kendoOverlappings .dealCell.vert-center.dealerCAPinfo.ng-star-inserted,
.kendoOverlappings .dealCell.vert-center.dealerYCS2info.ng-star-inserted {
    transform: none !important;
    top: 0 !important;
}

    .kendoOverlappings .dealCell.vert-center.dealerCAPinfo.ng-star-inserted .ng-star-inserted,
    .kendoOverlappings .dealCell.vert-center.dealerYCS2info.ng-star-inserted .ng-star-inserted {
        display: block;
        width: 100%;
        height: 100%;
    }

.kendoOverlappings .dealCell.vert-center.dealerCAPinfo .rowHeight div,
.kendoOverlappings .dealCell.vert-center.dealerYCS2info .rowHeight div {
    width: 100%;
}

.kendoOverlappings .dealCell.vert-center.dealerCAPinfo .uiControlDiv,
.kendoOverlappings .dealCell.vert-center.dealerYCS2info .uiControlDiv {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1 !important;
    height: 100%;
}

.kendoOverlappings .dealCell.vert-center.dealerCAPinfo .uiControlDiv .fullHeight,
.kendoOverlappings .dealCell.vert-center.dealerYCS2info .uiControlDiv .fullHeight {
    height: auto !important;
    padding-top: 5px;
}

.kendoOverlappings .dealCell.vert-center.dealerCAPinfo .uiControlDiv .capLineStyle,
.kendoOverlappings .dealCell.vert-center.dealerYCS2info .uiControlDiv .capLineStyle {
    padding-bottom: 5px;
}