.ok-btn-pop-up{border-color:var(--light-blue)!important;background-color:var(--light-blue)!important;color:#fff!important}.cancel-btn-pop-up{border-color:#fafafa!important;background-color:#fafafa!important;color:#212529!important}.ok-btn-pop-up:hover{color:#fff!important;border-color:#0071c5!important;background-color:#0071c5!important}.cancel-btn-pop-up:hover{color:#444!important;border-color:#ebebeb!important;background-color:#ebebeb!important}.border-blue-design{border-bottom:3px solid rgb(0,113,197)!important;border-bottom-color:rgb(0,113,197)!important}.kendo-grid-buttons.oppo-grids.physics-css.there-grid kendo-grid .k-grid-aria-root .k-grid-header table thead tr th span.k-cell-inner{align-items:flex-start}.k-family{font-family:'intelicon'!important;font-size:25px}.divisionblock .k-list>.k-state-hover,.divisionblock .k-list>.k-state-selected.k-state-hover{background-color:#ebebeb!important;border-color:#ebebeb!important}.divisionblock.k-multiselect .k-multiselect-wrap li.k-button,.k-dropdowntree .k-multiselect-wrap li.k-button{float:left;color:#444!IMPORTANT;font-size:12px;border:none;border-radius:1.071em!important;margin:3px 0 3px 3px!important;padding:0 1.6em 0 .857em!important;line-height:1.86em!important;background:#fafafa!important;font-family:'Intel Clear'!important}.divisionblock.k-multiselect .k-multiselect-wrap li.k-button:hover{background:#ced4da6b!important}.divisionblock.k-multiselect .k-multiselect-wrap{box-shadow:none!important}.divisionblock.k-multiselect.k-state-focused>.k-multiselect-wrap{border-color:#eee!important;box-shadow:0 2px 6px rgb(0 0 0 / 20%),0 2px 3px rgb(0 0 0 / 5%)!important}kendo-multiselect.kendoInput.divisionblock.cd-input-bottom.cd-division-level.k-state-focused .k-multiselect-wrap kendo-taglist ul li span.k-select{color:var(--light-blue);opacity:1}kendo-multiselect.kendoInput.divisionblock.cd-input-bottom.cd-division-level .k-multiselect-wrap .k-icon.k-clear-value.k-i-close{display:none}kendo-multiselect.kendoInput.divisionblock.cd-input-bottom.cd-division-level.k-state-focused .k-multiselect-wrap .k-icon.k-clear-value.k-i-close{color:var(--light-blue);opacity:1}kendo-multiselect.kendoInput.divisionblock.cd-input-bottom.cd-division-level:hover .k-multiselect-wrap .k-icon.k-clear-value.k-i-close{border-radius:50%;background-color:#dbdbdb;width:15px;height:15px;top:9px;right:7px;opacity:1;display:inline-flex!important}.oppo-grids kendo-grid.k-grid .k-grid-header-wrap table thead tr th[aria-label="Deal Start Date"],.oppo-grids kendo-grid.k-grid .k-grid-header-wrap table thead tr th[aria-label="Deal End Date"]{border-bottom:3px solid rgb(0,113,197)!important;border-bottom-color:rgb(0,113,197)!important}
kendo-grid.file-attachment-contract kendo-grid-list .k-grid-content {
    overflow: overlay;
}

kendo-grid.file-attachment-contract kendo-grid-list .k-grid-content table tr td {
    font-size: 12px;
}
.ok-btn-pop-up{border-color:var(--light-blue)!important;background-color:var(--light-blue)!important;color:#fff!important}.cancel-btn-pop-up{border-color:#fafafa!important;background-color:#fafafa!important;color:#212529!important}.ok-btn-pop-up:hover{color:#fff!important;border-color:#0071c5!important;background-color:#0071c5!important}.cancel-btn-pop-up:hover{color:#444!important;border-color:#ebebeb!important;background-color:#ebebeb!important}.border-blue-design{border-bottom:3px solid rgb(0,113,197)!important;border-bottom-color:rgb(0,113,197)!important}.kendo-grid-buttons.oppo-grids.physics-css.there-grid kendo-grid .k-grid-aria-root .k-grid-header table thead tr th span.k-cell-inner{align-items:flex-start}.k-family{font-family:'intelicon'!important;font-size:25px}.divisionblock .k-list>.k-state-hover,.divisionblock .k-list>.k-state-selected.k-state-hover{background-color:#ebebeb!important;border-color:#ebebeb!important}.divisionblock.k-multiselect .k-multiselect-wrap li.k-button,.k-dropdowntree .k-multiselect-wrap li.k-button{float:left;color:#444!IMPORTANT;font-size:12px;border:none;border-radius:1.071em!important;margin:3px 0 3px 3px!important;padding:0 1.6em 0 .857em!important;line-height:1.86em!important;background:#fafafa!important;font-family:'Intel Clear'!important}.divisionblock.k-multiselect .k-multiselect-wrap li.k-button:hover{background:#ced4da6b!important}.divisionblock.k-multiselect .k-multiselect-wrap{box-shadow:none!important}.divisionblock.k-multiselect.k-state-focused>.k-multiselect-wrap{border-color:#eee!important;box-shadow:0 2px 6px rgb(0 0 0 / 20%),0 2px 3px rgb(0 0 0 / 5%)!important}kendo-multiselect.kendoInput.divisionblock.cd-input-bottom.cd-division-level.k-state-focused .k-multiselect-wrap kendo-taglist ul li span.k-select{color:var(--light-blue);opacity:1}kendo-multiselect.kendoInput.divisionblock.cd-input-bottom.cd-division-level .k-multiselect-wrap .k-icon.k-clear-value.k-i-close{display:none}kendo-multiselect.kendoInput.divisionblock.cd-input-bottom.cd-division-level.k-state-focused .k-multiselect-wrap .k-icon.k-clear-value.k-i-close{color:var(--light-blue);opacity:1}kendo-multiselect.kendoInput.divisionblock.cd-input-bottom.cd-division-level:hover .k-multiselect-wrap .k-icon.k-clear-value.k-i-close{border-radius:50%;background-color:#dbdbdb;width:15px;height:15px;top:9px;right:7px;opacity:1;display:inline-flex!important}.oppo-grids kendo-grid.k-grid .k-grid-header-wrap table thead tr th[aria-label="Deal Start Date"],.oppo-grids kendo-grid.k-grid .k-grid-header-wrap table thead tr th[aria-label="Deal End Date"]{border-bottom:3px solid rgb(0,113,197)!important;border-bottom-color:rgb(0,113,197)!important}
kendo-multiselect.text-color-multi-tag.divineo-one kendo-taglist li span {
    line-height: 1.86em;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px !important;
    font-family: "Intel Clear","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
kendo-multiselect.text-color-multi-tag.divineo-one .k-multiselect-wrap kendo-taglist li {
    border-radius: 1.071em !important;
    margin: 3px 0 3px 3px !important;
    padding: 0 0.557em 0 0.557em !important;
    padding-right: 0.557em !important;
    line-height: 1.86em !important;
    color: #444 !important;
    border-color: #fafafa !important;
    background-color: #fafafa !important;
}
kendo-multiselect.text-color-multi-tag.divineo-one .k-multiselect-wrap kendo-taglist li span.k-select {
    display: flex !important;
}
kendo-multiselect.text-color-multi-tag.divineo-one kendo-taglist li.k-button:hover {
    color: #444 !important;
    border: 1px solid #ebebeb !important;
    background-color: #ebebeb !important;
}
kendo-multiselect.text-color-multi-tag.divineo-one .k-multiselect-wrap {
    border-top: 1px solid #0071c5;
    border-bottom: 3px solid #0071c5;
}

kendo-multiselect.text-color-multi-tag.divineo-one:hover .k-multiselect-wrap {
    border-top: 1px solid #ced4da;
}
kendo-multiselect.text-color-multi-tag.divineo-one kendo-taglist li span.k-icon {
    font-family: "WebComponentsIcons" !important;
}
kendo-combobox.focus-align-combo-box:focus, kendo-combobox.focus-align-combo-box:focus-within {
    background-color: #fff;
    border-color: #f5f5f5;
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%), 0 2px 3px rgb(0 0 0 / 5%);
}

kendo-combobox.focus-align-combo-box span.k-state-focused .k-icon {
    color: var(--light-blue) !important;
}

kendo-combobox.focus-align-combo-box span.k-state-focused span.k-icon.k-clear-value.k-i-close {
    font-size: 12px;
}
kendo-combobox.contract-details-customer.align-text-combo-box span.k-select .k-icon {
    padding-top: 0 !important;
}
kendo-combobox.contract-details-customer.align-text-combo-box .k-icon.k-clear-value {
    padding-top: 0 !important;
    width: 15px !important;
    height: 15px !important;
    top: 11px;
}
kendo-combobox.contract-details-customer.align-text-combo-box.closed-alignment-fixes .k-icon.k-clear-value {
    top: 0;
}

kendo-tabstrip.manage-pct-tabstrip .k-tabstrip-items-wrapper ul li span.k-link {
    font-family: "Intel Clear","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0.6em !important;
}

kendo-tabstrip.manage-pct-tabstrip .k-tabstrip-items-wrapper .k-tabstrip-items .k-state-default .k-link:hover {
    color: #003C71 !important;
    background-color: #fff !important;
}

kendo-tabstrip.manage-pct-tabstrip .k-tabstrip-items-wrapper ul li {
    font-size: 14px !important;
}

kendo-grid.exclude-filter-style table thead tr th kendo-grid-filter-menu .k-grid-filter.k-state-active {
    background-color: var(--white);
    color: var(--light-blue)!important;
}

kendo-grid.exclude-filter-style table thead tr th kendo-grid-filter-menu .k-grid-filter.k-state-active span.k-icon.k-i-filter,
kendo-grid.exclude-filter-style table thead tr th kendo-grid-filter-menu span.k-icon.k-i-filter:hover {
    color: var(--light-blue) !important;
}

kendo-grid.exclude-filter-style table thead tr th kendo-grid-filter-menu span.k-icon.k-i-filter {
    font-size: 18px !important;
    color: #777777 !important;
    margin-top: 2px !important;
}

.new-now-wrap.oppo-grids kendo-grid.exclude-filter-style .k-grid-header table thead tr th span.k-cell-inner .k-link {
    display: flex;
}

kendo-tabstrip.tabs-coll .k-tabstrip-items-wrapper ul li span {
    font-size: 14px !important;
    font-family: "Intel Clear";
    font-weight: 200 !important;
}

kendo-tabstrip.tabs-coll .k-tabstrip-items-wrapper ul li {
    margin-right: 5px !important;
}

.all-spread #spreadsheet table.htCore tr:nth-child(2) th {
    background-color: #fff;
}

.all-spread #spreadsheet table.htCore tr:nth-child(2) th:nth-child(2) {
    background-color: rgb(245 245 245);
}

.z-index-zero .navbar-fixed-top {
    z-index: 0 !important;
}