<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />
<div class="">
    <div class="row" style="margin-left: 5px">
        <div id="sidebar" class="col-md-3">
            <div *ngIf="!isDropdownsLoaded" style="margin-top: 30px; margin-left: 30px;">
                Loading dropdown data...
            </div>
            <!-- SIDE BAR -->
            <div class="secEngine_sidebar" *ngIf="isDropdownsLoaded" style="width: 100%;">
                <div id="secEngine_filters" style="height: calc(100vh - 175px)">
                    <div class="lbl" style="margin-top: 9px; padding-left: 10px;">
                        <h5 style="font-weight: 400 !important; font-size: 16px !important;">
                            Security Attributes Properties
                            <!-- Help button -->
                            <i class="intelicon-help-outlined" (click)="clickHelpButton()" style="cursor: pointer; color: #0071C5;"></i>
                        </h5>
                        <kendo-dialog *ngIf="isHelpButton" id="HelpButton" [width]="600" class="help-dialoger">
                            <div class="modal-header">
                                <h3>Help Text</h3>
                            </div>
                            <div class="modal-body">
                                <p class="paras-secure-engine">
                                    Start by selecting the ObjType, Roles, Stages and ObjSet types you want to view.
                                    Note that leaving the select blank will default to ALL.
                                    Then, select either Attribute Security or Deal Security tab and enter remaining details.
                                    When done, click the View Security Attributes button on the bottom.
                                </p>
                            </div>
                            <kendo-dialog-actions>
                                <button (click)="Close()" class="btn btn-default">Close</button>
                            </kendo-dialog-actions>
                        </kendo-dialog>
                    </div>

                    <div class="lbl">
                        <div>ObjType: </div>
                        <kendo-dropdownlist [data]="dropDownDatasource.ObjTypes" textField="Alias" style="width: 11em !important;"
                                            [(ngModel)]="selectedObjType" (valueChange)="objtypeChange($event)" valueField="Id" class="inputWidth font-input cd-input-bottom k-dropdown-design font-comp-red" name="Alias">
                        </kendo-dropdownlist>
                    </div>
                    <div class="lbl">
                        <div>Roles: </div>
                        <kendo-multiselect class="kendoInput divisionblock cd-input-bottom cd-division-level fs-changes disk-fs-changes" [placeholder]="'All Roles'" style="width: 11em !important;" [data]="dropDownDatasource.AdminRoleTypes" textField="dropdownName" valueField="dropdownID"
                                           [(ngModel)]="selectedRoles" [autoClose]="true" (valueChange)="objtypeRoleChange($event)" [kendoDropDownFilter]="filterSettings">
                        </kendo-multiselect>
                    </div>
                    <div class="lbl">
                        <div>Stages: </div>
                        <kendo-multiselect class="kendoInput divisionblock cd-input-bottom cd-division-level fs-changes disk-fs-changes" [placeholder]="'All Stages'" style="width: 11em !important;" [data]="drilledDownstages" textField="Second" valueField="Second"
                                           [(ngModel)]="selectedStages" [autoClose]="true">
                        </kendo-multiselect>
                    </div>
                    <div class="lbl">
                        <div>ObjSet Types: </div>
                        <kendo-multiselect class="kendoInput divisionblock cd-input-bottom cd-division-level fs-changes disk-fs-changes" [placeholder]="'All Deal Types'" style="width: 11em !important;" [data]="drilledDowndealtype" textField="Alias" valueField="Id"
                                           [(ngModel)]="selectedDealTypes" [autoClose]="true">
                        </kendo-multiselect>
                    </div>

                    <!-- Tabs -->
                    <div class="col-md-12 secEngine_tabs" style="padding-left: 10px; padding-right: 10px;">
                        <kendo-tabstrip class="tab-sec-add tab-security-engine" active="" style="margin: 6px;" (tabSelect)="onTabSelect($event)">
                            <kendo-tabstrip-tab index="0" title="Attribute Security" [selected]="isASTab">
                                <ng-template kendoTabContent>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div style="font-size: 12px;">Attribute Action:</div>
                                                <kendo-dropdownlist [data]="drilledDownActionAtrb" textField="dropdownName" style="width: 14em !important;"
                                                                    [(ngModel)]="selectedAtrbAction" valueField="dropdownID" class="inputWidth font-input cd-input-bottom k-dropdown-design font-comp-red" name="dropdownName">
                                                </kendo-dropdownlist>
                                            </div>
                                        </div>
                                        <div class="row" style="padding-top:20px;">
                                            <div class="col-md-4" style="font-size: 12px;">Attributes: </div>
                                            <div class="col-md-8">
                                                <span placement="top" ngbTooltip="Click this to get a best guess of what attributes you'd want">
                                                    <!---->
                                                    <i (click)="magicWandSelect()" title="Let me guess" class="fr fa fa-magic clickable"></i>
                                                </span>
                                            </div>
                                            <div class="col-md-12">
                                                <kendo-multiselect class="kendoInput divisionblock cd-input-bottom cd-division-level fs-changes disk-fs-changes" [placeholder]="'All Attributes'" [data]="drilledDownAtrb" textField="ATRB_COL_NM" valueField="ATRB_SID"
                                                                   [autoClose]="true" [kendoDropDownFilter]="filterSettings" [(ngModel)]="selectedIds">
                                                </kendo-multiselect>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </kendo-tabstrip-tab>
                            <kendo-tabstrip-tab index="1" title="Deal Security" [selected]="isDSTab">
                                <ng-template kendoTabContent>
                                    <div class="col-md-12">
                                        <div class="row" style="margin-bottom:80px;">
                                            <div class="col-md-12">
                                                <div style="font-size: 11px; font-weight: 500;">Deal Action:</div>
                                                <kendo-multiselect class="kendoInput divisionblock cd-input-bottom cd-division-level fs-changes disk-fs-changes" [data]="drilledDownAction" [placeholder]="'All Deal Actions'" textField="dropdownName" valueField="dropdownID"
                                                                   [(ngModel)]="selectedDealactions" [autoClose]="true" [kendoDropDownFilter]="filterSettings">
                                                </kendo-multiselect>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </kendo-tabstrip-tab>
                        </kendo-tabstrip>
                    </div>
                </div>
                <!-- BUTTON -->
                <div class="row secEngine_viewButton">
                    <button class="btn btn-primary col-md-12" style=" margin-left: 6px;" (click)="getGridData()">View Security Attributes<i class="intelicon-arrow-forward-right"></i></button>
                </div>
            </div>
        </div>
        <div id="main" class="col-md-9">
            <div class="row">
                <!-- Main block -->
                <div class="col-md-12">

                    <div class="col-md-12" style="padding-top: 20px; padding-left: 36px;">
                        <div *ngIf="isGridLoading">
                            <h3>Loading grid data... </h3>
                            <div>
                                Please note that this may take several minutes, depending on what filters you have chosen. <br />
                                The webpage may also freeze during this time. This is normal and the page will be interactable once again after the load time is over.
                            </div>
                        </div>
                    </div>

                    <div *ngIf="!isShowMainContent" style=" margin-left: 10px;">
                        <h3 style=" margin-top: 30px;">Please select grid filters on the left sidebar.</h3>
                        <div><i>Detailed Instructions:</i></div>
                        <ol>
                            <li>On the left-hand side menu, select the ObjType, Roles, Stages and ObjSet types you want to view. Note that leaving the select blank will default to "ALL".</li>
                            <li>Select either the "Attribute Security" or "Deal Security" tab and enter remaining details.</li>
                            <li>When done, click the "View Security Attributes" button on the bottom.</li>
                        </ol>
                    </div>

                </div>

                <div *ngIf="isShowMainContent && !isGridLoading">
                    <div class="row">
                        <div class="col-md-6">
                            <h5><span style="padding-left: 45px; font-weight: 700;">Action:</span><span style="padding-left: 10px; font-weight: 400;">{{currentDisplayAction}}</span> </h5>
                        </div>
                        <div class="fr col-md-6" style="font-size: 10px; padding-left: 136px;">
                            <div class="liner-secure-engine">
                                <div class="designing-purposes">
                                    <div class="atrbbasecolorECAP fl atrbContainer secEngine_key">&nbsp;</div>
                                    <div class="fl secEngine_keyBlock"> = ECAP</div>
                                </div>
                                <div class="designing-purposes">
                                    <div class="atrbbasecolorPROGRAM fl atrbContainer secEngine_key">&nbsp;</div>
                                    <div class="fl secEngine_keyBlock"> = PROGRAM</div>
                                </div>
                                <div class="designing-purposes">
                                    <div class="atrbbasecolorVOL_TIER fl atrbContainer secEngine_key">&nbsp;</div>
                                    <div class="fl secEngine_keyBlock"> = VOL TIER</div>
                                </div>
                                <div class="designing-purposes">
                                    <div class="atrbbasecolorREV_TIER fl atrbContainer secEngine_key">&nbsp;</div>
                                    <div class="fl secEngine_keyBlock"> = REV TIER</div>
                                </div>
                                <div class="designing-purposes">
                                    <div class="atrbbasecolorFLEX fl atrbContainer secEngine_key">&nbsp;</div>
                                    <div class="fl secEngine_keyBlock"> = FLEX</div>
                                </div>
                                <div class="designing-purposes">
                                    <div class="atrbbasecolorDENSITY fl atrbContainer secEngine_key">&nbsp;</div>
                                    <div class="fl secEngine_keyBlock"> = LUMP SUM</div>
                                </div>
                                <div class="designing-purposes">
                                    <div class="atrbbasecolorKIT fl atrbContainer secEngine_key">&nbsp;</div>
                                    <div class="fl secEngine_keyBlock"> = KIT</div>
                                </div>
                                <div class="designing-purposes">
                                    <div class="atrbbasecolor fl atrbContainer secEngine_key" style="border-color: red;">&nbsp;</div>
                                    <div class="fl secEngine_keyBlock"> = Other (hover on box to see)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 kendo-grid-buttons">
                                <kendo-grid [data]="gridResult" [resizable]="true" [groupable]="false" style="height: calc(100vh - 175px);" class="security-engine-tables">
                                    <ng-template kendoGridToolbarTemplate>
                                        <button (click)="save()" class="btn btn-primary ">
                                            Save
                                        </button>
                                        <button (click)="Reset()" class="btn btn-primary">
                                            Reset
                                        </button>
                                    </ng-template>
                                    <kendo-grid-column [headerClass]="{'headerClass':true}" width="60" field="ATRB_SID" title="Id">
                                    </kendo-grid-column>
                                    <kendo-grid-column [headerClass]="{'headerClass':true}" width="150" field="ATRB_COL_NM" title="Attribute/Action">
                                    </kendo-grid-column>
                                    <kendo-grid-column [headerClass]="{'headerClass':true}" width="63" title="Role">
                                        <ng-template kendoGridCellTemplate>
                                            <span [innerHTML]="drawRoles(true)"></span>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column [headerClass]="{'headerClass':true}" *ngFor="let column of columns" width="168" field="{{column.title}}" title="{{column.title}}">
                                        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                                            <span [innerHTML]="securityEngineDrawDeals(dataItem.ATRB_SID,dataItem.ATRB_COL_NM,column.stgId,column.title)" (click)="clickBox($event,dataItem.ATRB_SID,dataItem.ATRB_COL_NM,column.stgId,column.title)"></span>
                                        </ng-template>
                                    </kendo-grid-column>
                                </kendo-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>