 .atrbContainer {
     min-height: 13px !important;
     width: 16px;
     margin: 1px;
     line-height: 1.2em;
     font-size: 10px;
     padding: 0 !important;
     text-align: center;
     background-color: #ED1C24;
     border: 1px solid #cccccc
 }

 .atrbSubTitle {
     margin: 1px;
     line-height: 1.2em;
     font-size: 10px;
     padding: 1px
 }

 .rolebasecolor {
     color: #000000;
     padding-left: 3px;
     padding-right: 5px;
     border-color: #eeeeee;
     background-color: #ffffff
 }

 .atrbbasecolorECAP {
     color: #0071c5;
     padding-left: 3px;
     padding-right: 5px;
     background-color: #0071c5;
     border-color: #0071c5
 }

 .atrbbasecolorFLEX {
     color: #aa00bb;
     padding-left: 3px;
     padding-right: 5px;
     background-color: #aa00bb;
     border-color: #aa00bb
 }

 .atrbbasecolorKIT {
     color: #ff00bb;
     padding-left: 3px;
     padding-right: 5px;
     background-color: #ff00bb;
     border-color: #ff00bb
 }

 .atrbbasecolorPROGRAM {
     color: #00c571;
     padding-left: 3px;
     padding-right: 5px;
     background-color: #00c571;
     border-color: #00c571
 }

 .atrbbasecolorVOL_TIER {
     color: #ffda00;
     padding-left: 3px;
     padding-right: 5px;
     background-color: #ffda00;
     border-color: #ffda00
 }

 .atrbbasecolorREV_TIER {
     color: #c5a700;
     padding-left: 3px;
     padding-right: 5px;
     background-color: #c5a700;
     border-color: #c5a700
 }

 .atrbbasecolorDENSITY {
     color: #c54500;
     padding-left: 3px;
     padding-right: 5px;
     background-color: #c54500;
     border-color: #c54500
 }

 .atrbbasecolorNotInDealType {
     background-image: url(/images/disabledBack.png);
     background-color: #eeeeee;
     border-color: #eeeeee
 }

 .atrbbasecolorDealReadOnly {
     color: #ffffff
 }

 .attrbChanged.atrbbasedisabled {
     border-color: red;
     border-style: solid
 }

 .attrbChanged {
     border-color: red
 }

 .atrbbasedisabled {
     background-color: #ffffff !important;
     border-left-width: 1px;
     opacity: .4
 }

 .clickable {
     cursor: pointer
 }

 .secEngine_tabs {
     margin: 20px 0;
     font-size: 14px
 }

 .secEngine_sidebar {
     overflow-y: hidden;
     background-color: #f5f5f5;
     padding: 0 5px
 }

 .secEngine_viewButton {
     margin: 0;
     border-top: 1px dashed #b1babf;
     padding: 20px 12px
 }

 #secEngine_filters {
     overflow-x: scroll;
     margin-right: -4px
 }

 #secEngine_filter div {
     padding-left: 20px
 }

 .container-fluid,
 .full {
     min-height: 100%
 }

 #sidebar {
     margin-left: -30px
 }

 @media (min-width:992px) {
     #sidebar {
         width: inherit;
         min-width: 300px;
         max-width: 300px;
         float: left;
         height: 100%;
         position: relative;
         overflow: auto
     }

     #main {
         width: calc(100% - 270px)
     }
 }

 #secEngine_filters>div.lbl {
     padding-left: 25px;
     margin-bottom: 8px
 }

 #secEngine_filters>div.lbl>div:nth-child(1) {
     float: left;
     font-size: 12px;
     width: 80px;
     margin-top: 5px;
     color: #0071C5
 }

 #secEngine_filters>div.lbl>div:nth-child(2) {
     float: left;
     width: 160px
 }