.layout-cp-inner-page {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 10px;
}

.grid-one {
    height: calc(100vh - 147px);
    overflow-y: auto;
    overflow-x:hidden;
    width:40px;
}

.grid-two {
    overflow-y: auto;
    height: calc(100vh - 147px);
    position: relative;
    padding: 0 20px 0 20px;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px
}

*::-webkit-scrollbar-track {
    background-color: #e8eaec
}

*::-webkit-scrollbar-thumb {
    background-color: #00aeef !important;
    border-radius: 5px
}

.out-of-scope {
    background-color: #ED1C24;
    color: #ffffff;
}

.scope {
    padding: 0 4px;
    border-radius: 3px;
    font-size: 10px;
    width: 100px;
    text-align: center;
    margin-bottom: 6px;
}

.in-scope {
    background-color: #C4D600;
    color: #000000;
}