<link href="/Client/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="/Client/node_modules/@progress/kendo-theme-bootstrap/dist/all.css" rel="stylesheet" />
<link href="/Client/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet" />
<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />
<div id="copyCntrctDlg" class="cc-popup-load">
    <nav class="navbar navbar-default rmv-padding cc-pop-up">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
            <div class="navbar-header">
                <i class="intelicon-copy-solid navbar-logo" style="font-size: 25px; color: white; height: auto;"></i>
                <div class="navbar-brand nv-brands" style=" height: auto !important; padding: 8px !important;">Copy a My Deals Contract</div>
            </div>
            <ul class="nav navbar-nav navbar-right" style="margin-right: -15px !important; margin-top: -8px !important;">
                <li class="close-icons"><a (click)="dismissPopup()"><i class="intelicon-close-max"></i></a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="dis-approve">
                    <div class="title_style"><label>Customers: </label> {{copyCntrctCustomerName}} </div>
                    <div class="title_style"><label>Date Range: </label> {{copyCntrctStartDate}} -{{copyCntrctEndDate}} </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="inner-addon right-addon app-layers">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" class="form-control" style="height:38px" maxlength="40" (input)="onCopyCntrctSearchTextChanged($event.target.value)" />
                </div>
            </div>
        </div>
    </div><br />
    <div class="oppo-grids physics-css">
        <kendo-grid id="copyCntrctGrid" [loading]="!isCopyCntrctListLoaded" [data]="gridData" [skip]="state.skip"
            [height]="345" [sortable]="true" [sort]="state.sort" [group]="state.group" [navigable]="true"
            [resizable]="true" (dataStateChange)="dataStateChange($event)" [selectable]="true"
            (selectionChange)="rowSelectionChange($event)" class="append-grid-changes">
            <ng-template kendoGridNoRecordsTemplate>
                <div *ngIf="copyCntrctList?.length==0">
                    no records available.
                </div>
             </ng-template>
            <kendo-grid-column field="CNTRCT_OBJ_SID" title="Contract ID" width="35"
                               [headerClass]="{'headerClass':true}"></kendo-grid-column>
            <kendo-grid-column field="TITLE" title="Contract Title" width="140" [headerClass]="{'headerClass':true}">
            </kendo-grid-column>
            <kendo-grid-column field="STRT_DTM" title="Start Date" width="50" [headerClass]="{'headerClass':true}">
            </kendo-grid-column>
            <kendo-grid-column field="END_DTM" title="End Date" width="50" [headerClass]="{'headerClass':true}">
            </kendo-grid-column>
        </kendo-grid>
    </div>
    <kendo-dialog-actions class="cc-pop-up-footers">
        <div align="right" style="margin-top:15px">
            <button class="btn btn-secondary" type="button"
                    style="min-width:110px" (click)="onCopyCntrctCancelClick()">
                Cancel
            </button>&nbsp; <button class="btn btn-primary" type="button" style="min-width:110px;"
                                    [mat-dialog-close]="copyCntrctSelectedItem" [disabled]="isCreateDisabled">
                Create
            </button>
        </div>
    </kendo-dialog-actions>
</div>