?.sdmLoading .ss-loading-panel.ss-Info {
    height: auto !important;
}

h2.header-bottomsizereduce {
    font-size: 26px !important;
    margin-top: 15px !important;
}

.notesBulk {
    font-size: 14px;
    margin-left: 10px;
    margin-top: 20px !important;
    padding: 0;
}

.redboldBulk {
    color: red;
    font-weight: bold;
}

#sdmurlLink a {
    color: #0071c5;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}



kendo-dialog#sdm-kendo-excel-popup {
    width: 527px !important;
    height: 695px !important;
    left: 30rem !important;
}

p.dialogmsg-sdm-kendo {
    padding: 26px !important;
    color: #444 !important;
    font-family: 'Intel Clear' !important;
    font-size: 15px !important;
}

#sdm-kendo-excel-popup .k-content.k-window-content.k-dialog-content {
    padding: 0px !important;
}

#sdm-kendo-excel-popup button.k-button {
    height: 60px !important;
    font-family: 'Intel Clear' !important;
}

#sdm-kendo-excel-popup kendo-dialog-actions.k-dialog-buttongroup.k-actions.k-actions-stretched {
    padding: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.okbtn-sdm-kendostyle {
    border-radius: 0 !important;
    width: 100% !important;
    height: 100% !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    margin-left: 200px !important;
    font-size: 15px !important;
    font-family: "Intel Clear" !important;
    border-color: #00AEEF !important;
    background-color: #00AEEF !important;
    color: #fff !important;
}

    .okbtn-sdm-kendostyle:hover {
        color: #fff !important;
        border-color: #0071c5 !important;
        background-color: #0071c5 !important;
    }

.sdmDownloadData {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}
