<link href="/Client/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="/Client/node_modules/@progress/kendo-theme-bootstrap/dist/all.css" rel="stylesheet" />
<link href="/Client/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet" />
<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />
<div class="row">
	<div class="col-md-12" style="height:50px"></div>
</div>
<div class="row">
	<div class="col-md-12 head" style="padding-left: 15px;">
		<h3 class="heading-alignOnproduct">Product Vertical Rules</h3>
	</div>
	<div class="col-md-12">
		<div class="messageBox col-md-12" [ngClass]="{'mb-warning': true}" style="padding-left: 25px;">
			<b><i class="intelicon-alert-solid icon-lg"></i> Note: </b>
			Please be aware of potential impacts to live deals & downstream partners before making changes to existing data.
		</div>
	</div>
	<div class="col-md-12 kendo-grid-buttons spread_size">
		<kendo-grid [data]="gridData" [loading]="isLoading" [pageSize]="state.take" [skip]="state.skip"
			[sort]="state.sort" [filter]="state.filter" [sortable]="true"
			[pageable]="{type:type,pageSizes: pageSizes,info:info,refresh:true}" filterable="menu"
			(dataStateChange)="dataStateChange($event)" [navigable]="true" (edit)="editHandler($event)"
			(cancel)="cancelHandler($event)" (save)="saveHandler($event)" [resizable]="true">
			<ng-template kendoGridToolbarTemplate><button (click)="clearFilter()" class="k-button clearButton"><span
						class="k-icon intelicon-cancel-filter-solid k-icon-md k-family"></span>CLEAR FILTERS
				</button>
				<kendo-grid-spacer></kendo-grid-spacer><button (click)="refreshGrid()"
					class="k-button clearButton"><span class="k-icon k-i-reload k-icon-md"></span>Refresh
				</button>
			</ng-template>
			<kendo-grid-command-column title="Commands" width="150" [headerClass]="{'headerClass':true}">
				<ng-template kendoGridCellTemplate let-isNew="isNew">
					<div class="text-center"><button class="k-command-icon" id="command-icon" kendoGridEditCommand><span
								class="k-icon k-i-edit k-icon-sm"></span></button></div>
					<div class="text-center"><button class="k-command-icon" id="command-icon" kendoGridSaveCommand
							[disabled]="formGroup?.invalid"><span
								class="k-icon k-i-check k-icon-sm"></span></button><button class="k-command-icon"
							id="command-icon" kendoGridCancelCommand><span
								class="k-icon k-i-cancel-outline k-icon-sm"></span></button></div>
				</ng-template>
			</kendo-grid-command-column>
			<kendo-grid-column [headerClass]="{'headerClass':true}" field="ACTV_IND" title="Actv Ind" width="120"
				filter="boolean">
				<ng-template kendoGridCellTemplate let-dataItem="dataItem">
					<div class="text-center">
						<mat-slide-toggle [color]="color" [checked]="dataItem.ACTV_IND" disabled></mat-slide-toggle>
					</div>
				</ng-template>
				<ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
					<div class="text-center">
						<mat-slide-toggle [color]="color" [checked]="dataItem.ACTV_IND"
							[formControl]="formGroup.get('ACTV_IND')"></mat-slide-toggle>
					</div>
				</ng-template>
			</kendo-grid-column>
			<kendo-grid-column [headerClass]="{'headerClass':true}" field="GDM_PRD_TYPE_NM" title="Gdm Product Type"
				[editable]="false">
				<ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
					let-filterService="filterService">
					<multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
						[filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
				</ng-template>
			</kendo-grid-column>
			<kendo-grid-column [headerClass]="{'headerClass':true}" field="GDM_VRT_NM" title="GDM Vertical Name"
				[editable]="false">
				<ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
					let-filterService="filterService">
					<multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
						[filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
				</ng-template>
			</kendo-grid-column>
			<kendo-grid-column [headerClass]="{'headerClass':true}" field="DIV_NM" title="Division Short Name"
				width="200" [editable]="false">
				<ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
					let-filterService="filterService">
					<multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
						[filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
				</ng-template>
			</kendo-grid-column>
			<kendo-grid-column [headerClass]="{'headerClass':true}" field="OP_CD" title="Op Code" width="120"
				[editable]="false">
				<ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
					let-filterService="filterService">
					<multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
						[filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
				</ng-template>
			</kendo-grid-column>
			<kendo-grid-column [headerClass]="{'headerClass':true}" field="DEAL_PRD_TYPE" title="Deal Product Type">
				<ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
					let-filterService="filterService">
					<multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
						[filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
				</ng-template>
				<ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
					<kendo-textbox ngbTooltip="Deal Product Type is required when row is active."
						tooltipClass="toolTipReq" placement="top" container="body" triggers="manual"
						#dealPdctTooltip="ngbTooltip" [autoClose]="false" [formControl]="formGroup.get('DEAL_PRD_TYPE')"
						[clearButton]="true"></kendo-textbox>
				</ng-template>
			</kendo-grid-column>
			<kendo-grid-column [headerClass]="{'headerClass':true}" field="PRD_CAT_NM" title="Product Vertical">
				<ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
					let-filterService="filterService">
					<multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
						[filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
				</ng-template>
				<ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
					<kendo-textbox ngbTooltip="Product Vertical is required when row is active."
						tooltipClass="toolTipReq" placement="bottom" container="body" triggers="manual"
						#pdctVerticalTooltip="ngbTooltip" [autoClose]="false"
						[formControl]="formGroup.get('PRD_CAT_NM')" [clearButton]="true"></kendo-textbox>
				</ng-template>
			</kendo-grid-column>
			<kendo-grid-column [headerClass]="{'headerClass':true}" field="CHG_EMP_NM" title="Last Updated By"
				[editable]="false">
				<ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
					let-filterService="filterService">
					<multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
						[filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
				</ng-template>
			</kendo-grid-column>
			<kendo-grid-column [headerClass]="{'headerClass':true}" field="CHG_DTM" title="Last Update Date"
				filter="date" format="{0:M/d/yyyy}" [editable]="false">
				<ng-template kendoGridFilterMenuTemplate let-filter="filter" let-column="column"
					let-filterService="filterService">
					<date-range-filter [field]="column.field" [filter]="filter" [filterService]="filterService">
					</date-range-filter>
				</ng-template>
				<ng-template kendoGridCellTemplate let-dataItem>{{dataItem.CHG_DTM | date: 'M/d/yyyy h:mm a'}}
				</ng-template>
			</kendo-grid-column>
		</kendo-grid>
	</div>
</div>