@import '../kendo_grid.css';

.head {
    padding-left: 14px;
    margin-top: -10px
}

.spread_size {
    padding-left: 14px !important;
    padding-right: 5px !important;
    padding-top: 0 !important
}

.heading-alignOnproduct {
    margin-bottom: 0;
    line-height: 1.1
}

.tt-product-cat {
    height: calc(100vh - 220px) !important
}