.head {
    padding-left: 14px;
    margin-top: -10px;
}

.spread_size {
    padding-left: 14px !important;
    padding-right: 5px !important;
    padding-top: 0px !important;
}

.heading-alignOnproduct {
    margin-bottom: 0;
    line-height: 1.1;
}
