.kendo-grid-buttons {
    position: relative !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    width: 100% !important;
    height: 200px !important;
}
