/* @import url('../../../../node_modules/bootstrap/dist/css/bootstrap.min.css'); */
.menu-bar {
    background-color: #0071C5;
    padding: 0 6px 6px 6px;
}

nav .hdrIcon {
    text-align: center;
}

nav .hdrIcon a {
    padding: 6px;
}

nav .hdrIcon a i {
    line-height: .9em;
    font-size: 20px;
}

nav .hdrIcon a div {
    font-size: 9px;
    line-height: .9em;
}

.menu-detailed a i {
    font-size: 28px !important;
    color: #00AEEF;
    margin: 2px 10px 0 0;
    width: 30px;
}

.menu-detailed a div {
    line-height: 1.2em;
}

.menu-detailed a div>div {
    font-size: 10px;
    color: #aaaaaa;
}

.navbar-security {
    float: left;
    padding: 20px 15px 14px 0;
    font-size: 10px;
    margin-left: -11px;
    color: #ffffff;
    line-height: 12px;
    height: 50px;
}

.header-fixes li.dropdown ul.dropdown-menu {
    border-radius: 0;
}

.menu-one.nav {
    background-color: transparent !important;
    font-size: 14px;
    border-bottom: none;
    margin: 0;
}

.menu-one.nav li a {
    padding: 5px 10px !important;
    background-color: #0071c5 !important;
    color: #fff !important;
    border-right: 0 solid transparent !important;
    border: none;
}

.menu-one.nav li.dropdown ul.dropdown-menu li a {
    background-color: #fff !important;
    color: #111 !important;
}

.menu-one.nav li.dropdown ul.dropdown-menu li a:after {
    margin-right: -5px;
}

.primary-one {
    background-color: none !important;
    border-color: none !important;
}

.above-limited {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

span.pre-prod-environment {
    font-size: 12px;
    color: white;
    font-weight: bold;
    color: Yellow;
}

#divUsrName {
    font-size: 12px;
    color: #ffffff;
    line-height: 1em;
}

#divUsrRole {
    font-size: 9px;
    color: #ffffff;
    line-height: 1em;
    margin-top: 3px;
}

#divUsrImg>img {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    border: 1px solid #ffffff;
}

.navbar {
    display: block;
}