<link href="/Client/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="/Client/node_modules/@progress/kendo-theme-bootstrap/dist/all.css" rel="stylesheet" />
<link href="/Client/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet" />
<link href="/Client/src/app/admin/kendo_nongrid.css" rel="stylesheet" />

<div>
    <div *ngIf="env=='PROD'">
        <script src="https://appusage.intel.com/Service/api/loguser/114464" async></script>
    </div>
    <div *ngIf="!env=='PROD'">
        <script src="https://appusage.intel.com/Service/api/loguser/114464?environment={{env}}" async></script>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-top" style="margin-top: 20px;">
    <div class="container-fluid">
        <table style="display: table; width:100%">
            <tr>
                <td>
                    <div class="navbar-header" style="margin-left: 5px;">
                        <img class="navbar-logo" alt="" src="/images/intel-logo-white-100.png" ng-dblclick="eggSmw()">
                        <a class="navbar-brand" href="/Home" title="Back to the My Deals Dashboard">My Deals </a>
                    </div>
                </td>
                <td style="vertical-align: top">
                    <div style="text-align: left;" class="navbar-collapse collapse">
                        <div style="font-size: 14px; color: white; font-weight: bold; padding-left: 10px; padding-right: 10px; padding-bottom:5px;padding-top:5px; background-color: #00B1F1; display: inline-block">
                            Google Chrome Required <img src="/images/ChromeIcon.png" style="width: 24px; height: 24px; margin-left: 10px">
                            <div *ngIf="env !='PROD'">
                                <span style="font-size: 12px; color: white; font-weight: bold; color: Yellow;">
                                    Pre-Production
                                    Environment:{{env}}
                                </span>
                            </div>
                        </div>
                    </div>
                </td>
                <td width="auto">
                    <div class="collapse navbar-collapse" id="myDeals-navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li style="text-align: center;">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="padding: 7px;min-height:50px">
                                    <div class="fl" id="divUsrImg">
                                        <img src="https://photos.intel.com/images/{{usrWwid}}.jpg" style="width: 35px; height: 35px; margin-right: 5px; border: 1px solid #ffffff;" />
                                    </div>
                                    <div class="fl hidden-sm" style="margin-top: 7px; margin-right: 10px;" title="{{extraUserPrivsDetail.join('\n')}}">
                                        <div style="font-size: 12px; color: #ffffff; line-height: 1em;" id="divUsrName">
                                            {{usrName}}
                                        </div>
                                        <div style="font-size: 9px; color: #ffffff; line-height: 1em; margin-top: 3px;" id="divUsrRole">
                                            {{superPrefix}}{{usrRoleExtension}} {{usrRole}} <span style="color: Yellow;">{{extraUserPrivs}}</span>
                                        </div>
                                    </div>
                                    <div class="fl">
                                        <notification-dock-angular></notification-dock-angular>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="fr">
                            <admin-banner-angular></admin-banner-angular>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="menu-bar">
        <ul class="nav nav-tabs nav-tabs-intel-blocks" id="myTab" role="tablist">
            <li>
                <a class="mainMenu" href="/Home" title="Home">
                    <i class="intelicon-home-solid"></i><span class="hidden-xs">Home</span>
                </a>
            </li>
            <li class="dropdown" *ngIf="isDeveloper">
                <a class="btn btn-primary mainMenu" role="button" href="/" data-toggle="dropdown" data-target="#" title="Developer Documents">
                    <i class="intelicon-attach-document-solid"></i><span class="hidden-xs">Docs </span><i class="intelicon-down"></i>
                </a>
                <ul class="dropdown-menu multi-level scaleTopAnim" role="menu" aria-labelledby="dropdownMenu">
                    <li><a href="/CodingPractices">Coding Practices</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="btn btn-primary mainMenu" id="dLabel" role="button" href="/page.html" data-toggle="dropdown" data-target="#" title="Administrative Tools">
                    <i class="intelicon-settings-solid"></i><span class="hidden-xs">Admin</span><i class="intelicon-down"></i>
                </a>
                <ul class="dropdown-menu multi-level scaleTopAnim" role="menu" aria-labelledby="dropdownMenu">
                    <li class="dropdown-submenu" *ngIf="isDeveloper">
                        <a tabindex="-1">DSA</a>
                        <ul class="dropdown-menu" style="width: 250px;">
                            <li ui-sref-active="active"><a href="#vistexTestApi">Test API</a></li>
                            <li><a href="Admin#/vistex">Integration Logs</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a tabindex="-1">TroubleShooting</a>
                        <ul class="dropdown-menu" style="width: 250px;">
                            <li class="menu-detailed">
                                <a href="/error/ResetMyCache" (click)="clearSessionData('/error/ResetMyCache')">
                                    <i class="fl fa fa-user-md"></i>
                                    <div class="fl">
                                        Clear <b>My</b>View Model
                                        <div>Clear only your settings</div>
                                    </div>
                                    <div class="clearboth"></div>
                                </a>
                            </li>
                            <li class="menu-detailed" *ngIf="(isRealSA || isDeveloper)">
                                <a href="/error/ResetAVM" (click)="clearSessionData('/error/ResetAVM')">
                                    <i class="fl fa fa-medkit"></i>
                                    <div class="fl">
                                        Clear <b>App</b>View Model
                                        <div>
                                            Clear only the Middle Tier Cache
                                        </div>
                                    </div>
                                    <div class="clearboth"></div>
                                </a>
                            </li>
                            <li class="menu-detailed" *ngIf="(isRealSA || isDeveloper)">
                                <a href="/error/ResetMT" (click)="clearSessionData('/error/ResetMT')">
                                    <i class="fl fa fa-heartbeat"></i>
                                    <div class="fl">
                                        Clear <b>All</b>View Models
                                        <div>
                                            Clear Middle Tier and ALL Users
                                        </div>
                                    </div>
                                    <div class="clearboth"></div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li *ngIf="(env !='PROD' && env !='UNKNOWN')" ui-sref-active="active">
                        <a href="#adminemployeedashboard">Set Your Role (Pre-prod Only)</a>
                    </li>

                    <li class="dropdown-submenu" *ngIf="isDeveloper">
                        <a tabindex="-1">Monitoring</a>
                        <ul class="dropdown-menu" style="width: 250px;">
                            <li ui-sref-active="active"><a href="#admincache">Cache Manager</a></li>
                            <li ui-sref-active="active"><a href="#opLog">Log Viewer</a></li>
                            <li ui-sref-active="active"><a href="#constants">Constants</a></li>
                            <li ui-sref-active="active"><a href="#batchTiming">Batch Job Details</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu" *ngIf="(isRealSA || isCustomerAdmin || isDeveloper || usrRole=='GA' || usrRole=='FSE' || usrRole=='RA')">
                        <a tabindex="-1">Customer</a>
                        <ul class="dropdown-menu" style="width: 250px;" *ngIf="(isRealSA || isCustomerAdmin || isDeveloper)">
                            <li ui-sref-active="active"><a href="#customers">Customer</a></li>
                            <li ui-sref-active="active"><a href="#VistexCustomerMapping">Customer Mapping</a></li>
                            <li ui-sref-active="active"><a href="#CustomerVendors">Customer - Vendors</a></li>
                            <li ui-sref-active="active"><a href="#UnifiedCustomerAdmin">Unified Customer Admin</a></li>

                            <li *ngIf="(usrRole=='RA' && !isDeveloper)" ui-sref-active="active"><a href="#UnifiedCustomerAdmin">Unified Customer Admin</a></li>

                            <li><a href="Admin#/UnifiedDealRecon">Unified Deal Reconciliation</a></li>
                        </ul>
                    </li>
                    <ng-container *ngIf="(usrRole=='RA' && !isDeveloper)">
                        <li ui-sref-active="active"><a href="#adminGeo">Geo</a></li>
                        <li ui-sref-active="active"><a href="#funfact">Fun Facts</a></li>
                    </ng-container>
                    <li *ngIf="(usrRole=='DA' || usrRole=='Legal' || (usrRole=='GA' && isSuper) || isRealSA || isDeveloper)">
                        <a href="Admin#/meetcomp">Meet Comp</a>
                    </li>
                    <li class="dropdown-submenu" *ngIf="(isRealSA || isDeveloper)">
                        <a tabindex="-1">Products</a>
                        <ul class="dropdown-menu" style="width: 250px;">
                            <li ui-sref-active="active"><a href="#productAlias">Product Alias</a></li>
                            <li ui-sref-active="active"><a href="#products">Product Hierarchy</a></li>
                            <li ui-sref-active="active"><a href="#productCategories">Product Vertical Rules</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu" *ngIf="(usrRole=='Legal' || isRealSA || isDeveloper)">
                        <a tabindex="-1">Legal Configurations</a>
                        <ul class="dropdown-menu" style="width: 250px;">
                            <li ui-sref-active="active"><a href="#icostproducts">Legal Classification</a></li>
                            <li><a href="Admin#/legalexceptions">Legal Exceptions</a></li>
                            <li ui-sref-active="active"><a href="#quoteLetter">Quote Letter</a></li>
                        </ul>
                    </li>

                    <li *ngIf="(isRealSA || isCustomerAdmin || isDeveloper)" ui-sref-active="active"><a href="#dropdowns">UI Dropdown Values</a></li>


                    <li *ngIf="(isRealSA || isDeveloper)" ui-sref-active="active"><a href="#dataquality">Data Quality (DQ)</a></li>


                    <li *ngIf="(isDeveloper)"><a href="Admin#/dataFix">Data Fix</a></li>

                    <li *ngIf="(isDeveloper)" class="dropdown-submenu">
                        <a tabindex="-1">Security Attributes</a>
                        <ul class="dropdown-menu" style="width: 250px;">
                            <li><a href="Admin#/SecurityEngine">Security Engine</a></li>
                            <li ui-sref-active="active"><a href="#dealTypes">Deal Types</a></li>
                        </ul>
                    </li>
                    <li *ngIf="(isDeveloper)" class="dropdown-submenu">
                        <a tabindex="-1">WorkFlow</a>
                        <ul class="dropdown-menu" style="width: 250px;">
                            <li ui-sref-active="active"><a href="#workFlow">WorkFlow</a></li>
                            <li ui-sref-active="active"><a href="#workflowStages">WorkFlow Stages</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a tabindex="-1">Admin Tools</a>
                        <ul class="dropdown-menu" style="width: 250px;">
                            <li *ngIf="(isDeveloper)">
                            <li><a href="Admin#/AdminTools">Support Scripts</a></li>
                            <li><a href="Admin#/testtenders">Test Tenders Data</a></li>
                            <!--<li><a href="Admin#/dealmassupdate">Deal Mass Update</a></li>-->
                            <li ui-sref-active="active"><a ui-sref="dealmassupdate">Deal Mass Update</a></li>
                            <li><a href="Admin#/validateVistexR3Checks">Validate Deals for Vistex Push</a></li>
                            <li ui-sref-active="active"><a href="#pushDealstoVistex">Push Deals to Vistex</a></li>
                        </ul>
                        </li>

                        <li *ngIf="( isRealSA ||isDeveloper)" ui-sref-active="active"><a href="#consumptionCountry">Consumption Country/Region</a></li>


                        <li *ngIf="(usrRole=='DA' || isRealSA || isDeveloper || isCustomerAdmin)">
                            <!--<a href="Admin#/manageEmployee">User Accounts Administration</a>-->
                            <a ui-sref="manageEmployee">User Accounts Administration</a>
                        </li>
                        <li *ngIf="(usrRole=='DA' || usrRole=='GA' || isRealSA || isDeveloper)" class="dropdown-submenu">

                            <a tabindex="-1">Approval Rules Management</a>
                            <ul class="dropdown-menu" style="width: 250px;">
                                <li><a href="Admin#/rules/">Price Rules</a></li>
                                <li ui-sref-active="active"><a href="#ruleOwner">Rules Ownership Admin</a></li>
                            </ul>

                        </li>
                        <li *ngIf="(env=='LOCAL' && usrWwid==10548414)">
                            <a href="Admin#/MyDealsManual?topic=intro">My Deals Manual</a>
                        </li>
                </ul>
                </li>


                <li>
                    <a class="mainMenu" href="/advancedSearch#/tenderDashboard" title="Tender Dashboard">
                        <i class="intelicon-copy-solid"></i><span class="hidden-xs">Tender Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="mainMenu" href="/advancedSearch#/attributeSearch" title="Advanced Search Tools">
                        <i class="intelicon-search"></i><span class="hidden-xs">Advanced Search</span>
                    </a>
                </li>
                <li>
                    <a class="mainMenu" href="https://wiki.ith.intel.com/display/Handbook" target="_blank">
                        <i class="intelicon-help"></i><span class="hidden-xs">Help</span>
                    </a>
                </li>
                <li class="dropdown" *ngIf="(isReportingUser)">
                    <a class="btn btn-primary" role="button" href="/" data-toggle="dropdown" data-target="#" title="Reporting Dashboard">
                        <i class="intelicon-reports-solid"></i><span class="hidden-xs">Report </span><i class="intelicon-down"></i>
                    </a>
                    <ul class="dropdown-menu multi-level scaleTopAnim" role="menu" aria-labelledby="dropdownMenu">
                        <li ui-sref-active="active"><a href="#reportingdashboard">Report Dashboard</a></li>
                    </ul>
                </li>
                <li class="fr" style="background-color:#f2f2f2; border-radius: 3px;">
                    <global-search-angular></global-search-angular>
                </li>
        </ul>

    </div>

</nav>
<!--</div>-->