.btn-group {
    height: 28px !important;
    display: inline-block;
}

.global-search-ang {
    background-color: #f2f2f2;
    border-radius: 3px;
    float: right;
}

.show {
    display: block !important;
}

.dropdown-menu {
    border-color: #eee !important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
}

.menu-bar {
    background-color: #0071C5;
    padding: 0 6px 6px 6px
}

nav .hdrIcon {
    text-align: center
}

nav .hdrIcon a {
    padding: 6px
}

nav .hdrIcon a i {
    line-height: .9em;
    font-size: 20px
}

nav .hdrIcon a div {
    font-size: 9px;
    line-height: .9em
}

.menu-detailed a i {
    font-size: 28px !important;
    color: #00AEEF;
    margin: 2px 10px 0 0;
    width: 30px
}

.menu-detailed a div {
    line-height: 1.2em
}

.menu-detailed a div>div {
    font-size: 10px;
    color: #aaaaaa
}

.navbar-security {
    float: left;
    padding: 20px 15px 14px 0;
    font-size: 10px;
    margin-left: -11px;
    color: #ffffff;
    line-height: 12px;
    height: 50px
}

.globalSearchInpt {
    font-size: 14px;
    line-height: .9em;
    border: 0 solid transparent;
}

@media (max-width:970px) {
    .globalSearchInpt {
        width: 176px
    }
}

@media (max-width:810px) {
    .globalSearchInpt {
        width: 57px
    }
}

.dropdown-search li {
    cursor: pointer
}

#header-nav-search-results {
    position: fixed;
    top: 86px;
    right: 0;
    width: 300px;
    background-color: #ffffff;
    z-index: 2800;
    max-height: 400px;
    overflow: auto;
    color: #53565a;
    font-size: 11px;
    font-family: "Intel Clear", "Arial";
    line-height: 1;
    text-align: left;
    display: none;
    border: 1px solid #eeeeee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19)
}

ul .searchresult-title {
    color: #00008b;
    padding-bottom: 3px
}

ul .searchresult-light-pad {
    padding: 0 4px 5px 4px
}

ul .medium {
    font-weight: bold
}

ul .searchresult-container button {
    height: 18px;
    padding: 0 4px;
    margin: 0 4px;
    font-size: 10px;
    font-family: "Intel Clear", "Arial";
    text-transform: uppercase
}

#header-nav-search-results-container .error {
    background-color: #ffda00;
    border: 1px solid #fdb813;
    padding: 5px;
    color: #004280
}

#header-nav-search-results-searching {
    text-align: center;
    padding: 10px
}

.searchresultitem {
    border-bottom: 1px dotted #eeeeee
}

.searchresultitem:hover {
    background-color: #eeeeee;
    cursor: pointer
}

.searchresultwbitem {
    border-bottom: 1px dotted #eeeeee
}

.searchresultwbitem:hover {
    background-color: #eeeeee;
    cursor: pointer
}

#searchClose {
    margin-right: 4px
}

.draggable-search .draggable-handle {
    cursor: move;
    background-color: #dddddd
}

.nav-tabs>li>a {
    line-height: 1em
}

.notificationDock .unread {
    color: #00AEEF;
    padding: 2px;
    font-size: 12px;
    font-weight: bold
}

.notificationDock .read {
    color: #000;
    padding: 2px;
    font-size: 12px
}

.header-fixes li.dropdown ul.dropdown-menu {
    border-radius: 0;
}