.notificationDock .unread{color:#00AEEF;padding:2px;font-size:12px;font-weight:bold}.notificationDock .read{color:#000;padding:2px;font-size:12px}.dropdown-menu{position:absolute!important}ul{width:500px;padding-top:0;padding-bottom:0;width:500px}.settingsStyles{padding-right:9px;font-size:18px}.seeAllNotificationsStyle{color:#0071C5;height:25px}.modalBlueBody{background-color:#003C71;color:#ffffff}
.btn-primary.notification-icon-style:focus {
    background-color: #00aeef !important;
    border-radius: 3px !important;
    border-color: #00aeef !important;
}
.notificationStyles {
    background-color: #0071C5;
    color: #fff;
    font-size: 18px;
    padding: 2px;
    padding-bottom: 6px;
    border-top: 1px solid #fff !important;
    border-left: 1px solid #fff !important;
    border-right: 1px solid #fff !important;
    border-radius: 2px !important;
}