.notificationDock .unread {
    color: #00AEEF;
    padding: 2px;
    font-size: 12px;
    font-weight: bold;
}

.notificationDock .read {
    color: #000;
    padding: 2px;
    font-size: 12px;
}

ul {
    width: 500px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 500px;
}

.notificationStyles {
    background-color: #0071C5;
    color: #fff;
    font-size: 18px;
    padding: 2px;
    padding-bottom: 6px;
}

.settingsStyles {
    padding-right: 9px;
    font-size: 18px;
}

.seeAllNotificationsStyle {
    color: #0071C5;
    height: 25px;
}
.modalBlueBody {
    background-color: #003C71;
    color: #ffffff;
}


/*.toggle-notification .toggle {
    width: 60px !important;
    border-radius: 4px;
    height: 19px !important;
}

    .toggle-notification .toggle .btn-success {
        background-color: #00AEEF;
        color: #ffffff;
        font-size: 14px;
        line-height: 1.2em;
    }

    .toggle-notification .toggle .btn-default {
        background-color: #C4D600;
        color: #ffffff;
        font-size: 14px;
        line-height: 1.2em;
    }

    .toggle-notification .toggle .toggle-handle {
        background-color: #eeeeee;
    }*/
