
@{
    Layout = "~/Views/Shared/_LayoutAngular.cshtml";
}

<script src="http://kendo.cdn.telerik.com/2016.3.914/js/angular.min.js"></script>
<script src="http://kendo.cdn.telerik.com/2016.3.914/js/kendo.all.min.js"></script>
<link href="~/Content/kendo/2016.Q3/kendo.common.min.css" rel="stylesheet" />
<script src="~/js/constantsController.js"></script>

<div class="container-fluid" ng-controller="constantsController">
    <header class="title-bar intel-border-yellow">
        <span class="title-bar-title">Constants</span>
    </header>
    <!-- Use grid directive with scope options -->
    <div style="padding:20px;">
        <kendo-grid  options="gridOptions"></kendo-grid>
    </div>    
</div>

