
@{
    Layout = "~/Views/Shared/_LayoutAngular.cshtml";
}

<script src="~/js/constantsController.js"></script>

<div class="container-fluid" ng-controller="constantsController">
    <header class="title-bar intel-border-yellow">
        <span class="title-bar-title">Constants</span>
    </header>
    <!-- Use grid directive with scope options -->
    <div style="padding:20px;">
        <kendo-grid  options="gridOptions"></kendo-grid>
    </div>    
</div>

