<link href="/Client/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="/Client/node_modules/@progress/kendo-theme-bootstrap/dist/all.css" rel="stylesheet" />
<link href="/Client/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet" />
<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />
<!-- using for Angular spinner while page load -->

<div class="row">
    <div class="col-md-12" style="height:50px">
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="padding-left: 35px;">
        <h3>Unified Customer Admin</h3>
    </div>


    <div class="col-md-12 kendo-grid-buttons">
        <kendo-grid [data]="gridData" [loading]="isLoading" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort"
                    [filter]="state.filter" [sortable]="true" [pageable]="{type:type,pageSizes: pageSizes,info:info}"
                    [groupable]="false" [group]="state.group" filterable="menu"
                    [navigable]="true" (dataStateChange)="dataStateChange($event)" (add)="addHandler($event)" (edit)="editHandler($event)"
                    (cancel)="cancelHandler($event)" (save)="saveHandler($event)">
            <ng-template kendoGridToolbarTemplate>
                <button kendoGridAddCommand class="k-button addButton" *ngIf="editAccess">
                    <span class="k-icon k-i-plus-outline k-icon-md"></span>
                    ADD NEW RECORD
                </button>
                <button (click)="clearFilter()" class="k-button clearButton">
                    <span class="k-icon k-i-filter-clear k-icon-md"></span>
                    CLEAR FILTERS
                </button>
                <kendo-grid-spacer></kendo-grid-spacer>
                <button (click)="refreshGrid()" class="k-button clearButton">
                    <span class="k-icon k-i-reload k-icon-md"></span>
                    Refresh
                </button>
            </ng-template>
            <kendo-grid-command-column title="Commands" width="75" *ngIf="editAccess" [headerClass]="{'headerClass':true}">
                <ng-template kendoGridCellTemplate let-isNew="isNew">
                    <button id="command-icon" class="k-command-icon" kendoGridEditCommand>
                        <span class="k-icon k-i-edit k-icon-sm"></span>
                    </button>
                    <button id="command-icon" class="k-command-icon" kendoGridSaveCommand [disabled]="formGroup?.invalid">
                        <span class="k-icon k-i-check k-icon-sm"></span>
                    </button>
                    <button id="command-icon" class="k-command-icon" kendoGridCancelCommand>
                        <span class="k-icon k-i-cancel-outline k-icon-sm"></span>
                    </button>
                </ng-template>
            </kendo-grid-command-column>
            <kendo-grid-column field="IS_ACTV" title="Is Active" editor="boolean" width="50" filter="boolean" [headerClass]="{'headerClass':true}">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                    <div class="text-center">
                        <mat-slide-toggle [color]="color"
                                          [checked]="dataItem.IS_ACTV" disabled>
                        </mat-slide-toggle>
                    </div>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                    <div class="text-center">
                        <mat-slide-toggle [color]="color"
                                          [checked]="dataItem.IS_ACTV" [formControl]="formGroup.get('IS_ACTV')">
                        </mat-slide-toggle>
                    </div>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="PRIM_CUST_ID" title="Unified Customer ID" width="100" [headerClass]="{'headerClass':true}" [editable]="isUnifiedIdEditable">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                             let-filterService="filterService">
                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                       [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                    <kendo-textbox #primeCustDropDown [formControl]="formGroup.get('PRIM_CUST_ID')">
                    </kendo-textbox>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="PRIM_CUST_NM" title="Unified Customer Name" width="100" [headerClass]="{'headerClass':true}" [editable]="isPrimCustNmEditable">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                             let-filterService="filterService">
                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                       [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                    <kendo-combobox #primeCustNmDropDown [data]="distinctPrimeCustNm" [formControl]="formGroup.get('PRIM_CUST_NM')" [allowCustom]="allowCustom">
                    </kendo-combobox>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="PRIM_LVL_ID" title="Country Customer ID" width="100" [headerClass]="{'headerClass':true}" [editable]="isPrimLvlIdEditable">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                             let-filterService="filterService">
                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                       [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                    <kendo-textbox #ctryCustDropDown [formControl]="formGroup.get('PRIM_LVL_ID')">
                    </kendo-textbox>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="PRIM_LVL_NM" title="Country Customer Name" width="100" [headerClass]="{'headerClass':true}" [editable]="false">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                             let-filterService="filterService">
                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                       [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                </ng-template>
                <!--<ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                    <kendo-combobox #ctryCustNmDropDown [data]="distinctCtryCustNm" [formControl]="formGroup.get('PRIM_LVL_NM')" [allowCustom]="allowCustom">
                    </kendo-combobox>
                </ng-template>-->
            </kendo-grid-column>

            <kendo-grid-column field="PRIM_CUST_CTRY" title="Unified Country" width="100" [headerClass]="{'headerClass':true}" [editable]="isPrimCustCtryEditable">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                             let-filterService="filterService">
                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                       [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                    <kendo-combobox #primeCtryDropDown [data]="distinctprimeCtry" [formControl]="formGroup.get('PRIM_CUST_CTRY')" [allowCustom]="allowCustom">
                    </kendo-combobox>
                </ng-template>
            </kendo-grid-column>

            <!--Hiding the column temporarily as part of UCD Development. This might be enabled in future (functionality is implemented)-->
            <kendo-grid-column Current field="RPL_STS_CD" title="RPL Status Code" width="100" [headerClass]="{'headerClass':true}" [hidden]="true" [editable]="isRplStsDdEditable">
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                             let-filterService="filterService">
                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter"
                                       [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
                    <!--<kendo-combobox #rplStsCdDropDown [data]="distinctRplCd" [formControl]="formGroup.get('RPL_STS_CD')" [allowCustom]="allowCustom">
                    </kendo-combobox>-->
                    <kendo-multiselect #rplStsCdDropDown [data]="distinctRplCd" [formControl]="formGroup.get('RPL_STS_CD')" style="width: 250px;">
                    </kendo-multiselect>
                </ng-template>
            </kendo-grid-column>

        </kendo-grid>

        <kendo-dialog *ngIf="isDialogVisible" (close)="saveCancel()">
            <p class="kendo-dialog-message">{{errorMsg}}</p>
            <kendo-dialog-actions>
                <button class='k-button' (click)="saveConfirmation()">OK</button>
                <button class='k-button' *ngIf="cancelConfirm" (click)="saveCancel()">CANCEL</button>
            </kendo-dialog-actions>
        </kendo-dialog>

    </div>
</div>
