<div *ngIf="Rules != undefined" style="margin-top: 0;" class="form-horizontal" autocomplete="off">
    <div class="modal-content" id="ruleModal" style="overflow-y:auto;overflow-x:hidden; border: 1px solid #1a3e6f;border-bottom:none">
        <div class="modal-header modalBlueBody">
            <h3 id="modalTitle" class="ruleOneHeading">Rule Details</h3>
            <i id="btnClose" class="intelicon-close btnRuleClose" (click)="close()" title="Close this window"></i>
        </div>
        <div id="RulesDetailsBodyDivRules" class="modal-body">
            <div id="mainForm" style="margin-top: 10px; max-height:100px" class="form-horizontal bigFont">
                <div class="col-md-11 notesRuleDeatilsModal">
                    Use this page to manage the My Deals '<b>Tender Price Rules</b>' auto approval process. Any deal meeting the rules specified will be 'auto approved' when Rule Type = 'Auto Approval' or forced manual approval when Rule Type = 'Exclusion
                    Rule'. <span class="redboldRuleDeatilsModal">&nbsp;Important:</span> Changes made in this tool can potentially impact ALL deals moving through the My Deals application. As a rule owner, you may be held liable for any rules that improperly route deals
                    resulting in an inappropriate transaction. <a target="_blank" href="https://intel.sharepoint.com/sites/mydealstrainingportal/SitePages/Tender-Price-Rules.aspx" title="Intel wiki link for My Deals help">
                        &nbsp;Review training for additional details.
                    </a><br /><br />
                </div>
                <div class="col-md-11 notesRuleDeatilsModal">
                    <span class="redboldRuleDeatilsModal">NOTE:</span> Price Rules are run against 'Submitted' Tender (ECAP) deals in an
                    <span class="redboldRuleDeatilsModal">hourly BATCH process</span>. Each hour (HH:00) all 'Active' Price Rules will be run against all 'Submitted' ECAP tender deals. It is important to note that Price Rules do not run as deals are created but through
                    the <span class="redboldRuleDeatilsModal">hourly BATCH process.</span><br /><br />
                </div>
                <div class="col-md-9" style="font-size: 12px; margin: 0; padding: 0; text-align: right;" *ngIf="Rules.Id > 0">
                    Last modified by <span style="color:#00AEEF">{{Rules.ChangedBy}}</span> on <span style="color:#00AEEF">{{Rules.ChangeDateTimeFormat}} PST</span>
                </div>
                <div class="col-md-2" style="font-size: 12px; margin: 0; padding: 0; text-align: right; width:100%">
                </div>
                <div class="form-group row col-md-12">
                    <label class="control-label isRequired isLabelBefore col-md-2" autocomplete="off" style="padding-right:20px;">Name:</label>
                    <div class="col-md-7">
                        <input class="form-control md ruledet-boxes-style" type="text" [(ngModel)]="Rules.Name" style="width:100%">
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <mat-slide-toggle [color]="color" class="fl tgl-style toggle-accept toggle-button-custom mtoggle-approve-sty"
                                          [disabled]="(!(isElligibleForApproval && Rules.IsAutomationIncluded && Rules.Id > 0))"
                                          [(ngModel)]="Rules.RuleStage" on="Approved" off="Pending Approval"
                                          onstyle="btn-success" offstyle="btn-danger"
                                          title="{{Rules.RuleStage === true ? 'Click to Un-Approve' : 'Click to Approve'}}"
                                          (change)="UpdateRuleIndicator(Rules.Id, Rules.RuleStage,'UPDATE_STAGE_IND',((isElligibleForApproval == true && Rules.IsAutomationIncluded == true) ? true : false))"></mat-slide-toggle>
                    </div>
                </div>
                <div class="form-group row col-md-12">
                    <label class="control-label isRequired isLabelBefore col-md-2" style="padding-right:20px;">Owner:</label>
                    <div class="col-md-2">
                        <span style="line-height:35px;" title="{{Rules.OwnerId}}">{{Rules.OwnerName}}</span>
                    </div>
                    <label class="control-label col-md-2 rule-status-style">Rule Status:</label>
                    <span class="col-md-2" style="float: left;">
                        <mat-slide-toggle class="fl tgl-style toggle-accept toggle-button-custom toggle-ruletype-btn" [disabled]="Rules.RuleStage == false"
                                          [(ngModel)]="Rules.IsActive"
                                          on="Active"
                                          off="Inactive"
                                          onstyle="btn-success"
                                          offstyle="btn-danger"
                                          title="{{Rules.IsActive === true ? 'Active' : 'Inactivate'}}"
                                          (change)="UpdateRuleIndicator(Rules.Id, Rules.IsActive,'UPDATE_ACTV_IND',true)"></mat-slide-toggle>
                    </span>
                    <label class="control-label col-md-1" style="float: left; padding-right:20px; font-weight: bold;">Rule Type:</label>
                    <span class="col-md-2" style="float: right;">
                        <span>
                            <mat-slide-toggle class="fl tgl-style toggle-accept toggle-button-custom mrule-type-styl"
                                              [(ngModel)]="Rules.IsAutomationIncluded"
                                              on="AutoApproval"
                                              (change)="toggleType(Rules.IsAutomationIncluded, true)"
                                              off="Exclusion Rule"
                                              onstyle="btn-success"
                                              offstyle="btn-danger"
                                              title="{{Rules.IsAutomationIncluded === true ? 'Auto Approval' : 'Exclusion from Automation'}}"></mat-slide-toggle>
                        </span>
                    </span>
                </div>
                <div class="form-group row col-md-12">
                    <label class="control-label isRequired isLabelBefore col-md-2" style="padding-right:20px;">Start Date:</label>
                    <div class="col-md-2">
                        <kendo-datepicker #picker [(ngModel)]="strtDate" calendarType="classic" (valueChange)="UpdateEndDateFromStartDate()"></kendo-datepicker>
                    </div>
                    <label class="control-label isRequired isLabelBefore col-md-2" style="padding-right:20px;">End Date:</label>
                    <div class="col-md-2">
                        <kendo-datepicker #picker [(ngModel)]="endDt" calendarType="classic"></kendo-datepicker>
                    </div>
                </div>
                <div class="form-group row col-md-12">
                    <label class="control-label col-md-2" style="padding-right:20px; font-weight:bold;">Notes:</label>
                    <div class="col-md-9">
                        <kendo-textarea [rows]="10" [(ngModel)]="Rules.Notes" class="admin-notes-style" style="width: 100%; border: 1px solid rgb(133, 133, 133); "></kendo-textarea>
                    </div>
                </div>
                <div class="form-group row col-md-12" style="">
                    <label class="control-label col-md-2" style="padding-right: 20px; font-weight: bold;">Criteria:</label>
                    <div class="col-md-9">
                        <div *ngFor="let dataItem of Rules.Criteria; let i=index trackBy i"
                             class="divTableRow" style="margin-bottom: 10px;">
                            <div class="divTableCell" style="width:75px">
                                <span class="icnBtn icnSkyBtn" (click)="addRow(i)">
                                    <i class="intelicon-plus-max mplusminus-styleRule add-plus col-md-6"></i>
                                </span><span class="icnBtn icnGryBtn" (click)="removeRow(i)" *ngIf="i!=0">
                                    <i class="intelicon-minus-max mplusminus-styleRule add-minus col-md-6"></i>
                                </span>
                            </div>
                            <div class="divTableCell kdropdownlist">
                                <kendo-dropdownlist [data]="availableAttrs"
                                                    class="dealtype-dropdwn-style"
                                                    textField="title"
                                                    valueField="field"
                                                    [disabled]="i==0"
                                                    [(ngModel)]="dataItem.selectedField"
                                                    (valueChange)="valueChange($event, i)"></kendo-dropdownlist>
                            </div>
                            <div class="divTableCell kdropdownlist" *ngIf="dataItem.field != ''">
                                <kendo-dropdownlist [data]="dataItem.opvalues"
                                                    [ngClass]="i == 0 ? 'equalto-dropdwn-style' : 'equalto-dropdwn-addl-style'"
                                                    textField="label"
                                                    valueField="operator"
                                                    [disabled]="i==0"
                                                    [(ngModel)]="dataItem.selectedOperator"
                                                    (valueChange)="dataChange(i, dataItem, 'operator', $event)"></kendo-dropdownlist>
                            </div>
                            <div class="divTableCell rows-list-style" *ngIf="dataItem.type == 'number' || dataItem.type == 'money' || dataItem.type == 'numericOrPercentage'">
                                <kendo-numerictextbox [(ngModel)]="dataItem.value"
                                                      class="numerictextbox-style"
                                                      [disabled]="i==0"
                                                      (blur)="dataChange(i, dataItem, 'numerictextbox')"></kendo-numerictextbox>
                                <kendo-dropdownlist *ngIf="dataItem.field == 'VOL_INCR'" class="box_style_dropdwn" [data]="['%', 'unit']"></kendo-dropdownlist>
                                <button *ngIf="dataItem.field == 'END_DT_PUSH'" class="days-style-Rule"><span>Days</span></button>
                            </div>
                            <div class="divTableCell rows-list-style" *ngIf="dataItem.type == 'string' || dataItem.type == 'string_with_in' || dataItem.type == 'string_limited' || dataItem.type == 'autocomplete'">
                                <kendo-textbox [(ngModel)]="dataItem.value"
                                               class="extra-box-style"
                                               [disabled]="i==0"
                                               (blur)="dataChange(i, dataItem, 'textbox')"></kendo-textbox>
                                <span class="span-style">Use <i style="margin-right: 3px; color: #FFA300;">*</i> for wildcard searches. <i style="color:#FFA300;">example: Sam sun*</i></span>
                            </div>
                            <div class="divTableCell rows-list-style" *ngIf="dataItem.type == 'date'">
                                <kendo-datepicker [(ngModel)]="dataItem.value" class="calender-row-style" calendarType="classic" [disabled]="i==0"
                                                  (blur)="dataChange( i, dataItem, 'datePicker')"></kendo-datepicker>
                            </div>
                            <div class="divTableCell rows-list-style" *ngIf="dataItem.type == 'list' && dataItem.field == 'QLTR_BID_GEO'">
                                <kendo-multiselect [disabled]="i==0"
                                                   class="multi_kendo_style"
                                                   [data]="dataItem.dropDown"
                                                   textField="dropdownName"
                                                   valueField="dropdownName"
                                                   [autoClose]="false"
                                                   [(ngModel)]="dataItem.selectedValues"
                                                   (valueChange)="dataChangeMulti($event, i, dataItem, 'dropdownName')"></kendo-multiselect>
                            </div>
                            <div class="divTableCell rows-list-style" *ngIf="dataItem.type == 'list' && dataItem.field == 'CRE_EMP_NAME'">
                                <kendo-multiselect [disabled]="i==0"
                                                   class="multi_kendo_style"
                                                   [data]="dataItem.dropDown"
                                                   textField="NAME"
                                                   valueField="EMP_WWID"
                                                   [autoClose]="false"
                                                   [(ngModel)]="dataItem.selectedValues"
                                                   (valueChange)="dataChangeMulti($event, i, dataItem, 'name')"></kendo-multiselect>
                            </div>
                            <div class="divTableCell rows-list-style" *ngIf="dataItem.type == 'list' && dataItem.field == 'CHG_EMP_NAME'">
                                <kendo-multiselect [disabled]="i==0"
                                                   class="multi_kendo_style"
                                                   [data]="dataItem.dropDown"
                                                   textField="NAME"
                                                   valueField="EMP_WWID"
                                                   [autoClose]="false"
                                                   [(ngModel)]="dataItem.selectedValues"
                                                   (valueChange)="dataChangeMulti($event, i, dataItem, 'name')"></kendo-multiselect>
                            </div>
                            <div class="divTableCell rows-list-style" *ngIf="dataItem.type == 'list' && (dataItem.field == 'PCSR_NBR' || dataItem.field == 'OP_CD' || dataItem.field == 'DIV_NM' || dataItem.field == 'FMLY_NM' || dataItem.field == 'PRD_CAT_NM')">
                                <kendo-multiselect [disabled]="i==0"
                                                   class="multi_kendo_style"
                                                   [data]="dataItem.dropDown"
                                                   textField="value"
                                                   valueField="value"
                                                   [autoClose]="false"
                                                   [(ngModel)]="dataItem.selectedValues"
                                                   (valueChange)="dataChangeMulti($event, i, dataItem, 'value')"></kendo-multiselect>
                            </div>
                            <div class="divTableCell rows-list-style" *ngIf="dataItem.type == 'list' && (dataItem.field == 'HOST_GEO' || dataItem.field == 'GEO_COMBINED')">
                                <kendo-multiselect [disabled]="i==0"
                                                   class="multi_kendo_style"
                                                   [data]="dataItem.dropDown"
                                                   [autoClose]="false"
                                                   [(ngModel)]="dataItem.selectedValues"
                                                   (valueChange)="dataChangeMulti($event, i, dataItem, 'value')"></kendo-multiselect>
                            </div>
                            <div class="divTableCell rows-list-style" *ngIf="dataItem.type == 'list' && (dataItem.field == 'PAYOUT_BASED_ON' || dataItem.field == 'MRKT_SEG' || dataItem.field == 'SERVER_DEAL_TYPE')">
                                <kendo-multiselect [disabled]="i==0"
                                                   class="multi_kendo_style"
                                                   [data]="dataItem.dropDown"
                                                   textField="DROP_DOWN"
                                                   valueField="DROP_DOWN"
                                                   [autoClose]="false"
                                                   [(ngModel)]="dataItem.selectedValues"
                                                   (valueChange)="dataChangeMulti($event, i, dataItem, 'dropdown')"></kendo-multiselect>
                            </div>
                            <div class="divTableCell rows-list-style" *ngIf="dataItem.type == 'list' && dataItem.field == 'CUST_NM'">
                                <kendo-multiselect [disabled]="i==0"
                                                   class="multi_kendo_style"
                                                   [data]="dataItem.dropDown"
                                                   textField="CUST_NM"
                                                   valueField="CUST_SID"
                                                   [autoClose]="false"
                                                   [(ngModel)]="dataItem.selectedValues"
                                                   (valueChange)="dataChangeMulti($event, i, dataItem, 'custName')"></kendo-multiselect>
                            </div>
                            <div class="divTableCell rows-list-style" *ngIf="dataItem.type == 'singleselect' || dataItem.type == 'singleselect_ext' || dataItem.type == 'singleselect_read_only'">
                                <kendo-combobox [disabled]="i==0"
                                                class="ecap-combo-style"
                                                [data]="dataItem.dropDown"
                                                [(ngModel)]="dataItem.selectedValues"
                                                (valueChange)="dataChange(i, dataItem, 'combobox', $event)"></kendo-combobox>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="Rules.IsAutomationIncluded" class="form-group row col-md-12">
                    <label class="control-label col-md-2" style="padding-right: 20px; font-weight: bold;">Blanket Discount:</label>
                    <div class="col-md-8" id="blanket_section" style="margin-top: 4px;">
                        <span>Requested ECAP must be no less than</span>&nbsp;
                        <kendo-numerictextbox [(ngModel)]="BlanketDiscountPercentage" (change)="EditBlanketDiscountPercentage()" decimals="0" format="'#'" [min]="0" [max]="70" style="width: 100px; font-size:11px;"></kendo-numerictextbox>&nbsp;
                        <span>%&nbsp;Or&nbsp;$</span>&nbsp;
                        <kendo-numerictextbox [(ngModel)]="BlanketDiscountDollor" (change)="EditBlanketDiscountDollor()" format="'n2'" [min]="0" style="width: 130px;font-size:11px;"></kendo-numerictextbox>&nbsp;
                        <span>off of CAP</span>
                    </div>
                </div>

                <div style="display:none;">Dummy button to prevent events while press enter key in textbox<button></button></div>
                <div [hidden]="!Rules.IsAutomationIncluded" class="form-group row col-md-12" id="productCriteria" style="padding-bottom: 10px;">
                    <label class="control-label col-md-2" style="padding-right: 20px; font-weight: bold;">Product Criteria:</label>
                    <div class="col-md-9">
                        <hot-table [hotId]="hotId" [data]="ProductCriteria" [settings]="hotSettings" class="all-spread price-rule-spread"></hot-table>
                        <button (click)="validateProduct(true,false,'Validate')" class="btn btn-primary validate-price-rule-style">Validate Products</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer buttonBar">
            <div class="form-group row action_btns col-md-12">
                <div class="col-md-7">
                    <button (click)="saveRule('SAVE_AS_DRAFT',false)" class="btn btn-primary" style="margin-left: 15px">Save as Draft</button>
                    <button (click)="saveRule('SUBMIT',true)" class="btn btn-primary" style="margin-left: 15px">Submit</button>
                    <button (click)="close()" class="btn btn-primary" style="margin-left: 15px;">Cancel / Close</button>
                    <button (click)="runSimulation()" class="btn btn-success btnSuccessRulers" style="margin-left: 15px;" title="Rule must be Saved as Draft to run simulation" [disabled]="Rules.Id == 0">Simulate</button>
                </div>
            </div>
        </div>
        <kendo-dialog *ngIf="isAlertVal" class="price-rule-popup" (close)="onDialogClose()" title=" ">
            <h2 *ngIf="submitRule">Saving confirmation</h2>
            <p class="text-price-style" [innerHtml]="isAlertText"></p>
            <kendo-dialog-actions *ngIf="isOk" (click)="closeAlertVal()" class="price-rule-dialog-sty">
                <button class="price-admin-ok">OK</button>
            </kendo-dialog-actions>
            <kendo-dialog-actions *ngIf="retryAction" class="retry-style">
                <button class="price-rule-retry" (click)="closeAlertVal()" style="width: 49% !important;">RETRY</button>
                <button class="price-rule-retry" (click)="closeAlertVal()" style="width: 49% !important;">CANCEL</button>
            </kendo-dialog-actions>
            <kendo-dialog-actions *ngIf="submitRule" class="retry-style">
                <button class="price-rule-retry" (click)="closeAlertVal()" style="width: 49% !important;">CANCEL</button>
                <button class="price-rule-retry" (click)="closeAlertVal('yes')" style="width: 49% !important;">YES</button>
            </kendo-dialog-actions>
        </kendo-dialog>
    </div>
</div>
<loading-panel-angular id="PriceRulesLoading"  style="z-index:500;" [show]="isLoading" [header]="spinnerMessageHeader" [description]="spinnerMessageDescription"
                       [isShowFunFact]="isBusyShowFunFact" [msgType]="msgType" class="loader-fixes"></loading-panel-angular>