<link href="/Client/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="/Client/node_modules/@progress/kendo-theme-bootstrap/dist/all.css" rel="stylesheet" />
<link href="/Client/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet" />
<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" /><br />

<loading-panel-angular [show]="isLoading" [header]="spinnerMessageHeader" [isShowFunFact]="isBusyShowFunFact"
                       [description]="spinnerMessageDescription" [msgType]="msgType"></loading-panel-angular>

<div id="horizontal" [ngClass]="{'collapsed': isLnavHidden, 'expanded': !isLnavHidden}">
    <div id="center-pane" class="fr" [ngClass]="{'overFlowHidden': isTenderContract==true}">
        <div id="contractContainerWrapper">
            <div id="contractContainer" class="fullHeight">
                <div *ngIf="selLnav=='PTE'">
                    <div *ngIf="isPTEEnable==true">
                        <div class="pricing-strategy-status-bar fr" style="padding-right: 0px;">
                            <div class="valid_{{ps_passed_validation}}" style="padding: 5px 8px;"><span style="opacity: 0.5;">PRICING STRATEGY:</span> {{ wf_Stage }}</div>
                        </div>
                        <div id="contractHeader">
                            <div>
                                <div class="col-md-10" style="padding-left: 0px;">
                                    <div class="col-md-1" title="{{ ps_passed_validation || 'Not validated yet' }}" style="width: 2.5% !important; line-height: 1em; font-size: 26px; padding-left: 0px;">
                                        <i class="intelicon-protection-solid bigIcon validf_{{ps_passed_validation}}" *ngIf="ps_passed_validation === 'Complete'" title="{{ps_passed_validation}}"></i>
                                        <i class="intelicon-protection-outlined bigIcon validf_{{ps_passed_validation}}" *ngIf="ps_passed_validation === 'Finalizing'" title="{{ps_passed_validation}}"></i>
                                        <i class="intelicon-protection-outlined bigIcon validf_{{ps_passed_validation}}" *ngIf="ps_passed_validation === 'Valid'" title="{{ps_passed_validation}}"></i>
                                        <i class="intelicon-protection-outlined bigIcon validf_{{ps_passed_validation}}" *ngIf="ps_passed_validation === 'Dirty'" title="{{(ps_passed_validation === 'Dirty' ? 'Validation Errors' : ps_passed_validation) || 'Not validated yet'}}"></i>
                                        <i class="intelicon-protection-outlined bigIcon validf_{{ps_passed_validation}}" *ngIf="ps_passed_validation !== 'Valid' && ps_passed_validation !== 'Dirty' && ps_passed_validation !== 'Complete' && ps_passed_validation !== 'Finalizing'" title="{{ps_passed_validation || 'Not validated yet'}}"></i>
                                        <div *ngIf="is_hybrid_ps === '1'" class="isHybridIdentHeader_{{ps_passed_validation}}">H</div>
                                    </div>
                                    <div class="fntLg" style="color: #000000; margin: 2px 6px 2px 0; font-size: 20px;">
                                        <b style="color:#123b70">#{{ ps_Id }}</b> {{ ps_title }}
                                    </div>
                                </div>

                                <div class="col-md-10" style="padding-left: 0px;">
                                    <div class="fl textCircleMd valid_{{pt_passed_validation}}">{{ pt_type | slice:0:1 }}</div>
                                    <div class="fntLg" style="color: #000000;">
                                        <b style="color:#123b70">#{{ pt_Id }}</b> {{ pt_title }}
                                    </div>
                                </div>
                                <div class="clearboth"></div>
                            </div>
                        </div>
                        <kendo-tabstrip (tabSelect)="onTabSelect($event)">
                            <kendo-tabstrip-tab title="Pricing Table Editor" [selected]="isPTETab==true">
                                <ng-template kendoTabContent>
                                    <div *ngIf="isPTETab">
                                        <pricing-table-editor [in_Cid]="c_Id" [in_Ps_Id]="ps_Id" [in_Pt_Id]="pt_Id" [contractData]="contractData" [UItemplate]="UItemplate">
                                        </pricing-table-editor>
                                    </div>
                                </ng-template>
                            </kendo-tabstrip-tab>
                            <kendo-tabstrip-tab title="Deal Editor" [selected]="isDETab==true" [disabled]="isDETabEnabled == false">
                                <ng-template kendoTabContent>
                                    <div *ngIf="isDETab">
                                        <deal-editor [in_Cid]="c_Id" [in_Ps_Id]="ps_Id" [in_Pt_Id]="pt_Id" [contractData]="contractData" [UItemplate]="UItemplate" (refreshedContractData)="refreshContractData($event)">
                                        </deal-editor>
                                    </div>
                                </ng-template>
                            </kendo-tabstrip-tab>
                        </kendo-tabstrip>
                    </div>
                    <div *ngIf="!isPTEEnable">
                        <div class="container-fluid editor101">
                            <div class="col-md-11" style="text-align: center;padding-top: 60px;">
                                <h4>Contract Editor 101</h4>
                            </div>
                            <div class="col-md-5">
                                <div class="pnl">
                                    <div class="head">Contract Navigator Menu Actions</div>
                                    <div class="body">
                                        <div class="fl icon">
                                            <div><i class="intelicon-save-outlined"></i></div>
                                            <div>
                                                <p>Save</p>
                                            </div>
                                        </div>
                                        <div class="fl icon" *ngIf="C_ADD_PRICING_STRATEGY">
                                            <div><i class="intelicon-plus-max"></i></div>
                                            <div>
                                                <p>Add test</p>
                                            </div>
                                        </div>
                                        <div class="fl icon">
                                            <div><i class="intelicon-search"></i></div>
                                            <div>
                                                <p>Search test</p>
                                            </div>
                                        </div>
                                        <div class="fl icon">
                                            <div><i class="intelicon-fast-forward"></i></div>
                                            <div>
                                                <p>Expand/ Minimize</p>
                                            </div>
                                        </div>
                                        <div class="fl icon">
                                            <div><i class="intelicon-shrink flip-horizontal"></i></div>
                                            <div>
                                                <p>Show/Hide Panel</p>
                                            </div>
                                        </div>
                                        <div class="clearboth"></div>
                                    </div>
                                </div>
                                <div class="pnl">
                                    <div class="head">Navigator Menus</div>
                                    <div class="body">
                                        <div style="padding-left: 20px; padding-top: 5px;">
                                            <p>Click for access to the menus for both test & test management</p><img src="/images/learning101menu_v2.png" style="margin-bottom: 5px;height: 100%; width: 100%" />
                                            <p><span style="color: #FC4C02;">**</span>Please note menus will display actions based off of role type &/or rules </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"><img src="/images/instructions.png" style="margin-top: 10px;height: 100%; width: 100%" /></div>
                        </div>
                    </div>
                </div>
                <div *ngIf="selLnav=='MeetComp'">
                    <meet-comp-contract [objSid]="contractData.DC_ID" [isAdhoc]="'1'" [objTypeId]="'1'" [lastMeetCompRun]="contractData.LAST_COST_TEST_RUN" [pageNm]="'WIDGET'"></meet-comp-contract>
                </div>
                <div *ngIf="selLnav=='Manage' || selLnav=='approvalDiv'">
                    <contract-manager [contractData]="contractData" [UItemplate]="UItemplate">
                    </contract-manager>
                </div>
                <div *ngIf="selLnav=='overlapDiv'">
                    <overlapping-deals [contractData]="contractData" [UItemplate]="UItemplate"></overlapping-deals>
                </div>
                <div *ngIf="selLnav=='groupExclusionDiv'">
                    <manager-pct [contractData]="contractData" [UItemplate]="UItemplate" [tab]="selLnav"></manager-pct>
                </div>
                <div *ngIf="selLnav=='contractDetailsDiv'">
                    <contract-details [C_ID]="contractData?.DC_ID"></contract-details>
                </div>
                <div *ngIf="selLnav=='historyDiv'">
                    <contract-history [contractData]="contractData" [UItemplate]="UItemplate"></contract-history>
                </div>
                <div *ngIf="selLnav=='contractReviewDiv'">
                    <contract-export [contractData]="contractData" [UItemplate]="UItemplate"></contract-export>
                </div>
                <div *ngIf="selLnav=='dealReviewDiv'">
                    <all-deals [contractData]="contractData" [UItemplate]="UItemplate"></all-deals>
                </div>
                <div *ngIf="selLnav=='dealProducts'">
                    <missing-cap [contractData]="contractData" [UItemplate]="UItemplate"></missing-cap>
                </div>
                <div *ngIf="selLnav=='pctDiv'">
                    <manager-pct [contractData]="contractData" [UItemplate]="UItemplate" [tab]="selLnav"></manager-pct>
                </div>
                <div *ngIf="selLnav=='ViewContractDetails'">
                    <contract-details [C_ID]="contractData?.DC_ID"></contract-details>
                </div>
            </div>
        </div>
    </div>
    <div id="left-pane" *ngIf="isLNavEnable">
        <lnavView [contractId]="c_Id" (modelChange)="loadModel($event)" [contractData]="contractData" [UItemplate]="UItemplate"></lnavView>
    </div>
</div>