<link href="/Client/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="/Client/node_modules/@progress/kendo-theme-bootstrap/dist/all.css" rel="stylesheet" />
<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" /><br />
<div id="horizontal"
    [ngClass]="{'collapsed': isLnavHidden || isTenderContract==true, 'expanded': !isLnavHidden && isTenderContract !=true, 'hideLnav': isTenderContract==true}">
    <div id="center-pane" class="fr" [ngClass]="{'overFlowHidden': isTenderContract==true}">
        <div id="contractContainerWrapper">
            <div id="contractContainer" class="fullHeight">
                <div *ngIf="selLnav=='PTE'">
                    <div id="contractHeader"></div>
                    <div *ngIf="isPTEEnable==true">
                        <kendo-tabstrip (tabSelect)="onTabSelect($event)">
                            <kendo-tabstrip-tab title="Pricing Table Editor" [selected]="isPTETab==true">
                                <ng-template kendoTabContent>
                                    <p>pricing Editor</p>
                                    <pricingTableEditor [in_Cid]="c_Id" [in_Ps_Id]="ps_Id" [in_Pt_Id]="pt_Id"
                                        [contractData]="contractData" [UItemplate]="UItemplate"></pricingTableEditor>
                                </ng-template>
                            </kendo-tabstrip-tab>
                            <kendo-tabstrip-tab title="Deal Editor" [selected]="isDETab==true">
                                <ng-template kendoTabContent>
                                    <p>Deal Editor</p>
                                </ng-template>
                            </kendo-tabstrip-tab>
                        </kendo-tabstrip>
                    </div>
                    <div *ngIf="!isPTEEnable">
                        <div class="container-fluid editor101">
                            <div class="col-md-11" style="text-align: center;padding-top: 60px;">
                                <h4>Contract Editor 101</h4>
                            </div>
                            <div class="col-md-5">
                                <div class="pnl">
                                    <div class="head">Contract Navigator Menu Actions</div>
                                    <div class="body">
                                        <div class="fl icon">
                                            <div><i class="intelicon-save-outlined"></i></div>
                                            <div>
                                                <p>Save</p>
                                            </div>
                                        </div>
                                        <div class="fl icon" *ngIf="C_ADD_PRICING_STRATEGY">
                                            <div><i class="intelicon-plus-max"></i></div>
                                            <div>
                                                <p>Add test</p>
                                            </div>
                                        </div>
                                        <div class="fl icon">
                                            <div><i class="intelicon-search"></i></div>
                                            <div>
                                                <p>Search test</p>
                                            </div>
                                        </div>
                                        <div class="fl icon">
                                            <div><i class="intelicon-fast-forward"></i></div>
                                            <div>
                                                <p>Expand/ Minimize</p>
                                            </div>
                                        </div>
                                        <div class="fl icon">
                                            <div><i class="intelicon-shrink flip-horizontal"></i></div>
                                            <div>
                                                <p>Show/Hide Panel</p>
                                            </div>
                                        </div>
                                        <div class="clearboth"></div>
                                    </div>
                                </div>
                                <div class="pnl">
                                    <div class="head">Navigator Menus</div>
                                    <div class="body">
                                        <div style="padding-left: 20px; padding-top: 5px;">
                                            <p>Click for access to the menus for both test & test management</p><img
                                                src="/images/learning101menu_v2.png"
                                                style="margin-bottom: 5px;height: 100%; width: 100%" />
                                            <p><span style="color: #FC4C02;">**</span>Please note menus will display
                                                actions based off of role type &/or rules </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"><img src="/images/instructions.png"
                                    style="margin-top: 10px;height: 100%; width: 100%" /></div>
                        </div>
                    </div>
                </div>
                <div *ngIf="selLnav=='MeetComp'">
                    <p>Meet Comp</p>
                </div>
                <div *ngIf="selLnav=='Manage'">
                    <p>Manage screen</p>
                </div>
            </div>
        </div>
    </div>
    <div id="left-pane" *ngIf="isLNavEnable">
        <lnavView [contractId]="c_Id" (modelChange)="loadModel($event)" [contractData]="contractData"
            [UItemplate]="UItemplate"></lnavView>
    </div>
</div>