.pricingTableParent {
    position: relative;
    top: -20px;
    height: calc(100% - 85px) !important;
}

@media (max-width: 1160px) {
    .pricingTableParent {
        height: calc(100% - 125px) !important;
    }
}

.pricingTableParent .editor101 {
    height: 100%;
    overflow: auto !important
}

.pricingTableParent .editor101 h4 {
    margin-top: 0;
    color: #0071C5
}

.pricingTableParent .editor101 .pnl {
    margin: 10px 10px;
    border: 1px solid #e7e7e8
}

.pricingTableParent .editor101 .head {
    border-bottom: 1px solid #e7e7e8;
    background-color: #e7e7e8;
    padding: 6px;
    font-size: 16px;
    color: #0071C5;
    font-weight: 600
}

.pricingTableParent .editor101 .body {
    padding: 5px
}

.pricingTableParent .editor101 .icon {
    text-align: center;
    margin: 5px 7px;
    width: 70px
}

.pricingTableParent .editor101 .icon i {
    color: #00AEEF;
    font-size: 30px
}

.pricingTableParent .editor101 .icon i.inverse {
    color: #ffffff;
    font-size: 30px;
    background-color: #00AEEF;
    border-radius: 4px;
    padding: 4px
}

.pricingTableParent .editor101 .icon div {
    font-weight: 600
}

.pricingTableParent .editor101 .icon p {
    margin: 6px 0
}

.pricingTableParent #left-pane {
    height: auto;
    float: left;
    overflow: auto;
    width: 300px;
    margin-left: -300px;
    padding: 0;
    background-color: #ffffff !important
}

.pricingTableParent #contractHeader {
    height: 62px !important;
    margin-top: 0 !important;
    font-size: 14px;
    font-family: "Intel Clear";
    font-weight: 200;
    font-style: normal
}

.pricingTableParent .pricing-strategy-status-bar {
    color: #000000;
    font-size: 10px;
    font-family: arial;
    text-transform: uppercase;
    height: 16px
}

.pricingTableParent #contractContainerWrapper {
    height: 100%;
    padding: 0 0 0 0 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.pricingTableParent #contractContainer {
    height: 100%;
    padding: 0;
    overflow: hidden;
    width: 100%
}

.pricingTableParent .fntLg {
    font-family: 'Intel Clear';
    font-weight: 200;
    font-style: normal;
    font-size: 16px
}

.pricingTableParent .textCircleMd {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 4px;
    color: #003C71;
    text-align: center;
    font: 12px Arial, sans-serif;
    font-weight: bold;
    margin: 1px 6px 0 2px
}

.pricingTableParent .valid_Complete {
    background: #C4D600
}

.pricingTableParent b {
    font-weight: bold !important
}

.pricingTableParent .isHybridIdentHeader,
.pricingTableParent .isHybridIdentHeader_Complete,
.pricingTableParent .isHybridIdentHeader_Finalizing,
.pricingTableParent .isHybridIdentHeader_Valid,
.pricingTableParent .isHybridIdentHeader_Dirty,
.pricingTableParent .isHybridIdentHeader_0,
.pricingTableParent .isHybridIdentHeader_ {
    font-size: 11px;
    font-weight: bold;
    color: blue;
    position: relative;
    margin-left: 9px;
    margin-top: -25px;
}

.pricingTableParent .k-tabstrip-items .k-item {
    margin-right: 0 !important;
    font-size: 14px !important;
    font-weight: 400 !important
}

.pricingTableParent .variable-plus {
    padding-left: 10px;
    padding-top: 2px
}

#noData .k-window.k-dialog {
    border-radius: 0 !important;
}

.noData-kendo-dialog button.btn.btn-primary.k-button {
    padding: 1.5em 0;
    background-color: #dbdbdb !important;
    color: #444444 !important;
    font-size: 15px !important;
    border: none !important;
}

.noData-kendo-dialog button.btn.btn-primary.k-button:focus {
    outline: 0 !important
}

.noData-kendo-dialog button.btn.btn-primary.k-button:hover {
    background-color: #ebebeb !important;
    color: #444;
}

kendo-dialog-actions.noData-kendo-dialog.k-dialog-buttongroup.k-actions.k-actions-stretched {
    padding: 0 !important;
}

/* Ensure embargo dialog appears on top */
#embargoCountryWarning {
    z-index: 999999 !important;
    position: fixed !important;
}

::ng-deep #embargoCountryWarning .k-dialog {
    z-index: 999999 !important;
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}