<div *ngIf="adminBannerMessage" class="col-md-6">
    <div *ngIf="userDismissed==1" class="alert alert-dismissible adminBanner" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close()">
            <span aria-hidden="true"class="intelicon-close-solid"></span>
        </button>
        <p [innerHTML]="adminBannerMessage"></p>
    </div>
    <div *ngIf="userDismissed==0" class="text-center adminBannerIcon">
        <i role="button" class='intelicon-email-message-solid' (click)="close(false)"></i>
    </div>
</div>