.adminBanner {
    font-size: 12px;
    z-index: 800;
    padding: 5px 11px;
    width: 400px;
    margin: 0;
    position: absolute;
    right: 120px;
    background: #f3d54e;
    border-radius: 3px;
    top: 3px;
}

.adminBanner > button.close {
    top: -5px;
    right: -5px;
    color: red;
}

.adminBanner > p {
    line-height: 1.1em;
    padding-right: 8px;
}

.adminBannerIcon {
    color: #F3D54E;
    z-index: 1500;
    font-size: 20px;
    font-weight: 400;
    margin-top: 8px;
    position: absolute;
    right: 50px;
}