<div class='op-grid-container-wrapper'>
    <div ng-show="isToolbarVisible && !hideToolbar" class='op-grid-header'>
        <div ng-if="dealCnt">
            <div class="dealTag" style="position: absolute; top: 0; right: 0; z-index: 100; font-size: 16px;">
                {{displayDealTypes()}}
            </div>
        </div>
        <div id="tabstrip" kendo-tab-strip class="gradTab" k-ng-delay="tabStripDelay" ng-show="tabStripDelay">

            <ul class="fl">
                <li ng-repeat="group in opOptions.groups | orderBy:'order'" ng-click="showCols(group.name)" ng-hide="group.isHidden || group.isTabHidden">
                    <i class="intelicon-pin-outlined" ng-hide="{{ !isPinEnabled || group.name == 'All' || group.name == 'CAP Info' }}" title="Pin tab so it always shows in the grid" ng-click="clickPin($event, group.name)"></i> {{group.name}}
                    <span class="badge error" ng-show="group.numErrors > 0">{{group.numErrors}}</span>
                    <span class="badge warning" ng-show="{{ group.name == 'CAP Info' && numSoftWarn > 0 }}">{{numSoftWarn}}</span>
                    <i class="intelicon-close-solid closeGrp" ng-hide="{{ group.name == 'All' || group.name == 'CAP Info' || !isLayoutConfigurable}}" title="Close tab" ng-click="removeTab($event, group.name)"></i>
                </li>
            </ul>
        </div>

        <div class="toolbar" ng-hide="isCustomToolbarEnabled">

            <div class="fl">
                <button class="btn btn-sm btn-save ssToolbarBtn" ng-class="{'notdirty': !_dirty && !isOverlapping}" ng-click="saveAndValidateGrid()" ng-show="isEditable" title="Save and Validate Deals">
                    <table>
                        <tr>
                            <td>
                                <i class="fa fa-floppy-o" aria-hidden="true" style="font-size: 30px"></i>
                            </td>
                            <td class="hidden-sm hidden-xs" style="padding-left: 5px; text-align: left; color: #00AEEF;">
                                <span class="text">
                                    Save & Validate
                                </span>
                            </td>
                        </tr>
                    </table>
                </button>

                <button class="btn btn-sm ssToolbarBtn" ng-click="toggleTerms()" ng-show="isVisibleAdditionalDiscounts" title="Show/Hide Additional Discounts and Requirements.">
                    <table>
                        <tr>
                            <td>
                                <i class="intelicon-legal skyBlue" aria-hidden="true" style="font-size: 30px"></i>
                            </td>
                            <td class="hidden-md hidden-sm hidden-xs" style="padding-left: 5px; text-align: left; color: #00AEEF;">
                                Show/Hide<br />Additional Discounts
                            </td>
                        </tr>
                    </table>
                </button>

            </div>

            <div class="fr" style="margin-top: 2px;">
                <span class="k-textbox k-space-left opGridSearchInput">
                    <input type="search" ng-keyup="clkSearchGrid($event)" placeholder="search... (press enter to search)" ng-model="searchFilter" />
                    <a ng-click="searchGrid()" class="k-icon" style="width: 30px; margin-left: -3px; margin-top: -12px; height: 25px;">
                        <i class="intelicon-search" style="font-size: 18px; color: #00AEEF;"></i>
                    </a>
                </span>
            </div>

            <div class="fr" style="margin-right: 10px">
                <button class="fr btn btn-sm ssToolbarBtn" title="Help" ng-click="showHelpTopicHelper()" style="margin-top:4px">
                    <i class="intelicon-help skyBlue" style="font-size: 30px !important"></i>
                </button>
            </div>

            <div class="fr dropdown clearfix" style="margin-right: 2px;" ng-hide="data[0].value === ''" ng-show="isExportable">
                <button class="btn btn-sm ssToolbarBtn dropdown-toggle" id="dropdownMenuOpGrid" aria-expanded="true" type="button" data-toggle="dropdown">
                    <table>
                        <tbody>
                            <tr>
                                <td style="border: 0 solid transparent;">
                                    <i class="intelicon-ms-excel-outlined skyBlue" aria-hidden="true" style="font-size: 30px !important"></i>
                                </td>
                                <td class="hidden-md hidden-sm hidden-xs" style="padding-left: 2px; text-align: left; color: #00AEEF; line-height: 1.2em; border: 0 solid transparent;">
                                    Excel<br>Export
                                </td>
                                <td>
                                    <span class="caret" style="margin-left: 6px;"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuOpGrid" style="font-size: 13px;">
                    <li ng-click="exportToExcel()" style="cursor: pointer;"><a>Export All Columns, All Data</a></li>
                    <li ng-click="exportToExcelCustomColumns()" style="cursor: pointer;"><a>Export Current View</a></li>
                </ul>
            </div>

            <div class="fr" style="margin-top: 2px; margin-left: 8px;" ng-show="isLayoutConfigurable">
                <ul kendo-menu>
                    <li>
                        <i class="fl intelicon-settings-solid" style="font-size: 30px !important; vertical-align: text-top;" title="Manage Columns"></i>
                        <span class="fl hidden-md hidden-sm hidden-xs" style="font-size: 12px; line-height: 1em; padding: 4px;">Grid<br />Settings</span>
                        <i style="font-size: 40px !important; width: 1px !important;"></i>
                        <ul>
                            <li ng-click="addTab()">
                                <i class="intelicon-plus-outlined" style="font-size: 18px;"></i> ADD TAB
                            </li>
                            <li ng-click="renameTab()">
                                <i class="intelicon-plus-outlined" style="font-size: 18px;"></i> RENAME TAB
                            </li>
                            <li ng-click="defaultLayout()">
                                <i class="intelicon-dashboard-solid" style="font-size: 18px;"></i> DEFAULT LAYOUT
                            </li>
                            <li ng-click="customLayout()" ng-class="{'li-disabled': opOptions.custom === undefined}">
                                <i class="intelicon-dashboard-outlined" style="font-size: 18px;"></i> CUSTOM LAYOUT
                            </li>
                            <li ng-click="saveLayout()">
                                <i class="intelicon-save-outlined" style="font-size: 18px;"></i> SAVE LAYOUT
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="fr" style="margin-top: 2px; margin-left: 4px;" ng-show="isLayoutConfigurable">
                <ul kendo-menu k-options="columnMenu">
                    <li>
                        <i class="fl intelicon-view-by-columns" style="font-size: 30px !important; vertical-align: text-top;" title="Manage Columns"></i>
                        <span class="fl hidden-md hidden-sm hidden-xs" style="font-size: 12px; line-height: 1em; padding: 4px;">Column<br />Options</span>
                        <i style="font-size: 40px !important; width: 1px !important;"></i>
                        <ul>
                            <li>
                                <div style="padding: 0 10px;">
                                    <div>
                                        <span class="k-textbox k-space-left" style="width: 100%; margin-bottom: 10px;">
                                            <input type="search" ng-model="columnSearchFilter" />
                                            <a ng-click="searchGrid()" class="k-icon intelicon-search"></a>
                                        </span>
                                    </div>
                                    <div style="max-height: 200px; overflow: auto;">
                                        <div ng-repeat="item in opOptions.columns | filter:{title: columnSearchFilter} | orderBy: 'title'" class="chkColItem">
                                            <input type='checkbox' checked='checked' class='sub-menu-checkbox check with-font' id="colChk{{item.field}}" ng-click="onColumnChange(item)" data-field='{{item.field}}' />
                                            <label for="colChk{{item.field}}">
                                                <span ng-bind-html="item.title"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="fr" style="margin-top: 2px; margin-left: 8px;">
                <button class="btn btn-sm ssToolbarBtn" ng-click="openOverlappingDealCheck()" title="check for overlapping Deals.">
                    <table>
                        <tr>
                            <td>
                                <i class="intelicon-copy-outlined skyBlue" aria-hidden="true" style="font-size: 30px"></i>
                            </td>
                            <td class="hidden-md hidden-sm hidden-xs" style="padding-left: 5px; text-align: left; color: #00AEEF;">
                                Overlapping<br />Deals Check
                            </td>
                        </tr>
                    </table>
                </button>
            </div>

            <div class="fr" style="margin-top: 2px; margin-left: 8px;">
                <button class="btn btn-sm ssToolbarBtn" ng-click="toggleWrap()" ng-class="{'toggleSelect': wrapEnabled}" title="Toggle Word Wrap.">
                    <table>
                        <tr>
                            <td>
                                <i class="intelicon-align-left skyBlue" aria-hidden="true" style="font-size: 30px"></i>
                            </td>
                            <td class="hidden-md hidden-sm hidden-xs" style="padding-left: 5px; text-align: left; color: #00AEEF;">
                                Word<br />Wrap
                            </td>
                        </tr>
                    </table>
                </button>
            </div>

            <div class="fr" style="margin-top: 2px; margin-left: 8px;" ng-if="CAN_VIEW_MEET_COMP && opIsTender">
                <button class="btn btn-sm ssToolbarBtn" ng-click="runPCTMCT('Meet Comp')" ng-class="{'toggleSelect': wrapEnabled}" title="Toggle Word Wrap.">
                    <table>
                        <tr>
                            <td>
                                <i class="fa fa-refresh fa-fw iconRunPct" aria-hidden="true" style="font-size: 30px"></i>
                            </td>
                            <td class="hidden-md hidden-sm hidden-xs" style="padding-left: 5px; text-align: left; color: #00AEEF;">
                                Run<br>Meet Comp
                            </td>
                        </tr>
                    </table>
                </button>
            </div>

            <div class="fr" style="margin-top: 2px; margin-left: 8px;" ng-if="CAN_VIEW_COST_TEST && opIsTender">
                <button class="btn btn-sm ssToolbarBtn" ng-click="runPCTMCT('PCT')" ng-class="{'toggleSelect': wrapEnabled}" title="Toggle Word Wrap.">
                    <table>
                        <tr>
                            <td>
                                <i class="fa fa-refresh fa-fw iconRunPct" aria-hidden="true" style="font-size: 30px"></i>
                            </td>
                            <td class="hidden-md hidden-sm hidden-xs" style="padding-left: 5px; text-align: left; color: #00AEEF;">
                                Run<br>Price Cost Test
                            </td>
                        </tr>
                    </table>
                </button>
            </div>

            <div class="fr" style="margin-top: 2px; margin-left: 8px;">
                <button class="btn btn-sm ssToolbarBtn" ng-if="opIsTender" ng-click="sendEmail()" title="Send email notification.">
                    <table>
                        <tr>
                            <td>
                                <i class="intelicon-email-message-outlined skyBlue" aria-hidden="true" style="font-size: 30px"></i>
                            </td>
                            <td class="hidden-md hidden-sm hidden-xs" style="padding-left: 5px; text-align: left; color: #00AEEF;">
                                Email
                            </td>
                        </tr>
                    </table>
                </button>
            </div>

            <!-- TENDER DEALS COPY BUTTON -->
            <div class="fr" style="margin-top: 2px; margin-left: 8px;">
                <button class="btn btn-sm ssToolbarBtn" ng-if="opIsTender" ng-click="copyDeals()" title="Copy selected deals.">
                    <table>
                        <tr>
                            <td>
                                <i class="intelicon-copy-solid skyBlue" aria-hidden="true" style="font-size: 30px"></i>
                            </td>
                            <td class="hidden-md hidden-sm hidden-xs" style="padding-left: 5px; text-align: left; color: #00AEEF;">
                                Copy<br />Deals
                            </td>
                        </tr>
                    </table>
                </button>
            </div>

            <!--<div class="fr" style="margin-top: 2px; margin-left: 8px;">
        <div class="btn-group btn-group-font">
            <label class="btn btn-default noMarginSmBtn ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="fontSize" uib-btn-radio="'sm'"><div style="font-size: 8px; margin-top: 9px;">A</div></label>
            <label class="btn btn-default noMarginSmBtn ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="fontSize" uib-btn-radio="'md'"><div style="font-size: 11px; margin-top: 6px;">A</div></label>
            <label class="btn btn-default noMarginSmBtn ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="fontSize" uib-btn-radio="'lg'"><div style="font-size: 14px; margin-top: 3px;">A</div></label>
        </div>
    </div>-->
            <!--<div class="fl" style="margin-top: 2px; margin-left: 8px;" ng-show="isExportable">
        <button class="btn btn-sm ssToolbarBtn" ng-click="exportToExcelCustomColumns()" title="Export to Excel only the columns you currently see in the grid.">
            <table>
                <tr>
                    <td>
                        <i class="intelicon-ms-excel-outlined skyBlue" aria-hidden="true" style="font-size: 30px"></i>
                    </td>
                    <td style="padding-left: 5px; text-align: left; color: #00AEEF;">
                        Export to Excel<br />
                        Custom Columns
                    </td>
                </tr>
            </table>
        </button>
    </div>

    <div class="fl" style="margin-top: 2px; margin-left: 8px;" ng-show="isExportable">
        <button class="btn btn-sm ssToolbarBtn" ng-click="exportToExcel()" title="Export to Excel every column.">
            <table>
                <tr>
                    <td>
                        <i class="intelicon-ms-excel-outlined skyBlue" aria-hidden="true" style="font-size: 30px"></i>
                    </td>
                    <td style="padding-left: 5px; text-align: left; color: #00AEEF;">
                        Export to Excel<br />
                        ALL Columns
                    </td>
                </tr>
            </table>
        </button>
    </div>-->


            <div class="clearboth"></div>
        </div>
    </div>

    <div class="op-grid-container">
        <kendo-grid ng-hide="isOverlapping" id="dealEditor" options="ds" class="opUiContainer dashboard op-grid" ng-class="{'lg': fontSize == 'lg', 'md': fontSize == 'md', 'sm': fontSize == 'sm'}" style="height: 100%;"></kendo-grid>
        <kendo-grid ng-if="isOverlapping" id="overLapping" options="ovlp" class="opUiContainer md dashboard op-grid" style="height: 100%;"></kendo-grid>
    </div>

</div>


<style>
    .k-grid-content > table > tbody > tr > td {
        padding-left: 5px !important;
    }

    .btnYes {
        background: #a49d00 !important;
        color: black;
    }

    .btnNo {
        background: #FC4C02 !important;
        color: black;
    }

    .btnDeal {
        cursor: pointer;
    }

    .undolnk {
        background: #FC4C02;
        color: white;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        border-radius: 3px;
        cursor: pointer;
    }

    .ovlpCell {
        padding-left: 5px !important;
    }

    #overLapping .op-grid.k-grid tr td {
        padding-left: 5px !important;
    }

    .detailsDiv {
        margin: 0;
        padding: 0;
    }

    .lnk {
        background: #00AEEF;
        color: white;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        border-radius: 3px;
        cursor: pointer;
    }

    .k-dialog.k-alert .k-dialog-titlebar, .k-dialog.k-confirm .k-dialog-titlebar, .k-dialog.k-prompt .k-dialog-titlebar {
        display: none;
    }

    .k-menu .k-item > .k-link {
        padding: 4px 0.5em;
        color: #00AEEF;
    }

        .k-menu .k-item > .k-link:hover {
            color: #FFFFFF;
        }

    .k-menu .li-disabled > .k-link {
        color: gray;
    }

    .li-disabled {
        pointer-events: none;
        opacity: 0.3;
    }

    .gradTab.k-tabstrip {
        background: #fdfdfd; /* Old browsers */
        background: -moz-linear-gradient(top, #fdfdfd 0%, #d9d9d9 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #fdfdfd 0%,#d9d9d9 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #fdfdfd 0%,#d9d9d9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#d9d9d9',GradientType=0 ); /* IE6-9 */
        border-bottom: 0 solid transparent;
        height: 37px;
        font-size: 14px;
        font-family: "Intel Clear";
    }

    .gradTab .k-tabstrip-items .k-item {
        background: #fdfdfd; /* Old browsers */
        background: -moz-linear-gradient(top, #fdfdfd 0%, #d9d9d9 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #fdfdfd 0%,#d9d9d9 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #fdfdfd 0%,#d9d9d9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#d9d9d9',GradientType=0 ); /* IE6-9 */
        border: 0 solid transparent;
    }

    .gradTab .k-tabstrip-items {
        border-color: transparent;
        border-width: 1px;
        border-left-width: 1px;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 0;
        border-radius: 4px 4px 0 0;
    }

        .gradTab .k-tabstrip-items .k-state-active {
            background-color: #fff;
            border-color: #b1babf;
            border-width: 1px;
            border-left-width: 1px;
            border-top-width: 1px;
            border-right-width: 1px;
            border-bottom-width: 0;
            border-radius: 4px 4px 0 0;
        }

    .gradTab .k-tabstrip-top > .k-tabstrip-items > .k-item {
        border-bottom-width: 0;
        border: 0 solid transparent;
    }

    .gradTab.k-tabstrip .k-tabstrip-items .k-link {
        background: #fdfdfd; /* Old browsers */
        background: -moz-linear-gradient(top, #fdfdfd 0%, #d9d9d9 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #fdfdfd 0%,#d9d9d9 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #fdfdfd 0%,#d9d9d9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#d9d9d9',GradientType=0 ); /* IE6-9 */
        color: #003C71;
        padding: 0.6em !important;
        text-transform: none !important;
        background-color: #fff;
        border-bottom-width: 0;
    }

    .gradTab.k-tabstrip .k-tabstrip-items .k-state-active .k-link {
        color: #00AEEF;
        background-color: #ffffff;
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ffffff 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }

    .gradTab.k-tabstrip .k-tabstrip-items .k-state-hover .k-link {
        background: #d9d9d9; /* Old browsers */
        background: -moz-linear-gradient(top, #d9d9d9 0%, #fdfdfd 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #d9d9d9 0%,#fdfdfd 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #d9d9d9 0%,#fdfdfd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#fdfdfd',GradientType=0 ); /* IE6-9 */
        color: #003C71;
    }

    .gradTab.k-tabstrip .k-tabstrip-items {
        padding: 2px 10px;
    }

    .gradTab.k-tabstrip:focus {
        box-shadow: none !important;
    }


    .gradTab i:first-child {
        font-size: 16px;
        cursor: pointer;
        color: #00AEEF;
        padding: 3px;
        border-radius: 50%;
        background-color: transparent;
        margin-left: 4px;
    }

        .gradTab i:first-child:hover {
            color: #FFFFFF;
            background-color: #00AEEF;
        }

    .gradTab i.active {
        color: #FFFFFF;
        background-color: #003C71;
    }

    .gradTab i.closeGrp {
        font-size: 16px;
        color: #00AEEF;
        margin-left: 6px;
        margin-right: 4px
    }

        .gradTab i.closeGrp:hover {
            color: #FC4C02;
        }

    .gradTab .badge {
        vertical-align: top;
        padding-top: 2px;
    }

        .gradTab .badge.error {
            background-color: #FC4C02;
        }

        .gradTab .badge.warning {
            background-color: #f3D54E;
        }

    .soft-warn {
        color: #00AEEF;
    }

        .soft-warn .badge {
            background-color: #f3D54E;
            vertical-align: super;
        }

    .toolbar {
        border: 0 solid #b1babf;
        height: 55px;
        padding: 2px 10px 3px 10px;
    }

        .toolbar .btn {
            border: 1px solid transparent;
            color: #00AEEF;
        }

        .toolbar .btn-default.disabled {
            background-color: transparent !important;
            color: #dddddd !important;
        }

    .dimKey {
        font-size: 9px;
        line-height: 1em;
        background-color: #00AEEF;
        color: #ffffff;
        padding: 2px;
        text-transform: uppercase;
    }

    .op-grid .k-dirty {
        display: none;
    }

    .op-grid.k-grid {
        width: 100% !important;
        border-left: 0 solid transparent;
        border-right: 0 solid transparent;
        border-bottom: 0 solid transparent;
    }

        .op-grid.k-grid .k-grid-header th.k-header {
            vertical-align: top;
        }

        .op-grid.k-grid tbody tr {
            height: 34px;
        }

        .op-grid.k-grid td {
            white-space: nowrap;
        }

    .k-tabstrip-wrapper {
        border-bottom: 0 solid transparent;
    }

    .op-grid.k-grid .uiControlDiv {
        height: 100%;
    }

    .op-grid.k-grid .k-grid-header .k-grid-filter, .op-grid .k-grid-header .k-header-column-menu {
        padding-left: 0;
        padding-right: 0;
    }

    .op-grid.k-grid .k-grid-header .k-header .k-link {
        height: auto;
        font-weight: 400;
    }

    .op-grid.k-grid .k-grid-filter {
        margin-right: -4px;
    }

        .op-grid.k-grid .k-grid-filter .k-icon.k-i-filter {
            color: #00AEEF;
            opacity: 1;
        }

            .op-grid.k-grid .k-grid-filter .k-icon.k-i-filter:hover {
                color: #0071C5 !important;
            }

    .op-grid.k-grid .k-grid-header .k-header {
        white-space: normal;
    }

    .op-grid.k-grid .k-header a {
        font-size: 11px !important;
    }

    .op-grid.k-grid tr th {
        border-right: 1px solid #e6e6e6;
        border-left: 0 solid transparent;
        background: #fdfdfd; /* Old browsers */
        background: -moz-linear-gradient(top, #fdfdfd 0%, #d9d9d9 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #fdfdfd 0%,#d9d9d9 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #fdfdfd 0%,#d9d9d9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#d9d9d9',GradientType=0 ); /* IE6-9 */
        font-weight: 600;
    }

    .op-grid.k-grid .k-grid-header .k-header .k-link {
        font-weight: 600;
    }

    .op-grid.k-grid tr td {
        padding-left: 0 !important;
        padding-right: 0 !important;
        border-right: 1px solid #e6e6e6;
    }

    .dealTools {
        margin-left: -5px !important;
    }

    .op-grid.k-grid tr td:first-child {
        padding-left: 0 !important;
        padding-right: 0 !important;
        border-right: 1px solid #e6e6e6;
    }

    .op-grid.k-grid .k-grid-header, .op-grid.k-grid .k-grid-content {
        border-right: 1px solid #e6e6e6;
        border-left: 1px solid #e6e6e6;
    }


    .op-grid-container-wrapper {
        height: 100%;
        padding: 85px 0 0 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .op-grid-header {
        height: 85px;
        margin-top: -85px;
        padding: 0;
        font-size: 12px;
        font-family: "Intel Clear";
        font-weight: 200;
        font-style: normal;
    }

    .op-grid-container {
        height: 100%;
        /*width: 100%;  This causes the grid to loose it's vertical scrollbar'*/
        padding: 0 10px;
        overflow: hidden;
    }

    .dashboard-grid.k-grid td {
        white-space: nowrap;
    }

    .op-grid.k-grid td {
        color: #000000;
    }

    .op-grid.k-grid tr.k-alt {
        background-color: transparent;
    }

    .op-grid .k-grid-header {
        padding-right: 0 !important;
    }

    .op-grid.k-grid tr.k-alt:hover, .op-grid.k-grid tr:hover {
        background-color: rgba(0,174,239,0.05);
    }

    .op-grid .k-pager-wrap, .op-grid .k-pager-wrap .k-textbox, .op-grid .k-pager-wrap .k-link, .op-grid .k-grid-footer td {
        border-left: 0 solid transparent;
        border-right: 0 solid transparent;
        border-bottom: 0 solid transparent;
    }

    .op-grid .k-grid-header, .op-grid .k-grid-header .k-header, .op-grid .k-pager-wrap, .op-grid .k-pager-numbers .k-state-selected, .k-grid-footer, .op-grid .k-grid-footer td {
        background-color: #ffffff;
    }

    .op-grid .uiControlDiv {
        padding: 4px 8px;
        min-height: 20px;
    }

        .op-grid .uiControlDiv span {
            padding-top: 4px;
        }

    .dealLnk a {
        margin-left: 6px;
        color: #00AEEF;
        font-style: italic;
    }

    .valid-icon {
        margin-left: 6px;
    }

    input[type=radio].with-myfont,
    input[type=checkbox].with-myfont {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        /*position: absolute;*/
        width: 1px;
    }

        input[type=radio].with-myfont + label:before,
        input[type=checkbox].with-myfont + label:before {
            font-family: FontAwesome;
            display: inline-block;
            content: "\f096";
            font-size: 20px;
            letter-spacing: 8px;
            color: #00AEEF;
            margin-left: 10px;
            margin-top: 2px;
            vertical-align: text-bottom;
        }

        input[type=radio].with-myfont:hover + label:before,
        input[type=checkbox].with-myfont:hover + label:before {
            color: #003C71;
            cursor: pointer;
        }

        input[type=radio].with-myfont.disabled + label:before,
        input[type=checkbox].with-myfont.disabled + label:before {
            color: #cccccc;
            cursor: default;
        }

        input[type=radio].with-myfont:checked + label:before,
        input[type=checkbox].with-myfont:checked + label:before {
            content: "\f046";
            font-size: 20px;
            letter-spacing: 5px;
            color: #C4D600;
            margin-left: 10px;
            margin-top: 2px;
            margin-right: 2px;
            vertical-align: text-bottom;
        }

        input[type=radio].with-myfont:focus + label:before,
        input[type=checkbox].with-myfont:focus + label:before {
            font-weight: bold;
            color: #C4D600;
        }

    .chkColItem {
        cursor: pointer;
    }

        .chkColItem:hover {
            background-color: #efefef;
        }

    .dealTag, .dealTag:hover {
        font-weight: 600;
        padding: 10px 20px !important;
        color: #003C71 !important;
        background: #fdfdfd; /* Old browsers */
        background: -moz-linear-gradient(top, #fdfdfd 0%, #d9d9d9 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #fdfdfd 0%,#d9d9d9 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #fdfdfd 0%,#d9d9d9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#d9d9d9',GradientType=0 ); /* IE6-9 */
        height: 17px !important;
        line-height: 1em !important;
        margin-top: -1px !important;
    }

    .op-grid .opUiContainer.md.k-grid td {
        height: inherit !important;
    }
    .toggleSelect {
        background-color: #eeeeee !important;
    }

    /*remove the "x" clear button pseudo element from text inputs that only appears in IE as it was causing some of our code to not execute if clicked*/
    ::-ms-clear { display: none; }

    .opGridSearchInput {
        width: 270px;
        font-size: 16px
    }
    @media (max-width: 1180px) {
        .opGridSearchInput {
            width: 200px;
        }
    }
    @media (max-width: 1100px) {
        .opGridSearchInput {
            width: 140px;
        }
    }
</style>
