#tenderWidPD, #tenderWidDE, #tenderWidMC, #tenderWidPTR {
    cursor: pointer !important;
}

.k-master-row > td {
    border-top: 2px solid #b1babf !important;
}

.pricing-strategy-status-bar {
    color: #000000;
    padding: 1px 0 0 6px;
    font-size: 10px;
    font-family: arial;
    text-transform: uppercase;
    height: 16px;
}

.contractHeaderId {
    color: #00aeef !important;
}

.deleteContract {
    cursor: pointer !important;
    font-size: 14px !important;
    float: right !important;
    padding: 2px !important;
    text-transform: none !important;
    border: none;
    color: #fafafa !important;
    background: #707a02 !important;
    border-radius: 0px;
}

.valid_Dirty {
    background: #e8eaec;
}
.valid_Complete {
    background: #C4D600;
}
.fr {
    margin-left: auto;
    height: max-content;
}
.intelicon-search {
    width: 248px !important;
}
.k-tabstrip .k-tabstrip-items .k-link {
    padding: 0px !important;
}
.activeBtn {
    background-color: #0071c5;
    color: #FBD737
}

.complete {
    color: #fff;
    border-top-color: #00aeef;
}
.isDisabled {
    pointer-events: none;
    color: currentColor !important;
    opacity: 0.5;
    text-decoration: none;
}
.isDisabledDE {
    color: currentColor !important;
    opacity: 0.5;
    text-decoration: none;
}
.parent-one {
    padding-left: 0px;
    padding-right: 0px;
}

.step-into h4 {
    cursor: pointer;
}

.step-into p {
    cursor: pointer;
}

.step-into:hover {
    text-decoration: underline;
}

.publishToolTip ngb-tooltip-window.tooltip .tooltip-inner {
    background-color: #fff !important;
    border: 1px solid #0071c5 !important;
    color: #0071c5 !important;
    padding: 5px;
    z-index: 1;
}