div.overFlowSpread {
    width: 400px !important;
    height: 400px !important;
    overflow: auto !important;
}

td.custom-border {
    border: 2px solid red;
    text-align: center !important;
}
td.custom-cell {
    text-align: center !important;
    background-color: red;
    color: lightslategray;
}