.cust-clickable {
    padding: 0 4px;
    color: #0071C5;
    cursor: pointer
}

.vert-clickable {
    padding: 0 4px;
    color: #0071C5;
    cursor: pointer
}

.emp-hist-clickable {
    padding: 0 4px !important;
    color: #0071C5 !important;
    cursor: pointer !important;
}

.filter-col {
    font-size: 26px;
    color: #C4D600
}

.alignCenterManageEmployee {
    text-align: center !important
}

.buttonManageEmployee {
    font-weight: 500
}

    .buttonManageEmployee :hover {
        border-radius: 0
    }

.ManageKendoGrid td {
    border-width: 0 !important;
    border-style: none !important;
    padding-left: 15px
}

.manageDialogEmployee.k-dialog.k-alert .k-content,
.manageDialogEmployee.k-dialog.k-confirm .k-content {
    padding: 2.4em
}

.manageDialogEmployee .k-dialog-wrapper .k-dialog {
    border: none
}

.kendo-alrt-btn-ManageEmployee {
    padding: 5px 90px 5px 180px;
    width: 100%
}

    .kendo-alrt-btn-ManageEmployee:hover {
        cursor: pointer
    }

.excelDesigns span.k-icon.k-i-file-excel {
    font-size: 32px
}

.manageDialogEmployee .k-window-titlebar.k-dialog-titlebar.k-header {
    display: none
}

.manageDialogEmployee .k-content {
    background-color: #003C71;
    color: #ffffff
}

.selCustomers {
    margin-bottom: 330px !important;
    max-height: 150px;
    overflow: auto
}

#selCustomers-list.k-list-container.k-popup.k-group.k-reset,
#selCustomers-list.k-list-container.k-popup.k-group.k-reset .k-list-scroller,
#selCustomers-list.k-list-container.k-popup.k-group.k-reset .k-list-scroller ul {
    height: 300px !important
}

.role-title {
    font-family: "Intel Clear", "Arial";
    font-size: 14px;
    font-weight: bold;
    font-weight: 600;
    color: #000000;
    padding: 4px 0
}

kendo-grid.ManageKendoGrid {
    height: calc(100vh - 250px) !important;
}

.red-cross-icon-usr-acnt-admin{
    font-size: 26px;
    color: #fc02029e;
}