.empRole {
    margin: 40px;
}

.role-heading {
    font-size: 20px !important;
    font-weight: 500 !important;
    margin-bottom: 11px !important;
}

    .empRole h5, .empRole button {
        margin-top: 40px!important;
    }

    .empRole input[type=radio].with-font, .empRole input[type=checkbox].with-font {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        cursor: default !important;
    }

        .empRole input[type=radio].with-font + label:before, .empRole input[type=checkbox].with-font + label:before {
            font-family: FontAwesome;
            display: inline-block;
            content: "\f096";
            font-size: 20px;
            letter-spacing: 10px;
            color: #00AEEF;
            margin-left: 10px;
            cursor: default !important;
        }

        .empRole input[type=radio].with-font:hover + label:before, .empRole input[type=checkbox].with-font:hover + label:before {
            color: #00AEEF;
            cursor: default !important;
        }

        .empRole input[type=radio].with-font.disabled + label:before, .empRole input[type=checkbox].with-font.disabled + label:before {
            color: #cccccc;
            cursor: default !important;
        }

        .empRole input[type=radio].with-font:checked + label:before, .empRole input[type=checkbox].with-font:checked + label:before {
            content: "\f046";
            font-size: 20px;
            letter-spacing: 5px;
            color: #C4D600;
            margin-left: 10px;
            cursor: default !important;
        }

        .empRole input[type=radio].with-font:focus + label:before, .empRole input[type=checkbox].with-font:focus + label:before {
            font-weight: bold;
            color: #C4D600;
            cursor: default !important;
        }

.btn-primary {
    background-color: #3c8dbc;
    border-color: #367fa9;
}

.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    color: #fff;
    background-color: #004280;
    border-color: #004280;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    font-size: 19px;
    line-height: 1.33333;
    font-weight: normal;
    padding: 0 12px;
}