<link href="~/css/_pocDataFlow.css" rel="stylesheet" />
<script src="~/js/_pocDataFlow.js"></script>

<header class="title-bar intel-border-yellow">
    <span class="title-bar-title">POC for Data Flow</span>
    <span class="title-bar-subtitle">Simple Form Submit</span>
</header>

<div style="margin: 25px;">
    
    <p>This page will show basic data flow from a simple form to a test DB table.</p>

    <div class="row">
        
        <div class="col-md-6" style="padding: 0 50px;">
            <h3>User Entry</h3>
            <p>Fill out user information and click <b>Save Employee</b>. There is no error checking or notifications in the POC. This POC is strictly for data flow.</p>

            <form class="ng-pristine ng-valid">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input class="form-control" id="firstName" type="text" placeholder="Enter User's First Name">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input class="form-control" id="lastName" type="text" placeholder="Enter User's Last Name">
                </div>
                <p style="margin-top: 20px; text-align: right;">
                    <a class="btn btn-primary" href="#" onClick="pocDataFlow.saveEmployee()">Save Employee &raquo;</a>
                </p>
            </form>
        </div>

        <div class="col-md-6" style="padding: 0 50px;">
            <h3>List of Employees</h3>
            <div id="empList"></div>
        </div>

    </div>

</div>


<script>

    $(document).ready(function() {
        window.setTimeout(function() {
            pocDataFlow.getEmployees();
        }, 50);
    });

</script>

