<div class="modal-content" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle moveablemodal style="background-color:#1a3e6f;overflow-y:auto;overflow-x:hidden;border-left:none;border-right:none;">
    <div style="padding-left:10px;padding-right:10px">
        <div class="prodSelector modal-header" style="margin-bottom:15px">
            <div class="row prodCorrectorHeader" style="align-items: center; padding-top: 10px; padding-bottom: 10px; ">
                <div class="col-md-5  cursorArea" style="padding-left:0px">
                    <p class="prodText">Product Corrector</p>
                </div>
                <div class="col-md-6  text-center headerMsg">
                    <span *ngIf="curRowIssues.length <=1 " style="color: #ffffff; font-size: 18px;">
                        My Deals needs help with your entered product
                    </span>
                    <span *ngIf="curRowIssues.length >1 " style="color: #ffffff; font-size: 18px;">
                        My Deals needs help with <span class="yellow">{{ numIssueRows }}</span> of <span class="yellow">{{ totRows }}</span> rows
                    </span>
                </div>
                <span class="col-md-1 rowNavPanel">
                    <i role="button" title="Close" class="intelicon-close-max fr" (click)="onNoClick()"></i>
                </span>
            </div>
        </div>
        <div class="prodCorrector modal-body">
            <div class="row subHeaderMsg">
                <div class="col">
                    Please select option(s) below to move into the valid products box or use the <span class="skyblue">Product Selector</span>
                </div>
            </div>
            <div class="row subHeaderNavContainer">
                <div class="col-md-2 mini-left miniNav" *ngIf="curRowIssues.length > 1">
                    <div class="text-center">({{ curRowIndx+1 }} of {{ numIssueRows }} rows)</div>
                    <div>
                        <button class="btn btn-xs btn-primary prdBtn" (click)="prevRow()" [disabled]="curRowIndx < 1">Back</button>
                        <button class="btn btn-xs btn-primary prdBtn" (click)="nextRow()" [disabled]="curRowIndx+1 >= numIssueRows">Next</button>
                    </div>
                </div>
                <div class="col-md-10 mini-right miniProdNav">
                    <div>Product(s) <span style="color:red">not found</span> for Row {{ rowDCId }}</div>
                    <div style="float:left; font-size: 14px; margin-left: 10px; color: #000000;">Contract Product(s):&nbsp;{{includeProd}}</div>
                    <br />
                    <div *ngIf="curIncludeProd &&  curIncludeProd.length==1">
                        Selected Contract Products: <span>{{curIncludeProd[0].prod}}</span>
                    </div>
                    <div *ngIf="curIncludeProd &&  curIncludeProd.length>1">
                        Selected Contract Products: {{curIncludeProd.length}} products
                    </div>
                    <div *ngIf="excludeProd.length>0" style="float:left; font-size: 14px; margin-left: 10px; color: #000000;">Excluded Product(s):&nbsp;{{excludeProd}}</div>
                    <br />
                    <div *ngIf="curExcludeProd &&  curExcludeProd.length==1">
                        Selected Excluded Products: <span>{{curExcludeProd[0].prod}}</span>
                    </div>
                    <div *ngIf="curExcludeProd &&  curExcludeProd.length>1">
                        Selected Excluded Products: {{curExcludeProd.length}} products
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px; height: 436px; overflow: hidden;">
                <div class="col-md-3 lnavFilter">
                    <div class="row">
                        <div class="col">
                            <p class='filterTitleUnderline' *ngIf="selRowIssues.length > 0">Filter by product</p>
                            <kendo-treeview class="lblFilterProd" [nodes]="selRowIssues" [(selectedKeys)]="selRowIssuesKeys" textField="name" [hasChildren]="false" selectBy="value" [kendoTreeViewSelectable]="selection" (selectedKeysChange)="onPrdChange($event,'USR_INPUT')">
                                <ng-template kendoTreeViewNodeTemplate let-dataItem>
                                    {{dataItem.name }}
                                    <span class="badge upperBadge"> {{dataItem.len == 0 ? "?" : dataItem.len }}</span>
                                </ng-template>
                            </kendo-treeview>
                        </div>
                    </div>
                    <div class="row" *ngIf="selRowLvl.length>1">
                        <div class="col">
                            <p class="filterTitleUnderline">Filter by product level</p>
                            <kendo-treeview class="lblFilterProd" [nodes]="selRowLvl" [(selectedKeys)]="selPrdLvlKeys" textField="name" [hasChildren]="false" selectBy="value" [kendoTreeViewSelectable]="selection" (selectedKeysChange)="onPrdChange($event,'PRD_ATRB_SID')">
                            </kendo-treeview>
                        </div>
                    </div>
                    <div class="row" *ngIf="selRowCategories.length>1">
                        <div class="col">
                            <p class="filterTitleUnderline">Filter by product vertical</p>
                            <kendo-treeview class="lblFilterProd" [nodes]="selRowCategories" [(selectedKeys)]="selPrdVerKeys" textField="name" [hasChildren]="false" selectBy="value" [kendoTreeViewSelectable]="selection" (selectedKeysChange)="onPrdChange($event,'PRD_CAT_NM')">
                            </kendo-treeview>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <kendo-grid [data]="selGridData" [loading]="isLoading" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter" [sortable]="true" [pageable]="{type:type,pageSizes: pageSizes,info:info}" [groupable]="true" [group]="state.group"
                        filterable="menu" (dataStateChange)="dataStateChange($event)" [resizable]="true" [height]="436" class="notation-flow">
                        <kendo-grid-column [headerClass]="{'headerClass':true}" field="EXCLUDE" title="EXCLUDE" [filterable]="none" [width]="5">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <div class="fl gridStatusMarker {{dataItem.EXCLUDE}}" title="{{dataItem.EXCLUDE}}"></div>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [headerClass]="{'headerClass':true}" field="USR_INPUT" title="User Entered" [width]="150">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                                </multicheck-filter>
                            </ng-template>
                            <ng-template kendoGridGroupHeaderTemplate let-group let-field="field" let-value="value">
                                {{value}}
                                <!--this logic is yet to build dont uncomment-->
                                <strong> <i class='intelicon-arrow-back-left skyblue pl10'></i> 
                                Can't find what you are looking for? Use the Product Selector </strong>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [headerClass]="{'headerClass':true}" [width]="50" field="IS_SEL" title=" ">
                            <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
                            <kendo-grid-boolean-filter-menu [column]="column" [filter]="filter" [filterService]="filterService"></kendo-grid-boolean-filter-menu>
                            </ng-template>
                            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                                <input type="checkbox" kendoCheckBox (click)="prodSelect(dataItem,$event)" [(ngModel)]="dataItem.IS_SEL" />
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [hidden]="hidden['HIER_VAL_NM']" [headerClass]="{'headerClass':true}" field="HIER_VAL_NM" title="Product" [width]="150">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                                </multicheck-filter>
                            </ng-template>
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <div [ngClass]="{'text-danger': isValidCapDetails(dataItem)}" title="{{isValidCapDetails(dataItem, true)}}">{{dataItem.HIER_VAL_NM}}</div>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [hidden]="hidden['PRD_CAT_NM']" [headerClass]="{'headerClass':true}" field="PRD_CAT_NM" title="Product Vertical" [width]="80">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                                </multicheck-filter>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [hidden]="hidden['BRND_NM']" [headerClass]="{'headerClass':true}" field="BRND_NM" title="Brand Name" [width]="80">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                                </multicheck-filter>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [hidden]="hidden['FMLY_NM']" [headerClass]="{'headerClass':true}" field="FMLY_NM" title="Family Name" [width]="80">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                                </multicheck-filter>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [hidden]="hidden['PRD_STRT_DTM']" [headerClass]="{'headerClass':true}" field="PRD_STRT_DTM" title="Product Effective Date" [width]="120">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <div>{{dataItem.PRD_STRT_DTM | date: 'M/d/yyyy'}} - {{dataItem.PRD_END_DTM | date: 'M/d/yyyy'}}</div>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [headerClass]="{'headerClass':true}" field="CAP" title="CAP Info" [width]="150">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                                </multicheck-filter>
                            </ng-template>
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <!-- Popover Template -->
                                <ng-template #popoverContent>
                                    <div class="container">
                                        <div class="row">
                                            <button style="float: right;" class="btn btn-light btn-sm" (click)="popOver.close()">❌</button>
                                        </div>
                                        <div class="row">
                                            <grid-popover [popOver]="popOver" [columnTypes]="'CAP'" [currentPricingTableRow]="pricingTableRow" [productMemberSId]="dataItem.PRD_MBR_SID" [priceCondition]="'CAP'"></grid-popover>
                                        </div>
                                    </div>
                                </ng-template>

                                <!-- Cell Content -->
                                <div class="CAPYCS2CellContent" #popOver="ngbPopover" [ngbPopover]="popoverContent" (click)="openModal('CAP', pricingTableRow, dataItem.PRD_MBR_SID, 'CAP')">
                                    <!-- CAP Info cell design -->
                                    <div [class.isSoftWarnCell]="dataItem.CAP.includes('No')" style="text-align: center;">
                                        <strong>{{ dataItem.CAP }}</strong>
                                        <div *ngIf="!dataItem.CAP.includes('No')">
                                            <br />
                                            {{ dataItem.CAP_START }} - {{ dataItem.CAP_END }}
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [hidden]="!isGA" [headerClass]="{'headerClass':true}" field="HAS_L1" title="Legal Classification" [width]="150">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                                </multicheck-filter>
                            </ng-template>
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <div>{{ dataItem.HAS_L1 != 0 ? 'L1' : (dataItem.HAS_L2 != 0 ? 'L2' : 'Exempt') }}</div>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [hidden]="hidden['MM_MEDIA_CD']" [headerClass]="{'headerClass':true}" field="MM_MEDIA_CD" title="Media Code" [width]="120">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                                </multicheck-filter>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [headerClass]="{'headerClass':true}" field="YCS2" title="YCS2" [width]="150">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                            </ng-template>
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <!-- Popover Template -->
                                <ng-template #popoverContent>
                                    <div class="container">
                                        <div class="row">
                                            <button style="float: right;" class="btn btn-light btn-sm" (click)="popOver.close()">❌</button>
                                        </div>
                                        <div class="row">
                                            <grid-popover [popOver]="popOver" [columnTypes]="'YCS2'" [currentPricingTableRow]="pricingTableRow" [productMemberSId]="dataItem.PRD_MBR_SID" [priceCondition]="'YCS2'"></grid-popover>
                                        </div>
                                    </div>
                                </ng-template>

                                <!-- Cell Content -->
                                <div class="CAPYCS2CellContent" #popOver="ngbPopover" [ngbPopover]="popoverContent">
                                    <!-- YCS2 Info cell design -->
                                    <div [class.isSoftWarnCell]="dataItem.YCS2.includes('No')" style="text-align: center;"  (click)="openModal('YCS2', pricingTableRow, dataItem.PRD_MBR_SID, 'YCS2')">
                                        {{ dataItem.YCS2 }}
                                    </div>
                                </div>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [hidden]="hidden['GDM_FMLY_NM']" [headerClass]="{'headerClass':true}" field="GDM_FMLY_NM" title="GDM Family Name" [width]="150">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                                </multicheck-filter>
                            </ng-template>
                            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                                <div kendoTooltip position="bottom">
                                    <span title="{{dataItem.GDM_FMLY_NM}}">{{dataItem.GDM_FMLY_NM}}</span>
                                </div>
                            </ng-template>
                        </kendo-grid-column>
                        <!--hiding this Product description column by default-->
                        <kendo-grid-column [hidden]="true" [headerClass]="{'headerClass':true}" field="HIER_NM_HASH" title="Product Description">
                            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                                <div kendoTooltip position="bottom">
                                    <span title="{{dataItem.HIER_NM_HASH}}">{{dataItem.HIER_NM_HASH}}</span>
                                </div>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [hidden]="hidden['CPU_PROCESSOR_NUMBER']" [headerClass]="{'headerClass':true}" field="CPU_PROCESSOR_NUMBER" title="CPU Processor number" [width]="150">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                                </multicheck-filter>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [hidden]="hidden['MM_CUST_CUSTOMER']" [headerClass]="{'headerClass':true}" field="MM_CUST_CUSTOMER" title="MM Customer Name" [width]="150">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                                </multicheck-filter>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [hidden]="hidden['FMLY_NM_MM']" [headerClass]="{'headerClass':true}" field="FMLY_NM_MM" title="EDW Family Name" [width]="150">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                                </multicheck-filter>
                            </ng-template>
                            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                                <div kendoTooltip position="bottom">
                                    <span title="{{dataItem.FMLY_NM_MM}}">{{dataItem.FMLY_NM_MM}}</span>
                                </div>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [hidden]="hidden['EPM_NM']" [headerClass]="{'headerClass':true}" field="EPM_NM" title="EPM Name" [width]="150">
                            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                                <div kendoTooltip position="bottom">
                                    <span title="{{dataItem.EPM_NM}}">{{dataItem.EPM_NM}}</span>
                                </div>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [hidden]="hidden['SKU_NM']" [headerClass]="{'headerClass':true}" field="SKU_NM" title="SKU Name" [width]="180">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                                </multicheck-filter>
                            </ng-template>
                            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                                <div kendoTooltip position="bottom">
                                    <span title="{{dataItem.SKU_NM}}">{{dataItem.SKU_NM}}</span>
                                </div>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [hidden]="hidden['NAND_FAMILY']" [headerClass]="{'headerClass':true}" field="NAND_FAMILY" title="NAND FAMILY" [width]="150">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                                </multicheck-filter>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [hidden]="hidden['NAND_Density']" [headerClass]="{'headerClass':true}" field="NAND_Density" title="Nand Density" [width]="150">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                                </multicheck-filter>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [hidden]="hidden['CPU_CACHE']" [headerClass]="{'headerClass':true}" field="CPU_CACHE" title="CPU CACHE" [width]="150">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                                </multicheck-filter>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [hidden]="hidden['CPU_PACKAGE']" [headerClass]="{'headerClass':true}" field="CPU_PACKAGE" title="CPU PACKAGE" [width]="150">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                                </multicheck-filter>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [hidden]="hidden['CPU_WATTAGE']" [headerClass]="{'headerClass':true}" field="CPU_WATTAGE" title="CPU WATTAGE" [width]="150">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                                </multicheck-filter>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [hidden]="hidden['CPU_VOLTAGE_SEGMENT']" [headerClass]="{'headerClass':true}" field="CPU_VOLTAGE_SEGMENT" title="Voltage Segment" [width]="150">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                                </multicheck-filter>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [hidden]="hidden['PRICE_SEGMENT']" [headerClass]="{'headerClass':true}" field="PRICE_SEGMENT" title="Price Segment" [width]="150">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                                </multicheck-filter>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [hidden]="hidden['SBS_NM']" [headerClass]="{'headerClass':true}" field="SBS_NM" title="SBS Name" [width]="150">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [currentFilter]="filter" [filterService]="filterService" [data]="distinctPrimitive(column.field)">
                                </multicheck-filter>
                            </ng-template>
                        </kendo-grid-column>
                    </kendo-grid>
                    <div>
                        <kendo-dialog *ngIf="isDuplicate" (close)="closeKendoDialog('cancel')" [minWidth]="250" [width]="450">
                            <p style="margin: 30px; text-align: center;">
                                {{duplicateMsg}}
                            </p>
                            <kendo-dialog-actions>
                                <button kendoButton (click)="closeKendoDialog('no')">CANCEL</button>
                                <button style="background-color: #01AEEF !important" kendoButton (click)="closeKendoDialog('yes')" themeColor="primary">
                                    OK
                                </button>
                            </kendo-dialog-actions>
                        </kendo-dialog>
                    </div>
                </div>
            </div>
        </div>
        <div class="prodSelector modal-footer">
            <div class="col-md-1 col-md-offset-5">
                <img *ngIf="isLoading" src="/Images/loadingSmall.gif" />
            </div>
            <div class="col-md-6" style="margin-left: 49%;margin-top: 10px;margin-bottom: 10px;">
                <button class="btn btn-primary prdBtn" (click)="onSave()" style="float: right; margin-right: -17px;">Save and Close</button>
                <button class="btn btn-default prdBtn" (click)="onNoClick()" style="margin-right:2px;float:right">Cancel</button>
            </div>
        </div>
    </div>
</div>