<div class="modal-content" moveablemodal style="height:85vh;background-color:#1a3e6f;overflow-y:auto;overflow-x:hidden;border-left:1px solid #1a3e6f;border-right:1px solid #1a3e6f;">
    <div style="padding:10px;">
        <div class="prodSelector modal-header" style="margin-bottom:15px">
            <div class="row prodCorrectorHeader">
                <div class="col-md-4 cursorArea" style="padding-left:0px">
                    <p class="prodText">Product Corrector</p>
                </div>
            </div>
        </div>
        <div class="prodCorrector modal-body">
            <div *ngFor="let item of inValidProd">
               Product: {{item.Product}}
               DCID: {{item.DCID}}
            </div>
           
        </div>
        <div class="prodSelector modal-footer">
            <div class="row" style="margin:0px">
             
            </div>
            <div class="row addedProduct">
                
            </div>
            <div class="col-md-6 form-inline insertAtRowsText" style="padding-left:0px">
              
            </div>
            <div class="col-md-1" style="padding-top:15px;">
               
            </div>
            <div class="col-md-5" style="padding-right:0px">
                <button class="btn btn-default prdBtn"  style="margin-left:2px;" (click)="onNoClick()">Cancel</button>
                <button class="btn btn-primary fr prdBtn" (click)="onNoClick()">Save</button>
            </div>
        </div>
    </div>
</div>