
.lblSelected label span {
    color: white !important;
}

.productpath > li > span {
    color: #0071c5;
    background: transparent !important;
    border-color: transparent !important;
    font-size: 13px;
}

.lblFilterProd > span {
    font-size: 12px !important;
    font-weight: 600 !important;
    color: #00AEEF !important;
}

.lblSelected {
    background: rgba(2, 173, 255, 1);
}

.lblNotSelected {
    background: none;
}

.lblFilterProd:before {
    color: transparent !important;
    width: 0px !important;
}

.btnInclude {
    border-left: 4px solid #003C71;
}

.btnExclude {
    border-left: 4px solid #FC4C02;
}

.gridStatusMarker {
    height: 100%;
    width: 4px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.false {
    background-color: #003C71 !important;
    color: #ffffff !important;
}

.true {
    background-color: #FC4C02 !important;
    color: #ffffff !important;
}

.includeCircle {
    background: #1a3e6f;
    border-radius: 50%;
    padding: 2px;
    color: #ffffff;
}

.excludeCircle {
    background: #FC4C02;
    border-radius: 50%;
    padding: 2px;
    color: #ffffff;
}

.badge.upperBadge {
    font-size: 12px !important;
    padding: 2px 4px;
    background-color: #fff;
    color: #00AEEF !important;
    vertical-align: text-top;
    font-weight: 200;
    margin-left: 6px;
    margin-top: -3px !important;
}

.newProd {
    font-size: 11px;
    color: #0071C5;
    padding-left: 5px;
    height: 6px;
}


.lnavFilter {
    background-color: #e7e7e8;
    height: calc(87vh - 260px) !important;
    padding: 4px;
    overflow: auto;
    font-family: 'Intel Clear', 'Arial';
}

.filterGrp {
    font-family: arial;
    font-weight: 600;
    font-size: 11px;
    margin: 5px 5px 5px 10px;
}

.filterTitle {
    margin: 5px;
    font-size: 20px;
    color: #aeaeae;
}

.filterTitleUnderline {
    margin: 5px;
    font-size: 15px;
    color: #1a3e6f;
    border-bottom: 1px solid #D3D3D3;
    font-weight: bold;
}

.filterGrp .filterContainer {
    font-weight: 200;
    margin-bottom: 20px;
}

    .filterGrp .filterContainer label {
        font-weight: 200;
        margin-left: 5px;
        cursor: pointer;
    }

.filterGrp .srchContainer {
    margin: 3px 0 0 15px;
    cursor: pointer;
    line-height: 1em;
}

    .filterGrp .srchContainer:hover i {
        color: #003C71;
    }

    .filterGrp .srchContainer i {
        color: #00AEEF;
        font-size: 14px;
        margin-right: 5px;
    }

.allDone {
    background-color: #ffffff;
    border-radius: 4px;
    margin: 10px 0 0 0;
    height: calc(100vh - 450px);
    text-align: center;
}

    .allDone i {
        font-size: 60px;
        color: #C4D600;
        margin-right: 25px;
    }

.done-title.correct-title-done {
    font-size: 30px !important;
    position: relative !important;
    margin-left: 117px !important
}

.done-body.corrector-body-title {
    font-size: 12px !important;
    position: relative !important;
    margin-left: 115px !important;
}

.done-confirm.done-confirm-corrector {
    font-size: 16px !important;
    text-align: justify !important;
    width: 100% !important;
    padding: 25px 0 !important;
    margin-left: 5px !important
}


.headerMsg {
    margin-top: 6px;
    font-size: 18px;
    color: #ffffff;
}

.subHeaderMsg {
    margin: 0 0 4px 0;
    font-size: 18px;
    color: #ffffff;
}

    .subHeaderMsg a {
        color: #00AEEF;
        text-decoration: underline;
        cursor: pointer;
    }

        .subHeaderMsg a:hover {
            color: #f3D54E;
        }

.subHeaderNavContainer {
    color: #003C71;
    background-color: #f4f4f4;
    font-size: 16px;
    border-radius: 4px;
    width: 100%;
    height: auto;
    display:flex;
}

.miniNav {
    padding: 0 15px;
    margin-right: 10px;
    border-right: 2px solid #d4d4d4;
    font-weight: 600;
}

    .miniNav button {
        width: 60px;
    }

        .miniNav button[disabled], .miniNav button[disabled]:hover {
            color: #737b7e;
            background-color: #d9d9d9 !important;
            cursor: not-allowed;
        }

.miniProdNav {
    padding: 0 15px;
    margin-right: 10px;
    font-weight: 600;
}

.mini-right {
    overflow: hidden;
    height: auto;
    flex:1;
}

.mini-left {
    float: left;
    width: 175px;
    min-width: 175px;
    flex: 0.1;
    padding-top: 5px;
    padding-bottom: 5px;
}

.yellow {
    color: #f3D54E;
}

.skyblue {
    color: #00AEEF;
}

.pl10 {
    padding-left: 10px;
}

.or {
    padding: 0 10px;
}

.lnk {
    cursor: pointer;
    color: #ffffff;
    border-radius: 4px;
    background-color: #00AEEF;
    padding: 0 5px;
}

    .lnk:hover {
        background-color: #0071C5;
    }

.grpDesc {
    color: #666666;
}

.prodCorrector-grid.k-grid .k-grouping-row td p {
    padding: 5px;
}

.suggestedProd {
    border: 1px solid rgba(190, 163, 163, 0.12);
    padding: 5px;
    background: #1a3e6f;
    background-color: rgba(190, 163, 163, 0.12);
    margin-bottom: 10px;
}

.suggestionClose {
    color: yellow !important;
    padding: 0px !important;
}


.prodCorrectorHeader {
    border-bottom: 1px solid #ffffff;
    margin-left: 0px;
    margin-right: 0px;
    width:100% !important;
}

.rowNavigation {
    color: yellow;
    font-size: 28px;
}

.prodText {
    color: white;
    font-size: 32px;
}

@media (max-width: 1000px) {
    .prodText {
        font-size: 26px;
    }
}

@media (max-width: 900px) {
    .prodText {
        font-size: 22px;
    }

    .subHeaderMsg {
        font-size: 15px;
    }
}

.rowNavPanel {
    color: white;
    font-size: 28px;
    padding-top: 12px;
    padding-left: 20px;
}

.marginRight {
    margin-right: 10px;
}


.addedProduct {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
}

.insertAtRowsText {
    color: white;
    font-weight: 400 !important;
    font-style: normal;
    font-size: 19px;
}

.prodHeader {
    color: white;
    font-size: 32px;
}

.breadCrumbWrapper {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 21px;
}

.modalCloseIcon {
    color: white;
    font-size: 32px;
    padding-top: 12px;
    padding-left: 20px;
}

.productpath {
    margin: 0;
    padding: 4px 0;
    background-color: transparent;
    color: #003C71;
    line-height: 0.2em;
}

    .productpath.breadcrumb > li + li:before {
        padding: 0 5px 0 0;
        content: ",";
        font-size: 16px;
        text-align: justify;
    }

    .productpath.breadcrumb > li + li div {
        padding-left: 10px;
    }

    .productpath.breadcrumb {
        padding: 0px;
        margin-bottom: 0px;
        /*padding-bottom: 10px;*/ padding-bottom: 0px;
        padding-left: 5px;
    }

span.prdAnchor {
    color: #003C71;
}

    span.prdAnchor.Warning {
        color: #FFA300;
        cursor: pointer;
    }

    span.prdAnchor.Issue {
        color: #FC4C02;
        cursor: pointer;
    }

    span.prdAnchor.Good {
        color: #9bc600;
    }

    span.prdAnchor:hover {
        text-decoration: none;
        color: #01AEEF;
    }

.strike .prdAnchor {
    text-decoration: line-through !important;
    cursor: pointer;
}

    .strike span {
        color: #01AEEF;
    }



.drillDown.btn-group button {
    background-color: #01AEEF;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: 1px solid white;
    color: white; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    text-overflow: ellipsis;
    overflow: hidden;
}

.drillDown {
    background-color: #01AEEF;
}

    .drillDown.btn-group {
        padding-top: 3px;
        padding-bottom: 3px;
    }

        .drillDown.btn-group.btn {
            white-space: normal !important;
            word-wrap: break-word;
        }

        .drillDown.btn-group button:not(:last-child) {
            border-right: none; /* Prevent double borders */
        }

        .drillDown.btn-group button.noborder {
            border-right: none;
        }

        /* Add a background color on hover */
        .drillDown.btn-group button:hover {
            background-color: #01AEEF;
            color: #1a3e6f;
        }

        .drillDown.btn-group button:focus, .button:active {
            outline: none !important;
            background-color: #01AEEF;
        }

.noLeftBorder {
    border-left: none !important;
}

.prodDrillDownLarge {
    background-color: #01AEEF;
    border-bottom: 2px solid #1a3e6f;
    border-left: 1px solid #ffffff;
    border-right: none;
    border-top: none;
    text-align: center;
}

    .prodDrillDownLarge p {
        font-size: 13px;
        margin-top: 11px;
        color: #fff;
    }

        .prodDrillDownLarge p:hover {
            color: #1a3e6f;
        }

.prodSelected.ui-select-multiple.ui-select-bootstrap {
    min-height: 100px !important;
    max-height: 100px !important;
    overflow-y: auto;
    overflow-x: hidden;
}

#invalidProdGrid, #suggestionProdGrid {
    height: calc(87vh - 400px) !important;
    overflow: auto;
}

.err-Search {
    color: #FF6E77;
    font-size: 12px !important;
    padding-left: 1px !important;
    padding-top: 2px !important;
}

.prdBtn {
    font-size: 13px;
}

.padding-tb-0 {
    padding: 0 5px;
}

.prdBtn.btn-primary {
    background-color: #01AEEF !important;
}

        .prdBtn.btn-primary:hover {
            background-color: #01AEEF;
            color: #1a3e6f;
        }

        .prdBtn.btn-primary:focus, .btn-primary:active {
            outline: none !important;
            background-color: #01AEEF;
        }

.prodCorrector.modal-body {
    padding-top: 2px;
    padding-bottom: 0;
    min-height: calc(90vh - 145px);
    max-height: calc(90vh - 160px); 
}


.prodCorrector.kendoGridHeight {
    height: calc(87vh - 270px);
}

.prdCorrector-modal-window, .modal-dialog {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.prodCorrector-grid.k-grid td {
    white-space: nowrap;
    color: #000000;
}

.grpTitle {
    font-size: 14px;
    font-weight: 600;
}

.pr10 {
    padding-right:10px;
}

input[type=checkbox].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

    input[type=checkbox].with-font + label:before {
        font-family: FontAwesome;
        display: inline-block;
        content: "\f096";
        font-size: 22px;
        letter-spacing: 5px;
        color: #00AEEF;
        margin-left: 10px;
        margin-top: 2px;
        vertical-align: middle;
    }

    input[type=checkbox].with-font.ckSm + label:before {
        font-size: 16px;
    }

    input[type=checkbox].with-font:hover + label:before {
        color: #003C71;
        cursor: pointer;
    }

    input[type=checkbox].with-font[disabled]:hover + label:before {
        color: red;
        cursor: no-drop;
    }

    input[type=checkbox].with-font.disabled + label:before {
        color: #cccccc;
        cursor: default;
    }

    input[type=checkbox].with-font:checked + label:before {
        content: "\f046";
        font-size: 22px;
        letter-spacing: 5px;
        margin-left: 10px;
        margin-top: 2px;
        vertical-align: middle;
    }

    input[type=checkbox].with-font.ckSm:checked + label:before {
        font-size: 16px;
    }

    input[type=checkbox].with-font:focus + label:before {
        font-weight: bold;
    }

.breadcrumb .close {
    float: right;
    font-size: 21px;
}

.removeProduct {
    font-size: 12.5px;
    cursor: pointer;
    font-weight: bold;
    line-height: 1;
    color: #111;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
}

.breadcrumb .btn-default {
    font-weight: 600;
}

tr.ng-star-inserted.hide-row {
    display: none;
}

.kendopcorbtn:hover {
    border-color: #007bff;
    color: #ffffff;
    background-color: #007bff !important;
}

.PctreeViewNodes {
    color: #00aeef;
    font-weight: 600;
    cursor:pointer;
}

::ng-deep #productcorrectorgrid .k-grid thead {
    border-color: ghostwhite;
}

.product-corrector-dialog .mat-dialog-container {
    padding: 0;
    height: 100%;
    overflow: hidden;
    border-radius: 0;
    background: rgb(26,62,111) !important;
}

.prodCorrector.modal-body {
    padding-top: 2px !important;
    padding-bottom: 0 !important;
    max-height: initial;
    position: relative;
    padding: 15px;
    overflow: hidden !important;
    min-height: auto;
}

.prodSelector-corrector.modal-footer {
    border-top: none;
    padding-top: 0;
    padding-bottom: 0;
}

.prd-crctor-chkbox {
    border: 2px solid #00AEEF;
}

.height-auto-fix {
    height: auto!important;
}

.assign-inline-block {
    padding-bottom: 5px;
    padding-top: 5px;
    display: inline-block;
}

.span-closer {
    font-size: 17px;
    font-family: 'Intel Clear';
    line-height: 1;
}
button.btn.btn-xs.btn-primary.prdBtn.product-correct-nextbtn,
button.btn.btn-xs.btn-primary.prdBtn.product-corrector-backbtn {
    background-color: #01AEEF !important;
    border-color: #367fa9 !important;
    font-size: 13px !important;
    color: #fff !important;
    border-radius: 3px !important;
    padding: 1px 5px !important;
}

button.btn.btn-xs.btn-primary.prdBtn.product-correct-nextbtn:hover,
button.btn.btn-xs.btn-primary.prdBtn.product-corrector-backbtn:hover {
    background-color: #01AEEF !important;
    color: #1a3e6f !important;
}

button.btn.btn-primary.btn-xs.prdBtn.product-corrector-backbtn[disabled],
button.btn.btn-primary.btn-xs.prdBtn.product-correct-nextbtn[disabled] {
    color: #00AEEF !important;
    background-color: #003C71 !important;
    border-color: #b1babf !important;
    cursor: not-allowed !important;
    pointer-events: all !important;
}

i.intelicon-passed-completed-solid.product-corrector-passedicon {
    font-size: 60px !important;
    color: #C4D600 !important;
    position: relative !important;
    margin-left: 170px !important;
}

button.btn.btn-primary.prdBtn.saveclose-correctorbtn {
    font-size: 16px !important;
    background-color: #00aeef !important;
    border-color: rgb(54, 127, 169) !important;
    color: #fff !important;
    width: 220px !important
}

button.btn.btn-primary.prdBtn.saveclose-correctorbtn:hover {
    background-color: #01AEEF !important;
    color: #1a3e6f !important;
}

button.btn.btn-default.prdBtn.cancel-correctorbtn {
    background-color: #f4f4f4 !important;
    color: rgb(68, 68, 68) !important;
    border-color: rgb(221, 221, 221) !important;
    width: 73px !important
}

button.btn.btn-default.prdBtn.cancel-correctorbtn:hover {
    background-color: rgb(231, 231, 231) !important;
    color: rgb(0, 113, 197) !important;
}