.productCorrectParent .lblSelected label span {
    color: white !important;
}

.productCorrectParent .productpath > li > span {
    color: #0071c5;
    background: transparent !important;
    border-color: transparent !important;
    font-size: 13px;
}

.productCorrectParent .lblFilterProd > span {
    font-size: 12px !important;
    font-weight: 600 !important;
    color: #00AEEF !important;
}

.productCorrectParent .lblSelected {
    background: rgba(2, 173, 255, 1);
}

.productCorrectParent .lblNotSelected {
    background: none;
}

.productCorrectParent .lblFilterProd:before {
    color: transparent !important;
    width: 0px !important;
}

.productCorrectParent .btnInclude {
    border-left: 4px solid #003C71;
}

.productCorrectParent .btnExclude {
    border-left: 4px solid #FC4C02;
}

.productCorrectParent .gridStatusMarker {
    height: 100%;
    width: 4px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.productCorrectParent .false {
    background-color: #003C71 !important;
    color: #ffffff !important;
}

.productCorrectParent .true {
    background-color: #FC4C02 !important;
    color: #ffffff !important;
}

.productCorrectParent .includeCircle {
    background: #1a3e6f;
    border-radius: 50%;
    padding: 2px;
    color: #ffffff;
}

.productCorrectParent .excludeCircle {
    background: #FC4C02;
    border-radius: 50%;
    padding: 2px;
    color: #ffffff;
}

.productCorrectParent .badge.upperBadge {
    font-size: 12px !important;
    padding: 2px 4px;
    background-color: #fff;
    color: #00AEEF !important;
    vertical-align: text-top;
    font-weight: 200;
    margin-left: 6px;
    margin-top: -3px !important;
}

.productCorrectParent .newProd {
    font-size: 11px;
    color: #0071C5;
    padding-left: 5px;
    height: 6px;
}


.productCorrectParent .lnavFilter {
    background-color: #e7e7e8;
    height: calc(87vh - 260px) !important;
    padding: 4px;
    overflow: auto;
    font-family: 'Intel Clear', 'Arial';
}

.productCorrectParent .filterGrp {
    font-family: arial;
    font-weight: 600;
    font-size: 11px;
    margin: 5px 5px 5px 10px;
}

.productCorrectParent .filterTitle {
    margin: 5px;
    font-size: 20px;
    color: #aeaeae;
}

.productCorrectParent .filterTitleUnderline {
    margin: 5px;
    font-size: 15px;
    color: #1a3e6f;
    border-bottom: 1px solid #D3D3D3;
    font-weight: bold;
}

.productCorrectParent .filterGrp .filterContainer {
    font-weight: 200;
    margin-bottom: 20px;
}

    .productCorrectParent .filterGrp .filterContainer label {
        font-weight: 200;
        margin-left: 5px;
        cursor: pointer;
    }

.productCorrectParent .filterGrp .srchContainer {
    margin: 3px 0 0 15px;
    cursor: pointer;
    line-height: 1em;
}

    .productCorrectParent .filterGrp .srchContainer:hover i {
        color: #003C71;
    }

    .productCorrectParent .filterGrp .srchContainer i {
        color: #00AEEF;
        font-size: 14px;
        margin-right: 5px;
    }

.productCorrectParent .allDone {
    background-color: #ffffff;
    border-radius: 4px;
    margin: 10px 0 0 0;
    height: calc(100vh - 450px);
    text-align: center;
}

    .productCorrectParent .allDone i {
        font-size: 60px;
        color: #C4D600;
        margin-right: 25px;
    }

.productCorrectParent .done-title.correct-title-done {
    font-size: 30px !important;
    position: relative !important;
    margin-left: 117px !important
}

.productCorrectParent .done-body.corrector-body-title {
    font-size: 12px !important;
    position: relative !important;
    margin-left: 115px !important;
}

.productCorrectParent .done-confirm.done-confirm-corrector {
    font-size: 16px !important;
    text-align: center !important;
    width: 100% !important;
    padding: 25px 0 !important;
    margin-left: 60px !important;
}


.productCorrectParent .headerMsg {
    margin-top: 6px;
    font-size: 18px;
    color: #ffffff;
}

.productCorrectParent .subHeaderMsg {
    margin: 0 0 4px 0;
    font-size: 18px;
    color: #ffffff;
}

    .productCorrectParent .subHeaderMsg a {
        color: #00AEEF;
        text-decoration: underline;
        cursor: pointer;
    }

        .productCorrectParent .subHeaderMsg a:hover {
            color: #f3D54E;
        }

.productCorrectParent .subHeaderNavContainer {
    color: #003C71;
    background-color: #f4f4f4;
    font-size: 16px;
    border-radius: 4px;
    width: 100%;
    height: auto;
    display: flex;
    margin: 10px 10px 10px 0px !important;
    padding-bottom: 10px
}

.productCorrectParent .miniNav {
    padding: 0 15px;
    margin-right: 10px;
    border-right: 2px solid #d4d4d4;
    font-weight: 600;
}

    .productCorrectParent .miniNav button {
        width: 60px;
    }

        .productCorrectParent .miniNav button[disabled], .productCorrectParent .miniNav button[disabled]:hover {
            color: #737b7e;
            background-color: #d9d9d9 !important;
            cursor: not-allowed;
        }

.productCorrectParent .miniProdNav {
    padding: 0 15px;
    margin-right: 10px;
    font-weight: 600;
}

.productCorrectParent .mini-right {
    overflow: hidden;
    height: auto;
    flex: 1;
}

.productCorrectParent .mini-left {
    float: left;
    width: 175px;
    min-width: 175px;
    flex: 0.1;
    padding-top: 5px;
    padding-bottom: 5px;
}

.productCorrectParent .yellow {
    color: #f3D54E;
}

.productCorrectParent .skyblue {
    color: #00AEEF;
}

.productCorrectParent .pl10 {
    padding-left: 10px;
}

.productCorrectParent .or {
    padding: 0 10px;
}

.productCorrectParent .lnk {
    cursor: pointer;
    color: #ffffff;
    border-radius: 4px;
    background-color: #00AEEF;
    padding: 0 5px;
}

    .productCorrectParent .lnk:hover {
        background-color: #0071C5;
    }

.productCorrectParent .grpDesc {
    color: #666666;
}

.productCorrectParent .prodCorrector-grid.k-grid .k-grouping-row td p {
    padding: 5px;
}

.productCorrectParent .suggestedProd {
    border: 1px solid rgba(190, 163, 163, 0.12);
    padding: 5px;
    background: #1a3e6f;
    background-color: rgba(190, 163, 163, 0.12);
    margin-bottom: 10px;
}

.productCorrectParent .suggestionClose {
    color: yellow !important;
    padding: 0px !important;
}


.productCorrectParent .prodCorrectorHeader {
    border-bottom: 1px solid #ffffff;
    margin-left: 0px;
    margin-right: 0px;
    width: 100% !important;
}

.productCorrectParent .rowNavigation {
    color: yellow;
    font-size: 28px;
}

.productCorrectParent .prodText {
    color: white;
    font-size: 32px;
}

@media (max-width: 1000px) {
    .productCorrectParent .prodText {
        font-size: 26px;
    }
}

@media (max-width: 900px) {
    .productCorrectParent .prodText {
        font-size: 22px;
    }

    .productCorrectParent .subHeaderMsg {
        font-size: 15px;
    }
}

.productCorrectParent .rowNavPanel {
    color: white;
    font-size: 28px;
    padding-top: 12px;
    padding-left: 20px;
}

.productCorrectParent .marginRight {
    margin-right: 10px;
}


.productCorrectParent .addedProduct {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
}

.productCorrectParent .insertAtRowsText {
    color: white;
    font-weight: 400 !important;
    font-style: normal;
    font-size: 19px;
}

.productCorrectParent .prodHeader {
    color: white;
    font-size: 32px;
}

.productCorrectParent .breadCrumbWrapper {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 21px;
}

.productCorrectParent .modalCloseIcon {
    color: white;
    font-size: 32px;
    padding-top: 12px;
    padding-left: 20px;
}

.productCorrectParent .productpath {
    margin: 0;
    padding: 4px 0;
    background-color: transparent;
    color: #003C71;
    line-height: 0.2em;
}

    .productCorrectParent .productpath.breadcrumb > li + li:before {
        padding: 0 5px 0 0;
        content: ",";
        font-size: 16px;
        text-align: justify;
    }

    .productCorrectParent .productpath.breadcrumb > li + li div {
        padding-left: 10px;
    }

    .productCorrectParent .productpath.breadcrumb {
        padding: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-left: 5px;
    }

.productCorrectParent span.prdAnchor {
    color: #003C71;
}

    .productCorrectParent span.prdAnchor.Warning {
        color: #FFA300;
        cursor: pointer;
    }

    .productCorrectParent span.prdAnchor.Issue {
        color: #FC4C02;
        cursor: pointer;
    }

    .productCorrectParent span.prdAnchor.Good {
        color: #9bc600;
    }

    .productCorrectParent span.prdAnchor:hover {
        text-decoration: none;
        color: #01AEEF;
    }

.productCorrectParent .strike .prdAnchor {
    text-decoration: line-through !important;
    cursor: pointer;
    text-decoration-color: #0071c5 !important;
    color: #FC4C02 !important;
}

.productCorrectParent .strike span {
    color: #01AEEF;
}

.productCorrectParent .drillDown.btn-group button {
    background-color: #01AEEF;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: 1px solid white;
    color: white; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    text-overflow: ellipsis;
    overflow: hidden;
}

.productCorrectParent .drillDown {
    background-color: #01AEEF;
}

    .productCorrectParent .drillDown.btn-group {
        padding-top: 3px;
        padding-bottom: 3px;
    }

        .productCorrectParent .drillDown.btn-group.btn {
            white-space: normal !important;
            word-wrap: break-word;
        }

        .productCorrectParent .drillDown.btn-group button:not(:last-child) {
            border-right: none; /* Prevent double borders */
        }

        .productCorrectParent .drillDown.btn-group button.noborder {
            border-right: none;
        }

        /* Add a background color on hover */
        .productCorrectParent .drillDown.btn-group button:hover {
            background-color: #01AEEF;
            color: #1a3e6f;
        }

        .productCorrectParent .drillDown.btn-group button:focus, .button:active {
            outline: none !important;
            background-color: #01AEEF;
        }

.productCorrectParent .noLeftBorder {
    border-left: none !important;
}

.productCorrectParent .prodDrillDownLarge {
    background-color: #01AEEF;
    border-bottom: 2px solid #1a3e6f;
    border-left: 1px solid #ffffff;
    border-right: none;
    border-top: none;
    text-align: center;
}

    .productCorrectParent .prodDrillDownLarge p {
        font-size: 13px;
        margin-top: 11px;
        color: #fff;
    }

        .productCorrectParent .prodDrillDownLarge p:hover {
            color: #1a3e6f;
        }

.productCorrectParent .prodSelected.ui-select-multiple.ui-select-bootstrap {
    min-height: 100px !important;
    max-height: 100px !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.productCorrectParent #invalidProdGrid, .productCorrectParent #suggestionProdGrid {
    height: calc(87vh - 400px) !important;
    overflow: auto;
}

.productCorrectParent .err-Search {
    color: #FF6E77;
    font-size: 12px !important;
    padding-left: 1px !important;
    padding-top: 2px !important;
}

.productCorrectParent .prdBtn {
    font-size: 13px;
}

.productCorrectParent .padding-tb-0 {
    padding: 0 5px;
}

.productCorrectParent .prdBtn.btn-primary {
    background-color: #01AEEF !important;
}

    .productCorrectParent .prdBtn.btn-primary:hover {
        background-color: #01AEEF;
        color: #1a3e6f;
    }

    .productCorrectParent .prdBtn.btn-primary:focus, .productCorrectParent .btn-primary:active {
        outline: none !important;
        background-color: #01AEEF;
    }

.productCorrectParent .prodCorrector.modal-body {
    padding-top: 2px;
    padding-bottom: 0;
    min-height: calc(90vh - 167px);
    max-height: calc(90vh - 90px);
}


.productCorrectParent .prodCorrector.kendoGridHeight {
    height: calc(87vh - 270px);
}

.productCorrectParent .prdCorrector-modal-window {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.productCorrectParent .prodCorrector-grid.k-grid td {
    white-space: nowrap;
    color: #000000;
}

.productCorrectParent .grpTitle {
    font-size: 14px;
    font-weight: 600;
}

.productCorrectParent .pr10 {
    padding-right: 10px;
}

.productCorrectParent input[type=checkbox].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

    .productCorrectParent input[type=checkbox].with-font + label:before {
        font-family: FontAwesome;
        display: inline-block;
        content: "\f096";
        font-size: 22px;
        letter-spacing: 5px;
        color: #00AEEF;
        margin-left: 10px;
        margin-top: 2px;
        vertical-align: middle;
    }

    .productCorrectParent input[type=checkbox].with-font.ckSm + label:before {
        font-size: 16px;
    }

    .productCorrectParent input[type=checkbox].with-font:hover + label:before {
        color: #003C71;
        cursor: pointer;
    }

    .productCorrectParent input[type=checkbox].with-font[disabled]:hover + label:before {
        color: red;
        cursor: no-drop;
    }

    .productCorrectParent input[type=checkbox].with-font.disabled + label:before {
        color: #cccccc;
        cursor: default;
    }

    .productCorrectParent input[type=checkbox].with-font:checked + label:before {
        content: "\f046";
        font-size: 22px;
        letter-spacing: 5px;
        margin-left: 10px;
        margin-top: 2px;
        vertical-align: middle;
    }

    .productCorrectParent input[type=checkbox].with-font.ckSm:checked + label:before {
        font-size: 16px;
    }

    .productCorrectParent input[type=checkbox].with-font:focus + label:before {
        font-weight: bold;
    }

.productCorrectParent .breadcrumb .close {
    float: right;
    font-size: 21px;
}

.productCorrectParent .removeProduct {
    font-size: 12.5px;
    cursor: pointer;
    font-weight: bold;
    line-height: 1;
    color: #111;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
}

.productCorrectParent .breadcrumb .btn-default {
    font-weight: 600;
}

.productCorrectParent tr.ng-star-inserted.hide-row {
    display: none;
}

.productCorrectParent .kendopcorbtn:hover {
    border-color: #0071c5;
    color: #ffffff;
    background-color: #0071c5 !important;
}

.productCorrectParent .PctreeViewNodes {
    color: #00aeef;
    font-weight: 600;
    cursor: pointer;
}

::ng-deep #productcorrectorgrid .k-grid thead {
    border-color: ghostwhite;
}

.product-corrector-dialog .mat-dialog-container {
    padding: 0;
    height: 100%;
    overflow: hidden;
    border-radius: 0;
    background: rgb(26,62,111) !important;
}

.prodCorrector.modal-body {
    padding-top: 2px !important;
    padding-bottom: 0 !important;
    max-height: initial;
    position: relative;
    padding: 15px;
    overflow: hidden !important;
    min-height: auto;
}

.prodSelector-corrector.modal-footer {
    border-top: none;
    padding-top: 0;
    padding-bottom: 0;
}

.prd-crctor-chkbox {
    border: 2px solid #00AEEF;
}

.height-auto-fix {
    height: auto !important;
}

.assign-inline-block {
    padding-bottom: 5px;
    padding-top: 5px;
    display: inline-block;
}

.productCorrectParent .span-closer {
    font-size: 17px;
    font-family: 'Intel Clear';
    line-height: 1;
}

button.btn.btn-xs.btn-primary.prdBtn.product-correct-nextbtn,
button.btn.btn-xs.btn-primary.prdBtn.product-corrector-backbtn {
    background-color: #01AEEF !important;
    border-color: #367fa9 !important;
    font-size: 13px !important;
    color: #fff !important;
    border-radius: 3px !important;
    padding: 1px 5px !important;
}

    button.btn.btn-xs.btn-primary.prdBtn.product-correct-nextbtn:hover,
    button.btn.btn-xs.btn-primary.prdBtn.product-corrector-backbtn:hover {
        background-color: #01AEEF !important;
        color: #1a3e6f !important;
    }

button.btn.btn-primary.btn-xs.prdBtn.product-corrector-backbtn[disabled],
button.btn.btn-primary.btn-xs.prdBtn.product-correct-nextbtn[disabled] {
    color: #00AEEF !important;
    background-color: #003C71 !important;
    border-color: #b1babf !important;
    cursor: not-allowed !important;
    pointer-events: all !important;
}

i.intelicon-passed-completed-solid.product-corrector-passedicon {
    font-size: 60px !important;
    color: #C4D600 !important;
    position: relative !important;
    margin-left: 115px !important;
}

button.btn.btn-primary.prdBtn.saveclose-correctorbtn {
    font-size: 16px !important;
    background-color: #00aeef !important;
    border-color: rgb(54, 127, 169) !important;
    color: #fff !important;
    width: 220px !important
}

    button.btn.btn-primary.prdBtn.saveclose-correctorbtn:hover {
        background-color: #01AEEF !important;
        color: #1a3e6f !important;
    }

button.btn.btn-default.prdBtn.cancel-correctorbtn {
    background-color: #f4f4f4 !important;
    color: rgb(68, 68, 68) !important;
    border-color: rgb(221, 221, 221) !important;
    width: 73px !important
}

    button.btn.btn-default.prdBtn.cancel-correctorbtn:hover {
        background-color: rgb(231, 231, 231) !important;
        color: rgb(0, 113, 197) !important;
    }

.product-breakout-modal-Corrector .capbreakout.modal-header {
    padding: 15px !important;
    padding-bottom: 0 !important
}

.product-breakout-modal-Corrector .capbreakout.modal-body {
    padding: 15px !important;
    padding-top: 2px !important;
    padding-bottom: 0 !important
}

.product-breakout-modal-Corrector .mat-dialog-container {
    padding: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 0 !important;
    width: 95% !important;
    margin-bottom: calc(100vh - 0px) !important;
    top: 30px !important;
    position: relative !important;
}

.product-breakout-modal-Corrector .capModalCloseIcon {
    font-size: 26px !important;
    margin-top: 0 !important;
    padding-right: 5px !important
}

.product-breakout-modal-Corrector .k-grid-toolbar {
    padding: 17px 20px 5px 20px !important;
}


.product-breakout-modal-Corrector .excelText {
    font-size: 12px !important;
    box-shadow: none !important;
    margin-left: -16px;
    margin-top: -13px;
    font-family: 'Intel Clear' !important;
    border: 0 !important;
    border-radius: 0 !important;
}

    .product-breakout-modal-Corrector .excelText:hover {
        background-color: #37a4cd7a !important
    }

.product-breakout-modal-Corrector .k-icon.k-i-file-excel {
    margin-top: -30px !important;
    padding-left: 17px !important;
    font-size: 25px !important
}

#breakOutGrid.k-grid td {
    padding-left: 15px !important
}

.product-breakout-modal-Corrector .excelbtn-style {
    margin-bottom: -30px !important;
    margin-left: -32px;
    text-align: center !important;
}

.product-breakout-modal-Corrector .headerClass {
    padding-left: 1.286em !important;
    border-left-color: #c4cfd4 !important;
    padding: .786em .6em;
    font-weight: bold !important
}

.product-breakout-modal-Corrector .k-touch-action-auto {
    border-right: 0 !important;
    border-bottom: 0 !important;
    border: 0;
    padding-right: 10px !important;
    padding-left: 5px !important;
    color: #1a3e6f !important;
    font-weight: 500 !important;
    font-size: 12px !important
}

.product-breakout-modal-Corrector mat-dialog-container product-breakout .modal-content {
    box-shadow: none
}

#closePopoverCorrector {
    text-align: end !important;
}

.bg-yellow-remove .isSoftWarnCell {
    background-color: transparent !important
}

.productCorrectParent .product-selector-font-align {
    text-align: center;
    font-weight: normal;
}

.col-md-8.product-correct-done {
    text-align: center !important;
    padding-bottom: 90px !important;
    padding-right: 115px !important;
    padding-top: 63px !important;
}

.productCorrectParent .prodCorrector.modal-body.allDoneModalBody {
    min-height: calc(90vh - 105px) !important;
}

::ng-deep .filtertreeview .k-treeview .k-in.k-state-selected{
    background: transparent !important;
    cursor: pointer;
}

::ng-deep .filtertreeview .k-treeview .k-in {
    background: #00aeef !important;
    cursor: pointer;
}
.alert-dismissible {
    font-weight: bold;
    background: #f3d54e;
    text-align: center !important;
    padding: 0px;
}
.alert-dismissible .close span {
    top: 20px;
    right: 20px;
    color: #dc3545 !important;
    position: absolute;
    font-size: small;
    padding-right: 15px
}
.alert-dismissible span {
    font-size: 14px;
    color: black
}
kendo-treeview ul.k-treeview-lines {
    display: flex;
    flex-direction: row;
}
.subHeaderNavContainer .miniProdNav ul {
    overflow: auto;
    max-height: calc(20vh - 110px)
}
kendo-treeview {
    margin: 0px 10px 0px 10px;
}

.corrector-checkbox.k-grid td,
.corrector-checkbox.k-grid td div,
.corrector-checkbox.k-grid td span {
    white-space: nowrap !important;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    position: relative;
}