.reportLink {
    font-size: 13px
}

.filterInfo {
    width: 450px;
    background: rgba(0,0,0,.69);
    border: 2px solid #8c8c8c;
    position: fixed;
    top: 100px;
    height: 120px;
    color: #fff;
    padding: 5px
}

.showMore {
    padding: 3px;
    background: #2196f3;
    float: left;
    margin-top: 10px;
    cursor: pointer;
    color: #FFF
}

.tableHeader > thead:first-child > tr:first-child > th {
    background: #FFFFFF;
    border-right: 1px solid #f2f2f2;
    border-bottom: 3px solid #2196F3
}

.tableHeader {
    border: 1px solid #f2f2f2
}

.mainBodyStyle {
    position: absolute;
    top: 84px;
    bottom: 15px;
    left: 0;
    right: 0;
    overflow: scroll !important
}

div.overFlowDash {
    width: auto;
    height: auto !important
}

.k-chart-tooltip-wrapper .k-animation-container {
    position: absolute !important;
    top: 0 !important;
    width: 100px;
    border: red solid 2px;
    background-color: yellow;
    color: blue
}

.kendocontainer {
    width: 100%;
    height: 100%;
    transform: perspective(100px)
}

.first-look {
    margin-top: 20px !important
}

.new-head h1 {
    padding-top: 30px !important;
    padding-left: 15px;
}

.reportLink a {
    color: #0071c5 !important
}

.new-row {
    --bs-gutter-x: 1.5rem !important
}

.rpt-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: 0px;
    overflow-y: auto;
}

.vfkd-align-fix {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.mainBodyStyle:has(reporting-dashboard) {
    overflow-y: hidden !important
}

.col-md-fixhyt {
    height: calc(100vh - 100px);
    background-color: #ECF0F5;
}
