.reportLink {
    font-size: 13px
}

.showMoreCult {
    padding: 3px;
    background: #2196f3;
    float: left;
    margin-top: 10px;
    cursor: pointer;
    color: #FFF
}

.tableHeaderReporting > thead:first-child > tr:first-child > th {
    background: #FFFFFF;
    border-right: 1px solid #f2f2f2;
    border-bottom: 3px solid #2196F3
}

.tableHeaderReporting {
    border: 1px solid #f2f2f2
}

div.overFlowDash {
    width: auto;
    height: auto !important
}

.kendocontainer {
    width: 100%;
    height: 100%;
    transform: perspective(100px)
}

.first-look {
    margin-top: 20px !important
}

.new-head h1 {
    padding-top: 30px !important;
    padding-left: 15px;
}

.reportLink a {
    color: #0071c5 !important
}

.new-row {
    --bs-gutter-x: 1.5rem !important
}

.rpt-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: 0px;
    overflow-y: auto;
}

.vfkd-align-fix {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.mainBodyStyle:has(reporting-dashboard) {
    overflow-y: hidden !important
}

.col-md-fixhyt {
    height: calc(100vh - 100px);
    background-color: #ECF0F5;
}

#reportScopeID.wrapper {
    overflow-y: auto !important
}

.new-info-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    background: var(--white);
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 7px 7px 8px 2px #00000042;
    position: relative;
}

.new-info-box:hover, new-info-box:focus {
    transition: all .5s;
    transform: translate(-5px,-5px);
}

.new-info-box-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
}

.border-yellow {
    border: 3px solid #f9cc04;
}

.new-info-box-icon.bg-yellow.border-yellow:hover {
    background: transparent !important;
    color: #f9cc04 !important;
}

.border-green {
    border: 3px solid #c4d600;
}

.new-info-box-icon.bg-green.border-green:hover {
    background: transparent !important;
    color: #c4d600 !important;
}

.border-aqua {
    border: 3px solid #00c0ef;
}

.new-info-box-icon.bg-aqua.border-aqua:hover {
    background: transparent !important;
    color: #00c0ef !important;
}

.border-red {
    border: 3px solid #dd4b39;
}

.new-info-box-icon.bg-red.border-red:hover {
    background: transparent !important;
    color: #dd4b39 !important;
}

.border-blue {
    border: 3px solid #0073b7;
}

.new-info-box-icon.bg-blue.border-blue:hover {
    background: transparent !important;
    color: #0073b7 !important;
}

.details-stages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 16px;
}

.new-info-box-text-side {
    letter-spacing: 1px;
    font-weight: 700;
}

.new-info-box-number-side {
    letter-spacing: 1px;
}

.new-progress {
    background-color: #e9ecef;
    border-radius: .25rem;
    font-size: 0.75rem;
    height: 5px;
    line-height: 0;
    margin-bottom: 5px;
}

.new-info-box-content-lower {
    width: 100%;
    position: relative;
}

.total-value-deals {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    flex-direction: column;
    letter-spacing: 1px;
    font-size: 16px;
}

.hover-chart-design {
    display: block;
    position: absolute;
    top: -22px;
    left: 393px;
    height: 350px;
    width: 500px;
    background: #0000007d;
    border-radius: 15px;
    padding: 10px;
    z-index: 9999;
}

.hover-chart-design:before {
    content: '';
    border-right: 15px solid #0000007d;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    position: absolute;
    left: -15px;
    top: 25px;
}

.hover-chart-design.right-align-box {
    left: auto !important;
    right: 60px;
}

.hover-chart-design.right-align-box:before {
    left: auto !important;
    right: -15px;
    transform: rotate(180deg)
}

.hover-chart-design.right-align-box button.btn-close-design {
    right: auto;
}

.info-icon {
    position: absolute;
    top: 7px;
    right: 7px;
    height: 20px;
    width: 20px;
    border: 2px solid var(--light-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--light-blue);
    font-size: 10px;
}

button.btn-close-design {
    position: absolute;
    right: 10px;
    background: #ffffff4a;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 0;
    border: 2px solid #ffffff !important;
    color: #fff;
    z-index: 99999;
}

.nd-info-box {
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 35px;
    background: #fff;
    position: relative;
    box-shadow: 0px 0px 0px 1px #e0e3eb inset, 1em 1em 1em #14171f33;
}

.nd-icon-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    margin-bottom: 15px;
}

    .nd-icon-content i {
        height: 64px;
        width: 64px;
        border-radius: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        color: #1e2246;
        font-weight: 900;
    }

        .nd-icon-content i.icon-one-custom {
            background: linear-gradient(to bottom right, #00b1f142, #0071c599)
        }

        .nd-icon-content i.icon-two-custom {
            background: linear-gradient(to top right, #00b1f142, #0071c599)
        }

        .nd-icon-content i.icon-three-custom {
            background: linear-gradient(to left, #00b1f142, #0071c599)
        }

    .nd-icon-content span {
        font-size: 26px;
        font-weight: 700;
        margin: 0;
        letter-spacing: 1px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    }

.count-details {
    background-color: #0071c5;
    color: #fff;
    border: 2px solid #0071c5;
    border-radius: 8px;
    padding: 10px 30px;
    margin-top: 25px;
    display: block;
    text-decoration: none;
}

    .count-details p {
        margin-bottom: 0;
        text-align: center;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1px;
    }

.hover-chart-design.chartCustomVal {
    top: -24px !important;
    left: 523px !important;
}

/*button.btn.btn-primary.download-missing-cost-btn {
    width: 85%;
    margin-left: 5px;
    background-color: var(--light-blue) !important;
}

    button.btn.btn-primary.download-missing-cost-btn:hover {
        background-color: var(--dark-blue) !important;
        border: 1px solid var(--dark-blue) !important;
    }*/