<link href="/Client/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="/Client/node_modules/@progress/kendo-theme-bootstrap/dist/all.css" rel="stylesheet" />
<link href="/Client/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet" />
<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />

<cc-loader [isLoading]="isLoading" [module]="moduleName" [isInitializing]="false" [message]="loadMessage"></cc-loader>
<div class="container-fluid overFlowDash" [hidden]="isLoading=='true'">
    <div class="row">
        <div class="col-md-12">
            <div class="hold-transition skin-blue sidebar-mini">
                <div id="reportScopeID" class="wrapper">
                    <aside class="main-sidebar">
                        <section class="sidebar">
                            <div class="row">
                                <div class="col-xs-12 col-md-11 col-md-offset-0" style="width: 94.66667%;">
                                    <div class="panel sidenav" *ngFor="let x of getReportCatagory">
                                        <div class="panel-heading">{{x.CTGR_NM}}</div>
                                        <div class="panel-body">
                                            <div *ngFor="let s of getReportSubCatagory | filter : x.CTGR_NM">
                                                <h3>{{s.SUB_CTGR_NM}} </h3>
                                                <ul>
                                                    <li class="reportLink" *ngFor="let d of ReportName | filter : s.SUB_CTGR_NM ">
                                                        <a target="_blank" href="{{d.RPT_URL}}"><i class="fa fa-circle-o text-agreen"></i> {{d.RPT_UNIQ_NM}} </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </aside>
                    <div class="content-wrapper">
                        <section class="content-header new-head">
                            <h1>Dashboard <small>Version 1.0</small></h1>
                            <ol class="breadcrumb first-look">
                                <li><a href="#"><i class="fa fa-dashboard"></i>Report</a></li>
                                <li class="active">Dashboard</li>
                            </ol>
                        </section>
                        <section class="content">
                            <div class="row new-row">
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="info-box"><span class="info-box-icon bg-aqua"><i class="intelicon-gauge"
                                                style="font-size:80px"></i></span>
                                        <div class="info-box-content"><span class="info-box-text">Total
                                                Deals</span><br />
                                            <div><span class="info-box-number" class="info-box-number" title="{{dealCountTooltip}}">{{totalDealCount | number :
                                                    fractionSize}}</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="info-box"><span class="info-box-icon bg-red"><i
                                                class="intelicon-package"
                                                style="font-size: 70px; line-height: 1.3;"></i></span>
                                        <div class="info-box-content"><span class="info-box-text">Total Product
                                                Used</span><br /><span class="info-box-number">{{productUsed}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix visible-sm-block"></div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="info-box"><span class="info-box-icon bg-green"><i
                                                class="intelicon-user-account-outlined"
                                                style="font-size:70px; line-height: 1.3;"></i></span>
                                        <div class="info-box-content"><span class="info-box-text">Customer
                                                Serviced</span><br /><span class="info-box-number">{{cutomerServiced}}</span></div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="info-box"><span class="info-box-icon bg-yellow"><i
                                                class="intelicon-time-lapse-solid"
                                                style="font-size:70px; line-height: 1.3;"></i></span>
                                        <div class="info-box-content"><span class="info-box-text">Reporting Time
                                            </span><small style="font-size: 10px;">Captured in Seconds</small><span class="info-box-number">{{SUM_AMOUNT}}</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" [hidden]="!isRecordAvailable">
                                <div class="col-md-12">
                                    <div class="box">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Report Usage Dashboard</h3>
                                            <div class="box-tools pull-right"></div>
                                        </div>
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="chart">
                                                        <div id="chart" class="kendocontainer">
                                                            <kendo-chart #chartkendo [popupSettings]="{ appendTo: chartContainer}" [title]="chartObj.title" [chartArea]="chartObj.chartArea" [seriesDefaults]="chartObj.seriesDefaults" [valueAxis]="chartObj.valueAxis" [categoryAxis]="chartObj.categoryAxis" [legend]="chartObj.legend">
                                                                <kendo-chart-series>
                                                                    <kendo-chart-series-item *ngFor="let series of chartSeriesObj" [name]="series.name" [data]="series.data">
                                                                        <kendo-chart-series-item-tooltip>
                                                                            <ng-template let-value="value" let-category="category" let-series="series">{{series.name}}:{{ value}} (seconds) </ng-template>
                                                                        </kendo-chart-series-item-tooltip>
                                                                    </kendo-chart-series-item>
                                                                </kendo-chart-series>
                                                            </kendo-chart>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="progress-group" *ngFor="let x of ReportDashboardData | slice : 1:5 "><span class="progress-text">{{x.RPT_NM}}</span><span class="progress-number"><b>{{x.TOTAL_TIME}}/{{x.TOTAL_REPORT_TIME}}</b></span>
                                                        <div class="progress sm">
                                                            <div class="progress-bar progress-bar{{x.COLOR_CD}}" [ngStyle]="{'width':getWidthDB(x.TOTAL_TIME,x.TOTAL_REPORT_TIME)}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" [hidden]="!isRecordAvailable">
                                <div class="col-md-8">
                                    <div class="box box-success">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Report Usage Log Chart</h3>
                                            <div class="box-tools pull-right"></div>
                                        </div>
                                        <div class="box-body no-padding">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-8">
                                                    <div class="pad">
                                                        <div id="chartPie" class="kendocontainer">
                                                            <kendo-chart #piekendo [popupSettings]="{ appendTo: pieContainer}" [title]="chartPieObj.title" [legend]="chartPieObj.legend" [chartArea]="chartPieObj.chartArea" [seriesDefaults]="chartPieObj.seriesDefaults">
                                                                <kendo-chart-series>
                                                                    <kendo-chart-series-item type="pie" [data]="chartPieSeriesObj" field="value" categoryField="category" [labels]="{ visible: true, content: labelContent}">
                                                                        <kendo-chart-series-item-tooltip>
                                                                            <ng-template let-value="value" let-category="category" let-series="series">{{category}}:{{ value}}% </ng-template>
                                                                        </kendo-chart-series-item-tooltip>
                                                                    </kendo-chart-series-item>
                                                                </kendo-chart-series>
                                                            </kendo-chart>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-8">
                                                    <div class="pad">
                                                        <div id="chartPiee" class="kendocontainer">
                                                            <kendo-chart #pieekendo [popupSettings]="{ appendTo: pieeContainer}" [title]="chartPieeObj.title" [legend]="chartPieeObj.legend" [chartArea]="chartPieeObj.chartArea" [seriesDefaults]="chartPieeObj.seriesDefaults" [tooltip]="chartPieeObj.tooltip">
                                                                <kendo-chart-series>
                                                                    <kendo-chart-series-item type="pie" [data]="chartPieeSeriesObj" field="value" categoryField="category" [labels]="{ visible: true, content: labelContent}">
                                                                        <kendo-chart-series-item-tooltip>
                                                                            <ng-template let-value="value" let-category="category">{{category}}:{{ value}} % </ng-template>
                                                                        </kendo-chart-series-item-tooltip>
                                                                    </kendo-chart-series-item>
                                                                </kendo-chart-series>
                                                            </kendo-chart>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="info-box bg-{{x.COLOR}}" *ngFor="let x of ReportDealType | slice :1:5 ">
                                        <span class="info-box-icon"><i class="fa fa-circle-o text-white"></i></span>
                                        <div class="info-box-content"><span class="info-box-text">{{x.DEAL_TYPE}}</span><span class="info-box-number">{{x.Deal_Count | number : fractionSize}}</span>
                                            <div class="progress">
                                                <div class="progress-bar" [ngStyle]="{'width':getWidthDT(x.Deal_Count)}"></div>
                                            </div><span class="progress-description">Total Number of Deals
                                                -{{totalDealCount | number : fractionSize}} </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" [hidden]="!isRecordAvailable">
                                <div class="col-md-12">
                                    <div class="box box">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Report(s) Log</h3><label class="switch" title='Excluded/Included by USER'><input type="checkbox"
                                                    [(ngModel)]="reportLogView" title='Click to see Summarized view'
                                                    checked><span class="slider" title='Click to see Summarized view'>
                                                    <p class={{reportLogView}}></p>
                                                </span></label>
                                            <div class="box-tools pull-right"></div>
                                        </div>
                                        <div class="box-body">
                                            <div class="table-responsive" style="height:430px">
                                                <table class="table no-margin ReportAuditLog tableHeader" *ngIf="reportLogView==false">
                                                    <thead>
                                                        <tr>
                                                            <th>Report Name</th>
                                                            <th title="Number of times">Count</th>
                                                            <th title="Total Time Spend">Total Time</th>
                                                            <th title="Average Time Spend">Average</th>
                                                            <th title="Maximum Time Spend">Max Time</th>
                                                            <th title="Minimum Time Spend">Min Time</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let x of ReportDashboardData | slice :1:numberOfRecrods ">
                                                            <td>{{x.RPT_NM}}</td>
                                                            <td>{{x.RPT_COUNT}}</td>
                                                            <td>{{x.TOTAL_TIME}}</td>
                                                            <td>{{x.AVG_TIME}}</td>
                                                            <td>{{x.MAX_TIME}}</td>
                                                            <td>{{x.MIN_TIME}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table class="table no-margin ReportAuditLog tableHeader" *ngIf="reportLogView==true">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:2px"></th>
                                                            <th>Report Name</th>
                                                            <th title="Start Time">Start Time</th>
                                                            <th title="End Time">End Time</th>
                                                            <th title="Time Taken">Time Taken</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let x of ReportLogDeatils | slice :1:numberOfRecrods ">
                                                            <td title="{{x.TOTAL_REPORT_TIME_TAKEN >60 ? 'Check Filter before running the Report' : ''}}">
                                                                <i *ngIf="x.TOTAL_REPORT_TIME_TAKEN >60" class="intelicon-information-outlined red" [ngClass]="{success : x.TOTAL_REPORT_TIME_TAKEN < 60, warning : x.TOTAL_REPORT_TIME_TAKEN >=60}"></i>
                                                            </td>
                                                            <td>Deal Management{{x.RPT_ALS_NM}}</td>
                                                            <td>{{x.START_TIME}}</td>
                                                            <td>{{x.END_TIME}}</td>
                                                            <td>{{x.TOTAL_REPORT_TIME_TAKEN}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table><a (click)="showAll(numberOfRecrods)" class="showMore" title={{btnText}}>{{btnText}} <i *ngIf="btnText=='Show more '"
                                                        class="intelicon-down"></i><i *ngIf="btnText=='Show less '"
                                                        class="intelicon-up"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <aside class="control-sidebar control-sidebar-dark">
                        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                            <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a>
                            </li>
                            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i
                                        class="fa fa-gears"></i></a></li>
                        </ul>
                    </aside>
                    <div class="control-sidebar-bg"></div>
                </div>
            </div>
        </div>
    </div>
</div>