<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />
<link href="/Client/src/app/style/reporting.css" rel="stylesheet" />

<cc-loader [isLoading]="isLoading" [module]="moduleName" [isInitializing]="false" [message]="loadMessage"></cc-loader>
<div class="overFlowDash" [hidden]="isLoading=='true'">
    <div class="rpt-row" style="background-color: #ECF0F5;">
        <div class="col-md-12 col-md-fixhyt" style=" padding-right: 0;">
            <div class="hold-transition skin-blue sidebar-mini">
                <div id="reportScopeID" class="wrapper">
                    <aside class="main-sidebar">
                        <section class="sidebar">
                            <div class="rpt-row">
                                <div class="col-xs-12 col-md-11 col-md-offset-0" style="width: 94.66667%;">
                                    <div class="panel sidenav" *ngFor="let x of getReportCatagory">
                                        <div class="panel-heading">{{x.CTGR_NM}}</div>
                                        <div class="panel-body">
                                            <div *ngFor="let s of getReportSubCatagory | filter : x.CTGR_NM">
                                                <h3>{{s.SUB_CTGR_NM}} </h3>
                                                <ul>
                                                    <li class="reportLink" *ngFor="let d of ReportName | filter : s.SUB_CTGR_NM ">
                                                        <a *ngIf="d.RPT_UNIQ_NM == 'iCost report'" (click)="downloadICostReport()" style="cursor: pointer;"><i class="fa fa-circle-o text-agreen"></i> {{d.RPT_UNIQ_NM}} </a>
                                                        <a *ngIf="d.RPT_UNIQ_NM == 'New Product Missing Cost Report'" (click)="downloadGetReportNewProductMissingCostData()" style="cursor: pointer;"><i class="fa fa-circle-o text-agreen"></i> {{d.RPT_UNIQ_NM}} </a>
                                                        <a target="_blank" href="{{d.RPT_URL}}" *ngIf="d.RPT_URL != ''"><i class="fa fa-circle-o text-agreen"></i> {{d.RPT_UNIQ_NM}} </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </aside>
                    <div class="content-wrapper">
                        <section class="content-header new-head">
                            <h1>Dashboard</h1>
                            <ol class="breadcrumb first-look">
                                <li><a href="#"><i class="fa fa-dashboard"></i>Report</a></li>
                                <li class="active">Dashboard</li>
                            </ol>
                        </section>
                        <section class="content">
                            <div class="rpt-row new-row" style="overflow-y: initial;">
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="nd-info-box">
                                        <a class="info-icon" title="Click Here For More Details" (click)="inChart()">
                                            <i class="fa fa-solid fa-exclamation"></i>
                                        </a>
                                        <div class="nd-icon-content">
                                            <i class="intelicon-gauge icon-one-custom"></i>
                                            <span>Total Deals</span>
                                        </div>
                                        <div class="count-details">
                                            <p>{{totalAllDealCount | number : fractionSize}}</p>
                                        </div>
                                    </div>
                                    <div *ngIf="visibleChart" class="hover-chart-design chartCustomVal">
                                        <div class="chart-alignment-hover">
                                            <button class="btn-close-design" (click)="outChart()" title="Close">X</button>
                                            <kendo-chart id="deal-stages-chart" style="height: 330px;">
                                                <kendo-chart-area background="#00000000" color="#ffffff" fill="#ffffff"></kendo-chart-area>
                                                <kendo-chart-series>
                                                    <kendo-chart-series-item type="donut"
                                                                             [data]="ReportAllDealCount"
                                                                             categoryField="DEAL_TYPE"
                                                                             field="Deal_Count">
                                                        <kendo-chart-series-item-tooltip>
                                                            <ng-template let-value="value" let-category="category" let-series="series">{{category}}: {{value}}</ng-template>
                                                        </kendo-chart-series-item-tooltip>
                                                    </kendo-chart-series-item>
                                                </kendo-chart-series>
                                                <kendo-chart-legend [visible]="true" position="left" color="#ffffff" fill="#ffffff"></kendo-chart-legend>
                                            </kendo-chart>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="nd-info-box">
                                        <div class="nd-icon-content">
                                            <i class="intelicon-package icon-two-custom"></i>
                                            <span>Total Product Used</span>
                                        </div>
                                        <div class="count-details">
                                            <p>{{productUsed}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="nd-info-box">
                                        <div class="nd-icon-content">
                                            <i class="intelicon-user-account-outlined icon-three-custom"></i>
                                            <span>Customer Serviced</span>
                                        </div>
                                        <div class="count-details">
                                            <p>{{cutomerServiced}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rpt-row" style="padding-top: 5px; overflow: inherit;">
                                <div class="col-md-3" *ngFor="let x of ReportDealType;let index = index">
                                    <div class="new-info-box">
                                        <span class="new-info-box-icon bg-{{x.COLOR}} border-{{x.COLOR}}" title="{{x.DEAL_TYPE}}">{{x.DEAL_TYPE | slice :0:1}}</span>
                                        <a class="info-icon" title="Click Here For More Details" (click)="hoverIndex(index, x.DEAL_TYPE)">
                                            <i class="fa fa-solid fa-exclamation"></i>
                                        </a>
                                        <div class="new-info-box-content-lower">
                                            <div class="details-stages">
                                                <span class="new-info-box-text-side">{{x.DEAL_TYPE}}</span>
                                                <span class="new-info-box-number-side">{{x.Deal_Count | number : fractionSize}}</span>
                                            </div>

                                            <div class="new-progress">
                                                <div class="progress-bar bg-{{x.COLOR}}" [ngStyle]="{'width':getWidthDT(x.Deal_Count)}"></div>
                                            </div>
                                            <div class="total-value-deals">
                                                <span>Total Number of Deals</span>
                                                <span>{{totalDealCount | number : fractionSize}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="visibleIndex === index" class="hover-chart-design" [ngClass]="{'right-align-box' : index > 1 }">
                                        <div class="chart-alignment-hover">
                                            <button class="btn-close-design" (click)="closeHover()" title="Close">X</button>
                                            <kendo-chart id="deal-stages-chart" style="height: 330px;">
                                                <kendo-chart-area background="#00000000" color="#ffffff" fill="#ffffff"></kendo-chart-area>
                                                <kendo-chart-series>
                                                    <kendo-chart-series-item type="donut"
                                                                             [data]="dataDealTypeStages"
                                                                             categoryField="DEAL_STAGE"
                                                                             field="DEAL_COUNT">
                                                        <kendo-chart-series-item-tooltip>
                                                            <ng-template let-value="value" let-category="category" let-series="series">{{category}}: {{value}}</ng-template>
                                                        </kendo-chart-series-item-tooltip>
                                                    </kendo-chart-series-item>
                                                </kendo-chart-series>
                                                <kendo-chart-legend [visible]="true" position="left" color="#ffffff" fill="#ffffff"></kendo-chart-legend>
                                            </kendo-chart>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rpt-row">
                                <div class="col-md-12">
                                    <div class="box">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Deal breakdown by Quarter</h3>
                                        </div>
                                        <div class="box-body">
                                            <div class="rpt-row">
                                                <div class="col-md-12">
                                                    <kendo-chart [style.height.px]="400">
                                                        <kendo-chart-category-axis>
                                                            <kendo-chart-category-axis-item [categories]="ReportQuarters">
                                                            </kendo-chart-category-axis-item>
                                                        </kendo-chart-category-axis>
                                                        <kendo-chart-series>
                                                            <kendo-chart-series-item type="column" [gap]="1.8" [spacing]="0.2" [data]="ReportEcapQuarter">
                                                                <kendo-chart-series-item-tooltip>
                                                                    <ng-template let-value="value">ECAP: {{value}}</ng-template>
                                                                </kendo-chart-series-item-tooltip>
                                                                <kendo-chart-series-item-labels color="#0d6efd">
                                                                </kendo-chart-series-item-labels>
                                                            </kendo-chart-series-item>
                                                            <kendo-chart-series-item type="column" [gap]="1.8" [spacing]="0.2" [data]="ReportFlexQuarter">
                                                                <kendo-chart-series-item-tooltip>
                                                                    <ng-template let-value="value">FLEX: {{value}}</ng-template>
                                                                </kendo-chart-series-item-tooltip>
                                                                <kendo-chart-series-item-labels color="#6f42c1">
                                                                </kendo-chart-series-item-labels>
                                                            </kendo-chart-series-item>
                                                            <kendo-chart-series-item type="column" [gap]="1.8" [spacing]="0.2" [data]="ReportKitQuarter">
                                                                <kendo-chart-series-item-tooltip>
                                                                    <ng-template let-value="value">KIT: {{value}}</ng-template>
                                                                </kendo-chart-series-item-tooltip>
                                                                <kendo-chart-series-item-labels color="#20c997">
                                                                </kendo-chart-series-item-labels>
                                                            </kendo-chart-series-item>
                                                            <kendo-chart-series-item type="column" [gap]="1.8" [spacing]="0.2" [data]="ReportProgramQuarter">
                                                                <kendo-chart-series-item-tooltip>
                                                                    <ng-template let-value="value">PROGRAM: {{value}}</ng-template>
                                                                </kendo-chart-series-item-tooltip>
                                                                <kendo-chart-series-item-labels color="#198754">
                                                                </kendo-chart-series-item-labels>
                                                            </kendo-chart-series-item>
                                                            <kendo-chart-series-item type="column" [gap]="1.8" [spacing]="0.2" [data]="ReportRevtierQuarter">
                                                                <kendo-chart-series-item-tooltip>
                                                                    <ng-template let-value="value">REV_TIER: {{value}}</ng-template>
                                                                </kendo-chart-series-item-tooltip>
                                                                <kendo-chart-series-item-labels color="#ffc107">
                                                                </kendo-chart-series-item-labels>
                                                            </kendo-chart-series-item>
                                                            <kendo-chart-series-item type="column" [gap]="1.8" [spacing]="0.2" [data]="ReportVoltierQuarter">
                                                                <kendo-chart-series-item-tooltip>
                                                                    <ng-template let-value="value">VOL_TIER: {{value}}</ng-template>
                                                                </kendo-chart-series-item-tooltip>
                                                                <kendo-chart-series-item-labels color="#dc3545">
                                                                </kendo-chart-series-item-labels>
                                                            </kendo-chart-series-item>
                                                            <kendo-chart-series-item type="column" [gap]="1.8" [spacing]="0.2" [data]="ReportLumpSumQuarter">
                                                                <kendo-chart-series-item-tooltip>
                                                                    <ng-template let-value="value">LUMP_SUM: {{value}}</ng-template>
                                                                </kendo-chart-series-item-tooltip>
                                                                <kendo-chart-series-item-labels color="#6691d2">
                                                                </kendo-chart-series-item-labels>
                                                            </kendo-chart-series-item>
                                                        </kendo-chart-series>
                                                        <kendo-chart-tooltip></kendo-chart-tooltip>
                                                    </kendo-chart>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rpt-row">
                                <div class="col-md-6">
                                    <div class="box box">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Top customers by deal count</h3>
                                        </div>
                                        <div class="box-body">
                                            <div class="table-responsive">
                                                <table class="table no-margin ReportAuditLog tableHeader tableHeaderReporting">
                                                    <thead>
                                                        <tr>
                                                            <th>Customer Name</th>
                                                            <th>Deal Count</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let x of ReportCustomerReport">
                                                            <td>{{x.CUSTOMER_NAME}}</td>
                                                            <td>{{x.DEAL_COUNT}}</td>
                                                        </tr>
                                                        <tr class="border-top-customer">
                                                            <td>
                                                                <b>Grand Total</b>
                                                            </td>
                                                            <td>
                                                                <b>{{customerGrandTotal}}</b>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="box box">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Top 10 Products</h3>
                                        </div>
                                        <div class="box-body">
                                            <div class="table-responsive">
                                                <table class="table no-margin ReportAuditLog tableHeader tableHeaderReporting">
                                                    <thead>
                                                        <tr>
                                                            <th>Product Name</th>
                                                            <th>Count</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let x of ReportProducts">
                                                            <td>{{x.PRODUCT}}</td>
                                                            <td>{{x.DEAL_COUNT}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <aside class="control-sidebar control-sidebar-dark">
                        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                            <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a>
                            </li>
                            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i
                                        class="fa fa-gears"></i></a></li>
                        </ul>
                    </aside>
                    <div class="control-sidebar-bg"></div>
                </div>
            </div>
        </div>
    </div>
</div>