    /*a, button {
        outline: none;
    }*/

    /** {
        position: relative;
    }*/

    .valid_0 {
        background-color: #eeeeee;
    }
    .valid_1 {
        background-color: #C4D600;
    }
    .valid_NA {
        background-color: #C4D600;
    }
    .valid_Pass {
        background-color: #C4D600;
    }
    .valid_Fail {
        background-color: #C4D600;
    }
    .valid_InComplete {
        background-color: #C4D600;
    }

    i.cn-close-panel {
        cursor: pointer;
        color: #00AEEF !important;
        font-size: 16px !important;
    }
    i.cn-close-panel:hover {
        color: #0071C5 !important;
    }


.cn-close {
    position: absolute;
    top: calc(100% - 88px);
    left: calc(50% - 100px);
    z-index: 10;
    color: #FC4C02;
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-size: 11px;
    border-radius: 50%;
    background-color: #ffffff;
    -webkit-transform: scale(0.01);
    -ms-transform: scale(0.01);
    -moz-transform: scale(0.01);
    transform: scale(0.01);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.cn-close i:hover {
    color: red;
}
.cn-close i {
    font-size: 24px;
}

.cn-info {
    position: absolute;
    top: calc(100% - 60px);
    left: calc(50% - 62px);
    z-index: 10;
    color: #000000;
    width: 100px;
    height: 100px;
    font-size: 11px;
    -webkit-transform: scale(0.01);
    -ms-transform: scale(0.01);
    -moz-transform: scale(0.01);
    transform: scale(0.01);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    clip-path: ellipse(50px 50px at 50px 50px);
}


.cn-info .cn-info-help {
    padding-top: 7px; 
    background-color: #ffffff;
    width: 100px;
    height: 100px;
}
.cn-info .loading-div {
    position: relative;
    text-align: center;
    width: 100px;
    height: 100px;
}
.cn-info .deal {
    position: relative;
    font-size: 10px;
    top: 3px;
    text-align: center;  
    overflow: hidden;
    height: 14px;
    white-space: nowrap; 
    text-overflow: ellipsis;
}
.cn-info .deal.deal-num {
    left: 13px;
    width: 75px;
    font-size: 18px;
    line-height: .9em;
    top: 14px;
}
.cn-info .deal.deal-num a {
    color: #FFA300;
}
.cn-info .deal.deal-type {
    left: 10px;
    width: 80px;
}
.cn-info .deal.deal-icons {
    font-size: 14px;
    height: 20px;
    left: 4px;
    top: 18px;
    width: 94px;
    border-top: 1px solid #b1babf;
    padding: 0;
}
.cn-info .deal.deal-dates {
    font-size: 9px;
    left: 5px;
    top: 22px;
    width: 93px;
    border-top: 1px solid #b1babf;
}
.cn-info .deal.deal-icons div {
    margin: 0;
    display: inline-block; 
    width: 16px;
}


.cn-panel {
    position: absolute;
    top: calc(100% - 90px);
    left: 91px;
    z-index: 10;
    background-color: #ffffff;
    color: #000000;
    width: 1px;
    height: 160px;
    font-size: 11px;
    border: 1px solid #b0b8be;
    -ms-border-radius: 8px;
    border-radius: 8px;
    -webkit-transform: scale(0.001);
    -ms-transform: scale(0.001);
    -moz-transform: scale(0.001);
    transform: scale(0.001);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .cn-panel a {
    text-decoration: none;
}
.cn-panel-large {
    height: 360px;
}
.cn-panel-open1 {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    width: 400px;
}
.cn-panel-open2 {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    width: 400px;
}
.cn-panel-open3 {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    width: 400px;
}
.cn-panel-open4 {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    width: 400px;
}
.cn-panel-open5 {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    width: 400px;
}
.cn-panel-open6 {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    width: 400px;
}
.cn-panel-open7 {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    width: 400px;
}
.cn-panel-open8 {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    width: 400px;
}
.cn-panel .header {
    background-color: #efefef;
    padding: 1px 4px;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #b0b8be;
    text-transform: uppercase;
    font-size: 10px;
    color: #0071C5;
}
.cn-panel .header i {
    color: #aaaaaa;
    margin-right: 4px;
    margin-left: 2px;
}
.cn-panel .body {
    padding: 5px 0 5px 5px;
    overflow: auto;
    height: 142px;
    width: 100%;
}
.cn-panel .body-no-pad {
    padding: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.cn-button {
    position: relative;
    cursor: pointer;
    z-index: 10;
    color: #00AEEF;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
}
.cn-button:hover,
.cn-button:active,
.cn-button:focus {
    color: #0071C5;
}

.opened-nav {
  -webkit-transform: rotate(160deg) scale(1);
  -moz-transform: rotate(160deg) scale(1);
  -ms-transform: rotate(160deg) scale(1);
  transform: rotate(160deg) scale(1);
}

.csstransforms .rot1 {
  border-radius: 50%;
  pointer-events: auto;
  -webkit-transform: rotate(90deg) scale(1);
  -moz-transform: rotate(90deg) scale(1);
  -ms-transform: rotate(90deg) scale(1);
  transform: rotate(90deg) scale(1);
}
.csstransforms .rot2 {
  border-radius: 50%;
  pointer-events: auto;
  -webkit-transform: rotate(45deg) scale(1);
  -moz-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
}
.csstransforms .rot3 {
  border-radius: 50%;
  pointer-events: auto;
  -webkit-transform: rotate(0deg) scale(1);
  -moz-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
}
.csstransforms .rot4 {
  border-radius: 50%;
  pointer-events: auto;
  -webkit-transform: rotate(315deg) scale(1);
  -moz-transform: rotate(315deg) scale(1);
  -ms-transform: rotate(315deg) scale(1);
  transform: rotate(315deg) scale(1);
}
.csstransforms .rot5 {
  border-radius: 50%;
  pointer-events: auto;
  -webkit-transform: rotate(270deg) scale(1);
  -moz-transform: rotate(270deg) scale(1);
  -ms-transform: rotate(270deg) scale(1);
  transform: rotate(270deg) scale(1);
}
.csstransforms .rot6 {
  border-radius: 50%;
  pointer-events: auto;
  -webkit-transform: rotate(225deg) scale(1);
  -moz-transform: rotate(225deg) scale(1);
  -ms-transform: rotate(225deg) scale(1);
  transform: rotate(225deg) scale(1);
}
.csstransforms .rot7 {
  border-radius: 50%;
  pointer-events: auto;
  -webkit-transform: rotate(180deg) scale(1);
  -moz-transform: rotate(180deg) scale(1);
  -ms-transform: rotate(180deg) scale(1);
  transform: rotate(180deg) scale(1);
}
.csstransforms .rot8 {
  border-radius: 50%;
  pointer-events: auto;
  -webkit-transform: rotate(135deg) scale(1);
  -moz-transform: rotate(135deg) scale(1);
  -ms-transform: rotate(135deg) scale(1);
  transform: rotate(135deg) scale(1);
}

.csstransforms .cn-info-open {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.cn-wrapper {
    position: relative;
    font-size: 12px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    top: calc(100% - 89px);
    left: calc(50% - 92px);
    -webkit-transform: rotate(0) scale(0.001);
    -ms-transform: rotate(0) scale(0.001);
    -moz-transform: rotate(0) scale(0.001);
    transform: rotate(0) scale(0.001);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    clip-path: ellipse(80px 80px at 80px 80px);
}
.cn-wrapper-shadow {
    position: relative;
    font-size: 12px;
    width: 175px;
    height: 175px;
    overflow: hidden;
    position: absolute;
    z-index: 9;
    top: calc(100% - 89px);
    left: calc(50% - 92px);
    -webkit-transform: rotate(0) scale(0.001);
    -ms-transform: rotate(0) scale(0.001);
    -moz-transform: rotate(0) scale(0.001);
    transform: rotate(0) scale(0.001);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    background: radial-gradient(black 45%, transparent 65%);
}

.cn-wrapper li {
    position: absolute;
    z-index: 10;
    width: 80px;
    height: 80px;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    overflow: hidden;
    -webkit-transition: border .3s ease;
    -moz-transition: border .3s ease;
    transition: border .3s ease;
    text-align: center;
    clip-path: polygon(40px 80px, 7px 0, 74px 0);
    cursor: pointer;
}
.cn-wrapper li div {
    width: 100%;
    height:100%
}
.cn-wrapper li:not(.active):not(.disabled) div:hover {
    background-color: #0071C5;
    background-color: rgba(0, 113, 198, 1);
}
.cn-wrapper li i {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    padding-top: 6px;
    text-align: center;
}

.csstransforms .cn-wrapper li:first-child {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
.csstransforms .cn-wrapper li:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.csstransforms .cn-wrapper li:nth-child(3) {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}
.csstransforms .cn-wrapper li:nth-child(4) {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  transform: rotate(135deg);
}
.csstransforms .cn-wrapper li:nth-child(5) {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
.csstransforms .cn-wrapper li:nth-child(6) {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  transform: rotate(225deg);
}
.csstransforms .cn-wrapper li:nth-child(7) {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
}
.csstransforms .cn-wrapper li:nth-child(8) {
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  transform: rotate(315deg);
}

.csstransforms .cn-wrapper li:nth-child(odd)  {
    background-color: #00AEEF;
    background-color: rgba(0, 174, 239, 1);
}
.csstransforms .cn-wrapper li:nth-child(even)  {
    background-color: #00AEEF;
    background-color: rgba(0, 174, 239, .9);
}

/* active style */
.csstransforms .cn-wrapper li.active {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 1);
}
.csstransforms .cn-wrapper li.active i {
  color: #00AEEF;
}

/* disabled style */
.csstransforms .cn-wrapper li.disabled {
  background-color: #edeff0;
  cursor: default;
}
.csstransforms .cn-wrapper li.disabled i {
  color: #b1babf;
  cursor: default;
}

/* hover style */
.csstransforms .cn-wrapper li:not(.active) span:hover,
.csstransforms .cn-wrapper li:not(.active) span:active,
.csstransforms .cn-wrapper li:not(.active) span:focus {
  background-color: #0071C5;
  background-color: rgba(0, 113, 198, 1);
}





.micro-grid .k-grid-content table tr td {
    font-size: 10px;
    line-height: 1.1em;
}
.micro-grid .k-grid-content table tr th {
    font-family: arial;
    font-size: 9px;
    text-transform: uppercase;
}

.micro-grid .k-grid-header .k-header > .k-link {
    font-size: 11px;
}
.micro-grid .k-grid-header .k-header > .k-link .k-icon {
    font-size: 14px;
    margin-left: 4px;
}
.micro-grid .k-grid-header th.k-header {
    padding: 3px 6px 0 6px;
    background-color: #e5e5e5;
    color: #585656;
}
.micro-grid .k-grid-header th.k-header a {
    color: #585656;    
    text-transform: uppercase;
    font-weight: 700;
}
.micro-grid.k-grid td {
    padding: 2px 6px;
    height: 10px;
}

.micro-grid.k-grid .k-grid-content.k-auto-scrollable {
    border-radius: 0 0 8px 8px;
}



.prop-grid {
    height: 118px; 
    border: 0 solid transparent; 
    border-radius: 0 0 8px 8px;
}
.prop-grid-large {
    height: 318px; 
}



.no-border {
    border: 0 solid transparent;
    margin-left: 2px;
    margin-bottom: 2px;
    outline: none;
}
.round-border-search {
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    outline: none;
    padding: 0 4px;
    width: 325px;
    margin-left: 5px;
    margin-top: 2px;
}

.cn-title {
    max-width: 113px;
    height: 25px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    line-height: 1em;
    color: #00AEEF;
    cursor: pointer;
}
.cn-divider {
    padding: 7px 6px 0 6px;
    color: #FFA300;
}
.cn-desc {
    font-size: 9px;
    color: #aaaaaa;
    text-transform: uppercase;
    line-height: 0.7em;
    margin-top: 2px;
}
.cn-desc-black {
    font-size: 9px;
    color: #000000;
    line-height: 0.7em;
    margin-top: 3px;
}
.cn-desc-bold {
    font-size: 9px;
    color: #999999;
    text-transform: uppercase;
    line-height: 0.9em;
}
.cn-info-container {
    margin-top: 5px; 
    margin-right: 5px; 
    width: 120px;
}
.cn-deal-title {
    font-size: 22px;
    margin-top: 5px;
    line-height: 1em;
}
.cn-hr {
    margin-top: 3px;
    margin-bottom: 0;
    border-top: 1px solid #b0b8be;
}
.cn-max-width {
    width: 250px;
    height: 17px;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
}
.cn-val {
    color: #000000;
    height: 17px;
}

.org {
    color: #FFA300;
}

.cn-wait-spin {
    font-size: 20px;
}



.lds-ripple {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #f3D54E;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 50px;
    left: 50px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}

.help-tip {
    text-align: center;
    width: 90px;
    margin: 20px 5px 5px 5px;
    line-height: 1em;
}
.help-tip i {
    font-size: 36px;
    color: #FFA300;
}
