@model HandleErrorInfo
@{
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}

<div class="noaccess-header">
    <img src="/images/intel-logo-white-100.png" id="intelLogo" />
    <span class="main-logo-title">Deal Management Suite</span>
    <i class="fr intelicon-help-solid" style="color: #ffffff; font-size: 30px; margin-top: 5px;"></i>
    
</div>

<div class="container-fluid">
    <div class="row">
        <h1>It appears you do not have access to an app in the My Deals Suite...</h1>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="info-container">
                <h3>Main User Rules</h3>
                <div class="info-box-container">

                    <div class="role-title">
                        FSE - Field Sales Engineer
                    </div>
                    <div class="role-desc">
                        Put some description of the role in here.
                    </div>

                    <div class="role-title">
                        GA - Geo Approver
                    </div>
                    <div class="role-desc">
                        Put some description of the role in here.
                    </div>

                    <div class="role-title">
                        DA - Division Approver
                    </div>
                    <div class="role-desc">
                        Put some description of the role in here.
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="info-container">
                <h3>Support Roles</h3>
                <div class="info-box-container">

                    <div class="role-title">
                        RA - Rebate Analyst
                    </div>
                    <div class="role-desc">
                        Put some description of the role in here.
                    </div>

                    <div class="role-title">
                        Legal - Legal Representative
                    </div>
                    <div class="role-desc">
                        Put some description of the role in here.
                    </div>

                    <div class="role-title">
                        Finance - Finance Support
                    </div>
                    <div class="role-desc">
                        Put some description of the role in here.
                    </div>

                    <div class="role-title">
                        SA - System Administrator
                    </div>
                    <div class="role-desc">
                        Put some description of the role in here.
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2>To gain access please visit <a href="https://ags.intel.com">AGS</a> and select one of the described roles above.</h2>
    </div>
</div>


<style>
    body {
        height: 100%;
        background-color: #FFFFFF;
        color: #000000;
        font-family: "Intel Clear", "Arial";
        font-size: 16px;
    }

    #intelLogo {
        width: 50px;
        height: 33px;   
    }
    .main-logo-title {
        margin-left: 8px;
    }

    .lnk {
        font-weight: normal;
        font-weight: 200;
    }
    .lnk a {
        color: #00AEEF;
    }

    .noaccess-header {
        background-color: #0071C5;
        color: #ffffff;
        height: 70px;
        width: 100%;
        padding: 15px;
    }

    .info-container {
        text-align: center;
    }

    .info-box-container {
        border: 1px solid #d7d7d7;
        border-radius: 6px;
        padding: 30px;
        margin: 10px 50px;
        text-align: left;
    }

    h1 {
        font-family: "Intel Clear", "Arial";
        font-size: 30px;
        font-weight: bold;
        font-weight: 700;
        font-style: normal;
        margin: 40px 10px 20px 10px;
        text-align: center;
    }

    h2 {
        font-family: "Intel Clear", "Arial";
        font-size: 20px;
        font-weight: bold;
        font-weight: 700;
        font-style: normal;
        margin: 40px 10px 20px 10px;
        text-align: center;
    }

    h3 {
        font-family: "Intel Clear", "Arial";
        font-size: 20px;
        font-weight: bold;
        font-weight: 700;
        font-style: normal;
        text-align: center;
        color: #0071C5;
    }

    .role-title {
        font-family: "Intel Clear", "Arial";
        font-size: 14px;
        font-weight: bold;
        font-weight: 600;
        color: #000000;
    }

    .role-desc {
        font-family: "Intel Clear", "Arial";
        font-size: 12px;
        font-weight: normal;
        font-weight: 200;
        font-style: normal;
        color: #000000;
        margin: 10px 10px 20px 20px;
    }
</style>
