
﻿.k-header-alignment.header-fix {
    padding-top: 50px;
    padding-left: 14px !important;
    padding-bottom: 10px
}

.kendo-grid-buttons.table-l-r {
    padding-left: 14px !important;
    padding-right: 5px !important;
    padding-top: 0 !important
}

.k-grid.size-height-inc {
    height: calc(100vh - 200px) !important
}