<div class="modal fade modalpad" id="editTermsModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Additional Discount Requirements</h4>
            </div>
            <div class="modal-body" style="background-color: #f5f5f5;">

                <textarea data-role="editor"
                            data-bind="value: curSection.terms"
                          data-tools='[
                                "bold",
                                "italic",
                                "underline",
                                "strikethrough",
                                "justifyLeft",
                                "justifyCenter",
                                "justifyRight",
                                "justifyFull",
                                "insertUnorderedList",
                                "insertOrderedList",
                                "indent",
                                "outdent",
                                "subscript",
                                "superscript",
                                "formatting",
                                "cleanFormatting",
                                { name: "insertLineBreak", shift: false }, 
                                { name: "insertParagraph", shift: true } 
                            ]'
                            style="height: 300px; font-size: 11px; font-family: arial;"></textarea>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>


