<div class="opUiContainer {{opClass}}" style="{{opStyle}}" ng-class="{isHidden: opIsHidden, isErrorWrapper: opIsError, isSavedWrapper: opIsSaved, isDirtyWrapper: opIsDirty}">
    <div class="opUiLabel buttonGroupLabel" style="width:100%" ng-class="{isRequired: opIsRequired}">
        <span>
            {{opLabel}} 
            <span class="geo-desc" ng-show="hasMultipleGeos()">** This will create a deal for each geo in the same line unless you select to blend. For Hybrid it is not allowed without BLEND. </span>
        </span>
        <span style="float:right" ng-if="opExtra">
            <input ng-model="blend.blended" ng-change="updateBlend()" type="checkbox" /> Blend Geos
        </span>
    </div>

    <div class="clearboth"></div>
    <div style="overflow: hidden;">
        <div ng-repeat="item in values" class="fl" ng-style="getWidth(values.length)">
            <div class="buttongroup">

                <label class="buttongroupControl">
                    <button name="{{item[opLookupValue]}}"
                          class="buttongroup-btn buttongroup-btn-first "
                          ng-disabled="isUIDisable(item[opLookupValue],opLabel)"
                          ng-if="$first"
                          ng-click="setValue(item[opLookupText])"
                          ng-class="{isSelected:isSelected(item[opLookupValue]), isHidden: opIsHidden, isReadOnly: opIsReadOnly, isError: opIsError, isSaved: opIsSaved, isDirty: opIsDirty,'flowBtn inactive disabled':isUIDisable(item[opLookupValue],opLabel)}">
                        {{item[opLookupText]}}
                    </button>

                    <button name="{{item[opLookupValue]}}"
                          class="buttongroup-btn "
                          ng-disabled="isUIDisable(item[opLookupValue],opLabel)"
                          ng-if="$middle"
                          ng-click="setValue(item[opLookupText])"
                          ng-class="{isSelected:isSelected(item[opLookupValue]), isHidden: opIsHidden, isReadOnly: opIsReadOnly, isError: opIsError, isSaved: opIsSaved, isDirty: opIsDirty,'flowBtn inactive disabled':isUIDisable(item[opLookupValue],opLabel)}">
                        {{item[opLookupText]}}
                    </button>

                    <button name="{{item[opLookupValue]}}"
                          class="buttongroup-btn  buttongroup-btn-last "
                          ng-disabled="isUIDisable(item[opLookupValue],opLabel)"
                          ng-if="$last"
                          ng-click="setValue(item[opLookupText])"
                          ng-class="{isSelected:isSelected(item[opLookupValue]), isHidden: opIsHidden, isReadOnly: opIsReadOnly, isError: opIsError, isSaved: opIsSaved, isDirty: opIsDirty,'flowBtn inactive disabled':isUIDisable(item[opLookupValue],opLabel)}">
                        {{item[opLookupText]}}
                        <span class="button-group-tooltip" ng-if="item[opLookupText]=='All' && opLabel=='Media'">
                            (includes NA)   <!--note: this is as band-aid as it gets - if we rename "Media" or "All" OR if we move "All" out of the last position, we will no longer see this tip-->
                        </span>
                    </button>
                </label>

            </div>

        </div>
        <div class="clearboth"></div>
    </div>
    <div class="clearboth"></div>

</div>

