<div class="opUiContainer {{opClass}}" style="{{opStyle}}" ng-class="{isHidden: opIsHidden, isErrorWrapper: opIsError, isSavedWrapper: opIsSaved, isDirtyWrapper: opIsDirty}" class="">
    <div class="fl opUiLabel" ng-class="{isRequired: opIsRequired}">{{opLabel}}</div>
    <div kendo-tooltip k-content="helptipMsg" k-position="'top'" ng-show="opHelpMsg" class="fr opElementHelpIcon intelicon-information-outlined"></div>
    <div class="clearboth"></div>
    <div kendo-tooltip k-content="tooltipMsg" k-position="'top'" ng-show="opIsError" class="err-bit-el"></div>
    <input type="text" class="k-textbox fl opUiElement" style="width: 100%;"
           maxlength="{{opMaxValue}}"
           ng-model="value"
           ng-model-options= "{ debounce: 1000 }"
           ng-readonly="opIsReadOnly"
           ng-class="{isHidden: opIsHidden, isReadOnly: opIsReadOnly, isError: opIsError, isSaved: opIsSaved, isDirty: opIsDirty}"/>
    <div class="clearboth"></div>
    <div ng-if="opIsError && opIsForm" class="err-Control">{{opValidMsg}}</div>
</div>
