<div class="opUiContainer {{opClass}}" style="{{opStyle}}; width:100%" ng-class="{isHidden: opIsHidden, isErrorWrapper: opIsError, isSavedWrapper: opIsSaved, isDirtyWrapper: opIsDirty}">
    <div class="fl opUiLabel" ng-class="{isRequired: opIsRequired}">{{opLabel}}</div>
    <div kendo-tooltip k-content="helptipMsg" k-position="'top'" ng-show="opHelpMsg" class="fr opElementHelpIcon intelicon-information-outlined"></div>
    <div class="clearboth"></div>
    <div kendo-tooltip k-content="tooltipMsg" k-position="'top'" ng-show="opIsError" class="err-bit-el"></div>

    <div class="k-content" style="position:relative; width:100%">
        <div ng-click="onEmbeddedMultiSelectClick()">
            <select id="{{opCd + '_MS'}}"
                    kendo-multi-select 
                    class="fl opUiElement"
                    k-ng-model="value"
                    k-data-source="values"
                    k-data-text-field="opLookupText"
                    k-data-value-field="opLookupValue"
                    k-value-primitive="true"
                    k-clear-button="false"
                    k-height="0"
                    k-auto-close="false"
                    k-open="onOpen"
                    k-deselect="onDeselect"
                    k-data-bound="onMSDataBound"
					k-placeholder="opPlaceholder"
                    k-ng-readonly="false"
                    style="width: 100%;"
                    ng-class="{isHidden: opIsHidden, isReadOnlyFaux: true, isError: opIsError, isSaved: opIsSaved, isDirty: opIsDirty}">
            </select>
        </div>

        <div class="msPopup opUiElement opUiTreeView" ng-show="showTreeView" ng-blur="onClose">
            <div style="overflow: hidden;">
                <div id="{{opCd}}"
                     kendo-tree-view
                     class="fl opUiElement"
                     k-options="opHierarchicalDataSource"
                     k-data-text-field="opLookupText"
                     k-checkboxes="{checkChildren: true}"
                     k-selectable="'multiple'"
                     k-on-check="onCheckFunction()"
                     k-on-select="onSelectFunction()"
                     k-data-bound="onTVDataBound"
                     k-load-on-demand="false"
                     ng-class="{isHidden: opIsHidden, isReadOnly: opIsReadOnly, isError: opIsError}"
                     style="overflow: auto; width: 100%; height: 225px;">
                </div>
            </div>
            <div ng-click="onClose()" class="msClsBtn">OK</div>
        </div>
    </div>

    <div class="clearboth"></div>
    <div ng-if="opIsError && opIsForm" class="err-Control">{{opValidMsg}}</div>
</div>
