<div class="opUiContainer {{opClass}}" style="{{opStyle}}" ng-class="{isHidden: opIsHidden, isErrorWrapper: opIsError, isSavedWrapper: opIsSaved, isDirtyWrapper: opIsDirty}">
    <div class="fl opUiLabel" ng-class="{isRequired: opIsRequired}">{{opLabel}}</div>
    <div kendo-tooltip k-content="helptipMsg" k-position="'top'" ng-show="opHelpMsg" class="fr opElementHelpIcon intelicon-information-outlined"></div>
    <div class="clearboth"></div>
    <div kendo-tooltip k-content="tooltipMsg" k-position="'top'" ng-show="opIsError" class="err-bit-el"></div>

    <div class="k-content" style="position: relative">
        <div ng-click="onEmbeddedMultiSelectClick()">
            <select id="{{opCd + '_MS'}}"
                    kendo-multi-select 
                    class="fl opUiElement"
                    k-ng-model="value"
                    k-data-source="values"
                    k-data-text-field="opLookupText"
                    k-data-value-field="opLookupValue"
                    k-value-primitive="true"
                    k-clear-button="false"
                    k-height="0"
                    k-auto-close="false"
                    k-open="onOpen"
                    k-deselect="onDeselect"
                    k-data-bound="onMSDataBound"
					k-placeholder="opPlaceholder"
                    k-ng-readonly="false"
                    style="width: 100%;"
                    ng-class="{isHidden: opIsHidden, isReadOnlyFaux: true, isError: opIsError, isSaved: opIsSaved, isDirty: opIsDirty}">
            </select>
        </div>

        <div class="msPopup opUiElement opUiTreeView" ng-show="showTreeView" ng-blur="onClose">
            <div style="height: 170px; overflow: hidden;">
                <div id="{{opCd}}"
                     kendo-tree-view
                     class="fl opUiElement"
                     k-options="opHierarchicalDataSource"
                     k-data-text-field="opLookupText"
                     k-checkboxes="{checkChildren: true}"
                     k-selectable="'multiple'"
                     k-on-check="onCheckFunction()"
                     k-on-select="onSelectFunction()"
                     k-data-bound="onTVDataBound"
                     k-load-on-demand="false"
                     ng-class="{isHidden: opIsHidden, isReadOnly: opIsReadOnly, isError: opIsError}"
                     style="overflow: auto; width: 100%; height: 200px;">
                </div>
            </div>
            <div ng-click="onClose()" class="msClsBtn">OK</div>
        </div>
    </div>

    <div class="clearboth"></div>
    <div ng-if="opIsError && opIsForm" class="err-Control">{{opValidMsg}}</div>
</div>

<style>
     .msPopup {
         margin-bottom: 0 !important;
         position: absolute;
         top: 0;
         width: 220px;
         max-height: 200px;
         max-width: 280px;
         margin-top:36px;
         font-size: 12px;
         border: 1px solid #cccccc;
         box-shadow: 2px 2px 4px #000000;
         overflow: hidden;
         z-index: 1000;
     }

    .msClsBtn {
        background-color: #00AEEF;
        color: #ffffff;
        cursor: pointer;
        font-size: 14px;
        padding: 4px;
        text-transform: uppercase;
        text-align: center;
        height: 28px;
    }

    .msClsBtn:hover {
        background-color: #0071C5;
    }
</style>
