<div class="opUiContainer {{opClass}}" style="{{opStyle}}" ng-class="{isHidden: opIsHidden, isErrorWrapper: opIsError, isSavedWrapper: opIsSaved, isDirtyWrapper: opIsDirty}">
    <div class="fl opUiLabel" ng-class="{isRequired: opIsRequired}">{{opLabel}}</div>
    <div kendo-tooltip k-content="helptipMsg" k-position="'top'" ng-show="opHelpMsg" class="fr opElementHelpIcon intelicon-information-outlined"></div>
    <div class="clearboth"></div>
    <div kendo-tooltip k-content="tooltipMsg" k-position="'top'" ng-show="opIsError" class="err-bit-el"></div>

    <div class="k-content">
        <div ng-click="onEmbeddedMultiSelectClick()">
            <select id="{{opCd + '_MS'}}"
                    kendo-multi-select 
                    class="fl opUiElement"
                    k-ng-model="value"
                    k-data-source="values"
                    k-data-text-field="opLookupText"
                    k-data-value-field="opLookupValue"
                    k-value-primitive="true"
                    k-auto-close="false"
					k-placeholder="opPlaceholder"
                    k-ng-readonly="false"
                    style="width: 100%;"
                    ng-class="{isHidden: opIsHidden, isReadOnlyFaux: true, isError: opIsError, isSaved: opIsSaved, isDirty: opIsDirty}">
            </select>
        </div>

        <div class="msPopup opUiElement opUiTreeView" ng-show="showTreeView">
            <div ng-click="onEmbeddedMultiSelectClick()" class="msClsBtn"><i class="intelicon-up"></i></div>
            <div id="{{opCd}}"
                 kendo-tree-view
                 class="fl opUiElement"
                 k-options="opHierarchicalDataSource"
                 k-data-text-field="opLookupText"
                 k-checkboxes="{checkChildren: true}"
                 k-selectable="'multiple'"
                 k-on-check="onCheckFunction()"
                 k-on-select="onSelectFunction()"
                 ng-class="{isHidden: opIsHidden, isReadOnly: opIsReadOnly, isError: opIsError}"
                 style="overflow: hidden;">
            </div>
        </div>
    </div>

    <div class="clearboth"></div>
    <div ng-if="opIsError && opIsForm" class="err-Control">{{opValidMsg}}</div>
</div>

<style>
     .msPopup {
         margin-bottom: 0 !important;
         position: absolute;
         width: 220px;
         max-height: 200px;
         max-width: 280px;
         margin-top: 36px;
         font-size: 12px;
         border: 1px solid #cccccc;
         box-shadow: 2px 2px 4px #000000;
         overflow: auto;
         z-index: 1000;
     }

    .msClsBtn {
        text-align: right; 
        margin-right: 5px; 
        margin-top: -3px; 
        color: #cccccc;
        cursor: pointer;
        font-size: 20px;
        float: right;
    }

    .msClsBtn:hover {
        color: #ED1C24;
    }
</style>
