.there-modal-body, .there-modal-header {
    background-color: #ffffff !important;
    color: #000000 !important;
}

.differ-artho-excel {
    line-height: 1.2em;
    font-size: 12px;
    float: right;
}

.differ-artho-excel span {
    text-align: left;
}

/*.dropdown-all-custom {
    left: 160px;
}*/

.dd-btn-app {
    width: 220px;
}

.deal-pmc-custom mat-dialog-container {
    padding: 0 !important;
}

/*.there-modal-body {
    padding: 20px !important;
}

.there-modal-header {
    border-bottom: 1px solid #fff !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}*/

.arrow-parent {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    width: 100% !important;
    position: relative !important;
}
.dealpopupstyle {
    font-size: 20px !important;
    margin-left: -20px !important;
    line-height: 1.5 !important;
    font-family: 'Intel Clear' !important;
    font-weight: 500 !important;
    color: #ffffff !important;
    margin-top: 0px !important
}
/*.there-modal-header {
    padding: 20px !important;
    border-bottom: 1px solid #e5e5e59c !important;
    min-height: 16.5px !important;
}*/
.deals-popup-style mat-dialog-container {
    box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%) !important;
    background: #fff !important;
    padding: 15px !important;
    border-radius: 0px !important;
}
.dealproductgrid.op-grid.k-grid {
    width: 100% !important;
    border-left: 0 solid transparent !important;
    border-right: 0 solid transparent !important;
    border-bottom: 0 solid transparent !important;
    border-right: 1px solid #e6e6e6 !important;
    border-left: 1px solid #e6e6e6 !important;
    height: 300px !important;
    border-bottom: #3343a4 !important;
    margin-bottom: 0px !important;
}
button.excelText.differ-artho-excel.iconsize.k-button-icontext.k-button.k-grid-excel {
    font-size: 12px !important;
    font-family: 'Intel Clear' !important;
    border: transparent !important;
    box-shadow: none !important
}
.dropdown-all-custom .dropdown-menu > li > a:hover {
    background: #a39e9e42 !important
}
.dealproductgrid.opUiContainer.md .k-icon {
    font-size: 24px !important;
}
.style-icon-btn.k-button {
    color: #fff !important;
    background-color: #0071c5 !important;
    border-color: #0071c5 !important;
    box-shadow: none !important;
    font-size: 12px !important;
    font-family: 'Intel Clear' !important
}
.style-icon-btn.k-button:hover {
    background-color: #37a4cd7a !important 
}
.deal-excel-style.modal-header {
    padding: 1rem 1rem !important;
    border-bottom: 1px solid #dee2e6 !important;
    background-color: #003C71 !important;
}
.deal-excel-body-style.modal-body {
    position: relative !important;
    padding: 10px !important;
    background-color: #003C71 !important;
}


