 .tblCache th {
     padding: 2px 5px;
     font-size: 11px
 }
 .tblCache td {
     padding: 2px 5px;
     font-size: 11px
 }
 h2 {
     margin-top: 30px;
     margin-bottom: 0
 }
 a:hover {
     color: #003C71 !important;
     text-decoration: underline !important
 }
 a {
     color: #0071c5 !important
 }
 #cacheList {
     -ms-border-radius: 4px;
     border-radius: 4px;
     border: 1px solid #666666;
     background-color: #ffffff;
     padding: 8px;
     overflow: auto
 }
 #cacheContainer {
     margin-top: 10px
 }
 #cacheList h5 {
     margin-top: 0
 }
 #refreshAllLog {
     margin-left: 10px;
     background-color: #00aeef;
     border-color: #00aeef;
     color: #fff
 }
 #refreshAllLog:hover {
     color: #fff;
     border-color: #0071c5;
     background-color: #0071c5;
     margin-left: 10px
 }
 #LogContainer {
    float: left;
    width: 100%;
    height: 100%;
}

#tblLogList {
    border-radius: 4px;
    border: 1px solid #666666;
    background-color: #ffffff;
    padding: 8px;
    overflow: auto;
    float: left;
}

#LogResult {
    border-radius: 4px;
    border: 1px solid #666666;
    background-color: #ffffff;
    padding: 8px;
    overflow: auto;
    float: right;
}

.tblLog td {
    padding: 2px 5px;
    font-size: 11px;
}

#logViewResult {
    font-size: 12px;
}

.margin10 {
    margin-top: 10px;
}

.fr-method {
    margin-top: 10px !important;
}

.flex-arrive {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: auto;
}

.append-h5 {
    font-size: 16px !important;
    color: #111 !important;
    font-weight: 400 !important;
}
button.fix_ok.k-button {
    color: #444 !important;
    background-color: #dbdbdb !important;
    height: 60px !important;
}
button.fix_ok.k-button:hover {
    background-color: #dcd8d880 !important;
}
.padding_ok.k-dialog-buttongroup {
   border-color: #dee2e6 !important;
   padding: 0px !important;
}
