<link href="/Client/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="/Client/node_modules/@progress/kendo-theme-bootstrap/dist/all.css" rel="stylesheet" />
<link href="/Client/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet" />
<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />
<kendo-dialog class="widget-settings-proper" (close)="cancelWidgetSetting()" [width]="600">
    <div class="modal-header">
        <h5 class="fl widget-heading">Widget Settings</h5>
        <button type="button" class="close fr close_btn_fix" (click)="cancelWidgetSetting()" aria-hidden="true">×</button>
    </div>
    <div class="modal-body" style="height:80px">
        <div><label class="control-label col-lg-3 col-md-3 Name_text">Name</label>
            <div class="col-lg-9 col-md-9"><input name="name" type="text" (keydown)="onKeyDown($event)" [(ngModel)]="data.renameItem" class="form-control inp_border_fix " style="box-shadow: none; width: 400px; margin-top: 6px; border-radius: 0px;"/></div>
            <div class="clearboth"></div>
        </div>
    </div>
    <div class="modal-footer">
        <kendo-dialog-actions style="border: hidden; padding: 0px"><button class='btn btn-default remove_btw_s' (click)="cancelWidgetSetting()"><i
                    class="glyphicon glyphicon-remove" style="padding-right:5px"></i>Cancel</button><button
                [disabled]="data.renameItem.trim().length==0" class='btn btn-primary save_btn_dis' type="submit"
                [mat-dialog-close]="data.renameItem"><i class="glyphicon glyphicon-ok" style="padding-right:5px"></i>Save </button>
        </kendo-dialog-actions>
    </div>
</kendo-dialog>