.ano-icon-fix {
    font-size: 12px !important
}

.header-position-fix {
    padding-top: 50px;
    padding-left: 14px !important
}

.kendo-grid-buttons.table-fix-lf {
    padding-left: 14px !important;
    padding-right: 5px !important;
    padding-top: 0 !important
}

.bottom-sremove {
    margin-bottom: -.1rem !important
}