.ano-icon-fix {
    font-size: 12px !important
}

.k-grid.KendoDQInfo {
    height: calc(100vh - 180px) !important;
    margin-right: 10px;
}

.kendo-grid-buttons.table-fix-lf {
    padding-left: 14px !important;
    padding-right: 5px !important;
    padding-top: 0 !important
}

.bottom-sremove {
    margin-bottom: -.1rem !important
}