.ano-icon-fix {
    font-size: 12px !important
}

.k-family {
    font-family: 'intelicon' !important;
    font-size: 25px
}

.header-position-fix {
    padding-top: 50px;
    padding-left: 14px !important
}

.table-fix-lf {
    padding-left: 14px !important;
    padding-right: 5px !important;
    padding-top: 0 !important
}

.bottom-sremove {
    margin-bottom: -.1rem !important
}