﻿﻿<link href="/Client/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="/Client/node_modules/@progress/kendo-theme-bootstrap/dist/all.css" rel="stylesheet" />
<link href="/Client/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet" />
<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12 k-header-alignment">
        <h3>Data Quality</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12 kendo-grid-buttons">
        <kendo-grid [data]="gridData" [loading]="isLoading" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort"
                    [filter]="state.filter" [sortable]="true" [pageable]="{type:type,pageSizes: pageSizes,info:info}"
                    [groupable]="false" [group]="state.group" filterable="menu"
                    [navigable]="true" (dataStateChange)="dataStateChange($event)">

            <ng-template kendoGridToolbarTemplate>
                <button (click)="clearFilter()" class="k-button clearButton">
                    <span class="k-icon  k-i-filter-clear k-icon-md"></span>
                    CLEAR FILTERS
                </button>
                <kendo-grid-spacer></kendo-grid-spacer>
                <button (click)="refreshGrid()" class="k-button clearButton">
                    <span class="k-icon k-i-reload k-icon-md"></span>
                    Refresh
                </button>
            </ng-template>

            <kendo-grid-command-column width="75" [headerClass]="{'headerClass':true}">
                <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                    <div class="text-center" kendoTooltip>
                        <button id="command-icon" class="k-command-icon">
                            <span class="k-icon k-i-play k-icon-sm" title="Run DQ" (click)="runDQ(dataItem.DQ_USE_CASE_CD)"></span>
                        </button>
                    </div>
                </ng-template>
            </kendo-grid-command-column>

            <kendo-grid-column [headerClass]="{'headerClass':true}" field="DQ_USE_CASE_CD" title="Use Case">
            </kendo-grid-column>

            <kendo-grid-column [headerClass]="{'headerClass':true}" field="DQ_USE_CASE_DSC" title="Description">
            </kendo-grid-column>

        </kendo-grid>

    </div>
</div>
