<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />
<div  [formGroup]="supportScriptDataForm">
    <div style="margin-top: 25px;">
        <h2 class="col-md-12">Missing COST filler</h2>
        <p style="margin-left: 15px;">Use the tool below to fill or extend COST gaps in the tool</p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2 dateRangeLabelSupportScript">
                Select Start Year Quarter:
            </div>
            <div class="col-md-2">
               
                <kendo-slider [min]="1" [max]="4" [smallStep]="1" [largeStep]="1" [showButtons]="true"
                              [vertical]="false" name="START_QTR" formControlName="START_QTR"
                              class="sliderwidth"></kendo-slider>
            </div>
            <div class="col-md-2">

                <kendo-numerictextbox [min]="supportScriptDataForm.get('MinYear').value" 
                                      [max]="supportScriptDataForm.get('MaxYear').value" [autoCorrect]="false" format="#" formControlName="START_YR"
                                      name="START_YR" (change)="startYearChange()" class="dateboxborder font-input" required>
                </kendo-numerictextbox>
                
                <kendo-formerror class="col-md-10 p-0">
                    {{ titleErrorMsg}}
                </kendo-formerror>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2 dateRangeLabelSupportScript">
                Select END Year Quarter:
            </div>
            <div class="col-md-2">
               
                <kendo-slider [min]="1" [max]="4" [smallStep]="1" [largeStep]="1" [showButtons]="true"
                              [vertical]="false" [disabled]="NO_END_DT" name="END_QTR" formControlName="END_QTR"
                              class="sliderwidth"></kendo-slider>
            </div>
            <div class="col-md-2">
              
                <kendo-numerictextbox [min]="supportScriptDataForm.get('MinYear').value"
                                       [max]="supportScriptDataForm.get('MaxYear').value" [autoCorrect]="false" format="#" formControlName="END_YR"
                                      (change) ="endYearChange()" name="END_YR"  class="dateboxborder font-input" required></kendo-numerictextbox>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2 font-weight-bold dateRangeLabelSupportScript">
                Enter Level4 Product Id(s):
            </div>
            <div class="col-md-5">
                <kendo-textarea style="width: 100%; padding-right: 0px; box-shadow: none; border-color: #e7e7e7;" resizable="vertical"
                                [rows]="4" name="NOTES" formControlName="NOTES"></kendo-textarea>

                <kendo-formerror class="col-md-10 p-0">
                    {{ errorNotes}}
                </kendo-formerror>

            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2 font-weight-bold dateRangeLabelSupportScript">
                Fill NULL Cost ? :
            </div>
            <div class="col-md-9">
                <label class="main-checker-box">
                    <input type="checkbox" id="nullChk" formControlName="isFillNullSelected">
                    <span class="checker-spans"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2 font-weight-bold dateRangeLabelSupportScript">
            </div>
            <div class="col-md-2 btnExecSupportScript">
                <div>
                    <button class="btn btn-primary" type="button"
                            (click)="executeCostFiller()">
                        Execute COST Gap filler
                    </button>
                        
                </div>
            </div>
        </div>
    </div>

    <!--<br />
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2 font-weight-bold dateRangeLabelSupportScript">
            </div>
            <div class="col-md-2 btnExecSupportScript">
                <div>
                    <button class="btn btn-primary" type="button"
                            (click)="executePostTest()">
                        Execute Post Test
                    </button>

                </div>
            </div>
        </div>
    </div>-->

</div>