.btnGoToPCT {
    display: inline
}

.dealTag {
    width:100%;
    text-align:right;
}

.ssToolbarBtn.btn-save,
.ssToolbarBtn {
    background-color: transparent
}

    .ssToolbarBtn.btn-save table tr td span.text {
        font-size: 14px !important;
        font-weight: 600;
        line-height: 1em
    }

    .ssToolbarBtn.btn-save:hover {
        background-color: #f2f2f2
    }

    .ssToolbarBtn.btn-save.notdirty {
        cursor: not-allowed
    }

        .ssToolbarBtn.btn-save.notdirty table tr td span.text {
            font-size: 11px !important;
            font-weight: 200;
            line-height: 1em
        }

        .ssToolbarBtn.btn-save.notdirty table tr td,
        .ssToolbarBtn.notdirty table tr td i {
            color: #ababab !important
        }

        .ssToolbarBtn.btn-save.notdirty:hover {
            background-color: transparent
        }

.dirtyIndicator {
    width: 5px;
    height: 100%;
    background-color: transparent;
    float: left;
    margin-right: 5px
}

.isDirtyIndicatorCell {
    width: 5px;
    height: 100%;
    background-color: #FFA300;
    width: 100%
}

.contractHeaderGrpExclusion {
    word-wrap: break-word
}

.displayNone {
    display: none !important
}

#ExcldGrid > .k-grid-content > table > tbody > tr:nth-child(1) {
    display: none
}

#ExcldGrid > .k-grid-content > table > tbody > tr:nth-child(2) > td {
    border: 1px solid rgba(230, 230, 230, .40)
}

.txtOff {
    text-align: right !important;
    padding-right: 3px
}

.txtOn {
    text-align: left;
    padding-left: 2px
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
    border: 1px solid #e7e7e8;
    margin-left: 05px
}

    .switch input {
        display: none
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1a3e6f;
    -webkit-transition: .4s;
    transition: .4s
}

    .slider:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: #e7e7e8;
        -webkit-transition: .4s;
        transition: .4s
    }

input:checked + .slider {
    background-color: #00AEEF
}

input:focus + .slider {
    box-shadow: 0 0 1px #00AEEF
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #ffffff
}

#ExcldGrid.k-grid {
    height: calc(85vh - 250px) !important;
    overflow: hidden;
    width: 100%
}

.k-grid .k-alt {
    background-color: #ffffff
}

#ExcldGrid.k-grid .k-grid-content {
    height: calc(85vh - 290px) !important
}

#ExcldGrid tr.tr-disabled td span.ng-binding,
#ExcldGrid tr.tr-disabled td {
    color: #aaaaaa
}

#ExcldGrid tr.tr-disabled {
    background-color: #f4f4f4
}

#ExcldGrid tr.tr-current td span.ng-binding,
#ExcldGrid tr.tr-current td {
    color: #FFFFFF
}

#ExcldGrid tr.tr-current {
    background-color: #00AEEF
}

.checkbox-custom + .checkbox-custom-label:before {
    content: '';
    background: #fff;
    border: 1.5px solid #eee;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 14px;
    padding: 2px;
    text-align: center
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    content: 'X';
    color: #ffffff;
    padding: 0 2px 4px 3px;
    font-size: 14px
}

.checkbox-custom:hover + .checkbox-custom-label:before {
    border: 1.5px solid #01AEEF
}

.ss-loading-panel.ss-Info {
    height: auto !important;
    margin-top: 200px !important;
    margin-left: 40% !important
}

.contractHeaderGrpExclusion {
    word-wrap: break-word
}

.displayNone {
    display: none !important
}

#ExcldGrid > .k-grid-content > table > tbody > tr:nth-child(1) {
    display: none
}

#ExcldGrid > .k-grid-content > table > tbody > tr:nth-child(2) > td {
    border: 1px solid rgba(230, 230, 230, .40)
}

.txtOff {
    text-align: right !important;
    padding-right: 3px
}

.txtOn {
    text-align: left;
    padding-left: 2px
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
    border: 1px solid #e7e7e8;
    margin-left: 05px
}

    .switch input {
        display: none
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1a3e6f;
    -webkit-transition: .4s;
    transition: .4s
}

    .slider:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: #e7e7e8;
        -webkit-transition: .4s;
        transition: .4s
    }

input:checked + .slider {
    background-color: #00AEEF
}

input:focus + .slider {
    box-shadow: 0 0 1px #00AEEF
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #ffffff
}

#ExcldGrid.k-grid {
    height: calc(85vh - 250px) !important;
    overflow: hidden;
    width: 100%
}

.k-grid .k-alt {
    background-color: #ffffff
}

#ExcldGrid.k-grid .k-grid-content {
    height: calc(85vh - 290px) !important
}

#ExcldGrid tr.tr-disabled td span.ng-binding,
#ExcldGrid tr.tr-disabled td {
    color: #aaaaaa
}

#ExcldGrid tr.tr-disabled {
    background-color: #f4f4f4
}

#ExcldGrid tr.tr-current td span.ng-binding,
#ExcldGrid tr.tr-current td {
    color: #FFFFFF
}

#ExcldGrid tr.tr-current {
    background-color: #00AEEF
}

.checkbox-custom + .checkbox-custom-label:before {
    content: '';
    background: #fff;
    border: 1.5px solid #eee;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 14px;
    padding: 2px;
    text-align: center
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    content: 'X';
    color: #ffffff;
    padding: 0 2px 4px 3px;
    font-size: 14px
}

.checkbox-custom:hover + .checkbox-custom-label:before {
    border: 1.5px solid #01AEEF
}

.k-grid-content {
    display: flex
}

.opUiContainer.md.k-grid td {
    white-space: nowrap !important
}

.childGrid > .k-grid-content {
    height: auto !important
}

tr.blue,
tr.k-alt.blue {
    background-color: #B9D6E5 !important
}

.k-grid tbody tr.blue:hover {
    background-color: #B9D6E5 !important
}

tr.grey,
tr.k-alt.grey {
    background-color: #AEAEAE !important
}

.k-grid tbody tr.grey:hover {
    background-color: #AEAEAE !important
}

.medIcon {
    font-size: 18px
}

.cola-pick {
    position: relative;
    width: 100%;
    padding: 0;
}

.luna-css {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.dis-comp {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comp-calls button.ssToolbarBtn table tr td span.text {
    font-size: 12px !important;
    line-height: 18px !important;
    display: inline-block;
}

.comp-calls button.ssToolbarBtn table tr td .fa-floppy-o {
    color: #00AEEF;
}

.comp-calls button.ssToolbarBtn.dd-out table tr td span.text-out {
    font-size: 12px !important;
    line-height: 18px !important;
    display: inline-block;
}

.aligner-inputs {
    width: 270px !important;
    font-size: 16px !important;
    padding-left: 0 !important;
    margin-right: 8px !important;
}

.aligner-inputs i {
    height: 100%;
    font-size: 18px;
    color: #00AEEF;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
}

.aligner-inputs input {
    width: 100%;
    margin: 0;
    border: none;
}

.kendo-grid-buttons.there-grid {
    width: 100% !important;
    padding-right: 10px !important;
}

.throw-span {
    margin-left: 3px;
    color: #00aeef;
    margin-top: -5px;
}

.excl-DG-modal mat-dialog-container {
    background: #1a3e6f;
    padding: 24px !important;
}
#GroupExclusionTab {
    margin-top: 20px;
}

#GroupExclusionTab .k-tabstrip-items .k-item {
    background: #fdfdfd;
    background: -moz-linear-gradient(top, #fdfdfd 0%, #d9d9d9 100%);
    background: -webkit-linear-gradient(top, #fdfdfd 0%, #d9d9d9 100%);
    background: linear-gradient(to bottom, #fdfdfd 0%, #d9d9d9 100%);
    color: #003C71 !important;
    padding: 0 !important;
    text-transform: none !important;
    background-color: #fff;
    border-bottom-width: 0
}

#GroupExclusionTab .k-tabstrip-items .k-state-active {
    background: -moz-linear-gradient(top, #fdfdfd 0%, #fff 100%);
    background: -webkit-linear-gradient(top, #fdfdfd 0%, #fff 100%);
    background: linear-gradient(to bottom, #fdfdfd 0%, #fff 100%);
    border-color: #b1babf;
    border-width: 1px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0;
    border-radius: 4px 4px 0 0
}

#GroupExclusionTab .k-tabstrip-items .k-item .k-link:hover {
    color: #00AEEF !important;
}

#GroupExclusionTab .k-tabstrip-items .k-state-disabled {
    position:absolute !important;
    width: auto !important;
    right: 15px !important;
}

    #GroupExclusionTab > .k-tabstrip-items-wrapper > .k-tabstrip-items > li > .k-link, #GroupExclusionTab .k-tabstrip-items-wrapper ul {
        position: relative;
        background: #f9f9f9 !important;
    }

#excelDropDownMenu.show {
    transform: none !important;
    font-size: 13px !important;
    color: #777 !important;
    border-color: #eee !important;
    font-family: 'Intel Clear' !important;
    top: 44px !important;
}
kendo-dialog-actions.popup-dialog {
    padding: 1.3em 0;
    width: 100%;
    background: #dededd;
    cursor: pointer;
}
kendo-dialog-actions.popup-dialog:hover {
    background: #ebebeb;
}
.kendo-alrt-btn.popup-button {
    text-align: center !important;
}
.popup-box .k-content {
    padding: 10px !important;
}
.toggleSelect {
    background-color: #eeeeee !important;
}
.popup-box .k-window {
    border-radius: 0
}
.exclude-filter-style .k-filterable > .k-cell-inner {
    margin-right: -40px !important
}