.btnGoToPCT {
    display: inline
}

#GroupExclusionTab .dealTag {
    width: 100%;
    text-align: right
}

.manageExcludeGroupParent .ssToolbarBtn.btn-save, .manageExcludeGroupParent .ssToolbarBtn {
    background-color: transparent
}

    .manageExcludeGroupParent .ssToolbarBtn.btn-save table tr td span.text {
        font-size: 14px !important;
        font-weight: 600;
        line-height: 1em
    }

    .manageExcludeGroupParent .ssToolbarBtn.btn-save:hover {
        background-color: #f2f2f2
    }

    .manageExcludeGroupParent .ssToolbarBtn.btn-save.notdirty {
        cursor: not-allowed
    }

        .manageExcludeGroupParent .ssToolbarBtn.btn-save.notdirty table tr td span.text {
            font-size: 11px !important;
            font-weight: 400 !important;
            line-height: 1.25em !important
        }

        .manageExcludeGroupParent .ssToolbarBtn.btn-save.notdirty table tr td, .ssToolbarBtn.notdirty table tr td i {
            color: #ababab !important
        }

        .manageExcludeGroupParent .ssToolbarBtn.btn-save.notdirty:hover {
            background-color: transparent
        }

.dirtyIndicator {
    width: 5px;
    height: 100%;
    background-color: transparent;
    float: left;
    margin-right: 5px
}

.isDirtyIndicatorCell {
    width: 5px;
    height: 100%;
    background-color: #FFA300;
    width: 100%
}

.contractHeaderGrpExclusion {
    word-wrap: break-word
}

.displayNone {
    display: none !important
}

#ExcldGrid > .k-grid-content > table > tbody > tr:nth-child(1) {
    display: none
}

#ExcldGrid > .k-grid-content > table > tbody > tr:nth-child(2) > td {
    border: 1px solid rgba(230,230,230,.40)
}

#ExcldGrid.k-grid {
    height: calc(85vh - 250px) !important;
    overflow: hidden;
    width: 100%
}

.group-Excl-grid.k-grid .k-alt {
    background-color: #ffffff
}

#ExcldGrid.k-grid .k-grid-content {
    height: calc(85vh - 290px) !important
}

#ExcldGrid tr.tr-disabled td span.ng-binding, #ExcldGrid tr.tr-disabled td {
    color: #aaaaaa
}

#ExcldGrid tr.tr-disabled {
    background-color: #f4f4f4
}

#ExcldGrid tr.tr-current td span.ng-binding, #ExcldGrid tr.tr-current td {
    color: #FFFFFF
}

#ExcldGrid tr.tr-current {
    background-color: #00AEEF
}

.exclude-filter-style .opUiContainer.md.k-grid td {
    white-space: nowrap !important
}

.exclude-filter-style .childGrid > .k-grid-content {
    height: auto !important
}

.group-Excl-grid .medIcon {
    font-size: 18px
}

.cola-pick {
    position: relative;
    width: 100%;
    padding: 0 !important;
}

.luna-css {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative
}

.dis-comp {
    display: flex;
    align-items: center;
    justify-content: center
}

.comp-calls button.ssToolbarBtn table tr td span.text {
    font-size: 12px !important;
    line-height: 18px !important;
    display: inline-block
}

.comp-calls button.ssToolbarBtn table tr td .fa-floppy-o {
    color: #00AEEF
}

.comp-calls button.ssToolbarBtn.dd-out table tr td span.text-out {
    font-size: 12px !important;
    line-height: 18px !important;
    display: inline-block
}

.manageExcludeGroupParent .aligner-inputs {
    width: 270px !important;
    font-size: 16px !important;
    padding-left: 0 !important;
    margin-right: 8px !important
}

    .manageExcludeGroupParent .aligner-inputs i {
        height: 100%;
        font-size: 18px;
        color: #00AEEF;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f9f9f9
    }

    .manageExcludeGroupParent .aligner-inputs input {
        width: 100%;
        margin: 0;
        border: none
    }

.kendo-grid-buttons.there-grid {
    width: 100% !important;
    padding-right: 10px !important
}

.throw-span {
    margin-left: 3px;
    color: #00aeef;
    margin-top: -5px
}

.excl-DG-modal mat-dialog-container {
    background: #1a3e6f;
    padding-bottom: 24px !important;
    padding-top:15px;
    padding-right:15px;
    padding-left:15px;
}

#GroupExclusionTab {
    margin-top: 28px;
    margin-left: 10px
}

    #GroupExclusionTab .k-tabstrip-items .k-item {
        background: #fdfdfd;
        background: -moz-linear-gradient(top,#fdfdfd 0%,#d9d9d9 100%);
        background: -webkit-linear-gradient(top,#fdfdfd 0%,#d9d9d9 100%);
        background: linear-gradient(to bottom,#fdfdfd 0%,#fff 100%);
        color: #003C71 !important;
        padding: 0 !important;
        text-transform: none !important;
        background-color: #fff;
        border-bottom-width: 0
    }

    #GroupExclusionTab .k-tabstrip-items .k-state-active {
        background: -moz-linear-gradient(top,#fdfdfd 0%,#fff 100%);
        background: -webkit-linear-gradient(top,#fdfdfd 0%,#fff 100%);
        background: linear-gradient(to bottom,#fdfdfd 0%,#fff 100%);
        border-color: #b1babf;
        border-width: 1px;
        border-left-width: 1px;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 0;
        border-radius: 4px 4px 0 0;
        color: #00aeef !important
    }

    #GroupExclusionTab .k-tabstrip-items .k-item .k-link:hover {
        color: #00AEEF !important
    }

    #GroupExclusionTab .k-tabstrip-items .k-state-disabled {
        position: absolute !important;
        width: auto !important;
        right: 15px !important;
        opacity: 1;
    }

    .manageExclGroupOvrLap mat-dialog-container {
        padding: 0;
    }

        .manageExclGroupOvrLap mat-dialog-container .k-window {
            min-height: auto !important;
        }

    #GroupExclusionTab > .k-tabstrip-items-wrapper > .k-tabstrip-items > li > .k-link, #GroupExclusionTab .k-tabstrip-items-wrapper ul {
        position: relative;
        background: #f9f9f9 !important
    }

#excelDropDownMenuExcludeGroup.show {
    transform: none !important;
    font-size: 13px !important;
    color: #777 !important;
    border-color: #eee !important;
    font-family: 'Intel Clear' !important;
    top: 44px !important
}

kendo-dialog-actions.popup-dialog {
    padding: 1.3em 0;
    width: 100%;
    background: #dededd;
    cursor: pointer
}

    kendo-dialog-actions.popup-dialog:hover {
        background: #ebebeb
    }

.kendo-alrt-btn.popup-button {
    text-align: center !important
}

.popup-box .k-content {
    padding: 10px !important
}

.manageExcludeGroupParent .toggleSelect {
    background-color: #eeeeee !important
}

.popup-box .k-window {
    border-radius: 0
}

kendo-grid.group-Excl-grid table tr th .k-cell-inner .k-column-title {
    font-size: 12px !important;
    font-weight: 600 !important;
    line-height: 16px;
    text-transform: capitalize;
    color: #1a3e6f
}

kendo-grid.group-Excl-grid table tr th .k-cell-inner kendo-grid-filter-menu .k-grid-filter .k-i-filter {
    color: #00AEEF;
    opacity: 1;
    font-size: 14px !important
}

kendo-grid.group-Excl-grid table tr th .k-cell-inner kendo-grid-filter-menu a.k-grid-filter.k-state-active {
    background: white
}

.grouping_grid_h {
    height: calc(100vh - 233px) !important
}

.text_font_fix {
    color: #003c71 !important;
    font-weight: bold !important
}

.k-grid.view_popup_height {
    height: calc(100vh - 591px)
}

.excl-DG-modal.cdk-overlay-pane {
    max-width: 95vw !important;
    margin-left: auto;
    margin-right: auto;
    height: auto !important
}

.height-auto-child {
    height: auto !important
}

.pad-fixes-btm {
    padding-left: 0;
    padding-right: 0
}

.ok-cancel-btns-deals {
    display: inline-block;
    position: relative;
    padding-top: 15px
}

    .ok-cancel-btns-deals .btn {
        padding: 6px 12px;
        font-size: 13px
    }

    .ok-cancel-btns-deals .btn-warning {
        background-color: #f39c12;
        border-color: #e08e0b !important;
        color: #0071c5 !important;
    }

        .ok-cancel-btns-deals .btn-warning:hover {
            color: #0071c5;
            background-color: #e08e0b;
            border-color: #b1babf !important
        }

    .ok-cancel-btns-deals .btn-primary {
        background-color: #01AEEF !important;
        border-color: #367fa9 !important
    }

        .ok-cancel-btns-deals .btn-primary:hover {
            background-color: #01AEEF !important;
            color: #1a3e6f
        }

.group-exclude-child {
    margin: 0 !important
}

td.k-detail-cell:has(.group-exclude-child) {
    padding: 0 !important;
    background: transparent;
}

kendo-grid.exclude-filter-style kendo-grid-list table tr td {
    background: var(--light-blue);
    color: var(--white);
    font-size: 12px
}

    kendo-grid.exclude-filter-style kendo-grid-list table tr td .child-EDGM table tr td {
        color: #aaaaaa !important;
        background-color: #f4f4f4;
        
    }
    kendo-grid.exclude-filter-style kendo-grid-list table tr td .childColor table tr td {
        color: rgb(0,0,128) !important;
        background-color: white !important;
    }

    kendo-grid.exclude-filter-style kendo-grid-list table tr td .child-head table tr td {
        color: rgb(0,0,128);
        background-color: #f4f4f4;
        border-bottom: 1px solid rgba(33, 37, 41, 0.125) !important;
        border-left: none !important;
    }

.k-grid tbody td .child-EDGM {
    white-space: nowrap;
    line-height: 10px !important;
}


    kendo-grid.exclude-filter-style kendo-grid-list table tr td a.k-icon:hover, kendo-grid.exclude-filter-style kendo-grid-list table tr td a.k-icon:focus {
        color: var(--white)
    }

kendo-grid.exclude-filter-style kendo-grid-list table tr td.k-detail-cell table tbody tr td:nth-child(2) {
    padding: 0!important;
}
.grping-exclusion-borderstyle kendo-grid.k-grid .k-grid-header-wrap table thead tr th {
    border-bottom: 3px solid rgb(0, 113, 197) !important;
}
.grping-exclusion-borderstyle .k-grid .k-grid-content {
    overflow: overlay !important
}

.excludeGroupLoadingSpinners .spinner {
    margin: 10px auto;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px
}

    .excludeGroupLoadingSpinners .spinner > div {
        background-color: #0071C5;
        height: 100%;
        width: 6px;
        display: inline-block;
        -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        animation: sk-stretchdelay 1.2s infinite ease-in-out
    }

    .excludeGroupLoadingSpinners .spinner .rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s
    }

    .excludeGroupLoadingSpinners .spinner .rect3 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s
    }

    .excludeGroupLoadingSpinners .spinner .rect4 {
        -webkit-animation-delay: -.9s;
        animation-delay: -.9s
    }

    .excludeGroupLoadingSpinners .spinner .rect5 {
        -webkit-animation-delay: -.8s;
        animation-delay: -.8s
    }

.excludeGroupLoadingSpinners .ss-icon-lg {
    font-size: 4em;
    -webkit-animation: sk-zoom .3s 1 ease-in;
    animation: sk-zoom .3s 1 ease-in
}

.excludeGroupLoadingSpinners .sky-blue {
    color: var(--light-blue)
}

kendo-grid.group-Excl-grid table tr th .k-cell-inner kendo-grid-filter-menu .k-state-active > .k-i-filter {
    color: #00AEEF !important;
}

    kendo-grid.group-Excl-grid table tr th .k-cell-inner kendo-grid-filter-menu .k-state-active > .k-i-filter:hover {
        color: #0071C5 !important
    }
#exclGrp .showToggle {
    visibility: visible !important
}

#exclGrp .hideToggle {
    visibility: hidden !important
}