<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MyDealsService" value="http://localhost:55490" />
    <add key="UcdUri" value="failover:(ssl://10.4.156.52:8429,ssl://10.4.156.53:8429)"/>
    <add key="QueueName" value="SalesCloud.MyDeals.ACM.Bridge"/>
    <add key="UserName" value="SalesCloud.MyDeals.A_so"/>
    <add key="Password" value="02Q230630K04923622917o4t23612Z451D03920GJ01G37w14920420q91240P06201QN13F2321GR1C04920q613Q4320Z5612404P360E04dG35"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>