<script src="~/Client/src/dist/report.js" async></script>

@{
    ViewBag.Title = "Reporting";
}
<div class="loading-screen">
    <div class="jumbotron ng-scope">
        <div class="container">
            <h1><strong>My</strong> Deals </h1><p class="lead"> Reporting </p>
            <p>Reporting is loading please wait...</p>
        </div>
    </div>
</div>