@*<script src="~/Client/src/dist/report.js" async></script>*@
<script src='@Scripts.Url("~/bundles/report")' async></script>
@{ ViewBag.Title = "Reporting"; }
<div class="loading-screen">
    <div class="jumbotron ng-scope">
        <div class="container">
            <h1><strong>My Deals</strong></h1>
            <p class="lead">Reporting</p>
            <br />
            <p class="load-text">Reporting is loading please wait....</p>
            <img src="/images/loading022.gif" />
        </div>
    </div>
</div>