<div class="modal-header modalBlueBody summary-action-head">
    <h5 class="modal-title sub-txt-fix" id="modal-title">Submission Overview</h5>
</div>
<div class="modal-body modalBlueBody summary-action-body" id="modal-body">

    <div class="errMsgActionSummary" *ngIf="showErrMsg">
        <i class="intelicon-information-solid"></i> Please make sure you review Meet Comp on the left navigation before proceeding.
    </div>
    <div class="draftMsg">
        Below is an overview of what will be submitted.
    </div>
    <div class="oppo-grids physics-css">
        <kendo-grid id="gridActionSummary" style="max-height: 200px !important; overflow: hidden !important; color: #1a3e6f !important; height: auto !important;" [data]="gridData">
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="TITLE" title="Strategy Name" width="100px">
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="{'headerClass':true}" field="ACTN" title="Approve or Revise" width="200px">
            </kendo-grid-column>
        </kendo-grid>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <div>
                <button class="btn btn-default full-width fclosebtn" type="button" (click)="cancel()">Close</button>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <button class="btn btn-primary full-width fsubmitbtn btnPrimarySummary" type="button" (click)="ok()">Submit</button>
            </div>
        </div>
    </div>

</div>


