<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />
<div class="container-fluid permission-container-section">
    <div class="row">
        <div class="col-md-12">
            <div class="permission-heading">
                <div class="division-one-permission">
                    <h2>User Role Permission</h2>
                </div>
            </div>
        </div>
        <div class="col-md-12 custom-filter-sections">
            <form [formGroup]="userRolePermissionForm" (ngSubmit)="filterUserSearchOnSubmit()">
                <div class="row">
                    <div class="col-md-3">
                        <label>Database Username:</label>
                        <kendo-textbox  name="DatabaseUserName" formControlName="DatabaseUserName" placeholder="Database Username"
                        [ngClass]="{ 'is-invalid': submitted && f.DatabaseUserName.errors }"></kendo-textbox>
                        <div *ngIf="submitted && f.DatabaseUserName.errors" class="invalid-feedback">
                            <div *ngIf="f.DatabaseUserName.errors.required">Database Username is required</div>
                          </div>
                    </div>
                    <div class="col-md-2">
                        <label>Start Date:</label>
                        <kendo-datepicker name="StartDate" formControlName="StartDate" #datepickerClassic calendarType="classic"
                        (valueChange)="fixMinDate($event)" [ngClass]="{ 'is-invalid': submitted && f.StartDate.errors }"></kendo-datepicker>
                        <div *ngIf="submitted && f.StartDate.errors" class="invalid-feedback">
                            <div *ngIf="f.StartDate.errors.required">Start Date is required</div>
                          </div>
                    </div>
                    <div class="col-md-2">
                        <label>End Date:</label>
                        <kendo-datepicker name="EndDate" formControlName="EndDate" #datepickerClassic calendarType="classic"
                        [ngClass]="{ 'is-invalid': submitted && f.EndDate.errors }" [min]="minDate" [max]="maxDate"></kendo-datepicker>
                        <div *ngIf="submitted && f.EndDate.errors" class="invalid-feedback">
                            <div *ngIf="f.EndDate.errors.required">End Date is required</div>
                          </div>
                    </div>
                    <div class="col-md-2 btn-align-center">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-12">
            <div class="table-design">
                <kendo-grid [data]="gridData" 
                            id="usrPermGrid"
                            (sortChange)="sortChange($event)" 
                            (pageChange)="pageChange($event)" 
                            (filterChange)="filterChange($event)"
                            (groupChange)="groupChange($event)"
                            [loading]="isLoading"
                            [pageSize]="state.take"
                            [skip]="state.skip"
                            [sort]="state.sort"
                            [filter]="state.filter"
                            [sortable]="true"
                            [pageable]="{type:type,pageSizes: pageSizes,info:info,refresh:true}"
                            [groupable]="true"
                            [group]="state.group"
                            filterable="menu"
                            (excelExport)="onExcelExport($event)">
                    <ng-template kendoGridToolbarTemplate>
                        <button (click)="clearFilter()" class="k-button clearButton">
                            <span class="k-icon intelicon-cancel-filter-solid k-icon-md k-family"></span>Clear Filters
                        </button>
                        <button class="k-button" (click)="fetchLatestTrigger()">
                            <span class="k-icon k-icon-md k-i-file-add"></span> Fetch Latest Permission
                        </button>
                        <kendo-grid-spacer></kendo-grid-spacer>
                        <button type="button" (click)="exportToExcel()" class="k-button clearButton">
                            <span class="k-icon k-i-file-excel k-icon-md"></span>Export to Excel
                        </button>
                        <button (click)="refreshGrid()" class="k-button clearButton">
                            <span class="k-icon k-i-reload k-icon-md"></span>Refresh
                        </button>
                    </ng-template>
                    <kendo-grid-column [headerClass]="{'headerClass':true}" field="Database_Name" title="Database Name">
                        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
                                <kendo-filter-contains-operator></kendo-filter-contains-operator>
                            </kendo-grid-string-filter-menu>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column [headerClass]="{'headerClass':true}" field="UserName" title="User Name">
                        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
                                <kendo-filter-contains-operator></kendo-filter-contains-operator>
                            </kendo-grid-string-filter-menu>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column [headerClass]="{'headerClass':true}" field="UserType" title="User Type">
                        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
                                <kendo-filter-contains-operator></kendo-filter-contains-operator>
                            </kendo-grid-string-filter-menu>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column [headerClass]="{'headerClass':true}" field="DatabaseUserName" title="Database User Name">
                        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
                                <kendo-filter-contains-operator></kendo-filter-contains-operator>
                            </kendo-grid-string-filter-menu>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column [headerClass]="{'headerClass':true}" field="Role" title="Role">
                        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
                                <kendo-filter-contains-operator></kendo-filter-contains-operator>
                            </kendo-grid-string-filter-menu>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column [headerClass]="{'headerClass':true}" field="PermissionType" title="Permission Type">
                        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
                                <kendo-filter-contains-operator></kendo-filter-contains-operator>
                            </kendo-grid-string-filter-menu>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column [headerClass]="{'headerClass':true}" field="PermissionState" title="Permission State">
                        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
                                <kendo-filter-contains-operator></kendo-filter-contains-operator>
                            </kendo-grid-string-filter-menu>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column [headerClass]="{'headerClass':true}" field="ObjectType" title="Object Type">
                        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
                                <kendo-filter-contains-operator></kendo-filter-contains-operator>
                            </kendo-grid-string-filter-menu>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column [headerClass]="{'headerClass':true}" field="ObjectName" title="Object Name">
                        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
                                <kendo-filter-contains-operator></kendo-filter-contains-operator>
                            </kendo-grid-string-filter-menu>
                        </ng-template>
                    </kendo-grid-column>
                    <!--<kendo-grid-column [headerClass]="{'headerClass':true}" field="ColumnName" title="Column Name"> </kendo-grid-column>-->
                    <kendo-grid-column [headerClass]="{'headerClass':true}" field="ROW_REFRESH_DTM" title="Date">
                        <ng-template kendoGridFilterMenuTemplate let-filter="filter" let-column="column" let-filterService="filterService">
                            <date-range-filter [field]="column.field" [filter]="filter" [filterService]="filterService"></date-range-filter>
                        </ng-template>
                    </kendo-grid-column>
                </kendo-grid>
            </div>
        </div>
    </div>
</div>