.header-pos-fix {
    padding-top: 45px !important;
    padding-left: 15px !important
}

.grid-lr-size {
    padding-right: 0 !important;
    padding-top: 10px !important;
    padding-left: 15px !important
}

.remove-spacedelete {
    margin-left: .16em !important;
    margin-right: -1em !important
}

.removeoutline-space {
    margin-left: -1.14em !important
}

.workflow-header-popup {
    margin-top: 15px !important;
    font-size: 28px !important;
    margin-bottom: 0 !important;
}

.kendo-dialog-message.workflow-body-popup {
    margin: 20px 165px 0 0 !important;
    padding-top: 15px !important;
    border-top: 1px solid #e5e5e5;
    border-top-color: #f4f4f4;
}

button.workflow-cancel-btn.k-button:hover {
    color: #333333 !important
}

button.workflow-delete-btn.k-button:hover {
    background: #367fa9 !important;
    color: #ffffff !important;
    border-color: #00aeef;
}

button.workflow-delete-btn.k-button {
    border: none !important;
    background-color: #3c8dbc !important;
    border-color: #367fa9 !important;
    color: #ffff !important;
    font-family: 'Intel Clear' !important;
    height: 40px !important;
    font-size: 15px !important;
    border-radius: 3px !IMPORTANT;
    max-width: 165px;
}

button.workflow-cancel-btn.k-button {
    border: none !important;
    background-color: #f0f0f0 !important;
    color: #111111 !important;
    font-family: 'Intel Clear' !important;
    font-size: 15px !important;
    height: 40px !important;
    border-radius: 3px !IMPORTANT;
    max-width: 75px;
}

    button.workflow-cancel-btn.k-button:hover {
        color: #333333 !important
    }
