@using Intel.MyDeals.App
@{
    var environment = "UNKNOWN";
    var appVer = "UNKNOWN";

    if (Model.GetType().Name == "ApplicationViewModel")
    {
        ApplicationViewModel avm = (ApplicationViewModel)ViewData.Model;
        environment = avm == null ? "UNKNOWN" : avm.AppEnv.ToUpper().IndexOf("PROD") >= 0 ? "" : "( " + avm.AppEnv + " Environment )";
        appVer = avm == null ? "UNKNOWN" : avm.AppVer;
    }
}

    <div class="footer-bar">
        <div class="fl" ondblclick="eggDd()" style="padding-right: 20px">@appVer</div>
        <div class="fl env"><b>@environment</b></div>

        <div class="fr">Intel Confidential</div>
        <div class="fr ping"><ping></ping></div>
    </div>

<style>
    .footer-bar {
        position: absolute;
        bottom: 0;
        background-color: #0071C5;
        color: #ffffff;
        width: 100%; height: 15px;
        font-size: 10px;
        padding: 0 10px;
    }
    .env {
        padding: 0 20px;
        color: #f3D54E;
        background-color: indianred;
    }
    .ping {
        align-content: center;
        margin: 0 10px 0 0;
        font-size: 10px;
    }

</style>
