@using Intel.MyDeals.App
@{
    // TODO::TJE for debugging
    ApplicationViewModel avm = new ApplicationViewModel
    {
        AppName = "MyDeals",
        AppDescShort = "My Deals Solutions tool for managing rebate deals",
        AppDesc = "My Deals is the interface to help monitor and control the workflow for creating, maintaining and monitoring rebate deals through Contracts, Dashboards and Individual Deals.",
        AppCopy = "© 2016 DEAL COMPLIANCE SOLUTIONS",
        AppCopyShort = "© 2016 My Deals"
    };
    if (ViewData.Model is ApplicationViewModel)
    {
        avm = (ApplicationViewModel)ViewData.Model;
    }
    var environment = avm.AppEnv.ToUpper().IndexOf("PROD") >= 0 ? "" : " (" + avm.AppEnv + ")";
}

<div class="footer-bar">
    <div class="fl">@avm.AppVer</div>
    <div class="fl env">@environment</div>
</div>

<style>
    .footer-bar {
        position: absolute; 
        bottom: 0; 
        background-color: #0071C5;
        color: #ffffff;
        width: 100%; height: 15px; 
        font-size: 10px; 
        padding: 0 10px;
    }
    .env {
        padding: 0 10px;
        color: #f3D54E;
    }
</style>
