@using Intel.MyDeals.App
@{
    var environment = "UNKNOWN";
    var appVer = "UNKNOWN";

    if (Model.GetType().Name == "ApplicationViewModel")
    {
        ApplicationViewModel avm = (ApplicationViewModel)ViewData.Model;
        environment = avm == null ? "UNKNOWN" : avm.AppEnv.ToUpper().IndexOf("PROD") >= 0 ? "" : " (" + avm.AppEnv + ")";
        appVer = avm == null ? "UNKNOWN" : avm.AppVer;
    }
}

<div class="footer-bar">
    <div class="fl">@appVer</div>
    <div class="fl env">@environment</div>

    <div class="fr ping"><ping></ping></div>
    <div class="fr">Intel Confidential</div>
</div>

<style>
    .footer-bar {
        position: absolute; 
        bottom: 0; 
        background-color: #0071C5;
        color: #ffffff;
        width: 100%; height: 15px; 
        font-size: 10px; 
        padding: 0 10px;
    }
    .env {
        padding: 0 10px;
        color: #f3D54E;
    }
    .ping {
        margin: 0 0 0 10px;
        font-size: 10px;
    }
</style>
