@using Intel.MyDeals.Helpers
<!DOCTYPE html>
<html>
<head>
    <title>My Deals</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="~/css/it-mlaf.min.css" rel="stylesheet" />
    <script src="~/Scripts/Opaque/OpaqueUtils.js"></script>

    <style>
        html, body {
            overflow: auto !important;
        }
    </style>
</head>

<body @Html.RequestVerificationToken()>
    @RenderBody()
</body>
</html>

