@using Intel.MyDeals.Helpers
<!DOCTYPE html>
<html>
<head>
    <title>My Deals</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/kendo/2017.R1/kendo.common-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/kendo/2017.R1/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/kendo/2017.R1/jszip.min.js"></script>
    <script src="~/Scripts/kendo/2017.R1/kendo.all.min.js"></script>
    <script src="~/Scripts/Opaque/OpaqueUtils.js"></script>

    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/js/bootstrap.min.js"></script>

    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="~/Content/kendo/2017.R1/kendo.common-material.min.css" rel="stylesheet" />
    <link href="~/css/it-mlaf.min.css" rel="stylesheet" />
    <link href="~/css/kendo.intel.css" rel="stylesheet" />

    <style>
        html, body {
            overflow: auto !important;
        }

    </style>
</head>

<body @Html.RequestVerificationToken()>
    @RenderBody()
</body>
</html>

