@using Intel.MyDeals.Helpers;

<!DOCTYPE html>
<html>

<head>
    <base href="/" id="baseHref">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Deals</title>
    @*Removing Content ~/Content/css and pull those styles as reference to get Angular kendo grid working*@

    <link href="/css/jquery-ui.min.css" rel="stylesheet">
    <link href="/css/toastr.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/it-mlaf.min.css" rel="stylesheet">
    <link href="/css/angular-bootstrap-toggle.min.css" rel="stylesheet">
    <link href="/css/bootstrap-switch.min.css" rel="stylesheet">

    <link href="/css/_report.css" rel="stylesheet">
    <link href="/css/_dealUtil.css" rel="stylesheet" />
    <link href="/css/_secEngine.css" rel="stylesheet" />
    <link href="/Content/styles.css" rel="stylesheet" />
    <link href="/css/_controls.css" rel="stylesheet" />
    <link href="/css/_contractManager.css" rel="stylesheet" />
    <link href="/css/_loadingPanel.directive.css" rel="stylesheet" />


    <link href="~/Client/src/app/core/dealPopup/dealPopup.component.css" rel="stylesheet" />
    <link href="~/Client/src/app/style/common.css" rel="stylesheet" />
    <link href="~/Client/src/app/style/kendo-custom.css" rel="stylesheet" />
    <link href="~/Client/src/app/style/style.css" rel="stylesheet" />

    @*@Scripts.Render("~/bundles/scripts")*@
    <script src="/Scripts/jquery-3.3.1.min.js"></script>
    <script src="/Scripts/jquery-ui.min.js"></script>
    <script src="/Scripts/modernizr-2.6.2.min.js"></script>
    <script src="/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/bootstrap-switch.min.js"></script>

    @*@Scripts.Render("~/MyDeals/scripts")*@
    <style>
        .mainBodyStyle {
            position: absolute;
            top: 84px;
            bottom: 15px;
            left: 0;
            right: 0;
            overflow: hidden !important;
        }

        myInvalidClass {
            background-color: red;
        }

        .loading-screen {
            top: 20px !important;
            height: 400px !important;
            margin-top: 100px !important;
        }
    </style>

</head>

<body @Html.RequestVerificationToken()>
    @*Since Angular bundle size is increasing the overall loading time will incresing which cause delay in UI landing page to load.
        To avoid that brining the loading to _layout.cshtml page and will make is disable in dashboard*@
    <div class="loading-screen">
        <div class="fullHeight">
            <div class="jumbotron ng-scope">
                <div class="container">
                    <h1><strong>My</strong> Deals </h1><p class="lead"> Dashboard. </p>
                    <p>Dashboard is loading please wait...</p>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_Header")
    @*<app-header></app-header>*@
    <div id="modals"></div>
    <div id="bodyContent" class="mainBodyStyle" style="">
        <app-root></app-root>
        @RenderBody()
    </div>
    @*@Html.Partial("_Footer")*@
    <app-footer></app-footer>
    @*@Html.Partial("_Loading")*@
    <app-loader></app-loader>

    @*Angult JS libraries starts here*@

    @*Angult JS libraries ends here*@
    <script src="~/Client/src/dist/vendor.js"></script>
    <script src="~/Client/src/dist/bundle.js"></script>

</body>

</html>