<link href="/Client/node_modules/handsontable/dist/handsontable.full.css" rel="stylesheet" />
<link href="/Client/node_modules/handsontable-multi-select/dist/css/handsontable-multi-select.css" rel="stylesheet" />
<form style="margin-top: 0;" class="form-horizontal" autocomplete="off">
    <!--<loading-panel id="UnifyUploadLoading" style="z-index:500;" show="loading" header="vm.spinnerMessageHeader" description="vm.spinnerMessageDescription" ng-show="loading" is-show-fun-fact="vm.isBusyShowFunFact"></loading-panel>-->
    <div class="modal-content unifi-popup-full-style" id="endCustomerUnifyModal">
        <div class="modal-header modalBlueBody">
            <h3 class="modal-title unifi-title" id="modal-title">{{screenTitle}}</h3>
            <i id="btnClose" class="intelicon-close unify-close-btn" (click)="CloseWindow()" title="Close this window"></i>
        </div>
        <!--ng-if="vm.HasBulkUploadAccess"-->
        <div id="modalBodyDiv" *ngIf="inValidUnifyDeals.length==0" class="modal-body">
            <div>
                <div class="col-md-6 file-upload-position"></div>
                <div class="col-md-2"
                     style="left:40px;font-size:medium">
                    <b>
                        File Type&nbsp;:
                    </b>
                </div>
                <div class="col-md-3" style="left:8px;">
                    <!--<toggle size="btn-sm" ng-model="vm.isBulkUnify"
                    off="Deal Recon"
                    on="Bulk Unify"
                    ng-click="vm.toggleType(vm.isBulkUnify)">
            </toggle>-->
                    <mat-slide-toggle class="fl toggle-accept toggle-button-custom big-toggle-custom-class"
                                      size="btn-mid"
                                      off="Deal Recon"
                                      on="Bulk Unify"
                                      (click)="toggleType(!isBulkUnify)"
                                      [color]="color"
                                      title="{{true == true ? 'Active' : 'Inactivate'}}">

                    </mat-slide-toggle>
                    <!--<mat-slide-toggle class="fl toggle-accept toggle-button-custom"
              [(ngModel)]="IsActive"
              on="Active"
              off="Inactive"
              onstyle="btn-success"
              offstyle="btn-danger"
            ></mat-slide-toggle>-->
                </div>
            </div>
            <div class="col-md-11">&nbsp;</div>
            <div class="col-md-11 notes">
                <span class="redbold">NOTE:</span><span>&nbsp;Format of the file should be ".xlsx". Your attachment will upload after clicking the "Upload" button.</span><br /><br />
            </div>
            <div class="form-group">
                <div class="col-md-11">
                    <kendo-upload [saveUrl]="uploadSaveUrl" [batch]="true" [multiple]="false"
                                  [restrictions]="myRestrictions" (success)="successEventHandler($event)" (error)="onFileUploadError()" (complete)="onFileUploadComplete()"
                                  [autoUpload]="false" [(ngModel)]="files" name="files" class="kuploadaction unified-upload-style"></kendo-upload>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-8">
                    <a class="text-dwnlod-style" download target="_blank" href={{fileURL}}>Click here to download the template</a>
                </div>
                <div class="col-md-3" style="padding-left:2px;">
                    <button (click)="uploadFile()" class="btn btn-primary">Upload Unified Data</button>
                </div>
            </div>
        </div>
            <div *ngIf="inValidUnifyDeals.length > 0">
                <kendo-splitter orientation="vertical" style="height:230px">
                    <kendo-splitter-pane>
                        <hot-table id="bulkUnifyDealReconExcel" [hotId]="hotId" [settings]="hotSettings" [data]="inValidUnifyDeals" class="all-spread"></hot-table>
                    </kendo-splitter-pane>
                </kendo-splitter>
            </div>  
        <div class="modal-footer" *ngIf="inValidUnifyDeals.length > 0">
            <div class="form-group row action_btns">
                <div class="col-md-12" style="right:10px">
                    <button class="btn btn-primary" style="margin-left: 15px">
                        Save and Validate
                    </button>
                 
                    <button (click)="closeWindow()" class="btn btn-primary" style="margin-left: 15px">
                        Cancel /
                        Close
                    </button>
                </div>
            </div>
        </div>
        <br />
    </div>
</form>
<kendo-dialog (close)="closeAlert()" *ngIf="isAlert" id="bulkUnifyAlert">
    <p [innerHTML]='alertMsg'></p>
    <kendo-dialog-actions>
        <button kendoButton (click)="closeAlert()" themeColor="primary">OK</button>
    </kendo-dialog-actions>
</kendo-dialog>