td.error-product {
    color: rgb(252, 76, 2) !important;
    font-weight: bold !important;
}

td.success-product {
    color: rgb(155, 198, 0) !important;
    font-weight: bold !important;
}

td.normal-product {
    color: black !important;
    font-weight: normal !important;
}

td.error-border {
    border: 1px solid red !important;
}

td.error-cell {
    background-color: red;
    color: white !important;
    border: solid lightgrey 1px !important;
}

td:not(.error-cell).readonly-cell {
    background-color: rgb(238, 238, 238) !important;
}


/* handsoneable related classes */

.k-item.k-state-active {
    border-top: 1px solid #0071C5 !important;
    border-left: 1px solid #0071C5 !important;
    border-right: 1px solid #0071C5 !important;
    margin-right: 5px !important;
    color: #FFFFFF !important;
    background-color: #003C71 !important;
    cursor: default !important;
}

.k-tabstrip-items .k-item {
    margin-right: 0px !important;
    font-size: 15px !important;
    font-weight: 400 !important;
}

.htCustTxt {
    float: left !important;
    max-width: 150px !important;
    overflow: auto;
}

.htCustCellEditor {
    position: absolute;
    float: right;
    width: 25px;
    z-index: 300;
    margin-left: 0px;
    height: 25px;
    font-size: 0.8em;
    opacity: 1 !important;
    padding: 0 !important;
   
}


/* This class must not edit it helps for copy paste*/

.ht_editor_hidden {
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    width: 1px !important;
    height: 1px !important;
}

.handsontable .htCommentCell:after {
    border-top-color: red;
}

.ssToolbarBtn {
    background-color: #ffffff;
    border-radius: 0px;
    color: #1A3E6F;
    font-size: 11px;
    line-height: normal;
    margin: 1px 0px;
    padding: 3px 10px;
}

.ssToolbarBtn:hover {
    background-color: #f2f2f2;
    color: #0071c5;
}

.dirty {
    color: #00AEEF !important;
}

.notDirty {
    font-weight: lighter !important;
    color: #ababab !important;
    cursor: not-allowed !important;
}

.ssToolbarBtn.btn-save,
.ssToolbarBtn {
    background-color: transparent;
}

.ptekendo kendo-editor .k-editor-content {
    z-index: 1;
    height: 220px;
}

.ptekendo.k-editor {
    height: 590px !important
}

/*kendo-toolbar-renderer {
    border-color: inherit;
    margin-right: -945px;
}*/

.k-i-indent-decrease::before {
    content: "\e616";
    color: #00AEEF;
}

.k-i-indent-increase::before {
    content: "\e615";
    color: #00AEEF;
}

.k-i-list-ordered::before {
    content: "\e613";
    color: #00AEEF;
}

.k-i-list-unordered::before {
    content: "\e614";
    color: #00AEEF;
}

.k-i-align-right::before {
    content: "\e61f";
    color: #00AEEF;
}

.k-i-align-center::before {
    content: "\e61e";
    color: #00AEEF;
}

.k-i-align-left::before {
    content: "\e61d";
    color: #00AEEF;
}

.k-i-underline::before {
    content: "\e603";
    color: #00AEEF;
}

.k-i-italic::before {
    content: "\e602";
    color: #00AEEF;
}

.k-i-bold::before {
    content: "\e601";
    color: #00AEEF;
}

.all-spread #spreadsheet {
    width: 100% !important;
    z-index: 1;
    height: 100% !important;
}

.mat-dialog-container {
    background: #fff;
    color: rgba(0, 0, 0, .87);
}

.parent-one.loaderPTE pricing-table-editor loading-panel-angular .ss-loading-overlay {
    top: -118px !important;
    display: flex;
    justify-content: center;
    height: 150% !important
}


kendo-tabstrip.tabs-coll .k-tabstrip-items-wrapper ul li.k-state-disabled span {
    background-color: #cccccc !important;
    color: #5c5b5b;
    cursor: not-allowed !important;
}

kendo-tabstrip.tabs-coll .k-tabstrip-items-wrapper ul li.k-state-disabled {
    border: 1px solid #0071C5 !important;
    cursor: not-allowed !important;
}

#spreadsheet .wtHolder {
    height: 100% !important;
}

#spreadsheet .ht_master.handsontable {
    height: 100%;
}

kendo-tabstrip.tabs-coll {
    width: 100%;
}
.ptrLoading > .ss-loading-overlay > .myLoader {
    left: 50% !important;
}
.ptrLoading .ss-loading-overlay{
    left: 0 !important;
}
.ptrLoading .ss-loading-panel.ss-Info {
    height: auto !important;
    margin-top: 20px !important;
    margin-left: 0% !important;
}
kendo-dialog-actions.pteokbtnstyle {
    padding: 0px !important;
    gap: 0px;
}
button.k-button.mykbtnstyles {
    height: 55px !IMPORTANT;
}
.ptevalidopoup .k-window-content {
    padding: 0px !important
}
button.k-button.mykbtnstyles {
    color: #444 !important;
    border-color: #fafafa !important;
    background: #dededd !important;
}
button.k-button.mykbtnstyles:hover {
   color: #444 !important;
   background: #ebebeb !important;
   border-color: #fafafa !important
}
.k-button.new-k-button {
    background: #00aeef !important;
    color: #ffffff !important;
    padding: 20px 10px;
}
.k-button.new-k-button:hover {
    background: #0071c5 !important;
    color: #ffffff !important;
}
.k-button.new-c-button {
    background: #ffffff !important;
    padding: 20px 10px;
}
.k-button.new-c-button:hover {
    background: #ebebeb !important;
    color: #444 !important;
}
.ptevalidopoup .k-window {
    border-radius: 0;
}

kendo-dialog.ptevalidopoup.valid-out-pop-ups .k-window.k-dialog {
    border: none;
    border-radius: 0;
}

.text-para-color {
    padding: 2.5em;
    text-align: center;
    margin-bottom: 0px;
    color: #444;
}

kendo-dialog-actions.pteokbtnstyle.alter-btns-ok {
    border-radius: 0 !important;
}

kendo-dialog-actions.pteokbtnstyle.alter-btns-ok button.mykbtnstyles {
    color: #444 !important;
    border-color: #fafafa !important;
    background-color: #fafafa !important;
    padding: 1.5em 0;
    border-radius: 0 !important;
    border-bottom: 0;
    box-shadow: none;
    height: auto !important;
}

kendo-dialog-actions.pteokbtnstyle.alter-btns-ok button.mykbtnstyles:hover {
    color: #444 !important;
    border-color: #ebebeb !important;
    background-color: #ebebeb !important;
}

.product-selector-dialog > mat-dialog-container {
    background-color: #1a3e6f !important;
    padding: 0px !important;
}

.flex-overlapping-deals mat-dialog-container {
    padding: 0;
}

button#btnCustSelctor {
    background-color: #00aeef !important;
    font-size: 12px !important;
    border-radius: 0px !important;
}

textarea.htCustTxt {
    min-width: 215px !important;
    height: 20px !important;
    resize: none !important;
    overflow-y: hidden !important;
    overflow-y: hidden !important;
    font-family: 'Intel Clear' !important;
    max-width: 1849px !important;
    font-size: 12px !important;
    width: 210px !important;
}

.btn-disable-style[disabled] {
    cursor: not-allowed !important;
    pointer-events: all !important;
    background-color: transparent;
    color: #ababab !important;
    border-color: #b1babf !important;
    font-weight: lighter !important;
    border: none !important;
}
i.fa.fa-floppy-o.skyBlue.floppy-icon-style.notDirty {
    font-weight: lighter !important;
    color: #7f7878 !important;
    cursor: not-allowed !important;
    font-size: 30px !important
}

.save-validate-txtstyle.text.notDirty {
    font-size: 11px !important;
    color: #7f7878 !important;
    font-family: 'Intel Clear' !important;
    font-weight: 400 !important;
    top: -7px !important;
    position: relative !important;
    padding-left: 5px !important;
    text-align: left !important;
}

i.fa.undo-redo-style.notDirty {
    font-size: 23px !important;
    margin-top: 2px !important;
    color: #939598 !important;
}

i.fa.fa-floppy-o.floppy-icon-style.dirty {
    color: #00aeef !important;
    font-weight: normal !important;
}

span.text.save-validate-txtstyle.dirty {
    color: #00aeef !important;
    position: relative !important;
    top: -7px !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    font-family: 'Intel Clear' !important;
    padding-left: 5px !important;
    text-align: left !important;
}

i.fa.undo-redo-style.dirty {
    font-size: 23px !important;
    margin-top: 2px !important;
    color: #00aeef !important;
}