<link href="/Client/node_modules/handsontable/dist/handsontable.full.css" rel="stylesheet" />
<link href="/Client/node_modules/handsontable-multi-select/dist/css/handsontable-multi-select.css" rel="stylesheet" />
<link href="/Client/src/app/contract/pricingTableEditor/pricingTableEditor.component.css" rel="stylesheet" />
<link href="/Client/node_modules/@progress/kendo-theme-bootstrap/dist/all.css" rel="stylesheet" />
<loading-panel-angular id="PTRLoading" style="z-index:500;" [show]="isLoading" [header]="spinnerMessageHeader"
                       [description]="spinnerMessageDescription" [isShowFunFact]="isBusyShowFunFact" [msgType]="msgType"></loading-panel-angular>
<div class="container-fluid overflow" style="border: 2px solid #dbdbdb; margin-top: 0px !important;">
    <div class="row">
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- <div id="spreadsheet"></div> -->
            <button class="btn btn-sm btn-save ssToolbarBtn" ssToolbarBtn (click)="validatePricingTableProducts()" [disabled]="!dirty">
                <i class="fa fa-floppy-o skyBlue" aria-hidden="true" style="font-size: 30px" [ngClass]="{'dirty' : dirty,'notDirty' : !(dirty)}"></i>
                <span class="text" [ngClass]="{'dirty' : dirty,'notDirty' : !(dirty)}"
                      style="font-family: 'Intel Clear'; padding-left: 5px; text-align: left; color: #00AEEF; font-size: 14px; font-weight: 600;">
                    Save & Validate
                </span>
            </button>
            <button class="btn btn-sm ssToolbarBtn" title="Undo" (click)="undoPTE()" [disabled]="!dirty">
                <i class="fa fa-reply skyBlue" aria-hidden="true" [ngClass]="{'dirty' : dirty,'notDirty' : !(dirty)}"
                   style="font-size: 23px; margin-top: 2px;"></i>
            </button>
            <button class="btn btn-sm ssToolbarBtn" title="Redo" (click)="redoPTE()" [disabled]="!dirty">
                <i class="fa fa-share skyBlue" aria-hidden="true" [ngClass]="{'dirty' : dirty,'notDirty' : !(dirty)}"
                   style="font-size: 23px; margin-top: 2px;"></i>
            </button>
            <!-- Product Validator Button -->
            <button class="btn btn-sm ssToolbarBtn" *ngIf="C_EDIT_PRODUCT" (click)="openProductSelector()"
                    title="Use Product Selector to search for Product(s)">
                <table>
                    <tr>
                        <td>
                            <i class="fa intelicon-search skyBlue" aria-hidden="true" style="font-size:30px"></i>
                        </td>
                        <td class="hidden-sm hidden-xs"
                            style="font-family: 'Intel Clear'; font-size:11px; padding-left: 5px; text-align: left; color: #00AEEF;">
                            Product <br />Selector
                        </td>
                    </tr>
                </table>
            </button>
            <button class="btn btn-sm ssToolbarBtn" *ngIf="C_EDIT_PRODUCT" (click)="validateOnlyProducts('onLoad')"
                    title="Validate the products entered in the web sheet">
                <table>
                    <tr>
                        <td>
                            <i class="fa fa-check-square skyBlue" aria-hidden="true" style="font-size: 30px"></i>
                        </td>
                        <td class="hidden-sm hidden-xs"
                            style="font-family: 'Intel Clear'; font-size:11px; padding-left: 5px; text-align: left; color: #00AEEF;">
                            Validate Products <br />Entered in web sheet
                        </td>
                    </tr>
                </table>
            </button>
            <button class="btn btn-sm ssToolbarBtn" (click)="flexOverlappingDealCheck()" *ngIf="curPricingTable.OBJ_SET_TYPE_CD == 'FLEX' && overlapFlexResult != undefined && overlapFlexResult.length > 0" title="check for Flex Overlapping Deals.">
        <table>
            <tr>
                <td>
                    <i class="intelicon-replace-swap skyBlue" aria-hidden="true" style="font-size: 32px"></i>
                </td>
                <td class="hidden-md hidden-sm hidden-xs" style="padding-left: 5px; text-align: left; color: #00AEEF;">
                    Flex<br />Deals Overlap Check
                </td>
            </tr>
        </table>
    </button>
            <button class="btn btn-sm ssToolbarBtn" title="Check for Overlapping Deals" (click)="openOverLappingDealCheck()">
                <table>
                    <tr>
                        <td><i class="intelicon-copy-outlined skyBlue" style="font-size: 30px"></i></td>
                        <td class="hidden-sm hidden-xs" style="font-family: 'Intel Clear'; font-size:11px; padding-left:5px; text-align:left; color:#00AEEF;">
                            Overlapping<br />Deals Check
                        </td>
                    </tr>
                </table>
            </button>
            <button class="btn btn-sm ssToolbarBtn" title="Show/Hide Additional Discounts and Requirements." (click)="toggleShowHideDiscount()">
                <table>
                    <tr>
                        <td>
                            <i class="intelicon-legal skyBlue" aria-hidden="true" style="font-size: 30px"></i>
                        </td>
                        <td class="hidden-sm hidden-xs" style="padding-left: 5px; font-size: 11px; text-align: left; color: #00AEEF;">
                            Show/Hide<br />Additional Discounts
                        </td>
                    </tr>
                </table>
            </button>
            <button class="btn btn-sm ssToolbarBtn" *ngIf="C_ADD_PRICING_TABLE" (click)="openAutoFill()" title="View autofill defaults,when changing values only new items entered in the grid will reflect updates.">
                <table>
                    <tr>
                        <td>
                            <i class="fa fa-edit skyBlue" aria-hidden="true" style="font-size: 30px"></i>
                        </td>
                        <td class="hidden-sm hidden-xs" style="padding-left: 5px; font-size: 11px; text-align: left; color: #00AEEF;">
                            Autofill <br /> Defaults
                        </td>
                    </tr>
                </table>
            </button>
            <!-- <button (click)="openAutofill()">autofill</button> -->
            <button class="fr btn ssToolbarBtn" title="Help">
                <table>
                    <tr><td><i class="intelicon-help skyBlue" aria-hidden="true" style="font-size:30px;background:none !important"></i></td></tr>
                </table>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- <div id="spreadsheet"></div> -->
            <kendo-splitter orientation="vertical" style="height:600px;">
                <kendo-splitter-pane><hot-table [hotId]="hotId" [settings]="hotSettings" class="all-spread"></hot-table></kendo-splitter-pane>
                <kendo-splitter-pane [(size)]="showDiscount">
                    <div style="overflow: hidden;" class="wide noborder">
                        <div id="subContainerWrapper">
                            <div id="subHeader">
                                <div class="fl" style="padding: 4px 10px;">
                                    <i class="intelicon-pin-solid ssmIconBtn" (click)="toggleShowHideDiscount()"></i>
                                </div>
                                <div class="fl" style="padding: 4px 0;">Additional Discounts & Requirements</div>
                                <div class="fl" style="padding: 6px 10px 0 10px; color: #aaaaaa; font-style: italic; font-size: 12px;">**Note that any updates made here are copied on all tables under this Pricing Strategy</div>
                                <div class="fr" style="border-radius: 4px; background-color: #C4D600; color: #ffffff; font-size: 11px; padding: 2px 6px; margin: 6px 10px 0 0; display: none;" id="termSave">Saved</div>
                                <div class="clearboth"></div>
                            </div>
                            <div id="subContainer" style="padding:1px;width:100%">
                                <kendo-editor [(ngModel)]="curPricingStrategy.TERMS"
                                              (valueChange)="chgTerms($event)"
                                              style="width:initial">
                                    <kendo-toolbar>
                                        <kendo-toolbar-dropdownlist kendoEditorFontSize></kendo-toolbar-dropdownlist>
                                        <kendo-toolbar-buttongroup>
                                            <kendo-toolbar-button kendoEditorBoldButton></kendo-toolbar-button>
                                            <kendo-toolbar-button kendoEditorItalicButton></kendo-toolbar-button>
                                            <kendo-toolbar-button kendoEditorUnderlineButton></kendo-toolbar-button>
                                            <kendo-toolbar-button kendoEditorAlignLeftButton></kendo-toolbar-button>
                                            <kendo-toolbar-button kendoEditorAlignCenterButton></kendo-toolbar-button>
                                            <kendo-toolbar-button kendoEditorAlignRightButton></kendo-toolbar-button>
                                            <kendo-toolbar-button kendoEditorInsertUnorderedListButton></kendo-toolbar-button>
                                            <kendo-toolbar-button kendoEditorInsertOrderedListButton></kendo-toolbar-button>
                                            <kendo-toolbar-button kendoEditorIndentButton></kendo-toolbar-button>
                                            <kendo-toolbar-button kendoEditorOutdentButton></kendo-toolbar-button>
                                        </kendo-toolbar-buttongroup>
                                    </kendo-toolbar>
                                </kendo-editor>
                            </div>
                        </div>
                    </div>
                </kendo-splitter-pane>
            </kendo-splitter>
        </div>
    </div>
</div>

<kendo-dialog title="Please confirm" *ngIf="isDialogOpen" (close)="closeDialog('No')" [minWidth]="250" [width]="450">
    <p style="margin: 30px; text-align: center;">
        Are you sure you want to Delete?
    </p>
    <kendo-dialog-actions>
        <button kendoButton (click)="closeDialog('No')">No</button>
        <button kendoButton (click)="closeDialog('Delete')" themeColor="primary">
            Yes
        </button>
    </kendo-dialog-actions>
</kendo-dialog>
<kendo-dialog title="Confirmation" *ngIf="isCustDivNull" (close)="custdivnull(false)">
    <p style="margin: 30px; text-align: center;">The division is blank. Do you intend for this deal to apply to all divisions ?</p>
    <kendo-dialog-actions>
        <button class='k-button' (click)="custdivnull(true)">Yes</button>
        <button class='k-button' (click)="custdivnull(false)">No</button>
    </kendo-dialog-actions>
</kendo-dialog>
