<!-- NOTE: Need to resolve issue where certain components (such as `pricingTableEditor.component.ts` cannot import styles using `styleUrls`) -->
<link href="/Client/src/app/contract/pricingTableEditor/pricingTableEditor.component.css" rel="stylesheet" />

<loading-panel-angular id="PTRLoading" class="ptrLoading" style="z-index:500;" [show]="isLoading" [header]="spinnerMessageHeader"
                       [description]="spinnerMessageDescription" [isShowFunFact]="isBusyShowFunFact" [msgType]="msgType"></loading-panel-angular>
<div class="container-fluid overflow contain-pte" style="border: 2px solid #bcbcbc; margin-top: 0px !important;">
    <div class="row">
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-sm btn-save ssToolbarBtn btn-disable-style" ssToolbarBtn (click)="validatePricingTableProducts()" [ngClass]="{'dirty' : isSaveEnabled(),'notDirty' : !isSaveEnabled()}" title="{{ isTenderContract ? 'Save your Tender Table, validate the products, and stay in your Tender Table Editor' : 'Save your Pricing Table, validate the products, and stay in your Pricing Table Editor'}}" [disabled]="!isSaveEnabled()">
                <i class="fa fa-floppy-o skyBlue floppy-icon-style" aria-hidden="true" style="font-size: 30px" [ngClass]="{'dirty' : isSaveEnabled(),'notDirty' : !isSaveEnabled()}"></i>
                <span class="text save-validate-txtstyle" [ngClass]="{'dirty' : isSaveEnabled(),'notDirty' : !isSaveEnabled()}">
                      Save & Validate
                </span>
            </button>
            <button class="btn btn-sm ssToolbarBtn btn-disable-style" title="Undo" (click)="undoPTE()" [disabled]="!undoEnable">
                <i class="fa fa-reply skyBlue undo-redo-style" aria-hidden="true" [ngClass]="{'dirty' : undoEnable,'notDirty' : !(undoEnable)}"
                   style="font-size: 23px; margin-top: 2px;"></i>
            </button>
            <button class="btn btn-sm ssToolbarBtn btn-disable-style" title="Redo" (click)="redoPTE()" [disabled]="!redoEnable">
                <i class="fa fa-share skyBlue undo-redo-style" aria-hidden="true" [ngClass]="{'dirty' : redoEnable,'notDirty' : !(redoEnable)}"
                   style="font-size: 23px; margin-top: 2px;"></i>
            </button>
            <!-- Product Validator Button -->
            <button class="btn btn-sm ssToolbarBtn" *ngIf="C_EDIT_PRODUCT" (click)="openProductSelector()" title="Use Product Selector to search for Product(s)">
                <table>
                    <tr>
                        <td>
                            <i class="intelicon-search skyBlue" aria-hidden="true" style="font-size:26px"></i>
                        </td>
                        <td class="hidden-sm hidden-xs button-intel">
                            Product <br />Selector
                        </td>
                    </tr>
                </table>
            </button>
            <button class="btn btn-sm ssToolbarBtn" *ngIf="C_EDIT_PRODUCT" (click)="validateOnlyProducts('onLoad')" title="Validate the products entered in the web sheet">
                <table>
                    <tr>
                        <td>
                            <i class="fa fa-check-square skyBlue" aria-hidden="true" style="font-size: 26px"></i>
                        </td>
                        <td class="hidden-sm hidden-xs button-intel">
                            Validate Products <br />Entered in web sheet
                        </td>
                    </tr>
                </table>
            </button>
            <button class="btn btn-sm ssToolbarBtn" (click)="flexOverlappingDealCheck()" *ngIf="curPricingTable.OBJ_SET_TYPE_CD == 'FLEX' && overlapFlexResult != undefined && overlapFlexResult.length > 0" title="check for Flex Overlapping Deals.">
                <table>
                    <tr>
                        <td>
                            <i class="intelicon-replace-swap skyBlue" aria-hidden="true" style="font-size: 30px"></i>
                        </td>
                        <td class="hidden-md hidden-sm hidden-xs" style="padding-left: 5px; text-align: left; color: #00AEEF;">
                            Flex<br />Deals Overlap Check
                        </td>
                    </tr>
                </table>
            </button>
            <button class="btn btn-sm ssToolbarBtn" title="Check for Overlapping Deals" (click)="openOverLappingDealCheck()">
                <table>
                    <tr>
                        <td><i class="intelicon-copy-outlined skyBlue" style="font-size: 30px"></i></td>
                        <td class="hidden-sm hidden-xs button-intel">
                            Overlapping<br />Deals Check
                        </td>
                    </tr>
                </table>
            </button>
            <button class="btn btn-sm ssToolbarBtn" title="Show/Hide Additional Discounts and Requirements." (click)="toggleShowHideDiscount()">
                <table>
                    <tr>
                        <td>
                            <i class="intelicon-legal skyBlue" aria-hidden="true" style="font-size: 30px"></i>
                        </td>
                        <td class="hidden-sm hidden-xs button-intel">
                            Show/Hide<br />Additional Discounts
                        </td>
                    </tr>
                </table>
            </button>
            <button class="btn btn-sm ssToolbarBtn" *ngIf="C_ADD_PRICING_TABLE" (click)="openAutoFill()" title="View autofill defaults,when changing values only new items entered in the grid will reflect updates.">
                <table>
                    <tr>
                        <td>
                            <i class="fa fa-edit skyBlue" aria-hidden="true" style="font-size: 30px"></i>
                        </td>
                        <td class="hidden-sm hidden-xs button-intel">
                            Autofill <br /> Defaults
                        </td>
                    </tr>
                </table>
            </button>
            <button class="fr btn ssToolbarBtn" title="Help" style="background: none !important">
                <table>
                    <tr><td><i class="intelicon-help skyBlue" aria-hidden="true" style="font-size:30px;background:none !important" (click)="showHelpTopic()"></i></td></tr>
                </table>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <kendo-splitter class="spliter-btom-style" orientation="vertical" style="height: calc(100vh - 275px); padding-left: 10px;">
                <kendo-splitter-pane><hot-table [hotId]="hotId" [settings]="hotSettings" class="all-spread pricing_table_celltext"></hot-table></kendo-splitter-pane>
                <kendo-splitter-pane [(size)]="showDiscount">
                    <div style="overflow: hidden;" class="wide noborder">
                        <div id="subContainerWrapper">
                            <div id="subHeader">
                                <div class="fl" style="padding: 4px 10px;">
                                    <i class="intelicon-pin-solid ssmIconBtn" (click)="toggleShowHideDiscount()"></i>
                                </div>
                                <div class="fl" style="padding: 4px 0;">Additional Discounts & Requirements</div>
                                <div class="fl" style="padding: 6px 10px 0 10px; color: #aaaaaa; font-style: italic; font-size: 12px;">**Note that any updates made here are copied on all tables under this Pricing Strategy</div>
                                <div class="fr" style="border-radius: 4px; background-color: #C4D600; color: #ffffff; font-size: 11px; padding: 2px 6px; margin: 6px 10px 0 0; display: none;" id="termSave">Saved</div>
                                <div class="clearboth"></div>
                            </div>
                            <div id="subContainer" style="padding:1px;width:100%">
                                <kendo-editor [(ngModel)]="curPricingStrategy.TERMS"
                                              (valueChange)="chgTerms($event)"
                                              style="width:initial" class="ptekendo">
                                    <kendo-toolbar id="show-hide-editor-style">
                                        <kendo-toolbar-dropdownlist kendoEditorFontSize [data]="fontData"></kendo-toolbar-dropdownlist>
                                        <kendo-toolbar-buttongroup>
                                            <kendo-toolbar-button kendoEditorBoldButton></kendo-toolbar-button>
                                            <kendo-toolbar-button kendoEditorItalicButton></kendo-toolbar-button>
                                            <kendo-toolbar-button kendoEditorUnderlineButton></kendo-toolbar-button>
                                            <kendo-toolbar-button kendoEditorAlignLeftButton></kendo-toolbar-button>
                                            <kendo-toolbar-button kendoEditorAlignCenterButton></kendo-toolbar-button>
                                            <kendo-toolbar-button kendoEditorAlignRightButton></kendo-toolbar-button>
                                            <kendo-toolbar-button kendoEditorAlignJustifyButton></kendo-toolbar-button>
                                            <kendo-toolbar-button kendoEditorInsertUnorderedListButton></kendo-toolbar-button>
                                            <kendo-toolbar-button kendoEditorInsertOrderedListButton></kendo-toolbar-button>
                                            <kendo-toolbar-button kendoEditorIndentButton></kendo-toolbar-button>
                                            <kendo-toolbar-button kendoEditorOutdentButton></kendo-toolbar-button>
                                        </kendo-toolbar-buttongroup>
                                    </kendo-toolbar>
                                </kendo-editor>
                            </div>
                        </div>
                    </div>
                </kendo-splitter-pane>
            </kendo-splitter>
        </div>
    </div>
</div>

<kendo-dialog *ngIf="isKitDialog" (close)="closeKitDialog()" class="kit-name-popup">
    <div class="all-merge-confirmation">
        <div *ngIf="kitNameObj.issueType=='notEditable'">
            <h3>Cannot merge KIT name</h3>
        </div>
        <p *ngIf="kitNameObj.issueType=='notEditable'">
            A Kit with the name <b>{{kitNameObj.name}}</b> already exists and its products cannot be edited. Please choose a different KIT name.
        </p>
        <div *ngIf="kitNameObj.issueType=='dup'">
            <h3>KIT name merge confirmation</h3>
        </div>
        <p *ngIf="kitNameObj.issueType=='dup'">
            A Kit with the name <b>{{kitNameObj.name}}</b> already exists. Would you like to merge rows containing this Kit Name? Please note that any duplicate products will automatically be removed upon merging.
        </p>
        <div *ngIf="kitNameObj.issueType=='dupMoreLeng'">
            <h3>Cannot merge KIT name</h3>
        </div>
        <p *ngIf="kitNameObj.issueType=='dupMoreLeng'">
            A Kit with the name <b>{{kitNameObj.name}}</b> already exists. Unfortunately, you cannot merge these rows since merging them will exceed the max limit of products you can have (which is 10). Please specify a different Kit Name or remove products from this row and try again.
        </p>
    </div>
    <kendo-dialog-actions class="kit-merge-btns">
        <div *ngIf="kitNameObj.issueType=='dupMoreLeng' || kitNameObj.issueType=='notEditable'">
            <button kendoButton (click)="closeKitDialog()" class="cancel-btns">Okay</button>
        </div>
        <div *ngIf="kitNameObj.issueType=='dup'">
            <button kendoButton (click)="closeKitDialog()" class="cancel-btns">Cancel</button>
            <button kendoButton (click)="mergeKitDeal()" themeColor="primary" class="merge-btns">
                Merge Rows
            </button>
        </div>
     
    </kendo-dialog-actions>
</kendo-dialog>


<kendo-dialog *ngIf="isDialogOpen" (close)="closeDialog('No')" [minWidth]="250" [width]="584" class="ptevalidopoup k-dialog-popup-design">
    <p style="margin: 20px; text-align: center; padding:12px;">
        Are you sure that you want to delete this product and the matching deal(s)?
    </p>
    <kendo-dialog-actions class="pteokbtnstyle">
        <button kendoButton class="new-k-button ok-btn-pop-up" (click)="closeDialog('Delete')" themeColor="primary">
            OK
        </button>
        <button kendoButton class="new-c-button cancel-btn-pop-up" (click)="closeDialog('No')">CANCEL</button>
    </kendo-dialog-actions>
</kendo-dialog>
<kendo-dialog *ngIf="isCustDivNull" (close)="custdivnull(false)" class="k-dialog-popup-design">
    <p style="text-align: center;">The division is blank. Do you intend for this deal to apply to all divisions ?</p>
    <kendo-dialog-actions>
        <button class='k-button ok-btn-pop-up' (click)="custdivnull(true)">OK</button>
        <button class='k-button cancel-btn-pop-up' (click)="custdivnull(false)">CANCEL</button>
    </kendo-dialog-actions>
</kendo-dialog>
<kendo-dialog *ngIf="validationMessage" class="ptevalidopoup valid-out-pop-ups k-dialog-popup-design">
    <p class="text-para-color">All the products have been validated.</p>
    <kendo-dialog-actions class="pteokbtnstyle alter-btns-ok">
        <button class='k-button mykbtnstyles' (click)="resetValidationMessage()">OK</button>
    </kendo-dialog-actions>
</kendo-dialog>
