td.custom-border {
    border: 1px solid red !important;
}

td.custom-cell {
    color: red !important;
}

td.readonly-cell {
    background-color: rgb(238, 238, 238) !important;
}

.htSelectEditor {
    /*
     * This hack enables to change <select> dimensions in WebKit browsers
     */
    -webkit-appearance: menulist-button !important;
    position: absolute;
    width: auto;
    z-index: 300;
}