td.error-product {
    color: rgb(252, 76, 2) !important;
    font-weight: bold !important;
}

td.success-product {
    color: rgb(155, 198, 0) !important;
    font-weight: bold !important;
}

td.normal-product {
    color: black !important;
    font-weight: normal !important;
}

td.error-border {
    border: 1px solid red !important;
}

td.error-cell {
    background-color: red;
    color: white !important;
    border: solid lightgrey 1px !important;
}

td:not(.error-cell).readonly-cell {
    background-color: rgb(238, 238, 238) !important;
}


/* handsoneable related classes */

.k-item.k-state-active {
    border-top: 1px solid #0071C5 !important;
    border-left: 1px solid #0071C5 !important;
    border-right: 1px solid #0071C5 !important;
    margin-right: 5px !important;
    color: #FFFFFF !important;
    background-color: #003C71 !important;
    cursor: default !important;
}

.k-tabstrip-items .k-item {
    margin-right: 0px !important;
    font-size: 15px !important;
    font-weight: 400 !important;
}

.htCustTxt {
    float: left !important;
}

.htCustCellEditor {
    position: absolute;
    float: right;
    width: 25px;
    z-index: 300;
    margin-left: 0px;
    height: 25px;
    font-size: 0.8em;
    opacity: 1 !important;
    padding: 0 !important;
}


/* This class must not edit it helps for copy paste*/

.ht_editor_hidden {
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    width: 1px !important;
    height: 1px !important;
}

.handsontable .htCommentCell:after {
    border-top-color: red;
}

.ssToolbarBtn {
    background-color: #ffffff;
    border-radius: 0px;
    color: #1A3E6F;
    font-size: 11px;
    line-height: normal;
    margin: 1px 0px;
    padding: 3px 10px;
}

.ssToolbarBtn:hover {
    background-color: #f2f2f2;
    color: #0071c5;
}

.dirty {
    color: #00AEEF !important;
}

.notDirty {
    font-weight: lighter !important;
    color: #ababab !important;
    cursor: not-allowed !important;
}

.ssToolbarBtn.btn-save,
.ssToolbarBtn {
    background-color: transparent;
}

.ptekendo kendo-editor .k-editor-content {
    z-index: 1;
    height: 220px;
}

.ptekendo.k-editor {
    height: 590px !important
}

/*kendo-toolbar-renderer {
    border-color: inherit;
    margin-right: -945px;
}*/

.k-i-indent-decrease::before {
    content: "\e616";
    color: #00AEEF;
}

.k-i-indent-increase::before {
    content: "\e615";
    color: #00AEEF;
}

.k-i-list-ordered::before {
    content: "\e613";
    color: #00AEEF;
}

.k-i-list-unordered::before {
    content: "\e614";
    color: #00AEEF;
}

.k-i-align-right::before {
    content: "\e61f";
    color: #00AEEF;
}

.k-i-align-center::before {
    content: "\e61e";
    color: #00AEEF;
}

.k-i-align-left::before {
    content: "\e61d";
    color: #00AEEF;
}

.k-i-underline::before {
    content: "\e603";
    color: #00AEEF;
}

.k-i-italic::before {
    content: "\e602";
    color: #00AEEF;
}

.k-i-bold::before {
    content: "\e601";
    color: #00AEEF;
}

.all-spread #spreadsheet {
    width: 100% !important;
    z-index:1;
}

.mat-dialog-container {
    background: #fff;
    color: rgba(0, 0, 0, .87);
}