<link href="/Client/node_modules/handsontable/dist/handsontable.full.css" rel="stylesheet" />
<link href="/Client/node_modules/handsontable-multi-select/dist/css/handsontable-multi-select.css" rel="stylesheet" />
<link href="/Client/src/app/shared/handsone/spreadsheet.style.css" rel="stylesheet" />
<link href="/Client/src/app/contract/pricingTableEditor/pricingTableEditor.component.css" rel="stylesheet" />

<div class="container-fluid overflow">
    <div class="row">
        <div class="col">
            <!-- <div id="spreadsheet"></div> -->
            <button (click)="savePTE()">Save</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- <div id="spreadsheet"></div> -->
            <hot-table [hotId]="hotId" [settings]="hotSettings"></hot-table>
        </div>
    </div>
</div>