.contain-pte td.error-product {
    color: rgb(252, 76, 2) !important;
    font-weight: bold !important
}

.contain-pte td.success-product {
    color: rgb(155, 198, 0) !important;
    font-weight: bold !important
}

.contain-pte td.normal-product {
    color: black !important;
    font-weight: normal !important
}

.contain-pte td.error-border {
    border: 1px solid red !important
}

.contain-pte td.error-cell {
    background-color: #fc4c02;
    color: white !important;
    border: solid #e34402 1px !important
}

td:not(.error-cell).readonly-cell {
    background-color: rgb(245, 245, 245) !important;
    border-color: rgb(221, 221, 221)
}

.contain-pte .k-item.k-state-active {
    border-top: 1px solid #0071C5 !important;
    border-left: 1px solid #0071C5 !important;
    border-right: 1px solid #0071C5 !important;
    margin-right: 5px !important;
    color: #FFFFFF !important;
    background-color: #003C71 !important;
    cursor: default !important
}

.contain-pte .k-tabstrip-items .k-item {
    margin-right: 0 !important;
    font-size: 15px !important;
    font-weight: 400 !important
}

.htCustTxt {
    float: left !important;
    max-width: 150px !important;
    overflow: auto
}

.htCustCellEditor {
    position: absolute;
    float: right;
    width: 25px;
    z-index: 300;
    margin-left: 0;
    height: 100%;
    opacity: 1 !important;
    padding: 0 !important;
    background-color: #00aeef !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    font-size: 12px
}

.ht_editor_hidden {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 1px !important;
    height: 1px !important
}

.handsontable .htCommentCell:after {
    border-top-color: red
}

.contain-pte .ssToolbarBtn {
    background-color: #ffffff !important;
    border-radius: 0;
    color: #1A3E6F;
    font-size: 11px;
    line-height: normal;
    margin: 1px 0;
    padding: 3px 10px
}

.contain-pte .ssToolbarBtn:hover {
    background-color: #f2f2f2 !important;
    color: #0071c5 !important
}

.contain-pte .ssToolbarBtn.btn-save,
.contain-pte .ssToolbarBtn {
    background-color: transparent !important
}

.ssToolbarBtn.btn-save.dirty:hover {
    background-color: #f2f2f2 !important
}

.contain-pte .dirty {
    color: #00AEEF !important
}

.contain-pte .notDirty {
    font-weight: lighter !important;
    color: #ababab !important;
    cursor: not-allowed !important
}

.contain-pte .k-i-indent-decrease::before {
    content: "\e616";
    color: #00AEEF
}

.contain-pte .k-i-indent-increase::before {
    content: "\e615";
    color: #00AEEF
}

.contain-pte .k-i-list-ordered::before {
    content: "\e613";
    color: #00AEEF
}

.contain-pte .k-i-list-unordered::before {
    content: "\e614";
    color: #00AEEF
}

.contain-pte .k-i-align-right::before {
    content: "\e61f";
    color: #00AEEF
}

.contain-pte .k-i-align-center::before {
    content: "\e61e";
    color: #00AEEF
}

.contain-pte .k-i-align-left::before {
    content: "\e61d";
    color: #00AEEF
}

.contain-pte .k-i-underline::before {
    content: "\e603";
    color: #00AEEF
}

.contain-pte .k-i-italic::before {
    content: "\e602";
    color: #00AEEF
}

.contain-pte .k-i-bold::before {
    content: "\e601";
    color: #00AEEF
}

i.fa.fa-floppy-o.skyBlue.floppy-icon-style.notDirty {
    font-weight: lighter !important;
    color: #7f7878 !important;
    cursor: not-allowed !important;
    font-size: 30px !important
}


i.fa.undo-redo-style.notDirty {
    font-size: 23px !important;
    margin-top: 2px !important;
    color: #939598 !important
}

i.fa.fa-floppy-o.floppy-icon-style.dirty {
    color: #00aeef !important;
    font-weight: normal !important
}

i.fa.undo-redo-style.dirty {
    font-size: 23px !important;
    margin-top: 2px !important;
    color: #00aeef !important
}

.handsontableInputHolder.ht_clone_master textarea {
    border-color: #00aeef;
    outline: none;
    border-width: 2px
}

.fs-search {
    font-size: 16px
}

.htCustCellEditor:hover,
.htCustCellEditor:focus {
    background-color: #00aeef !important
}

.contain-pte .intelicon-help:hover {
    color: #0071c5;
    background: none !important
}


/* no need to change */
.spliter-btom-style.k-splitter-flex .k-splitbar {
    position: relative !important;
    margin-bottom: -8px !important
}


#show-hide-editor-style.k-toolbar .k-button-group .k-button {
    align-self: center !important;
    background: #d3d3d300 !important;
    border: none !important;
    color: #00aeef !important
}

#show-hide-editor-style.k-toolbar .k-button-group .k-button:hover {
    background: #ebebeb !important;
    color: #444 !important
}

#show-hide-editor-style.k-toolbar .k-button-group .k-button.k-state-selected {
    box-shadow: none !important;
    background-color: #dbdbdb !important;
    border-color: #dbdbdb !important
}

#show-hide-editor-style .k-dropdown .k-dropdown-wrap {
    border-color: #eaeef2 !important;
    color: #212529 !important;
    background-color: #ffffff !important
}

#show-hide-editor-style .k-colorpicker .k-picker-wrap {
    border-color: #eaeef2 !important;
    color: #212529 !important;
    background-color: #ffffff !important
}

.pricing_table_celltext .handsontable td.htNoWrap {
    white-space: nowrap;
    text-align: left !important
}

.pricing_table_celltext .handsontable td.listbox.htDimmed.current.highlight:hover {
    background: #00aeef !important;
    color: #ffffff !important
}

.pricing_table_celltext .handsontable td.listbox.htDimmed:hover {
    background: #ebebeb !important;
    color: #444444 !important
}

@keyframes slide {
    from {
        transform: translateY(-110%)
    }

    to {
        transform: translateY(0%)
    }
}

.dialog-side-panel {
    position: fixed !important;
    top: 10px;
    animation: slide .5s forwards;
    animation-delay: 0s
}

button td.button-intel {
    font-family: 'Intel Clear';
    font-size: 11px;
    padding-left: 5px;
    text-align: left;
    color: #00AEEF;
}

/* new changes */
.ptekendo.kendo-editor .k-editor-content {
    z-index: 1;
    height: 220px
}

.ptekendo.k-editor {
    height: 100% !important
}

.pteDealsOvrLap mat-dialog-container {
    padding: 0;
}

.ptrLoading>.ss-loading-overlay>.myLoader {
    left: 42% !important
}

.ptrLoading .ss-loading-overlay {
    left: 0 !important;
    top: 88px !important;
    width: 100%;
    position: fixed;
}

.ptrLoading .ss-loading-panel.ss-Info {
    height: auto !important;
    margin-top: 20px !important;
    margin-left: 0 !important
}

.ptevalidopoup .k-window-content {
    padding: 0 !important
}

.ptevalidopoup .k-window {
    border-radius: 0
}

kendo-dialog.ptevalidopoup.valid-out-pop-ups .k-window.k-dialog {
    border: none;
    border-radius: 0
}

kendo-dialog-actions.pteokbtnstyle {
    padding: 0 !important;
    gap: 0
}

.k-button.new-k-button {
    background: #00aeef !important;
    color: #ffffff !important;
    padding: 20px 10px
}

.k-button.new-k-button:hover {
    background: #0071c5 !important;
    color: #ffffff !important
}

.k-button.new-c-button {
    background: #ffffff !important;
    padding: 20px 10px
}

.k-button.new-c-button:hover {
    background: #ebebeb !important;
    color: #444 !important
}

kendo-dialog-actions.pteokbtnstyle.alter-btns-ok {
    border-radius: 0 !important
}

kendo-dialog-actions.pteokbtnstyle.alter-btns-ok button.mykbtnstyles {
    color: #444 !important;
    border-color: #fafafa !important;
    background-color: #fafafa !important;
    padding: 1.5em 0;
    border-radius: 0 !important;
    border-bottom: 0;
    box-shadow: none;
    height: auto !important
}

kendo-dialog-actions.pteokbtnstyle.alter-btns-ok button.mykbtnstyles:hover {
    color: #444 !important;
    border-color: #ebebeb !important;
    background-color: #ebebeb !important
}

button.k-button.mykbtnstyles {
    height: 55px !IMPORTANT
}


button.k-button.mykbtnstyles {
    color: #444 !important;
    border-color: #fafafa !important;
    background: #dededd !important
}

button.k-button.mykbtnstyles:hover {
    color: #444 !important;
    background: #ebebeb !important;
    border-color: #fafafa !important
}

.product-selector-dialog>mat-dialog-container {
    background-color: #1a3e6f !important;
    padding: 0 !important
}

.multi-select-pte .mat-dialog-container {
    box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%) !important;
    background: #fff !important;
    color: rgba(0, 0, 0, .87) !important;
    border-radius: 0 !important;
    overflow: hidden !important;
    height: fit-content !important;
    padding: 15px;
}

.geo_multi_style .k-multiselect .k-multiselect-wrap li.k-button {
    float: left !important;
    color: #444 !important;
    font-size: 15px !important;
    border: none !important;
    border-radius: 1.071em !important;
    margin: 3px -3px 3px 3px !important;
    padding: 0 .6em 0 .857em !important;
    line-height: 1.86em !important;
    background: #fafafa !important;
    font-family: 'Intel Clear' !important;
    text-transform: uppercase !important;
    font-weight: 500 !important
}

.geo_multi_style .mat-dialog-container {
    box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%) !important;
    background: #fff !important;
    color: rgba(0, 0, 0, .87) !important;
    border-radius: 0 !important
}

.geo_multi_style .k-multiselect .k-multiselect-wrap li.k-button:hover {
    color: #444 !important;
    border-color: #ebebeb !important;
    background-color: #ebebeb !important
}

.geo_multi_style .k-multiselect .k-multiselect-wrap:hover .k-clear-value {
    visibility: visible !important;
    background: lightgray !important;
    border-radius: 15px !important;
    font-size: 13px !important;
    width: 15px !important;
    height: 15px !important;
    top: 10px !important;
    right: 5px !important;
    color: #000 !important;
    opacity: 1 !important
}

.geo_multi_style .k-multiselect .k-multiselect-wrap .k-button .k-icon:hover {
    opacity: 1 !important;
    color: #000 !important
}

.geo_multi_style .k-multiselect .k-multiselect-wrap .k-clear-value {
    visibility: hidden !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important
}

.geo_multi_style kendo-multiselect.fiend-all.k-multiselect.ng-valid.ng-dirty.ng-touched {
    border-bottom: 2px solid #0071C5 !important
}

kendo-multiselect.fiend-all.k-widget.k-multiselect.ng-dirty {
    border-bottom: 2px solid #0071c5
}

.geo_multi_style .k-multiselect .k-multiselect-wrap {
    border-radius: 0 !important;
    border-color: #ebebeb !important;
    color: #495057 !important;
    background-color: #ffffff !important
}

.cdk-overlay-container:has(.multi_select_style)~kendo-popup .k-list .k-item.k-state-focused.k-state-selected,
.cdk-overlay-container:has(.geo_multi_style)~kendo-popup .k-list .k-item.k-state-focused.k-state-selected {
    background-color: var(--light-blue) !important;
    color: #fff !important
}

.mat-dialog-container {
    background: #fff;
    color: rgba(0, 0, 0, .87)
}


.all-spread #spreadsheet {
    width: 100% !important;
    z-index: 1;
    height: 100% !important
}

.parent-one.loaderPTE pricing-table-editor loading-panel-angular .ss-loading-overlay {
    top: -118px !important;
    display: flex;
    justify-content: center;
    height: 150% !important
}

kendo-tabstrip.tabs-coll .k-tabstrip-items-wrapper ul li.k-state-disabled span {
    background-color: #cccccc !important;
    color: #5c5b5b;
    cursor: not-allowed !important;
    pointer-events: none !important
}

kendo-tabstrip.tabs-coll .k-tabstrip-items-wrapper ul li.k-state-disabled {
    border: 1px solid #0071C5 !important;
    cursor: not-allowed !important;
    pointer-events: none !important
}

kendo-tabstrip.tabs-coll {
    width: 100%
}

#spreadsheet .wtHolder {
    height: 100% !important;
    width: -webkit-fill-available !important;
}

#spreadsheet .ht_master.handsontable {
    height: 100%;
}

@media (max-width: 1160px) {
    #spreadsheet .ht_master.handsontable {
        height: calc(100% - 30px);
    }
}

@media (max-width: 790px) {
    #spreadsheet .ht_master.handsontable {
        height: calc(100% - 40px);
    }
}

#spreadsheet .wtBorder.current {
    background-color: #00aeef !important
}

.markt-segmet-style .mat-dialog-content {
    padding: 15px !important;
    margin-top: -10px !important
}

.text-para-color {
    padding: 2.5em;
    text-align: center;
    margin-bottom: 0;
    color: #444
}

.btn-disable-style[disabled] {
    cursor: not-allowed !important;
    pointer-events: all !important;
    background-color: transparent;
    color: #ababab !important;
    border-color: #b1babf !important;
    font-weight: lighter !important;
    border: none !important
}

.save-validate-txtstyle.text.notDirty {
    font-size: 11px !important;
    color: #7f7878 !important;
    font-family: 'Intel Clear' !important;
    font-weight: 400 !important;
    top: -7px !important;
    position: relative !important;
    padding-left: 5px !important;
    text-align: left !important
}

span.text.save-validate-txtstyle.dirty {
    color: #00aeef !important;
    position: relative !important;
    top: -7px !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    font-family: 'Intel Clear' !important;
    padding-left: 5px !important;
    text-align: left !important
}

/* Pass pointer event to element behind element using this class */
.ignore-pointer-event {
    pointer-events: none !important;
}

td ngb-tooltip-window {
    margin-top: 20px !important;
}

.pte-product-input-tooltip {
    .tooltip-inner {
        background-color: transparent !important;
        border-color: transparent !important;
        width: 150px;
        opacity: 100%;
        font-size: 18px;
        color: #003c71;
    }

    .arrow::before {
        border-bottom-color: #003c71;
    }
}