td.error-border {
    border: 1px solid red !important;
}

td.error-cell {
    background-color: red;
    color: white !important;
    border: solid lightgrey 1px !important;
}

td:not(.error-cell).readonly-cell {
    background-color: rgb(238, 238, 238) !important;
}


/* handsoneable related classes */

.k-item.k-state-active {
    border-top: 1px solid #0071C5 !important;
    border-left: 1px solid #0071C5 !important;
    border-right: 1px solid #0071C5 !important;
    margin-right: 5px !important;
    color: #FFFFFF !important;
    background-color: #003C71 !important;
    cursor: default !important;
}

.k-tabstrip-items .k-item {
    margin-right: 4px !important;
}

.htCustTxt {
    float: left !important;
}

.htCustCellEditor {
    position: absolute;
    float: right;
    width: 25px;
    z-index: 300;
    margin-left: 0px;
    height: 25px;
    font-size: 0.8em;
    opacity: 1 !important;
}


/* This class must not edit it helps for copy paste*/

.ht_editor_hidden {
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    width: 1px !important;
    height: 1px !important;
}
.handsontable .htCommentCell:after {
    border-top-color: red;
}