.sds-deal-overrides {
    padding: 25px 20px 90px 20px;
    height: 100%;
    overflow: auto;
}

p.all-para-warn {
    margin-bottom: 20px;
    font-family: "Intel Clear","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.margin-btn-dmu-15 {
    margin-bottom: 15px !important;
}

.kendo-grid-header { padding-right: 17px !important }

.k-button:hover {
    border-radius: 0.25rem;
    border-style: solid;
    border-width: 1px;
}
.SDC_resolution {
    height: calc(100vh - 530px) !important;
}
