<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />
<div class="sds-deal-overrides">
    <div class="row col-md-12 dealer-mass-heading">
        <h2>SDS Admin Deal Overrides</h2>
    </div>

    <div *ngIf="!accessAllowed" class="col-md-12">
        <h3><font style="color: red;"><i class="intelicon-alert-solid icon-lg" style="margin-right: 10px;"></i> Access Warning</font>: This is a Restricted page. Your current rights do not allow access.</h3>
        If you require access, please contact the My Deals Development team for guidance.
    </div>
    <div *ngIf="accessAllowed">
        <div class="row col-md-12">
            <!-- This is the left pane -->
            <div class="col-md-6">
                <p style="color: #FC4C02">
                    Use this tool to override the rules either for <b><u>Deal(s)</u></b> or
                    <b><u>Pricing Table Row(s)</u></b>. These IDs cannot be mixed.
                </p>

                <div class="row">
                    <div class="col-md-12  margin-btn-dmu-15">
                        <label style="width: 180px"><b>Level:</b></label>
                        <kendo-dropdownlist [data]="attr" [(ngModel)]="SelectedLevel" style="width: 200px"></kendo-dropdownlist>
                    </div>
                    <div class="col-md-12 margin-btn-dmu-15">
                        <label style="width: 180px; vertical-align: top;"><b>Object Id(s):</b></label>

                        <kendo-textarea [rows]="2" [cols]="40" placeholder="Multiple IDs can be separated with comma."
                                        resizable="both" [(ngModel)]="sdsDealOverridesData"></kendo-textarea>
                    </div>
                </div>

                <div id="grid">
                    <span style="text-align: left;">
                        <font style="font-weight:bold">Number of available Rules: </font>
                        {{ruleCount['all']}}
                    </span>
                    <!--<span style="float: right; text-align: right; ">
                        <font style="font-weight:bold">Value of Rules: </font>
                        {{ruleValue}}
                    </span>-->
                    <kendo-grid class="gridCompNotification kAlignHeaders SDC_resolution"  [data]="gridRules"
                                [selectable]="{ checkboxOnly: true}" kendoGridSelectBy="RULE_ID" [(selectedKeys)]="selectionIDs">
                        <kendo-grid-checkbox-column field="RULE_NM" width="15" [headerClass]="{'headerClass':true}" showSelectAll="true">
                        </kendo-grid-checkbox-column>
                        <kendo-grid-column [headerClass]="{'headerClass':true}" field="RULE_ID" title="Rule Id"
                                           width="35px"></kendo-grid-column>
                        <kendo-grid-column [headerClass]="{'headerClass':true}" field="RULE_NM" title="Rule Name"
                                           width="240px"></kendo-grid-column>
                    </kendo-grid>
                </div>

                <div class="col-md-12" style="margin-top: 10px; text-align: center; ">
                    <span>
                        <button class="btn btn-primary" style="margin: 0 20px 0 20px;" (click)="applyRules()">
                            Apply
                            Rules
                        </button>
                        <button class="btn btn-primary" style="margin: 0 20px 0 20px; " (click)="getActiveReport()">
                            Run Active
                            Report
                        </button>
                        <button class="btn btn-primary" style="margin: 0 20px 0 20px; " (click)="getHistoryReport()">
                            Run History
                            Report
                        </button>
                    </span>
                </div>
            </div>

            <!-- This is the right pane -->
            <div class="col-md-6">
                <p class="all-para-warn" style="color: #FC4C02">
                    <b>
                        <i class="intelicon-alert-solid icon-lg" title="Because 'Jen' said..."></i>ATTENTION:
                    </b> The override is only
                    applied to Draft and Pending deals.
                </p>

                <div>
                    <font style="font-weight:bold">{{resultType}} returned results: </font>{{resultCount['all']}}
                    <kendo-grid [data]="gridReturns" class="gridCompNotification kAlignHeaders" [sort]="sort"
                                [sortable]="true" (sortChange)="dataStateChangeReturns($event)">
                        <ng-template kendoGridToolbarTemplate>
                            <!--Nothing on left side of grid header-->
                            <kendo-grid-spacer></kendo-grid-spacer>
                            <button type="button" kendoGridExcelCommand icon="file-excel">
                                EXPORT TO EXCEL
                            </button>
                        </ng-template>
                        <kendo-grid-column *ngFor="let item of ColumnHeader" field="{{ item.FIELD }}"
                                           title="{{ item.TITLE }}" [headerClass]="{'headerClass':true}">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                {{dataItem[item.FIELD]}}
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-excel fileName="MySDSExportResults.xlsx"></kendo-grid-excel>
                    </kendo-grid>
                </div>
            </div>
        </div>
    </div>
</div>