.pushDealsToVistexFormGroup {
    margin-bottom: 25px !important
}

.pushDealsToVistexKendoGrid {
    height: 440px
}

/*.vistexErrorsLogs kendo-formerror {
    margin-left: 25%
}
*/
.vistexErrorsLogs form {
    margin-left: 35px
}

.resultsVistex label {
    text-decoration: underline;
    color: #0071c5
}

.resultsVistex i {
    color: red;
    font-weight: bold
}

.infoPsDeals {
    color: #FC4C02
}
