<div class="row" style="height:10px;">
    <div class="col-md">

    </div>
</div>
<div class="row text-center">
    <div class="col-md">
        <div class="gridster-item-content">
            <kendo-textbox [clearButton]="true" [style.width.px]="350" placeholder="Search for deal #, contract, or pricing strategy" [(ngModel)]="searchText" (keypress)="enterPressed($event)"></kendo-textbox>
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="col-md">
        <div style="font-size: 12px; padding-top: 6px;">Search By:</div>
    </div>
</div>
<div class="row text-center">
    <div class="col-md">
        <div class="gridster-item-content comp-parent">
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <!-- By Default All tab is highlighted -->
                <mat-button-toggle class="btn btn-primary comp-customize-btn" *ngFor="let toggle of opTypes" [checked]="toggle.value=='ALL' ? 'true':'false'" value="{{toggle.value}}" (change)="onOpChange(toggle.value)">{{toggle.label}} </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
</div>