.btn-primary {
    background-color: #3c8dbc!important;
    border-color: #367fa9!important
}

.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    color: #fff!important;
    background-color: #004280!important;
    border-color: #004280!important
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    font-size: 12px!important;
    line-height: 1.33333!important;
    font-weight: normal!important;
    padding: 0 12px!important
}