.btn-primary {
    background-color: #3c8dbc!important;
    border-color: #367fa9!important
}

.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    color: #fff!important;
    background-color: #004280!important;
    border-color: #004280!important
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    font-size: 12px!important;
    line-height: 1.33333!important;
    font-weight: normal!important;
    padding: 0 12px!important
}


.k-window-title {
    right: 1.143em !important;
    left: 1.143em !important;
    position: absolute !important;
}

.k-button-icon {
    left: 63em !important;
    padding-top: 0.45em !important;
}

.k-window-titlebar {
    background-color: #0071c5 !important;
    color: #fff !important;
    padding: 0rem !important;
}