<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />

<loading-panel-angular id="tenderDashboardLoading" style="z-index:500;" [show]="isLoading" [header]="spinnerMessageHeader"
                       [description]="spinnerMessageDescription" [isShowFunFact]="isBusyShowFunFact" [msgType]="msgType"></loading-panel-angular>
<div class="advance-show-hide">
    <span *ngIf="showSearchFilters" (click)="toggleFilters()">
        <i class="intelicon-up"></i> Hide Tender Search Options
    </span>
    <span *ngIf="!showSearchFilters" (click)="toggleFilters()">
        <i class="intelicon-down"></i> Show Tender Search Options
    </span>
</div>
<div id="horizontal-search-tenderDashboard" class="padding-design-horizontal-tenderDashboard">
    <div id="search-info-container-tenderDashboard" [hidden]="!showSearchFilters">
        <div class="row search-container">
            <div class="col-md-5 left-inner-container" style="padding-bottom:0px !important;">
                <app-search [title]="title" [titleText]="searchTitle" ></app-search>
            </div>
            <div class="col-md-7 right-inner-container">
                <attribute-builder-angular [attributeSource]="attributeList" [operatorSource]="operatorList" [types2operatorSource]="type2OperatorList" [cat]="cat" [subcat]="subcat" [runSearch]="runSearch" 
                                           [customSettings]="customSettings" (invokeSearchDatasource)="invokeSearchDatasource($event)" (removeLoadingPanel)="removeLoadingPanel($event)" (clearSearchResult)="clearSearchResult($event)" ></attribute-builder-angular>
            </div>
        </div>
    </div>

    <div *ngIf="searchResults.length > 0 || entireDataDeleted" [ngClass]="{'tender-db-styles':showSearchFilters==false}" class="tender-de-custom" style="margin-top: -25px;">
        <deal-editor class="tender_de_admin" [in_Deal_Type]="dealType" [filterData]="filterData" [in_Is_Tender_Dashboard]="true" [ruleData]="ruleData" [in_Search_Results]="searchResults" [in_Search_Count]="searchCount" [in_Search_Text]="searchText" [UItemplate]="templates" (invokeSearchDatasource)="invokeSearchDatasource($event)" (invokeSearchData)="invokeSearchData($event)"
                        (bidActionsUpdated)="bidActionsUpdated($event)" (tenderCopyDeals)="tenderCopyDeals($event)" (floatActionsUpdated)="floatActionsUpdated($event)" (runPCTMCT)="runPCTMCT($event)" (emailData)="openEmail($event)" (refreshGridData)="refreshGridData($event)" (removeDeletedRow)="removeDeletedRow($event)" [constants]="constants">
        </deal-editor>
    </div>
</div>

<kendo-dialog *ngIf="isSearchFailed" id="searchFailure" class="k-dialog-popup-design admin-dialog-full-style-tender">
    <p>{{errorMsg}}</p>
    <kendo-dialog-actions class="admin-tender-action-tender">
        <button class='k-button ok_admin_btn-tender' (click)="closeAction()">OK</button>
    </kendo-dialog-actions>
</kendo-dialog>
<kendo-dialog *ngIf="isActionWarning">
    <p class="kendo-dialog-message" [innerHTML]="message"></p>
    <kendo-dialog-actions class="tender-admin-action">
        <button class='k-button first-child-btn ok-dash-style' (click)="updateTenderActions()">OK</button>
        <button class='k-button first-child-btn cancel-dash-btn-style' (click)="cancelTenderAction()">CANCEL</button>
    </kendo-dialog-actions>
</kendo-dialog>