<!-- <link href="/Client/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="/Client/node_modules/@progress/kendo-theme-bootstrap/dist/all.css" rel="stylesheet" />
<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />
<link href="/Client/src/app/contract/ptModals/productSelector/productBreakout/productBreakout.component.css" rel="stylesheet" /> -->

<div class="modal-content" moveablemodal>
    <div class="capbreakout modal-header">
        <div class="row">
            <div class="col-8">
                <div class="cursorArea capProdHeader">
                    <p>Product {{ productData[0].priceCondition }} Breakout</p>
                </div>
                <img *ngIf="isLoading" src="/Images/loadingSmall.gif" style="padding-top: 15px;"/>
            </div>
            <div class="col-4">
                <span class="capModalCloseIcon fr">
                    <i role="button" title="Close" class="intelicon-close-max" (click)="cancel()"></i>
                </span>
            </div>
        </div>
    </div>

    <div class="capbreakout modal-body">
        <kendo-grid class="md capbreakout kendoGridHeight" id="breakOutGrid" [data]="dataSource" [loading]="isLoading"
                    [skip]="state.skip" [sortable]="false" [sort]="state.sort" [groupable]="false">
            <ng-template kendoGridToolbarTemplate>
                <button type="button" kendoGridExcelCommand icon="file-excel" class="excelText"><span class="excelbtn-style">EXCEL<br /> EXPORT</span></button>
            </ng-template>

            <ng-template ngFor [ngForOf]="gridOptions.columns" let-column>
                <kendo-grid-column [headerClass]="{'headerClass': true}" field="{{ column.field }}" title="{{ column.title }}" width="{{column.width}}">
                    <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                        <div *ngIf="column.field == 'CAP_PRC_COND'">
                            <input type="checkbox" style="margin-top:2px;" disabled [checked]="dataItem.CAP_PRC_COND == 'YCP1'" />
                        </div>
                        <div *ngIf="column.field == 'CAP_START'">
                            {{dataItem[column.field] | date:'M/d/yyyy'}} - {{dataItem['CAP_END'] | date:'M/d/yyyy'}}
                        </div>
                        <div *ngIf="column.field === 'CAP' || column.field === 'YCS2'">
                            <span *ngIf="dataItem[column.field] != undefined && dataItem[column.field] != null && dataItem[column.field] !='' && dataItem[column.field] !='No CAP' && dataItem[column.field] != 'No YCS2'">
                                {{dataItem[column.field] | currency}}
                            </span>
                            <span *ngIf="dataItem[column.field] != undefined && dataItem[column.field] != null && (dataItem[column.field] ==='No CAP' || dataItem[column.field] === 'No YCS2')">
                                {{dataItem[column.field]}}
                            </span>
                        </div>
                        <div *ngIf="column.field !== 'CAP_PRC_COND' && column.field !== 'CAP_START' && column.field !== 'CAP' && column.field !== 'YCS2'">
                            {{dataItem[column.field]}}
                        </div>
                    </ng-template>
                </kendo-grid-column>                
            </ng-template>

            <kendo-grid-excel fileName="{{ gridOptions.excel.fileName }}"></kendo-grid-excel>
        </kendo-grid>
    </div>
</div>