.center {
    position: absolute;
    margin: auto;
    left: 150px;
    z-index: 100;
}

.menu {
    width: 40px;
    height: 40px;
}

.title {
    width: 300px;
    height: 10px;
    top: 60px;
}

.actionIcon {
    top: 0px;
    width: 40px !important;
    height: 40px !important;
    background-color: white;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    right:5px;
}
 
  
 
.actionItem {
    left: 10px;
    top: 0px;
    animation: FadeIn 1s linear;
    animation-fill-mode: both;
    width: 40px !important;
    height: 40px !important;
    background-color: white;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
}




.item-0 {
    animation-delay: .2s;
    visibility: visible;
    background-color: #24B9F1;
     
}
.item-1 {
    animation-delay: .4s;
    visibility: visible;
    background-color: #4DC8F1;
}
.item-2 {
    animation-delay: .8s;
    visibility: visible;
    background-color: #6CCBF1;
}
.item-3 {
    animation-delay: 1s;
    visibility: visible;
    background-color: #89D4F1;
}
.item-4 {
    animation-delay: 1.2s;
    background-color: #A1DBF1;
}


.design-spacing-circle {
    margin-left: 5px;
    margin-right: 5px;
}