<!-- <div class="container-fluid overflow">
    <div class="row">
        <div class="col-md-12">
            <gridster [options]="options">
                <gridster-item [item]="item" *ngFor="let item of dashboard">
                    <app-parent-dynamic [widget]="item" [resizeEvent]="resizeEvent"></app-parent-dynamic>
                </gridster-item>
            </gridster>
        </div>
    </div>
</div> -->

<div class="container-fluid">
    <div class="row" style="height: 20px;">
        <div class="col-md-12">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button (click)="openPopUp()" class="fr btn btn-default btn-sm intelicon-plus-max" title="Add Widget"></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="width: 100vw; height: 100vh;">
                <gridster [options]="options">
                    <gridster-item [item]="item" *ngFor="let item of dashboard; let indx = index">
                        <div class="row">
                            <div class="col-md-6">
                                <b>{{item.name}}</b>
                            </div>
                            <div class="col-md-6">
                                <button (click)="removeItem($event, item)" (touchstart)="removeItem($event, item)" class="">Remove</button>
                                <button [hidden]="!item.canRefresh" class="">Refresh</button>
                                <button [hidden]="!item.canSetting" (click)="openWidgetSettings(indx)" class=""><i class="intelicon-settings-solid"></i><!---Setting--></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <app-dashboard-widget [widget]="item" [resizeEvent]="resizeEvent"></app-dashboard-widget>
                            </div>
                        </div>
                    </gridster-item>
                </gridster>
            </div>

        </div>
    </div>
</div>