<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<connectionStrings>
		<add name="MyDealsConnectionString"
			connectionString="Server=FM7RDMDBCIAR01\RDMCIA1,3180;Database=MyDeals;integrated security=SSPI;MultipleActiveResultSets=true;Min Pool Size=5;Max Pool Size=200;"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>

	<appSettings>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)"
			key="Environment"
			value="CIAR" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)"
			key="tendersResponseURL"
			value="https://m2s-10-qa.ipaas.intel.com/eip-m2s-sls-mydeals2sf/v1/apps/services/request?basic=true" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)"
				key="vistexDealApi"
				value="MyDeals_CutOver" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)"
				key="vistexBaseURL"
				value="https://sappopf.intel.com:8215/RESTAdapter" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)"
				key="vistexPWD"
				value="0150500L025w2361B0b17F550U00Z32232152248t19s31N0201V1A02F091O0C0E24vF42023t1Y0Y0561400U155034227o2091441612431401N" />
	</appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<!--
		In the example below, the "Replace" transform will replace the entire
		<customErrors> section of your web.config file.
		Note that because there is only one customErrors section under the
		<system.web> node, there is no need to use the "xdt:Locator" attribute.

		<customErrors defaultRedirect="GenericError.htm"
		mode="RemoteOnly" xdt:Transform="Replace">
		<error statusCode="500" redirect="InternalError.htm" />
		</customErrors>
		-->
	</system.web>
</configuration>