<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="opLogPath" value="C:\Windows\Temp" />
    <add key="Environment" value="LOCAL" />
    <!--Common Logging framework Url-->
    <add key="CLFUrl" value="https://clfdev.apps1-fm-int.icloud.intel.com" />
    <add key="CLFToken" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJBcHBsaWNhdGlvbk5hbWUiOiJNeSBEZWFscyIsIklhcElkIjoiMTQ0NjQiLCJpYXQiOjE1MzEyMTU2MDEsImV4cCI6MTU5NDI4NzYwMX0.FJ7QswgW2WA_4SUp9_NEj48NHo-0gFXc_ZJdI-O_Jac" />

    <!--MessageCenter Api details-->
    <add key="messageCenterTokenUrl" value="https://messagecenter-cons.intel.com" />
    <add key="messageCenterAdmin" value="lab_rdmscdms" />
    <add key="messageCenterAdminEncrypted" value="15Z201I00213Q3600R5222G5320607k5g1302522x1F4p309313424023501d21T03513je02491B01323409616q30N24605P5301gQT00202G26" />

    <add key="jmsServer" value="failover:(ssl://10.64.67.208:8229,ssl://10.64.67.209:8229)" />
    <add key="jmsQueue" value="JMS_Pricing1_Sender" />
    <add key="jmsUID" value="sys_devems" />
    <add key="jmsPWD" value="1T1632540N0430461R17v915203G8F920d1Ga02400921R36136059d2292431P20406204305F562061c1402132z3218P531D00422504318FD045030000" />
    <add key="jmsResponseDir" value="\\sapfi0fd.fm.intel.com\fd\510\pri\bu\" />
    
    <add key="vistexDealApi" value="MyDeals" />
    <add key="vistexCustApi" value="VistexCustomer" />
    <add key="vistexProdApi" value="ProductMain" />
    <add key="vistexVertApi" value="ProductVertical" />
    <!--<add key="vistexBaseURL" value="http://sappodev.intel.com:8415/RESTAdapter" />-->
    <!-- Dev SAP-->
    <add key="vistexBaseURL" value="https://sappodev.intel.com:8215/RESTAdapter" />
    <!-- QA SAP-->
    <!--<add key="vistexBaseURL" value="https://sappoqa.intel.com:8215/RESTAdapter" />-->
    <!-- Bench SAP-->
    <!--<add key="vistexBaseURL" value="https://sappobm.intel.com:8215/RESTAdapter" />-->
    <!-- PROD SAP-->
    <!--<add key="vistexBaseURL" value="https://sappoprod.intel.com:8215/RESTAdapter" />-->   

    <add key="vistexUID" value="XI_MYDEALS" />
    <add key="vistexPWD" value="03924400H0F5xF42140j2551632o36239137w22u223219600F041I09v01302d5Z8k52p260R0260301S09302322302i40e7v7sk1S191" />

    <add key="tendersResponseURL" value="https://m2s-10-dev.ipaas.intel.com/eip-m2s-sls-mydeals2sf/v1/apps/services/request?basic=true" />	  

    <add key="smtpClinet" value="smtpauth.intel.com" />
    <add key="smtpClinetPort" value="587" />
    <add key="smtpClinetUid" value="SYS_SYSSYSBOSEMAILS" />
    <add key="smtpClinetPass" value="04601922222300Qa16209320615603P1506sQ2P9321303605Z151C00324514325202h913400z212924320G530930U02521307e20c24025eF21l20uZ1FO1O13620402315204H3917g21242130F091f" />
    
  </appSettings>
  <connectionStrings>
    <!-- DEV/ITT Connection -->
    <add name="MyDealsConnectionString" providerName="System.Data.SqlClient" connectionString="Server=HF2RDMDB.amr.corp.intel.com\RDMITT1,3181,3180;Database=MyDeals;integrated security=SSPI;MultipleActiveResultSets=true;" />

    <!-- UTT Connection -> must enable impersonation -->
    <!--<add name="MyDealsConnectionString" providerName="System.Data.SqlClient" connectionString="Server=EGRDMDBUTT.INTEL.COM\RDMUTT1,3180;Database=MyDeals;integrated security=SSPI;MultipleActiveResultSets=true;" />-->
    <!-- PRF Connection -> must enable impersonation -->
    <!--<add name="MyDealsConnectionString" providerName="System.Data.SqlClient" connectionString="Server=PRFMYDEALS01.INTEL.COM\RDMPRF1,3180;Database=MyDeals;integrated security=SSPI;MultipleActiveResultSets=true;" />-->
    <!-- CONS Connection -> must enable impersonation -->
    <!--<add name="MyDealsConnectionString" providerName="System.Data.SqlClient" connectionString="Server=CONSMYDEALS01.amr.corp.intel.com,3180;Database=MyDeals;integrated security=SSPI;MultipleActiveResultSets=true;" />--> 
    <!-- CIAR Connection -> must enable impersonation -->
    <!--<add name="MyDealsConnectionString" providerName="System.Data.SqlClient" connectionString="Server=FM7RDMDBCIAR01.AMR.CORP.INTEL.COM,3180;Database=MyDeals;integrated security=SSPI;MultipleActiveResultSets=true;" />-->
    <!-- CINR Connection -> must enable impersonation (HF2RDMDBCINR02) -->
    <!--<add name="MyDealsConnectionString" providerName="System.Data.SqlClient" connectionString="Server=cinrmydeals01.AMR.CORP.INTEL.COM,3180;Database=MyDeals;integrated security=SSPI;MultipleActiveResultSets=true;" />-->
    <!-- OLD EOLed Dev Connection -->
    <!--<add name="MyDealsConnectionString" providerName="System.Data.SqlClient" connectionString="Server=EG1RDMDBdev01.amr.corp.intel.com\RDMdev1,3180;Database=MyDeals;integrated security=SSPI;MultipleActiveResultSets=true;Min Pool Size=5;Max Pool Size=200;" />-->
  </connectionStrings>
  <system.web>
    <!-- TODO::TJE temporary checkin to debug 500 error -->
    <!--<customErrors mode="Off" />-->
    <authentication mode="Windows" />
    <authorization>
      <!-- Deny all anonymous users at the root of the application -->
      <deny users="?" />
    </authorization>
    <httpCookies httpOnlyCookies="true" />
    <!-- Use this to impersonate lab account... enter password but DO NOT save this to TFS-->
    <!--<identity impersonate="true" userName="AMR\lab_rdmscdms" password="******" />-->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" maxRequestLength="2097152" requestPathInvalidCharacters="&lt;,&gt;,%,:,\,?" />
  </system.web>
  <system.webServer>
    <!-- TODO::TJE temporary checkin to debug 500 error -->
    <!--<httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />-->

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!-- Redirect to HTTPS -->
    <rewrite>
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTPS}" pattern="^OFF$" />
            <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
            <add input="{HTTP_HOST}" pattern="mydeals-prf" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.SqlClrProvider" publicKeyToken="89845DCD8080CC91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.100.0.0" newVersion="13.100.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Kendo.Mvc.UI" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Transactions" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.10.0" newVersion="4.0.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.10.0" newVersion="4.0.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Debug" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.10.0" newVersion="4.0.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Concurrent" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.10.0" newVersion="4.0.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Expressions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.10.0" newVersion="4.0.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Globalization" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.10.0" newVersion="4.0.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Smo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ConnectionInfo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.100.0.0" newVersion="13.100.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location path="api/Integration">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/VistexService">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>