<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<connectionStrings>
		<add name="MyDealsConnectionString"
			connectionString="Server=FM7RDMDBCON01\MYDEALSDAY1,3181;Database=MyDeals;integrated security=SSPI;MultipleActiveResultSets=true;Min Pool Size=5;Max Pool Size=200;"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>

	<appSettings>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)"
			key="Environment"
			value="DAY1" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)"
				key="vistexBaseURL"
				value="https://sappoqa.intel.com:8215/RESTAdapter" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)"
			key="jmsServer"
			value="failover:(ssl://10.4.28.18:8028,ssl://10.4.28.19:8028)" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)"
			key="jmsQueue"
			value="JMS_Pricing1_Sender" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)"
			key="jmsUID"
			value="sys_pricing" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)"
			key="jmsPWD"
			value="17F212391252091c00PT23415P2G8Q2522012R45040j1432241T0540551eEw14P0220m31341231J1U049158q02012Q4Hx3yGE0b0150521b" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)"
			key="jmsResponseDir"
			value="\\sapfc0fd.fm.intel.com\fd\510\pri\bu" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)"
			key="tendersResponseURL"
			value="https://m2s-10-qa.ipaas.intel.com/eip-m2s-sls-mydeals2sf/v1/apps/services/request?basic=true" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)"
				key="apiGeeTokenUrl"
				value="https://apis-sandbox.intel.com/v1/auth/token" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)"
				key="apiGeeResponseURL"
				value="https://apis-sandbox.intel.com/m2r/my-deals/v1/quotes/requests" />
	</appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<!--
		In the example below, the "Replace" transform will replace the entire
		<customErrors> section of your web.config file.
		Note that because there is only one customErrors section under the
		<system.web> node, there is no need to use the "xdt:Locator" attribute.

		<customErrors defaultRedirect="GenericError.htm"
		mode="RemoteOnly" xdt:Transform="Replace">
		<error statusCode="500" redirect="InternalError.htm" />
		</customErrors>
		-->
	</system.web>
</configuration>