<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<connectionStrings>
		<add name="MyDealsConnectionString"
			connectionString="Server=PRODMYDEALS01.AMR.CORP.INTEL.COM,3180;Database=MyDeals;integrated security=SSPI;MultipleActiveResultSets=true;Min Pool Size=5;Max Pool Size=200;"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>

	<appSettings>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)"
			key="Environment"
			value="PROD" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)"
			key="jmsServer"
			value="failover:(ssl://10.4.28.49:8123,ssl://10.4.28.50:8123,ssl://10.11.105.9:8123)" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)"
			key="jmsQueue"
			value="JMS_Pricing1_Sender" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)"
			key="jmsUID"
			value="sys_pricingprod" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)"
			key="jmsPWD"
			value="2e0323G4P40254129s00406420g313H2Z9215Z420P01Q9424P5220R17w0f230T1B0S0942050K2251Zz0e5216124405F6003H22t1Y043241" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)"
			key="jmsResponseDir"
			value="\\sapfp0fd.fm.intel.com\fd\510\pri\bu" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)"
			key="messageCenterTokenUrl"
			value="https://messagecenter.intel.com" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)"
			key="CLFUrl"
			value="https://clf.trxcore.app.intel.com/Logger/SaveLogs" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)"
			key="CLFToken"
			value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJBcHBsaWNhdGlvbk5hbWUiOiJNeSBEZWFscyIsIklhcElkIjoiMTQ0NjQiLCJpYXQiOjE1MzQ3MzUzMDYsImV4cCI6MTU5NzgwNzMwNn0.QzvjBS0hcNOX_E6UPOou7prhzS8uQC6N8SOWGeO9hc0" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)"
			key="tendersResponseURL"
			value="https://m2s-10-qa.ipaas.intel.com/eip-m2s-sls-mydeals2sf/v1/apps/services/request?basic=true" />
	</appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<!--
		In the example below, the "Replace" transform will replace the entire
		<customErrors> section of your web.config file.
		Note that because there is only one customErrors section under the
		<system.web> node, there is no need to use the "xdt:Locator" attribute.

		<customErrors defaultRedirect="GenericError.htm"
		mode="RemoteOnly" xdt:Transform="Replace">
		<error statusCode="500" redirect="InternalError.htm" />
		</customErrors>
		-->
	</system.web>
</configuration>