name: MyDeals prod manual 
on:
  workflow_dispatch:
    inputs:
      ENV:
        description: 'ENV'
        required: true
        default: 'CIAR'
        type: choice
        options:
          - 'CIAR'
          - 'DR'
          - 'PROD1'
          - 'PROD2'
      Move_Latest:
        description: 'Move last code deployed from CIAR'
        required: true
        type: choice
        default: 'no'
        options:
          - 'yes'
          - 'no'
env:
  NUGET_PATH: C:\NuGet\nuget.exe
  MSBUILD_PATH: C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\MSBuild\Current\Bin\msbuild.exe
jobs:
  Verify-environement:
     if: (github.repository == 'intel-innersource/applications.web.mydeals.webui')
     runs-on: [self-hosted,mydeals-prdui]
     steps:
       - name: Checkout Directory
         uses: actions/checkout@master
       - name: Verify environment 
         run: |
            echo "RUN Verify command for ${{github.event.inputs.ENV}}"
             ./scripts/deploy.ps1 'verifyENV' '${{ secrets.USN_PRD }}' '${{ secrets.PWD_PRD }}' '${{github.event.inputs.ENV}}'

  Restore-packages:
     if: (github.repository == 'intel-innersource/applications.web.mydeals.webui') && (github.event.inputs.Move_Latest == 'no')
     runs-on: [self-hosted,mydeals-prdui]
     needs:  Verify-environement
     steps:
       - name: Restore NUGET Packages 
         run: |
            echo "RUN NUGET Packages script at ${{env.NUGET_PATH}}"
            ./scripts/build.ps1 'nuget' '${{env.NUGET_PATH}}' '${{github.workspace}}'

  Build:
    if: (github.repository == 'intel-innersource/applications.web.mydeals.webui') && (github.event.inputs.Move_Latest == 'no') 
    runs-on: [self-hosted,mydeals-prdui]
    needs: Restore-packages
    steps:
       - name: MS build publish
         run: |
            ./scripts/build.ps1 'MSBuild' '${{env.MSBUILD_PATH}}' '${{github.workspace}}'

  Deploy:
    if: (github.repository == 'intel-innersource/applications.web.mydeals.webui') && (github.event.inputs.Move_Latest == 'no') 
    runs-on: [self-hosted, mydeals-prdui]
    needs: Build
    environment:
      name: ${{ github.event.inputs.ENV }}
    steps:
       - name:  Move Publish Site 
         run: |
           ./scripts/deploy.ps1 'Deploy' '${{ secrets.USN_PRD }}' '${{ secrets.PWD_PRD }}' '${{ github.event.inputs.ENV }}' 
       - name:  Copy Publish Site to latest folder
         run: |
           ./scripts/deploy.ps1 'copy_latest_prod' '${{ secrets.USN_PRD }}' '${{ secrets.PWD_PRD }}' '${{ github.event.inputs.ENV }}'  
       - name:  IIS Restart
         run: |
            ./scripts/deploy.ps1 'IIS_Restart' '${{ secrets.USN_PRD }}' '${{ secrets.PWD_PRD }}' '${{ github.event.inputs.ENV }}'

  Deploy_Latest:
    if: (github.repository == 'intel-innersource/applications.web.mydeals.webui') && (github.event.inputs.Move_Latest == 'yes')
    runs-on: [self-hosted, mydeals-prdui]
    needs: Verify-environement
    environment:
      name: ${{ github.event.inputs.ENV }}
    steps:
       - name:  Move Publish Site from latest
         run: |
           ./scripts/deploy.ps1 'Deploy_latest_prod' '${{ secrets.USN_PRD }}' '${{ secrets.PWD_PRD }}' '${{ github.event.inputs.ENV }}' 
       - name:  IIS Restart
         run: |
            ./scripts/deploy.ps1 'IIS_Restart' '${{ secrets.USN_PRD }}' '${{ secrets.PWD_PRD }}' '${{ github.event.inputs.ENV }}'  
