name: Angular Automation CONS
on:
  workflow_dispatch:
env:
  SERVER: CONS
  NUGET_PATH: C:\NuGet\nuget.exe
  MSBUILD_PATH: C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\MSBuild\Current\Bin\msbuild.exe
  CONS1_DEPLOY_PATH: \\FM7CONMYDLW01.amr.corp.intel.com\MyDeals
  CONS1_DEPLOY_SERVER: FM7CONMYDLW01.amr.corp.intel.com
  CONS2_DEPLOY_PATH: \\FM7CONMYDLW02.amr.corp.intel.com\MyDeals
  CONS2_DEPLOY_SERVER: FM7CONMYDLW02.amr.corp.intel.com

jobs:

  Restore-packages:
     if: github.repository == 'intel-innersource/applications.web.mydeals.webui'
     runs-on: [self-hosted, mydeals-runner01]
     steps:
       - name: Checkout Directory
         uses: actions/checkout@master
       - name: Restore NUGET Packages 
         run: |
            echo "RUN NUGET Packages script at ${{env.NUGET_PATH}}"
            ./scripts/build.ps1 'nuget' '${{env.NUGET_PATH}}' '${{github.workspace}}'

  Build-Angular:
    if: github.repository == 'intel-innersource/applications.web.mydeals.webui'
    runs-on: [self-hosted, mydeals-runner01]
    needs: Restore-packages
    steps:
       - name: NPM Install 
         run: |
           ./scripts/build.ps1 'NPMInstall' 'path' '${{github.workspace}}'
       - name: NPM Build
         run: |
           ./scripts/build.ps1 'NPMBuild' 'path' '${{github.workspace}}'
      #  - name: Activate Kendo UI License
      #    run: |
      #       ./scripts/build.ps1 'LICENSE_Activate' 'path' '${{github.workspace}}'
         env:
           KENDO_UI_LICENSE: ${{ secrets.KENDO_UI_LICENSE }}
       - name: MS build publish
         run: |
            ./scripts/build.ps1 'MSBuild' '${{env.MSBUILD_PATH}}' '${{github.workspace}}'

  Angular_deploy:
    if: github.repository == 'intel-innersource/applications.web.mydeals.webui'
    runs-on: [self-hosted, mydeals-runner01]
    needs: Build-Angular
    steps:
       - name:  Move Publish Site CONS1
         run: |
           ./scripts/build.ps1 'MovePublishCONS' '${{env.CONS1_DEPLOY_PATH}}' '${{github.workspace}}'
       - name:  Move Publish Site CONS2
         run: |
           ./scripts/build.ps1 'MovePublishCONS' '${{env.CONS2_DEPLOY_PATH}}' '${{github.workspace}}'
       - name:  Generate Client Zip Module common 
         run: |
           ./scripts/build.ps1 'ClientZip' '${{env.CONS1_DEPLOY_PATH}}' '${{github.workspace}}'

       - name:  Remove Client Zip CONS1
         run: |
           ./scripts/deploy.ps1 'RemoveZip' '${{ secrets.USN }}' '${{ secrets.PWD }}' '${{env.CONS1_DEPLOY_SERVER}}'
       - name:  Remove Client Zip CONS2
         run: |
           ./scripts/deploy.ps1 'RemoveZip' '${{ secrets.USN }}' '${{ secrets.PWD }}' '${{env.CONS2_DEPLOY_SERVER}}'
       - name:  Copy Client Zip CONS1
         run: |
           ./scripts/deploy.ps1 'CopyZip' '${{ secrets.USN }}' '${{ secrets.PWD }}' '${{env.CONS1_DEPLOY_PATH}}'
       - name:  Copy Client Zip CONS2
         run: |
           ./scripts/deploy.ps1 'CopyZip' '${{ secrets.USN }}' '${{ secrets.PWD }}' '${{env.CONS2_DEPLOY_PATH}}'
       - name:  Deploy Client App CONS1
         run: |
           ./scripts/deploy.ps1 'Deploy' '${{ secrets.USN }}' '${{ secrets.PWD }}' '${{env.CONS1_DEPLOY_SERVER}}'
       - name:  Deploy Client App CONS2
         run: |
           ./scripts/deploy.ps1 'Deploy' '${{ secrets.USN }}' '${{ secrets.PWD }}' '${{env.CONS2_DEPLOY_SERVER}}'