name: Verify Test Case Attachment
on:
  pull_request:
    branches: [development, RC_*]
jobs:
  verify_TestCase_Attachment:
    if: (github.repository == 'intel-innersource/applications.web.mydeals.webui')
    runs-on: [self-hosted, mydeals-prd-automation]
    steps:
      - name: Checkout Directory
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Verify TestCase Attachment
        shell: pwsh
        env:
          BRANCH: ${{ github.head_ref }}
        run: |
          Write-Host "Branch: $env:BRANCH"
          $commitMessage = git log "origin/$env:BRANCH" -1 --pretty=format:"%s"
          Write-Host "Commit Message:'$commitMessage'"
          $twcid = [regex]::Match($commitMessage, "TWC\d+-\d+").Value
          Write-Host "Story ID:'$twcid'"
          ./scripts/verify_testCase_attachment.ps1 -TWCID $twcid