name: MyDeals development automate
on:
  push:
     branches: [development]
env:
  SERVER: DEV
  NUGET_PATH: C:\NuGet\nuget.exe
  MSBUILD_PATH: C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\MSBuild\Current\Bin\msbuild.exe

jobs:
  Restore-packages:
     if: github.repository == 'intel-innersource/applications.web.mydeals.webui'
     runs-on: [self-hosted,mydeals-runner01]
     steps:
       - name: Checkout Directory
         uses: actions/checkout@master
       - name: Restore NUGET Packages 
         run: |
            echo "RUN NUGET Packages script at ${{env.NUGET_PATH}}"
            ./scripts/build.ps1 'nuget' '${{env.NUGET_PATH}}' '${{github.workspace}}'

  Build:
    if: github.repository == 'intel-innersource/applications.web.mydeals.webui'
    runs-on: [self-hosted,mydeals-runner01]
    needs: Restore-packages
    steps:
       - name: MS build publish
         run: |
            ./scripts/build.ps1 'MSBuild' '${{env.MSBUILD_PATH}}' '${{github.workspace}}'

  Deploy:
    if: github.repository == 'intel-innersource/applications.web.mydeals.webui'
    runs-on: [self-hosted, mydeals-runner01]
    needs: Build
    steps:
       - name:  Move Publish Site 
         run: |
           ./scripts/deploy.ps1 'Deploy' '${{ secrets.USN }}' '${{ secrets.PWD }}' '${{env.SERVER}}' 
           npx @intc/squawker squawk -i 14464 --sa MyDeals-UI-${{env.SERVER}}
       - name:  Copy Publish Site to latest folder
         run: |
           ./scripts/deploy.ps1 'copy_latest' '${{ secrets.USN }}' '${{ secrets.PWD }}' '${{env.SERVER}}' 
       - name:  IIS Restart
         run: |
            ./scripts/deploy.ps1 'IIS_Restart' '${{ secrets.USN }}' '${{ secrets.PWD }}' '${{env.SERVER}}' 
            