name: NUnit Check
on:
  pull_request:
    branches: [development,RC_*]
    types:
      - opened
      - reopened
      - synchronize
    paths:
      - '**.cs'
env:
  NUGET_PATH: C:\NuGet\nuget.exe
  MSBUILD_PATH: C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\MSBuild\Current\Bin\msbuild.exe

jobs:     
  Run-NUnitTests:
      name: Run NUnit Tests
      runs-on: [self-hosted, mydeals-runner01]
      steps:
       - name: Checkout Directory
         uses: actions/checkout@master
       - name: Restore NUGET Packages 
         run: |
            echo "RUN NUGET Packages script at ${{env.NUGET_PATH}}"
            ./scripts/build_env.ps1 'nuget' '${{env.NUGET_PATH}}' '${{github.workspace}}'
       - name: MS Build NUnit
         run: |
            ./scripts/build_env.ps1 'MSBuildNUnit' '${{env.MSBUILD_PATH}}'
       - name: Run NUnit Tests
         run: |
           ./scripts/nunit.ps1 '${{github.workspace}}'
       
       - uses: jfrog/setup-jfrog-cli@v4
         env:
            JF_URL: ${{ vars.JFROG_URL }} 
            # JFrog Platform access token
            JF_ACCESS_TOKEN: ${{ vars.JFROG_TOKEN }}

       - name : Upload artifacts    
         if: always()
         run: |
            jf rt upload "${{github.workspace}}\Nunit_Result\TestResult.xml" "mydeals-fm-local/Nunit_Result/"