# REV 1.2
# 1.0 - initial release
# 1.1 - updated container image address to point to internal cache harbor
# 1.2 - implementing REV version(s) for quick version validation/comparison

# Name of this GitHub Actions workflow.
#
name: Semgrep SAST

on:
  # Scan changed files in PRs (diff-aware scanning):
  #pull_request: {}
  # Scan on-demand through GitHub Actions interface:
  workflow_dispatch: {}
  # Scan mainline branches and report all findings:
  # Ensure you have the correct branch/es for your project
  # push:
  #   branches: ["development"]
       
  # Schedule the CI job (this method uses cron syntax):
  schedule:
    - cron: '30 2 * * 2,4' 
    # The cron job will run on UTC so this will run on 8am IST on Tuesday and Thursday

jobs:
  Call-Workflow:
    uses: intel-innersource/frameworks.actions.semgrep-static-code-scan/.github/workflows/semgrep.yml@v1.5.0
    with:
      # (Required) Please insert the runner group for your project
      # Example: runner-group: 'innersource.prod.amr.dind'
      runner-group: 'innersource.prod.amr.dind'
      # (Optional) Please insert the IAPM ID of the application here
      # If the ID not entered the auto-tagging feature will not work
      iapm-id: 'iapm-14464-prod'
      # (Optional) Please insert the branch that should be tagged as "prod"
      prod-branch: 'intel-innersource/applications.web.mydeals.webui/developement'
      # (Optional) Please indicate if this should be calculated for ASPN scoring entering true
      # If set to true, the default branch will be tagged as prod and all other branches will be tagged as dev
      prod-scan: 'true'
      # (Optional) Enter any option command flags for debugging the scan or obtaining additional details
      # Example: '--verbose --max-target-bytes=500000'
      #semgrep-flags: ''
      # (Optional) Enter the max number of high serverity findings to tolerate before failing a PR
      #max-high-severity: ''
      # (Optional) Enter the max number of medium severity findings to tolerate before failing a PR
      #max-medium-severity: ''
    secrets:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
