<form style="margin-top: 10px;" class="form-horizontal">

    <div ng-if="!vm.isEditmode" class="col-md-12">
        <h3>Auto-Approval Rules Administration Screen</h3>
    </div>
    <div ng-if="!vm.isEditmode" class="row" style="padding: 0 0 0 40px;">
        <div class="col-md-6" style="text-align: left;">
            <p style="color: #FC4C02">This screen allows DA users to create automated approval rules to streamline their work</p>
        </div>
    </div>

    <div ng-if="!vm.isEditmode" class="col-md-12" style="padding-top: 20px;">
        <!-- Grid buttons added by script below before styles -->
        <div kendo-grid class="table" expand-k-grid options="vm.gridOptions"></div>
    </div>

    <div ng-if="vm.isEditmode">
        <div ng-show="false" class="form-group row">
            <label class="control-label col-md-2">Rule:</label>
            <div class="col-md-9">
                <select class="form-control md"
                        kendo-combo-box
                        k-options="vm.ruleOptions"
                        ng-model="vm.rule.Id"
                        style="width:100%"></select>
            </div>
        </div>

        <div class="col-md-11" style="font-size: 12px; margin: 0; padding: 0; text-align: right;" ng-if="vm.rule.ChangedBy.length > 0">
            Last modified by <span style="color:orangered">{{vm.rule.ChangedBy}}</span> on <span style="color:orangered">{{vm.rule.ChangeDateTimeFormat}}</span>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2"><span style="color: red">*</span>Name:</label>
            <div class="col-md-9">
                <input required class="form-control md"
                       type="text"
                       ng-model="vm.rule.Name"
                       style="width:100%">
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2"><span style="color: red">*</span>Owner:</label>
            <div class="col-md-9">
                <select kendo-combo-box
                        k-options="vm.ownerOptions"
                        ng-model="vm.rule.OwnerId"
                        style="width:100%"></select>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2">Status:</label>
            <span class="col-md-2" style="float: left;">
                <toggle class="fl toggle-accept"
                        ng-model="vm.rule.IsActive"
                        on="Active"
                        off="Inactive"
                        onstyle="btn-success"
                        offstyle="btn-danger"></toggle>
            </span>

            <label class="control-label col-md-1" style="float: left;">Stage:</label>
            <span class="col-md-2" style="margin-left:-15px; float: left;">
                <toggle class="fl toggle-accept" ng-disabled="!vm.RuleConfig.IsElligibleForApproval"
                        ng-model="vm.rule.RuleStage"
                        on="Approved"
                        off="Pending"
                        onstyle="btn-success"
                        offstyle="btn-danger"></toggle>
            </span>

            <label class="control-label col-md-1" style="float: left;">Rule Type:</label>
            <span class="col-md-2" style="margin-left:-15px; float: left;">
                <toggle class="fl toggle-accept"
                        ng-model="vm.rule.IsAutomationIncluded"
                        on="Approval Rule"
                        off="Exclusion Rule"
                        onstyle="btn-success"
                        offstyle="btn-danger"></toggle>
            </span>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2"><span style="color: red">*</span>Rule Start Date:</label>
            <div class="col-md-2">
                <input kendo-date-picker
                       placeholder="From date"
                       k-ng-model="vm.rule.StartDate"
                       style="width: 100%;" />
            </div>
            <label class="control-label col-md-2"><span style="color: red">*</span>End Date:</label>
                <div class="col-md-2">
                    <input kendo-date-picker
                           placeholder="To date"
                           k-ng-model="vm.rule.EndDate"
                           style="width: 100%;" />
                </div>
        </div>


        <div class="form-group row">
            <label class="control-label col-md-2">Notes:</label>
            <div class="col-md-9">
                <textarea type="textarea" rows="5" ng-model="vm.rule.Notes" style="width:100%"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2">Criteria:</label>
            <div class="col-md-9">
                <div rule-attribute-builder
                     grid-id="'attributeGrid'"
                     operator-settings="operatorSettings"
                     attribute-settings="attributeSettings"
                     criteria="vm.rule.Criteria"
                     custom-settings="">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2">Blanket Discount:</label>
            <div class="col-md-6" id="blanket_section">
                <span>Requested ECAP must be no less than</span>
                <input kendo-numeric-text-box ng-model="vm.BlanketDiscountPercentage" ng-change="vm.EditBlanketDiscountPercentage()" k-decimals="0" k-format="'#'" k-min="0" k-max="70" style="width: 100px;font-size:11px;" />
                <span>%&nbsp;Or&nbsp;$</span>
                <input kendo-numeric-text-box ng-model="vm.BlanketDiscountDollor" ng-change="vm.EditBlanketDiscountDollor()" k-format="'n2'" k-min="0" style="width: 130px;font-size:11px;" />
                <span>off of CAP</span>
            </div>
        </div>
    </div>
    <div class="form-group row" id="productCriteria">
        <label class="control-label col-md-2">Product Criteria:</label>
        <div class="col-md-9">
            <kendo-spreadsheet id="spreadsheetProductCriteria" style="width: 600px; height: 300px; margin-right: 25px;  float:left;" k-scope-field="spreadsheet" k-sheets="sheets"></kendo-spreadsheet>
            <button ng-click="vm.validateProduct(true)" class="btn btn-primary" style="float: left;">Validate Products</button>
        </div>
    </div>
    <div class="form-group row action_btns" ng-if="vm.isEditmode">
        <label class="control-label col-md-2"></label>
        <div class="col-md-9">
            <button ng-click="vm.saveRule(false)" class="btn btn-primary" style="margin-left: 15px">Save as Draft</button>
            <button ng-click="vm.saveRule(true)" class="btn btn-primary" style="margin-left: 15px">Save and Publish</button>
            <button ng-click="vm.cancel()" class="btn btn-primary" style="margin-left: 15px">Cancel</button>
            <button ng-click="vm.simulate()" class="btn btn-primary" style="margin-left: 15px">Simulate</button>
        </div>
    </div>
</form>

<script id="grid_toolbar_addrulebutton" type="text/x-kendo-template">
    <a role="button" class="k-button k-button-icontext" ng-click="vm.addNewRule()"><span class="k-icon k-i-plus"></span>Add New Rule</a>
</script>

<style>
    #spreadsheetProductCriteria {
        border: none;
    }

        #spreadsheetProductCriteria .k-spreadsheet-cell.k-dirty-cell {
            border: none !important;
            color: red !important;
        }

        #spreadsheetProductCriteria .k-spreadsheet-cell.k-valid-cell {
            color: green !important;
        }

    .toggle-accept {
        width: 75% !important;
    }
    /*.k-grid td {
        height: 40px !important;
    }*/

    /* div.k-spreadsheet-row-header, -- This is left row numbers - keep */
    /* div.k-spreadsheet-column-header, -- This is column title headers - keep */
    /* div.k-spreadsheet-top-corner, -- This is left select all corner cell - remove */
    .k-spreadsheet-formula-bar,
    .k-spreadsheet-top-corner .k-resize-handle, #spreadsheetProductCriteria .k-spreadsheet-name-editor {
        display: none !important;
    }

    .k-spreadsheet-row-header { /* Must keep this to display row numbers */
        display: block !important;
    }

    .k-animation-container ul li:nth-child(5), .k-animation-container ul li:nth-child(4) {
        display: none;
    }

    .k-pager-numbers .k-state-selected, .k-scheduler-header {
        background-color: #ffffff !important;
    }

    #secEngineGrid.k-grid .k-filter-row th {
        font-size: 12px;
        border-bottom: solid #dedede 2px;
    }

    .dealTools .md-icon {
        padding: 4px 0 0 5px;
    }

    .true {
        background-color: rgb(196, 214, 0) !important;
    }

    .dealTools .md-icon i {
        color: #00AEEF !important;
    }

        .dealTools .md-icon i:hover {
            color: #003C71 !important;
        }

    .dealTools .md-icon-disabled {
        padding: 4px 2px 0 1px;
    }

        .dealTools .md-icon-disabled i {
            color: #00AEEF;
        }

    .dealTools {
        margin-left: -5px !important;
    }

    .dealTools {
        line-height: 1.8em;
        height: 100% !important;
        width: 100%;
    }

        .dealTools .gridStatusMarker {
            font-family: arial;
        }

        .dealTools a {
            text-decoration: none;
        }

        .dealTools i:hover {
            color: #003C71;
        }

    .gridStatusMarker {
        width: 16px;
        color: #000000;
        background-color: #cccccc;
        font-size: 14px;
        font-weight: 600;
        padding: 4px 2px 4px 7px;
        margin-left: -10px;
        margin-right: 15px;
    }

        .gridStatusMarker.Working {
            color: #000000;
            background-color: #FFA300;
        }

        .gridStatusMarker.Active {
            color: #000000;
            background-color: #C4D600;
        }

        .gridStatusMarker.Cancelled {
            color: #000000;
            background-color: #cccccc;
        }

    .dealTools .md-icon {
        padding: 4px 0 0 5px;
    }

    .ruleName {
        cursor: pointer;
    }

        .ruleName:hover {
            color: #abadaf;
        }

    .k-tabstrip-wrapper, .k-tabstrip-bottom {
        display: none;
    }

    #blanket_section span {
        font-size: 12px;
    }

    .k-button {
        color: #fff;
        background-color: #0071c5;
        border-color: #0071c5;
        box-shadow: none;
    }

        .k-button:hover {
            background-color: #00aeef;
            border-color: #00aeef;
            color: #fff;
            box-shadow: none;
        }

    .tmpltItem {
        width: 100%;
    }

    .tmpltIcn {
        width: 35px;
    }

        .tmpltIcn i {
            font-size: 26px;
        }

    .tmpltRole {
        font-size: 12px;
    }

    .tmpltPrimary {
        font-size: 14px;
        line-height: 1.1em;
    }

    .tmpltSecondary {
        font-size: 12px;
        line-height: 1.1em;
        opacity: 0.6;
    }

    .toggle {
        width: 100% !important;
    }

    .rulesGidIcon {
        font-size: 20px;
        margin: 3px;
        margin-right: 10px;
    }

    .action_btns {
        margin-bottom: 20px;
    }
</style>
<script>
    $(document).ready(function () {
        $('#bodyContent').attr('style', 'overflow: auto !important');
        $($('.k-spreadsheet-column-header').find('div')[0]).find('div').html('Product Name (Lvl 4 or Material Id)');
        $($('.k-spreadsheet-column-header').find('div')[2]).find('div').html('Price (US$)');
    });
</script>