.panelHeader {
    background-color: #003C71;
    color: white;
    font-size: 27px;
    padding: 5px 20px 0 25px;
}

.floatRight {
    float: right;
    padding-top: 10px;
    cursor: pointer;
}

div.row.floatRight {
    padding-right: 20px;
    margin-bottom: -10px;
}

.mat-slide-toggle .mat-slide-toggle-bar {
    left: unset !important;
}

kendo-combobox {
    width: -webkit-fill-available;
}

input, textarea {
    width: -webkit-fill-available;
}

textarea {
    height: 32vh;
}

.btn {
    margin: 4px;
}

.btn.disabled {
    background-color: #cccccc !important;
    color: #999999;
}

.resultsTable {
    th {
        padding: 2px 5px;
        font-size: 11px
    }

    td {
        padding: 2px 5px;
        font-size: 11px
    }
}

.specialCharacterText {
    float: right;
    padding-right: 15px;
    font-size: 13px;
}

.download {
    color: #0071c5 !important;
    text-decoration: none !important;
    cursor: pointer;
}

.download:hover {
    color: #004579 !important;
    text-decoration: underline !important
}