<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />
<div class="panelHeader">UI Dropdown - Bulk Action<i id="btnClose" class="intelicon-close floatRight" (click)="closeDialog()" title="Close this window"></i></div>
<form [formGroup]="formData" (ngSubmit)="onSubmit()" style="margin-top: 25px;overflow-x: clip;">
    <div class="col-md-5 col-sm-12">
        <div class="row">
            <span class="col-md-3">
                <label for="dealType">Deal Type</label>
            </span>
            <span class="col-md-9">
                <kendo-combobox [data]="data.dealTypeDropdownData" textField="OBJ_SET_TYPE_CD" valueField="OBJ_SET_TYPE_CD"
                                id="dealType" formControlName="OBJ_SET_TYPE_CD" [valuePrimitive]="true" ngDefaultControl></kendo-combobox>
            </span>
        </div>
        <br />
        <div class="row">
            <span class="col-md-3">
                <label for="group">Group</label>
            </span>
            <span class="col-md-9">
                <kendo-combobox [data]="data.groupDropdownData" textField="ATRB_CD" valueField="ATRB_CD"
                                id="group" formControlName="ATRB_CD" [valuePrimitive]="true" ngDefaultControl></kendo-combobox>
            </span>
        </div>
        <br />
        <div class="row">
            <span class="col-md-3">
                <label for="customer">Customer</label>
            </span>
            <span class="col-md-9">
                <kendo-combobox [data]="data.customerDropdownData" textField="CUST_NM" valueField="CUST_NM"
                                id="customer" formControlName="CUST_NM" [valuePrimitive]="true" ngDefaultControl></kendo-combobox>
            </span>
        </div>
        <br />
        <div class="row">
            <span class="col-md-7">
                <a class="download" (click)="getExcelTemplate()" [href]="">Download Excel Template</a>
                <br />
                <span style="color: gray;font-size: 9px;">There are multiple ways to enter values into the grid,<br />1. Enter directly into the grid,<br />2. Import from Excel,<br />3. Copy / Paste into grid<br />4. Import from Excel then add additional values directly into the grid.<br /><br />* Using Excel Import will clear existing grid data;<br />duplicate entries will be removed.</span>
            </span>
            <span class="col-md-5"></span>
        </div>
    </div>
    <div class="col-md-7 col-sm-12">
        <div class="row all-spread" style="padding-left: 20px;">
            <hot-table [hotId]="HOT_ID" [settings]="hotSettings" [data]="hotTableData" style="border-bottom: gray solid 1px;"></hot-table>
        </div>
        <div class="row" style="align-items: center; padding-top: 10px;">
            <div class="col-md-3">
                <div [style.display]="(!submitTriggered && countNonEmptyRows == 0) ? 'unset' : 'none'">
                    <button type="button" class="btn btn-primary" (click)="bulkExcelImport.click()" title="Import values from an Excel (*.xlsx) document; duplicate values will be removed. NOTE: This will clear the current grid!">
                        <span>Import Excel</span>
                        <input #bulkExcelImport type="file" (change)="onFileChange($event)" [multiple]="false" accept=".csv,text/csv,application/csv,.xls,.xlsx,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" style="display: none;" />
                    </button>
                </div>
                <div [style.display]="(!triggerLoading && countNonEmptyRows > 0) ? 'unset' : 'none'">
                    <button class="btn btn-primary" (click)="clearHotGridData()" type="button" [disabled]="triggerLoading">Clear Grid</button>
                </div>
            </div>
            <div class="col-md-9">
                <div class="specialCharacterText">Acceptable special characters: <strong>{{ MESSAGE_ACCEPTABLE_CHARACTERS }}</strong></div>
            </div>
        </div>
    </div>
    <div class="row floatRight" style="align-items: baseline;">
        <div *ngIf="triggerLoading" style="padding-right: 30px;">
            <img src="/images/loading022.gif" alt="loading spinner gif image" />
        </div>
        <div>
            <input type="checkbox"
                   id="validOnlyToggle"
                   title="Only submit valid rows and discards invalid rows, otherwise all rows will have to be updated to enable submit button"
                   style="width: unset !important; margin-right: 5px;"
                   [(ngModel)]="onlySubmitValidToggle"
                   [ngModelOptions]="{ standalone: true }"
                   [disabled]="submitTriggered" />
            <label for="validOnlyToggle" title="Only submit valid rows and discards invalid rows, otherwise all rows will have to be updated to enable submit button">Ignore Invalid</label>
        </div>
        <span style="width: 10px;"></span>
        <button class="btn btn-primary" type="button" (click)="closeDialog()" *ngIf="!submitTriggered">Cancel</button>
        <button class="btn btn-primary" type="button" (click)="closeDialog()" *ngIf="submitTriggered && !triggerLoading">Close</button>
        <button class="btn btn-primary" type="submit" [disabled]="isExecuteButtonDisabled" [ngClass]="{ 'disabled': isExecuteButtonDisabled }">Execute</button>    
    </div>
</form>