.panelHeader {
    background-color: #003C71;
    color: white;
    font-size: 27px;
    padding: 0 20px 0 25px
}

.floatRight {
    float: right;
    padding-top: 5px;
    cursor: pointer
}

form,
div.insertResultsGrid {
    padding: 10px 20px 0 25px
}

.mat-slide-toggle .mat-slide-toggle-bar {
    left: unset !important;
}

kendo-combobox {
    width: -webkit-fill-available;
}

input, textarea {
    width: -webkit-fill-available;
}

textarea {
    height: 32vh;
}

.btn {
    margin: 4px;
}

.btn.disabled {
    background-color: #cccccc !important;
    color: #999999;
}

.resultsTable {
    th {
        padding: 2px 5px;
        font-size: 11px
    }

    td {
        padding: 2px 5px;
        font-size: 11px
    }
}

.successStatus {
    color: forestgreen;
}

.failStatus {
    color: orangered;
}