<link href="/Client/src/app/admin/kendo_grid.css" rel="stylesheet" />
<div class="panelHeader">Bulk Upload - UI Dropdown<i id="btnClose" class="intelicon-close floatRight" (click)="closeDialog()" title="Close this window"></i></div>
<form [formGroup]="formData" (ngSubmit)="onSubmit()" *ngIf="!insertTriggered">
    <div class="col-md-5">
        <div class="row" style="padding-bottom: 10px; padding-top: 10px;">
            <span class="col-md-3">
                <label for="isActive">Is Active</label>
            </span>
            <span class="col-md-9">
                <mat-slide-toggle class="toggle-button-custom" color="primary"
                                  id="isActive" formControlName="ACTV_IND" ngDefaultControl></mat-slide-toggle>
            </span>
        </div>
        <br />
        <div class="row">
            <span class="col-md-3">
                <label for="dealType">Deal Type</label>
            </span>
            <span class="col-md-9">
                <kendo-combobox [data]="data.dealTypeDropdownData" textField="OBJ_SET_TYPE_CD" valueField="OBJ_SET_TYPE_CD"
                                id="dealType" formControlName="OBJ_SET_TYPE_CD" [valuePrimitive]="true" ngDefaultControl></kendo-combobox>
            </span>
        </div>
        <br />
        <div class="row">
            <span class="col-md-3">
                <label for="group">Group</label>
            </span>
            <span class="col-md-9">
                <kendo-combobox [data]="data.groupDropdownData" textField="ATRB_CD" valueField="ATRB_CD"
                                id="group" formControlName="ATRB_CD" [valuePrimitive]="true" ngDefaultControl></kendo-combobox>
            </span>
        </div>
        <br />
        <div class="row">
            <span class="col-md-3">
                <label for="customer">Customer</label>
            </span>
            <span class="col-md-9">
                <kendo-combobox [data]="data.customerDropdownData" textField="CUST_NM" valueField="CUST_NM"
                                id="customer" formControlName="CUST_NM" [valuePrimitive]="true" ngDefaultControl></kendo-combobox>
            </span>
        </div>    
    </div>
    <div class="col-md-7">
        <div class="row">
            <span class="col-md-2">
                <label for="values">Values<br />(Comma Seperated with no padding)</label>
            </span>
            <span class="col-md-10">
                <textarea id="values" formControlName="DROP_DOWN_CSV" ngDefaultControl></textarea>
            </span>
        </div>
    </div>
    <div class="row floatRight">
        <button class="btn btn-primary" type="button" (click)="closeDialog()">Cancel</button>
        <button class="btn btn-primary" type="submit" [disabled]="formData.invalid && (formData.dirty || formData.touched)" [ngClass]="{ 'disabled': formData.invalid && (formData.dirty || formData.touched) }">Execute</button>    
    </div>
</form>
<div class="insertResultsGrid" *ngIf="insertTriggered">
    <kendo-grid [data]="insertResultsGridData" [sort]="insertResultsGridState.sort" [loading]="insertIsLoading">
        <kendo-grid-column field="value" title="Dropdown Value">
            <ng-template kendoGridCellTemplate let-dataItem>
                {{ dataItem.value }}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="resultMessage" title="Insert Result">
            <ng-template kendoGridCellTemplate let-dataItem>
                <span [ngClass]="{ 'successStatus': dataItem.isSuccess, 'failStatus': !dataItem.isSuccess }">{{ dataItem.resultMessage }}</span>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>